.customizations-container {
  background: $white-two;

  @include screen-sm {
    @include slide-in-left();
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, .20);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 3;
    opacity: 0;
  }

  .selector-header {
    background-image: image-url('wedding-atelier/marbel.png');
    display: table;
    height: 62px;
    padding: 0 8px;
    width: 100%;

    >i,
    >div {
      @extend .table-cell-middle;
      float: none;
    }

    .selector-close {
      background: image-url('wedding-atelier/close.svg') no-repeat center;
      background-size: 30px;
      cursor: pointer;
      height: 40px;
      width: 40px;
    }

    .selector-name {
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .selector-body {
    padding: 45px 50px 0;
    overflow-y: auto;
    //62px is footer height
    height: calc(100% - 62px);

    .description {
      font-family: $primary-font;
      font-weight: 300;
      line-height: 1.4;
      margin: 21px 0;
    }
  }

  .customization-selector {
    display: none;

    &.active {
      display: block;
    }
  }

  .customization-title {
    text-align: left;

    h1 {
      max-width: 215px;
    }

    p {
      max-width: 454px;
    }
  }

  .customization-radio-label {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 0 15px;

    .box {
      border: 1px solid $white-two;
      margin-right: 5px;
      display: inline-block;
      height: 20px;
      outline: 1px solid $black;
      width: 20px;
    }

    .real-label {
      vertical-align: super;
      font-size: 10px;
      @include screen-md {
        font-size: 12px;
      };
    }
  }

  .customization-options-item {
    background-color: $white-three;
    cursor: pointer;
    height: 290px;
    margin-bottom: 30px;
    padding-top: 10px;
    border: 1px solid transparent;

    p {
      font-size: .85rem;
      font-weight: 700;
      margin: 14px auto 0;
      max-width: 89%;
      text-align: center;
      text-transform: uppercase;
    }

    .customization-price {
      font-weight: normal;
      font-size: 12px;
    }

    img {
      display: block;
      height: 175px;
      margin: 25px auto;
    }

    &:hover,
    &.active {
      border: 1px solid $black;
    }

    &-small {
      background-color: $white;
      cursor: pointer;
      width: 100px;
      height: 100px;

      &.disabled {
        cursor: not-allowed;
      }

      &:hover,
      &.active {
        border: 2px solid $white-three;
        outline: $black solid 1px;
      }

      @include screen-lg {
        height: 120px;
        width: 120px;
      }

      @include screen-xl {
        height: 140px;
        width: 140px;
      }

    }

    &-label {
      margin-bottom: 26px;
      margin-top: 14px;
      text-align: left;
    }

    @include screen-xl {
      height: 340px;

      img {
        height: 210px;
        margin: 30px auto;
      }
    }
  }

  .customization-options-item-label {
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .customization-radio {
    visibility: hidden;
    position: absolute;

    &:checked ~ label .box {
      background: $black;
    }
  }

  .customization-size {
    text-align: left;
  }
}
