.customizations-container {
  background: $white-two;

  @include screen-md {
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, .20);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 3;
    opacity: 0;
    @include slide-in-left();
  }

  .selector-header {
    background-image: image-url('wedding-atelier/marbel.png');
    display: table;
    height: 62px;
    padding: 0 8px;
    width: 100%;

    >i,
    >div {
      @extend .table-cell-middle;
      float: none;
    }

    .selector-close {
      background: image-url('wedding-atelier/close.svg') no-repeat center;
      background-size: 30px;
      cursor: pointer;
      height: 40px;
      width: 40px;
    }

    .selector-name {
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .selector-body {
    padding: 45px 50px 0;
    overflow-y: auto;
    //62px is footer height
    height: calc(100% - 62px);

    .description {
      font-family: $primary-font;
      font-weight: 300;
      line-height: 1.4;
      margin: 21px 0;
    }
  }

  .customization-selector {
    display: none;

    &.active {
      display: block;
    }
  }

  .customization-title {
    text-align: left;

    h1 {
      max-width: 215px;
    }

    p {
      max-width: 454px;
    }
  }

  .customization-options-item {
    background-color: $white-three;
    cursor: pointer;
    height: 183px;
    margin-bottom: 30px;
    padding-top: 10px;

    img {
      height: 150px;
      margin: 0 auto;
      display: block;
    }



    &-small {
      background-color: $white;
      cursor: pointer;
      height: 138px;
      width: 138px;
    }

    &-label {
      margin-bottom: 26px;
      margin-top: 14px;
      text-align: left;
    }

    @include screen-md {
      height: 253px;
      img {
        height: 190px;
      }
    }

    @include screen-lg {
      height: 283px;
      img {
        height: 220px;
      }
    }
  }

  .customization-radio {
    visibility: hidden;
    position: absolute;

    &:checked ~ label .box {
      background: $black;
    }
  }

  .customization-radio-label {
    cursor: pointer;

    .box {
      border: 1px solid $white-two;
      display: inline-block;
      height: 20px;
      outline: 1px solid $black;
      width: 20px;
    }

    .real-label {
      vertical-align: super;
    }

  }

  .customization-size {
    text-align: left;
  }
}
