.customizations-lateral-menu {
  @include slide-in-left;
  cursor: pointer;
  margin-right: -110px;
  margin-top: -231px;
  max-width: 115px;
  opacity: 0;
  position: fixed;
  right: 50%;
  top: 50%;
  z-index: 0;

  &.animate {
    z-index: 1;
  }

  p {
    letter-spacing: 2px;
    font-size: .7rem;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .menu-option:not(:last-child) {
    margin-bottom: 20px;
    max-width: 120px;
  }

  .menu-option {
    opacity: 0.3;
    &.current, &:hover {
      opacity: 1;
    }

    &:hover {
      .icon {
        &-silhouette {
            background-image: image-url('wedding-atelier/icons/hover-silhouette.svg')
          }

        &-fabric-color {
            background-image: image-url('wedding-atelier/icons/hover-fabric-color.svg')
        }

        &-length {
            background-image: image-url('wedding-atelier/icons/hover-length.svg')
        }

        &-style {
            background-image: image-url('wedding-atelier/icons/hover-style.svg')
        }

        &-fit {
            background-image: image-url('wedding-atelier/icons/hover-fit.svg')
        }

        &-size {
            background-image: image-url('wedding-atelier/icons/hover-size.svg')
        }
      }
    }

    img {
      width: 45px;
    }
  }
}
