/* [Customization Selector Mobile]
-------------------------------------------------------*/

.customization-selector-mobile-header {
  background-image: image-url('wedding-atelier/marbel.png');
  display: table;
  height: 62px;
  left: 0;
  padding: 0 8px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  >i,
  >div {
    @extend .table-cell-middle;
    float: none;
  }

  .selector-close {
    background: image-url('wedding-atelier/close.svg') no-repeat center;
    background-size: 30px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  .selector-name {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
