.customization-experience--mobile {

  h1 {
    font-size: 1.6rem;
  }

  button {
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    height: 8vh;
    width: 100%;
  }

  .customizations-review-mobile,
  .customizations-menu-mobile,
  .customizations-container-mobile {
    height: 100vh;
    width: 100vw;
  }

  .customizations-selector-mobile-actions-double {
    bottom: 0;
    position: absolute;
    width: 100vw;

    button {
      margin: 0;
      width: 50%;
    }
  }

  .customizations-selector-mobile-actions-single {
    bottom: 0;
    position: absolute;
    width: 100vw;

    button {
      margin: 0;
      width: 100%;
    }
  }

}
