/* [Customization Review] */
.customizations-review-mobile-body {
  height: 90vh;
  overflow-y: auto;
  padding: 22px 22px 8vh;
}

.dress-preview-mobile {
  background-color: gray;
  margin: 10px auto;
  height: 335px;
}

.customizations-review-mobile-results {
  font-size: .8rem;
  letter-spacing: 1px;
  margin: 10px auto;

  .view-customizations,
  .sub-total-label,
  .view-customizations-total,
  .sub-total-value {
    display: inline-block;
  }

  .view-customizations,
  .sub-total-label {
    text-align: left;
    width: 50%;
  }

  .view-customizations-total,
  .sub-total-value {
    text-align: right;
    width: 15%;
  }

  .sub-total-label,
  .sub-total-value {
    font-weight: 700;
  }

  .view-customizations {
    text-decoration: underline;
  }

  .estimated-delivery {
    font-family: $primary-font;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 15px;
  }

}
