.customizations-selector-mobile {
  display: none;
  height: 90vh;
  padding: 15px 15px 9vh;
  overflow-y: auto;

  &.active {
    display: block;
  }
}

.customizations-selector-mobile-title {
  text-align: left;

  p {
    font-family: $primary-font;
    font-size: .8rem;
    font-weight: 300;

  }

  .description {
    margin: 20px auto;
  }
}

.customizations-selector-mobile-fabric {
  background-color: $white-three;
  border: none;
  margin: 0 10px;
  width: 140px;

  &.selected {
    outline: 2px solid $black;
  }
}

.customizations-selector-mobile-options-item {
  background-color: $white-three;
  cursor: pointer;
  height: 220px;
  margin-bottom: 30px;
  padding-top: 10px;
  border: 1px solid transparent;

  p {
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px auto 0;
    text-transform: uppercase;
  }

  img {
    height: 160px;
    margin: 0 auto;
    display: block;
  }

  &:hover,
  &.active, &.clicked {
    border: 1px solid $black;
  }

  &-small {
    background-color: $white;
    cursor: pointer;
    height: 138px;
    width: 100%;

    &.active {
      border: 2px solid $white-three;
      outline: $black solid 1px;
    }

  }

  &-label {
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 26px;
    margin-top: 14px;
    text-align: center;
    text-transform: uppercase;
  }

}

.customization-radio {
  visibility: hidden;
  position: absolute;

  &:checked ~ label .box {
    background: $black;
  }
}

.customization-radio-label {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 0 15px;

  .box {
    border: 1px solid $white-two;
    margin-right: 5px;
    display: inline-block;
    height: 20px;
    outline: 1px solid $black;
    width: 20px;
  }

  .real-label {
    vertical-align: super;
  }

}
