/* [Customization Selector Size Mobile]
-------------------------------------------------------*/
.customization-selector-mobile-size {
  @include slide-in-up();

  background-color: $white-two;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.customization-selector-mobile-size-body {
  max-height: 100%;
  overflow-y: auto;
  padding: 82px 15px 8vh;
  text-align: left;
  z-index: 0;

  [name="mobile-assistant"] + label {
    margin-top: 5px;
  }

  .dress-sizes label {
    z-index: 0;
  }
}
