.dress-preview{
  height: calc(100% - 20px);
  position: relative;
  .preview{
    width: 450px;
    height: 90%;
    margin: 0 auto;
  }

  .controls{
    position: absolute;
    top: 0;
    right: 0;

    .zoom {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      cursor: pointer;

      &.in {

      }

      &.out{

      }
    }
  }
}
