.dress-preview {
  height: 400px;
  position: relative;

  .preview {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    overflow: hidden;

    img {
      cursor: zoom-in;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include screen-sm {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  img {
    height: 100%;
    margin: 0 auto;
  }

  .dress-preview-controls {
    position: absolute;
    right: 45px;
    top: 45px;
    width: 45px;
    @include screen-xs {
      right: 20px;
      top: 20px;
    };
  }

  .dress-preview-details {
    background-color: $white-two-transparent;
    border: 1px solid $pinkish-grey;
    position: absolute;
    right: 0;
    text-align: center;
    width: 240px;

    @include screen-md {
      width: 355px;
    };

    &-close {
      background: transparent image-url('wedding-atelier/close.svg') center center no-repeat;
      cursor: pointer;
      height: 32px;
      position: absolute;
      right: 12px;
      top: 12px;
      width: 32px;
    }

    &-container {
      padding: 45px 25px 0;
    }

    &-title {
    	font-family: $secondary-font;
    	font-size: 14px;
    	line-height: 1.36;
    	letter-spacing: 0.9px;
    	color: $black;
      font-weight: bold;
    }

    &-disclaimer {
      font-family: $secondary-font;
      font-size: 12px;
      line-height: 1.17;
      color: $boulder-two;
    }

    &-text-long {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.75;
      color: $black;
      font-family: $primary-font;

      p {
        margin-bottom: 30px;
      }
    }

    &-text-short {
      display: block;
      font-weight: 700;
      font-size: .8rem;
      margin: 0 auto;
      max-width: 140px;
      text-transform: uppercase;
    }
  }


  .dress-preview-zoom-in {
    background: transparent image-url('wedding-atelier/plus.svg') center center no-repeat;
    cursor: pointer;
    height: 32px;
    margin-bottom: 35px;
  }

  .dress-preview-pagination {
    bottom: 0;
    position: absolute;
    right: 0;
    @include screen-xs {
      width: 100%;
    }
  }

  .dress-preview-thumbnails {
    list-style: none;
    max-width: 60px;
    padding-left: 0;
    margin-right: 45px;
    @include screen-xs {
      max-width: 100%;
      width: 100%;
    }

    .base-silhouette {
      font-family: $primary-font;
      font-size: 11px;
      font-style: italic;
    }
  }

  .dress-preview-thumbnails-item {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;

    &.selected {
      outline: 1px solid $black;
    }

    @include screen-xs {
      margin: 0 2px;
    };

    img {
      height: 65px;
      width: 45px;
      @include screen-xs {
        height: 55px;
        width: 35px;
      };
    }


  }

  @include screen-sm {
    height: 100%;
  }

}
