.customization-experience-header {
  background-image: image-url('wedding-atelier/marbel.png');
  height: 62px;
  padding: 10px;
  position: relative;
  width: 100%;

  .customization-experience-header-back-arrow,
  .customization-experience-header-logo,
  .customization-experience-header-actions {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &-back-arrow {
    left: 0;
    margin-left: 10px;
    width: 30px;

    img {
      height: 100%;
      padding-right: 10px;
      width: 30px;
    }
  }

  &-logo {
    background: transparent image-url('wedding-atelier/logo-black.svg') no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 160px;

    &::after {
      background-color: $black;
      border-radius: 15px;
      color: $white-two;
      content: 'beta';
      display: block;
      font-size: 10px;
      position: absolute;
      right: -44px;
      text-align: center;
      text-transform: capitalize;
      top: 10px;
      width: 38px;
    }
  }

  &-actions {
    margin-right: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 70px;
  }

  &-dress-name {
    display: block;
    font-family: $primary-font;
    font-size: 1rem;
    left: 0;
    line-height: 62px;
    margin: 0 auto;
    max-width: 250px;
    position: absolute;
    right: 0;
    text-align: center;
  }

  &-help,
  &-menu,
  &-shopping-bag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    width: 35px;
  }

  &-help {
    background-image: image-url('wedding-atelier/icons/help.svg');

    &:hover {
      background-image: image-url('wedding-atelier/icons/help-hover.svg');
    }
  }

  &-menu {
    background-image: image-url('wedding-atelier/icons/hamburger.png');
  }

  &-shopping-bag {
    background-image: image-url('wedding-atelier/icons/cart.svg');

    &:hover {
      background-image: image-url('wedding-atelier/icons/cart-hover.svg');
    }
  }

  .going-back-wrapper {
    display: table;
    height: 100%;

    > img,
    > span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@include screen-sm {
  .customization-experience-header {
    &-back-arrow {
      width: 200px;
    }

    &-logo {
      width: 260px;
    }

    &-actions {
      position: relative;
      width: 50%;
    }
  }
}

@include screen-lg {
  .customization-experience-header {
    &-dress-name {
      font-size: 1.4rem;
      max-width: 600px;
    }
  }
}
