.shopping-spree-container .shopping-spree-cart {
  .header {
    margin-bottom: 27px;
  }

  .shopping-spree-contents {
    height: calc(100vh - 244px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.shopping-spree-container .checkout-btn {
  margin-top: 27px;
}

.shopping-spree-container .btn-close {
  cursor: pointer;

  &:before {
    left: 0;
  }

  &:after {
    left: 0;
  }
}

.shopping-spree-container .back-to-spree {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.shopping-spree-container .back-to-spree .back-to-spree-text {
  color: $c-neutral-8;
  font-size: 16px;
}

.shopping-spree-container .left-caret {
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    border-right: 8px solid $c-black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    top: 6px;
    border-right: 7px solid $c-white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
}

.shopping-spree-container .cart-item-list {
  list-style-type: none;
  padding: 0;
}

.shopping-spree-container .cart-item-list li {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 28px;
}

.shopping-spree-container .cart-item-list li img {
  width: 100%;
}

@media (min-width: 767px) {
  .shopping-spree-container  .left-caret {
    width: 28px;

    &:before {
      left: 23px;
    }

    &:after {
      left: 24px;
    }
  }
}

@media (max-width: 767px) {
  .shopping-spree-container .left-caret {
    width: 15px;

    &:before {
      left: 13px;
    }

    &:after {
      left: 14px;
    }
  }
}
