/* stylelint-disable selector-no-id */

@import 'variables';


.shopping-spree-share-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $c-black;
  opacity: 0.60;
  z-index: 1999;
}

.shopping-spree-share-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  position: fixed;
  background-color: $c-white;
  z-index: 2000;
}

.shopping-spree-share-modal .modal-headline {
  font-size: 22px;
  font-weight: lighter;
  margin-top: 10%;
  margin-bottom: 10px;
}

.shopping-spree-share-modal #start-button {
  position: fixed;
  width: 100%;
}

.shopping-spree-share-modal .btn {
  font-weight: lighter;
  text-transform: none;
  border-bottom: 0px;
}

@media (max-width: 767px) {
  .shopping-spree-share-modal {
    width: 100%;
  }

  #start-button {
    bottom: 0;
  }
}

@media (min-width: 767px) {
  .shopping-spree-share-modal {
    width: 50%;
  }

  #start-button {
    bottom: 15%;
  }
}
