@import 'redesign/mixins';

/* [Helpers]
-------------------------------------------------------*/

/*
    This is the only chapter where the '!important' keyword should be used as these rules
    have to over-ride everything they're being appended to.
*/

// Hide from both screenreaders and browsers
.hide-fully {
  display: none!important;
  visibility: hidden!important;
}

// Hide visually and from screenreaders, but maintain layout
.hide-partially {
  visibility: hidden!important;
}

// Hide only visually, but have it available for screenreaders
.hide-visually {
  position: absolute!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.most-front {
  z-index: 10000 !important;
}

// truncates single line of text
.txt-truncate-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// truncates block of text, NOTE: height must be set
.txt-truncate-block {
  display: block;
  overflow: hidden;
}

.text-white {
  color: $c-neutral-white !important;
}

// if you need to hide scrollbars
.no-scroll {
  overflow: hidden !important;
}

// TODO: replace this with .no-scroll
.overflow-hidden {
  overflow: hidden !important;
}

// You can extend the cfix class with SASS to avoid the `.cfix` class appearing over and over in your markup.
.cfix {

  &:after {
    clear: both;
    content: '';
    display: table;
  }

}

%cfix {

  &:after {
    clear: both;
    content: '';
    display: table;
  }

}

// TODO: remove this in favor of .noPadding
.no-padding {
  @extend .noPadding;
}

.noPadding {
  padding: 0 !important;
}

.noPadding--mobile {

  @include mobile {
    padding: 0 !important;
  }

}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

// Fix for IE
.img-responsive {
  width: 100%;
}

.font-style-normal {
  font-style: normal !important;
}

// Keep .nav-justified items side-by-side (even on mobile, no stacking)
.nav-justified.no-stack-mobile > li {
  display: table-cell;
  width: 1%;
}

// Align content vericaly
.h-v-align {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item--top {
    align-self: flex-start;
  }

  &__item--bottom {
    align-self: flex-end;
  }

}

.vertical-align-row {
  @include column-vertical-align();
}

// TODO: check if this hack is even needed
.relative {
  position: relative !important;
}

.row-equal-width {
  @include display-flex;

  > .equal-width {
    flex-basis: 100%;
  }

}

.text-transform-none {
  text-transform: none !important;
}

.custom-ordered-list {

  .step-counter {
    counter-increment: step-counter;
  }

  .step-title::before {
    content: counter(step-counter)'.';
    padding-right: 5px;
  }

}

@media (min-width: $bootstrap-md-width) {

  .no-margin-md {
    margin: 0 !important;
  }

  .line-break-md {
    display: block;
  }

  // Same-height columns
  .same-height-cols {

    > .row {
      @include display-flex;
    }

    > .row > div[class*='col-'] {
      @include display-flex;
    }

  }

}

// Remove padding + margin from Boostrap grid according to screen size
@media (max-width: $bootstrap-md-width - 1px) {

  .no-spacing-cols-mobile {
    margin: 0 -15px;
    padding: 0;
  }

  .no-spacing-fluid-cols-mobile {
    margin: 0 -30px;
    padding: 0;
  }

}

@media (min-width: $bootstrap-md-width) {

  .no-spacing-cols-desktop {
    padding: 0;
    overflow-x: hidden;
  }

}

// Five Equal Columns
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: $bootstrap-sm-width) {

  .col-sm-5ths {
      width: 20%;
      float: left;
  }

}
@media (min-width: $bootstrap-md-width) {

  .col-md-5ths {
      width: 20%;
      float: left;
  }

}
@media (min-width: $bootstrap-lg-width) {

  .col-lg-5ths {
      width: 20%;
      float: left;
  }

}

/* --------------------------------
keyframes
-------------------------------- */
@include keyframes(cd-fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
