.no-items {
  color: #BDCFE1;
  font-size: 3em;
  text-align: center;
  padding-top: 30%;
}

.hidden {
  display: none;
}

.product-prototype-options, .select-all-wrapper {
  label {
    padding-left: 4px;
  }
}

ul.customisation-types {
  list-style: none;
  > li {
    padding: 5px;
    line-height: 18px;
    cursor: pointer;
    &:hover {
      > label {
        text-decoration: underline;
      }
    }
    &.expanded {
      var:after {
        content: '-'
      }
      > ul {
        display: block;
      }
    }
    > ul {
      display: none;
      list-style: none;
      li {
        padding-left: 20px;
        label {
          padding-left: 5px;
        }
      }
    }
    > label {
      cursor: pointer;
    }
    > var {
      font-size: 18px;
      vertical-align: bottom;
      margin-right: 10px;
      width: 5px;
      display: inline-block;
      vertical-align: -2px;
      &:after {
        content: '+';
      }
    }
  }
}

.product_customisation_type {
  .values {
    margin-top: 10px;
    .single-value {
      padding: 5px 0;
      border: 1px solid #cee1f4;
      border-left: none;
      border-right: none;
      margin-top: -1px;
      .icon-trash {
        float: right;
        width: 9px;
        padding-top: 6px;
      }
      img {
        margin-left: 5px;
      }
      input[type=file] {
        margin: 0 5px;
      }
    }
    .add_fields {
      margin-bottom: 10px;
    }
  }
}

.image-viewable-type {
  margin-bottom: 25px;
  margin-right: 470px!important;
}

.option_value, .customisation_value {
  td.image {
    min-width: 260px;
    img {
      margin-right: 5px;
    }
    input[type=file] {
      width: 200px;
      float: right;
      margin-top: 5px;
    }
  }
}

.orders-filter {
  .state-select {
    float: left;
    width: 100px;
    margin-right: 20px;
    &:last-child { margin: 0 }
  }
  .icon-search.button {
    margin-right: 20px;
  }
}

ul.clean {
  li {
    list-style-type: none;
  }
}

// Force the admin container to max-width.
// If you don't use the spree admin numbered columns classes, you get a full width view.
.container {
    width: inherit!important;
    padding: 0 0.5rem;
}

// Missing bootstrap :(
table.admin-table-condensed {
  margin:0;
  td, th {
    padding: 5px;
  }
}

.message-notice {
  width: 100%;
  padding: 16px;
  margin: 10px 0;
  text-align: center;
  font-size: 120%;
  color: #FFFFFF;
  font-weight: 600;
  background-color: rgba(255, 147, 0, 0.8);
}
