.no-items {
  color: #BDCFE1;
  font-size: 3em;
  text-align: center;
  padding-top: 30%;
}

.edit-celebrity-photo {
  float: right;
}

#gmap {
  width: 500px;
  height: 600px;
  float: right;
}

.blog-posts-list {
  display: none;
}

.blog-menu {
  list-style-type:none;
  margin:0;
  padding:0;
  li {
    display:inline;
    margin: 10px;
  }
  .selected {
    border-bottom:thick solid #9FC820;;
  }
}

.blog-posts-list {
  list-style-type:none;
  li {
    margin: 10px;
  }
}

.post {
  display: none;
}

.choose-state {
  input {
    margin-left: 20px;
  }
}

.hidden {
  display: none;
}

.product-prototype-options, .select-all-wrapper {
  label {
    padding-left: 4px;
  }
}