#instagram-landing-201507 {
  .landing-page-header {
    width:         90%;
    margin-top:    90px;
    margin-bottom: 35px;
  }

  .pinkRow {
    background-color: #eeddf0;
  }

  .blackRow {
    background-color: black;
    color:            white;
    margin-top:       25px;
    padding-top:      10px;
    padding-bottom:   10px;
    input {
      background-color: black;
      border:           none;
    }
  }
  .landing-page-tip1-variant-1 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 250px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 285px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 420px;
    }
    @media(min-width: 768px) {
      width: 575px;
    }
  }
  .landing-page-tip1-variant-2 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 300px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 340px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 530px;
    }
    @media(min-width: 768px) {
      width: 650px;
    }
  }

  .landing-page-tip1-variant-3 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 230px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 275px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 440px;
    }
    @media(min-width: 768px) {
      width: 595px;
    }
  }

  .landing-page-tip2-variant-1 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 250px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 285px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 420px;
    }
    @media(min-width: 768px) {
      width: 575px;
    }
  }

  .landing-page-tip2-variant-2 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 300px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 340px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 530px;
    }
    @media(min-width: 768px) {
      width: 650px;
    }
  }

  .landing-page-tip2-variant-3 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 230px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 275px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 440px;
    }
    @media(min-width: 768px) {
      width: 595px;
    }
  }

  .holydress-variant-1 {
    position:    absolute;
    width:       80px;
    margin-top:  255px;
    margin-left: 270px;
    @media(max-width: 320px) {
      width:       60px;
      margin-top:  265px;
      margin-left: 240px;
    }
    @media(min-width: 321px) and(max-width: 413px) {
      margin-top: 270px;
    }
    @media(min-width: 414px) and(max-width: 599px) {
      margin-left: 300px;
      margin-top:  285px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      margin-left: 433px;
      margin-top:  375px;
      width:       100px;
    }
    @media(min-width: 768px) and(max-width: 799px) {
      margin-left: 583px;
      width:       110px;
      margin-top:  449px;
    }
    @media(min-width: 800px) {
      margin-top:  465px;
      width:       115px;
      margin-left: 610px;
    }
  }

  .holydress-variant-2 {
    position:    absolute;
    width:       80px;
    margin-top:  255px;
    margin-left: 270px;
    @media(max-width: 320px) {
      width:       80px;
      margin-top:  240px;
      margin-left: 210px;
    }
    @media(min-width: 321px) and(max-width: 413px) {
      margin-top:  260px;
      width:       95px;
      margin-left: 250px;
    }
    @media(min-width: 414px) and(max-width: 599px) {
      margin-top:  270px;
      width:       100px;
      margin-left: 265px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      margin-left: 410px;
      margin-top:  350px;
      width:       130px;
    }
    @media(min-width: 768px) and(max-width: 799px) {
      margin-left: 520px;
      margin-top:  430px;
      width:       140px;
    }
    @media(min-width: 800px) {
      margin-left: 535px;
      margin-top:  430px;
      width:       145px;
    }
  }

  .holydress-variant-3 {
    position:    absolute;
    width:       80px;
    margin-top:  255px;
    margin-left: 270px;
    @media(max-width: 320px) {
      width:       95px;
      margin-top:  265px;
      margin-left: 210px;
    }
    @media(min-width: 321px) and(max-width: 413px) {
      margin-top:  295px;
      width:       110px;
      margin-left: 250px;
    }
    @media(min-width: 414px) and(max-width: 599px) {
      margin-top: 315px;
      width: 130px;
      margin-left: 265px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      margin-left: 410px;
      margin-top: 392px;
      width: 165px;
    }
    @media(min-width: 768px) and(max-width: 799px) {
      margin-left: 550px;
      margin-top: 470px;
      width: 200px;
    }
    @media(min-width: 800px) {
      margin-left: 555px;
      margin-top: 480px;
      width: 225px;
    }
  }

  .shopthislook {
    width: 100%;
  }

  .landing-page-tip3 {
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 310px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 355px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 535px;
    }
    @media(min-width: 768px) {
      width: 675px;
    }
  }

  .landing-page-threedresses {
    width:         75%;
    margin-bottom: 15px;
  }

  .landing-page-tip4 {
    width:          330px;
    margin-top:     10px;
    padding-top:    40px;
    padding-bottom: 40px;
    padding-left:   15px;
    @media(max-width: 320px) {
      width: 305px;
    }
    @media(min-width: 321px) and(max-width: 599px) {
      width: 330px;
    }
    @media(min-width: 600px) and(max-width: 767px) {
      width: 535px;
    }
    @media(min-width: 768px) {
      width: 675px;
    }
  }

  .landing-page-getthislook {
    width: 100%;
  }

  .landing-page-myfavouritedresses {
    margin-top:    30px;
    width:         100%;
    margin-bottom: 6.6%;
  }

  .landing-page-image-left {
    width:        40%;
    float:        left;
    margin-left:  6.6%;
    margin-right: 3.3%;
  }

  .landing-page-image-right {
    width:        40%;
    float:        left;
    margin-left:  3.3%;
    margin-right: 6.6%;
  }

  .landing-page-bohemium {
    img {
      width: 100%;
    }
  }

  .linkarea {
    width:      75%;
    height:     35px;
    z-index:    3;
    margin-top: -48px;
    position:   relative;
  }
  .item {
    width:  33.3%;
    height: 35px;
    float:  left;
  }

  .dress-3 {
    img {
      width: 25%;
    }
  }
}
