doctype html
html
  head
    title Fame Admin
    = stylesheet_link_tag "admin_ui", :media => "all"
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = javascript_include_tag "admin_ui"
    = csrf_meta_tags
  body class=""
    #wrapper
      = render 'layouts/admin_ui/navigation'
      #page-wrapper.gray-bg
        = render 'layouts/admin_ui/topnavbar'
        = flash_messages
        = yield
        /= render 'layouts/admin_ui/footer'
