/ TODO:
  "webby": move data fetch to the details_controller
  "nodey": rewrite transformProductJSON to handle cart too

ruby:
  cart = UserCart::UserCartResource.new(order: current_order).read
  auSite = current_site_version&.name != 'USA'

javascript:
  window.ApplicationStateData = {
    auSite: #{ raw auSite },
    CartData: #{ raw cart.serialize.to_json },
  };
