.btn {
  @extend .btn;
  @extend .text-uppercase;

  @include screen-xs {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  border: solid 1px $black;
  border-radius: 0;
  color: $black;
  font-size: .8rem;
  line-height: 25px;
  min-height: 35px;
  text-decoration: none;

  &.full-width {
    width: 100%;
  }

}

.btn-italic {
  font-family: $primary-font;
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: underline;
  text-transform: none;
}

.btn-black {
  @extend .btn;
  background-color: $black;
  color: $white-two;
  font-weight: 700;

  &:hover,
  &:focus {
    color: $white;
    background-color: $black-two;
  }
}

.btn-gray {
  @extend .btn-black;
  background-color: $pumice;
  border-color: $pumice;
}

.btn-white {
  @extend .btn;
  background-color: $white-three;
  border-color: $white-three;
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: $white-four;
  }
}

.btn-transparent {
  @extend .btn;
  background-color: transparent;
  font-weight: 700;
}

.btn-transparent-inverse {
  background-color: transparent;
  border-color: $white-two;
  color: $white-two;
  font-weight: 700;
}

.btn-facebook-blue {
  @extend .btn;
  background-color: $facebook-blue;
  border-color: $facebook-blue;
  color: $white-two;
  font-size: .7rem;
  text-decoration: none;

  &:hover {
    background-color: $facebook-blue-dark;
    border-color: $facebook-blue-dark;
    color: $white;
  }
}

.btn-facebook-fancy {
  @extend .btn;
  @extend .btn-block;
  background: no-repeat center image-url('wedding-atelier/marbel.png');
  background-color: transparent;
  border: 0;
  min-width: 210px;
  position: relative;

  .pre-text {
    font-family: $primary-font;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
    font-size: 16px;
  }

  img {
    max-height: 16px;
  }

  .facebook-text {
    @extend .text-uppercase;
    font-family: $secondary-font;
    font-weight: 700;
  }

  &:hover {
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .3);
      top: 0;
      left: 0;
    }
  }
}
