/* [General anchor styling]
-------------------------------------------------------*/
a {
  @extend .text-uppercase;
  color: $black;
  font-size: .85rem;
  letter-spacing: 1px;
  text-decoration: underline;
}
