label {
  @extend .text-uppercase;
  margin: 15px 0 0;
  font-size: .85rem;
  font-weight: 700;
}

[type='text'],
[type='submit'] {
  letter-spacing: 1.7px;
}

[type='text'], [type='password'] {
  &:focus {
    outline: 1px solid black;
  }
}


.date-picker input[type='text'] {
  outline: none;
}

.help-inline {
  font-size: .8rem;
  letter-spacing: 1px;
}

/* [Checkbox]
-------------------------------------------------------*/
.checkbox {
  text-align: center;

  label {
    color: $pinkish-grey-two;
    font-weight: 300;
    font-size: .85rem;
    text-transform: none;
    margin-bottom: 15px;
    padding-left: 0;
  }

  [type="checkbox"] {
    display: none;

    ~ label span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: -2px 2px 0 0;
      vertical-align: middle;
      background: image-url('wedding-atelier/sprite_check.png') -61px -9px no-repeat;
      cursor: pointer;
    }

    ~ label .text {
      display: inline;
    }

    &:checked + label span {
      background: image-url('wedding-atelier/sprite_check.png') -12px -9px no-repeat;
    }
  }

  @include screen-sm {
    text-align: left;

    label {
      margin-left: 44px;
    }
  }
}

/* [Number field with side buttons]
-------------------------------------------------------*/
.number-field {
  display: table;
  max-width: 150px;
  border: 1px solid #cccccc;

  .number-field {
    @extend .text-center;
    border: none;
  }

  .number-field-button {
    background-color: $white-three;
    cursor: pointer;
    display: table-cell;
    height: 34px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    width: 25%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 20px;
    font-family: $secondary-font;

    &:hover {
      background-color: $warm-grey;
    }
  }
}

/* [Errors] ---------------------------------------------------------*/

.outside-input-error {
  position: absolute;
  top: 35px;
}

/* [Date Picker] -----------------------------------------------*/

.date-picker {
  input { box-shadow: none; }
  &.active {
    outline: 1px solid black;
  }
}
