.icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 45px;
  width: 45px;

  &-silhouette {
    background-image: image-url('wedding-atelier/icons/silhouettes.png');
  }

  &-fabric-colour {
    background-image: image-url('wedding-atelier/icons/fabric-colour.png');
  }

  &-length {
    background-image: image-url('wedding-atelier/icons/length.png');
  }

  &-style {
    background-image: image-url('wedding-atelier/icons/style.png');
  }

  &-fit {
    background-image: image-url('wedding-atelier/icons/fit.png');
  }

  &-size {
    background-image: image-url('wedding-atelier/icons/size.png');
  }
}
