.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 100%;
  height: 45px;
  width: 45px;

  &-silhouette {
    background-image: image-url('wedding-atelier/icons/silhouette.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-silhouette.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-silhouette.svg')
    }
  }

  &-fabric-color {
    background-image: image-url('wedding-atelier/icons/fabric-color.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-fabric-color.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-fabric-color.svg')
    }
  }

  &-length {
    background-image: image-url('wedding-atelier/icons/length.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-length.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-length.svg')
    }
  }

  &-style {
    background-image: image-url('wedding-atelier/icons/style.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-style.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-style.svg')
    }
  }

  &-fit {
    background-image: image-url('wedding-atelier/icons/fit.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-fit.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-fit.svg')
    }
  }

  &-size {
    background-image: image-url('wedding-atelier/icons/size.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-size.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-size.svg')
    }
  }
  &-customize-dress {
    background-image: image-url('wedding-atelier/icons/size.svg');
    &.selected {
      background-image: image-url('wedding-atelier/icons/hover-size.svg');
    }
    &:hover {
      background-image: image-url('wedding-atelier/icons/hover-size.svg')
    }
  }
}
