
html, body {
  height: 100%;
}

html {
  font-size: 14px;
}

#wrap,
#content {
  height: 100%;
}

body {
  @include screen-sm{
    overflow: hidden;
  }
}

.wedding-atelier {
  color: $black;
  font-family: $secondary-font;
  letter-spacing: 1.5px;

  a.hover-link:hover {
    color: $greyish;
  }

  [type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

}
