$concrete: #f3f3f3;
$white: #d8d8d8;
$black-two: #303030;
$white-two: #fff;
$greyish: #acacac;
$pinkish-grey: #cdcdcd;
$white-three: #f2f2f2;
$white-four: #e2e2e2;
$white-five: #fbfbfb;
$pinkish-grey-two: #ccc;
$warm-grey: #939393;
$charcoal: #333332;
$black: #000;
$boulder: #747474;
$boulder-two: #7a7a7a;
$pumice: #b9bbba;
$wild-sand: #f6f6f6;
$white-two-transparent: rgba(255, 255, 255, .5);
$backdrop: rgba(0, 0, 0, .23);
$silver: #bbbbbb;
$gray: #878787;
$mine-shaft: #3c3c3c;

$facebook-blue: #3b5998;
$facebook-blue-dark: #355088;

$screen-xl-min: 1400px;
$black-transparent: rgba(0,0,0,0.7);
$cubic-bezier: cubic-bezier(.19, 1, .22, 1);
