.header-mobile {
  background-image: image-url('spree_wedding_atelier/marbel.png');
  height: 55px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .arrow,
  .logo {
    height: 100%;
  }

  .arrow {
    @extend .pull-left;
    background: image-url('lessthan.svg') no-repeat center;
    background-size: 35px 25px;
    width: 35px;
  }

  .logo {
    background: image-url('fp-logo.svg') no-repeat;
    background-size: 150px 100%;
    display: block;
    margin: 0 auto;
    width: 150px;
  }
}
