- iec_hash = ::Iequalchange::Cypher.new(spree_order).encode

javascript:
  (function($) { 'use strict';
    var iecData = {
      url: '#{iec_hash[:url]}',
      src: '#{iec_hash[:src]}',
      id:  '#{iec_hash[:id]}',
      payload: '#{iec_hash[:payload]}'
    };

    var callback = function() {
      iec(iecData.url, iecData.id, iecData.payload);
      $(document.body).addClass('iec-open');
    };

    var head   = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');

    script.type = 'text/javascript';
    script.src  = iecData.src;
    script.setAttribute('data-iec-location', iecData.url);
    script.setAttribute('data-site-id', iecData.id);
    script.setAttribute('data-payload', iecData.payload);

    script.onload = callback;
    head.appendChild(script);
  })(jQuery);

