// - Vars
$fg-screen-lg: 1070px;
$fg-screen-md: 640px;
$fg-screen-sm: 480px;

.vex-theme-flat-attack.fit-guide-dialog {
  background-color: rgba(0, 0, 0, 0.4);
  
  .vex-overlay { background: none;}
  
  .vex-content {
    width: 96%;
    max-width: 1230px;
    min-height: 600px;
    background: url('_popups/fit-guide-bg-desktop.jpg') left top no-repeat #e7e6e5;
    background-size: cover;
    @media (max-width: $fg-screen-lg) {
      background: #e7e6e5;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .vex-dialog-buttons {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0 !important;
    margin: 0 !important;

    .btn {
      background: url('_popups/fit-guide-close.png') no-repeat;
      background-size: cover;
      padding: 0;
      width: 17px;
      height: 17px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    line-height: 1.4;
  }

  .square {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    @media (max-width: $fg-screen-lg) {
      background: url('_popups/fit-guide-bg-phone.jpg')no-repeat;
      background-size: cover;
    }
  }

  .row {
    margin: 0;
  }

  .col {
    @media (min-width: $fg-screen-lg) {
      float: left;
      width: 50%;
      min-height: 1px;
    }
  }

  .fit-guide-corner-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 175px;
    width: 175px;
    background: url('_popups/fit-guide-corner.png') no-repeat;
    background-size: cover;
    @media (max-width: $fg-screen-lg) {
      display: none;
    }
  }

  .fit-guide-corner-text {
    background-color: $pink-bg;
    text-align: center;
    padding: 10px 20px;

    @media (min-width: $fg-screen-lg + 1) {
      display: none;
    }
    
    h2 { 
      font-size: 14px;
      margin-bottom: 5px;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .fit-guide-text {
    padding: 20px 20px 20px 50px; 
    @media (max-width: $fg-screen-lg) {
      padding: 20px 10px 10px;
    }
  }
  
  .size-guide {
    font-size: 14px;
    text-align: center;
    @media (max-width: $fg-screen-sm) {
      font-size: 12px;
    }
    tr:nth-child(even) td {
      background-color: rgba(0, 0, 0, 0.05);
    }
    th, td {
      border: 0;
    }
    th {
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 2px 2px 2px 15px;
      @media (max-width: $fg-screen-sm) {
        padding-left: 2px;
      }
    }
    td {
      padding: 2px;
    }

    // - hide 'Size DE'
    td[data-title]:nth-child(3),
    td.sub-heading:nth-child(3) {
      display: none !important;
    }
  }
}
