// - Vars
$fg-screen-lg: 1070px;
$fg-screen-md: 640px;
$fg-screen-sm: 480px;

.vex-theme-flat-attack.fit-guide-dialog {
  background-color: rgba(0, 0, 0, 0.4);

  .vex-overlay { background: none;}

  .vex-content {
    width: 96%;
    max-width: 1230px;
    min-height: 600px;
    background: url('_popups/fit-guide-bg-desktop-Mar-8.jpg') left top no-repeat $c-classic-modal-bg;
    background-size: cover;

    @media (max-width: $bootstrap-lg-width - 1px) {
      width: 100%;
    }

    @media (max-width: $bootstrap-md-width - 1px) {
      background: $c-classic-modal-bg;
    }

  }

  .vex-dialog-buttons {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0 !important;
    margin: 0 !important;

    .btn {
      background: url('_popups/fit-guide-close.png') no-repeat;
      background-size: cover;
      padding: 0;
      width: 17px;
      height: 17px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
  }

  p {
    font-size: 15px;
    line-height: 1.4;
  }

  .mob-image-wrap {
    padding: 0;
  }

  .square {
    height: 0;
    width: 100%;
    padding-bottom: 100%;

    @media (max-width: $bootstrap-md-width - 1px) {
      background: url('_popups/fit-guide-bg-phone-Mar-8.jpg')no-repeat;
      background-size: cover;
    }

  }

  .row {
    margin: 0;
  }

  .col {
    @media (min-width: $fg-screen-lg) {
      float: left;
      width: 50%;
      min-height: 1px;
    }
  }

  .fit-guide-corner-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 175px;
    width: 175px;
    background: url('_popups/fit-guide-corner.png') no-repeat;
    background-size: cover;
    @media (max-width: $fg-screen-lg) {
      display: none;
    }
  }

  .fit-guide-corner-text {
    background-color: $pink-bg;
    text-align: center;
    padding: 10px 20px;

    @media (min-width: $fg-screen-lg + 1) {
      display: none;
    }

    h2 {
      font-size: 14px;
      margin-bottom: 5px;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .fit-guide-text {
    padding: 20px 0;

    em a {
      color: inherit;
      margin-left: 3px;
      text-decoration: underline;
    }

    @media (max-width: $bootstrap-lg-width - 1px) {
      padding-left: 50px;
    }

    @media (max-width: $bootstrap-md-width - 1px) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  .size-guide {
    font-size: 14px;
    text-align: center;
    @media (max-width: $fg-screen-sm) {
      font-size: 11px;
    }
    tr:nth-child(even) td {
      background-color: rgba(0, 0, 0, 0.05);
    }
    tr{
      td:nth-child(2),td:nth-child(4),td:nth-child(6),td:nth-child(8){
        border-right: 1px solid $c-neutral-9;
      }
    }
    th, td {
      border: 0;
    }
    th:not(:last-child){
      border-right: 1px solid $c-neutral-9;
    }
    th {
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 2px 2px 2px 2px;
      @media (max-width: $fg-screen-sm) {
        padding-left: 2px;
      }
    }
    td {
      padding: 2px;
    }

  }

  @include iphone5 {
    .size-guide {
      font-size: 9px;
    }
  }

}

@media (max-width: $bootstrap-lg-width - 1px) {

  .vex.vex-theme-flat-attack.fit-guide-dialog {
    padding: 0;
  }

}
