/* [Product Page]
-------------------------------------------------------*/
.category--item {
  padding-bottom: 15px;
}

.category--item a {
  color: #333333;
}

// TODO: redo these globals, should not be global

.delivery {
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #777777;
  margin-top: -3px;
  color: #f8dadf;
}

.product-selection-wrap {
  position: relative;
  min-height: 600px;

  .list-group-item.customization-option  {

  	img {
  		height:140px;
  		width:140px;
  	}
  }

  .product-content {
  	position: absolute;
  	z-index: 50;
  	top: 0;
    height: 100%;

  	.row {
  		padding-top: 1.45rem;

      &:first-child {
        padding-top: 0;
      }

    }

	}

	.btn {
		font-family: $font-family-secondary;
		font-size: 1.5rem;
	}

  .btn-customize {
    text-transform: uppercase;
    cursor: pointer;
  }

  @media (max-width: 1000px) {

    .product-selector {
      padding-right: 20px;
      min-width: 340px;
    }

  }

  @media (max-width: $bootstrap-sm-width - 1px) {

    .product-selector {
      position: relative;
      width: 100%;
      min-width: inherit;
      max-width: none;
      padding-right: 0;
      padding: 30px 20px;

      .col-md-6 {
        margin-bottom: 20px;
      }

    }

  }

}

.product-selector {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  min-width: 460px;
  max-width: 620px;
  height: 100%;
  padding-right: 50px;
  text-align: center;

  .outer-wrap {
    display: table;
    width: 100%;
    height: 100%;
  }

  .inner-wrap {
    display: table-cell;
    vertical-align: middle;
  }

  .col-md-12 {
    margin-bottom: 15px;
  }

  .title {
    margin-bottom: 0;
  }

  .heading {
    font-family: $font-family-secondary;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }

  .btn {
    font-family: $font-family-secondary;
    font-size: 1.5rem;
  }

  .btn-secondary {
    height: 45px;
    padding: 0;

    &:hover {
      opacity: .6;
    }

  }

  .icon-wrap {
    color: $c-neutral-9;
    @extend %cfix;

    > div {
      float: left;
      width: 25%;
      padding: 0 15px;

      &:before {
        display: block;
        height: 32px;
        line-height: 32px;
      }

    }

    .icon-fit {
      font-size: 30px;
    }

    .icon-eyedrop {
      font-size: 28px;
    }

    .icon-delivery-express {
      font-size: 16px;
    }

    .icon-parcel_returns {
      font-size: 20px;
    }

    .copy {
      display: block;
      margin-top: 5px;
      font-size: 10px;
    }

    @media (max-width: 1000px) {

      & > div {
        padding: 0 5px;
      }

    }

  }

}

.list-group-item.customization-option img {
	height: 140px;
	width: 140px;
}

#product-size, #product-color, #product-customizations {
	border: 1px solid grey;
	width: 100%;
}

.dress-about {
    p{
      font-weight: 300;
    }

		h4 {
			font-family: $font-family-secondary;
			font-size: 1em;
			font-weight:600;
			margin-top:1.333333em;
		}

  @media(max-width: 490px){

    h2 {
      padding-top: 30px
    }
  }
}

.details .product-name {
  background-color: transparent;
}

.divider {
  @media(max-width: 768px){
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.btn-customize {
  border: 1px solid black;
  width: 100%;
  height: 45px;
  color: black;
  display:block;
  padding-top: 1.5rem;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;

	&:hover {
		color: black;
	}

	&:after {
		content: '+';
		position: absolute;
		right: 5px;
	}
}

.icons {
	 h4 {
		font-size: 1.3rem;
		padding-top: 2.1rem;
	}
}

.price-original {
	text-decoration: line-through;
}

.price-discount {
	font-weight: 400;
}

.price-sale {
	font-weight:bold;
	color:red;
}

.select2-container--default .select2-selection--single {
	border-radius: 0 !important ;
	width: 100%;
	height: 4.45rem;
	background-color: transparent;
}

.remove-selection {
	float:right;
	padding-right: 1rem;
}

.inspiration {
  p {
    color: $c-neutral-5;
    font-size: 12px;
    font-style: italic;
  }
}

#product-overlay {
	&.is-visible {
    animation: 0.3s ease 0s normal none 1 running cd-fade-in;
    display: block;
  }
  background-color:rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999 !important;
}

.container-fluid.product-content {
	width: 100%;
	padding-right: 3.5rem;

		@media(max-width: 768px){
			padding-right: 30px;
			padding-left: 30px;
      top: 0;
	 	}
}

.slides-outer-wrapper {
  position: relative;
  min-height: 500px;
  height: auto;
}

.vex.vex-theme-flat-attack .vex-content {
  padding: 0 !important;
}

.vex.vex-theme-flat-attack .vex-content h2 {
    font-family: $font-family-secondary !important;
  }

.vex.vex-theme-flat-attack .vex-content {
  h6, span {
    text-transform: uppercase;
    font-weight:    600 !important;
    margin-bottom:  0;
  }
}

.buy-button {
  height: 45px;
  line-height: 45px;
  line-height: 9px;
}

.btn-black:hover {
  background-color: #333333;
}

.btn-fit-guide{
  margin-bottom: 10px;
}

.btn-fit-guide:hover {
  background-color: #355e6d;
}

.btn-clear-customizations:hover {
  color: $c-neutral-white;
  background-color: #333333 !important;
}

.close-btn {
  border: none;
  background-color: transparent;
  float: right;
  margin-top: -2px;

  img {
    width: 20px !important;
    height: 20px;
  }
}

.recommended {
  float: none;
}

.sc-player { display: none; }
