#product-color-content {

  .custom {

    .color-option {

      .color-box {
        background-color:#CCCCCC;
        margin:0;
        padding:0;
      }

      .color-burgundy{
        background-color: #690f0f;
      }

      .color-cherry-red {
        background-color: #ba0e0e;
      }

      .color-navy{
        background-color: #00004c;
      }

      .color-cobalt-blue{
        background-color: #0000e5;
      }

      .color-black{
        background-color: #000000;
      }

      .color-white {
        background-color: #ffffff;
      }

      .color-ivory {
        background-color: #FFFFF0;
      }

      .color-pale-pink {
        background-color: #fff2f4;
      }

      .color-light-pink {
        background-color: #ffecef;
      }

      .color-red {
        background-color: #dd0000;
      }

      .color-pale-grey {
        background-color: #e1dfdf;
      }

      .color-charcoal{
        background-color: #3c3c3c;
      }

      .color-marine-blue {
        background-color: #055281;
      }

      .color-pale-yellow {
        background-color: #e3e7ba;
      }

      .color-burnt-orange {
        background-color: #f07532;
      }

      .color-pine {
        background-color: #128755;
      }

      .color-pale-blue {
        background-color: #cdf1f4;
      }

      .color-ice-blue {
        background-color: #abfdff;
      }

      .color-mint {
        background-color: #91ffdb;
      }

      .color-champagne {
        background-color: #f0debb;
      }

      .color-moss-green {
        background-color: #8ea578;
      }

      .color-lavender {
        background-color: #d9c0e7;
      }

      .color-lilac {
        background-color: #ecddf4;
      }

      .color-coral {
        background-color: #ff6262;
      }

      .color-magenta {
        background-color: #e137b7;
      }

      .color-off-white {
        background-color: #fffef6;
      }

      .color-teal {
        background-color: #41a9ab;
      }

      .color-purple {
        background-color: #8e54cc;
      }

      .color-blush {
        background-color: #eec6c6;
      }

      .color-taupe {
        background-color: #c9bba4;
      }

      .color-royal-blue {
        background-color: #3f34b2;
      }

      .color-pale-green {
        background-color: #d1f6d7;
      }

      .color-emerald-green {
        background-color:#1B9975;
      }

      .color-hot-pink {
        background-color:#ff3399;
      }

      .color-lemon {
        background-color:#FFFACD;
      }

      .color-peach {
        background-color:#FDE4D8;
      }

      .color-plum {
        background-color:#8D4585;
      }

      .color-seafoam {
        background-color:#41cbb5;
      }

      .color-watermelon {
        background-color: #FF3366;
      }

      .color-fluoro-orange {
        background-color: #FF9933
      }

      .color-cream {
        background-color: #FCFBE3;
      }

      .color-orange {
        background-color: #ffae19;
      }

      .color-turquoise {
        background-color: #34DDDD;
      }
    }
  }

  .recommended {

    .color-option {

      .color-box {
        background-color:#CCCCCC;
        margin:0;
        padding:0;
      }

      .color-mint {
        background-color: #91ffdb;
      }

      .color-watermelon {
        background-color: #FF3366;
      }

      .color-sand {
        background-color: #efeadd;
      }

      .color-cotton-candy {
        background-color: #fbbfe9;
      }

      .color-neon-mint {
        background-color: #33ffc6;
      }

      .color-black {
        background-color:#000000;
      }

      .color-white, .color-optic-white {
        background-color:#FFFFFF;
        border:1px dashed #EEEEEE;
      }

      .color-red {
        background-color:#FF0000;
      }

      .color-green {
        background-color:#00FF00;
      }

      .color-pale-yellow {
        background-color:#FFFACD;
      }

      .color-pale-green {
        background-color:#ccffcc;
      }

      .color-blue {
        background-color:#0000FF;
      }

      .color-royal-blue {
        background-color:#333399;
      }

      .color-lavender {
        background-color:#E6E6FA;
      }

      .color-lavender-grey {
        background-color:#9999cc;
      }

      .color-cobalt-blue {
        background-color:#0000cc;
      }

      .color-beige {
        background-color:#efdecd;
      }

      .color-lemon {
        background-color:#FFFACD;
      }

      .color-lemon-sorbet {
        background-color:#ffff99;
      }

      .color-pale-blue {
        background-color:#C0DCF4;
      }

      .color-indigo {
        background-color:#3366cc;
      }

      .color-ice-blue {
        background-color:#99ffff;
      }

      .color-teal {
        background-color:#009999;
      }

      .color-deep-purple {
        background-color:#3C1362;
      }

      .color-emerald-green {
        background-color:#1B9975;
      }

      .color-grey {
        background-color:#BCBEBB;
      }

      .color-burgundy {
        background-color:#5D0201;
      }

      .color-coral {
        background-color:#EC7A7B;
      }

      .color-light-blue {
        background-color:#66ccff;
      }

      .color-nude {
        background-color:#fdd5b1;
      }

      .color-champagne {
        background-color:#F9E3CB;
      }

      .color-navy {
        background-color:#00004c;
      }

      .color-moss-green {
        background-color:#696845;
      }

      .color-silver {
        background-color:#A4A5A7;
      }

      .color-gold{
        background-color:#BF9541;
      }

      .color-pale-pink {
        background-color:#F8DEED;
      }

      .color-pink {
        background-color:#FF93CA;
      }

      .color-candy-pink {
        background-color:#ff99ff;
      }

      .color-light-pink {
        background-color:#ffccff;
      }

      .color-fuschia {
        background-color:#FF77E8;
      }

      .color-hot-pink {
        background-color:#ff3399;
      }

      .color-plum {
        background-color:#8D4585;
      }

      .color-red {
        background-color:#ED1B32;
      }

      .color-cherry-red {
        background-color:#B6000F;
      }

      .color-ivory {
        background-color:#FFFAEF;
      }

      .color-ivory {
        background-color:#EDEAD9;
      }

      .color-seashell {
        background-color:#FFFAEF;
      }

      .color-lilac {
        background-color:#E4C3E9;
      }

      .color-magenta {
        background-color:#cc0099;
      }

      .color-peach {
        background-color:#FDE4D8;
      }

      .color-marine-blue {
        background-color:#0b4070;
      }

      .color-wine {
        background-color:#831C2E;
      }

      .color-teal {
        background-color:#009999;
      }

      .color-persian-green {
        background-color:#00A693;
      }

      .color-dark-purple {
        background-color:#330066;
      }

      .color-salmon {
        background-color:#FF8C69;
      }

      .color-burnt-orange {
        background-color:#CF5300;
      }

      .color-seafoam {
        background-color:#41cbb5;
      }

      .color-bright-red {
        background-color:#ff3333;
      }

      .color-bronze {
        background-color:#cd7f32;
      }

      .color-brick {
        background-color:#993333;
      }

      .color-pine {
        background-color:#01796f;
      }

      .color-sage {
        background-color:#826a77;
      }

      .color-blush {
        background-color: #eec6c6;
      }

      .color-blue-azalea-floral {
        background-image:url('product-color-images/blue_floral.jpg');
        background-size: cover;
      }

      .color-midnight-floral {
        background-image:url('product-color-images/midnightfloral.jpg');
        background-size: cover;
      }

      .color-pink-azalea-floral {
        background-image:url('product-color-images/pinkazalea_floral.jpg');
        background-size: cover;
      }
    }
  }
}
