// Ribbon over Product thumbnails

.RibbonContent {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.ribbon-wrapper {
  position: absolute;
  text-align: center;
  text-transform: uppercase;

  .ribbon-txt {
    font-size: 0.7em;
    word-spacing: 0.1em;
    padding: 3px 50px;
    background-color: rgba($c-neutral-black, 0.4);
    color: $c-neutral-white;
    @include transform(rotate(-45deg));
  }

  &.express-making {
    left: -56px;
    top: 30px;
  }

}

.ribbon-wrapper.PriceDrop {
  left: -55px;
  top: 35px;
}

.ribbon-wrapper.PriceDrop .ribbon-txt {
  background-color: rgba($c-price-drop-bg, 0.4);
}

.Ribbon__SuperExpress {
  top: 50%;
  width: 100%;
  right: -39px;

  .ribbon-txt {
    position: absolute;
    background: $c-neutral-white;
    color: $c-super-express-ribbon-txt;
    font-weight: 600;
    font-size: 0.55em;
    padding: 4px 15px 2px;
    right: 0;
    @include transform(rotate(-90deg));
  }

}
