$product-tick-image-url:    image-url("product-collections/tick.svg");
$product-rosebud-image-url: image-url("product-color-images/Rosebud.png");
$product-cheetah-image-url: image-url("product-color-images/Cheetah.png");

.products-collections {
  padding-top: 15px;

  .arrow-down {
    float: left;
    width: 100%;
    margin-top: -11px;
  }

  .breadcrumb {
    position: absolute;
  }

  .dropdown-menu {
    width: 80%;
    left: 10%;
    right: 10%;
    margin-top: 5px;
    padding: 5px 0;
    border: solid $c-neutral-6 1px;

    a {
      display: block;
      padding: 5px 10px;

      i {
        padding-right: 5px;
        font-size: small;
      }

    }

    @media (max-width: $bootstrap-md-width) {
      width: 100%;
      left: 0;
      right: 0;
    }

  }

  .category-controls {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: solid $c-neutral-black 1px;
    @extend %cfix;

    .trigger-filter {
      display: block;
      margin-top: 14px;
      font-size: 21px;
      color: $c-neutral-black;
    }

    .sort {
      width: 200px;
    }

  }

  .products-set {

    .col-md-3:nth-child(4n+1) {
      clear: left;
    }

    .col-md-4:nth-child(3n+1) {
      clear: left;
    }

  }

  @media (max-width: $bootstrap-md-width) {

    & .products-set {

      .col-md-3:nth-child(4n+1){
        clear: none;
      }

      .col-md-4:nth-child(3n+1){
        clear: none;
      }

    }

  }

  .select2-container--default {
    width: 100% !important;
  }

  .select2-selection__rendered {
    vertical-align: middle;
  }

  .sort{
    line-height: 45px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    float: right;
    width: 20%;
  }

  .select2-container--default .select2-selection--single {
    /* background-color: #eeddf0 ; */
     border: 1px solid #666666 ;
     border-radius: 2px !important;
     padding-left: 0.6rem;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
     border-color: #333333  transparent transparent transparent;
     border-width: 10px 8px 0 8px;
     left: -5px;
     margin-top: 0.4rem;
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
     border-color: #333333  transparent transparent transparent;
     border-width: 10px 8px 0 8px;
     left: -5px;
     margin-top: 0.4rem;
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }

  #select2-product_order-container{
    margin-top: 7px;
  }

  .skirt-alert {
    font-weight: normal;
    text-transform: none;
    font-style: italic;
  }

  .sale-price {
    color: #eb6ffa;
    text-transform: uppercase;
  }

  .discount {
    text-transform: uppercase;
  }

  .original-price {
    text-decoration: line-through;
  }

  .moodboard {
    display: block;
    cursor: pointer;

    sup {
      top: 1px;
    }

  }

  .message-box {
    margin: 10px 10% 0 10%;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.813em;
    font-weight: 500;
    color: $c-neutral-black;
    border: solid $c-neutral-black 1px;
  }

  .product-order {
    .select2-container--default .select2-selection--single {
      background-color:#f5f5f5;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      color: white;
    }
  }

  .more-products {
    margin-bottom:100px;
    text-align:center;
    clear: both;
  }
  .leftPath {
    float:left;
    padding-left:60px;
    margin-top:10px
  }

}

.on-sale * {
  display: inline-block;
}

.delivery {
  border-style: solid;
  border-width: 45px;
  border-color: red;
  width: 10px;
}

.select2-results__option {
  background-color: #eeddf0;
  font-size: 1.2rem;
  line-height: 45px;
  text-transform: uppercase;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #FFFFFF;
  font-weight: 600;
  color:#000000;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
  font-family: $font-family-secondary;
}

#select2-product_order-results {

  .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #FFFFFF;
    color:#000000;
  }

  .select2-results__option[aria-selected="false"] {
    background-color: #f5f5f5;
    color: black;
  }
}

.content {
  border:2px solid black;
  min-height:375px;
  padding:10px 20px 10px 20px;
  margin-bottom:20px;
}

.express-delivery {
  position: absolute;
  top: 0;
  left: 15px;
}



li.select2-results__option {
  background-color: #f5f5f5 ;
  font-weight: 600;
  font-family: $font-family-secondary;
  height: 45px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: white !important;
  color: black;
}
