/**
 * Product Colors

 * ***** RubyMine Note: ******
 * If you use RubyMine, a very helpful "Live Template" to setup is the what I called 'product-color'
 * This takes two arguments, NAME and VALUE, and magically fills in the SASS variable and simple color values.
 * Live Template:
 *
 * $$product-color-$NAME$: #$VALUE$;
 * .color-$NAME$ { background-color: $$product-color-$NAME$; }
 *
 * A similar macro could of course be written for *your* favourite editor.
**/


/**
 * Draws a two colour box, split diagonally, with one colour in each half.
**/
@mixin split-color-selector($start, $end) {
  background: linear-gradient(-12.5deg,
          $end 0%,
          $end 50%,
          $start 51%,
          $start 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start, endColorstr=$end, GradientType=1 );
}

@mixin image-color-selector($image_file)
{
  background: url("product-color-images/" + $image_file);
  background-size:cover;
}


#product-color-content {
  .explanation {
    text-align: center;
  }
}

.color-box {
  background-color: #CCCCCC;
  margin: 0;
  padding: 0;
}


/* ******* COLOURS ******** */

$product-color-apple-green:     #1ca564;
$product-color-apricot:         #ffad80;
$product-color-aqua:            #4aa5d8;
$product-color-army-green:      #6a7247;
$product-color-azure:           #1E3C98;
$product-color-baby-blue:       #bcd8ed;
$product-color-baby-pink:       #fde2f0;
$product-color-ballerina:       #f4ced7;
$product-color-beige:           #efdecd;
$product-color-berry:           #84216d;
$product-color-black:           #050505;
$product-color-blue:            #0000ff;
$product-color-blush:           #eac3c7;
$product-color-brick:           #993333;
$product-color-bright-blush:    #f9aab2;
$product-color-bright-lavender: #ddb6f9;
$product-color-bright-red:      #ff3333;
$product-color-bright-turquoise: #0fbaa9;
$product-color-bright-yellow:   #fcf751;
$product-color-bronze:          #dd905b;
$product-color-burgundy:        #77202f;
$product-color-burnt-orange:    #ce4f36;
$product-color-candy-blue:      #b6daf2;
$product-color-candy-pink:      #f998cb;
$product-color-chambray:        #7c90b5;
$product-color-champagne:       #efe4dc;
$product-color-charcoal:        #4d4d4d;
$product-color-chartreuse:      #96943c;
$product-color-cherry-red:      #b51c2f;
$product-color-chocolate:       #5a2b0c;
$product-color-cinnamon:        #b76349;
$product-color-cobalt:          #1f1fcc;
$product-color-coffee:          #66432b;
$product-color-coral:           #ff6262;
$product-color-cornflower-blue: #4865c1;
$product-color-cotton-candy:    #fbbfe9;
$product-color-cranberry:       #b21247;
$product-color-cream:           #F7F3ED;
$product-color-dark-burgundy:   #5b151c;
$product-color-dark-chocolate:  #4c1f0b;
$product-color-dark-forest:     #06230a;
$product-color-dark-gold:       #c3a08c;
$product-color-dark-lavender:   #7b6dbf;
$product-color-dark-mint:       #91cec2;
$product-color-dark-nude:       #cbac9e;
$product-color-dark-purple:     #330066;
$product-color-dark-tan:        #8c7362;
$product-color-dark-teal:       #064a51;
$product-color-deep-purple:     #370840;
$product-color-dusk:            #e6bcb0;
$product-color-dusty-mushroom:  #d3a596;
$product-color-dusty-peach:     #f7c6b0;
$product-color-dusty-pink:      #ead0d4;
$product-color-electric-blue:   #1f1fcc;
$product-color-emerald-green:   #057545;
$product-color-flamingo-pink:   #f9a7c4;
$product-color-fluoro-orange:   #ff9933;
$product-color-forest:          #1d441f;
$product-color-fuschia:         #ff77e8;
$product-color-gold:            #ccb03b;
$product-color-green:           #10a522;
$product-color-grey:            #7e7e7f;
$product-color-gunmetal:        #444544;
$product-color-hot-pink:        #ea3b82;
$product-color-ice-blue:        #91e8ed;
$product-color-icing-pink:      #f9d9e7;
$product-color-indigo:          #3c3c75;
$product-color-ivory:           #f5f4f3;
$product-color-lavender-grey:   #9999cc;
$product-color-lavender:        #ba8cd3;
$product-color-lemon-sorbet:    #ffff99;
$product-color-lemon:           #f2e983;
$product-color-light-blue:      #66ccff;
$product-color-light-gold:      #dfcc7f;
$product-color-light-khaki:     #c7c2a8;
$product-color-light-nude:      #e2c7bc;
$product-color-light-pink:      #F5E5EC;
$product-color-light-teal:      #12a3b2;
$product-color-lilac:           #ccc3e2;
$product-color-lipstick-red:    #f40c0c;
$product-color-magenta:         #a6188b;
$product-color-marigold:        #efb961;
$product-color-marine-blue:     #055281;
$product-color-mauve:           #9988a5;
$product-color-merlot:          #8d2705;
$product-color-metallic:        #ACA8A2;
$product-color-metallic-peach:  #e07a5f;
$product-color-mid-grey:        #aeaeaf;
$product-color-mint:            #ade0d6;
$product-color-moss-green:      #8ea578;
$product-color-mushroom:        #8e7277;
$product-color-navy:            #0e0e47;
$product-color-neon-mint:       #33ffc6;
$product-color-nude:            #E6D4C0;
$product-color-ocean:           #0493aa;
$product-color-ochre:           #8a5e3f;
$product-color-off-white:       #fffef6;
$product-color-olive:           #34351f;
$product-color-olive-shimmer:   #67705f;
$product-color-orange:          #ea5d32;
$product-color-pale-blue:       #bbd0ed;
$product-color-pale-green:      #d1f6d7;
$product-color-pale-grey:       #e4e4e4;
$product-color-pale-peach:      #fce5d6;
$product-color-pale-pink:       #F9E2E1;
$product-color-pale-silver:     #c5c1be;
$product-color-pale-yellow:     #f4e8b3;
$product-color-pastel:          #CBF6EB;
$product-color-pastel-pink:     #fbe9e9;
$product-color-peach:           #E2AD9C;
$product-color-persian-green:   #00a693;
$product-color-pine:            #128755;
$product-color-pink:            #f458a6;
$product-color-pink-nouveau:    #fce1da;
$product-color-pink-shimmer:    #e6d3cc;
$product-color-plum:            #37105b;
$product-color-purple-metal:    #997ca5;
$product-color-purple:          #48217f;
$product-color-red:             #e01b1b;
$product-color-rose-gold:       #d6aa85;
$product-color-rose:            #e89aa9;
$product-color-royal-blue:      #3f34b2;
$product-color-royal-purple:    #77539c;
$product-color-sage-green:      #768c7e;
$product-color-sage:            #826a77;
$product-color-salmon:          #efac9c;
$product-color-sand:            #e2d8cc;
$product-color-seafoam:         #52d2c8;
$product-color-shell:           #eadfce;
$product-color-silver:          #d6d6d6;
$product-color-sky-blue:        #c2e4f4;
$product-color-sunset-orange:   #e83c25;
$product-color-tan:             #AF8B72;
$product-color-taupe:           #A8908E;
$product-color-teal:            #085966;
$product-color-turquoise:       #1bb2aa;
$product-color-vibrant-pink:    #ee4a86;
$product-color-vibrant-purple:  #9f6ba9;
$product-color-warm-grey:       #b0a5a5;
$product-color-warm-olive:      #343520;
$product-color-water-grey:      #dadadc;
$product-color-watermelon:      #ef525e;
$product-color-white:           #ffffff;
$product-color-white-ivory-border: #DDDDDD;
$product-color-wine:            #831c2e;
$product-color-winter-grey:     #dadadc;
$product-color-warm-tan:        #d2a788;
$product-color-yellow:          #e9de0a;
$product-color-dusty-rose:      #deaaba;
$product-color-pretty-pink:     #f7dbe9;

.color-apple-green             { background-color: $product-color-apple-green; }
.color-apricot                 { background-color: $product-color-apricot; }
.color-aqua                    { background-color: $product-color-aqua; }
.color-aqua-lily               { @include image-color-selector('AquaLily.png'); }
.color-army-green              { background-color: $product-color-army-green; }
.color-art-soul                { @include image-color-selector('ArtSoul.png'); }
.color-azure                   { background-color: $product-color-azure; }
.color-baby-blue               { background-color: $product-color-baby-blue; }
.color-baby-pink               { background-color: $product-color-baby-pink; }
.color-ballerina               { background-color: $product-color-ballerina; }
.color-beige                   { background-color: $product-color-beige; }
.color-berry                   { background-color: $product-color-berry; }
.color-betsy-floral            { @include image-color-selector('BetsyFloral.png'); }
.color-bird-of-paradise        { @include image-color-selector('BirdOfParadise.png'); }
.color-black                   { background-color: $product-color-black; }
.color-black-and-chartreuse    { @include split-color-selector($product-color-black, $product-color-chartreuse); }
.color-black-and-hot-pink      { @include split-color-selector($product-color-black, $product-color-hot-pink); }
.color-black-and-peacock       { @include split-color-selector($product-color-black, #134b7d); }
.color-black-and-red           { @include split-color-selector($product-color-black, $product-color-red); }
.color-black-and-tan-spot      { @include image-color-selector('BlackAndTanSpot.png'); }
.color-black-and-vintage-gold  { @include split-color-selector($product-color-black, #d8ba00); }
.color-black-and-white-gingham { @include image-color-selector('BlackAndWhiteGingham.png'); }
.color-black-and-white-spot    { @include image-color-selector('BlackAndWhiteSpot.png'); }
.color-black-and-white-stripe  { @include image-color-selector('BlackAndWhiteStripe.png'); }
.color-blue                    { background-color: $product-color-blue; }
.color-blue-azalea-floral      { @include image-color-selector('BlueAzaleaFloral.png'); }
.color-blue-fallen-leaves      { @include image-color-selector('BlueFallenLeaves.png'); }
.color-blush                   { background-color: $product-color-blush; }
.color-blush-and-black         { @include split-color-selector(#e1c2c1, #000000); }
.color-brick                   { background-color: $product-color-brick; }
.color-bright-blush            { background-color: $product-color-bright-blush; }
.color-bright-lavender         { background-color: $product-color-bright-lavender; }
.color-bright-turquoise        { background-color: $product-color-bright-turquoise; }
.color-bright-red              { background-color: $product-color-bright-red; }
.color-bright-yellow           { background-color: $product-color-bright-yellow; }
.color-bronze                  { background-color: $product-color-bronze; }
.color-burgundy                { background-color: $product-color-burgundy; }
.color-burnt-orange            { background-color: $product-color-burnt-orange; }
.color-candy-blue              { background-color: $product-color-candy-blue; }
.color-candy-floral            { @include image-color-selector('CandyFloral.png'); }
.color-candy-pink              { background-color: $product-color-candy-pink; }
.color-chambray                { background-color: $product-color-chambray; }
.color-champagne               { background-color: $product-color-champagne; }
.color-charcoal                { background-color: $product-color-charcoal; }
.color-chartreuse              { background-color: $product-color-chartreuse; }
.color-cheetah                 { @include image-color-selector('Cheetah.png'); }
.color-cherry-red              { background-color: $product-color-cherry-red; }
.color-chocolate               { background-color: $product-color-chocolate; }
.color-cinnamon                { background-color: $product-color-cinnamon; }
.color-cobalt                  { background-color: $product-color-cobalt; }
.color-cobalt-blue             { background-color: #0000e5; } /* Deprecated? */
.color-cobalt-crush-floral     { @include image-color-selector('CobaltCrushFloral.png'); }
.color-coffee                  { background-color: $product-color-coffee; }
.color-coral                   { background-color: $product-color-coral; }
.color-cornflower-blue         { background-color: $product-color-cornflower-blue; }
.color-cotton-candy            { background-color: $product-color-cotton-candy; }
.color-cranberry               { background-color: $product-color-cranberry; }
.color-cream                   { background-color: $product-color-cream; }
.color-crosswalk               { @include image-color-selector('Crosswalk.png'); }
.color-dark-burgundy           { background-color: $product-color-dark-burgundy; }
.color-dark-chocolate          { background-color: $product-color-dark-chocolate; }
.color-dark-forest             { background-color: $product-color-dark-forest; }
.color-dark-gold               { background-color: $product-color-dark-gold; }
.color-dark-lavender           { background-color: $product-color-dark-lavender; }
.color-dark-mint               { background-color: $product-color-dark-mint; }
.color-dark-nude               { background-color: $product-color-dark-nude; }
.color-dark-purple             { background-color: $product-color-dark-purple; }
.color-dark-romance-floral     { @include image-color-selector('DarkRomanceFloral.png'); }
.color-dark-tan                { background-color: $product-color-dark-tan; }
.color-dark-teal               { background-color: $product-color-dark-teal; }
.color-deep-purple             { background-color: $product-color-deep-purple; }
.color-dusk                    { background-color: $product-color-dusk; }
.color-dusty-mushroom          { background-color: $product-color-dusty-mushroom; }
.color-dusty-peach             { background-color: $product-color-dusty-peach; }
.color-dusty-pink              { background-color: $product-color-dusty-pink; }
.color-dusty-rose              { background-color: $product-color-dusty-rose; }
.color-electric-blue           { background-color: $product-color-electric-blue; }
.color-emerald-green           { background-color: $product-color-emerald-green; }
.color-evening-bloom           { @include image-color-selector('EveningBloom.jpg'); }
.color-feather-love            { @include image-color-selector('FeatherLove.png'); }
.color-flamingo-pink           { background-color: $product-color-flamingo-pink; }
.color-floral-dreamer          { @include image-color-selector('FloralDreamer.png'); }
.color-fluoro-orange           { background-color: $product-color-fluoro-orange; }
.color-forest                  { background-color: $product-color-forest; }
.color-forest-green            { background-color: #246b5b; } /* Deprecated? */
.color-fuschia                 { background-color: $product-color-fuschia; }
.color-garden-at-dusk-floral   { @include image-color-selector('GardenAtDuskFloral.png'); }
.color-garden-floral           { @include image-color-selector('GardenFloral.png'); }
.color-geo-sage                { @include image-color-selector('GeoSage.png'); }
.color-gold                    { background-color: $product-color-gold; }
.color-grand-lily              { @include image-color-selector('GrandLily.png'); }
.color-green                   { background-color: $product-color-green; }
.color-grey                    { background-color: $product-color-grey; }
.color-gunmetal                { background-color: $product-color-gunmetal; }
.color-gypsy-queen             { @include image-color-selector('GypsyQueen.png'); }
.color-gypsy-scarf             { @include image-color-selector('GypsyScarf.png'); }
.color-hot-pink                { background-color: $product-color-hot-pink; }
.color-ice-blue                { background-color: $product-color-ice-blue; }
.color-icing-pink              { background-color: $product-color-icing-pink; }
.color-icing-pink-and-red      { @include split-color-selector($product-color-icing-pink, $product-color-red);  }
.color-indigo                  { background-color: $product-color-indigo; }
.color-indigo-cotton-stripe    { @include image-color-selector('IndigoCottonStripe.png'); }
.color-irridescent-green       { @include image-color-selector('IrridescentGreen.jpg'); }
.color-ivory                   { background-color: $product-color-ivory; }
.color-ivory-and-hot-pink      { @include split-color-selector($product-color-ivory, $product-color-hot-pink); }
.color-ivory-and-ice-blue      { @include split-color-selector($product-color-ivory, $product-color-ice-blue); }
.color-ivory-and-navy          { @include split-color-selector($product-color-ivory, $product-color-navy); }
.color-ivory-and-pale-pink     { @include split-color-selector($product-color-ivory, $product-color-pale-pink); }
.color-ivory-and-pink          { @include split-color-selector($product-color-ivory, $product-color-hot-pink); }
.color-ivory-and-tan           { @include split-color-selector($product-color-ivory, #c3b58b); }
.color-lavender                { background-color: $product-color-lavender; }
.color-lavender-grey           { background-color: $product-color-lavender-grey; }
.color-lemon                   { background-color: $product-color-lemon; }
.color-lemon-sorbet            { background-color: $product-color-lemon-sorbet; }
.color-light-blue              { background-color: $product-color-light-blue; }
.color-light-gold              { background-color: $product-color-light-gold; }
.color-light-khaki             { background-color: $product-color-light-khaki; }
.color-light-nude              { background-color: $product-color-light-nude; }
.color-light-romance           { @include image-color-selector('LightRomance.png'); }
.color-light-pink              { background-color: $product-color-light-pink; }
.color-light-pink-and-charcoal { @include split-color-selector($product-color-light-pink, $product-color-charcoal); }
.color-light-teal              { background-color: $product-color-light-teal; }
.color-lilac                   { background-color: $product-color-lilac; }
.color-lipstick-red            { background-color: $product-color-lipstick-red; }
.color-looking-glass           { @include image-color-selector('LookingGlass.png'); }
.color-love-in-bloom           { @include image-color-selector('LoveInBloom.png'); }
.color-magenta                 { background-color: $product-color-magenta; }
.color-marigold                { background-color: $product-color-marigold; }
.color-marine-blue             { background-color: $product-color-marine-blue; }
.color-mauve                   { background-color: $product-color-mauve; }
.color-merlot                  { background-color: $product-color-merlot; }
.color-metallic                { background-color: $product-color-metallic; }
.color-metallic-peach          { background-color: $product-color-metallic-peach; }
.color-micro-spot              { @include image-color-selector('BlackMicroSpot.png') }
.color-mid-grey                { background-color: $product-color-mid-grey; }
.color-midnight-bloom          { @include image-color-selector('MidnightBloom.png') }
.color-midnight-daisy          { @include image-color-selector('MidnightDaisy.png') }
.color-midnight-floral         { @include image-color-selector('midnightfloral.jpg') }
.color-midnight-reptile        { @include image-color-selector('MidnightReptile.png'); }
.color-mint                    { background-color: $product-color-mint; }
.color-monochrome              { @include image-color-selector('Monochrome.png'); }
.color-monochrome-coda         { @include image-color-selector('MonochromeCoda.png'); }
.color-moss-green              { background-color: $product-color-moss-green; }
.color-mushroom                { background-color: $product-color-mushroom; }
.color-mystic-floral           { @include image-color-selector('MysticFloral.jpg'); }
.color-nautical-stripe         { @include image-color-selector('NauticalStripe.png'); }
.color-navy                    { background-color: $product-color-navy; }
.color-navy-stripe             { @include image-color-selector('NavyStripe.png'); }
.color-navy-and-black          { @include split-color-selector($product-color-navy, $product-color-black); }
.color-neon-mint               { background-color: $product-color-neon-mint; }
.color-nude, .color-nude-tan   { background-color: $product-color-nude; }
.color-nude-and-black          { @include split-color-selector($product-color-nude, $product-color-black);  }
.color-ocean                   { background-color: $product-color-ocean; }
.color-ochre                   { background-color: $product-color-ochre; }
.color-off-white               { background-color: $product-color-off-white; }
.color-olive                   { background-color: $product-color-olive; }
.color-olive-shimmer           { background-color: $product-color-olive-shimmer; }
.color-orange                  { background-color: $product-color-orange; }
.color-orange-and-hot-pink     { @include split-color-selector($product-color-orange, $product-color-hot-pink); }
.color-ornate-dusk-floral      { @include image-color-selector('OrnateDuskFloral.jpg'); }
.color-ornate-midnight-floral  { @include image-color-selector('OrnateMidinightFloral.png'); }
.color-pale-blue               { background-color: $product-color-pale-blue; }
.color-pale-blue-cotton-stripe { @include image-color-selector('PaleBlueCottonStripe.png') }
.color-pale-green              { background-color: $product-color-pale-green; }
.color-pale-grey               { background-color: $product-color-pale-grey; }
.color-pale-peach              { background-color: $product-color-pale-peach; }
.color-pale-pink               { background-color: $product-color-pale-pink; }
.color-pale-pink-and-pale-grey { @include split-color-selector($product-color-pale-pink, $product-color-pale-grey); }
.color-pale-silver             { background-color: $product-color-pale-silver; }
.color-pale-yellow             { background-color: $product-color-pale-yellow; }
.color-palermo-floral          { @include image-color-selector('PalermoFloral.png'); }
.color-pastel                  { background-color: $product-color-pastel; }
.color-pastel-pink             { background-color: $product-color-pastel-pink; }
.color-peach                   { background-color: $product-color-peach; }
.color-persian-green           { background-color: $product-color-persian-green; }
.color-pine                    { background-color: $product-color-pine; }
.color-pink                    { background-color: $product-color-pink; }
.color-pink-and-blush          { @include split-color-selector($product_color-pink, $product_color-blush); }
.color-pink-and-rose           { @include split-color-selector($product_color-pink, $product-color-rose); }
.color-pink-and-white-gingham  { @include image-color-selector('PinkAndWhiteGingham.png'); }
.color-pink-and-white-stripe   { @include image-color-selector('PinkAndWhiteStripe.png'); }
.color-pink-azalea-floral      { @include image-color-selector('PinkAzaleaFloral.png'); }
.color-pink-nouveau            { background-color: $product-color-pink-nouveau; }
.color-pink-shimmer            { background-color: $product-color-pink-shimmer; }
.color-pink-red                { @include split-color-selector($product_color-pink, $product_color-red); }
.color-pinpoint-polka-dot     { @include image-color-selector('PinpointPolkaDot.png'); }
.color-plum                    { background-color: $product-color-plum; }
.color-print                   { @include image-color-selector('Cheetah.png'); background-size: 700%; }
.color-polka-dot               { @include image-color-selector('Polka-dot.png'); }
.color-pretty-pink             { background-color: $product-color-pretty-pink; }
.color-purple                  { background-color: $product-color-purple; }
.color-purple-metal            { background-color: $product-color-purple-metal; }
.color-red                     { background-color: $product_color-red; }
.color-red-and-white           { @include split-color-selector($product-color-red, $product-color-white); }
.color-renta-watercolour       { @include image-color-selector('RentaWatercolour.png'); }
.color-rococo-floral           { @include image-color-selector('RococoFloral.png'); }
.color-rose                    { background-color: $product-color-rose; }
.color-rose-gold               { background-color: $product-color-rose-gold; }
.color-rosebud                 { @include image-color-selector('Rosebud.png'); }
.color-rosewater-floral        { @include image-color-selector('RosewaterFloral.png'); }
.color-royal-blue              { background-color: $product-color-royal-blue; }
.color-royal-purple            { background-color: $product-color-royal-purple; }
.color-sage                    { background-color: $product-color-sage; }
.color-sage-fallen-leaves      { @include image-color-selector('SageFallenLeaves.png'); }
.color-sage-green              { background-color: $product-color-sage-green; }
.color-salmon                  { background-color: $product-color-salmon; }
.color-sand                    { background-color: $product-color-sand; }
.color-seafoam                 { background-color: $product-color-seafoam; }
.color-seashell, .color-shell  { background-color: $product-color-shell; }
.color-silver                  { background-color: $product-color-silver; }
.color-silver-and-pale-pink    { @include split-color-selector($product-color-silver, $product-color-pale-pink); }
.color-sky-blue                { background-color: $product-color-sky-blue; }
.color-spot                    { @include image-color-selector('Spot.png'); }
.color-sunset-orange           { background-color: $product-color-sunset-orange; }
.color-surreal-floral-black    { @include image-color-selector('SurrealFloralBlack.png'); }
.color-surreal-floral-white    { @include image-color-selector('SurrealFloralWhite.png'); }
.color-sweet-romance-floral    { @include image-color-selector('SweetRomanceFloral.png'); }
.color-tan                     { background-color: $product-color-tan; }
.color-taupe                   { background-color: $product-color-taupe; }
.color-teal                    { background-color: $product-color-teal; }
.color-tribal-love             { @include image-color-selector('TribalLove.png'); }
.color-tropical-floral         { @include image-color-selector('TropicalFloral.png'); }
.color-true-romance-floral        { @include image-color-selector('TrueRomanceFloral.png'); }
.color-turquoise               { background-color: $product-color-turquoise; }
.color-vibrant-pink            { background-color: $product-color-vibrant-pink; }
.color-vibrant-purple          { background-color: $product-color-vibrant-purple; }
.color-warm-grey               { background-color: $product-color-warm-grey; }
.color-warm-olive              { background-color: $product-color-warm-olive; }
.color-warm-tan                { background-color: $product-color-warm-tan; }
.color-watercolour             { @include image-color-selector('Watercolour.png'); }
.color-watercolour-camo        { @include image-color-selector('WatercolourCamo.png'); }
.color-water-grey              { background-color: $product-color-water-grey; }
.color-watermelon              { background-color: $product-color-watermelon; }
.color-white-and-black-pinstripe { @include image-color-selector('WhiteAndBlackPinstripe.png'); }
.color-white-and-black-spot    { @include image-color-selector('WhiteAndBlackSpot.png'); }
.color-white-and-mint          { @include split-color-selector($product-color-white, $product-color-mint); }
.color-white-and-red-stripe    { @include image-color-selector('WhiteAndRedStripe.png'); }
.color-white-ivory             { background-color: white; border: 1px solid $product-color-white-ivory-border; }
.color-wine                    { background-color: $product-color-wine; }
.color-winter-grey             { background-color: $product-color-winter-grey; }
.color-yellow                  { background-color: $product-color-yellow; }
.color-young-love-floral        { @include image-color-selector('YoungLoveFloral.png'); }

.color-white,
.color-optic-white {
  background-color: $product-color-white;
  border: 1px solid $product-color-pale-grey;
}
.color-white-and-black {
  @include split-color-selector(#FCF8F7, $product-color-black);
  border: 1px solid $product-color-pale-grey;
}
