// Products listing

.no-fixed-height .category--item {
  height: auto;
  min-height: auto;
}

.u-remove-product-hover-fade .category--item:hover .media-wrap {
  opacity: 1;
}

.category--item {
  position: relative;
  min-height: 420px;

  &:hover .media-wrap {
    opacity: 0.8;
  }

  @media(max-width: 415px){
    min-height: 380px;
  }

  a {
    overflow: hidden;
  }

  .name {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
    display: block;
  }

  .price {
    margin: 4px 0;
    display: block;
    text-align: center;
  }

  .details {
    margin: 20px 0 15px;
  }

  .price,
  .details {
    font-size: 1.2rem;
  }

}

.ProductImageWrapper {
  position: relative;
}

.category-text-box {

  .category-text-box-content {
    height: 377px;
    margin-bottom: 0;
  }

  .panel-seo .outer-wrap {
    margin: 0;
  }

  .item {
    padding: 0;
    font-size: 1.1em;
  }

  .itemTitle {
    line-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .copy-highlight {
    padding: 0;
  }

  .summary {
    padding: 40px 15px 30px;
  }

  p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $bootstrap-md-width) and (max-width: $bootstrap-lg-width - 1px) {

    .category-text-box-content {
      height: 267px;
    }

    .item {
      font-size: 0.9em;
    }

    .itemTitle {
      font-size: 2.1em;
    }

    .summary {
      padding: 10px 0 5px;
    }

  }

}

.category-text-box--black-bg {

  .category-text-box-content {
    background: $c-neutral-black;
    color: $c-neutral-white;
    border: 0;
  }

  .ctaWrapper,
  a {
    color: $c-neutral-white;
  }

}
