/**
 * Product Colors

 * ***** RubyMine Note: ******
 * If you use RubyMine, a very helpful "Live Template" to setup is the what I called 'product-color'
 * This takes two arguments, NAME and VALUE, and magically fills in the SASS variable and simple color values.
 * Live Template:
 *
 * $$product-color-$NAME$: #$VALUE$;
 * .color-$NAME$ { background-color: $$product-color-$NAME$; }
 *
 * A similar macro could of course be written for *your* favourite editor.
**/


/**
 * Draws a two colour box, split diagonally, with one colour in each half.
**/
@mixin split-color-selector($start, $end) {
  background: linear-gradient(-12.5deg,
          $end 0%,
          $end 50%,
          $start 51%,
          $start 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start, endColorstr=$end, GradientType=1 );
}

@mixin image-color-selector($image_file)
{
  background: url("product-color-images/" + $image_file);
  background-size:cover;
}


#product-color-content {
  .explanation {
    text-align: center;
  }
}

.color-box {
  background-color: #CCCCCC;
  margin: 0;
  padding: 0;
}


/* ******* COLOURS ******** */

$product-color-apple-green:     #1ca564;
$product-color-aqua:            #4aa5d8;
$product-color-army-green:      #6a7247;
$product-color-baby-blue:       #bcd8ed;
$product-color-ballerina:       #f4ced7;
$product-color-black:           #050505;
$product-color-blush:           #eac3c7;
$product-color-bright-yellow:   #fcf751;
$product-color-charcoal:        #4d4d4d;
$product-color-chartreuse:      #96943c;
$product-color-cinnamon:        #b76349;
$product-color-cobalt:          #1f1fcc;
$product-color-coffee:          #66432b;
$product-color-cornflower-blue: #4865c1;
$product-color-cranberry:       #b21247;
$product-color-dark-forest:     #06230a;
$product-color-dark-lavender:   #7b6dbf;
$product-color-dark-mint:       #91cec2;
$product-color-dark-teal:       #064a51;
$product-color-dusty-peach:     #f7c6b0;
$product-color-emerald-green:   #057545;
$product-color-forest:          #1d441f;
$product-color-hot-pink:        #ea3b82;
$product-color-ice-blue:        #91e8ed;
$product-color-icing-pink:      #f9d9e7;
$product-color-indigo:          #3c3c75;
$product-color-ivory:           #f5f4f3;
$product-color-lavender:        #ba8cd3;
$product-color-light-pink:      #f9e2e1;
$product-color-light-teal:      #12a3b2;
$product-color-lilac:           #ccc3e2;
$product-color-lipstick-red:    #f40c0c;
$product-color-mauve:           #9988a5;
$product-color-metallic-peach:  #e07a5f;
$product-color-mint:            #ade0d6;
$product-color-navy:            #0e0e47;
$product-color-ocean:           #0493aa;
$product-color-olive:           #34351f;
$product-color-pale-blue:       #bbd0ed;
$product-color-pale-peach:      #fce5d6;
$product-color-pink:            #f458a6;
$product-color-plum:            #37105b;
$product-color-purple-metal:    #997ca5;
$product-color-purple:          #48217f;
$product-color-red:             #e01b1b;
$product-color-rose:            #e89aa9;
$product-color-sage-green:      #768c7e;
$product-color-sunset-orange:   #e83c25;
$product-color-teal:            #085966;
$product-color-turquoise:       #1bb2aa;
$product-color-white:           #ffffff;


.color-apple-green             { background-color: $product-color-apple-green; }
.color-apricot                 { background-color: #ffad80; }
.color-aqua                    { background-color: $product-color-aqua; }
.color-army-green              { background-color: $product-color-army-green; }
.color-art-soul                { @include image-color-selector('ArtSoul.png'); }
.color-baby-blue               { background-color: $product-color-baby-blue; }
.color-baby-pink               { background-color: #fde2f0; }
.color-ballerina               { background-color: $product-color-ballerina; }
.color-beige                   { background-color: #efdecd; }
.color-berry                   { background-color: #84216d; }
.color-black                   { background-color: $product-color-black; }
.color-black-and-chartreuse    { @include split-color-selector(#000000, #c3ea56); }
.color-black-and-peacock       { @include split-color-selector($product-color-black, #134b7d); }
.color-black-and-vintage-gold  { @include split-color-selector($product-color-black, #d8ba00); }
.color-blue                    { background-color: #0000ff; }
.color-blue-azalea-floral      { @include image-color-selector('BlueAzaleaFloral.png'); }
.color-blue-fallen-leaves      { @include image-color-selector('BlueFallenLeaves.png'); }
.color-blush                   { background-color: #eec6c6; }
.color-blush                   { background-color: $product-color-blush; }
.color-blush-and-black         { @include split-color-selector(#e1c2c1, #000000); }
.color-brick                   { background-color: #993333; }
.color-bright-lavender         { background-color: #ddb6f9; }
.color-bright-red              { background-color: #ff3333; }
.color-bright-yellow           { background-color: $product-color-bright-yellow; }
.color-bronze                  { background-color: #dd905b; }
.color-burgundy                { background-color: #77202f; }
.color-burnt-orange            { background-color: #ce4f36; }
.color-candy-pink              { background-color: #f998cb; }
.color-champagne               { background-color: #efe4dc; }
.color-charcoal                { background-color: $product-color-charcoal; }
.color-chartreuse              { background-color: $product-color-chartreuse; }
.color-cheetah                 { @include image-color-selector('Cheetah.png'); }
.color-cherry-red              { background-color: #b51c2f; }
.color-chocolate               { background-color: #5a2b0c; }
.color-cinnamon                { background-color: $product-color-cinnamon; }
.color-cobalt                  { background-color: $product-color-cobalt; }
.color-cobalt-blue             { background-color: #0000e5; } /* Deprecated? */
.color-coffee                  { background-color: $product-color-coffee; }
.color-coral                   { background-color: #ff6262; }
.color-cornflower-blue         { background-color: $product-color-cornflower-blue; }
.color-cotton-candy            { background-color: #fbbfe9; }
.color-cranberry               { background-color: $product-color-cranberry; }
.color-cream                   { background-color: #F7F3ED; }
.color-dark-burgundy           { background-color: #5b151c; }
.color-dark-chocolate          { background-color: #4c1f0b; }
.color-dark-forest             { background-color: $product-color-dark-forest; }
.color-dark-lavender           { background-color: $product-color-dark-lavender; }
.color-dark-mint               { background-color: $product-color-dark-mint; }
.color-dark-nude               { background-color: #ccac9d; }
.color-dark-purple             { background-color: #330066; }
.color-dark-tan                { background-color: #8c7362; }
.color-dark-teal               { background-color: $product-color-dark-teal; }
.color-deep-purple             { background-color: #370840; }
.color-dusty-peach             { background-color: $product-color-dusty-peach; }
.color-dusty-pink              { background-color: #dd83b9; }
.color-emerald-green           { background-color: $product-color-emerald-green; }
.color-flamingo-pink           { background-color: #f9a7c4; }
.color-floral-dreamer          { @include image-color-selector('FloralDreamer.png'); }
.color-fluoro-orange           { background-color: #ff9933; }
.color-forest                  { background-color: $product-color-forest; }
.color-forest-green            { background-color: #246b5b; } /* Deprecated? */
.color-fuschia                 { background-color: #ff77e8; }
.color-garden-floral           { @include image-color-selector('GardenFloral.png'); }
.color-geo-sage                { @include image-color-selector('GeoSage.png'); }
.color-gold                    { background-color: #ccb03b; }
.color-green                   { background-color: #10a522; }
.color-grey                    { background-color: #7e7e7f; }
.color-gunmetal                { background-color: #444544; }
.color-gypsy-queen             { @include image-color-selector('GypsyQueen.png'); }
.color-gypsy-scarf             { @include image-color-selector('GypsyScarf.png'); }
.color-hot-pink                { background-color: $product-color-hot-pink; }
.color-ice-blue                { background-color: $product-color-ice-blue; }
.color-icing-pink              { background-color: $product-color-icing-pink; }
.color-indigo                  { background-color: $product-color-indigo; }
.color-ivory                   { background-color: $product-color-ivory; }
.color-ivory-and-hot-pink      { @include split-color-selector($product-color-ivory, $product-color-hot-pink); }
.color-ivory-and-ice-blue      { @include split-color-selector($product-color-ivory, $product-color-ice-blue); }
.color-ivory-and-navy          { @include split-color-selector($product-color-ivory, $product-color-navy); }
.color-ivory-and-pink          { @include split-color-selector($product-color-ivory, $product-color-hot-pink); }
.color-ivory-and-tan           { @include split-color-selector($product-color-ivory, #c3b58b); }
.color-lavender                { background-color: $product-color-lavender; }
.color-lavender-grey           { background-color: #9999cc; }
.color-lemon                   { background-color: #f2e983; }
.color-lemon-sorbet            { background-color: #ffff99; }
.color-light-blue              { background-color: #66ccff; }
.color-light-nude              { background-color: #e2c7bc; }
.color-light-pink              { background-color: $product-color-light-pink; }
.color-light-pink-and-charcoal { @include split-color-selector($product-color-light-pink, $product-color-charcoal); }
.color-light-teal              { background-color: $product-color-light-teal; }
.color-lilac                   { background-color: $product-color-lilac; }
.color-lipstick-red            { background-color: $product-color-lipstick-red; }
.color-magenta                 { background-color: #a6188b; }
.color-marine-blue             { background-color: #055281; }
.color-mauve                   { background-color: $product-color-mauve; }
.color-merlot                  { background-color: #8d2705; }
.color-metallic-peach          { background-color: $product-color-metallic-peach; }
.color-micro-spot              { @include image-color-selector('BlackMicroSpot.png') }
.color-mid-grey                { background-color: #aeaeaf; }
.color-midnight-floral         { @include image-color-selector('midnightfloral.jpg') }
.color-mint                    { background-color: $product-color-mint; }
.color-monochrome              { @include image-color-selector('Monochrome.png'); }
.color-monochrome-coda         { @include image-color-selector('MonochromeCoda.png'); }
.color-moss-green              { background-color: #8ea578; }
.color-mushroom                { background-color: #8e7277; }
.color-nautical-stripe         { @include image-color-selector('NauticalStripe.png'); }
.color-navy                    { background-color: $product-color-navy; }
.color-neon-mint               { background-color: #33ffc6; }
.color-nude                    { background-color: #fdd5b1; }
.color-ocean                   { background-color: $product-color-ocean; }
.color-off-white               { background-color: #fffef6; }
.color-olive                   { background-color: $product-color-olive; }
.color-orange                  { background-color: #ea5d32; }
.color-pale-blue               { background-color: $product-color-pale-blue; }
.color-pale-green              { background-color: #d1f6d7; }
.color-pale-grey               { background-color: #e4e4e4; }
.color-pale-peach              { background-color: $product-color-pale-peach; }
.color-pale-pink               { background-color: #f5e5ec; }
.color-pale-yellow             { background-color: #f4e8b3; }
.color-peach                   { background-color: #b76349; }
.color-persian-green           { background-color: #00a693; }
.color-pine                    { background-color: #128755; }
.color-pink { background-color: $product-color-pink; }
.color-pink-and-blush          { @include split-color-selector($product_color-pink, $product_color-blush); }
.color-pink-azalea-floral      { @include image-color-selector('PinkAzaleaFloral.png'); }
.color-pink-red                { @include split-color-selector($product_color-pink, $product_color-red); }
.color-plum                    { background-color: $product-color-plum; }
.color-polka-dot               { @include image-color-selector('Polka-dot.png'); }
.color-purple                  { background-color: $product-color-purple; }
.color-purple-metal            { background-color: $product-color-purple-metal; }
.color-red                     { background-color: $product_color-red; }
.color-red-and-white           { @include split-color-selector($product-color-red, $product-color-white); }
.color-rose                    { background-color: $product-color-rose; }
.color-rose-gold               { background-color: #d6aa85; }
.color-rosebud                 { @include image-color-selector('Rosebud.png'); }
.color-royal-blue              { background-color: #3f34b2; }
.color-royal-purple            { background-color: #77539c; }
.color-sage                    { background-color: #826a77; }
.color-sage-fallen-leaves      { @include image-color-selector('SageFallenLeaves.png'); }
.color-sage-green              { background-color: $product-color-sage-green; }
.color-salmon                  { background-color: #efac9c; }
.color-sand                    { background-color: #e2d8cc; }
.color-seafoam                 { background-color: #52d2c8; }
.color-seashell, .color-shell  { background-color: #eadfce; }
.color-silver                  { background-color: #d6d6d6; }
.color-sky-blue                { background-color: #c2e4f4; }
.color-surreal-floral-black    { @include image-color-selector('SurrealFloralBlack.png'); }
.color-surreal-floral-white    { @include image-color-selector('SurrealFloralWhite.png'); }
.color-taupe                   { background-color: #dbd2cc; }
.color-teal                    { background-color: $product-color-teal; }
.color-tribal-love             { @include image-color-selector('TribalLove.png'); }
.color-tropical-floral         { @include image-color-selector('TropicalFloral.png'); }
.color-turquoise               { background-color: $product-color-turquoise; }
.color-vibrant-purple          { background-color: #9f6ba9; }
.color-watercolour             { @include image-color-selector('Watercolour.png'); }
.color-watermelon              { background-color: #ef525e; }
.color-wine                    { background-color: #831c2e; }
.color-white, .color-optic-white {
  background-color: $product-color-white;
  border: 1px dashed #eeeeee;
}
.color-white-and-black {
  @include split-color-selector(#FCF8F7, $product-color-black);
  border: 1px dashed #eeeeee; }
