// Products listing

.no-fixed-height .category--item {
  height: auto;
  min-height: auto;
}

.category--item {
  position: relative;
  min-height: 420px;

  &:hover .media-wrap {
    opacity: 0.8;
  }

  @media(max-width: 415px){
    min-height: 380px;
  }

  a {
    overflow: hidden;
  }

  .name {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
    display: block;
  }

  .price {
    margin: 4px 0;
    display: block;
    text-align: center;
  }

  .details {
    margin: 20px 0 15px;
  }

  .price,
  .details {
    font-size: 1.2rem;
  }

}

.ribbon-wrapper {
  position: absolute;
  text-align: center;
  text-transform: uppercase;

  .ribbon-txt {
    font-size: 0.7em;
    word-spacing: 0.1em;
    background-color: rgba($c-neutral-black, 0.4);
    color: $c-neutral-white;
    @include transform(rotate(-45deg));
  }

  &.express-making {
    left: -56px;
    top: 30px;

    .ribbon-txt {
      padding: 3px 50px;
    }

  }

}

.categoryTextBox--blackBg {

  .categoryTextBoxContent {
    background: $c-neutral-black;
    color: $c-neutral-white;
    min-height: 377px;
    margin-bottom: 0;
    border: 0;
  }

  .panel-seo .outer-wrap {
    margin: 0;
  }

  .item {
    padding: 0;
  }

  .ctaWrapper {
    color: $c-neutral-white;
    font-size: 3rem;
  }

  .summary {
    padding: 30px 15px;
    font-size: 1.2em;
  }

}
