<div class="app-child contentful-container">

<%
    @landing_page_container = get_contentful_lp_parent_container
%>

  <% @landing_page_container[:rows].each do |row| %>
    <!--
        Frustrating! I shouldn't have to set instance variables, but nested partials are
        not accepting locals for some reason... Requires further investigation.
    -->
    <% @md_contents = row[:md_item] %>
    <% @lg_contents = row[:lg_item] %>

    <%= render partial: "layouts/contentful/modules/rows/#{row[:id]}", locals: {contents: row} %>
  <% end %>

</div>
