<div class="app-child contentful-container">

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">One</p>
        <p class="subtitle">Subtitle</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Two</p>
        <p class="subtitle">Subtitle</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Three</p>
        <p class="subtitle">Subtitle</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Four</p>
        <p class="subtitle">Subtitle</p>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor">
  <!-- SAMPLE CONTENTFUL MODULE/ROW -->

        <div class="tile is-parent is-6">
          <article class="tile is-child box">
            <p class="title">CONTAINER TYPE A</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
            </div>
          </article>
        </div>

        <div class="tile is-vertical is-6">

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Eight</p>
            </article>
          </div>

          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Six</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Seven</p>
              </article>
            </div>
          </div>

        </div>

  </div>
</div>
