- if auto_apply_promo_campaign.is_active?
  ruby:
    enable_countdown_banner = %Q<
      window.page.showCountdownTimer(
        "#{ auto_apply_promo_campaign.title }",
        "#{auto_apply_promo_campaign.message}",
        #{ auto_apply_promo_campaign.started_at.to_i * 1000 },
        #{ auto_apply_promo_campaign.duration }
      )
    >

- if Features.active?(:sales) && sale_active?
  ruby:
    enable_countdown_banner_sale = %Q<
      try {
        currentTimeInUSWest = new Date().toLocaleString('en-US', { timeZone: 'America/Los_Angeles' })
        currentDateInUSWest = new Date(currentTimeInUSWest).getDate()
        currentTimeInUSWestInSeconds = new Date(currentTimeInUSWest).getTime()/1000
        startTimeInUSWest = new Date("June 30, 2015 00:00:00").toLocaleString('en-US', { timeZone: 'America/Los_Angeles' })
        startTimeInUSWest = new Date(startTimeInUSWest)
        startTimeInUSWestInSeconds = startTimeInUSWest.getTime()/1000
        secondsFromStartTimeToCurrentTime = currentTimeInUSWestInSeconds - startTimeInUSWestInSeconds

        currentDate = new Date()
        currentDateInSecond = currentDate.getTime()/1000
        startTime = (currentDateInSecond - secondsFromStartTimeToCurrentTime)*1000

        if (currentDateInUSWest == 30){
          $("#countdown-banner").removeClass("hidden")
          window.page.showCountdownTimer(
            "",
            "",
            startTime,
            24
          )

          $(".timer-box").css("margin-left",0)
          $("#countdown-banner").css("background","#E02D91")
          $(".banner-title").first().hide()
          $(".spacer").hide()
          $(".banner-message").hide()
        }
      }
      catch (err) {

      }

    >


  = content_for :inline_javascript do
    = raw enable_countdown_banner
    = raw enable_countdown_banner_sale

#countdown-banner.alert-sale.alert-relative.hidden role="alert"
  a.close href="#"
  span.medium.banner-title
  span.spacer
  '
  span.banner-message
  span.timer-box
    span
      span.hh 48
    span
      span.mm 00
    span
      span.ss 00
