- if auto_apply_promo_campaign.is_active?
  ruby:
    enable_countdown_banner = %Q<
      window.page.showCountdownTimer(
        "#{ auto_apply_promo_campaign.title }",
        "#{auto_apply_promo_campaign.message}",
        #{ auto_apply_promo_campaign.started_at.to_i * 1000 },
        #{ auto_apply_promo_campaign.duration }
      )
    >

- if Features.active?(:sales) && current_sale.present?
  ruby:
    enable_countdown_banner_sale = %Q<
      try {
        localStartTime = new Date("June 29, 2015 07:00:00 GMT");

          $("#countdown-banner").removeClass("hidden");
          window.page.showCountdownTimer(
            "",
            "",
            localStartTime.getTime(),
            48
          );

          $(".timer-box").css("margin-left",0);
          $("#countdown-banner").css("background","#E02D91");
          $("#countdown-banner a.close").hide();
          $(".banner-title").first().hide();
          $(".spacer").hide();
          $(".banner-message").hide();
          $(".banner-title:last span").first().text("UP TO 50% OFF SITE WIDE -");
          $(".banner-title:last span").first().css("margin-right","5px");
          $(".banner-title:last span:nth-child(2)").text("ENDS SOON");
      }
      catch (err) {

      }
    >


  = content_for :inline_javascript do
    = raw enable_countdown_banner
    / = raw enable_countdown_banner_sale

#countdown-banner.alert-sale.hidden role="alert"
  .outer-wrap
    .inner-wrap
      span.medium.banner-title
      span.spacer
      '
      span.banner-message
      span.timer-box
        span
          span.hh 48
        span
          span.mm 00
        span
          span.ss 00
  a.close href="#"
