#events__moodboard {

 .chat {
    /* chat dress message */
    .msg-dress {
      margin-top: 15px;
      text-align: right;

      @include screen-xxs {
        padding-right: 5px;
      }

      .chat-dress-container {
        max-width: 350px;
      }
      .chat-dress-right-col {
        width: 20%;
        display: inline-block;
      }
      .chat-likes-container {
        height: 362px;
        display: table;
      }
      .likes {
        height: 100%;
        display: table-cell;
        vertical-align: middle;;
      }
      .dress-box {
        width: 80%;
        min-width: 0;
        margin: 0;
      }
      .dress-box-body img {
        height: 316px;
        width: 223px;
      }
      .icon-unliked {
        position: relative;
        top: 6px;
      }
      .icon-liked {
        position: relative;
        top: 6px;
      }
    }
  }
}
