.shared__header {
  .arrow {
    height: 100%;
  }

  .arrow {
    display: inline-block;
    background: image-url('lessthan.svg') no-repeat center;
    background-size: 35px 25px;
    height: 50px;
    width: 35px;
    float: left;
  }

  i.help {
    background-image: image-url('wedding-atelier/icons@2x.png');
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 4px -1px;
    background-size: cover;
  }

  i.cart {
    background-image: image-url('wedding-atelier/icons@2x.png');
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -64px -1px;
    background-size: cover;
  }

  i.hamburguer {
    background-image: image-url('wedding-atelier/icons@2x.png');
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -29px -1px;
    background-size: cover;
  }

  .header-2-col  {
    background-image: image-url('wedding-atelier/marbel.png');
    height: 68px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;

    ul {
      margin: 0;
      padding: 13px;
    }

    .left-nav {
      display: flex;
      align-items: center;
      min-width: 44px;

      li {
        display: inline-block;
        margin-left: 5px;
        border-right: 1px solid $black;
        line-height: 8px;
        padding-right: 8px;
      }

      li:last-child,
      li:first-child {
        border-right: 0;
      }

      img.profile-image {
        height: 30px;
        width: 30px;
      }

    }

    .center-nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      span.title {
        display: inline-block;
        font-size: 1.2em;
      }

    }

    .right-floating-icons {

      position: absolute;
      right: 0;

      li {
        display: inline-block;
        margin-right: 5px;
        padding-left: 8px;
      }
    }

    @include screen-xs {

      .text-link {
        display: none;
      }

      span.title {
        display: none !important;
      }
    }

  display: none;
  }


  .header-3-col  {
    background-image: image-url('wedding-atelier/marbel.png');
    height: 68px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;

    ul {
      margin: 0;
      padding: 13px;
    }

    .left-nav {

      li {
        display: inline-block;
        margin-left: 5px;
        border-right: 1px solid $black;
        line-height: 8px;
        padding-right: 8px;
      }

      li:last-child,
      li:first-child {
        border-right: 0;
      }

      img.profile-image {
        height: 30px;
        width: 30px;
      }

    }

    .center-nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      span.logo {
        display: inline-block;
        background-image: image-url('wedding-atelier/logo-black.svg');
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 240px;
        width: 300px;
        height: 28px;
      }
    }

    .right-nav {

      li {
        display: inline-block;
        margin-right: 5px;
        padding-left: 8px;
      }

    }

    @include screen-xs {

      .text-link {
        display: none;
      }

      span.title {
        display: none !important;
      }
    }

  }
}
