.shared-header {
  background: transparent image-url('wedding-atelier/marbel.png');
  height: 69px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.shared-header-back-arrow,
.shared-header-options,
.shared-header-logo,
.shared-header-commands {
  display: inline-block;
  height: 100%;
}

.shared-header-back-arrow {
  background: transparent image-url('lessthan.svg') no-repeat center;
  background-size: 20px 35px;
  margin-left: 10px;
  width: 30px;
}

.shared-header-options {
  margin-left: 10px;

  ul {
    display: table;
    list-style: none;
    height: 100%;
    margin: 0;
    padding-left: 0;
  }

  li,
  a {
    display: table-cell;
    font-size: .8rem;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .border-wrapper {
    border-right: 1px solid $black;
    padding: 5px;
  }
}

.shared-header-profile-image > img{
  width: 35px;
}

.shared-header-logout > a {
  padding: 5px;
}

.shared-header-logo {
  background: transparent image-url('wedding-atelier/logo-black.svg') no-repeat center;
  background-size: contain;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 160px;

  &:after {
    content: 'beta';
    display: block;
    background-color: $black;
    border-radius: 15px;
    color: white;
    width: 38px;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    right: -44px;
    top: 10px;
    font-size: 10px;
  }
}

.shared-header-commands {
  margin-right: 10px;
  position: absolute;
  right: 0;
  text-align: right;
}

.commands-help,
.commands-menu,
.commands-shopping-bag {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  width: 35px;
}

.commands-help {
  background-image: image-url('wedding-atelier/icons/help.svg');

  &:hover {
    background-image: image-url('wedding-atelier/icons/help-hover.svg');
  }
}

.commands-menu {
  background-image: image-url('wedding-atelier/icons/hamburger.png');
}

.commands-shopping-bag {
  background-image: image-url('wedding-atelier/icons/cart.svg');

  &:hover {
    background-image: image-url('wedding-atelier/icons/cart-hover.svg');
  }
}

@include screen-sm {
  .shared-header-logo {
    width: 260px;
  }

  .shared-header-commands {
    width: 110px;
  }
}
