.calendar-icon {
  width: 19px;
  height: 19px;
  display: block;
  background-image: image-url('wedding-atelier/1476418446-calendar.png');
  background-repeat: no-repeat;
}

.icon-unliked {
  display: inline-block;
  background: image-url('wedding-atelier/icons/static-heart.svg') no-repeat center;
  width: 26px;
  height: 22px;
  background-size: cover;
  cursor: pointer;
}

.icon-liked {
  display: inline-block;
  background: image-url('wedding-atelier/icons/active-heart.svg') no-repeat center;
  width: 26px;
  height: 22px;
  background-size: cover;
  cursor: pointer;
}

.icon-close {
  display: inline-block;
  background: image-url('wedding-atelier/icons/close.svg') no-repeat center;
  width: 16px;
  height: 16px;
  margin: 4px;
  cursor: pointer;
}

.icon-close-white {
  display: inline-block;
  background: image-url('wedding-atelier/icons/close-white.svg') no-repeat center;
  width: 16px;
  height: 16px;
  margin: 4px;
  cursor: pointer;
}

.icon-tick {
  display: inline-block;
  background: image-url('wedding-atelier/icons/tick.svg') no-repeat center;
  width: 16px;
  height: 16px;
  margin: 4px;
  cursor: pointer;
}

.icon-loading {
  display: inline-block;
  background: image-url('wedding-atelier/icons/loader.gif') no-repeat center;
  width: 16px;
  height: 16px;
  margin: 4px;
  cursor: pointer;
}
