.wedding-atelier-notification {
  background-color: $black;
  color: $white-two;
  height: 62px;
  letter-spacing: 1px;
  line-height: 62px;
  position: absolute;
  text-align: center;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform 600ms cubic-bezier(.19, 1, .22, 1);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &.show {
    transform: translateY(0%);
  }

  .notification-close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 0;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}
