li.mega-menu-list--item= link_to 'Black'        , colour_path('Black')
li.mega-menu-list--item= link_to 'White / Ivory', colour_path('White')
li.mega-menu-list--item= link_to 'Blue'         , colour_path('Blue')
li.mega-menu-list--item= link_to 'Pink'         , colour_path('Pink')
li.mega-menu-list--item= link_to 'Red'          , colour_path('Red')
li.mega-menu-list--item= link_to 'Pastel'       , colour_path('Pastel')
