li.mega-menu-list--item = link_to 'Formal Dresses'        , build_taxon_path('Formal')
li.mega-menu-list--item = link_to 'Wedding Dresses'       , build_taxon_path('Wedding')
li.mega-menu-list--item = link_to 'Birthday Dresses'      , build_taxon_path('Birthday')
li.mega-menu-list--item = link_to 'Special Event Dresses' , build_taxon_path('Special Event')
li.mega-menu-list--item = link_to 'Ball Gowns Dresses'    , build_taxon_path('Ball Gowns')
li.mega-menu-list--item = link_to 'Bridesmaid Dresses'    , bridesmaid_collection_path
li.mega-menu-list--item = link_to 'Graduation Dresses'    , build_taxon_path('Graduation')
li.mega-menu-list--item = link_to 'Prom Dresses'          , build_taxon_path('Prom')
li.mega-menu-list--item = link_to 'Homecoming Dresses'    , build_taxon_path('Homecoming')
li.mega-menu-list--item = link_to 'Sweet 16 Dresses'      , build_taxon_path('Sweet 16')
li.mega-menu-list--item = link_to 'Debutante Dresses'     , build_taxon_path('Debutante')
