title = get_title
meta name="description" content=(get_meta_description)
meta charset="utf-8"
meta name="viewport" content="width=device-width"

link rel="canonical" href=get_canonical_href
link rel="alternate" hreflang="en-US" href="http://www.fameandpartners.com/"
link rel="alternate" hreflang="en-AU" href="http://www.fameandpartners.com/au"

- unless Rails.env.production?
  meta name="robots" content="noindex, nofollow"

/[if lt IE 9]
  = javascript_include_tag 'html5.js'

/[if IE]
  = stylesheet_link_tag 'ie'

= yield :head
