title = get_title
meta name="description" content=(get_meta_description)
meta charset="utf-8"
meta name="viewport" content="width=device-width"

- if current_site_version.is_australia? && !request.fullpath.include?('/au')
	link rel="canonical" href="http://#{request.host}/au#{request.fullpath}"
- else
  link rel="canonical" href="http://#{request.host}#{request.fullpath}"

link rel="alternate" hreflang="en-US" href="http://www.fameandpartners.com/"
link rel="alternate" hreflang="en-AU" href="http://www.fameandpartners.com/au"

- unless Rails.env.production?
  meta name="robots" content="noindex, nofollow"

/[if lt IE 9]
  = javascript_include_tag 'html5.js'

/[if IE]
  = stylesheet_link_tag 'ie'

= yield :head
