<script>
  window.ShoppingSpreeData =
  {
  firebaseAPI: '<%= ENV['FIREBASE_API_KEY'] %>',
  firebaseDatabase: '<%= ENV['FIREBASE_DATABASE_NAME'] %>',
  firebaseNodeId: '-Kr9LrScn5e-xeaXKqe-'
  };
</script>
<div id="shopping-spree"></div>
<div id="shopping-spree-onboarding"></div>
