<div class="shopping-spree-container">
    <div class="header">Shopping Spree</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target=".chat-content"></i>
    <div class="chat-list">
      <div class="chat-content collapse out">
        Test
      </div>
    </div>
</div>
