ruby:
  shopping_bag_texts = Preferences::ShoppingBag.new(current_site_version)

  shopping_bag_init = "
    window.app.shopping_bag = new ShoppingBag({
      cart:         window.app.shopping_cart,
      overlay:      '#shadow-layer',
      container:    '#cart',
      toggle_link:  '.js-header-toolbar .js-trigger-shopping-bag',
      auto_open:    /open_cart=true/.test(window.location.search),
      country_code: '#{session[:country_code]}',
      value_proposition: \"#{shopping_bag_texts.value_proposition}\",
      shipping_message: \"#{shopping_bag_texts.shipping_message}\""
  if masterpass_available?
    shopping_bag_init = shopping_bag_init + ",
      masterpass_link: '#buyWithMasterPass',
      masterpass_cart_callback_uri: urlWithSitePrefix('/masterpass/cart?payment_method_id=" + masterpass_payment_method.id.to_s + "')"
  end
  shopping_bag_init = shopping_bag_init + "});"

= content_for :inline_javascript do
  = raw shopping_bag_init

#shadow-layer
#cart
