<script>
  window.ShoppingSpreeData =
  {
  firebaseAPI: '<%= ENV['FIREBASE_API_KEY'] %>',
  firebaseDatabase: '<%= ENV['FIREBASE_DATABASE_NAME'] %>',
  firebaseNodeId: '-KrDb2wrZbeIzh_2rM4H'
  };
</script>
<div  id="shopping-spree"></div>
