li = link_to 'Plus Size'   , build_taxon_path('Plus Size')
li = link_to 'Two-Piece'   , build_taxon_path('Two Piece')
li = link_to 'One Shoulder', build_taxon_path('One-Shoulder')
li = link_to 'Strapless'   , build_taxon_path('Strapless')
li = link_to 'V-Neck'      , build_taxon_path('V-Neck')
li = link_to 'Split'       , build_taxon_path('Split')
li = link_to 'Backless'    , build_taxon_path('Backless')
li = link_to 'Lace'        , build_taxon_path('Lace')
