coffee:
  $ ->
    selector_template = (site_version) ->
      return site_version.text if site_version.loading

      """
      <div class="fame-template-result">
        <img src="#{$(site_version.element).data("flag-url")}" alt="#{site_version.text}"/>
        #{site_version.text}
      </div>
      """

    $('#locale_selector').select2
      escapeMarkup: (markup) -> markup
      minimumResultsForSearch: Infinity
      templateResult: selector_template,
      templateSelection: selector_template
      theme: 'fame'
    .on 'change', (e) ->
      window.location = $(this).val();

#locale-switcher-bar.row.visible-md-block.visible-lg-block
  #select-locale.col-md-4.text-left
    | You're shopping in:
    = select_tag :locale_selector, options_for_select(SiteVersions::Presenter.options_for_select, site_version_path(current_site_version.code))

  #ad-text.col-md-4.text-center
    | Free Shipping in Australia and New Zealand

  #customer-service.col-md-4.text-right
    | 24/7 Customer Service 1300 924 860