.blog-header {
	font-family: $cinzelNormal;
	font-size: 17px;
	min-height: 200px;
	padding-top: 20px;
	position: relative;
	@extend .centered-layout;
	.logo-holder {
		margin: 0 auto;
		width: 269px;
		height: 178px;
		position: relative;
		text-align: center;
		overflow: hidden;
		z-index: 2;
		&:hover {
			.chain-logo {
				opacity: 0.3;
				filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
			}
			.fp-logo {
				opacity: 1;
				filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			}
		}
		.chain-logo {
			position: absolute;
			cursor: pointer;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: url('_blog/blog-logo.png') no-repeat;
			opacity: 1;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			@include transition((all) (0.2s) (linear));
		}
		.fp-logo {
			text-decoration: none;
			position: relative;
			z-index: 1;
			font-size: 175px;
			opacity: 0;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			@include transition((all) (0.2s) (linear));
		}
	}
	.toggle-search {
		position: absolute;
		right: 0;
		top: 20px;
		cursor: pointer;
		font-size: 10px;
		font-family: $cinzelNormal;
		z-index: 2;
	}
	.search {
		position: absolute;
		z-index: 1;
		top: 10px;
		padding-top: 10px;
		left: 0;
		right: 0;
		min-height: 390px;
		display: none;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: $greenColor;
			opacity: 0.8;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
			z-index: 0;
		}
		form {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			input[type="text"] {
				border: 0;
				background: none;
				font-family: $fontFour;
				font-size: 53px;
				width: 80%;
				text-align: center;
				@include placeholder(#000);
			}
			button {
				border: 0;
				border-bottom: solid 1px #000;
				background: 0;
				cursor: default;
				font-size: 10px;
				font-family: $cinzelNormal;
			}
		}
	}
}