---
stack:
  name: fandp-web
  default_env: staging
  environments:
    - qa1:
        maintenance_role: web
        region: us-east-1
        roles:
          - name: web
            user: app_user
    - qa2:
        maintenance_role: web
        region: us-east-1
        roles:
          - name: web
            user: app_user
    - staging:
        maintenance_role: web
        region: us-east-1
        roles:
          - name: web
            user: app_user
    - production:
        region: us-east-1
        roles:
          - name: web
            user: app_user
          - name: worker
