= link_to 'Sign out', destroy_user_session_path if current_spree_user
.header-mobile.hidden-sm.hidden-md.hidden-lg
  = link_to '', :back, class: 'arrow'
  = link_to '', wedding_atelier_root_path, class: 'logo'
