= react_component 'CustomizationExperience',
                  siteVersion: current_site_version.permalink,
                  eventSlug: @event.slug,
                  customizationsUrl: event_customizations_url(@event),
                  initialDress: WeddingAtelier::EventDressSerializer.new(@dress, scope: self),
                  edit: true,
                  event_name: @event.name,
                  event_path: wedding_atelier.events_path(@event),
                  currentUser: WeddingAtelier::UserSerializer.new(spree_current_user)
