= react_component 'CustomizationExperience',
                  siteVersion: current_site_version.permalink,
                  eventId: @event.id,
                  customizationsUrl: event_customizations_url(@event, format: :json),
                  event_name: @event.name,
                  event_path: wedding_atelier.event_path(id: @event.id, slug: @event.slug),
                  currentUser: WeddingAtelier::UserSerializer.new(spree_current_user, scope: self),
                  channel_prefix: ENV['RAILS_ENV'],
                  twilio_token_path: token_path

= react_component 'Tutorial',
                  signupStep: spree_current_user.wedding_atelier_signup_step,
                  userPath: wedding_atelier.user_path(spree_current_user)
