#atelier {
  height: 100%;

  .right-container {
    height: 100%;
  }

  h1.moodboard-title {
    margin: 23px 0;
  }

  /* FIRST TAB — BRIDESMAID DRESSES */

  #bridesmaid-dresses {
    padding: 35px 0;
  }

  .add-dress-box {
    margin: 30px;
  }

/* SECOND TAB — WEDDING DETAILS */

  #wedding-details {
    padding-top: 60px;

    form {
      width: 340px;
    }
  }

/* THIRD TAB - MANAGE BRIDAL PARTY */

  #manage-bridal-party {
    padding-top: 60px;
    width: 340px;

    h1 {
      font-family: FreightDispPro;
      margin-bottom: 29px;
      em {
        font-weight: 400;
      }
    }
  }

  .invited-people {
    height: 134px;
    overflow: auto;
    border-top: 1px solid $greyish;
    border-bottom: 1px solid $greyish;
    margin-top: 21px;
  }

  .person {
    font-family: NeuzeGro;
    letter-spacing: 0.7px;
    font-size: 0.82em;
    text-transform: uppercase;
    margin: 16px 0;
  }

  .person-name {
    color: $black;
  }

  .person-role {
    color: $warm-grey;
  }
}
