#events__moodboard {

  .btn-send-container {
    margin: 6px;

    .btn-send-msg-to-chat {
      border-radius: 2px;
      font-size: 14px;
      height: 100%;
      margin-top: 0;
      width: 110px;
      background-color: $black-two;
    }
  }

  .btn-send-to-chat {
    background: image-url('wedding-atelier/icons/send-to-chat.svg');
    border: 0;
    background-color: transparent;
    font-weight: 700;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 27px;
    height: 25px;
  }

  .btn-add-to-cart {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    font-weight: 700;
    text-transform: uppercase;
  }

  .add-dress-box {
    a {
      border: 2px dashed $white-four;
      display: block;
      height: 307px;
      width: 242px;
      background-image: image-url('wedding-atelier/add-dress.png');
      background-color: $white-two;
      background-repeat: no-repeat;
      background-position: 36px 109px;
      text-indent: -9999px
    }
  }

  .btn-create-a-dress {
    height: 44px;
    width: 176px;
    background-color: $white-two;
    color: $black;
    border: 1px solid $black;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 1.1em;

    em {
      text-transform: none;
      text-decoration: underline;
      font-family: $primary-font;
    }

    &:hover {
      background-color: $wild-sand;
    }
  }

  #wedding-details {
    .btn-black {
      padding: 0 35px;
    }
  }

  #manage-bridal-party {
    .btn-facebook-fancy {
      display: inline-block;
      width: 100px;
    }
  }
}
