#events__moodboard {
  .dress-box-header {
    .icon-unliked {
      width: 26px;
      height: 22px;
    }

    .icon-liked {
      width: 26px;
      height: 22px;
    }

    .icon-close {
      margin: 4px;
    }
  }
}
