#events__moodboard {

  @include screen-xs {
    /* left side : hidden */
    .chat.left-content { display: none; }

    /* right side - Becoming full layout */
    .moodboard-title { display: none; }

    .right-content {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }

    .right-container {
      height: 100%;
      width: auto;
    }

    .tab-content {
      overflow: auto;
      height: calc(100% - 44px);
    }

    /* this is just the container when on the tab */
    #chat-mobile {
      height: 100%;
    }

    .chat-general-info {
      display: none;
    }

    .btn-create-a-dress {
      width: 100%;
      background: transparent image-url('wedding-atelier/marbel.png');
      border: 0;
      margin: 0;
      height: 67px;
      font-size: 1.8em;
      line-height: 55px;
    }

    .dresses-actions {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }

  @include screen-md {

    .tab-chat {
      display: none;
    }

    .chat-mobile {
      display: none;
    }

    .chat.left-content { display: flex; }
  }

  @include screen-lg {

    .tab-chat {
      display: none;
    }

    .chat-mobile {
      display: none;
    }

    .chat.left-content { display: flex; }
  }
}
