.moodboard-react-container {
  height: 100%;

  .left-content {
    height: 100%;
  }

  .bridal-gowns span {
    color: #acacac;
    &.coming-soon {
      font-size: 9px;
      left: 25%;
      position: absolute;
      top: 0;
    }
  }

  #bridesmaid-dresses {
    width: 749px;
  }

  .dresses-list {
    padding-top: 25px;
    height: 100%;
  }

}
