.moodboard-react-container {
  height: 100%;

  .left-content {
    height: 100%;
    position: relative;
  }

  .right-content {
    position: relative;
  }

  #bridesmaid-dresses {
    max-width: 700px;

    @include screen-xs {
      padding-bottom: 80px;
    }
  }
}
