.right-content {
  height: 100%;
  overflow: scroll;

  .right-container {
    position: relative;
    width: 100%;


    @include screen-xs {
      min-width: 100%;
    }
  }

  h1.moodboard-title {
    padding: 23px 0;
    margin: 0;
  }

  /* FIRST TAB — BRIDESMAID DRESSES */

  .dresses-actions {
    padding-top: 25px;
  }

  .add-dress-box {
    margin: 30px;
  }

  .dresses-list {
    padding-top: 25px;
    height: 100%;
  }


/* SECOND TAB — WEDDING DETAILS */

  #wedding-details {
    padding-top: 60px;

    form {
      width: 340px;
      text-align: left;
      @include screen-xs {
        max-width: 300px;
      }
    }

    .date-picker input {
      background: $white-two;
    }
  }

/* THIRD TAB - MANAGE BRIDAL PARTY */

  #manage-bridal-party {
    padding-top: 60px;
    width: 340px;

    @include screen-xs {
      max-width: 300px;
    };

    h1 {
      font-family: $primary-font;
      margin-bottom: 29px;
      em {
        font-weight: 400;
      }
    }
  }

  .invited-people {
    height: 134px;
    overflow: auto;
    border-top: 1px solid $greyish;
    border-bottom: 1px solid $greyish;
    margin-top: 21px;
  }

  .person {
    font-family: NeuzeGro;
    letter-spacing: 0.7px;
    font-size: 0.82em;
    text-align: left;
    text-transform: uppercase;
    margin: 16px 0;
  }

  .person-name {
    color: $black;
  }

  .person-role {
    color: $warm-grey;
  }
}
