.moodboard-tabs {
  .tabs-container {
    overflow-x: auto;
    text-align: center;
    &.show-popovers {
      overflow-x: inherit;
    }
  }

  .nav {
    display: inline-block;
    min-width: 615px;
  }
  .bridal-gowns span {
    color: $greyish;
    &.coming-soon {
      font-size: 9px;
      left: 25%;
      position: absolute;
      top: 0;
    }
  }

  .tab-content {
    overflow: auto;
    height: 100%;
  }
}

.bridal-party__no-invites {
  &:before {
    content: '1';
    padding: 2px 7px;
    position: absolute;
    top: 0;
    right: 0;
    background: $red;
    color: $white;
    border-radius: 50%;
  }
}
