<!DOCTYPE html>
<html>
<head>
  <title>ManualOrder</title>
  <%= stylesheet_link_tag    "manual_order/application", :media => "all" %>
  <%= javascript_include_tag "manual_order/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
