= render partial: "spree/admin/shared/blog_sub_menu"
- content_for :page_title do
  | Listing Celebrity photos

- content_for :page_actions do
  - if @post.present?
    li
      = button_link_to "New Celebrity Photo", new_admin_blog_post_celebrity_photo_path(@post), :icon => 'icon-plus', :id => 'admin_new_author'
    li
      = button_link_to "Back To Post", edit_admin_blog_post_path(@post)
  - elsif @celebrity.present?
    li
      = button_link_to "New Celebrity Photo", new_admin_blog_celebrity_celebrity_photo_path(@celebrity), :icon => 'icon-plus', :id => 'admin_new_author'
    li
      = button_link_to "Back To Celebrity", edit_admin_blog_celebrity_path(@celebrity)

- if @celebrity_photos.present?
  table.index.blog_posts
    thead
      tr
        th Photo
        th State
        th Celebrity
        th.actions
    tbody
      - @celebrity_photos.each do |photo|
        tr.author
          td
            = image_tag photo.photo.url, height: '100'
          td= photo.state
          td= photo.celebrity.fullname
          td
            - if @post
              = link_to "", edit_admin_blog_post_celebrity_photo_path(@post, photo), class: "icon_link with-tip icon-edit no-text", "data-action" => "edit"
              | |
              = link_to "", admin_blog_post_celebrity_photo_path(@post, photo), method: :delete,  confirm: "Are you sure?", class: "icon_link with-tip icon-remove no-text", "data-action" => "delete"
            - elsif @celebrity
              = link_to "", edit_admin_blog_celebrity_celebrity_photo_path(@celebrity, photo), class: "icon_link with-tip icon-edit no-text", "data-action" => "edit"
              | |
              = link_to "", admin_blog_celebrity_celebrity_photo_path(@celebrity, photo), method: :delete,  confirm: "Are you sure?", class: "icon_link with-tip icon-remove no-text", "data-action" => "delete"
- else
  = render partial: "spree/admin/shared/no_items_found"
= paginate @celebrity_photos
