/ = content_for :inline_javascript do
/   = raw "initProductCollectionImageHover({selector: '.category--item', delegate: '.img-product'})"

= content_for :head do
  meta name="robots" content="noindex, nofollow"
