<!DOCTYPE html>
<html>
<head>
  <title>Revolution</title>
  <%= stylesheet_link_tag    "revolution/application", :media => "all" %>
  <%= javascript_include_tag "revolution/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
