= link_to pre_season_evening_collection_landing_page_path, class: 'panel-highlight media-wrap'
  = image_tag 'lookbook/pre-season-evening-collection.jpg', alt: ""
  .copy-wrap The Pre Season Evening Collection <em><span>View this collection</span></em>
