= link_to '/bespoke-bridal-collection', class: 'panel-highlight media-wrap'
  = image_tag 'lookbook/pre-season-evening-collection.jpg', alt: ""
  .copy-wrap <span class="copyTitle text-transform-none">Bespoke Bridal Collection</span> <em><span>View this collection</span></em>
