<h1>
  <em>Customize</em> it how you want
</h1>
<ul>
  <li>
    <a href="#">
      <div className="customization-item-box table-cell-middle">
        <img src="/assets/wedding-atelier/icons/silhouette.png" />
        <p className="customization-label">silhouette</p>
      </div>
    </a>
    <p className="customization-value">Strapless Column</p>
  </li>
  <li>
    <a href="#">
      <div className="customization-item-box table-cell-middle">
        <img src="/assets/wedding-atelier/icons/fabric-colour.png"/>
        <p className="customization-label">Fabric + Colour</p>
      </div>
    </a>
    <p className="customization-value">Heavy Gerogette | Navy + $12</p>
  </li>
  <li>
    <a href="#">
      <div className="customization-item-box table-cell-middle">
        <img src="/assets/wedding-atelier/icons/length.png"/>
        <p className="customization-label">length</p>
      </div>
    </a>
    <p className="customization-value"></p>
  </li>
  <li>
    <a href="#">
      <span className="customization-item-box table-cell-middle">
        <img src="/assets/wedding-atelier/icons/style.png"/>
        <p className="customization-label">style</p>
      </span>
    </a>
  </li>
  <li>
    <a href="#">
      <span className="customization-item-box table-cell-middle">
        <img src="/assets/wedding-atelier/icons/fit.png"/>
        <p className="customization-label">fit</p>
      </span>
      <p className="customization-value"></p>
    </a>
  </li>
  <li>
    <a href="#">
      <span className="customization-item-box table-cell-middle">
        <img src="/assets/wedding-atelier/icons/size.png" alt=""/>
        <p className="customization-label">size</p>
      </span>
      <p className="customization-value"></p>
    </a>
  </li>
</ul>
