/* [About us]
-------------------------------------------------------*/
// START - desktop
.about {

  .hero-wrap.copy-right{
    background-color: $beage-bg;

    .media-wrap {
      display: none;
    }
    .heading {
      margin-bottom: 50px;
      text-align: left
    }
  }

  img {
    width: 100%;
  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .main-hero-wrap.copy-right {

      .media-wrap {
        padding-bottom: 39%;
      }

      .heading {
        max-width: 360px;
      }

    }

  }
  // END - desktop

}
// END - about
