Ï.about {

	.benefit-box {
		padding:20px;
		height:230px;
		position:relative;

		h3, p {
			z-index: 99;
		}

		.show-style-quiz {
			font-size: 13px;
			margin-top: 15px;
			padding: 10px;
		}

		.number {
			font-family: FontAwesome;
		 	position: absolute;
	    	left: 50px;
	    	top: 10px;
	    	display: inline-block;
	    	line-height:200px;
	    	color:#EEDDF0;
	    	font-size:280px;
	    	z-index: -1;
	    	margin:0;
	    	padding:0;
	    	font-style:italic;
		}


	}


}
