// TODO: Remove legacy styling from here.
%cfix {

  &:after {
    clear: both;
    content: '';
    display: table;
  }

}

.icon-cross {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:before {
    width: 200%;
    height: 1px;
    margin-top: -1px;
    margin-left: -100%;
  }

  &:after {
    height: 200%;
    width: 1px;
    margin-top: -106%;
  }

}

.sticky-header .alert-sale {
  position: absolute;
  top: $mega-menu-desktop-height;
  left: 0;
  right: 0;
  z-index: 4;
}

.alert-sale {
  position: relative;
  padding: 0 15px;
  text-transform: uppercase;
  color: $c-neutral-black;
  background: $c-neutral-2;

  &.custom-sale-banner-top {
    background: $c-light-blue;
    color: $c-neutral-white;

    a {
      color: $c-neutral-white;
      text-decoration: none;
    }

    .title-wrap {
      height: 30px;
    }

    .title {
      font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
      max-width: 100%;
      font-size: 14px;
      font-weight: 500;
    }

    .alert-sale-cta {
      color: $c-neutral-white;
      font-weight: 600;
      padding-left: 2px;
      border-bottom: 1px solid $c-neutral-white;
    }

  }

  &.custom-sale-banner-top.PriceDropBanner {
    background: $c-price-drop-bg;
    color: $c-neutral-white;
  }

  &.custom-sale-banner-top--salmon {
    background: #f09c90;

    a,
    .alert-sale-cta {
      color: $c-neutral-white;
      font-weight: 600;
    }

  }

  .clock {
    display: none;
    padding-bottom: 10px;
    padding-top: 10px;

    .heading {
      margin-right: 10px;
    }

    .colon {
      position: absolute;
      margin-left: 8px;
    }

    .hh,
    .mm,
    .ss {
      background-color: black;
      color: white;
      width: 35px;
      font-weight: 600;
      padding-left: 2px;
      padding-right: 2px;
      letter-spacing: 2px;
      position: relative;
      display: inline-block;
    }

    .mm, .ss{
      margin-left: 20px;
    }

  }

  a {
    text-decoration: underline;
    color: $c-neutral-black;
    margin-left: 5px;
  }

  .outer-wrap {
    max-width: $bootstrap-lg-width;
    margin: 0 auto;
    text-align: center;
  }

  .inner-wrap {
    display: inline-block;
    margin-bottom: -7px;
  }

  .title-wrap {
    display: table;
    height: 42px;
  }

  .title {
    display: table-cell;
    max-width: 450px;
    padding: 0 30px;
    vertical-align: middle;
    line-height: 1;
    font-size: 0.938em;
  }

  .icon {
    padding: 0 10px;
    opacity: .8;
    text-transform: uppercase;

    [class^="svg-"] {
      margin-top: 5px;
    }

    > div {
      float: left;
    }

    .copy {
      padding-left: 5px;
      line-height: 42px;
      font-size: 0.688em;
    }

  }

  // START - promo code version
  &.promo-code {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $c-neutral-white;
    background: $c-neutral-black;

    .inner-wrap {
      @extend %cfix;
      vertical-align: text-bottom;

      > span {
        display: block;
        float: left;
        height: 34px;
        line-height: 34px;
      }

    }

    .spacer {
      width: 24px;
      height: 1px;
      display: inline-block;
    }

    .timer-box {
      margin-left: 36px;
      display: inline-block;
      font-size: 17px;

      > span {
        display: block;
        float: left;
      }

    }

    .close {
      @extend .icon-cross;
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -8px;
      width: 16px;
      height: 16px;

      &:before,
      &:after {
        background: $c-neutral-white;
      }

    }

  }
  // END - promo code version

  @media (max-width: 1150px) {

    & {

      .icon:first-child,
      .icon:last-child {
        display: none;
      }

    }

  }

  @media (max-width: 800px) {

    & {

      .inner-wrap {
        display: block;
        margin-bottom: 0;
      }

      .title-wrap {
        width: 100%;
        height: auto;
        padding: 10px 0;
      }

      .title {
        max-width: none;
      }

      .icon {
        display: none;
      }

    }

  }

}

// TO DO: refacto this
.auto-discount-applied {
  padding: 10px 0;
}
