.cart--call-to-actions {
  padding: 0;

  > div {
    padding: 0 1em 1em 1em;
  }

  .btn {
    padding: 10px 12px 6px 12px;
    font-family: $font-family-secondary;
  }

  #buyWithMasterPass {
    padding: 0;
    margin-top: 5px;
  }
}

#cart {
  position: fixed;
  top: 0;
  height: 100%;
  padding-top: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  right: -100%;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

#cart .shopping-bag-masterpass {
  margin-top:20px;
}

#cart.speed-in {
  right: 0;
}

#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#cart .cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  display: none;
}

#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -o-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* --------------------------------

xkeyframes

-------------------------------- */
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cart {
  .cart{
    position: relative;

    .icon-shopping_cart{
      font-size: 1.5em;
      position: absolute;
      margin-left: -35px;
    }
    .cart-amount{
      font-weight: bold;
      position: absolute;
      font-size: 12px;
      top: 5px;
      left: 25px;
      color: $c-neutral-black;
    }
  }

  > div {
    @extend %cfix;
  }

  .cart-total {
    padding: 1em;
  }

  .delivery-date-wrapper{
    padding: 1em;
    .inner{
      padding: 1em;
      background-color: #EEEEEE;
      .delivery-text{
        font-family: Formal;
        font-size: 1.3rem;
        .icon-delivery-express{
          margin-right: 10px;
          font-size: 16px;
          color: $c-neutral-9;
        }
      }
      .delivery-date-text{
        font-weight: 700;
      }
    }
  }
  .shopping-bag-text-wrapper {
    padding: 1em;
    font-weight: 500;

    .inner-wrap {
      padding: 1em;
      background-color: #EEEEEE;
    }

  }
  @include iphone5{
    .shopping-bag-text-wrapper {
      .shopping-bag-text{
        margin-right: 0;
        padding-top: 0px;
        padding-left: 20px;
        height: 80px;
        font-size: 1.4rem;
      }
    }
  }
}

.cart-promo-message {
	padding:15px 5px 15px 5px;
	border-bottom: 1px solid #d9d9d9;
  text-align:center;
  color:#003192;

  .flag-uk {
    background-image: url('/assets/flags/gb.png');
    height:11px;
    width:16px;
    display:inline-block;
    margin:0 0.2em 0 0.2em;
  }
}

.cart-item-info {
  overflow: hidden;
  text-transform: none;
  span { text-transform: none;}
  .heading {
    color: #000;
    font-size: 1.25em;
  }
  .color {
    text-transform: capitalize;
  }

  .delivery-wrap-compact {
    padding: 0;
    font-size: 0.875em;

    .icon {
      font-size: 16px;
      color: $c-neutral-9;
    }

  }

}

.cart-prices {
  .small {font-size: 0.9em;}
  .total { color: #000;}
  .price-remove {
    text-transform: none;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border-bottom: dotted 1px currentColor;
    opacity: 0.5;
    &:hover {
      border-bottom-style: solid;
      opacity: 1;
    }
  }
}

.price-express-making {
  text-transform: none;
  .price-express-making-remove {
    text-transform: none;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border-bottom: dotted 1px currentColor;
    &:hover {
      border-bottom-style: solid;
    }
  }
}

.most-front {
  z-index: 10000 !important;
}

.sale-percentage{
  text-align: right;
  width: 100%;
}
