.cart--call-to-actions {

  .btn {
    padding: 10px 12px 6px 12px;
    font-family: $font-family-secondary;
  }

  #buyWithMasterPass {
    padding: 0;
    margin-top: 5px;
  }
}


#cart .cart-items li {
  @media (min-width: 1200px) {
    padding: 1em;
  }
}

.cart-promo-message {
	padding:15px 5px 15px 5px;
	border-bottom: 1px solid #d9d9d9;
  text-align:center;
  color:#003192;

  .flag-uk {
    background-image: url('/assets/flags/gb.png');
    height:11px;
    width:16px;
    display:inline-block;
    margin:0 0.2em 0 0.2em;
  }
}

.cart-item-title {
  font-size: 1.1em;
  color: #000;
  font-weight: 300;
}
.cart-item-image-holder {
  margin-right: 1em;
  .cart-item-image {
    margin-right: 0;
    @media (min-width: 1200px) { width: 80px;}
  }
}
.cart-item-info {
  overflow: hidden;
  text-transform: none;
  span { text-transform: none;}
  .heading {
    color: #000;
    font-size: 1.25em;
  }
  .color {
    text-transform: capitalize;
  }
}

.cart-prices {
  .small {font-size: 0.9em;}
  .total { color: #000;}
  .price-remove {
    text-transform: none;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border-bottom: dotted 1px currentColor;
    opacity: 0.5;
    &:hover {
      border-bottom-style: solid;
      opacity: 1;
    }
  }
}

.price-express-making {
  text-transform: none;
  .price-express-making-remove {
    text-transform: none;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    border-bottom: dotted 1px currentColor;
    &:hover {
      border-bottom-style: solid;
    }
  }
}

.center {
  text-align: center;
}