// Style Resets
// TODO - Remove upstream broken CSS
.checkout.page-content {

  .form-control {
    // Reset our crazy `styleguide` form defaults
    text-align: left; // RESET
    text-transform: none; // RESET
    background: none; // Remove image background for Select2 components.
  }

  .input-group-addon {
    // Reset our `styleguide` overrides
    border-bottom:  0 !important;
    padding:        0;
    vertical-align: bottom;
  }
}

// Vars
$checkout-masthead-top-margin: 40px;

$checkout-form-border-color-inactive: #acacac;
$checkout-form-border-color-active:   #000000;
$checkout-form-error-color: #ff2e2e;

$checkout-breadcrumbs-color-inactive: #000000;
$checkout-info-peach: #ddb099;

$payment-selector-bg: #f2f2f2;
$order-summary-bg: #f7f7f9;


.page-content.checkout {

  // product-form
  .product-form{
    margin-bottom: 30px;
  }

  // Auth messaging
  .auth-alert {
    padding: 15px 35px 15px 15px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
  }

  .alert-danger {
    margin-top: 12.5px;
  }

  label {
    color: #000;
  }

  // Payment Step
  .checkout-step {
    .slash {
      line-height:105px;
      float: left;
      margin-left: -5px;
      margin-right: -5px;
    }

    // Style the default bootstrap panel classes.
    // TODO - use semantic classes and extend the bootstrap ones.
    .payment-selection {
      .panel {
        .row:last-child .form-group { margin-bottom: 0; }

        @include border-radius(3px);
        border: 1px solid $checkout-form-border-color-inactive;
        .panel-heading {}
        h4.panel-title {
          font-size: 22px;
        }
        .panel-body {
          background-color: $payment-selector-bg;
          input {
            background-color: #ffffff;
          }
          .paypal-amex {
            font-size:0.8em;
            font-weight:normal;
            margin-top:5px;
          }
        }
      }
    }

    button[name='pay_securely']{
      margin-top: 20px;
    }
  }

  .btn-checkout {
    border: 1px solid $c-neutral-black;
    color: $c-neutral-black;
    margin-top: 2.5rem;
  }

  // Order / Cart Summary
  .checkout-items {

    .shopping-bag-text-wrapper{
        background-color: #EEEEEE;
        padding-bottom:10px;
        font-weight:500;
        @media(min-width:$bootstrap-md-width)and(max-width: $bootstrap-lg-width) {
          font-size: 1rem;
        }
        @media(min-width: $bootstrap-lg-width) {
          font-size: 1.3rem;
        }
    }
    @media(max-width:600px){
      .shopping-bag-text-wrapper{
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    @include iphone5{
      .shopping-bag-text-wrapper{
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
        .shopping-bag-text{
          margin-right: 0;
          padding-top: 15px;
          padding-left: 30px;
          height: 90px;
          font-size: 1.1rem;
        }
      }
    }
    @include iphone6{
      .shopping-bag-text-wrapper{
        .shopping-bag-text{
          margin-right: 0;
          padding-top: 15px;
          padding-left: 25px;
          height: 90px;
          font-size: 1.3rem;
        }
      }
    }
    .shopping-bag-text{
      margin-right:0;
      padding-top:10px;
      padding-left:35px;
      font-size: 1.5rem;
    }
    .shopping-bag-text span{
      float: left;
    }
    .shopping-bag-text span:not(:nth-child(2)){
      float: left;
      margin-top: 5px;
    }
    .shopping-bag-text i.coathanger{
      background-image: url('cart/coathanger.svg');
      width: 20px;
      height: 15px;
      margin-top: 2px;
      margin-right: 10px;
      display: block;
      float: left;
      background-size: contain;
      clear: both;
    }
    .shopping-bag-text i.plane{
      background-image: url('cart/plane.svg');
      width: 20px;
      height: 21px;
      margin-top: 3px;
      margin-right: 10px;
      display: block;
      float: left;
      background-size: contain;
      clear: both;
    }
    .shopping-bag-text i.mobile{
      background-image: url('cart/mobile.svg');
      width: 22px;
      height: 19px;
      margin-top: 5px;
      margin-right: 8px;
      margin-left: 1px;
      display: block;
      float: left;
      background-size: contain;
      clear: both;
    }
    .shopping-bag-payment-methods {
      text-align:center;
      margin-top:20px;

    }
    .shopping-bag-payment-methods img{
      width: 35%;
    }

    .shopping-bag-payment-methods img:last-child{
      margin-left: 20px;
    }

    .shopping-bag-masterpass {
      margin-top:20px;
    }

    h3 {
      padding-top: 0;
      margin-top:  0;
      height:      60px;
      line-height: 60px;
      font-size:   20px;
      font-weight: normal;
      i.icon {
        font-size:      35px;
        vertical-align: middle;
      }
    }
    .price-express-making {
      margin-top: 5px;
    }

    form.promo-code {
      $order-summary-form-inactive: #bababa;
      $order-summary-form-active: #000000;

      input.promo-code-value:focus + span > .promo-code-apply {
        background: $order-summary-form-active;
      }

      @include iphone5 {
        span.input-group-btn{
          width: 100px;
          float: left;
        }
        .promo-code-value{
          width: 120px;
        }
        .promo-code-apply {
          font-size: 1.5rem !important;
          width: 100px;
        }
      }

      @include iphone6 {
        span.input-group-btn{
          width: 110px;
          float: left;
        }
        .promo-code-apply {
          width: 125px;
          font-size: 1.5rem !important;
        }
        .promo-code-value{
          width: 150px;
        }
      }
      @include iphone6p {
        span.input-group-btn{
          width: 150px;
          float: left;
        }
        .promo-code-apply {
          width: 155px;
          font-size: 1.5rem !important;
        }
        .promo-code-value{
          width: 160px;
        }
      }
    }

    // Total Items, currently p tags
    // TODO convert to list or table.
    p:first-of-type, p:last-of-type {
      padding-top: 5px;
    }
    .order-number {
      text-align: center;
      font-size:  10px;
      color:      darken($gray-light-bg, 20%);
    }
  }

  @media (max-width: $bootstrap-sm-width - 1px) {

    .btn {
      padding-left: 5px;
      padding-right: 5px;
    }

  }

}

.checkout.page-content {
  .form-control {
    color: $black-checkout-input;
  }
}
