// Style Resets
// TODO - Remove upstream broken CSS
.checkout.page-content {
  p {
    font-weight: normal; // RESET
  }

  h1, h2 {
    text-transform: none; // RESET
  }

  label {
    text-transform: none; // RESET
  }
}

// Vars
$checkout-form-border-color-inactive: #acacac;
$checkout-form-border-color-active:   #000000;


.checkout.page-content {
  .checkout-masthead {
    margin-top: 40px;
    vertical-align: middle;
    line-height: 60px;

    h1 {
      line-height: 60px;
      margin: 0;
      padding: 0;

      display: inline-block;
      font-size: 30px;
      font-family:$font-family-secondary;

      img.logo {
        display: inline-block;
        line-height: 60px;
      }
    }

    .support-options {
      margin:0;
      float:right !important;

      li {
        line-height: 60px;
      }

      .live-chat {
        @extend .icon;
        @extend .icon-comment;
      }

      li + li {
        border-left: 1px solid #000000;
      }

      .support-telephone {
        @extend .icon;
        @extend .icon-guarantee;
      }
    }
  }

  .checkout-step {
    .checkout-section-title {
      font-size: 30px;
      font-weight: normal;
    }

    .form-control {
      border: 1px solid $checkout-form-border-color-inactive;

      &:focus {
        border-color: $checkout-form-border-color-active;
      }
    }


  }
}
