.facebook-button {
	height: 33px;
	line-height: 31px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 100;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	border-top: 1px solid #2f4b83;
	border-right: 1px solid #2f4b83;
	position: relative;
	padding: 0 15px 0 45px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	@include linear-gradient(#597ab2 0%, #597ab2 50%, #3d5d99 51%, #3d5d99 100%);
	.icon {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30px;
		font-size: 17px;
		border-radius: 5px 0 0 5px;
		text-align: center;
		@include linear-gradient(#44619a 0%, #44619a 50%, #344f81 51%, #344f81 100%);
	}
}