.thefamechain {
	padding-top: 0;

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.apply {
		background-color: black;
		margin-left: 0;
		margin-right: 0;

		@media screen and (max-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		}

		p {
			color: white;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		h2 {
			text-transform: uppercase;
			color: white;
			font-family: forum;
			font-size: 8rem;

			@media screen and (max-width: 768px) {
				font-size: 5rem;
				line-height: 5.5rem
 			}
		}

		ul {
			list-style: none;
			color: white;
			text-transform: uppercase;

			@media screen and (max-width: 768px) {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			li {
				display: inline-block;
			}
		}
	}

	form {
		padding-top: 4rem;

		@media screen and (max-width: 768px) {
			input {

			}
 		}
	}

	.form {
		background-color: #f6e2d5;

		@media screen and (max-width: 768px) {

			.row {
				margin-right: 0;
			}
		}

		.col-md-5{
			label {
				width: 125px;
				text-align: right;
				font-size: 2rem;
				font-weight: 500;
				color: black;
				padding-right: 1rem;

				@media screen and (max-width: 768px) {
					font-size: 1.4rem;
				}
			}

			input {
				width: 70%;

				@media screen and (max-width: 768px) {
					width: auto;
				}
			}
		}

		.submit-button{
			@media screen and (max-width: 768px) {
				padding-right:0;
			}
		}

		.col-md-3{
			padding-top: 0;

			label {
				font-size: 1rem;
				line-height: 1rem;
				font-weight: 500;
				color: black;
				padding-right: 1rem;

				@media screen and (max-width: 768px) {
					width: 110px;
					text-align: right;
				}
			}

			input {
				width: 200px;

				@media screen and (max-width: 768px) {
					width: auto;
				}
			}
		}
		.submit .btn {
			width: 85%;
			font-family: "brandon-grotesque";
			font-size: 2.5rem;
			padding: 0 15px;
			margin-bottom: 5rem;

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}
}

.fame {
	background-color: #f6e1d5;

	&:after {
		background-color: #f6e1d5;
	}

	.page-title--details {
		padding-top: 20px;
		padding-bottom: 20px;

		@media screen and (max-width: 768px) {
			img {
				width: 70%;
				height: auto;
			}
 		}
	}

	p {
		padding-top: 15px;
		color: black;
		text-transform: uppercase;
		font-weight: 600;
	}
}

.col-md-4.benefits {
	height: 662px;

	span{
		text-transform: uppercase;
	}

	h3 {
		padding-top: 2rem;
		font-family: forum;
		font-size: 4.5rem;
		text-transform: uppercase;
	}

	.row {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	p {
		padding-right: 18.5%;
		padding-left: 18.5%;
		padding-bottom: 4%
	}

	h4 {
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	li{
		padding-bottom: 0.38rem;
	}
}

.col-md-4.benefits.middle {
	background-color: white;

	li{
		padding-bottom: 0.52rem;
	}
}

.last-column {
	padding-bottom: 5rem;
}
