.page-fame-chain {

  .hero-wrap.copy-right .heading,
  .submit {
    text-align: center;
  }

  // form

  .apply-form {
    margin-top: 35px;
  }

  label {
    font-family: $font-heading;
  }

  //intro section
  .intro-section {
    margin-bottom: 50px;

    h2 {
      text-transform: none;
    }

    p {
      font-weight: 300;
      font-family: $font-heading;
    }

  }

  .confirmation {
    display: none;
  }

  @media (min-width: $bootstrap-md-width) {

    .hero-wrap.copy-right .heading {
      color: $c-neutral-white;
      padding: 25px 0;

      span:first-child {
        font-size: 5.3rem;
      }

      .sub-heading {
        font-size: 2.3rem;
      }

    }

    .hero-wrap.copy-right .media-wrap {
      padding-bottom: 29%;
    }

    .intro-section p {
      font-size: 2.3rem;
    }

    .social-network-name {
      display: none;
    }

  }

}
