.footer {
	padding-bottom: 0;
	width: 100%;
	padding-left: 35px;
	padding-top: 0;

	@media(max-width: 768px){
		padding-top: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.row {
		@media(max-width: 768px){
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.footer-navigation {
		margin-top: 30px;
		font-size: 1.3rem;
	}
	ul.footer-nav {
		margin-top: -2px;
	}

	.col-md-6 {
		p {
			padding-top: 30px;
			font-size: 1.2rem;
		}
	}
	@media(max-width: 768px){
		.footer-nav {
			text-align: center;

			li {
				padding-left: 0;
			}
		}
	}

	.footer-nav--item {
		margin-bottom: 1px;
		padding-left: 5rem;
	}

	.footer-social {
		float: right;
		margin-bottom: 0;

		@media(max-width: 768px){
			float: none;
		}
	}

	.footer-social--item {
		padding-bottom: 0;
		cursor:pointer;
	}

	.footer-logo {
		background-image: url('fameandpartnersfooterlogo.png');
		height: 35px;
		width: 46px;
		margin-left: 0;

		@media(max-width: 768px){
			margin-left: auto;
			margin-right: auto;
		}
	}

	.location {
		width: 280px;
		border: 1px solid black;
		text-align: left;
		color: black;

		.caret {
			float: right;
			color: black;
			margin-top: 0.5rem;
		}
	}

	.address span{
		font-size: 1.3rem;
		text-transform: capitalize;

	}

	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}

	.social-links {
		padding-right: 0;
		margin-bottom: 8px
	}

	.col-md-3 {
		padding: 0;
	}

	.lower-row {
		margin-bottom: 2rem;
		clear: both;

		@media(max-width: 768px){
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		.btn {
			font-family: "brandon-grotesque";
			color: black;
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		  border-color: black transparent transparent transparent;
		  border-width: 10px 8px 0 8px;
		  left: -5px;
			margin-top: 0.4rem;
	}

	.select2-selection__arrow {

	}

	.select2-container {
		width: 100% !important;
	}

	.select2-container--default .select2-selection--single {
		border: 1px solid black;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered  {
		  line-height: 43px;
		  font-size: 14px
	}
}

.copyright {
	@media(min-width: 768px)and(max-width:990px){
		p {
			float:right;
		}
	}

	@media(min-width: 990px)and(max-width:1100px){
		p {
			padding-left:4rem;
		}
	}
}
