.footer {
	padding-bottom: 0;
	width: 100%;
	padding-left: 35px;

	@media(max-width: 768px){
		padding-top: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.footer-navigation {
		margin-top: 30px;
		font-size: 1.3rem;
	}

	.col-md-6 {
		p {
			padding-top: 30px;
			font-size: 1.2rem;
		}
	}
	@media(max-width: 768px){
		.footer-nav {
			text-align: center;

			li {
				padding-left: 0;
			}
		}
	}

	.footer-nav--item {
		margin-bottom: 1px;
		padding-left: 5rem;
	}

	.footer-social {
		float: right;
		margin-bottom: 0;

		@media(max-width: 768px){
			float: none;
		}
	}

	.footer-social--item {
		padding-bottom: 0;
		cursor:pointer;
	}

	.footer-logo {
		background-image: url('fameandpartnersfooterlogo.png');
		height: 35px;
		width: 46px;
		margin-left: 0;

		@media(max-width: 768px){
			margin-left: auto;
			margin-right: auto;
		}
	}

	.location {
		width: 280px;
		border: 1px solid black;
		text-align: left;
		color: black;

		.caret {
			float: right;
			color: black;
			margin-top: 0.5rem;
		}
	}

	.address {
		font-size: 1.3rem;

	}

	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}

	.social-links {
		padding-right: 0;
		margin-bottom: 8px
	}

	.col-md-3 {
		padding: 0;
	}

	.lower-row {
		margin-bottom: 8rem;
		clear: both;

		.btn {
			font-family: "brandon-grotesque";
			color: black;
		}
	}

	.dropdown-menu {

		li {
			width: 280px;
			font-family: "brandon-grotesque";

			a {
				padding: 3px 12px;
			}
		}

	}
}
