// Form controls
// - field with height 45px
.form-control-md {
  padding: 10px;
  height: $form-control-height-md;
}
.form-control-transparent {
  background: none;
}
// - chosen select
.chosen-container-single.form-control {
  border: 0;
  padding: 0;
  min-width: 100%;
  .chosen-single {
    @extend .form-control;
    border-radius: 0;
  }
}
.chosen-container-single.form-control-md .chosen-single {
  @extend .form-control-md;
}
// @end Form controls
// ------------------

// Buttons
.btn {
  font-family: $font-family-secondary;
}
// - reset default buttons styles
.btn-reset {
  border: 0;
  background: none;
}
// - text
.btn-text {
  cursor: default;
  color: inherit;
  &:hover { color: inherit;}
  &:active { box-shadow: none;}
}
// - button with height 45px
.btn-md {
  padding-top: 11px;
  padding-bottom: 9px;
  min-height: $form-control-height-md;
  &.btn-white {
    font-size: inherit;
  }
}
// - facebook
.btn-facebook {
  background-color: #3b5998;

  position: relative;
  color: #fff;
  &:before {
    content: '\f09a';
    font: normal normal normal 24px 'FontAwesome';
    background-color: #354f88;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
  }

  &:hover {
    background-color: #3b5998;
    opacity: .9;
  }

  span {
    font-size: 12px;
  }

  &.btn-md {
    padding-left: (2 * $form-control-height-md);
    &:before {
      width: $form-control-height-md;
      line-height: $form-control-height-md;
    }
    &.btn-block {
      padding-left: $form-control-height-md;
    }
  }

  &.btn-block {
    padding-right: 0;
  }
}
// @end Buttons
// ------------------

// Checkbox right side
.checkbox-gray-md {
  label {
    position: relative;
    display: block;
    margin: 0;
    min-height: $form-control-height-md;
    background-color: $gray-light-bg;
    padding-right: $form-control-height-md;
    font-size: 13px;
    line-height: 1.3;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      width: $form-control-height-md;
      background-color: #000;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
  }

  small {
    font-weight: 300;
    text-transform: none;
  }

  .checkbox-label {
    padding: 6px 10px;
    display: inline-block;

    &:after {
      content: '';
      width: 26px;
      height: 26px;
      position: absolute;
      right: 9px;
      top: 50%;
      margin-top: -13px;
      border-radius: 100%;
      border: solid 1px #fff;
      z-index: 1;
    }
  }

  input[type="checkbox"]:checked + .checkbox-label:before {
    content: '';
    position: absolute;
    display: block;
    right: 15px;
    top: 50%;
    margin-top: -5px;
    width: 13px;
    height: 7px;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
// @end checkbox
// ------------------

// btn-group-radio extras
.btn-group-radio input[type=radio]:checked + .btn label {
  color: #fff;
}
// @end

.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 591px; /* half of limiter*/
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

.btn-group-radio > .btn > label.credit  {
  padding: 0;
}
