@import 'mixins';

/////////// locale warn //////////

@import 'redesign/header/locale_warn';

/////////// locale selector //////////

@import 'redesign/header/locale_selector';

/////////// mega menu //////////

header{
  #locale-selector-mobile-container{
    position: initial;
    ul{
      z-index: 2;
    }
  }
  .nav-menu:first-child{
    border: none;
    .nav-menu-container{
      background-color: white;
    }
  }
}
.logo{
  width: 100%;
}
.nav-menu {
  text-transform: uppercase;
  font-size: 1.2rem;
  z-index: 102;
}

.all-dresses {
  padding: 0;
  margin-left: 15px;
  &.col-md-4 { padding-top: 0;}

  .btn{
    font-family: $font-family-secondary;
    width: 377px;
    padding-left: 0;
    padding-right: 0;
  }
}

.menu-main-promotions {
  font-size: 1.6rem;
  margin-top: 10px;
}

.mega-menu-list {
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: $font-family-secondary;
  font-size: 1.6rem;
}

.mega-menu--secondary {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom:3px solid $gray-light-bg;
}

.link-header {
  font-size: 1.5rem;
}

.mega-menu-list--item a {
  text-transform: capitalize;
  font-weight: 400;

  &:hover {
    color: #355e6d !important;
  }
}

.mega-menu--main {
  position: relative;
  border: 1px solid #040505;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background-color: #f5f5f5;
  padding-right: 0;
  padding-left: 0;
  height: 100px;
}

.mega-menu-banner {
  position: absolute;
  left: 17px;
  top: 130px;
  width: 25%;
  display: block;
  color: #fff;

  img {
    width: 100%;
  }
}

.stories {
  position: relative;
  border: 1px solid #040505;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background-color: #f5f5f5;
  padding-right: 0;
  padding-left: 0;
}

.account {
  background-color: white;
  border: 1px solid #040505;
  line-height: 35px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 10px;
  top: -35px;
}

.search-bar {
  border: 1px solid #040505;
  border-bottom: none;
  border-left: none;
  border-right: none;

  &:after, &:before {
    bottom: 100%;
    right: 168px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(213, 209, 209, 0);
    border-bottom-color: #f5f5f5;
    border-width: 6px;
    margin-right: -10px;
  }

  &:before {
    border-color: rgba(4, 5, 5, 0);
    border-bottom-color: #040505;
    border-width: 7px;
    margin-right: -11px;
  }

  button {
    margin-top: 6px;
    font-family: forum;
    font-size: 2rem;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .search-bar {
    top: 65px;

    &:before, &:after {
      right: 92px;
    }
  }
}

.mega-menu--main:after, .mega-menu--main:before {
  bottom: 100%;
  left: 318px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.stories:after, .stories:before {
  bottom: 100%;
  left: 412px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.account:after, .account:before {
  bottom: 100%;
  left: 75px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.image-container {
  margin-top: 4rem;
}

.mega-menu--main:after {
  border-color: rgba(213, 209, 209, 0);
  border-bottom-color: #f5f5f5;
  border-width: 6px;
  margin-left: -10px;
}

.stories:after {
  border-color: rgba(213, 209, 209, 0);
  border-bottom-color: #f5f5f5;
  border-width: 6px;
  margin-left: -10px;
}

.account:after {
  border-color: rgba(213, 209, 209, 0);
  border-bottom-color: white;
  border-width: 6px;
  margin-left: -10px;
}

.mega-menu--main:before {
  border-color: rgba(4, 5, 5, 0);
  border-bottom-color: #040505;
  border-width: 7px;
  margin-left: -11px;
}

.stories:before {
  border-color: rgba(4, 5, 5, 0);
  border-bottom-color: #040505;
  border-width: 7px;
  margin-left: -11px;
}

.account:before {
  border-color: rgba(4, 5, 5, 0);
  border-bottom-color: #040505;
  border-width: 7px;
  margin-left: -11px;
}

.menu-icon {
  background-repeat: no-repeat;
  height: 26px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 10%
}

.fit-guarantee {
  background-image: url('_icons/tick.jpg');
  width: 26px;
}

.arrows {
  background-image: url('_icons/arrows.png');
  width: 40px;
}

.packing-box {
  background-image: url('_icons/box.png');
  width: 31px;
}

.nav-menu .primary li.menu-item .menu-item--link:hover, .nav-menu .secondary li.menu-item .menu-item--link:hover {
  color: #355e6d;
}

li.shop {

  ul.story-links {
    list-style: none;
    padding: 2rem 1rem 2rem 2rem;

    li {
      margin-top: 0.5rem;
    }
  }

  .story-list {
    width: 100%;

    a{
      color: black;

      &:hover {
        color: #355e6d;
      }
    }
  }
}


#masthead-container {
  ul {
    margin-bottom: 0;
  }

  .masthead {
    padding-top: 26px;

    @media(max-width: 480px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  #cart-trigger{
    #cart-item-count{
      margin-top: 5px;
      position: absolute;
    }
    .shopping-bag{
      cursor: pointer;
      margin-left: 15px;
      width: 24px;
      margin-top: 4px;
    }
  }
  .masthead.pull-right{
    padding-right: 0;
  }
  .masthead.pull-right:last-child{
    margin-top: 3px;
    padding-left: 0;
    .menu-item{
      #moodboard-counter{
        margin-top: -1px;
        position: absolute;
      }
      i{
        margin-left: 20px;
        font-size: 16pt;
      }
      .pipe{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  @media(max-width: 320px){
    .shopping-bag{
      margin-left: 18px;
    }
    i{
      margin-left: 15px;
    }
  }

  @media(min-width: 415px)and(max-width: 800px)
  {
    .masthead.pull-right{
      padding-right: 0;
    }
    .masthead.cart{
      padding-left: 10px;
    }
    #cart-trigger{
      margin-top: 1px;
    }
    .masthead:last-child{
      i{
        margin-right: 10px;
        margin-left: 15px;
      }
    }
  }

  @media(width: 768px){
    .mobile-logo{
      margin-left: 220px;
    }
  }
  @media(width: 800px){
    .mobile-logo{
      margin-left: 230px;
    }
  }
}

.nav-menu .primary li.menu-item .menu-item--link, .nav-menu .secondary li.menu-item .menu-item--link {
  padding-top: 24px;
}

.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f4f4f4;
 }

.nav-menu {
   .search-btn {
     text-transform: none;
  }
}

.search-form {
  height: 240px;

  .input-group{
    margin-top: 90px;
  }
}

.search-form .form-control {
  width: 85%;
}

.close-search {
  padding: 30px 37px 0 0;
}

.search-form {

  ::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
    font-size: 1.5rem;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
    opacity:  1;
    font-size: 1.5rem;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
    opacity:  1;
    font-size: 1.5rem;
  }

  :-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
    font-size: 1.5rem;
    vertical-align: baseline
  }

  input {
    text-transform: none;
  }
}

.edit-title a {
  padding-top: 5px;

  &:hover{
    color: #355e6d;
  }
}

.account-menu {
  width: 150px !important;
}

.account-btn {
  position: relative;
}

.account {
  background-color: white;
  width: 150px;

  ul {
    list-style: none;
    padding: 10px 0 0 0;

    li {
      padding-bottom: 2px;
      text-transform: none;
      padding-left: 20px;
      padding-right: 40px;

      &:last-child {
        background-color: #f5f5f5;
        background-image: url('_icons/login-icon.png');
        background-repeat: no-repeat;
        background-position: 130px center ;
        background-size: 16px 16px;
      }

      a {
        color: black;

        &:hover {
          color: #355e6d;
        }
      }
    }
  }
}

.nav-mobile-logo {
  height: 25px;
}

ul.secondary.pull-right {
  @media (max-width: 991px) {
    .visible-xs {
      display: inline-block !important;
    }
  }
}

/////////// mobile account menu //////////

@media (max-width: 991px) {
  .account-menu {
    width: 100% !important;
    position: fixed;
  }

  .account {
    position: relative;
    width: 100%;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }

    ul li a {
      font-size: 2rem;
    }
  }
}

li#cart-trigger {
  span#cart-item-count {
    color: white;
    top: 0.7rem;
    left: -1.6rem;
    position: relative;
  }
  a {
    @media (max-width: 320px) {
      padding-left: 3px;
      padding-right: 0px;
    }
    @media(min-width: 325px)and(max-width:400px){
      padding-left: 15px;
      padding-right: 5px;
    }
    @media(min-width: 400px)and(max-width:589px){
      padding-left: 20px;
      padding-right: 5px;
    }
    @media(min-width: 590px){
      padding-left: 60px;
      padding-right: 5px;
    }
  }
}

.hamburger {
  margin-top: -10px;
  border: none;
  background-color: white;
  button {
    border: none;
    background-color: white !important;
    img{
      width:30px;
      opacity: 0.7;
      margin-top: -15px;
      @media(max-width:450px) {
        margin-left: -5px;
      }
      @media(min-width:550px){
        margin-left: -20px;
      }
    }
  }
}

.mobile-logo{
  margin-top: -3px;

  //iphone 4,5
  @media(max-width: 325px){
    margin-left: 60px;
  }

  //iphone 6
  @media(min-width: 325px)and(max-width:385px){
    margin-left: 90px;
  }

  //iphone 6plus
  @media(min-width: 385px)and(max-width:430px){
    margin-left: 110px;
  }

  //nexus 7
  @media(min-width: 430px)and(max-width:610px){
    margin-left: 140px;
  }

  @media(min-width: 480px)and(max-width:550px){
    margin-left: 90px;
  }
}

/////////// side menu (hamburger) //////////

#sideMenu {
  overflow-x: hidden;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  font-size: 15px;
  top: 0;
  .main-menu{
    background-color: white;
  }
  nav{
    background-color: white;
  }
  nav.navbar{
    border: none;
    .navbar-brand{
      left: 35%;
      position: absolute;
    }
  }

  @media(max-width: 320px){
    width: 300px;
    left: -300px;
    overflow-x: hidden;
  }

  @media(min-width: 321px)and(max-width:400px){
    width: 350px;
    left: -350px;
    overflow-x: hidden;
  }

  @media(min-width: 400px)and(max-width:599px){
    width: 390px;
    left: -390px;
    overflow-x: hidden;
  }

  @media(min-width: 599px)and(max-width:759px){
    width: 575px;
    left: -575px;
    overflow-x: hidden;
  }

  @media(min-width: 760px)and(max-width:799px){
    width: 745px;
    left: -745px;
    overflow-x: hidden;
  }

  @media(min-width: 800px){
    width: 775px;
    left: -775px;
    overflow-x: hidden;
  }

  z-index: 2000;
  background-color: #f8f8f8;
  @include transition(margin-left 0.4s);

  .navbar-header {
    background-color: black;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    .navbar-brand {
      color: white;
    }
  }
  nav{
    height:1700px;
    ul{
      width:100%;
      li{
        margin-left: 20px;
        @media(min-width: 760px){
          margin-left: 0px;
        }
        width:100%;
        clear:both;
        .dropdown-toggle{
          background-color: #f8f8f8;
          padding-top: 20px;
          padding-bottom: 20px;
          ul {
            width: 100%;
          }
        }
        .dropdown-menu{
          position: static;
          background-color: #f8f8f8;
          border: 0px;
          box-shadow: none;
          display:block;
          height:0px;
          overflow: hidden;
        }
      }
    }
  }

  #close {
    font-size: 35px;
    float: right;
    margin-right: 10px;
    margin-top:-8px;
    img {
      width:30px;
      opacity: 0.7;
      margin-right: 10px;
    }
  }

  .caret {
    float: right;
    margin-right: 10px;
  }

  .all-dresses{
    background-color: #f8f8f8;
    input {
      width: 265px;
      padding-top: 1px;
      padding-bottom: 1px;
      height: 40px;
      margin-top:20px;
    }
  }

  .account-login{
    padding-bottom: 20px;
    text-align: center;
    margin-top:20px;
    background-color: #f8f8f8;
    span{
      margin-left: 10px;
    }
    img{
      margin-top: -4px;
    }
  }

  a{
    color:black;
    font-weight: 500;
  }

  .arrow{
    img{
      width: 25px;
      height: 25px;
      transform: rotate(90deg);
      float: right;
      margin-right: 10px;
    }
    .clicked{
      transform: rotate(-90deg);
    }
  }

  #side-search-area{
    width: 97%;
    border-style: solid;
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0;
    background-color: white;
    #side-search{
      border: none;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 85%;
      text-align: center;
    }
    .side-search-icon{
      width: 19px;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
  .bottom-area{
    background-color: black;
    color: white;
    margin-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    -webkit-transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    transition: margin-left 0.25s;
    a{
      padding: 0;
    }
    .bottom-area-text{
      color: white;
    }
  }

  .no-border{
    border: none !important;
  }
  .normal-item{
    font-size: 10pt;
    padding-top: 15px;
    padding-bottom: 40px;
    font-weight: 600;
    padding-left: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D0D0D0;
    -webkit-transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    transition: margin-left 0.25s;
    a{
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .text{
      width: 90%;
      float: left;
      margin-top: 3px;
    }
    .arrow{
      float: left;
      width: initial;
      margin-top: 3px;
    }
    div{
      padding-bottom: 10px;
    }
  }

  .inner-main-menu-slide-left{
    @media(max-width: 320px){
      margin-left: -300px;
    }

    @media(min-width: 321px)and(max-width:400px){
      margin-left: -350px;
    }

    @media(min-width: 400px)and(max-width:599px){
      margin-left: -390px;
    }

    @media(min-width: 599px)and(max-width:759px){
      margin-left: -575px;
    }

    @media(min-width: 760px)and(max-width:799px){
      margin-left: -745px !important;
    }

    @media(min-width: 800px){
      margin-left: -775px !important;
    }
  }

  .sub-menu-slide-left{
    margin-left: 0px !important;
  }

  .back{
      float: right;
      margin-left: 10px;
  }


  @media(min-width: 760px)and(max-width:799px){
    .navbar-brand{
      left: 43% !important;
    }
    #side-search{
      width: 93% !important;
    }
    #side-search-area{
      margin-left: 10px;
      margin-top: 10px;
    }
    .normal-item{
      padding-bottom: 15px;
      .text{
        width: 95%;
      }
    }
    .normal-item div{
      padding-bottom: 0;
    }
    .bottom-area{
      margin-left: 0;
    }
    #new-this-week-menu{
      .normal-item{
        margin-top: 70px !important;
      }
    }
    .grey-item{
      margin-left: 0px !important;
    }
    #dresses-menu, #lookbook-menu, #magazine-menu{
      margin-top: 125px !important;
      .text{
        width: 90% !important;
      }
    }
    #new-this-week-menu{
      .text{
        width: 89% !important;
      }
    }
  }

  @media(min-width: 800px){
    .navbar-brand{
      left: 42% !important;
    }
    #side-search-area{
      margin-left: 10px !important;
      margin-top: 10px !important;
    }
    .normal-item{
      padding-bottom: 5px !important;
      .text{
        padding-left: 10px;
        width: 95%;
      }
    }
    #side-search-area{
      #side-search{
        width: 93% !important;
      }
    }
    .bottom-area{
      margin-left: 0;
    }
    #new-this-week-menu{
      .normal-item{
        margin-top: 70px !important;
        .text{
          width: 89% !important;
        }
      }

    }
    #dresses-menu{
      margin-top: 125px !important;
      .normal-item:first-child{
        .text{
          width: 90% !important;
        }
      }
      .grey-item{
        margin-left: 0px !important;
      }
    }
    #lookbook-menu, #magazine-menu{
      margin-top: 125px !important;
      .text{
        width: 90% !important;
      }
    }
  }

  .text-back{
    width: 75% !important;
  }

  #new-this-week-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 90px;
    margin-top: 45px;
    -webkit-transition: margin-left 0.25s;
    -moz-transition: margin-left 0.25s;
    transition: margin-left 0.25s;

    @media(max-width: 320px){
      margin-left: 300px;
    }

    @media(min-width: 321px)and(max-width:400px){
      margin-left: 350px;
    }

    @media(min-width: 400px)and(max-width:599px){
      margin-left: 390px;
    }

    @media(min-width: 599px)and(max-width:759px){
      margin-left: 575px;
    }
    @media(min-width: 760px)and(max-width:799px){
      margin-left: 745px;
    }
    @media(min-width: 800px){
      margin-left: 775px;
    }

    ul{
      margin-left: 0;
      margin-right: 0;
    }
    .normal-item{
      border: none;
      margin-left: 5px;
      margin-top: -15px;
    }

    .text{
      width: 95%;
    }

    .images-content{
      margin-left: 0;
    }
  }
  #dresses-menu, #lookbook-menu, #magazine-menu{
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 45px;
    -webkit-transition: margin-left 0.25s;
    transition: margin-left 0.25s;

    @media(max-width: 320px){
      margin-left: 300px;
    }

    @media(min-width: 321px)and(max-width:400px){
      margin-left: 350px;
    }

    @media(min-width: 400px)and(max-width:599px){
      margin-left: 390px;
    }

    @media(min-width: 599px)and(max-width:759px){
      margin-left: 575px;
    }
    @media(min-width: 760px)and(max-width:799px){
      margin-left: 745px;
    }
    @media(min-width: 800px){
      margin-left: 775px;
    }
    .text{
      width: 95%;
    }
    .normal-item:first-child{
      padding-top: 10px;
      border: none;
    }
    .grey-item{
      background-color: #f5f5f5;
      margin-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      font-weight: 600;
    }

    .gray-bg {
      clear: both;
      background-color: #f5f5f5;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      font-weight: 500;
    }
    .mag-image{
      float: left;
      width: 50%;
      img{
        width: 100%;
      }
    }
    .image-text{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .images-content{
      .row{
        width: 100%;
        margin-left: -5px;
        img{
          float: left;
          width: 50%;
        }
      }
    }
  }

  #magazine-menu ul li{
    margin-left: 15px;
    a{
      padding: 0;
    }
  }
}

.mobileAnimation{
  @include transition(height 0.4s);
}

.nav-menu-container{
  .heart-and-suitcase{
    text-align: right;
    a{
      text-decoration: none;
      color: black;
    }
    .num {
      padding-right: 5px;
    }
    .pipe{
      margin-left: 20px;
      margin-right: 20px;
    }
    .shopping-bag{
      cursor: pointer;
      width: 17px;
      margin-top: -4px;
    }
  }
  .register-area, .my-account{
    text-decoration: none;
    color: black;
  }
  #home-menu{
    a{
      color: black;
      text-decoration: none;
    }
    border-color: #d7d7d7;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-left: 0;
    border-right: 0;
    margin-top: 55px;
    font-weight: 700;
    height: 30px;
    span{
       padding-left: 15px;
       padding-right: 15px;
       padding-top: 5px;
       padding-bottom: 7px;
       font-size: 1.2rem;
       cursor: pointer;
       position: relative;
       top: 5px;
    }
    span:hover{
      background-color:#003647;
      color:white;
    }
    span:last-child:hover{
      background-color: transparent;
    }
    #search{
      .nav-mobile-logo{
        height: 15px;
      }
    }

  }

  #search-area {
    border-style: solid;
    width: 410px;
    border-width: 1px;
    height: 51px;
    position: absolute;
    top: 165px;
    left: 945px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    display: none;
    input{
      border: none;
      width: 300px;
    }
    input:focus{
      outline: 0;
    }
    .mag-glass{
      float: right;
      cursor: pointer;
      img{
        height: 30px;
        margin-right: 25px;
      }
    }
  }


  .rect{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    position: absolute;
    height: 450px;
    z-index: 2;
    display: none;
  }

  #rect-new-this-week{
    background-color: transparent;
    @media(max-width: 1000px)
    {
      height:300px;
    }
    @media(min-width: 1001px)and(max-width: 1200px)
    {
      height:360px;
    }
    @media(min-width: 1201px)and(max-width: 1400px)
    {
      height:390px;
    }
    @media(min-width: 1401px)and(max-width: 1600px)
    {
      height:420px;
    }
    .black-bar{
      background-color: black;
      height: 20%;
      color: white;
      text-align: center;
      font-weight: 600;
      font-size: 12pt;
      display: table;
      width: 100%;
      .inner-text{
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
        color: white;
        text-decoration: none;
      }
    }
    .slideArea{
      background-color: white;
      height: 80%;
      display: table;
      .containArea{
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }
      .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
          -webkit-backface-visibility: hidden;
          position: absolute;
          display: none;
          width: 100%;
          left: 0;
          top: 0;
        }

        li:first-child {
          position: relative;
          display: block;
          float: left;
        }

        img {
          display: block;
          height: auto;
          float: left;
          width: 15%;
          border: 0;
        }

      }

      .rslides_tabs{
        display: none;
      }
      .prev{
        top: 55%;
        position: absolute;
        background-image: url('icon-arrow-left.png');
        opacity: 1;
        background-size: contain;
        z-index: 2;
        text-indent: -9999px;
      }
      .next{
        right: 0;
        top: 55%;
        position: absolute;
        background-image: url('icon-arrow-right.png');
        opacity: 1;
        background-size: contain;
        z-index: 2;
        text-indent: -9999px;
      }

      img{
        width: 15%;
      }
      img:not(:first-child){
        margin-left: 6.25%;
      }
    }

  }
  #rect-dresses{
    .left-area{
      .no-style-text{
        color: black;
        text-decoration: none;
      }
      padding-right: 10px;
      background-color: #f5f5f5;
      width: 70%;
      float: left;
      height: 100%;
      .col1 , .col2 , .col3 , .col4 {
        width: 25%;
        float: left;
        padding-left: 30px;
        .head{
          margin-top: 30px;
          font-weight :500;
        }
        div{
          clear: both;
          margin-top:10px;
        }
      }
      .col2, .col3{
        li{
          padding-top: 10px;
          a{
            font-size: 1.4rem;
            text-transform: uppercase;
          }
        }
      }
    }
    .right-area{
      width: 30%;
      float: left;
      height: 100%;
      background-color: #003647;
      .girl-image{
        img{
          width: 100%;
        }
      }
      .girl-text{
        position: relative;
        .contain{
          color: white;
          font-weight: 600;
          text-align: center;
          position: absolute;
          width: 100%;
          top: 45px;
          @media(max-width: 1300px)
          {
            top:105px;
          }
          @media(min-width: 1301px)and(max-width: 1500px)
          {
            top:75px;
          }
          @media(min-width: 1501px)and(max-width: 1800px)
          {
            top:60px;
          }
          @media(min-width: 1801px)
          {
            top:50px;
          }
        }
      }
    }
  }
  #rect-lookbook{
    background-color: transparent;
    .col{
      padding:0;
      .head{
        color: white;
        text-align: center;
        font-weight: 600;
        height: 20%;
        display: table;
        width: 100.1%;
        .text{
          display: table-cell;
          vertical-align: middle
        }
      }
      .image{
        img{
          width: 100%;
        }
      }
    }
    .col:nth-child(odd){
      .head{
        background-color: black;
      }
    }
    .col:nth-child(even){
      .head{
        background-color: #003647;
      }
    }
  }

  #rect-magazine{
    @media(max-width: 1100px)
    {
      height: 370px;
    }
    @media(min-width: 1101px)and(max-width: 1400px)
    {
      height: 430px;
    }
    @media(min-width: 1401px)and(max-width: 1600px)
    {
      height: 470px;
    }
    @media(min-width: 1601px)and(max-width: 1800px)
    {
      height: 520px;
    }
    @media(min-width: 1801px)
    {
      height: 540px;
    }
    .left-col{
      height: 100%;
      background-color: #f5f5f5;
      .head{
        text-align: center;
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 30px;
      };
      .images{
        div{
          margin: 0;
          padding: 0;
          img{
            width: 100%;
          }
        }
        .text{
          padding-top: 30px;
          padding-bottom: 30px;
          text-align: center;
          font-weight: 400;
        }
      }
    }
    .right-col{
      height: 100%;
      background-color: #f6e2d5;
      .head{
        text-align: center;
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .image{
        img{
          width: 100%;
        }
        .left-img{
          padding-left: 30px;
          padding-right: 15px;
        }
        .right-img{
          padding-left: 15px;
          padding-right: 30px;
        }
        .text{
          padding-top: 30px;
          padding-bottom: 30px;
          text-align: center;
        }
      }
    }

  }

}
