// Cross icon
.icon-cross {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  width: 24px;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:before {
    width: 200%;
    height: 1px;
    margin-top: -1px;
    margin-left: -100%;
  }

  &:after {
    height: 200%;
    width: 1px;
    margin-top: -106%;
  }

}
// @end Cross icon
// -----------------

.icon-arrow-up {
  position: absolute;
  display: block;

  &:after {
    content: '^';
    font-weight: 300;
    font-family: $font-family-secondary;
    font-size: 2.5rem;
    position: absolute;
    display: block;
  }

}

.svg-colour {
  @extend %icon;
  @include icon('_icons/colour.svg', 32px, 32px);
}

.svg-custom {
  @extend %icon;
  @include icon('_icons/custom.svg', 32px, 32px);
}

.svg-design {
  @extend %icon;
  @include icon('_icons/design.svg', 32px, 32px);
}

.svg-fit {
  @extend %icon;
  @include icon('_icons/fit.svg', 32px, 32px);
}

.svg-trend {
  @extend %icon;
  @include icon('_icons/trend.svg', 32px, 32px);
}

.svg-waste {
  @extend %icon;
  @include icon('_icons/waste.svg', 32px, 32px);
}

.svg-document {
 background-image: url('_icons/document.svg');
 width: 28px;
 height: 37px;
}

.svg-package {
 background-image: url('_icons/package.svg');
 width: 40px;
 height: 37px;
}

.svg-checklist {
 background-image: url('_icons/checklist.svg');
 width: 28px;
 height: 34px;
}

.svg-stamp {
 background-image: url('_icons/stamp.svg');
 width: 47px;
 height: 37px;
}

i.icon {
  display: table-cell;
  background-size: 100%;
  background-repeat: no-repeat;
}

%icon {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-indent: -9999px;
  text-shadow: none;
  vertical-align: middle;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
