.page-content.index {

  .hero-wrap {

    .heading > span:first-child {
      font-size: 5.5rem;
    }

    .sub-heading {
      border: 0;
      font-style: normal;
      font-size: 2.2rem;
    }

  }

  .section-styling {

    .btn-featured {
      font-size: 1.1rem;
    }

    .inline-btn:not(:nth-of-type(1)) {
      margin-left: 15px;
    }

    .cta-link-alt {
      margin-bottom: 25px;
    }

  }

  .cta-link-alt {
    font-size: 1.3rem;
  }

  .section-instagram .carousel-strap {
    background: none;
  }

  @media (min-width: $bootstrap-md-width) and (max-width: $bootstrap-lg-width - 1px) {

    .section-styling .btn-featured {
      margin-top: 15px;
    }

  }

  @media (min-width: $bootstrap-md-width) {

    .hero-wrap.copy-left .heading {
      margin: 0;

      span:first-child {
        font-size: 8.5rem;
      }

      .sub-heading {
        font-size: 2.7rem;
      }

    }

    .hero-wrap.copy-left .media-wrap {
      padding-bottom: 43%;
    }

    .btn-featured {
      margin-top: 45px;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .section-styling .styling-session {
      margin-top: $section-spacing-margin-top;
    }

  }

}


//   .competition-banner{
//     margin-top: 25px;
//   }
//   .banner-sale{
//     margin-top: 30px;
//   }
//   hr {
//     border-top: 1px solid black;
//   }
// }

// .col-md-4{
//   height: 100%;
// }

// .call-to-actions {

//   .row {
//     margin-left: 0;
//     margin-right: 0;
//   }

//   .header {
//     height: 70px;
//     margin-bottom: 0;

//     h3 {
//       padding-top: 2.6rem;
//       margin-top: 0;
//     }
//   }

//   .black {
//     background-color: black;

//     h3 {
//     color: white;
//     }
//   }

//   .pink {
//     color: black;
//     background-color: #eeddf0
//   }

//   .img-responsive {
//     max-width: none;
//     width: 100%;
//   }
// }

// @media (min-width: 990px){
//   .row-same-height {
//       display: table;
//       width: 100%;
//   }
// }

// .slider-action {
//     cursor:pointer;
// }

// .maintenance-page {
//   background-color: #f6e2d5;
//   background-image: url('green-corner.png');
//   background-repeat: no-repeat;
//   background-size: 90px 90px;
//   background-position: right bottom;
//   height: 100vh;

//   .row {
//     margin-left: 0;
//     margin-right: 0;
//   }

//   .col-md-8 {
//     overflow: hidden;
//     margin-left: -15px;

//     img {
//     height: 100vh;
//     overflow: hidden;
//     }
//   }

//   .text-content {
//     margin-left: 4%;
//     max-width: 35rem;
//   }

//   h1 {
//     font-size: 6.5rem;
//     margin-top: 40%;
//     margin-bottom: 0;
//     letter-spacing: 1px;
//     line-height: 5.5rem;

//     span {
//       font-size: 4rem;
//       line-height: 3rem;
//     }
//   }

//   .logo img{
//     height: 80px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   h2 {
//     margin-top: 0;
//     padding-bottom: 4rem;
//     font-size: 2.5rem;
//   }

//   p {
//     text-transform: uppercase;
//     margin: 0;
//   }
// }

// .prom-queen {
//   background-image: url('glam_rebel.jpg');
//   height:490px;
// }

// .skippr-nav-element {
//   background-color: #D3D3D3;
// }

// .skippr-nav-element:hover, .skippr-nav-element-active {
//   background-color:	#A9A9A9;
// }

// .search-form {
//   .form-control {
//     @media (max-width: 990px){
//       width: 100% !important;
//     }
//   }

//   button {
//     @media (max-width: 990px){
//       width: 100%;
//     }
//   }
// }

// .index {
//   ul.rslides {
//   }
// }

// .list-inline li a:hover {
//     color: #355e6d;
// }

// .rslides {
//   position: relative;
//   list-style: none;
//   overflow: hidden;
//   width: 100%;
//   padding: 0;
//   margin: 0;
// }

// .rslides li {
//   -webkit-backface-visibility: hidden;
//   position: absolute;
//   display: none;
//   width: 100%;
//   left: 0;
//   top: 0;
// }

// .rslides li:first-child {
//   position: relative;
//   display: block;
//   float: left;
// }

// .rslides img {
//   display: block;
//   height: auto;
//   float: left;
//   width: 100%;
//   border: 0;
// }

// .rslides_tabs {
//   position: relative;
//   z-index: 3;
//   list-style: none;
//   padding: 0;
//   top: -70px;
//   font-size: 50px;
//   list-style: none;
//   margin: 0 auto 50px;
//   max-width: 340px;
//   text-align: center;
//   width: 100%;
//   margin-bottom: 0px;

//   @media(max-width: 768px){
//     font-size: 20px;
//     top: -30px;
//   }
// }

// .rslides_tabs li {
//   display: inline;
//   float: none;
//   margin-right: 1px;
//   a {
//     color: lightgrey;
//   }
// }

// .rslides_tabs a {
//   width: auto;
//   line-height: 20px;
//   padding: 9px 3px;
//   height: auto;
//   background: transparent;
//   display: inline;
// }

// .rslides_tabs li:first-child {
//   margin-left: 0;
// }

// .rslides_tabs .rslides_here a {
//   color: grey;
//   font-weight: bold;
//   text-decoration: none;
// }

// // Main Content area V-2
// .home-main-content {
//   margin-top: 30px;
//   .main {

//     .media-wrap,
//     .tabs.vertical {
//       margin-bottom: 30px;

//       &:last-child {
//         margin-bottom: 0;
//       }

//     }

//   }

//   .tabs.vertical .tab-wrap {
//     height: 360px;
//   }

//   // START - tablet
//   @include tablet {

//     & .main {
//       margin-bottom: 30px;
//     }

//   }
//   // END - tablet

//   // START - mobile
//   @include mobile {

//     & {
//       margin-top: 20px;

//       .main {
//         margin-bottom: 20px;

//         .media-wrap,
//         .tabs.vertical {
//           margin-bottom: 20px;
//         }

//       }

//       .tabs.vertical .tab-wrap {
//         width: 100%;
//         height: auto;
//         padding-bottom: 78%;
//       }

//     }

//   }
//   // END - mobile

//   // TODO: this is just hacked, please redo it
//   // START - desktop
//   @media (min-width: $bootstrap-md-width) and (max-width: $bootstrap-lg-width) {

//     .aside-single-tile aside img {
//       margin-left: -7.5%;//this is just hack
//     }

//   }

//   @media (min-width: $bootstrap-md-width) {

//     .aside-single-tile {
//       height: 100%;
//       @include flexbox((
//         display: box,
//         box-orient: horizontal
//       ));

//       .main {
//         @include order(0);
//       }

//       aside {
//         position: relative;
//         @include order(1);

//         .outer-wrap {
//           top: 0;
//           bottom: 0;
//           left: 15px;
//           right: 15px;
//           height: 100%;
//         }

//         .media-wrap {
//           width: auto;
//           height: 100%;
//         }

//         .inner-wrap {
//           position: relative;
//           height: 100%;
//         }

//         img {
//           display: block;
//           max-width: 100%;
//           height: auto
//         }

//       }

//     }

//   }
//   // END - desktop

// }

// .as-seen-in-partners {
//   margin-bottom: 30px;
//   @extend %cfix;
//   padding-bottom: 35px;

//   img{
//     float:left;
//     width: 10%;
//     padding: 0 5px;
//     @media(max-width: 992px){
//       width: 20%;
//     }
//   }
// }
