body {
  font-family: $font-family-secondary;
}

/////////// content container //////////

.sticky-header #content-container {
  margin-top: $mega-menu-desktop-height;
}

@media (max-width: 992px) {
  .sticky-header #content-container {
    margin-top: $mega-menu-mobile-height;
  }
}
