.membership {

  .outer-wrap {
    width: 100%;
    height: 100%;
    display: table;
  }

  .inner-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;
  }

  .checkbox {
    margin: 0;
  }

  .heading {
    margin: 0;
    padding-bottom: 60px;
    text-align: center;
    text-transform: none;
    font-size: 2.25em;
    font-weight: 500;

    span {
      display: block;
      margin-top: 10px;
      font-size: 0.611em;
      font-weight: 400;
    }

  }

  .footnote {
    margin-top: 20px;
  }

  a:not(.btn) {
    text-decoration: underline;
    font-weight: 500;
    color: $c-neutral-black;
  }

  label {
    font-weight: 500;
  }

  p {
    line-height: normal;
    text-align: center;
    font-size: 1.125em;
    font-weight: 400;
  }

  .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
  }

  .btn-facebook {
    margin-top: 120px;
  }

  .separator {
    position: relative;
    display: table;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    text-align: center;

    span {
      display: table-cell;
      vertical-align: middle;
      height: 40px;
      line-height: 40px;
      font-size: 1.75em;
      color: $c-neutral-black;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        margin-left: -1px;
        width: 1px;
        height: 80px;
        background: $c-neutral-black;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

    }

  }

  .multiple-links a {
    padding: 0 10px;
  }

  .alert {
    color: $c-neutral-black;
    background: transparent;
    border-color: $c-neutral-black;
    border-radius: 2px;

    h3 {
      margin: 0;
      font-weight: 500;
      color: $c-neutral-black;
      background: transparent;
    }

  }

  &:not(.plain) {
    width: 100%;
    @include desktop {
      height: 100vh;
    }
    min-height: 750px;
    margin-bottom: -$mega-menu-desktop-height;
    padding-bottom: $mega-menu-desktop-height;
    background: url('membership/bg-gaussion-blur-1.jpg') $c-neutral-10 no-repeat;
    background-size: cover;

    .heading {
      color: $c-neutral-white;
    }

    a:not(.btn) {
      color: $c-neutral-white;
    }

    label {
      color: $c-neutral-white;
    }

    p {
      color: $c-neutral-white;
    }

    .separator span {
      color: $c-neutral-white;

      &:before,
      &:after {
        background: $c-neutral-white;
      }

    }

    .alert {
      color: $c-neutral-white;
      border-color: $c-neutral-white;

      h3 {
        color: $c-neutral-white;
      }

    }

  }

  // START - mobile
  @media (max-width: $bootstrap-md-width - 1px) {

    & {
      height: auto;
      min-height: initial;
      margin-bottom: 0;
      padding: 0;

      .heading {
        padding-bottom: 40px;
        font-size: 1.75em;
      }

      .btn-facebook {
        margin-top: 0;
      }

      .separator {
        height: auto;
        margin: 20px 0;

        span {

          &:before,
          &:after {
            top: 50%;
            width: 44%;
            height: 1px;
            bottom: auto;
            margin-top: 1px;
            margin-left: 0;
          }

          &:before {
            left: 0;
            right: auto;
          }

          &:after {
            left: auto;
            right: 0;
          }

        }

      }

      .multiple-links a {
        display: block;
        margin-top: 10px;
      }

    }

  }
  // END - mobile

}
