
.vex-theme-bottom-right-corner.mobile-menu {

  .vex-content {
    border-top:5px solid #000000;
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x: hidden;
    margin:0;
    padding:0;
  }

  .vex-dialog-form {

    .list-group-item {
      margin-bottom:10px
    }

    .vex-dialog-message {
      margin-bottom:70px;
    }

    .vex-dialog-buttons {
      position:absolute;
      top:0;
      right:0;
      padding:0;
      margin:0;

      .btn {
        padding:10px 15px;
        outline: none;
      }
    }
  }
}

#mobile-menu {
  height: 45px;
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .event {
    background-color: #f5e2d4;
    a {
      color: black;
    }
  }

  .style {
    background-color: #013648;
  }

  .color {
    background-color: #eeddf0;
    a {
      color: black;
    }
  }

  .mobile-menu-icon {
    border: none;
    padding: 14px 20px 20px 20px;
  }
}
