// Default layout
.vex-dialog-default {
  .vex-overlay {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .vex-content {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 30px;
    border: solid 1px #000;
  }
  .vex-close {
    @extend .icon-cross;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

// Bottom
.vex-dialog-bottom {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-left: -1px;
  }
  .vex-content {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    max-width: 760px;
    border: 0;
    h1 {
      font-weight: 400;
      padding-bottom: 0;
      text-transform: none;
      &.text-uppercase { text-transform: uppercase;}
    }

    h2 {
      font-size: 28px;
      margin: 20px 0 30px;
      font-weight: 300;
    }
    .or-rhombus {
      width: 55px;
      height: 55px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
    }
  }
  .vex-footer {
    margin-top: 20px;
    padding: 20px;
    > *:only-child {margin: 0;}
  }

  h2:empty, h3:empty, p:empty {
    display: none;
  }
}
// @end Bottom
// -----------------


// - colors
.vex-dialog-pink .vex-content {
  background-color: $pink-bg;
  .vex-footer {
    background-color: #f9ebf7;
  }
}
// @end Default layout
// -----------------

// Sign Up dialog
.vex-dialog-signup {
  .vex-content {
    max-width: 570px;
    text-align: center;
    padding: 50px 60px;
    text-transform: uppercase;
  }
  h1 {
    text-transform: none;
  }
  p + p {
    margin-top: 20px;
  }
  a:not(.btn) {
    color: #000;
  }
}
// @end Sign Up dialog
// -----------------

// Tmp style for old Style Quiz
.vex-dialog-quiz {
  .vex-content {
    padding: 0;
    width: 1100px;
    height: 680px;
  }
}
// @end Tmp style for old Style Quiz
// -----------------

.vex-theme-flat-attack.email-capture-modal {
  .vex-content {
    border:5px solid black;
    width: 700px;
  }

  .vex-dialog-form {


    .vex-dialog-buttons {
      position:absolute;
      top:0;
      right:0;
      padding:0;
      margin:0;

      .vex-dialog-button-primary {
        display:none;
      }


      .btn {
        background-image:  url('modal-close.png');
        background-repeat: no-repeat;
        color:             transparent;
        background-size:   cover;
        height:            28px;
        width:             28px;
        margin:            0;
        padding:           0;
        margin-right:      7px;
      }
    }
  }
}

.vex-theme-flat-attack.email-capture-modal.bridesmaid-lp .vex-dialog-form .vex-dialog-input {
    margin-top: 2rem !important;
}

.vex.vex-theme-flat-attack.bridesmaid-lp  .vex-content h2 {
  background-color: transparent;
  text-align: center;
  font-size: 8rem;
  margin-bottom: 0;
}

.vex-theme-flat-attack.email-capture-modal.bridesmaid-lp {
  .vex-content {
    background: url("modals/modal_onlyimage_brides.jpg") no-repeat;
    border: none;
    height: 407px
  }

  .vex-dialog-form {
    .vex-dialog-input {
      margin-top: 220px;
    }
  }

  .submit {
    height: 40px;
    padding: 10px 40px;
    line-height: 14px;
    margin-top: 2rem;
    color: black;
  }

  p {
    color: white;
    text-align: center;
  }

  button.vex-dialog-button-secondary.vex-dialog-button.vex-last.btn.btn-black{
    background-color: white;
    color: black;
    line-height: 16px;
    vertical-align: middle;
  }

  button {
    font-family: $font-family-secondary;
  }

  ::-webkit-input-placeholder {
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  :-ms-input-placeholder {
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  .standard-form  {
    height: 35px
  }
}

.vex-theme-flat-attack.email-capture-modal.bridesmaid-lp .vex-dialog-form .vex-dialog-buttons .btn {
    padding: 5px 8px;
    margin-top: 10px;
    margin-right: 10px;
  }

.vex.vex-theme-flat-attack .vex-dialog-form .vex-dialog-input input[type="email"] {
  min-height: 25px;
  border-radius: 0;
  border: none;
}

// Text popups
// - placeholder
%vex-text-popup {
  .vex-content {
    text-align: center;
    border: 0;
    height: 400px;
    width: 700px;
    color: #fff;
    background-color: darken(#eeddf0, 5%);
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 1px;
      margin-left: -1px;
      height: 100%;
    }

    h2 {
      background-color: transparent;
      font-size: 5.9rem;
      line-height: 1.1;
      color: #fff;
      font-weight: 400;
      font-family: $font-heading !important;
    }
    h3 {
      font-size: 2.8rem;
      text-transform: uppercase;
      padding-left: 15px;
      padding-right: 15px;
    }
    p {
      font-size: 2.6rem;
      margin-top: 10px;
    }
  }
  .vex-dialog-message, .vex-dialog-form {
    display: inline-block;
    vertical-align: middle;
    .vex-dialog-input {
      display: none;
    }
  }
}

// - simple text popup
.vex-theme-flat-attack.email-capture-modal.vex-text-popup {
  @extend %vex-text-popup;
}

// - fame in future
.vex-theme-flat-attack.email-capture-modal.fame-in-future-popup {
  @extend %vex-text-popup;
  .vex-content {
    background: image-url('_popups/fame-in-future.jpg') center center no-repeat;
    background-size: cover;
  }
}
// @end Text popups
// -----------------

// Modal generator templates
.vex-theme-flat-attack.email-capture-modal.vex-dialog-bottom {
  &.vex-dialog-pink {
    .vex-content { background-color: $pink-bg;}
    .vex-footer { background-color: #f9ebf7;}
  }
  &.vex-dialog-pink-reverse {
    .vex-content { background-color: #f5e0f2; }
    .vex-dialog-message, .timer-box { background: transparent !important; }
    .vex-footer { background-color: #f9ebf7 !important;}
  }
  .pink-light {
    background-color: #f9ebf7 !important;
  }

  .vex-content {
    border: 0;
    padding-top: 40px;
    animation-duration: 0.3s, 0.5s;
    animation-name: vex-slideup, vex-fadein;
  }
  .vex-dialog-message {
    padding-top: 40px;
    h3, h2 {
      padding-top: 0 !important;
      margin-top: 0;
      line-height: 1.2 !important;
      color: #000;
    }
    h2 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  .vex-dialog-input {
    margin: 0;
  }
  .vex-dialog-form .vex-dialog-buttons .btn {
    @extend .icon-cross;
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: none;
    background: none
  }

  .vex-footer {
    .btn-facebook {
      font-size: 12px;
      line-height: 25px;
    }
    input {
      &.form-control {
        border-radius: 0;
        border: 0;
        border-bottom: solid 1px #000;
        margin: 0;
        line-height: 1.6;
        font-size: 15px;
        font-weight: 300;
        &:focus {
          box-shadow: none;
          border: 0;
          border-bottom: solid 1px #000;
        }
      }
      &.form-control-md { @extend .form-control-md;}
      &.form-control-transparent { @extend .form-control-transparent;}
    }
  }
  .or-rhombus {
    font-size: 0.65em;
  }

  .vex-footer-email {
    background: transparent !important;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    .wrap-email {
      float: none;
      width: 50%;
      margin-left: 0;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
    }
    .wrap-button {
      width: auto;
      float: none;
      display: inline-block;
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
    }
    .form-control {
      font-size: 24px !important;
      padding-top: 30px !important;
      background: transparent !important;
      border-bottom: 2px solid #322f31 !important;
      box-shadow: none !important;
    }
    .btn-plain {
      padding-left: 0;
      padding-right: 0;
      text-transform: none;
      height: 60px;
      line-height: 60px;
      background: transparent;
      font-size: 18px;
    }
  }

  // Signup Short
  &.vex-signup-short {
    .full-form { display: none !important;}
  }

  // Timer
  &.vex-timer {
    .vex-content {
      width: 780px;
    }
    .vex-dialog-message {
      p {
        font-weight: 300;
        font-size: 28px;
      }
      h2 {
        margin-bottom: 10px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 32px;
      }
      h3 {
        font-size: 28px;
        font-weight: 300;
        color: #000;
        strong {
          display: block;
          margin-bottom: 10px;
          font-size: 32px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }

  // Text
  &.vex-text {
    .vex-dialog-message {
      margin: 0;
      h3 {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 300;
        color: #000;
        font-family: $font-heading;
        background: transparent;
        line-height: 1.5;
        padding: 28px 0 8px;
        margin-bottom: 0;
        &:last-child {padding-bottom: 0;}
        strong {
          display: block;
          font-family: $font-family-secondary;
          text-transform: none;
          margin-bottom: 10px;
          font-size: 33px;
          font-weight: 400;
        }
        div {
          background-color: #f9ebf7;
          padding: 30px;
          text-transform: none;
          color: #333;
          font-size: 24px;
          a {
            text-decoration: underline;
            color: #000;
          }
        }
      }
      p {
        font-weight: 300;
        font-size: 28px;
        color: #000;
      }
      .font-forum {
        font-family: $font-heading !important;
      }
      .single {
        padding-bottom: 28px;
        text-transform: none;
      }
      div {
        background-color: #f9ebf7;
        padding: 30px;
        margin-top: 20px;
        a {
          text-decoration: underline;
          color: #000;
        }
        a.btn {
          text-decoration: none;
          color: #FFFFFF;
        }
        a.btn:hover {
          text-decoration: none;
          color: #FFFFFF;
        }
      }
      .timer-box {
        padding-top: 0;
        padding-bottom: 20px;
      }
    }
  }
}
// @end Modal generator templates
// -----------------
