// Default layout
.vex-dialog-default {

  // - layout
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-left: -1px;
  }
  .vex-overlay { 
    background-color: rgba(255, 255, 255, 0.4);
  }
  .vex-content {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 30px;
    border: solid 1px #000;
  }
  .vex-close {
    @extend .icon-cross;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

// - colors
.vex-dialog-pink .vex-content {
  background-color: $pink-bg;
}
// @end Default layout
// -----------------

// Sign Up dialog 
.vex-dialog-signup {
  .vex-content {
    max-width: 570px;
    text-align: center;
    padding: 50px 60px;
    text-transform: uppercase;
  }
  h1 {
    text-transform: none;
  }
  p + p {
    margin-top: 20px;
  }
  a:not(.btn) {
    color: #000;
  }
}
// @end Sign Up dialog
// -----------------

// Tmp style for old Style Quiz
.vex-dialog-quiz {
  .vex-content {
    padding: 0;
    width: 1100px;
    height: 680px;
  }
}
// @end Tmp style for old Style Quiz
// -----------------

.vex-theme-flat-attack.email-capture-modal {

  padding-top:13%;

  @media screen and (max-width: 991px){
    padding-top:9%;
  }

  .vex-content {
    border:5px solid black;
    width: 700px;
  }

  .vex-dialog-form {

    .form-group {

    }
    .vex-dialog-input {

    }

    .vex-dialog-buttons {
      position:absolute;
      top:0;
      right:0;
      padding:0;
      margin:0;

      .vex-dialog-button-primary {
        display:none;
      }

      .btn {
        padding:10px 15px;
      }
    }
  }
}

.vex-theme-flat-attack.email-capture-modal.bridesmaid-lp .vex-dialog-form .vex-dialog-input {
    margin-top: 2rem !important;
}

.vex.vex-theme-flat-attack.bridesmaid-lp  .vex-content h2 {
  background-color: transparent;
  text-align: center;
  font-size: 8rem;
  margin-bottom: 0;
}

.vex-theme-flat-attack.email-capture-modal.bridesmaid-lp {
  .vex-content {
    background: url("modals/modal_onlyimage_brides.jpg") no-repeat;
    border: none;
    height: 407px
  }

  .vex-dialog-form {
    .vex-dialog-input {
      margin-top: 220px;
    }
  }

  .submit {
    height: 40px;
    padding: 10px 40px;
    line-height: 14px;
    margin-top: 2rem;
    color: black;
  }

  p {
    color: white;
    text-align: center;
  }

  button.vex-dialog-button-secondary.vex-dialog-button.vex-last.btn.btn-black{
    background-color: white;
    color: black;
    line-height: 16px;
    vertical-align: middle;
  }

  button {
    font-family: "brandon-grotesque", sans-serif;
  }

  ::-webkit-input-placeholder {
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  :-ms-input-placeholder {
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
  }

  .standard-form  {
    height: 35px
  }
}

.vex-theme-flat-attack.email-capture-modal.bridesmaid-lp .vex-dialog-form .vex-dialog-buttons .btn {
    padding: 5px 8px;
    margin-top: 10px;
    margin-right: 10px;
  }

.vex.vex-theme-flat-attack .vex-dialog-form .vex-dialog-input input[type="email"] {
  min-height: 25px;
  border-radius: 0;
  border: none;
}

// size-guide
.vex.vex-theme-flat-attack .vex-content {
  padding: 1rem 1rem 2rem 1rem;

  h2 {
    font-size: 2.3rem;
    line-height: 2.3;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Forum;
    color: #a3a3a3;
    background-color: black;
    margin-top: 0;
  }

  h6 {
    font-size: 2rem;
    line-height: 2rem;

  }

  p {
    font-size: 2rem;
    line-height: 2.2rem
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  table {
    th {
      font-size: 1.5rem;
    }

    tbody {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }
  }
}


.vex-theme-flat-attack.email-capture-modal.teen-vogue-2015 {
  .vex-content {
    background-color:#EEDDF0;
    background: url('campaigns/teenvogue/teen_vogue_modal_bg.png') no-repeat;
    border: none;
    height: 407px;
    text-transform:uppercase;
    border:4px solid black;
  }

  .vex-dialog-form {
    .vex-dialog-input {
      margin-top: 35px;

      .standard-form  {
        height: 35px;
        margin-bottom:15px;
      }
    }
  }

  h2 {
    background:none;;
    color:black;
    text-align:center;
    font-size:1.222222em;
    font-family:"brandon-grotesque";
    font-weight:400;
    margin-top:85px;
    line-height: 1.5;
  }

  p {
    font-size:2.7em;
    text-align:center;
    color:black;
    font-weight:500;
    font-family:Forum;
    line-height: 5rem;
  }

  .btn.submit {
    background-color:black;
    color:white;
  }

  button {
    font-family: "brandon-grotesque", sans-serif;
  }

  ::-webkit-input-placeholder {
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;

  }

  :-moz-placeholder { /* Firefox 18- */
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
     color:#D3D3D3;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
     color:#D3D3D3;
  }

  :-ms-input-placeholder {
     font-size: 15px;
     text-transform: uppercase;
     text-align: center;
     color:#D3D3D3;
  }

  .vex-dialog-input input[type="email"] {
    border: 1px solid black;
  }

}

.vex-theme-flat-attack .vex-content .vex-dialog-buttons .btn {
  background-image: url('modal-close.png');
  background-repeat: no-repeat;
  color: transparent;
  background-size: cover;
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 10px 24px 10px 15px !important;
}
