#product-color-content {
  .recommended {

    .color-option {

      .color-box {
        background-color:#CCCCCC;
        margin:0;
        padding:0;
      }

      .color-black {
        background-color:#000000;
      }

      .color-white, .color-optic-white {
        background-color:#FFFFFF;
        border:1px dashed #EEEEEE;
      }

      .color-red {
        background-color:#FF0000;
      }

      .color-green {
        background-color:#00FF00;
      }

      .color-blue {
        background-color:#0000FF;
      }

      .color-lavender {
        background-color:#E6E6FA;
      }

      .color-cobalt-blue {
        background-color:#0047AB;
      }

      .color-lemon {
        background-color:#FFFACD;
      }

      .color-pale-blue {
        background-color:#C0DCF4;
      }

      .color-ice-blue {
        background-color:#D4E8E9;
      }

      .color-deep-purple {
        background-color:#3C1362;
      }

      .color-emerald {
        background-color:#1B9975;
      }

      .color-grey {
        background-color:#BCBEBB;
      }

      .color-burgandy {
        background-color:#5D0201;
      }

      .color-coral {
        background-color:#EC7A7B;
      }

      .color-light-blue {
        background-color:#81CDE9;
      }

      .color-nude {
        background-color:#E9CAB5;
      }

      .color-champagne {
        background-color:#EAE5C8;
      }

      .color-navy-blue {
        background-color:#BCBEBB;
      }

      .color-moss-green {
        background-color:#696845;
      }

      .color-silver {
        background-color:#A4A5A7;
      }

      .color-gold{
        background-color:#BF9541;
      }

      .color-pale-pink {
        background-color:#F8DEED;
      }

      .color-pink {
        background-color:#FF93CA;
      }

      .color-hot-pink {
        background-color:#FF0080;
      }

      .color-plum {
        background-color:#8D4585;
      }

      .color-red {
        background-color:#ED1B32;
      }

      .color-cherry-red {
        background-color:#B6000F;
      }

      .color-ivory {
        background-color:#FFFAEF;
      }

      .color-ivory {
        background-color:#EDEAD9;
      }

      .color-seashell {
        background-color:#FFFAEF;
      }

      .color-lilac {
        background-color:#E4C3E9;
      }

      .color-magenta {
        background-color:#993274;
      }

      .color-peach {
        background-color:#FDE4D8;
      }

      .color-marine-blue {
        background-color:#02283C;
      }

      .color-wine {
        background-color:#831C2E;
      }

      .color-teal {
        background-color:#145e58;
      }

      .color-dark-purple {
        background-color:#330066;
      }

      .color-salmon {
        background-color:#FF8C69;
      }

      .color-burnt-orange {
        background-color:#CC5500;
      }
    }
  }
}
