/* [ABU DHABI ORDERS]
-------------------------------------------------------*/

.alert-fee {
  display: none;
  width: 100%;
  border: 1px solid $c-neutral-8;
  margin-left: 0;
  margin-top: 14px;

  .left-part-img {
    float: left;
    width: 95px;
  }

  img {
    padding: 23px 17px;
  }

  .right-part-text {
    font-size: 1.4rem;
    float: left;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 1.4rem;
    margin-top: 13px;
    font-weight: bold;
    margin-bottom: 0;
  }

  input {
    margin-right: 10px;
  }
}

.top10 {
  margin-top: 10px;
}

.no-margin {
  margin: 0;
}

@media only screen and (max-width: 600px) {

  .alert-fee {

    .left-part-img {
      float: none;
      margin: 0 auto;
      width: auto;
      display: table;

      img {
        padding: 10px 0 0;
      }
    }

    .right-part-text {
      padding: 0 10px;
      padding: 0px 10px;
      text-align: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 415px) {

  .alert-fee {

    .right-part-text {
      width: 75%;
      margin: 0 auto;
      float: none;
    }
  }
}

@media only screen and (max-width: 375px) {

  .alert-fee {

    .right-part-text {
      width: 90%;
      padding: 0;
    }
  }
}

/*-------------------------------------------------------*/