/* [SHIPPING FEE ALERT]
-------------------------------------------------------*/
.alert-fee {
  width: 100%;
  padding: 15px;
  border-top: 1px solid $beage-bg;

  .media-wrap {
    width: 60px;
    margin-top: 10px;
  }

  .title {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 2rem;
    text-transform: none;
    color: $c-neutral-black;
  }

  p,
  label {
    font-size: 1.6rem;
  }

  .shipping-fee-amount {
    font-weight: 500;
  }

  a {
    color: inherit;
  }

  input {
    margin-top: 5px;
  }

  label {
    font-weight: 500;
  }

  @media (max-width: $bootstrap-sm-width - 1px) {

    .media-wrap {
      width: 35px;
    }

  }

}
