.sizing-banner{
  background-image: url('banner-sizing.jpg');
  h1{
    color: $c-neutral-white;
  }
}
.size-guide-lp{

  .modal {

    .inner-wrap {
      padding: 40px 15px;
      background: $c-neutral-2;
    }

    .title {
      margin: 0 0 20px;
      text-align: center;
    }

    p:last-child {
      margin-bottom: o;
    }

    img {
      display: block;
      width: 40px;
      margin: 0 auto 20px auto;
    }

  }

  .size-guide-row{
    .subheading-row{
      font-weight: 600;
      text-align: center;
    }
    .dark-grey{
      background-color: #f2f2f2;
    }
    .grey{
      background-color: #fcfcfc;
    }
    tbody tr{
      @include mobile{
        td{
          padding-left: 1px;
          padding-right: 1px;
        }
      }
      td{
        text-align: center;
      }
      td:nth-child(1), td:nth-child(2) {
        width: 95px;
      }
      td:nth-child(1), td:nth-child(2), td:nth-child(5), td:nth-child(6), td:nth-child(9), td:nth-child(10), td:nth-child(11){
        background-color: #f2f2f2;
      }
      td:nth-child(3), td:nth-child(4), td:nth-child(7), td:nth-child(8){
        background-color: #fcfcfc;
      }
    }
  }

  p{
      font-weight: 300;
  }

  .head-row{
    .head{
      font-size: 3.5rem;
      margin-top: 30px;
      font-family: $font-heading;
    }
    .wrong-size{
      font-weight: 300;
    }
    border-bottom: 1px solid $c-neutral-black;
    padding-bottom: 30px;
  }
  .measurement-row{
    .head{
      font-size: 2.5rem;
      margin-top: 0;
    }
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $c-neutral-black;
    p {
      font-weight: 300;
    }
    img{
      width: 100%
    }
  }

  .help-row{
    margin-top: 20px;
    border: 1px solid $c-neutral-black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    .head{
      font-size: 3rem;
      font-family: $font-heading;
    }

    .book-in, .contact{
      text-decoration: underline;
      text-align: center;
      width: 100%;
      clear: both;
      float: left;
      color: black;
    }
    .geo{
      margin-top: 15px;
      .area, .cta{
        font-size: 2.5rem;
      }
      .cta{
        text-decoration: underline;
      }
      &.geo-left {
        @include desktop{
          border-right: 1px solid $c-neutral-black;
        }
      }
    }

  }
  .ending{
    margin-top: 20px;
    .col{
      padding-left: 40px;
    }
    .head{
      font-size: 2.5rem;
    }
  }

  @media (min-width: $bootstrap-md-width) {

    .modal .inner-wrap {
      padding: 60px;
    }

  }

}

@include iphone6 {
  .size-guide-lp .size-guide {
    font-size: 0.813em;
  }
}

@include iphone5 {
  .size-guide-lp .size-guide {
    font-size: 0.625em;
  }
}
