.amfam{

  .i {
    background-image: url('edits/AMFAM/1_141223_01_F&PAMFAM_1831.jpg');
  }

  .ii {
    background-image: url('edits/AMFAM/2_141223_F&P_ALLMYFRIENDSAREMODELS_12_0928.jpg');
  }

  .iii {
    background-image: url('edits/AMFAM/3_141223_F&P_ALLMYFRIENDSAREMODELS_03_0959.jpg');
  }

  .iv {
    background-image: url('edits/AMFAM/4_141223_F&P_ALLMYFRIENDSAREMODELS_05_0311.jpg');
  }

  .v {
    background-image: url('edits/AMFAM/5_141223_F&P_ALLMYFRIENDSAREMODELS_08_0600-1.jpg');
  }

  .vi {
    background-image: url('edits/AMFAM/6_141223_F&P_ALLMYFRIENDSAREMODELS_08_0625.jpg');
  }

  .vii {
    background-image: url('edits/AMFAM/7_141223_F&P_ALLMYFRIENDSAREMODELS_06_0348.jpg');
  }

  .viii {
    background-image: url('edits/AMFAM/8_141223_F&P_ALLMYFRIENDSAREMODELS_07_0474.jpg');
  }

  .ix {
    background-image: url('edits/AMFAM/9_141223_F&P_ALLMYFRIENDSAREMODELS_09_0682i.jpg');
  }

  .x {
    background-image: url('edits/AMFAM/10_141223_F&P_ALLMYFRIENDSAREMODELS_11_0770c.jpg');
  }

  .xi {
    background-image: url('edits/AMFAM/11_141223_F&P_ALLMYFRIENDSAREMODELS_10_0718.jpg');
  }

  .xii {
    background-image: url('edits/AMFAM/12_141223_F&PAMFAM_SHOT_2_1916.jpg');
  }
}

.break-hearts-not-banks {

  .i {
    background-image: url('edits/BREAK-HEARTS/1_141119_F&P_NYE_01_0044.jpg');
  }

  .ii {
    background-image: url('edits/BREAK-HEARTS/2_141119_F&P_NYE_04_0226.jpg');
  }

  .iii {
    background-image: url('edits/BREAK-HEARTS/3_141119_F&P_NYE_05_0295HR.jpg');
  }

  .iv {
    background-image: url('edits/BREAK-HEARTS/4_141119_F&P_NYE_07_0422s.jpg');
  }

  .v {
    background-image: url('edits/BREAK-HEARTS/5_141119_F&P_NYE_12_0709.jpg');
  }

  .vi {
    background-image: url('edits/BREAK-HEARTS/6_141119_F&P_NYE_08_0448.jpg');
  }

  .vii {
    background-image: url('edits/BREAK-HEARTS/7_141119_F&P_NYE_09_0510.jpg');
  }

  .viii {
    background-image: url('edits/BREAK-HEARTS/8_141119_F&P_NYE_06_0340.jpg');
  }

  .ix {
    background-image: url('edits/BREAK-HEARTS/9_141119_F&P_NYE_02_0123-1.jpg');
  }
}

.bridesmaids {

  .i {
    background-image: url('edits/BRIDESMAIDS/1_171114_F&P_-BRIDESMAIDS_Shot_2_129.jpg');
  }

  .ii {
    background-image: url('edits/BRIDESMAIDS/2_171114_F&P_-BRIDESMAIDS_Shot_1_006.jpg');
  }

  .iii {
    background-image: url('edits/BRIDESMAIDS/3_171114_F&P_-BRIDESMAIDS_Shot_3_211.jpg');
  }

  .iv {
    background-image: url('edits/BRIDESMAIDS/4_171114_F&P_-BRIDESMAIDS_Shot_3_230-1.jpg');
  }

  .v {
    background-image: url('edits/BRIDESMAIDS/5_171114_F&P_-BRIDESMAIDS_Shot_4_299.jpg');
  }

  .vi {
    background-image: url('edits/BRIDESMAIDS/6_171114_F&P_-BRIDESMAIDS_Shot_5_378.jpg');
  }

  .vii {
    background-image: url('edits/BRIDESMAIDS/7_171114_F&P_-BRIDESMAIDS_Shot_8_635.jpg');
  }

  .viii {
    background-image: url('edits/BRIDESMAIDS/8_171114_F&P_-BRIDESMAIDS_Shot_6_472.jpg');
  }
}

.prom-landing {

  .i {
    background-image: url('edits/real_prom/1_REALPROM_03_035_ret.jpg');
  }

  .ii {
    background-image: url('edits/real_prom/2_REALPROM_02_120_ret.jpg');
  }

  .iii {
    background-image: url('edits/real_prom/3_REALPROM_02_143_ret.jpg');
  }

  .iv {
    background-image: url('edits/real_prom/4_REALPROM_02_146_ret.jpg');
  }

  .v {
    background-image: url('edits/real_prom/5_REALPROM_05_078_ret.jpg');
  }

  .vi {
    background-image: url('edits/real_prom/6_REALPROM_05_106.jpg');
  }

  .vii {
    background-image: url('edits/real_prom/7_REALPROM_05_113.jpg');
  }

  .viii {
    background-image: url('edits/real_prom/8_REALPROM_01_137_ret.jpg');
  }

  .ix {
    background-image: url('edits/real_prom/9_REALPROM_01_033.jpg');
  }

  .x {
    background-image: url('edits/real_prom/10_REALPROM_04_057_ret.jpg');
  }

  h1.prom-title {
    margin-top: 28%;
  }

}
