// @media only screen and (max-width: 800px) {
@media only screen and (max-width: 640px) {

  .table:not(.table-desktop) table,
  .table:not(.table-desktop) thead,
  .table:not(.table-desktop) tbody,
  .table:not(.table-desktop) th,
  .table:not(.table-desktop) td,
  .table:not(.table-desktop) tr {
    display: block;
  }

  // @media only screen and (min-width: 801px) {
  @media only screen and (min-width: 641px) {
    .table:not(.table-desktop) > tbody > tr > td {
      clear: left;
    }
  }

  .table:not(.table-desktop) thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table:not(.table-desktop) td {
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  .table:not(.table-desktop) td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  .table:not(.table-desktop) td:before {
    content: attr(data-title);
  }

  .table:not(.table-desktop).size-guide {
    td {
      padding-left: 40%;
    }

    tr {
      border-top: 1px solid grey;
    }
  }

  .table:not(.table-desktop) {
    tr.subheading-row {
      display: none;
    }
  }

  .table:not(.table-desktop).shipping {
    td {
      padding-left: 40%;
    }

    tbody > tr > td {
      border-top: 1px solid #ddd;
    }
  }

  .table:not(.table-desktop).orders-table {
    td {
      padding-left: 40%;
    }
  }

  .table:not(.table-desktop).order-items {
    tbody > tr > td {
      padding-left: 40%;
    }
  }
}
