.user {
	.nav > li > a:hover, .nav > li > a:focus {
	  text-decoration: none;
	  background-color: #003647;
	}

	.row {
		margin-top:20px;
	}


	.avatar {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		margin-right: 20px;
		margin-left: 110px;
		overflow: hidden;
		display:block;
		&.empty {
			background: url('_reg/avatar-empty.png') no-repeat center center #e1e1e1;
		}
	}
	
	&.moodboard {
		.actions {
			.btn {
				color:#FFFFFF;

			}
		}
	}
}
