// TODO: remove some of these colors, as they're not used anymore.

// Brand Colors
$c-brand-blue: #003647;
$c-brand-blue-pale: #355e6d; // secondar buttn hover
$c-brand-blue-highlight: #355e6d;
$c-brand-red: #b30000;
$c-brand-pink: #eeddf0;

// Neutral Colors
$c-neutral-white: #fff;
$c-neutral-1: #fbfbfb;
$c-neutral-2: #f5f5f5;
$c-neutral-3: #f8f8f8;
$c-neutral-4: #d7d7d7;
$c-neutral-5: #e4e4e4;
$c-neutral-6: #bcbcbc;
$c-neutral-8: #9a9a9a;
$c-neutral-9: #5c5c5c;
$c-neutral-10: #666;
$c-neutral-11: #484848;
$c-neutral-12: #333;
$c-neutral-13: #222;
$c-neutral-black: #000;
$c-classic-modal-bg: #efefef;

// Colors
$slides-bg: #ececf4;
$gray-light-bg: $c-neutral-2;
$peach-bg: #f6e2d5;
$pink-bg: #eeddf0;
$black-checkout-input: #343434;
$beage-bg: #efeeea;
$c-blue: #3a8db9;
$c-royal-blue: #0000d2;
$c-light-red: #e0a3a3;
$c-light-blue: #8dc1f0;
$c-price-drop-bg: #3a459f;

// @end Colors

// Fonts
$font-family-secondary: 'brandon-grotesque', Helvetica, Arial, sans-serif;
// Freight - available weight and styles:
// 300, 300 italic, 500, 500 italic
$font-heading: 'freight-display-pro', Helvetica, Arial, sans-serif;
// @end Fonts

// Form
$form-control-height-md: 45px;
$form_error: #d68888;
// @end Form

// Mega Menu
$mega-menu-desktop-height: 96px;
$mega-menu-mobile-height: 113px;
// @end Mega Menu

// Locale Warn
$locale-warn-desktop-height: 48px;
$locale-warn-mobile-height: 68px;
// @end Locale Warn

// Layout
$iphone5-width: 320px;
$iphone6-width: 375px;
$iphone6p-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

// if you are updating $mobile-header value, please remember to update
// mobileBreakpoint in views/products/collection/javascript
$mobile-header: 992px;

// Bootstrap uses these widths as breakpoints
$bootstrap-sm-width: 768px;
$bootstrap-md-width: 992px;
$bootstrap-lg-width: 1200px;

//Fixed header
$md-content-margin-top: 97px;
$fixed-header-with-locale-warn: 49px;

// PDP Side Menu
// That's the distance between the top of the page and the close icon
$pdp-active-side-menu-padding-top: ($fixed-header-with-locale-warn + 10px);
// @end PDP Side Menu

// Stripe Form
$stripe-form-error: #f70812;
$stripe-form-dirty: #444;
