// Colors
$gray-light-bg: #f5f5f5;
$peach-bg: #f6e2d5;
$pink-bg: #eeddf0;

// Brand Colors
$c-brand-blue: #003647;
$c-brand-red: #e31313;

// Neutral Colors
$c-neutral-white: #fff;
$c-neutral-2: #F5F5F5;
$c-neutral-4: #d7d7d7;
$c-neutral-5: #e4e4e4;
$c-neutral-6: #bcbcbc;
$c-neutral-9: #5c5c5c;
$c-neutral-10: #666;
$c-neutral-12: #333;
$c-neutral-13: #222;
$c-neutral-black: #000;

$slides-bg: #ececf4;

// @end Colors

// Fonts
$font-family-secondary: 'brandon-grotesque', sans-serif;
$font-brand-serif: Forum, serif;
// @end Fonts

// Form
$form-control-height-md: 45px;
// @end Form

// Mega Menu
$mega-menu-desktop-height: 155px;
$mega-menu-mobile-height: 110px;
// @end Mega Menu

// Locale Warn
$locale-warn-desktop-height: 48px;
$locale-warn-mobile-height: 68px;
// @end Locale Warn

// Layout
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-header: 992px;

// Bootstrap uses these widths as breakpoints
$bootstrap-sm-width: 768px;
$bootstrap-md-width: 992px;
$bootstrap-lg-width: 1200px;
