.top-bar {
  background-color: #013648;
  height: 27px;
  margin-top: 70px;
}

.bottom-bar {
  background-color: #013648;
  height: 60px;

  span {
    color: white;
    text-align: left;
    font-size: 22px;
    line-height: 60px;
    text-transform: uppercase;

    @media(min-width: 991px) and (max-width: 1225px) {
      font-size: 18px;
    }

    @media(min-width: 991px) and (max-width: 1037px) {
      font-size: 16px;
    }
  }

  .col-md-5, .col-md-5 {
    padding-top: 0;
  }
}

.fashion-it-girl-winner {
  overflow: hidden;

  h2 {
    font-size: 40px;

    span {
      font-size: 36px;
    }
  }

  .fa-instagram, .fa-pinterest-p {
    color: white;
    font-size: 14px;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    line-height: 20px;
  }

  .instagram {
    background-image: url('_icons/instagram-white.png');
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 18px;
  }
}

.banner {
  padding: 0;
  background-image: url("fashion-it-girl/fashion-it-girl-winner-banner.jpg");
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

.no-padding-top {
  padding-top: 0;
}

.ribbon {
  background: #fde6d8;
  border-left: 1px solid #fde6d8;
  border-right: 1px solid #fde6d8;
  box-shadow: 5px 0 0 #fde6d8,
              -5px 0 0 #fde6d8;
  height: 380px;
  margin: 0 5px;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  padding-left: 4rem;
  padding-right: 4rem;

  @media(max-width:990px) {
    height: 580px;
  }

  @media(min-width: 1225px) {
    max-width: 385px;
  }

  h1 {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: forum;
    font-size: 65px !important;
    line-height: 70px;

    @media(min-width: 991px)  and (max-width: 1165px) {
      font-size: 60px !important;
      line-height: 65px;
    }

    @media(min-width: 650px)and (max-width: 990px) {
      margin-left: 20%;
    }

    span {
      font-size: 100px;

      @media(min-width: 991px) and (max-width: 1165px) {
        font-size: 70px;
      }
    }
  }

  h2 {
    margin-top: 0;
  }

  h2.winner {
    margin-top: -10px;
    font-weight: 300;
    font-size: 45px;

    @media(min-width: 991px)and (max-width: 1165px) {
      font-size: 40px;
    }

    @media(min-width: 650px)and (max-width: 990px) {
      margin-left: 20%
    }
  }

  h2.name {
    font-family: forum;
    text-align: left;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 55px;
    line-height: 45px;
    padding-top: 40px;

    @media(min-width: 991px) and (max-width: 1165px) {
      font-size: 50px;
      line-height: 40px;
      padding-top: 20px;
    }

    @media(min-width: 650px) and (max-width: 990px) {
      margin-left: 20%;
    }
  }

  p {
    font-weight: 400;
    font-size: 22px;

    @media(min-width: 650px) and (max-width: 990px) {
      margin-left: 30%;
    }

    @media(min-width: 991px) and (max-width: 1165px) {
      font-size: 16px;
    }
  }
}

.ribbon:after,
.ribbon:before {
  border-top: 140px solid #fde6d8;
  content: '';
  height: 0;
  position: absolute;
  top: 100%;
  width: 0;

  @media(max-width: 990px) {
    border-top:0;
  }
}

.ribbon:after {
  border-left: 190px solid transparent;
  right: -6px;
}

.ribbon:before {
  border-right: 190px solid transparent;
  left: -6px;
}

.ambassadors {
  background-color: #fde6d8;

  @media(max-width: 550px) {
    ul {
      padding: 0;
    }
  }

  .container {
    .col-md-3.col-xs-6 {
      min-height: 380px;
    }
  }

  .name {
    text-align: left;
    text-transform: uppercase;

    @media(max-width: 550px) {
      text-align: center;
    }
  }

  h2 {
    padding-bottom: 40px;
  }

  ul {
    padding-bottom: 40px;
  }
}

.mavens {
  background-color: #eeddf0;

  @media(max-width: 550px) {
    padding-top: 60px;
  }
}

h2 span {
  font-family: forum;
}

.maven {
  height: 260px;
}

.social {
  a {
    color: black;

    &:hover {
      color: grey;
    }
  }
}



.register {
  background-color: #013648;
  height: 315px;
  text-align: center;


  p {
    color: white;
  }

  p.senior {
    font-size: 45px;
    padding-top: 40px;
    margin-bottom: 0;

    @media(max-width: 550px) {
      font-size: 25px;
      line-height: 30px;
    }

    @media(min-width: 551px) and (max-width: 800px) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  p.register-now {
    font-family: forum;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: -20px;

    @media(max-width: 550px) {
      margin-top: 10px;
      font-size: 25px;
      line-height: 30px;
    }

    @media(min-width: 551px) and (max-width: 800px) {
      font-size: 30px;
      line-height: 35px;
      margin-top: 10px;
    }
  }

  .btn:hover {
    color: black;
  }

  a {
    color: black;

    &:hover {
      color: black !important;
    }
  }
}

.register-btn {
  height: 45px;
  line-height: 45px;
  padding: 0;
  background-color: #fcfcfc;
  width: 280px;
  font-size: 20px;
  font-weight: 400;
}

.blogger {
  background-image: url('_icons/blogspot.png');
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 18px;
}

.ribbon-column {
  padding-left: 0;
  padding-right: 0;
}

.winner-image-mobile {
  width: 173px;
  height: 173px;
  margin-left: auto;
  margin-right: auto;

  img{
    width: 173px;
    height: 173px;
  }
}

////////////////////

.competition {
  background-color: #013648;
  color: white !important;
  text-align: center;
  padding-top:8rem;
  padding-bottom: 3rem;

  h3 {
    font-size: 3.6rem;
    color: white !important;
    margin-top: 0;
    line-height: 2.8rem;
  }

  h4 {
    color: white !important;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h3.aus {
    font-family: forum;
    color: white !important;
    text-transform: uppercase;
    line-height: 6rem;
  }
}

.prizes {
  background-color: #eeddf0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .popsugar {
    width: 200px;
  }

  .fame-logo {
    width: 300px;
  }

  p {
    font-size: 4rem;
  }

  .runner-up {
    text-transform: uppercase;
  }
}

.quote {
  background-color: #f6e0d3;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-trasform: uppercase;
  font-size: 3rem;
  text-align: center;
  clear: both;

  cite {
    display: block;
    text-align: right;
    text-transform: uppercase;
    padding-top: 5rem;
    line-height: 3rem;

    span {
      font-size: 2rem;
    }
  }
}

.squares {
  height: 16px;
  background-image: url('fashion-it-girl/square.png');
  background-repeat: repeat-x;
  margin-bottom: 3rem;
}

.fashion-it-girl-au {

  .application-dates {
    text-align: center;

    h5 {
      text-transform: uppercase;
      font-size: 2.6rem;
      font-weight: 600;
    }

    p {
      font-size: 2.8rem;
      font-weight: 300;
    }

    .col-md-4 {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  #fashion-it-girl-reminder {
    input {
      background-color: transparent;
      color: white;
    }

    .form-control {
      border-bottom: 1px solid white;
    }

    .btn.submit {
      background-color: transparent;
      color: white;
    }

    ::-webkit-input-placeholder {
      color: white;
      font-family: forum;
      font-size: 3rem;
      line-height: 3.3rem;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: white;
       font-family: forum;
       font-size: 3rem;
       line-height: 3.3rem;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: white;
       font-family: forum;
       font-size: 3rem;
       line-height: 3.3rem;
    }

    :-ms-input-placeholder {
       color: white;
       font-family: forum;
       font-size: 3rem;
       line-height: 3.3rem;
    }
  }

  q:before,q:after{content:''}

  .application {
    background-color: #013648;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h3 {
      color: white;
      text-align: center;
      font-size: 3rem;
      padding-top: 2rem;
    }
  }

  .open-quote {
    background-image: url('fashion-it-girl/open-quote.png');
    height: 108px;
    width: 150px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  .close-quote {
    background-image: url('fashion-it-girl/close-quote.png');
    height: 63px;
    width: 80px;
    background-repeat: no-repeat;
    float: right;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .banner {
    background-image: url('fashion-it-girl/fashion-it-girl-winner-us2015.jpg');
    height: 540px;
  }

  .ribbon {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    height: 460px;

    .popsugar {
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .fame-logo {
      width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 4rem;
    }

    h1 {
      padding-left: 4rem;
    }

    h2 {
      padding-left: 4rem;
    }
  }
}
