.returns {

  .chosen-container-single .chosen-single {
    float: none;
    border: 1px solid black;
    background:$c-neutral-white;
    box-shadow: none !important;
  }

  label {
    display:block;
    margin-bottom:0px;
    width:100%;
  }

  .return-reason-category-container {
    label {
      margin-top:7px;
      margin-bottom:0px;
    }

  }

  .background-grey {
    background-color: $c-neutral-2;
  }


  p.option {
    text-transform: uppercase;
    font-size: 12px;
  }

  table {
    background-color: $c-neutral-white;
    text-align: left;

    td {
      padding: 0;

      img {
        float: left;

        @media only screen and (max-width: 800px) {
          clear: both
        }

      }

      p {
        padding-left: 15rem;

        @media only screen and (min-width: 801px) {
          padding-top: 3rem;
        }

      }

    }

  }

  button.btn {
    padding: 0;
  }

  .btn.submit {
    margin-bottom: 1rem;
    width: 100%;
    height: 45px;
  }

  .row.header {
    h2 {
      padding-left: 2rem;
      text-align: center;
    }

    h2.order-number {
      margin-bottom: 0.5rem;
    }

    h2.order-date {
      margin-top: 0;
      font-size: 15px;
    }

  }

  &.page-returns-success {

    p {
      font-family: $font-heading;
      font-weight: lighter;
    }

    .page-title {
      margin-top: 40px;
      background: none;

      h1 {
        font-size: 3.1rem;
        text-transform: none;
        margin: 0;
      }

    }

    .page-content {

      .steps-title {

        h2 {
          font-weight: bold;
          font-size: 1.6rem;
          font-family: $font-family-secondary;
        }

      }

      .steps .item {
        margin-top: 30px;

        .step-summary-wrapper {
          padding-bottom: 20px;
        }

        .step-summary {
          background: $c-neutral-black;
          color: $c-neutral-white;
          text-align: center;
          padding: 15px;
          margin-bottom: -99999px;
          padding-bottom: 99999px;

          p {
            color: $c-neutral-white;
          }

          h3 {
            font-weight: bold;
            font-size: 1.6rem;
            font-family: $font-family-secondary;
            letter-spacing: -0.07rem;
          }

          .step-number {
            color: $c-neutral-white;
            font-style: italic;
            font-size: 1.6rem;
          }

          i.icon {
            display: table-cell;
            background-size: 100%;
            background-repeat: no-repeat;

            &.step1 {
             background-image: url('my-account/returns/step1.svg');
             width: 28px;
             height: 37px;
            }

            &.step2 {
             background-image: url('my-account/returns/step2.svg');
             width: 40px;
             height: 37px;
            }

            &.step3 {
             background-image: url('my-account/returns/step3.svg');
             width: 28px;
             height: 34px;
            }

            &.step4 {
             background-image: url('my-account/returns/step4.svg');
             width: 47px;
             height: 37px;
            }

          }

        }

        .step-description {
          border:1px solid $c-classic-modal-bg;
          background-color: $c-neutral-white;
          padding: 20px 30px;
          margin-left: -15px;
          margin-bottom: -99999px;
          padding-bottom: 99999px;

          p {
            margin: 0;
          }

          .highlight {
            font-weight: normal;
          }

          a.item-link {
            color: $c-neutral-black;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 15px;
            display: block;
          }

        }

        .address {
          padding-bottom: 20px;

          .country {
            text-transform: uppercase;
          }

        }

      }

      .notes {
        margin-top: 20px;
        font-size: 1.35rem;

        p {
          color: $c-neutral-10;
          margin: 0;
        }

      }

    }

  }

  // START - mobile
  @media (max-width: $bootstrap-md-width - 1px) {
    .table > tbody > tr > td {
      border-top: black solid 1px;
    }

    .table > tbody + tbody {
      border-top: none;
    }

    &.page-returns-success {

      .page-content .steps  {

        .item {
          margin-bottom: 30px;

          .step-description {
            margin-left: 15px;
            margin-right: 15px;
          }

        }

      }

    }

  }

}
