.returns {

  .chosen-container-single .chosen-single {
    float: none;
    border: 1px solid black;
    background:$c-neutral-white;
    box-shadow: none !important;
  }

  label {
    display:block;
    margin-bottom:0px;
    width:100%;
  }

  .return-reason-category-container {
    label {
      margin-top:7px;
      margin-bottom:0px;
    }

  }

  .background-grey {
    background-color: $c-neutral-2;
  }


  p.option {
    text-transform: uppercase;
    font-size: 12px;
  }

  table {
    background-color: $c-neutral-white;
    text-align: left;

    td {
      padding: 0;

      img {
        float: left;

        @media only screen and (max-width: 800px) {
          clear: both
        }

      }

      p {
        padding-left: 15rem;

        @media only screen and (min-width: 801px) {
          padding-top: 3rem;
        }

      }

    }

  }

  .btn {
    padding: 0;
  }

  .btn.submit {
    margin-bottom: 1rem;
    width: 100%;
    height: 45px;
  }

  .row.header {
    h2 {
      padding-left: 2rem;
      text-align: center;
    }

    h2.order-number {
      margin-bottom: 0.5rem;
    }

    h2.order-date {
      margin-top: 0;
      font-size: 15px;
    }

  }

  &.page-returns-success {
    p {
      font-family: $font-heading;
      font-weight: lighter;
    }

    .page-title {
      margin-top: 40px;
      background: none;

      h1 {
        font-size: 3.1rem;
        text-transform: none;
        margin: 0;
      }

    }

    .page-content {
      .steps-title {
        margin-bottom: 20px;

        h2 {
          font-weight: bold;
          font-size: 1.6rem;
          font-family: $font-family-secondary;
        }

      }

      .steps .item {
        margin-bottom: 30px;
        display: flex;

        .step-summary {
          padding: 15px;
          background: $c-neutral-black;
          color: $c-neutral-white;
          text-align: center;

          p {
            color: $c-neutral-white;
          }

          h3 {
            font-weight: bold;
            font-size: 1.6rem;
            font-family: $font-family-secondary;
            letter-spacing: -0.07rem;
          }

          .step-number {
            color: $c-neutral-white;
            font-style: italic;
            font-size: 1.6rem;
          }

        }

        .step-description {
          padding: 20px 30px;
          margin-left: -15px;
          border:1px solid $c-classic-modal-bg;

          p {
            margin: 0;
          }

          .highlight {
            font-weight: normal;
          }

          a.item-link {
            color: $c-neutral-black;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 15px;
            display: block;
          }

        }

        .address .country {
          text-transform: uppercase;
        }

      }

      .notes {
        font-size: 1.35rem;

        p {
          color: $c-neutral-10;
          margin: 0;
        }

      }

      .additional-info {
        margin-top: 100px;

        h4 {
          text-transform: none;
          font-size: 3.1rem;
        }

        .contact-section {
          padding: 10px 15px;
          height: 250px;
        }

      }


    }

  }

  @media only screen and (min-width: 801px) {
    .table > tbody > tr > td {
      border-top: black solid 1px;
    }

    .table > tbody + tbody {
      border-top: none;
    }

  }

}
