.returns {

  .chosen-container-single .chosen-single {
    border: 1px solid black;
    box-shadow: none !important;
    background:#FFFFFF;
    float: none;
  }

  label {
    display:block;
    width:100%;
    margin-bottom:0px;
  }

  .return-reason-category-container {
    label {
      margin-top:7px;
      margin-bottom:0px;
    }
  }

  .background-grey {
    background-color: #f5f5f5;
  }

  @media only screen and (min-width: 801px) {
    .table > tbody > tr > td {
      border-top: black solid 1px;
    }

    .table > tbody + tbody {
      border-top: none;
    }
  }

  p.option {
    text-transform: uppercase;
    font-size: 12px;
  }

  table {
    background-color: white;
    text-align: left;

    td {
      padding: 0;
      img {
        float: left;

        @media only screen and (max-width: 800px) {
          clear: both
        }
      }

      p {
        padding-left: 15rem;
        @media only screen and (min-width: 801px) {
          padding-top: 3rem;
        }
      }
    }
  }

  .btn {
    padding: 0;
  }

  .btn.submit {
    height: 45px;
    width: 100%;
    margin-bottom: 1rem;  
  }

  .row.header {
    h2 {
      text-align: center;
      padding-left: 2rem;
    }

    h2.order-number {
      margin-bottom: 0.5rem;
    }

    h2.order-date {
      margin-top: 0;
      font-size: 15px;
    }
  }
}
