.style-session-header {
  background-image: url('contact/style-session-header2.jpg');
  height: 428px;
  background-size: cover;
  background-repeat: no-repeat;
}

.style-session .form {
  width: 450px;
}
.page-title.style-session {
  background-color: black;
  text-align: center;
  height: 76px;

  img {
    margin:auto;
    padding-top: 2rem;
  }
}

.register-for-session {
  background-color: black;
  text-align: center;
  position: relative;

  h1 {
    color: white;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: none;

    span {
      font-family: forum;
    }
  }

  p {
    color: white;
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .top-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 70px 70px 0;
    border-color: transparent #eeddf0 transparent transparent;
    right: 0;
    position: absolute;
  }

  .bottom-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 0 0 70px;
    border-color: transparent transparent transparent #f7e1d4;
    left: 0;
    bottom: 0;
    position: absolute;
  }
}

.register-for-session.sucess{
  h1 {
    padding-bottom: 0;
  }
}
