.walkthrough {
  display: inline-block;
  height: 100%;
}

.help-container {
  display: inline-block;
  height: 100%;

  .fade-me {
    display: none;
    opacity: .76;
    background: $black;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
  }

  .btnClose {
    display: none;
    z-index: 101;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 25px;
    right: 107px;
  }
}

.popover {
  background-color: transparent;
  color: $white-two;
  padding: 0;
  border: 0;
  box-shadow: none;
  min-width: 140px;
  text-transform: none;

  .popover-title {
    border: 0;
    background-color: transparent;
    padding: 5px 0 0 4px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

  .popover-content {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    padding: 2px 0 0 12px;
  }

  .arrow {
    height: 5px;
    border: 0;
  }

  .arrow:after {
    border: 4px solid $white-two;
  }
}
