.image-loader {
  background: transparent image-url('wedding-atelier/icons/loader.gif') no-repeat center center;
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}
