.remove-button {
  background: image-url('wedding-atelier/close.svg') no-repeat center;
  background-size: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: none;

  &.small {
    width: 20px;
    height: 20px;
  }

  &.absolute {
    position: absolute;
    top: 15px;
    right: 30px;
  }

  &.active {
    display: inline-block;
  }
}
