.select-size-modal {
  background: $black-transparent;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  @include screen-xs {
    position: fixed;
  }

  .btnClose {
    height: 35px;
    width: 35px;
    right: -35px;
    top: -41px;
    position: absolute;

    @include screen-xs {
      top: 0;
      right: 0;
    };
  }

  .profiles-container, .sizes-container {
    display: none;

    &.active {
      display: block;
    }
  }

  .body {
    background: $white-two;
    left: 50%;
    padding: 60px 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 320px;

    @include screen-xs {
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      transform: none;
    }

    @include screen-sm {
      width: 90%;
    }

    @include screen-md {
      width: 800px;
    };

    .title {
      font-family: $primary-font;
      font-size: 34px;
    }

    .instructions {
      font-family: $primary-font;
      font-size: 14px;
    }

    .select-different-size {
      margin: 42px 0 72px;
      display: inline-block;
    }

    .thumbnail-container {
      display: inline-block;
      background: $white-three;
      text-align: center;
      padding: 20px 20px 0;
    }

    .content-container {

    }

    .actions {

      .back-to-size {
        line-height: 49px;
      }

      button {
        font-size: 10px;
        width: 100%;
        font-weight: normal;

        @include screen-sm {
          margin: 5px 0;
        };
      }
    }

  [type=radio]:checked ~ label,
  [type=checkbox]:checked ~ label  {
    outline: 2px solid $black;
  }

  [type=radio]:not(:checked) ~ label,
  [type=checkbox]:not(:checked) ~ label  {
    outline: 0;
  }

  ul.customization-dress-sizes-ul {

      @include screen-sm {
        width: 280px;
      }
      @include screen-md {
        width: 350px;
      };
    }

    ul.profiles {
      max-width: 340px;
      margin: 0 auto;

      li {
        width: 100%;
        margin: 0;
      }

      label {
        width: auto;
      }
    }
  }
}
