.select-size-modal {
  background: $black-transparent;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  @include screen-xs {
    position: fixed;
  }

  .btnClose {
    display: none;
    height: 14px;
    position: absolute;
    right: 107px;
    top: 25px;
    width: 14px;
    z-index: 101;
  }

  .profiles-container, .sizes-container {
    display: none;

    &.active {
      display: block;
    }
  }

  .body {
    background: $white-two;
    left: 50%;
    padding: 25px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 320px;

    @include screen-sm {
      width: 360px;
    }

    @include screen-md {
      width: 480px;
    };

    .title {
      font-family: $primary-font;
      font-size: 34px;
    }

    .instructions {
      font-family: $primary-font;
      font-size: 14px;
    }

    .select-different-size {
      margin: 42px 0 72px;
      display: inline-block;
    }

    .content-container {
      margin: 0 auto;
      width: 280px;

      @include screen-sm {
        width: 340px;
      };

      @include screen-md {
        width: 390px;
      };
    }

    .actions {

      button {
        font-size: 10px;
        width: 100%;
        font-weight: normal;

        @include screen-sm {
          margin: 5px 0;
        };
      }
    }

  [type=radio]:checked ~ label,
  [type=checkbox]:checked ~ label  {
    outline: 2px solid $black;
  }

  [type=radio]:not(:checked) ~ label,
  [type=checkbox]:not(:checked) ~ label  {
    outline: 0;
  }

  ul.customization-dress-sizes-ul {

      @include screen-sm {
        width: 280px;
      }
      @include screen-md {
        width: 350px;
      };
    }

    ul.profiles {
      max-width: 340px;
      margin: 0 auto;

      li {
        width: 100%;
        margin: 0;
      }

      label {
        width: auto;
      }
    }
  }
}
