.shopping-bag-item {
  margin-bottom: 30px;
  width: 100%;

  &-image,
  &-summary {
    display: inline-block;
  }

  &-image {
    width: 25%;
    vertical-align: top;
  }


  &-summary {
    padding-left: 10px;
    width: 75%;
  }

  &-summary-header {
    border-bottom: 1px solid $white;
    position: relative;
    width: 100%;

    .dress-cost {
      margin-bottom: 0;
    }

    .dress-name {
      font-weight: 700;
      margin-bottom: 0;
    }

    &-delete {
      background: transparent image-url('wedding-atelier/close.svg') center center no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
    }
  }

  &-summary-list {
    position: relative;
    font-size: .8rem;
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;

    .customization-name {
      font-weight: 700;
    }

    &-item {
      letter-spacing: 1.7px;
    }
  }
}

@include screen-sm {
  .shopping-bag-item {

    &-summary {
      padding-left: 20px;
    }

    &-summary-list {
      font-size: 1rem;
    }

    &-summary-list-item {
      margin-bottom: 5px;
    }
  }
}

@include screen-xl {
  .shopping-bag-item {

    &-image {
      width: 35%;
    }

    &-summary {
      width: 65%;
    }
  }
}
