.shopping-bag-container,
.shopping-bag {
  display: inline-block;
  height: 100%;
}

.shopping-bag-counter {
  background-color: $white-two;
  border-radius: 50%;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .5px;
  min-width: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  transform: translateY(-40%);
}

.shopping-bag-backdrop {
  background-color: $backdrop;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  opacity: 0;
  transition: opacity 400ms;
  transition-timing-function: $cubic-bezier;
  top: 0;
  width: 100%;
  z-index: 1;

  &.animate {
    opacity: 1;
  }
}

.shopping-bag-window {
  @include slide-in-up();
  background-color: $white-two;
  border-left: 1px solid $white;
  left: 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.shopping-bag-header {
  border-bottom: 2px solid $white;
  height: 69px;
  position: relative;
  width: 100%;

  &-close,
  &-title,
  &-checkout-link {
    display: inline-block;
    height: 100%;
    line-height: 69px;
  }

  &-close {
    cursor: pointer;
    float: left;
    margin-left: 15px;

    img {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-title {
    font-family: $primary-font;
    font-size: 2rem;
    left: 0;
    margin: 0 auto;
    max-width: 180px;
    position: absolute;
    right: 0;
    text-align: center;
  }

  &-checkout-link {
    float: right;
    margin-right: 10px;
    text-align: center;
  }
}

.shopping-bag-content {
  height: calc(100% - 207px); /* 100% - (header + button height) */
  overflow-y: auto;
  padding: 20px 15px 0;
  position: relative;
  text-align: center;

  .free-shipping {
    text-decoration: underline;
  }

  &-statement {
    font-family: $primary-font;
    margin-bottom: 20px;
  }

  &-list {
    list-style: none;
    margin-bottom: 0;
    text-align: left;
    padding-left: 0;
  }

  &-empty {
    font-family: $primary-font;
    font-style: italic;
  }
}

.shopping-bag-totals {
  border-top: 1px solid $white;
  bottom: 48px;
  font-size: 1rem;
  height: 90px;
  left: 0;
  letter-spacing: 2px;
  padding: 20px 10px;
  position: absolute;
  width: 100%;

  &-labels {
    float: left;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  &-amounts {
    float: right;
    text-align: right;
  }
}

.shopping-bag-continue-payment {
  bottom: 0;
  left: 0;
  height: 48px;
  margin: 0;
  position: absolute;
  width: 100%;
}

@include screen-sm {
  .shopping-bag-window {
    @include slide-in-right();
    left: auto;
    max-width: 40%;
    right: 0;
  }

  .shopping-bag-header {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;

    &-close {
      margin-left: 0;
    }

    &-checkout-link {
      margin-right: 0;
    }
  }

  .shopping-bag-content {
    min-height: 50%;
    padding: 30px;

    &-statement {
      margin: 0 auto 60px;
      max-width: 350px;
    }
  }

  .shopping-bag-totals {
    position: static;
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
  }

  .shopping-bag-continue-payment {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 230px;
    position: static;
  }
}

@include screen-xl {
  .shopping-bag-window {
    max-width: 600px;
  }
}
