.size-guide-modal {
  font-size: 12px;

  h1 {
    display: inline-block;
  }

  .measure-actions {
    border-bottom: 1px solid $black;
    cursor: pointer;
    height: 37px;
    line-height: 25px;
    margin-bottom: 25px;
    padding: 10px 0;

    a {
      text-transform: initial;
    }

    .selected {
      border-bottom: 2px solid $black;
    }
  }

  .measure,
  .tips {
    display: none;

    &.selected {
      display: block;
    }
  }

  .measure {
    max-height: 450px;
    overflow-y: auto;

    img {
      width: 100%;
    }
  }

  .tips {
    text-align: left;
  }

  .measurement-system {
    label {
      cursor: pointer;
      text-transform: lowercase;
      margin-left: 10px;
    }

    .radio {
      background-color: transparent;
      border: 1px solid $greyish;
      display: inline-block;
      height: 10px;
      margin: 0;
      width: 10px;
    }

    [type="radio"] {
      display: none;
    }

    [type="radio"]:checked + label .radio {
      border: 1px solid $black;
      background-color: $black;
    }

    [type="radio"]:not(:checked) + label {
      color: $greyish;
    }
  }

  .modal-content {
    width: 100vw;
  }

  .measurements-table {
    font-size: 10px;
    margin-bottom: 0;

    td {
      border-top: 1px solid $greyish;
    }

    td:nth-child(1) {
      border-right: 1px solid $greyish;
    }
  }

  .measurement-table-body {
    tr {
      background-color: $white-five;
    }

    td {
      color: $black-two;
      text-align: center;
    }
  }

  .size-guide-right,
  .show-measure {
    padding-left: 0;
    padding-right: 0;
  }

  @include screen-sm {
    .modal-content {
      width: 100%;
    }

    .measurements-table {
      font-size: 12px;
    }

    .size-guide-right,
    .show-measure {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @include screen-md {
    .modal-content {
      width: auto;
    }
  }
}
