.zoom-modal {
  background-color: $white-two;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;

  .close-zoom {
    background: transparent image-url('wedding-atelier/close.svg') center center no-repeat;
    cursor: pointer;
    height: 50px;
    right: 25px;
    position: absolute;
    top: 25px;
    width: 50px;
    z-index: 1;
  }

  .zoom-modal-image {
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
    height: 100vh;

    img {
      display: block;
      margin: 0 auto;
      min-width: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      height: auto;
      z-index: 0;
      transform: translateX(-50%);

      @include screen-xs{
        height: 100%;
      };
    }
  }

  .zoom-modal-pagination {
    bottom: 40px;
    position: absolute;
    right: 30px;
    @include screen-xs {
      width: 100%;
      right: 0;
      bottom: 20px;
    }
  }

  .zoom-modal-thumbnails {
    list-style: none;
    max-width: 45px;
    padding-left: 0;
    @include screen-xs {
      max-width: 100%;
      width: 100%;
    }
  }

  .zoom-modal-thumbnails-item {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 25px;
    padding-left: 0;

    @include screen-xs {
      margin: 0 8px;
    };

    &.selected {
      outline: 1px solid $black;
    }

    img {
      height: 65px;
      width: 45px;
      @include screen-xs {
        height: 55px;
        width: 35px;
      }
    }
  }
}
