.lenght-guide-modal {

  font-size: 12px;

  .length-guide-container {
    width: 50%;

    @include screen-xs {
      width: 100%;
    }

    margin: 0 auto;
  }

  h1 {
    border-bottom: 1px solid $black;
    font-size: 20px;
    margin: 0 auto 10px;
    width: 260px;
  }

  p {
    color: $greyish;
  }

  .actions {

    .tab-inches {
      border-right: 1px solid $greyish;
    }

    a {
      text-decoration: none;
      text-transform: lowercase;
      color: $greyish;
      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }

  }

  table {
    td,
    th {
      text-align: center;
    }

    thead {
      tr {
        border-bottom: 2px solid #DDDDDD;
      }
    }
    tbody {
      tr {
        background-color: $white-five;
      }
    }
  }
}
