label {
  @extend .text-uppercase;
  margin: 10px 0 0;
  font-size: .85rem;
  font-weight: 700;
}

[type='text'],
[type='submit'] {
  letter-spacing: 1.7px;
}

.checkbox {

  label {
    color: $pinkish-grey-two;
    font-weight: 300;
    font-size: .7rem;
  }
}
