$white: #d8d8d8;
$black-two: #303030;
$white-two: #fff;
$greyish: #acacac;
$pinkish-grey: #cdcdcd;
$white-three: #f2f2f2;
$white-four: #e2e2e2;
$pinkish-grey-two: #ccc;
$warm-grey: #939393;
$charcoal: #333332;
$black: #000;

$screen-md-min: 992px;
