.sessions__login-form {
  [type='submit'] {
    margin-top: 10px;
  }

  .btn-black {
    width: 100%;
  }

  .forgot-password {
    @extend .text-center;
    display: block;
    line-height: 35px;
    margin: 10px 0;
    min-height: 35px;
  }

  .or {
    @extend .text-uppercase;
    @extend .text-center;
    font-family: $primary-font;
    font-style: italic;
    margin: 15px;
  }

  .already-member {
    @extend .text-center;
    color: $boulder;
    font-size: .85rem;
    margin-top: 20px;
    @include screen-sm {
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    .button-area {
      margin-bottom: 20px;
    }
  }

}
