.new-modal.email-capture-modal {
  .vex-content {
    background-color:      $c-neutral-white;
    background-position-y: 0;
    background-repeat:     no-repeat;
    border:                1px solid #d7d7d7 !important;
    min-height:            407px;
    text-transform:        uppercase;
    width: 650px;

    .vex-dialog-form {
      margin:    0 auto;

      .vex-dialog-buttons{
        .vex-dialog-button-secondary {
          background-image:      url('modals/close.svg');
          background-color:      transparent;
        }
      }
      .vex-dialog-message {
        padding:    20px 20px 0px 20px;
        text-align: center;

        h2 {
          background-color: transparent;
          color:            #000;
          font-size:        3rem;
          line-height:      4.8rem;
          max-width:        28em;
          text-transform: none;
          font-family: "old-standard",serif !important;
          font-style: italic;
          font-weight: 400;
        }
        p {
          color:       black;
          font-family: $font-family-secondary;
          font-size:   1.5rem;
          font-weight: 600;
          line-height: 2rem;
          text-align:  center;
        }

      }

      .vex-dialog-input {
        padding-left: 10%;
        padding-right: 10%;
        .email-form{
          margin-top: 20px;
          input[name=email]{
            text-align: left;
            font-weight: 500;
            font-size: 0.7em;
            margin: 0;
            width: 98%;
            border-radius: 2px;
          }
          .input-group-addon{
            border: none !important;
            background-color: black;
            color: white;
            @media(max-width: 375px){
              font-size:1rem;
            }
          }
        }
        .fb-form{
          margin-top: 30px;
          margin-bottom: 15px;
          .btn-facebook{
            padding-left:55px;
            padding-right: 10px;
          }
        }

      }
    }
  }
}

.new-modal.add-to-cart{
  padding-bottom: 0;
  .vex-content {
    min-height: 0;
    width: 750px;
    border: none !important;
    .vex-dialog-input{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .vex-dialog-message{
      padding-top: 0 !important;
    }
    .left-panel{
      float: left;
      background-color: #ebebeb;
      width: 37%;
      height: 463px;
      @media(max-width: $bootstrap-md-width){
        height: 380px;
      }
      .heading{
        font-size: 3.5rem;
        font-weight: 500;
        font-family: Formal;
        @media(min-width: $bootstrap-md-width){
          br{
            display:none;
          }
        }
        .you{
          font-style: italic;
          display: inline-block;
          @media(min-width: $bootstrap-md-width){
            width: 100%;
          }
        }
        .vip{
          font-weight: 700 !important;
          display: inline-block;
          @media(min-width: $bootstrap-md-width){
            width: 100%;
          }
        }
        .deserve{
          display: inline-block;
          @media(min-width: $bootstrap-md-width){
            width: 100%;
          }
          @media(max-width: $bootstrap-md-width){
            margin-left: 10px;
          }
        }
        .treatment{
          display: inline-block;
          @media(min-width: $bootstrap-md-width){
            width: 100%;
          }
          @media(max-width: $bootstrap-md-width){
            margin-left: 10px;
          }
        }
      }
      .mess{
        font-size: 1.5rem;
        margin-top: 20px;
        font-weight: 500;
        .something{
          margin-top: -15px;
        }
      }
      hr{
        border-top-color: black;
        width: 30%;
        margin-top: 20px;
      }
      .logo{
        width: 18%;
        margin-top: 40px;
        margin-bottom: 40px;
        @media(max-width: $bootstrap-md-width){
          width: 5rem;
        }
      }
      @media(max-width: $bootstrap-md-width){
        width:100%;
      }
    }
    .right-panel{
      float: left;
      width: 63%;
      height: 463px;
      background-color: white;
      @media(max-width: $bootstrap-md-width){
        height: 500px;
      }
      .mess{
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: none;
      }
      .tc{
        font-size: 1.2rem;
        span {
          text-transform: none;
        }
        font-weight: 500;
        @media(min-width: $bootstrap-md-width){
          br {
            display: none;
          }
        }
        line-height:  20px;
      }
      input.checkout-btn{
        background-color: black;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 170px;
        cursor: pointer;
      }
      input.checkout-btn.after-click{
        background-color: #D0D0D0
      }

      .four-lipsticks{
        @media(min-width: $bootstrap-md-width){
          img{
            cursor: pointer;
            width: 15%;
          }
          img:hover{
            width: 14%;
          }
          img.selected{
            border-width: 1px;
            border-color: #E12D81;
            border-style: solid;
          }
        }
        @media(max-width: $bootstrap-md-width){
          img{
            cursor: pointer;
            width: 11%;
          }
          img:hover{
            width: 10%;
          }
        }
      }
      @media(max-width: $bootstrap-md-width){
        width:100%;
      }
    }
  }
}


