coffee:
  $(document).ready ->
    $('.register-your-event').on 'click', (e) ->
      e.preventDefault()
      $("#how-it-works").hide()
      $(".sign-up-form").show()
    $('.sign-in-here').on 'click', (e) ->
      e.preventDefault()
      $(".sign-up-form").hide()
      $(".sign-in-form").show()

    $(".sign-in-form form").on 'submit', (e) ->
      e.preventDefault()
      email       = $(".sign-in-form #spree_user_email").val()
      password    = $(".sign-in-form #spree_user_password").val()
      remember_me = $(".sign-in-form #spree_user_remember_me").val()
      authenticity_token = $(".sign-in-form input[name='authenticity_token']").val()
      if email == "" || password == ""
        alert("All fields must be filled !!!")
        return

      $.ajax(
        type: "POST"
        dataType: "json"
        url: "/" + window.app.current_site_version.permalink + "/user/spree_user/sign_in.js"
        data: {
          page: "bride",
          utf8:       true,
          authenticity_token: authenticity_token,
          spree_user: {
                        email:       email,
                        password:    password,
                        remember_me: remember_me
                      },
          commit: "Login"
        }
      ).success((res) ->
        if res["error"] == true
          $(".sign-in-form #error-email").text("Incorrect login credentials")
          $(".sign-in-form #error-email").show()
        else
          $(".sign-in-form #error-email").hide()
          $(".sign-in-form").hide()
      )

    $(".sign-up-form form").on 'submit', (e) ->
      e.preventDefault()
      first_name            = $(".sign-up-form form #spree_user_first_name").val()
      last_name             = $(".sign-up-form form #spree_user_last_name").val()
      email                 = $(".sign-up-form form #spree_user_email").val()
      password              = $(".sign-up-form form #spree_user_password").val()
      password_confirmation = $(".sign-up-form form #spree_user_password_confirmation").val()
      newsletter            = $(".sign-up-form form #spree_user_newsletter").val()

      if first_name == "" || last_name == "" || email == "" || password == "" || password_confirmation == ""
        alert("All fields must be filled !!!")
        return

      if password != password_confirmation || password.length < 6
        alert("Password and password confirmation must match and be more than 6 characters !!!")
        return

      $.ajax(
        type: "POST"
        url: "/" + window.app.current_site_version.permalink + "/user/spree_user.js"
        dataType: "json"
        data: {
          utf8:       true
          spree_user: {
                        first_name: first_name,
                        last_name: last_name,
                        email:                   email,
                        password:                password,
                        password_confirmation:   password_confirmation,
                        newsletter:              newsletter
                      },
          commit:     "Create an account"
        }
      ).success((data)->
        if data["status"] == "ok"
          $(".sign-up-form  #error-email").hide()
          $(".sign-up-form").hide()
        else if data["status"] == "fail"
          $(".sign-up-form  #error-email").text("Sorry !, email has already been taken !!!")
          $(".sign-up-form  #error-email").show()
      )

.container.sign-in-form
  .row
    h2.title-line-on-sides
      .inner-wrap SIGN IN
    .col-md-5.left-col
      = link_to 'Log in with Facebook', fb_auth_path(site_version: current_site_version.code), class: 'btn btn-facebook btn-block btn-black btn-md fb-login'
    .col-md-1
      .separator
        span or
    .col-md-6.form-wrap
      span#error-email
      = render :partial => 'spree/shared/login'

.container.sign-up-form
  .row
    .col-md-12.sign-up
      h2.title-line-on-sides
        .inner-wrap CREATE AN ACCOUNT
      - signup_params = {site_version: current_site_version.code}
      = form_for :spree_user, :url => spree.spree_user_registration_path(@spree_user, signup_params) do |f|
        = f.hidden_field :site_version_id, value: current_site_version.id

      .container
        .row
          .col-md-5.left-col
            = link_to 'Sign up with facebook', fb_auth_path(signup_params), class: 'btn btn-facebook btn-block btn-black btn-md fb-login'
          .col-md-1
            .separator
              span or
          .col-md-6.form-wrap
            = form_for :spree_user, :url => spree.spree_user_registration_path(@spree_user, signup_params) do |f|
              = f.hidden_field :site_version_id, value: current_site_version.id
              div data-hook="signup"
                .row
                  .col-md-6.form-group
                    = f.text_field :first_name, :class => 'form-control form-control-md', :placeholder => t(:first_name)
                  .col-md-6.form-group
                    = f.text_field :last_name, :class => 'form-control form-control-md', :placeholder => t(:last_name)
                  .col-md-12.form-group
                    = f.email_field :email, autocomplete: :off, :class => 'form-control form-control-md', :placeholder => t(:email)
                    span#error-email
                #password-credentials
                .row
                  .col-md-6.form-group
                    = f.password_field :password, autocomplete: :off, :class => 'form-control form-control-md', :placeholder => t(:password)
                  .col-md-6.form-group
                    = f.password_field :password_confirmation, autocomplete: :off, :class => 'form-control form-control-md', :placeholder => t(:password_confirmation)
                  .col-md-12.form-group
                    .checkbox
                      label for="spree_user_newsletter"
                        = f.check_box :newsletter, :checked => 'checked'
                        span
                          ' Receive new styles in my inbox each week + $25 off
                  .col-md-5.form-group data-hook="signup_below_password_fields"
                    = f.submit 'Create account', class: 'btn btn-block btn-black'
                  .col-md-7.col-sm-12.text-center
                    p
                      span Already have an account?
                      = link_to 'Sign in here', "#", class: 'sign-in-here'
