.modal
  .modal-container.submission-complete
    .close-lightbox
    .thanks Thanks for your submission
    .collection Check out Fame & Partners’ latest collection

javascript:
  hideThanksPopup = function() {
    $('.modal-container.submission-complete').closest('.modal').hide()
  }

  $(document).ready(function() {
    setTimeout(hideThanksPopup, 2000);
    $('.modal-container.submission-complete .close-lightbox').on('click', hideThanksPopup)
  });
