files:
  "/etc/nginx/conf.d/000_my_config.conf":
    mode: "000755"
    owner: root
    owner: root
    content: |
      server {
          listen 80;
          server_name fameandgroups.com.au;
          return 301 https://www.fameandgroups.com.au;
      }
      server {
          listen 80;
          server_name _ ;
          return 301 https://$host$request_uri;
      }
