option_settings:
  - option_name : BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/cache"

packages:
  yum:
    git: []
    postgresql93-devel: []
    ImageMagick: []
    ImageMagick-devel: []

commands:
  01_install_bundler:
    command: /opt/rubies/ruby_current/bin/gem install bundler

commands:
  #01 && 02 needs for build native extension. See https://forums.aws.amazon.com/thread.jspa?messageID=550901&#550053
  001_upgrade_bundler:
    command: /opt/rubies/ruby-current/bin/gem install bundler -v 1.16.0
  002_fameify_bundle_script:
    command: sed -i 's/bundle install --local/bundle install/' /opt/elasticbeanstalk/hooks/appdeploy/pre/10_bundle_install.sh
  003_famify_asset_script:
    command: sed -i 's/precompile" $EB_APP_USER/precompile"/' /opt/elasticbeanstalk/hooks/appdeploy/pre/11_asset_compilation.sh
