option_settings:
  - option_name : BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/cache"

packages:
  yum:
    git: []
    yum: []
    postgresql95-devel: []
    ImageMagick: []

commands:
  #01 && 02 needs for build native extension. See https://forums.aws.amazon.com/thread.jspa?messageID=550901&#550053
  001_upgrade_bundler:
    command: /opt/rubies/ruby-current/bin/gem install bundler -v 1.16.0
  #02_compile-assets:
  #  command: bundle exec rake assets:precompile
