// General button
.btn {
	text-transform: uppercase;
	padding: 15px 40px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: "brandon-grotesque";
	FONT-WEIGHT: 600;
	letter-spacing: 2px;
	border-radius: 0;
}

// White bordered button
.btn-white {
	// background: none;
	// border: 3px solid white;
	background: white;
	font-weight: 600;
	color: $fp-charcoal;
	font-size: 1.1em;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	text-transform: none;
	font-weight: 300;
	// font-size: 1.5em;
	border-radius: 0px;
	font-family: "brandon-grotesque";
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn-white:hover {
	background: #fff;
	color: $fp-title-grey;
}

// Transparent button
.btn-transparent {
	border: 0;
	box-shadow: 0;
	-webkit-box-shadow: 0;
	background: 0;
}

.btn-dropdown {
	padding: 10px;
	background: none;
	border: 2px solid $fp-dropdown-border;
	font-weight: 300;
	color: #999;
}

.btn-dropdown:hover, .btn-dropdown:focus, .btn-dropdown:active {
	color: $fp-dropdown-border;
}

// Grey button
.btn-grey {
	background: none;
	border: 1px solid rgb(85, 85, 89);
	font-weight: 300;
	color: black;
	font-size: 1.1em;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	text-transform: none;
	font-weight: 300;
	font-size: 1.1em;
	display: block;
	width: 100%;
	border-radius: 0px;
	max-width: 300px;
	text-transform: uppercase;
	font-weight: 300;
	font-family: "brandon-grotesque";
	letter-spacing: 2px;

	margin: 10px auto;
}

.btn-grey:hover {
	color: $fp-button-grey;
	border-color: $fp-button-grey;
}

.invis-fix {
	border: none;
	background: none;

	&:hover {
		opacity: 0.5;
	}
}

.btn-black {
	background: black;
	color: white;
}

.btn-charcoal {
	background: $fp-charcoal;
	color: white;
}

// Quantity
.btn-quantity {
	padding: 5px 15px;
	background: $fp-dropdown-border;
	border: 2px solid $fp-dropdown-border;
}

.input-quantity {
	padding: 5px 15px !important;
	border: 2px solid $fp-dropdown-border !important;
	background: none !important;
	color: $fp-dropdown-border !important;
}

// New
.new-style {
	font-family: "brandon-grotesque";
	font-weight: 600px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 3px solid rgb(248, 218, 223);
	border-radius: 0px;
}
