// Responsive captions

@media screen and (max-width: $screen-xs) {
	.caption-left {
		text-align: center;
		padding-left: 0;
	}

	.caption-right {
		text-align: center;
		padding-right: 0;
	}

	// Smaller padding on search
	.search-bar {
		padding: 20px;
	}

	// Less padding on container {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	// Less padding
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.nav-menu {
		background: white !important;
	}

	.margin-top-100-mobile {
		margin-top: 100px;
	}

	.footer {
		text-align: center;
	}

	.btn {
		font-size: 1em !important;
	}

	.alert-fixed-top {
		position: absolute;
	}

	.nav-menu {
		position: absolute;
	}

	.cd-top {
		display: none;
	}

}

@media screen and (max-width: $screen-sm) {

	.footer {
		text-align: center;
	}

	.no-float-mobile {
		float: none !important;
	}

	.cd-top {
		bottom: 80px;
	}

	.close-search {
		padding: 0;
		padding-top: 30px;
		padding-right: 30px;
		z-index: 10000;
	}

	.padding-zero-mobile {
		padding: 0px;
	}

	.search-bar {
		height: 100vh;
	}
}

@media screen and (max-width: 450px) {
	.hidden-xxs {
		display: none !important;
	}
}

@media screen and (max-width: $screen-md) {
			.product-section--details {
				position: relative !important;
				width: 100% !important;
				max-width: none !important;
				right: 0 !important;
				top: 0 !important;
		}
}
