// Mobile menu icon

.mobile-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2000;
	border-top: 2px solid white;
	// box-shadow: 10px 5px 10px 5px rgb(95, 93, 93);
}

.mobile-menu-icon {
	background: #000;
	border-right: 2px solid white;
	padding: 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.mobile-menu-icon a {
	color: white;
}

.mobile-active {
	background: #333;
}


.mobile-menu-overlay {
	position: fixed;
	top: 999em;
	/* right: 0; */
	bottom: 0;
	width: 100%;
	background: $fp-footer-bg;
	z-index: 999;
	overflow: scroll;
	// transition: all ease-in-out 20s;
	// -webkit-transition: all ease-in-out 20s;
}

.close-mobile {
	
	padding-right: 20px;
	padding-top: 20px; 

	img { 
		width: 20px; 
		height: 20px; 
	}
}



.mobile-menu-overlay .content {
	padding: 30px;

	ul {
		padding-left: 0px;
		list-style: none;
	}

	li {
		padding: 10px 20px;
		border: 1px dotted $gray-light;
		text-align: uppercase;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	h3 { 
		margin-top: 60px; 
		margin-bottom: 30px;
	}
}