@import url(http://fonts.googleapis.com/css?family=Forum);

// @import "compass";

// Import Bootstrap Compass integration
// @import "bootstrap-compass";

// Import custom Bootstrap variables
// @import "bootstrap-variables";

// Import Bootstrap for Sass
// @import "bootstrap";

// @import "grid";
@import "overrides";
// @import "typography";
// @import "modules";
@import "buttons";
// @import "footer";
// @import "nav";
// @import "mobile-menu";
// @import "mixins";
// @import "layout";
// @import "cart";


// .fp-dropdown {
// 	background-color: #4C4C4C !important;
// 	color: white !important;
// }

// .fp-dropdown-menu {
// 	box-shadow: none !important;
// 	-webkit-box-shadow: none !important;
// }

// .info-box {
// 	padding: 30px;
// 	border: 10px solid $fp-light-grey;
// }

// 	.info-box--title {
// 		margin-bottom: 15px;
// 		margin-top: 10px;
// 	}

// 	.info-box--caption {
// 		font-size: 20px;
// 		font-weight: 300;
// 		color: $fp-grey-text;
// 	}


// .standard-form {
//   border: 1px solid $gray-lightish;
//   font-family: $font-family-sans-serif;
//   text-align: left;
//   text-transform: none;
//   font-size: 16px;
//   padding: 20px;
// }





// PAGE TEMPLATES

// Slider


// Caption Classes

// .caption {
// 	padding: 15px;
// }

// .caption-center {
// 	text-align: center;
// 	margin: 0 auto;
// 	@extend .vertical-center;
// 	@extend .caption;
// }

// .caption-left {
// 	@extend .pull-left;
// 	@extend .vertical-center;
// 	@extend .caption;
// 	padding-left: 0;
// }

// .caption-right {
// 	@extend .pull-right;
// 	@extend .vertical-center;
// 	@extend .caption;
// 	padding-right: 0;
// 	text-align: right;
// }


// Homepage panels
// .homepage-panel {
// 	position: relative;
// 	transition: all 0.1s;
// 	-webkit-transition: all 0.1s;
// }

// .homepage-panel--content {
// 	position: absolute;
// 	z-index: 2;
// 	left: 0;
// 	right: 0;
// 	margin: 0 auto;
// 	top: 50%;
// 	-webkit-transform: translateY(-50%);
// 	-moz-transform: translateY(-50%);
// 	-ms-transform: translateY(-50%);
// 	-o-transform: translateY(-50%);
// 	transform: translateY(-50%);
// 	opacity: 1;
// 	transition: all 0.4s;
// 	-webkit-transition: all 0.4s;
// }
// .homepage-panel--title {
// 	font-weight: 300;
// 	opacity: 1;
// 	transition: all 0.4s;
// 	-webkit-transition: all 0.4s;
// 	padding: 30px;
// 	text-transform: none;
// 	color: white;
// }

// .goto-arrow {
//   position: absolute;
//   bottom: 10px;
//   right: 10px;
//   z-index: 2;
//   width: 40px;
//   height: 40px;
// }

// .arrow {
// 	width: 50px;
// 	transition: all 0.2s;
// 	-webkit-transition: all 0.2s;
// 	opacity: 1;
// }

// .homepage-panel::after {
// 	transition: all 0.2s;
// 	-webkit-transition: all 0.2s;
// 	content: "";
// 	background: #000;
// 	opacity: 0.5;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	z-index: 1;
// }

.input-group-addon {
	border-bottom: 1px solid black !important;
}

// Hover Actions

// .homepage-panel:hover:after {
// 	opacity: 0;
// }

// .homepage-panel:hover .homepage-panel--title {
// 	opacity: 0;
// 	display: none;
// }

// .homepage-panel:hover img.arrow {
// 	opacity: 1;
// 	display: inline-block !important;
// 	visibility: visible !important;
// }

// .homepage-panel:hover .goto-arrow {
// 	opacity: 1;
// 	visibility: visible !important;
// 	display: inline;
// }


// Email subscription
.email-subscription {
	display: block;
	max-width: 400px;
	margin: 0 auto;
}

.black-form {
	background: transparent;
	border-color: black;
}

.email-signup-form {
	width: 350px !important;
	text-align: left;
}

// Footer
// .footer-menu {
// 	padding: 20px;
// 	background: #000;

// 	ul {
// 		display: block;
// 		padding-left: 0px;
// 		margin-bottom: 0px;
// 	}

// 	li {
// 		display: inline-block;
// 		padding: 5px;
// 		color: grey;

// 		a {
// 			color: white;
// 			text-transform: uppercase;
// 			font-size: 16px;
// 			font-weight: 600;

// 			&:hover {
// 				color: #9db6d1;
// 			}
// 		}
// 	}
// }


// Dropdown menu
// .open > .dropdown-menu {
// 	display: block;
// 	border-radius: 0;
// 	border: none;
// 	box-shadow: none;
// 	-webkit-box-shadow: none;
// }

// .dropdown-menu > li > a {
// 	font-weight: 300;
// }

// Main content
// .main-content {
// 	padding: $large-section-padding 0;
// }

// .cd-top {
//   display: inline-block;
//   height: 40px;
//   width: 40px;
//   position: fixed;
//   bottom: 40px;
//   right: 10px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
//   /* image replacement properties */
//   overflow: hidden;
//   text-indent: 100%;
//   white-space: nowrap;
//   background: rgba(0, 0, 0, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
//   visibility: hidden;
//   opacity: 0;
//   -webkit-transition: opacity .3s 0s, visibility 0s .3s;
//   -moz-transition: opacity .3s 0s, visibility 0s .3s;
//   transition: opacity .3s 0s, visibility 0s .3s;
//   border-radius: $border-radius-base;
//   -webkit-border-radius: $border-radius-base;

//   &:hover {
//   	opacity: 1 !important;
//   }
// }
// .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
//   -webkit-transition: opacity .3s 0s, visibility 0s 0s;
//   -moz-transition: opacity .3s 0s, visibility 0s 0s;
//   transition: opacity .3s 0s, visibility 0s 0s;
// }
// .cd-top.cd-is-visible {
//   /* the button becomes visible */
//   visibility: visible;
//   opacity: .5;
// }
// .cd-top.cd-fade-out {
//   /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
//   opacity: .5;
// }
// .no-touch .cd-top:hover {
//   background-color: #e86256;
//   opacity: 1;
// }

// @media only screen and (min-width: 768px) {
//   .cd-top {
//     right: 20px;
//     bottom: 20px;
//   }
// }
// @media only screen and (min-width: 1024px) {
//   .cd-top {
//     height: 60px;
//     width: 60px;
//     right: 30px;
//     bottom: 30px;
//   }
// }

// Arrow
.arrow-up {
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;

	border-bottom: 16px solid $fp-lightest-grey;
	opacity: 0;
}

.arrow-dark {
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;

	border-bottom: 16px solid #E5E5E5;
	opacity: 0;
}

.menu-active-arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
}

.active-hover {
	position: relative;
}

// Line arrow
.line-arrow {
	width: 32px; height: 32px;
}

// Search hover
.search:hover {
	cursor: pointer;
}

// Alert
.alert-fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 800;
	margin-bottom: 0;
}

// Moodboard
// .add-to-moodboard {
// 	position: absolute;
// 	padding: 10px;
// 	right: 15px;
// 	top: 0px;
// 	opacity: 0.3;
// 	transition: opacity 0.2s;
// 	-webkit-transition: opacity 0.2s;
// 	&:hover {
// 		opacity: 1;
// 	}
// }



// Social share
// .social-share .fa {
// 	padding: 10px;
// 	font-size: 1.3em;
// 	color: black;
// }

// .social-share {
// 	margin-top:15px;
// }




// .delete-item {
// 	position: absolute;
// 	top: 20px;
// 	right: 20px;
// }


// .margin-right-10 {
//   margin-right: 10px;
// }

// .back-to-shop {
//   margin-top: 17px;
//   color: $gray-lightish;
// }



.qty, .checkout-price {
  color: $gray-light;
}

.checkout-price {
  margin-top: .4em;
  text-align: left;
}

.checkout-items {
  padding: 0px 10px;
  padding: 10px 20px;
  border: 1px solid $gray-lightish;
}

.checkout-go {
  padding: 0px 15px !important;
  background: black;
}


// Checkbox
.btn-group-radio > .btn {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-group-radio > .btn > label {
  padding: 15px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "brandon-grotesque";
  FONT-WEIGHT: 600;
  letter-spacing: 2px;
  // padding: 4px 14px;
  // *padding-top: 3px;
  // *padding-bottom: 3px;
}

// .btn-group-radio > .btn-large > label {
  // padding: 9px 14px;
  // *padding-top: 7px;
  // *padding-bottom: 7px;
// }

// .btn-group-radio > .btn-small > label {
  // padding: 3px 9px;
  // *padding-top: 3px;
  // *padding-bottom: 3px;
// }

// .btn-group-radio > .btn-mini > label {
  // padding: 2px 6px;
  // *padding-top: 1px;
  // *padding-bottom: 1px;
// }

.btn-group-radio input[type=radio] {
  display: none;
}

.btn-group-radio > label > .btn {
  margin-left: -1px;
}

.btn-group-radio input[type=radio]:checked + .btn {
  color: white;
  background: black;
  background-image: none;
  outline: 0;
  // -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  //    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  //         box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group-radio > input:first-child + .btn {
  margin-left: 0;

}
.btn-group-radio > input:first-child + .btn.large {
  margin-left: 0;
}

.or {
  padding: 0px 10px;
  color: $gray-lightish;
  font-style: italic;
}
// .nav-alert-top {
// 	top: 60px;
// }
@import "helpers";
// @import "media";
@import "category";
// @import "product";
// @import "dropdowns";
// @import "color-dropdown";
