.about-boxes {
	margin: 20px 0;
	h3 {
		font-size: 47px;
		font-weight: 400;
		font-family: $fontThree;
		line-height: 1;
		em {
			font-family: $fontTwo;
			text-transform: none;
		}
	}
	h4 {
		font-size: 23px;
		font-family: $fontThree;
		line-height: 1;
		margin: 25px 0;
	}
	p { 
		text-transform: none;
		font-family: $fontFour;
		font-size: 12px;
	}
	.table-row {
		display: table;
		position: relative;
		min-height: 400px;
		.grid-6 {
			display: table-cell;
			vertical-align: middle;
			float: none;
			position: relative;
			text-align: center;
			padding: 12px;
			&.with-bg {
				background-color: #f3dbd5;
			}
			.arrows-line-vertical {
				position: absolute;
				right: 0;
				top: 40px;
				bottom: 40px;
				z-index: 10;
			}
		}
		.icon-heart {
			position: absolute;
			z-index: 10;
			bottom: -10px;
			left: 50%;
			margin-left: -12px;
			color: $pinkColor;
			font-size: 22px;
		}
		.arrows-line-horizontal {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
		}
	}
	.benefits {
		margin: 25px 0 40px;
		text-align: center;
		h2, h3 {
			font-size: 47px;
			font-family: $fontThree;
			margin-bottom: 30px;
			line-height: 1;
			em { font-family: $fontTwo;}
		}
		h3 {
			margin-bottom: 20px;
		}
		p {
			text-transform: none;
			font-family: $fontFour;
			font-size: 12px;
		}
		.grid-3 { 
			position: relative;
			min-height: 200px;
			padding: 30px;
			.text {
				position: relative;
				z-index: 1;
			}
			&:first-child {
				.arrows-line-horizontal { left: 0;}
			}
			&:last-child {
				.arrows-line-horizontal { right: 0;}
			}
		}
		.numbers {
			color: #f3dbd5;
			font-size: 170px;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
		}
		.arrows-line-horizontal {
			position: absolute;
			bottom: 0;
			left: 5px;
			right: 5px;
		}
	}
	.team {
		margin: 60px 0;
		h2 {
			font-size: 81px;
			font-family: $fontTwo;
			text-align: center;
			text-transform: none;
			em {
				position: relative;
				display: inline-block;
				&:before, &:after {
					content: "\e60a";
					position: absolute;
					font-family: 'Icons';
				  speak: none;
				  font-style: normal;
				  font-weight: normal;
				  font-variant: normal;
				  text-transform: none;
				  line-height: 1;
				  -webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
				}
				&:before {
					left: -47px;
					bottom: 10px;
					font-size: 56px;
				}
				&:after {
					top: 2px;
					right: -44px;
					color: $pinkColor;
					font-size: 35px;
				}
			}
			small {
				display: block;
				font-size: 12px;
				font-family: $fontFour;
				text-transform: none;
			}
		}
		p {
			text-transform: none;
			font-family: $fontFour;
			font-size: 12px;
			margin: 0 0 15px;
		}
		h4 {
			font-size: 23px;
			font-family: $fontThree;
			margin: 0 0 15px;
		}
		h6 {
			margin: 0;
			font-weight: 400;
			letter-spacing: 0.125em;
		}
		.row {
			font-size: 0;
			margin: 0 10px;
		}
		.grid-4 {
			padding: 0 10px;
			font-size: $fontSize;
			&.align {
				padding-top: 63px;
			}
		}
		.portrait {
			width: 178px;
			overflow: hidden;
			margin: 0 auto 15px;
			position: relative;
			padding: 2px;
			.mask {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background: url('_portrait-mask.png') no-repeat;
				background-size: cover;
			}
			img { 
				width: 100%;
				display: block;
			}
		}
		.info {
			margin-bottom: 30px;
		}

		.jobs{
			margin: 180px 0 0 0;
			text-align: center;
		}
	}
}