@import url(//fonts.googleapis.com/css?family=Arapey:400italic,400);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@include font-face('Novecento', 'novecentosanswide-light', 300);
@include font-face('Novecento', 'novecentosanswide');
@include font-face('Novecento', 'novecentosanswide-bold', 700);

@include font-face('Didot', 'didot', 400);
@include font-face('Didot', 'didot-italic', 400, italic);
@include font-face('Didot', 'didot-bold', 700);

@include font-face('LeagueGothic', 'leaguegothic-regular', 400);

@include font-face('Icons', 'icomoon');
@include font-face('Icon Numbers', 'icon-numbers');

@include font-face('Austin', 'austin-fatitalic', 700, italic);

@include font-face('bebas_neueregular', 'bebasneue', 400);
@include font-face('ShrutiRegular', 'shruti', 400);
@include font-face('BaskervilleMTStdRegular', 'baskervillemtstd-regular', 400);


$fontOne: 'Novecento', sans-serif;
$fontTwo: 'Didot', serif;
$fontThree: 'LeagueGothic', serif;
$fontFour: 'Arapey', serif;
$fontFive: 'Lato', sans-serif;
$fontSix: 'Austin', sans-serif;

$baskerville: 'BaskervilleMTStdRegular', sans-serif;
$shruti: 'ShrutiRegular', sans-serif;
$bebas: 'bebas_neueregular', sans-serif;
