@media only screen and (max-width: 1140px), only screen and (max-device-width: 1140px) {

	#girlfriendxfame {
		#content{
			width: 100%;
			max-width: 1140px;
			margin: 0 auto 0 auto;
			min-width: 320px;
			-webkit-text-size-adjust: 100%;

		}

		.nav-container{
			display: none;
		}

		.holder{
			display: none;
		}
    
	}

}


#girlfriend{	

	.girlfriend-header {
		position: relative;
		margin-bottom: 40px;
		width: 100%; 

		img { 
			width: 100%;
			max-width: 1140px;
			display: inline-block;
			border-bottom: solid 1px #000;
		}
		.info{
			text-align: center;
			width: 70%;
			padding: 10px;
			margin: 0 auto;

			h1, h2{
				font-family: $fontSix;
				font-style: italic;
				text-transform: none;
			}

			h1{
				font-size: 38px;
				text-transform: uppercase;
				line-height: 0.9em;
			}

			h2{
				font-size: 14px;
				line-height: 1.3em;
			}
		}
	}

	.girlfriend-catalog {
		width: 100%;
		margin-bottom: 50px;
		font-size: 0;
		.catalog-item {
			display: inline-block;
			vertical-align: top;
			padding: 0 10px 50px;
			width: 50%;
			min-width: 320px;
			font-size: $fontSize;
			@include clearfix;
			@include box-sizing(border-box);
			.picture {
				float: left;
	      width: 60%;
				margin-right: 10px;
	      text-align: center;
	        img {
	          width: 100%;
	        }
			}
			.price {
		    font-size: 14px;
		    color: $pinkColor;
		    .price-old {
		    	padding: 0 4px;
		      color: #000;
		    }
		  }
		  .price-old { 
		    text-decoration: line-through;
		    color: #000;
		  }
		  .sale-discount {
		  	font: 700 18px/1 $fontSix;
		  	font-style: italic;
		  	font-size: 16px;
		    color: #000;
		    margin-top: 6px;
		  }
			.title {
				font-size: 40px;
				font-family: $fontThree;
				text-decoration: none;
			}
			.text {
	      min-width: 40%;
	      margin-left: 40%;
				text-align: center;
				position: relative;
			}
			.social-grey-global {
				text-align: center;
	      z-index: 3;
			}
			.btn{
				background-color: #F3009E;
			}

			.shared {
				width: 50px;
				padding: 5px;
				position: relative;
				display: inline-block;
				vertical-align: top;
				a {
					display: block;
					color: #fff;
					font-size: 17px;
					font-family: $fontThree;
					text-decoration: none;
					text-align: center;
				}
			}&:last-child {
				padding: 5px 0px;
			}

			.social-popup {
				position: absolute;
				left: 10px;
				right: 10px;
				top: 50%;
				margin-top: -78px;
				border: solid 1px #000;
				padding: 20px;
				background-color: #ededed;
				font-family: $fontThree;
				font-size: 16px;
				z-index: 10;
				p { margin: 0;}
				.title { font-size: 28px;}
				.discount { 
					font-family: $fontTwo;
					font-size: 14px;
					margin: 2px 0;
				}
				.code {
					margin: 2px 0;
					font-size: 32px;
					color: $pinkColor;
				}
			}
		}
	}

	.girlfriend-terms{
		padding-top: 10px;
		font-size: 10px;
		text-align: center;
	}

	.girlfriend-footer {
		img { 
			width: 100%;
			max-width: 1140px;
			display: inline-block;
		}
	}

	
	

	@media only screen and (max-width: 630px), only screen and (max-device-width: 630px) {
			
		.girlfriend-catalog {
			.catalog-item {
				min-width: 100%;
				.arrows-line-horizontal{
					display: none;
				}
				.description{
					display: none;
				}
			}
		}
	}

}

.girlfriend-popup {
	text-align: center;
	.modal-container {
		background: url('_girlfriend/popup.jpg') no-repeat center center;
		width: 534px;
		height: 394px;
		padding-left: 80px;
		padding-right: 80px;
		@include box-sizing(border-box);
		h2 {
			font-size: 58px;
			font-family: $fontThree;
		}
		p {
			font-family: $fontTwo;
		}
		.facebook-button {
			margin: 40px 0 20px;
		}
	}
}
