.icon-close,
.icon-heart,
.icon-hr-left,
.icon-hr-right,
.icon-hexagon,
.icon-dropdown-down,
.icon-dropdown-up,
.icon-square,
.icon-hr-up,
.icon-hr-down,
.icon-customize,
.icon-scissors,
.icon-cutline,
.icon-expand,
.icon-pinterest,
.icon-facebook,
.icon-twitter,
.icon-mail,
.icon-google-plus,
.icon-guarantee,
.icon-comment,
.icon-arrows,
.icon-logo,
.icon-price-free,
.icon-erase,
.icon-dollar,
.icon-vimeo,
.icon-tumblr,
.icon-instagram,
.icon-youtube,
.icon-facebook2,
.icon-trash,
.icon-play,
.icon-pause,
.icon-checkmark,
.icon-zoom-in,
.icon-arrow-left,
.icon-arrow-right,
.icon-stylists,
.icon-customize2,
.icon-ondemand,
.icon-returns,
.icon-dress,
.icon-shipping,
.icon-twin
{
  font-family: 'Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e623";
}
.icon-arrow-right:before {
  content: "\e624";
}
.icon-heart:before {
  content: "\e006";
}
.icon-instagram:before {
  content: "\e614";
}
.icon-youtube:before {
  content: "\e615";
}
.icon-hr-left:before {
  content: "\e005";
}
.icon-hr-right:before {
  content: "\e004";
}
.icon-hexagon:before {
  content: "\e60a";
}
.icon-dropdown-down:before {
  content: "\e001";
}
.icon-dropdown-up:before {
  content: "\e000";
}
.icon-square:before {
  content: "\e003";
}
.icon-hr-up:before {
  content: "\e007";
}
.icon-hr-down:before {
  content: "\e008";
}
.icon-facebook2:before {
  content: "\e616";
}
.icon-trash:before {
  content: "\e617";
}
.icon-play:before {
  content: "\e618";
}
.icon-pause:before {
  content: "\e619";
}
.icon-zoom-in:before {
  content: "\e61b";
}
.icon-close:before {
  content: "\e611";
}
.icon-customize:before {
  content: "\e600";
}
.icon-stylists:before {
  content: "\e61c";
}
.icon-customize2:before {
  content: "\e61d";
}
.icon-shipping:before {
  content: "\e61e";
}
.icon-returns:before {
  content: "\e61f";
}
.icon-dress:before {
  content: "\e620";
}
.icon-vimeo:before {
  content: "\e612";
}
.icon-ondemand:before {
  content: "\e621";
}
.icon-tumblr:before {
  content: "\e613";
}
.icon-scissors:before {
  content: "\e601";
}
.icon-cutline:before {
  content: "\e602";
}
.icon-expand:before {
  content: "\e60b";
}
.icon-pinterest:before {
  content: "\e60c";
}
.icon-facebook:before {
  content: "\e60d";
}
.icon-twitter:before {
  content: "\e60e";
}
.icon-mail:before {
  content: "\e60f";
}
.icon-google-plus:before {
  content: "\e610";
}
.icon-checkmark:before {
  content: "\e61a";
}
.icon-logo:before {
  content: "\e606";
}
.icon-twin:before {
  content: "\e622";
}
.icon-guarantee:before {
  content: "\e603";
}
.icon-comment:before {
  content: "\e604";
}
.icon-arrows:before {
  content: "\e605";
}
.icon-price-free:before {
  content: "\e607";
}
.icon-erase:before {
  content: "\e608";
}
.icon-dollar:before {
  content: "\e609";
}



.icon-number-one, .icon-number-two, .icon-number-three, .icon-number-four {
  font-family: 'Icon Numbers';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-number-four:before {content: "\e600"; }
.icon-number-three:before {content: "\e601"; }
.icon-number-two:before {content: "\e602"; }
.icon-number-one:before {content: "\e603"; }