// Long Box shadow mixin
@function longBoxShadowRight($color, $size) {
  $val: $color 0px 0px;
  @for $i from 1 through $size {
    $val: #{$val}, #{$color} #{$i}px #{$i}px;
  }
  @return $val;
}
@mixin longBoxShadowRight($color, $size) {
  box-shadow: longBoxShadowRight($color, $size);
}

@function longTextShadowRight($color, $size) {
  $val: 0px 0px $color;
  @for $i from 1 through $size {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}
@mixin longTextShadowRight($color, $size) {
  text-shadow: longTextShadowRight($color, $size);
}