.popup-placeholder {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	.overlay {
		position: fixed;
		z-index: 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.modal-container {
  position: absolute;
	background-color: #fff;
	border: solid 5px #000;
	padding: 40px;
	margin: 0;
	z-index: 1;
	&.small {
		padding: 20px;
	}
	&.popover-left:before {
		content: '';
		position: absolute;
		left: -15px;
		top: 50%;
		margin-top: -15px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 15px 15px 0;
		border-color: transparent #000 transparent transparent;
		border-color: rgba(255,255,255,0) #000 rgba(255,255,255,0) rgba(255,255,255,0);
	}
	.product-title {
		font: 400 32px/1 $fontThree;
		a {
			text-decoration: none;
		}
	}
	.form {
		margin: 0;
		@extend .devise-forms;
		.input { margin-bottom: 20px;}
	}
	.submit {
		margin-top: 20px;
		.btn { width: 100%;}
	}
	.close-lightbox {
		width: 24px;
		height: 24px;
		color: #fff;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #000;
		font-family: 'Icons';
	  speak: none;
	  font-size: 14px;
	  font-style: normal;
	  font-weight: 300;
	  font-variant: normal;
	  text-transform: none;
	  text-align: center;
	  line-height: 19px;
	  text-indent: 4px;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  &:before { content: "\e611";}
	}
	h2, .modal-title {
		text-transform: uppercase;
		font: 300 30px/1 $fontFive;
		margin-bottom: 20px;
	}
	p {
		font: 400 14px/1.1 $fontFour;
		text-transform: none;
	}
}

.campaign-newsletter {
	.modal-container {
		padding: 0;
		width: 670px;
		height: 450px;
		background: url('_popups/background.jpg') no-repeat;
	}
	.modal-form {
		float: right;
		width: 360px;
		margin: 30px 56px 0 0;
		input[type="email"] {
			width: 280px;
			vertical-align: top;
			margin-right: 13px;
		}
	}
	.title-join {
		text-align: center;
		font: 400 78px/0.9 $fontThree;
		margin: 30px 0;
	}
	.promo-title{

	}
	.promo-code{
		margin: 10px 0 0;
		font: 400 22px/0.9 $fontThree;
	}
	.share-this{
		margin-bottom: 20px;
	}
	.share{
		width: 100px;
		display: inline-block;
	}
	.campaign-desc {
		font: italic 100 16px/1.2 $fontTwo;
		text-transform: none;
		padding: 20px 30px;
		color: #fff;
		background: #000;
		text-align: center;
		margin-bottom: 40px;
		-moz-box-shadow:    6px 6px 0px 0px $pinkColor;
	  -webkit-box-shadow: 6px 6px 0px 0px $pinkColor;
	  box-shadow:         6px 6px 0px 0px $pinkColor;
	}
	.thanks{
		margin-bottom: 10px;
	}
	.price-tag {
		width: 105px;
		height: 105px;
		display: block;
		position: absolute;
		top: 300px;
		left: 140px;
		background: url('_popups/newsletter-20-to-spend.png') no-repeat;
	}
	.aligncenter{
		text-align: center;
	}
}

.bday-popup, .prom-popup, .welcomeback-popup, .bridesmaid-popup {
	.modal-container {
		border: 5px solid #000;
		padding: 28px;
		height: 204px;
		width: 700px;
		@include box-sizing(border-box);
	}
	.title {
		font: 400 48px/0.9 $fontThree;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.thanks{
		.title{
			margin-top: 5px !important;
		}
		a.btn{
			float: left;
		}
		.aligncenter{
			margin-top: 10px;
		}
		.promo-code{
			font: 400 38px/1.2 $fontThree;
		}
	}
	.form-container {
		width: 345px;
		label { display: block;}
		.input {
			max-width: 235px;
			vertical-align: top;
			margin-right: 10px;
		}
	}
	.share-this{
		padding-top: 8px;
	}
	.share{
		width: 100px;
		display: inline-block;
	}
}
.bday-popup .modal-container {
	background: url('_popups/birthday.jpg') no-repeat;
}
.welcomeback-popup .modal-container {
	background: url('_popups/prom.jpg') no-repeat;
	padding-left: 200px;
}

.jansale-popup {
	.modal-container {
		background: url('_popups/xtra5-modal-bg.png') no-repeat;
		width:620px;
		height:320px;
		text-align: center;

		.string {
			min-width:200px;
			margin:auto;
			text-align:center;
			width:400px;
			padding-top:235px;

			.input {
				border: 2px solid #666666;
				box-shadow: none;
				font-size:17pt;
				text-transform:none;
				color:#8A8A8A;
				height:46px;
			}
			.btn {
				background-color:#8A8A8A;
			}
		}

		.thanks {
			min-width:200px;
			margin:auto;
			text-align:center;
			width:400px;
			padding-top:220px;
			color:#FFFFFF;
			font-weight:normal;
			font-size:17pt;

			.share-this {
				display:none;
			}

			.promo-code {
				font-weight:bold;
				font-size:19pt;
			}
		}

		::-webkit-input-placeholder {
		   text-align: center;
		}

		:-moz-placeholder { /* Firefox 18- */
		   text-align: center;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   text-align: center;
		}

		:-ms-input-placeholder {
		   text-align: center;
		}

	}
}



.bridesmaid-popup .modal-container {
	background: url('_popups/bridesmaid1.jpg') no-repeat;
	border-color: #FFDFEA;

	.title {
		margin-top: 13px;
	}

	.serif{
		display: inline-block;
		font: 700 22px/1 $fontSix;
		font-style: italic;
		padding-right: 5px;
	}

	.sans-serif{
		display: inline-block;
		font: 400 22px/1 $fontOne;
	}

	.close-lightbox{
		background: #FFDFEA;
		color: #000;
		font-size: 12px;
	}

	.string {
		.input {
			border: 1px solid #FFDFEA;
			@include longBoxShadowRight(#FFDFEA, 5);
		}
	}

	.btn{
		background: #FFDFEA;
		color: #000;
	}


}


.bride15p-popup .modal-container {
	background: url('campaigns/bridemaid/bridesmaid_modal_bg.png') no-repeat;
	border-color: #2C2F5A;
	height:400px;
	width:620px;
	@include box-sizing(border-box);

	.close-lightbox{
		background: #2C2F5A;
		color: #FFFFFF;
		font-size: 12px;
	}

	.string {
		margin:auto;
		text-align:center;
		margin-top:240px;
		width:400px;

		.input {
			min-width:300px;
			font-size:12pt;
			border: 1px solid #000000;
			box-shadow:none;
			clear:both;
			font-size:17pt;
			text-transform:none;
		}
	}
	.thanks {
		margin:auto;
		text-align:center;
		width:300px;
		margin-top:215px;
		font-weight:bold;
		color:#FFFFFF;
		font-weight:normal;
		font-size:15pt;

		.share-this {
			display:none;
		}

		.promo-code {
			font-weight:bold;
			font-size:19pt;
		}
	}
	.btn{
		background: #2C2F5A;
		color: #FFFFFF;
	}

		::-webkit-input-placeholder {
		   text-align: center;
		}

		:-moz-placeholder { /* Firefox 18- */
		   text-align: center;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   text-align: center;
		}

		:-ms-input-placeholder {
		   text-align: center;
		}

}

.bride3plus1-popup .modal-container {
	background: url('campaigns/bridemaid/bridesmaid_modal_4_for_3_bg.jpg') no-repeat;
	border-color: #2C2F5A;
	height:400px;
	width:620px;
	@include box-sizing(border-box);

	.close-lightbox{
		background: #2C2F5A;
		color: #FFFFFF;
		font-size: 12px;

	}

	.string {
		margin:auto;
		text-align:center;
		margin-top:240px;
		width:400px;

		.input {
			min-width:300px;
			font-size:12pt;
			border: 1px solid #000000;
			box-shadow:none;
			clear:both;
			font-size:17pt;
			text-transform:none;
		}
	}
	.thanks {
		margin:auto;
		text-align:center;
		width:300px;
		margin-top:215px;
		font-weight:bold;
		color:#FFFFFF;
		font-weight:normal;
		font-size:15pt;

		.share-this {
			display:none;
		}

		.promo-code {
			font-weight:bold;
			font-size:19pt;
		}
	}
	.btn{
		background: #2C2F5A;
		color: #FFFFFF;
	}

		::-webkit-input-placeholder {
		   text-align: center;
		}

		:-moz-placeholder { /* Firefox 18- */
		   text-align: center;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   text-align: center;
		}

		:-ms-input-placeholder {
		   text-align: center;
		}

}


.style30-popup .modal-container {
	background: url('campaigns/teenvogue/style30.png') no-repeat;
	border: 0px solid #000000;
	height:400px;
	width:620px;
	@include box-sizing(border-box);

	.close-lightbox{
		background: #000000;
		color: #FFFFFF;
		font-size: 12px;
	}

	.string {
		margin:auto;
		text-align:center;
		margin-top:240px;
		width:400px;

		.input {
			min-width:300px;
			font-size:12pt;
			border: 1px solid #000000;
			box-shadow:none;
			clear:both;
			font-size:17pt;
			text-transform:none;
		}
	}
	.thanks {
		margin:auto;
		text-align:center;
		width:300px;
		margin-top:215px;
		font-weight:bold;
		color:#000000;
		font-weight:normal;
		font-size:15pt;

		.share-this {
			display:none;
		}

		.promo-code {
			font-weight:bold;
			font-size:19pt;
		}
	}
	.btn{
		background: #000000;
		color: #FFFFFF;
	}

		::-webkit-input-placeholder {
		   text-align: center;
		}

		:-moz-placeholder { /* Firefox 18- */
		   text-align: center;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   text-align: center;
		}

		:-ms-input-placeholder {
		   text-align: center;
		}

}


.prom-popup .title{
	font-size: 38px;
}

.girlfriend-pop {
	.modal-container {
		border: 5px solid #000;
		height: 400px;
		width: 600px;
		@include box-sizing(border-box);
		text-align: center;
		background: url('_popups/gfoffer1.jpg') no-repeat;
	}

	.modal-form{
		width: 500px;
		height: 250px;
		text-align: center;
		padding: 0;
	}

	.logo img{
		width: 160px;
		margin: 30px auto 0;
	}

	.title {
		font: 400 58px/0.9 $fontThree;
	}
	.sub {
		font: 400 38px/0.9 $fontThree;
		margin-bottom: 20px;
	}

	.v2{
		.logo img{
			width: 160px;
			margin: 30px auto 0;
		}
		.title {
			font: 400 48px/0.9 $fontThree;
			margin-bottom: 5px;
		}
		.sub {
			font: 700 20px/0.9 $fontOne;
			margin-bottom: 15px;
		}
	}




	.thanks{
		margin-top: 40px;

		.title{
			margin-top: 5px;
			font: 400 58px/0.9 $fontThree;
		}
		.promo-code{
			width: 70%;
			font: 400 28px/0.9 $fontOne;
			margin: 10px auto 20px auto;
			span{
				font: 400 38px/0.9 $fontThree;
			}
		}

		.v2{
			.promo-code{
				span{
					width: 70%;
					font: 400 28px/0.9 $fontThree;
				}
			}
			p{
				font-size: 18px;
				line-height: 0.9em;
				padding: 0;
			}
		}
		.share-this{
			padding-bottom: 10px;
		}
		.share{
			width: 100px;
			display: inline-block;
		}
		.aligncenter{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			margin-top: 10px;
		}
	}
	.form {
		text-align: center;
		label {
			display: block;
			font: 300 15px/0.9 $fontOne;
			margin-bottom: 5px;
		}
		.inputbox {
			display: block;
			width: 335px !important;
			margin: 0 auto 5px auto;
			background-color:rgba(0,0,0,0) !important;
			color: #666 !important;
			box-shadow: none !important;
		}
	}
}


// CVV Code Help Popover
#cvv-popup {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 240px;
	.modal-container {
		left: 0;
		top: -55px;
	}
}

// ADD FRIENDS
.modal.send-to-friends {
	.row {
		margin: 0 -10px;
	}
	.grid-12, .grid-6 {
		padding: 0 10px;
	}
}
// @end

// bridesmaid concierge
.consierge-service{

	.modal-container{
		width: 711px;
		background: url("_popups/concierge.jpg") no-repeat;
		background-color: #FFF;
		padding: 37px 0 0 0;
	}

	.item{
		text-align: center;
		width: 711px;
		padding: 1px;

		.modal-header{
			margin-bottom: 58px;
			.head1{
				font-family: $fontTwo;
				font-size: 27px;
				letter-spacing: -2.8px;
				margin-bottom: -5px;
			}

			.head2{
				font-family: $fontTwo;
				font-size: 57px;
				font-style: oblique;
				letter-spacing: -1.2px;
				font-weight: 300;
			}

			.head3{
				font-family: $fontTwo;
				font-size: 20px;
				font-weight: 700;
				letter-spacing: -0.5px;
				text-transform: none;

			}
		}

		ul{
			list-style-type: none;
			padding: 0 20px;
			li{
				margin-top: 10px;
				font-size: 13px;
				letter-spacing: 1px;
			}
			.number {
				font-family: $fontThree;
				font-size: 23px;
			}
		}

		p{
			font: 12px $fontOne;
			em{
				font: 300 24px "LeagueGothic", serif;
				text-transform: uppercase;
				letter-spacing: 2.4px;
			}
		}

		form{
			margin-top: 32px;
			p{
				margin-bottom: 2px;
			}

			.input{
				margin-top: 29px;
				background: url('_popups/concierge_arrow.jpg') no-repeat;
				background-position: 239px 1px;

				label{
					float: left;
					/* margin-left: 133px; */
					width: 227px;
					text-align: right;
					font-size: 14px;
					letter-spacing: -0.2px;
				}

				input{
					width: 239px;
					height: 28px;
					margin-top: -5px;
					background-color: #fdf5ef;
					text-align: center;
					border: none;
					font-size: 12px;
				}
			}
		}

		.block-with-triangle{
			width: 113px;
			min-width: 0px;
			margin: 33px auto 0 auto;
			position: relative;
			right: -20px;
			padding-top: 25px;

			span.text{
				right: 17px;
				font-size: 22px;
				letter-spacing: 0px;
			}

			span.triangle-bottom{
				border-width: 89px 69px 0 70px;
			}
		}

		.risk_free {
			margin: 40px 0;
			word-wrap: normal;

			p{
				font-size: 14px;
				margin: 0;
				em{
					font-size: 22px;
					margin: 22px 0 0 0;
				}
			}
		}
	}
}
//@end

.share-popup {
	width: 720px;
	left: 50%;
	top: 100px;
	margin-left: -365px;
	text-align: center;
	.string {
		margin: 0 10px 30px;
	}
	.error {
		input {
			border-color: #cc0000 !important;
			box-shadow: #cc0000 0px 0px, #cc0000 1px 1px, #cc0000 2px 2px, #cc0000 3px 3px, #cc0000 4px 4px, #cc0000 5px 5px !important;
		}
		.error-message {
			color: #cc0000;
			margin-top: 10px;
			text-align: left;
		}
	}
	.add-more {
		margin: 0 0 20px;
		font-size: 16px;
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
	.buttons {
		position: relative;
	}
	.preloader {
		position: absolute;
		top: 6px;
		right: -40px;
	}
	.alert {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 240px;
		color: #fff;
		padding: 6px 10px;
		text-align: center;
		font-size: 10px;
	}
	.alert-success {
		background: #39b54a;
	}
	.alert-error {
		background: #cc0000;
	}
}

.modal-signup {
	.modal-container {
		width: 640px;
		height: 480px;
		text-align: center;
		padding: 0;
		border: 0;
		background: image-url('_bridesmaid/bg-modal-signup.jpg') center center no-repeat #fff;
		.modal-title {
			font: 400 50px/1.4 $fontThree;
			color: #2e2f56;
			padding: 110px 70px 40px;
		}
	}
}

.modal-signup-thanks {
	.modal-container {
		width: 320px;
		height: 240px;
		text-align: center;
		padding: 0;
		border: 0;
		color: #2e2f56;
		background: image-url('_bridesmaid/bg-modal-signup-thanks.jpg') center center no-repeat #fff;
		.modal-title {
			font: 400 26px/1.4 $fontThree;
			padding: 80px 20px 10px;
			margin-bottom: 0;
		}
		.modal-subtitle {
			text-transform: none;
			font: 400 italic 16px/1.4 $fontTwo;
		}
	}
}
