$fontsPath: '/fonts/';

$gridWidth: none !default;
$gutterWidth: 0 !default;

$layoutWidth: 1140px;
$navWidth: 970px;
$navWhyUs: 645px;

$fontSize: 10px;
$pinkColor: #f0f;
$greenColor: #8dffc4;
$greenLightColor: #caffe5;