.my-account {

  .equal-height {
    overflow: hidden;
  }

  .page-full-bg {
    background-color: $c-neutral-3;
  }

  .additional-info {
    margin-top: 50px;
    padding-bottom: 30px;

    h4 {
      text-transform: none;
      font-size: 3.1rem;
    }

  }

}
