/* [PDP afterpay modal]
-------------------------------------------------------*/
.afterpay-modal {

  .header-wrap {
    padding: 30px;
    background: $c-neutral-2;
  }

  .content-wrap {
    padding: 30px;
    font-weight: normal;
  }

  .title {
    margin: 0;
  }

}
