/* [PDP - gallery]
-------------------------------------------------------*/
.slick-slide {
  height: auto;
  min-height: inherit;
}

.panel-media {
  position: relative;
  overflow: hidden;

  .trigger-details {
    position: absolute;
    top: 15px;
    right: 30px;
    text-decoration: underline;
    font-size: 0.875em;
  }

}

.panel-media-inner-wrap {

  .expande,
  .btn-zoom {
    position: absolute;
    z-index: 1;
  }

  .expande {
    left: 50px;
    top: 50%;
    margin-top: -25px;
  }

  .btn-zoom {
    display: none;
    visibility: hidden;
    left: 15px;
    bottom: 12px;
  }

  .zoomed-in .expande:before,
  .zoomed-in .btn-zoom {
    display: none;
  }

  .loader {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    background: url(spinner-big.gif);
    background-size: cover;
  }

  .media-wrap {
    position: relative;

    img,
    .expande {
      opacity: 0;
      transition: opacity 200ms linear;
    }

    &.is-loaded {

      img,
      .expande {
        opacity: 1;
      }

      .loader {
        display: none;
      }

    }

  }

}

.panel-media .media-wrap-outer {
  position: relative;
  height: 100vh;
  max-height: 850px; // NOTE: this will need to be change when we get new product images
  padding-bottom: 30px;
}

.panel-media .media-wrap {
  position: relative;
  height: 100%;
  background: transparent;
  overflow: hidden;

  img {
    display: block;
    width: auto;
    height: 100%;
  }

  .scrollspy-trigger {
    position: absolute;
    top: 100px;
    left: 0;
  }

}

@media (max-width: $bootstrap-md-width - 1px) {

  .panel-media-inner-wrap {
    margin-bottom: 0;

    .expande {
      display: none;
      visibility: hidden;
    }

    .btn-zoom {
      display: block;
      visibility: visible;
    }

  }

  .panel-media .media-wrap-outer {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }

  .panel-media .media-wrap {

    img {
      width: 100%;
      height: auto;
      margin-top: 0;
    }

  }

}

.slick-dots {
  position: relative;
  float: right;
  margin-top: -32px;
  padding: 0 15px;
  text-align: right;

  li {
    display: inline-block;
    border-left: none;

    &:not(:first-child) {
      margin-left: 5px;
      padding-left: 5px;
    }

  }

  button {
    display: block;
    width: 15px;
    height: 15px;
    padding: 0;
    text-indent: -9999em;
    background: $c-neutral-white;
    border: solid $c-neutral-8 1px;
  }

  .slick-active button {
    background: $c-neutral-black;
    border-color: $c-neutral-black;
  }

}

.scrollspy-thumbs {
  // temp disabled
  display: none;

  li {
    display: block;
    border-left: none;

    &:not(:first-child) {
      margin: 5px 0 0 0;
      padding: 5px 0 0 0;
    }

  }

  a {
    display: block;
    width: 15px;
    height: 15px;
    border: solid $c-neutral-8 1px;
  }

  .is-selected a {
    background: $c-neutral-black;
    border-color: $c-neutral-black;
  }

}
