/* [PDP - panel group]
-------------------------------------------------------*/
// this is just reset for default .panel-group BS styling
.panel-group {
  margin-bottom: 30px;

  .panel {
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .panel-heading {
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    color: inherit;
    background: $c-neutral-white;
    border: none;
    border-radius: 0;
  }

  .panel-title {
    font-family: $font-family-secondary;
    font-size: 1em;
    font-weight: normal;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 0;
    border: none;
  }

}
