/* [PDP]
-------------------------------------------------------*/
.pdp {
  position: relative;

  h1, .h1,
  h2, .h2 {
    margin-top: 0;
  }

  p,
  li {
    font-family: $font-heading;
    font-size: 1.125em;
    font-weight: 300;
  }

  a:not(.btn) {
    color: inherit;
    cursor: pointer;
  }

  a.link {
    text-decoration: underline;
  }

  ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li {
    display: inline-block;
    line-height: 1;
    font-size: 0.75em;

    &:not(:first-child) {
      margin-left: 4px;
      padding: 0 0 0 4px;
      border-left: solid $c-neutral-8 1px;
    }

  }

  .btn.disabled,
  .btn[disabled] {
    opacity: 1;
  }

  .content-tabs {
    margin-bottom: 60px;
  }

  .est-delivery {
    line-height: 1;
    text-align: center;
    font-family: $font-heading;
    font-weight: 300;
    font-size: 0.75em;
    font-style: italic;
  }

  .main-content-area {
    min-height: 100vh;
  }

  .c-carousel-inspiration__item {
    padding: 0 5px;
  }

  .panel-side-wrap {
    position: relative;
    overflow: hidden;
  }

  .affix-bottom {
    position: absolute;
  }

  .v-center {
    display: table;
    width: 100%;
    height: 100%;
  }

  .justify-content {
    display: table-cell;
    vertical-align: middle;
  }

  .panel-side-container .c-card-customize {
    margin-bottom: 70px;
  }

  .price {
    font-weight: bold;
  }

  // START tabs
  .l-tab-controls {
    margin: 15px 0 30px 0;
    text-align: center;
    color: $c-neutral-8;

    li {
      margin: 0;
      padding: 0 0 3px 0;
      border: 0;
      border-bottom: solid $c-neutral-8 1px;

      a {
        margin: 0;
        padding: 0;
        font-family: $font-family-secondary;
        font-size: 1.25em;
        border: 0;
      }

    }

    .active {
      font-weight: bold;
      color: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }

  .l-tab-your-way {

    .keep-ratio {
      margin-bottom: 30px;
      padding-bottom: 127%;
      background: $c-neutral-white;
    }

    .icon {
      width: 25px;
      height: auto;
    }

    p:last-child {
      margin-bottom: 0;
    }

  }

  .l-tab-fabric-information {

    .icon {
      display: block;
      width: 50px;
      height: auto;
      margin-bottom: 10px;
    }

  }

  .l-tab-inspiration {

    .media-wrap {
      margin-bottom: 30px;
    }

  }
  // END tabs

  // START styling advice
  .c-styling-advice {
    padding: 30px 20px;
    text-align: center;
    background: $c-neutral-2;

    .row {
      margin-left: -5px;
      margin-right: -5px;
    }

    [class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }

    h2 {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
      font-size: 1em;
      line-height: 1.2;
    }

    .media-wrap {
      margin-bottom: 30px;
    }

    .btn {
      padding: 10px;
      font-size: 0.625em
    }

    .icon {
      display: inline-block;
      width: 20px;
      height: auto;
    }

  }

  .dress-more .heading {
    padding: 10px 0;
  }

  .c-product {
    position: relative;
    display: block;
    margin-bottom: 30px;
    text-align: center;

    .details-wrap {
      padding: 0 10%;
    }

    .product-name {
      font-size: 1.125em;
      font-weight: 500;
    }

    @media (min-width: $bootstrap-md-width) {

      .details-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($c-neutral-white, 0.75);
        opacity: 0;
        transition: opacity 200ms linear;
      }

      &:hover .details-wrap,
      &:focus .details-wrap,
      &:active .details-wrap {
        opacity: 1;
      }

    }

  }
  // END styling advice

  // START side panels

  .heading-secondary {
    margin: 40px 0 30px;
    padding-bottom: 2px;
    text-align: center;
    font-family: $font-family-secondary;
    font-weight: bold;
    border-bottom: solid $c-neutral-black 1px;
  }

  .selector-size {
    float: left;
    display: block;
    font-family: $font-family-secondary;
    text-align: center;
    border: solid $c-neutral-4 1px;

    &.is-selected {
      color: $c-neutral-white;
      background: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }

  .selector-color {
    float: left;
    display: block;
    width: 46%;
    margin: 0 2% 20px;

    .swatch {
      height: 45px;
      border: solid $c-neutral-2 1px;
    }

    .item-name {
      position: relative;
      margin-top: 3px;
      padding-left: 22px;
      font-size: 0.875em;

      &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 6px;
        width: 12px;
        height: 12px;
        border: solid $c-neutral-5 1px;
      }

    }

    &.is-selected .item-name:before {
      background: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }

  .selector-custom {
    display: block;
    width: 96%;
    margin: 15px 2% 0 2%;

    .media-wrap {
      padding: 0 20px;
      background: transparent;
    }

    .item-price {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
    }

    .item-name {
      position: relative;
      padding-left: 22px;
      padding-right: 50px;

      &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 6px;
        width: 12px;
        height: 12px;
        border: solid $c-neutral-5 1px;
      }

    }

    &.is-selected .item-name:before {
      background: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }
  // END side panels

  // Moodboard dropdown
  .moodboard-options {
    // TODO: clean this up, most of these are just resets
    ul {
      margin: 0;
      text-align: left;
    }

    li  {
      display: block;
      margin: 10px 0 0 0;
      padding: 0;
      font-family: $font-family-secondary;
      font-size: 0.875em;
      font-weight: normal;
      border: none;
    }

    a {
      margin: 0;
      text-decoration: none;
    }

    em {
      margin-left: 5px;
      font-style: normal;
      font-weight: 700;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    padding-top: 0;

    .main-content-area {
      min-height: initial;
    }

    .btn-wrap {
      padding-bottom: 30px;
    }

    .panel-side-container {
      padding-top: 0;

      .c-card-customize {
        margin-bottom: 30px;
      }

      .est-delivery {
        margin-bottom: 40px;
      }

      .price {
        margin-bottom: 15px;
        text-align: center;
        font-weight: bold;
      }

      .btn {
        display: block;
        margin-bottom: 15px;
      }

    }

  }

  @media (min-width: $bootstrap-md-width) {

    .panel-side-container {
      padding-top: $mega-menu-desktop-height;
    }

    .panel-side-wrap {
      height: 100vh;
    }

    ul.btn-wrap {
      margin-top: 70px;
    }

    .btn-wrap {
      text-align: center;

      > .btn,
      > div {
        margin-bottom: 25px;
      }

      .btn {
        width: 190px;
      }

    }

    .c-carousel-inspiration {
      padding: 0 10px;
    }

  }

  @media (min-width: $bootstrap-sm-width) and (max-width: $bootstrap-lg-width - 1px) {

    .container {
      width: auto;
    }

  }

  // add helpers here, its only place where !important is allowed
  .error {
    color: $c-brand-red !important;
  }

  .error-message {
    margin-bottom: 15px;
    padding: 0 10%;
    text-align: center;
    line-height: 1;
    color: $c-brand-red;
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    // these are just hacks, had to overwritte sticky plugin because it does not have
    // an destructor
    .sticky-wrapper {
      height: auto !important;
    }

    .is-sticky {

      > div {
        float: left !important;
        position: relative !important;
        width: 100% !important;
        top: 0 !important;
      }

    }

  }

  // if components depend on .pdp parent class, add them here
  @import 'gallery';
  @import 'panel-group';
  @import 'related-products';

}

// load all other PDP components here
@import 'side-panels';
@import 'side-menu';
