/* [PDP]
-------------------------------------------------------*/
.pdp {
  position: relative;

  .container {
    overflow: hidden;
  }

  .container.heading-wrapper-container {
    overflow: visible;
  }

  h1 {
    margin-bottom: 5px;
  }

  .subheading {
    margin-top: 0;
  }

  .h4 {
    font-size: 2.2rem;
  }

  p,
  li {
    font-family: $font-heading;
    font-size: 1em;
    font-weight: 300;
  }

  a:not(.btn) {
    color: inherit;
    cursor: pointer;
  }

  a.link {
    text-decoration: underline;
  }

  ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li {
    display: block;
    line-height: 1;
    font-size: 1.3rem;
  }

  .btn.disabled,
  .btn[disabled] {
    opacity: 1;
  }

  .content-tabs {
    margin-bottom: 60px;
  }

  .est-delivery {
    line-height: 1;
    text-align: center;
    font-family: $font-heading;
    font-weight: 300;
    font-style: italic;
    font-size: 1.25em;
    margin-bottom: 10px;

    .shipping {
      color: $c-neutral-black;
      font-size: 1.5rem;
    }
  }

  .deliveryNote {
    color: $c-neutral-10;
    padding: 0 30px;
    font-family: $font-heading;
    font-size: 0.8em;
    font-weight: 100;
    line-height: 1.4;
    text-align: center;
  }

  .main-content-area {
    min-height: 100vh;
  }

  .c-carousel-inspiration__item {
    padding: 0 5px;
  }

  .panel-side-wrap {
    position: relative;
  }

  .affix-bottom {
    position: absolute;
  }

  .v-center {
    display: table;
    width: 100%;
    height: 100%;
  }

  .justify-content {
    display: table-cell;
    vertical-align: middle;
  }

  .panel-side-container .c-card-customize {
    margin-bottom: 70px;
  }

  .pdp-side-note {
    font-weight: 300;
    font-size: 0.9em;
  }

  .pdp-side-container-fast-making {
    margin-bottom: 45px;
    width: 100%;
    clear: both;

    label {
      font-size: 0.8em;
      font-weight: 500;
    }

    .c-card-customize {

      &__content__left {
        width: 85%;
        text-decoration: none;
      }

      &__content__right {
        width: 15%;
        font-weight: 500;
      }

    }

  }

  .pdp-panel-side-right {

    .panel-side {
      height: 100vh;
    }

  }

  .btn-wrap .price {
    font-weight: 600;
  }

  // START tabs
  .l-tab-controls {
    margin: 15px 0 30px 0;
    text-align: center;
    color: $c-neutral-8;

    li {
      margin: 0;
      padding: 0 0 3px 0;
      border: 0;
      border-bottom: solid $c-neutral-8 1px;

      a {
        margin: 0;
        padding: 0;
        font-family: $font-family-secondary;
        font-size: 1.25em;
        border: 0;
      }

    }

    .active {
      font-weight: bold;
      color: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }
  // END tabs

  // START side panels
  .heading-secondary {
    margin: 40px 0 30px;
    padding-bottom: 2px;
    text-align: center;
    font-family: $font-family-secondary;
    font-weight: bold;
    border-bottom: solid $c-neutral-black 1px;
  }

  .selector-size {
    cursor: pointer;
    float: left;
    display: block;
    font-family: $font-family-secondary;
    text-align: center;
    box-shadow: inset 0 0 0 1px $c-neutral-4;
    @include transition(0.3s all);

    &:hover {
      box-shadow: inset 0 0 0 1px $c-neutral-12;
    }

    &.is-selected {
      color: $c-neutral-white;
      background: $c-neutral-black;
      box-shadow: inset 0 0 0 1px $c-neutral-12;
    }

  }

  .selector-color {
    float: left;
    display: block;
    width: 46%;
    margin: 0 2% 20px;

    .swatch {
      height: 45px;
      border: solid $c-neutral-2 1px;
    }

    .item-name {
      position: relative;
      margin-top: 3px;
      padding-left: 22px;
      font-size: 0.875em;

      &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 6px;
        width: 12px;
        height: 12px;
        border: solid $c-neutral-5 1px;
      }

    }

    &.is-selected .item-name:before {
      background: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }

  .selector-custom {
    display: block;
    width: 96%;
    margin: 15px 2% 0 2%;

    .media-wrap {
      padding: 0 20px;
      background: transparent;
    }

    .item-price {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
    }

    .item-name {
      position: relative;
      padding-left: 22px;
      padding-right: 50px;

      &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 6px;
        width: 12px;
        height: 12px;
        border: solid $c-neutral-5 1px;
      }

    }

    &.is-selected .item-name:before {
      background: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }
  // END side panels

  // Moodboard dropdown
  .moodboard-options {
    // TODO: clean this up, most of these are just resets
    ul {
      margin: 0;
      text-align: left;
    }

    li  {
      display: block;
      margin: 10px 0 0 0;
      padding: 0;
      font-family: $font-family-secondary;
      font-size: 0.875em;
      font-weight: normal;
      border: none;
    }

    a {
      margin: 0;
      text-decoration: none;
    }

    em {
      margin-left: 5px;
      font-style: normal;
      font-weight: 700;
    }

  }

  .afterpay-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.75em;

    img {
      width: 65px;
      margin: 0 2px;
    }

    a {
      text-decoration: underline;
    }

  }

  @media (min-width: $bootstrap-md-width) and (max-width: 1399px) {

    .est-delivery li {
      line-height: 1.4;
      border-left: 0;
      padding-left: 0;
      display: block;
    }

  }

  @media (min-width: 1400px) {

    .container {
      width: 1370px;
    }

    .pdp-panel-side-left {
      padding-right: 30px;
    }

    .pdp-panel-side-right {
      padding-left: 30px;
    }

  }

  .section-box .item {
    margin-bottom: 30px;

    .summary {
      font-size: 0.875em;
    }

    .summary,
    .cta-link-arrow-right {
      display: block;
      margin-bottom: 15px;
    }

  }

  .section-instagram {
    margin-top: 15px;
    padding-bottom: 35px;

    .instagram-widget .item {
      padding: 5px;
    }

    .btn-featured {
      margin-top: 0;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {
    padding-top: 0;

    h1,
    .subheading {
      text-align: center;
    }

    .panel-media {
      margin-top: 20px;
    }

    .main-content-area {
      min-height: initial;
    }

    .btn-wrap {
      padding-bottom: 30px;
    }

    .panel-side-container {
      padding-top: 0;

      h2 {
        text-align: left;
        font-size: 3.4rem;
      }

      .c-card-customize {
        margin-bottom: 30px;
      }

      .price {
        margin-bottom: 15px;
        text-align: center;
        font-weight: bold;
      }

      .btn {
        display: block;
        margin-bottom: 15px;
      }

    }

    .section-box .item h3 {
      margin-top: 0;
    }

    .pdp-side-container-fast-making {
      margin-left: 10px;

      .c-card-customize__content__right {
        margin-left: -10px;
      }

    }

  }

  @media (min-width: $bootstrap-md-width) {

    h1 {
      margin-top: 40px;
    }

    .pdp-panel-side-right {

      .panel-side-container {
        padding-top: 40px;
      }

    }

    ul.btn-wrap {
      margin-top: 30px;
    }

    .btn-wrap {
      text-align: center;

      > .btn,
      > div {
        margin-bottom: 25px;
      }

      .btn {
        width: 100%;
        padding: 10px 20px;
      }

    }

    .c-carousel-inspiration {
      padding: 0 10px;
    }

  }

  @media (min-width: $bootstrap-sm-width) and (max-width: $bootstrap-lg-width - 1px) {

    .container {
      width: auto;
    }

  }

  // add helpers here, its only place where !important is allowed
  .error {
    color: $c-brand-red !important;
  }

  .error-message {
    margin-bottom: 15px;
    text-align: center;
    line-height: 1;
    color: $c-brand-red;
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    // these are just hacks, had to overwritte sticky plugin because it does not have
    // an destructor
    .sticky-wrapper {
      height: auto !important;
    }

    .is-sticky {

      > div {
        float: left !important;
        position: relative !important;
        width: 100% !important;
        top: 0 !important;
      }

    }

  }

  // if components depend on .pdp parent class, add them here
  @import 'gallery';
  @import 'panel-group';
  @import 'related-products';

  .Select {
    height: 195px;
  }

  // CADCustomize
  .CADCustomize .btn{
    width: 100%;
  }

  .CAD--layer {
    opacity: 0;
    @include transition(0.3s all ease-in-out);

    &.is-selected {
      opacity: 1;
    }
  }

  .CAD--layer-wrapper {
    height: 270px;
    position: relative;
    width: 330px;
    margin: 0 auto;
    margin-bottom: 5px;
    position: relative;
  }

  @media (min-width: $bootstrap-md-width) {
    .CAD--layer-wrapper {
      height: 230px;
      width: auto;
    }
  }


  .CAD--layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .CAD--addon-list-item {
    padding: 10px 12px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: $font-family-secondary;
    line-height: 1.9rem;
    box-shadow: inset 0 0 0 1px $c-neutral-4;
    @include transition(0.3s all);

    &:hover {
      box-shadow: inset 0 0 0 1px $c-neutral-12;
    }

    .price {
      margin-left: 12px;
    }

    &.is-selected {
      background: black;
      color: white;
    }

    &:last-child {
      margin-bottom: 24px;
    }
  }
}

// load all other PDP components here
@import 'side-panels';
@import 'fast-making-side-panel';
@import 'side-menu';
@import 'size-guide';
@import 'afterpay-modal';
