/* [PDP - side menus]
-------------------------------------------------------*/
@mixin pdp-side-menu-core {
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  padding-bottom: $pdp-active-side-menu-padding-top;
  background: $c-neutral-white;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

@mixin pdp-side-menu-mobile {
  position: fixed;
  bottom: 0;
  padding: 0 30px;
  overflow-y: scroll;
  border-top: solid $c-neutral-2 2px;
  z-index: 1001;
}

@mixin pdp-side-menu-active {
  transform: translateX(0);
  opacity: 1;
}

.pdp-side-menu {
  position: absolute;
  @include pdp-side-menu-core;

  .custom-scroll {
    padding-right: 10px;
  }

  .btn-close {
    margin-top: 15px;
  }

  &.is-active {
    @include pdp-side-menu-active;
  }

  .height-selection {
    font-size: 1.3rem;
    padding-bottom: 30px;
  }
  .select-container {
    width: 50%;
    padding-right: 15px;
    input {
      width: 100%;
    }
    li, .sort-options, input {
      font-size: 1.6rem;
      font-family: $font-family-secondary;
    }
    .amt {
      color: $c-neutral-12;
      margin-right: 3px;
      font-weight: 400;
    }
    .amt--last {
      margin-left: 8px;
    }
    .metric {
      color: $c-neutral-9;
    }
  }
  .metric-container {
    font-weight: bold;
    line-height: 36px;
  }
}

@media (max-width: $bootstrap-md-width - 1px) {

  .pdp-panel-side-left {
    @include pdp-side-menu-core;
    @include pdp-side-menu-mobile;

    .btn-close {
      margin-top: 15px;
    }

    &.is-active {
      @include pdp-side-menu-active;
    }

  }

  .pdp-side-menu {
    @include pdp-side-menu-mobile;
  }

}
