/* [PDP size guide]
-------------------------------------------------------*/
.pdp-sizeguide {
  padding: 20px;

  sup {
    font-size: 75%;
    padding: 0;
  }

  .title {
    margin: 0 60px 40px 60px;
  }

  .heading {
    margin-bottom: 5px;
  }

  .table-title {
    margin-top: 20px;
  }

  ul {
    padding-left: 20px;
  }

  p,
  .custom li {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.4;
    font-family: $font-heading;
    color: $c-neutral-black;

    span {
      font-family: $font-family-secondary;
    }

  }

  table {
    width: 100%;
    border-top: solid $c-neutral-4 1px;

    tr:not(:first-child) th,
    tr td {
      background: $c-neutral-1;
    }

  }

  tbody tr {
    display: none;
    visibility: hidden;

    &.is-active {
      display: table-row;
      visibility: visible;
    }

  }

  th,
  td {
    padding: 3px;
    text-align: center;
    font-size: 0.75em;
    font-weight: normal;
    border-bottom: solid $c-neutral-4 1px;

    &.divider {
      border-right: solid $c-neutral-4 1px;
    }

  }

  tr:first-child th {
    font-size: 0.875em;
    font-weight: 500;
    font-family: $font-heading;
  }

  .toggle-controls {
    float: right;
    font-family: $font-family-secondary;
    font-weight: normal;

    a {
      position: relative;
      margin-left: 10px;
      padding-left: 18px;
      color: $c-neutral-8;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 4px;
        left: 0;
        width: 13px;
        height: 13px;
        border: solid $c-neutral-6 1px;
      }

    }

    .is-active {
      text-decoration: underline;
      color: inherit;

      &:before {
        background: $c-neutral-black;
        border-color: $c-neutral-black;
      }

    }

  }

  .tabs-menu {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      width: 50%;
    }

    a {
      display: block;
      padding: 0 0 10px 0;
      font-size: 0.875em;
      color: $c-neutral-black;
      border-bottom: solid $c-neutral-8 1px;
      cursor: pointer;
    }

    .is-active a,
    a:hover {
      font-weight: 500;
      border-color: $c-neutral-black;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .title {
      margin: 30px 60px;
    }

    .tabs {
      margin-bottom: 30px;
    }

  }

}
