javascript:
  $(document).ready(function() {
    // enable link
    (function() {
      $('#next-button').prop('disabled', false);
      $('#next-button').on('click', function(e) {
        e.preventDefault();
        if ($('.bridesmaid-pallete .pallete-color-group.selected').length == 0){
          console.log("please, select at least one color");
          return false;
        } else {
          $('form#edit_info').submit();
          $(e.currentTarget).prop('disabled', false);
        };
      });
    })(document);

    // enable paletter
    (function() {
      $('.bridesmaid-pallete .pallete-color-group').on('click', function(e) {
        $item = $(e.currentTarget)
        $item.toggleClass('selected');
        result = _.map($('.bridesmaid-pallete .pallete-color-group.selected'), function(item) {
          return $(item).data('code');
        });
        $('#info_colours').val(result);
      });
    })(document);
  })

.bridesmaid-info-header
  = image_tag "_bridesmaid/pic3.jpg"
  .text-box
    .big Colour Palette
    .small Select the colours that you would prefer your dresses in.

= form_for @bridesmaid_event, as: :info, url: bridesmaid_party_colour_path, method: :put do |f|
  = f.hidden_field 'colours', { value: @bridesmaid_event.colors.map{|color| color[:group]}, id: 'info_colours' }

  .bridesmaid-pallete
    - @palette.color_groups.each do |group|
      - selection_status = @bridesmaid_event.colors.include?(group.name) ? 'selected' : ''
      .pallete-color-group data-code=(group.name) class=(selection_status)
        .pallete-color-group-wrap
          - group.colors.each do |color|
            .pallete-color style="background-color: #{ color.value };"

  = link_to '#', class: 'block-with-triangle', id: 'next-button' do
    span.text NEXT STEP
    span.triangle-bottom style="border-top-color: #e6a49d"
