<!-- Show FB plugin -->
<div id="fb_recommendations">
  <div class="fb-ranking-service"
       data-id="6071413920934"
       data-num_items="40"
       data-template="fame-and-partners-desktop"
       data-user_id="<USER_ID>">
  </div>
</div>
