- prerender = true
= react_component('CollectionFilter', {styles: @filter.styles, shapes: @filter.shapes, colors: Repositories::ProductColors.color_groups, selectColors: @filter.colors}.to_json , { prerender: prerender })
