ruby:
  page_size ||= 21
  init_collection_filter = "
    filter = new ProductCollectionFilter({
      controls: '.category .category-controls',
      content: '.category .products-collection',
      page_size: #{page_size},
      reset_source: true,
      size: #{ @collection.products.size.to_i },
      total_products: #{ @collection.total_products.to_i },
      details_elements: {
        banner: {
          title: '.category-header .js-heading',
          description: '.category-header .js-sub-heading',
          image: '.category-header .media-wrap img'
        }
      }
    });
  "
  init_product_collection_moodboard_links = "
    initProductCollectionMoodboardLinks({
      container: '.category .products-collection',
      buttons:   'span.moodboard'
    });"

= content_for :inline_javascript do
  = raw init_collection_filter
  = raw init_product_collection_moodboard_links
