javascript:
  // Optimizely will hook into the below...
  window.optimizelyHelpers = window.optimizelyHelpers || {};

  window.optimizelyHelpers.activateBestSellers = function() {
    // Your custom logic to decide if the user is in the Test Group
    var userIsInTestGroup = true;

    window.fbAsyncInit = function() {
      // Initialize the FB SDK
      FB.init({
        appId: $("[property='fb:app_id']").attr('content'),
        xfbml: true,
        version: 'v2.10'
      });

      // Initialize the plugin
      FB.Event.subscribe('xfbml.parse', function() {
        // Call
        if (userIsInTestGroup) {
          FB.RankingService.showPlugin()
        } else {
          FB.RankingService.hidePlugin(
              '<HIDE_REASON>',
              '',
              document.getElementById('js-fb-optimizely-control')
          );
        }
      });

      // In the unlikely event that the iframe load fails, fallback to original UI
      FB.Event.subscribe('xfbml.render', function() {
        if (window.getComputedStyle) {
          // If the iframe rendered without error, it will have a nonzero height.
          var fbRecommendationDiv = document.getElementById('fb_recommendations');
          var style = window.getComputedStyle(fbRecommendationDiv);
          if (parseInt(style.height) <= 20) {
            FB.RankingService.hidePlugin(
                'iframe_load_failed',
                '',
                document.getElementById('js-fb-optimizely-control')
            );
            $(".js-optimizely-control, js-optimizely-test").toggleClass('hidden');
          }
        }
      });
    };

    (function(d, s, id){
      fbq('trackCustom', 'fb_ranking_start_load');
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/plugins/xfbml.rankingservice.js";
      fjs.parentNode.insertBefore(js, fjs);
      if (userIsInTestGroup) {
        $('.js-optimizely-test, .js-optimizely-control').toggleClass('hidden');
      }
    }(document, 'script', 'facebook-jssdk'));
  }

  window.optimizelyHelpers.trackBestSellersVisit = function(variant) {
    if (variant == 'control') {
      console.log('Best Sellers CONTROL --- VISIT');
      window.optimizely.push(["trackEvent", "visit_bs__control"]);
    } else if (variant == 'test') {
      console.log('Best Sellers TEST --- VISIT');
      window.optimizely.push(["trackEvent", "visit_bs__test"]);
    }
    sessionStorage.setItem('bestSellersVisited', true);
  }
