
- products = @collection.products.first(2)
/! [][][content]
= render partial: '/products/collections/product', collection: products, as: :product, locals: {col: col}

// i=Change flag *IS ENABLED* & the "getitquick-info-box" variable *IS NOT* set as TRUE
// Result: Show i=Change box
- if Features.active?(:i_equal_change) && page.try(:get, 'getitquick-info-box') != 'true'
  = render partial: '/marketing/i_equal_change_box'

// i=Change flag *IS DISABLED* & the "getitquick-info-box" variable *IS* set as TRUE
// Result: Show black bg box (for /getitquick)
- elsif page.try(:get, 'getitquick-info-box') == 'true'
  = render partial: '/products/collections/info_box_black_getitquick'

// All other cases...
// Result: Show default box
- else
  = render partial: '/products/collections/info_box_subheading'

- @collection.products.drop(2).each_slice(col) do |products|
  /! [][][]
  = render partial: '/products/collections/product', collection: products, as: :product, locals: {col: col}
