javascript:
  window.CollectionFilterData = {
    colors: #{raw Repositories::ProductColors.color_groups.to_json},
    secondaryColors: #{raw @filter.colors.to_json},
    bodyShapes: #{raw @filter.shapes.to_json}
    //bodyStyles: #{raw @filter.styles.to_json}
  };

#CollectionFilterApp
