// TODO: create helper for multisource images
= react_component('HeroCarousel', skin: 'skin-dark',
  assets: [{link: dresses_path, src: '/assets/home-page-tiles/hero-apr-5', alt: 'EVERETT'},
          {link: partners_in_crime_collection_path, src: '/assets/home-page-tiles/PartnersInCrime-HERO-2', alt: 'Partners In Crime'}])
