
<a onClick='window.startShoppingSpree()' class="main-hero-wrap hero-wrap copy-left" style="cursor: pointer;">
  <picture class="media-wrap">
    <source media="(max-width: 991px)" srcset="/images/shopping_spree/onboarding/hero_mobile.jpg">
    <source media="(min-width: 992px)" srcset="/images/shopping_spree/onboarding/hero.jpg">
    <img src="/images/shopping_spree/onboarding/hero.jpg"
      srcset="
      /images/shopping_spree/onboarding/hero_mobile.jpg 991w,
      /images/shopping_spree/onboarding/hero.jpg 992w">
  </picture>
  <div class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-4 pull-right">
          <div class="copy-wrap text-center">
            <h2 class="heading no-margin-md">
              <span class="title hidden-xs hidden-sm">
                Join <em style="font-weight: 400;">The Social<br/>
                Experience</em>
              </span>
              <span class="sub-heading--small hidden-xs hidden-sm"></span>
            </h2>
            <p>
              Easily shop, share, and save with friends.
            </p>
            <div class="cta-wrapper">
              <span class="btn-md btn-featured">Save Up To 25% Off Now
                <span class="copy-highlight cta-button-secondary-text"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 hidden-md hidden-lg">
        <div class="copy-wrap text-center">
          <h2 class="heading mobile-heading">
            <span class="sub-heading">
              Join <em>The Social Experience</em>
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</a>

<a href="/holiday-party-survival-kit?hpbanner2" class="main-hero-wrap hero-wrap copy-left">
  <picture class="media-wrap">
    <source media="(max-width: 991px)" srcset="//images.contentful.com/o546qnqj0du7/60uy3DH6veeCYq0AAg6YM6/492181840f91163b6478280f9a80d080/Hero1-Mobile.jpg">
    <source media="(min-width: 992px)" srcset="//images.contentful.com/o546qnqj0du7/3lo0SsOaFqUEuAKg0UkOck/90f7f77ba3608799eb6d86360c167182/Hero1-Desktop-NEW.jpg">
    <img src="//images.contentful.com/o546qnqj0du7/3lo0SsOaFqUEuAKg0UkOck/90f7f77ba3608799eb6d86360c167182/Hero1-Desktop-NEW.jpg"
      srcset="
      //images.contentful.com/o546qnqj0du7/60uy3DH6veeCYq0AAg6YM6/492181840f91163b6478280f9a80d080/Hero1-Mobile.jpg 991w,
      //images.contentful.com/o546qnqj0du7/3lo0SsOaFqUEuAKg0UkOck/90f7f77ba3608799eb6d86360c167182/Hero1-Desktop-NEW.jpg 992w">
  </picture>
  <div class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-6 pull-right">
          <div class="copy-wrap">
            <h2 class="heading no-margin-md">
              <span class="title title--small hidden-xs hidden-sm"></span>
              <span class="sub-heading--small hidden-xs hidden-sm"></span>
            </h2>
            <div class="cta-wrapper">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 hidden-md hidden-lg">
        <div class="copy-wrap text-center">
          <h2 class="heading mobile-heading">
            <span class="sub-heading">Introducing the Holiday Party Wardrobe just for you.
              <br>Start Customizing
              <br>
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</a>

<a href="/dresses/fall-weddings?hpbanner3" class="main-hero-wrap hero-wrap copy-left">
  <picture class="media-wrap">
    <source media="(max-width: 991px)" srcset="//images.contentful.com/o546qnqj0du7/2wKkWeigC086YuWQaw2Ig2/40d23e076d2a1289f47ec5f4a6536ead/Hero2-Mobile.jpg">
    <source media="(min-width: 992px)" srcset="//images.contentful.com/o546qnqj0du7/rffGY7SsdEaiOUmkEk2YE/b0951468faf9cb81e37fdd999fa4da8b/Hero2-Desktop.jpg">
    <img src="//images.contentful.com/o546qnqj0du7/rffGY7SsdEaiOUmkEk2YE/b0951468faf9cb81e37fdd999fa4da8b/Hero2-Desktop.jpg"
      srcset="
      //images.contentful.com/o546qnqj0du7/2wKkWeigC086YuWQaw2Ig2/40d23e076d2a1289f47ec5f4a6536ead/Hero2-Mobile.jpg 991w,
      //images.contentful.com/o546qnqj0du7/rffGY7SsdEaiOUmkEk2YE/b0951468faf9cb81e37fdd999fa4da8b/Hero2-Desktop.jpg 992w">
  </picture>
  <div class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="copy-wrap text-center">
            <h2 class="heading no-margin-md">
              <span class="title title--large hidden-xs hidden-sm">You're invited...
                <br>
              </span>
              <span class="sub-heading--small hidden-xs hidden-sm">To be the best-dressed wedding guest.
                <br>
              </span>
            </h2>
            <div class="cta-wrapper">
              <span class="btn-md btn-featured">Shop the Wedding Guest Collection
                <span class="copy-highlight cta-button-secondary-text"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 hidden-md hidden-lg">
        <div class="copy-wrap text-center">
          <h2 class="heading mobile-heading">
            <span class="sub-heading">You're invited… To be the best-dressed wedding guest.
              <br>Shop Now
              <br>
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</a>

