
<a onClick='window.startShoppingSpree()' class="main-hero-wrap hero-wrap copy-left" style="cursor: pointer;">
  <picture class="media-wrap">
    <source media="(max-width: 991px)" srcset="/images/shopping_spree/onboarding/hero_mobile.jpg">
    <source media="(min-width: 992px)" srcset="/images/shopping_spree/onboarding/hero.jpg">
    <img src="/images/shopping_spree/onboarding/hero.jpg"
      srcset="
      /images/shopping_spree/onboarding/hero_mobile.jpg 991w,
      /images/shopping_spree/onboarding/hero.jpg 992w">
  </picture>
  <div class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-4 pull-right">
          <div class="copy-wrap text-center">
            <h2 class="heading no-margin-md">
              <span class="title hidden-xs hidden-sm">
                Join <em style="font-weight: 400;">The Social<br/>
                Experience</em>
              </span>
              <span class="sub-heading--small hidden-xs hidden-sm"></span>
            </h2>
            <p>
              Easily shop, share, and save with friends.
            </p>
            <div class="cta-wrapper">
              <span class="btn-md btn-featured">Save Up To 25% Off Now
                <span class="copy-highlight cta-button-secondary-text"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 hidden-md hidden-lg">
        <div class="copy-wrap text-center">
          <h2 class="heading mobile-heading">
            <span class="sub-heading">
              Join <em>The Social Experience</em>
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</a>

<a href="/sample-sale?hpbanner2" class="main-hero-wrap hero-wrap copy-left">
  <picture class="media-wrap">
    <source media="(max-width: 991px)" srcset="//images.contentful.com/o546qnqj0du7/7Hy2KXxpFSuKOUe4agQSCW/1a36ee497d362a47c6f5e0eaa19b159f/Hero-Mobile-SS2.jpg"
    />
    <source media="(min-width: 992px)" srcset="//images.contentful.com/o546qnqj0du7/4PuKgtDpuwYaIaEACkCm8/680e57c78b3b8d11614e586b78c9fcca/Hero1-NewSS-Desktop2.jpg"
    />
    <img src="//images.contentful.com/o546qnqj0du7/4PuKgtDpuwYaIaEACkCm8/680e57c78b3b8d11614e586b78c9fcca/Hero1-NewSS-Desktop2.jpg"
      srcset="
      //images.contentful.com/o546qnqj0du7/7Hy2KXxpFSuKOUe4agQSCW/1a36ee497d362a47c6f5e0eaa19b159f/Hero-Mobile-SS2.jpg 991w,
      //images.contentful.com/o546qnqj0du7/4PuKgtDpuwYaIaEACkCm8/680e57c78b3b8d11614e586b78c9fcca/Hero1-NewSS-Desktop2.jpg 992w"
    />
  </picture>
  <div class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="copy-wrap">
            <h2 class="heading no-margin-md">
              <span class="title title--small hidden-xs hidden-sm"></span>
              <span class="sub-heading--small hidden-xs hidden-sm"></span>
            </h2>
            <div class="cta-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 hidden-md hidden-lg">
        <div class="copy-wrap text-center">
          <h2 class="heading mobile-heading">
            <span class="sub-heading">One-of-a-kind and up to 40% off.
              <br />Shop the Sample Sale
              <br />
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</a>

<a href="/holiday-party-survival-kit?hpbanner3" class="main-hero-wrap hero-wrap copy-left">
  <picture class="media-wrap">
    <source media="(max-width: 991px)" srcset="//images.contentful.com/o546qnqj0du7/3fOIyvn8MMecMYOOIWc0Y4/f3e35ce567a4393ef705bd1437bd1a29/Hero1-Cocktail-Mobile.jpg"
    />
    <source media="(min-width: 992px)" srcset="//images.contentful.com/o546qnqj0du7/3OxOrm3RywMO0USQuYeW2m/9bd0b052ba69e47e3bdbd07eca16880d/Hero1-Cocktail-Desktop.jpg"
    />
    <img src="//images.contentful.com/o546qnqj0du7/3OxOrm3RywMO0USQuYeW2m/9bd0b052ba69e47e3bdbd07eca16880d/Hero1-Cocktail-Desktop.jpg"
      srcset="
      //images.contentful.com/o546qnqj0du7/3fOIyvn8MMecMYOOIWc0Y4/f3e35ce567a4393ef705bd1437bd1a29/Hero1-Cocktail-Mobile.jpg 991w,
      //images.contentful.com/o546qnqj0du7/3OxOrm3RywMO0USQuYeW2m/9bd0b052ba69e47e3bdbd07eca16880d/Hero1-Cocktail-Desktop.jpg 992w"
    />
  </picture>
  <div class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-6 pull-right">
          <div class="copy-wrap">
            <h2 class="heading no-margin-md">
              <span class="title title--small hidden-xs hidden-sm"></span>
              <span class="sub-heading--small hidden-xs hidden-sm"></span>
            </h2>
            <div class="cta-wrapper"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 hidden-md hidden-lg">
        <div class="copy-wrap text-center">
          <h2 class="heading mobile-heading">
            <span class="sub-heading">6pm: Pre-party drinks by the pool
              <br />9pm: Girls' night in
              <br />Customize Your Holiday Party Look
              <br />
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</a>
