.vex.vex-theme-flat-attack .vex-content {
  padding: 0 !important;
}

.vex.vex-theme-flat-attack .vex-content h2 {
  font-family: $font-family-secondary !important;
}

.vex.vex-theme-flat-attack .vex-content h6, span {
  text-transform: uppercase;
  font-weight: 500 !important;
  margin-bottom: 0;
}

.vex-theme-flat-attack.fit-guide {

  .vex-content {
    width:50%;
    height:95%;
    overflow-y:auto;
    z-index:9999 !important;
    border: 2px solid black;

  table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .table > thead > tr > th {
    border-bottom: none;
  }

  img {
    width: 217px;
    display: block;
  }

  h6 {
    font-size:1em;
  }

  p {
    font-size:0.666666em;
    font-weight: 400;
    padding-top: 14px;
  }

  th {
    padding-left: 10px
  }

  thead {
    text-transform: uppercase;
    background-color:#f5f5f5;
  }

  td.sub-heading {
    font-size:0.666666em;
    font-weight:400;
    font-size: 15px;
  }

  td {
    border-top: none;
    font-size:14px;
    font-weight:400;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color:#f5f5f5;
  }

  .vex-dialog-buttons {
    position:absolute;
    top:0;
    right:0;
    padding:0;
    margin:0;

    .btn {
      padding: 6px 15px;
      outline: none;
      font-family: $font-family-secondary;
    }
  }
}

  @media screen and (max-width: 991px){
    .vex-content {
      width:90%;
      height:90%;
      margin-bottom: 62px;
    }
  }
  @media screen and (max-width: 480px){
    .vex-content {
      width:100%;
      height:100%;
      margin-bottom: 62px;

      h2 {
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }
}
