= render partial: "spree/admin/shared/blog_sub_menu"
- content_for :page_title do
  | Listing Posts

- content_for :page_actions do
  li
    = button_link_to "New Post", new_admin_blog_post_path, :icon => 'icon-plus', :id => 'admin_new_post'

- if @posts.present?
  table.index.blog_posts
    thead
      tr
        th Title
        th Occurred at / Publish Date
        th Category
        th State
        th Created At
        th.actions
    tbody
      - @posts.each do |post|
        tr
          td= link_to post.title, edit_admin_blog_post_path(post)
          td= post.occured_at_formatted
          td
            - if post.red_carpet?
              | Red Carpet Post
            - else
              = post.category.name
          - if can? :toggle_publish, post
            td
              - if post.published?
                = button_link_to "Unpublish", toggle_publish_admin_blog_post_path(post), method: :put
              - else
                = button_link_to "Publish", toggle_publish_admin_blog_post_path(post), method: :put
          - else
            td= post.state
          td= post.created_at_formatted
          td
            = link_to "", edit_admin_blog_post_path(post), class: "icon_link with-tip icon-edit no-text", "data-action" => "edit"
            | |
            = link_to "", admin_blog_post_path(post), method: :delete,  confirm: "Are you sure?", class: "icon_link with-tip icon-remove no-text", "data-action" => "delete"
- else
  = render partial: "spree/admin/shared/no_items_found"
= paginate @posts
