ruby:
  raw init_moodboard = "
    'use strict';
    (function ($) {

      $('.js-moodboard-menu-carousel').slick({
        draggable: true,
        infinite: true,
        variableWidth: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        arrows: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
            
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
           
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });

      $('.js-moodboard-shop-carousel').slick({
        mobileFirst: true,
        infinite: true,
        arrows: false,
        slidesToShow: 2,
        slidesToScroll: 2,
        centerMode: true,
        centerPadding: '30px',
        responsive: [{
          breakpoint: 993,
          settings: 'unslick'
        }]
      });

    }(jQuery));
  "

= content_for :inline_javascript do
  = raw init_moodboard
