ruby:
  raw init_moodboard = "
    'use strict';
    (function ($) {

      $('.js-moodboard-menu-carousel').slick({
        draggable: false,
        infinite: false,
        variableWidth: true,
        arrows: true,
        responsive: [
          {
            breakpoint: 992,
            settings: {
              centerMode: true,
              arrows: false
            }
          }
        ]
      });

      $('.js-moodboard-shop-carousel').slick({
        mobileFirst: true,
        infinite: true,
        arrows: false,
        slidesToShow: 2,
        slidesToScroll: 2,
        centerMode: true,
        centerPadding: '30px',
        responsive: [{
          breakpoint: 993,
          settings: 'unslick'
        }]
      });

    }(jQuery));
  "

= content_for :inline_javascript do
  = raw init_moodboard
