@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  src: local('Helvetica Neue'), local('HelveticaNeue-Regular'), url(../fonts/HelveticaNeueLTStd-Roman.otf) format('otf');
}

@font-face {
  font-family: 'HTF Didot Italic';
  font-style: italic;
  font-weight: 500;
  src: local('HTF Didot Italic'), local('HTFDidot-MediumItalic'), url(../fonts/HTFDidot-M64MediumItalic.otf) format('otf');
}

body {
  position: relative;
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 16px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'HTF Didot Italic';
  font-style: italic;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

.page-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.outer-wrap {
  display: table;
  width: 100%;
  height: 100%;

  > .inner-wrap {
    display: table-cell;
    padding: 20px 70px;
    vertical-align: middle;
  }

}

.media-wrap img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  margin-bottom: 50px;
  text-align: center;

  span {
    display: block;
    margin-top: 5px;
  }

}

label {
  font-size: 16px;
}

.switch-wrap .switchery {
  margin: 0 10px;
}

.form-control {
  height: 48px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  border: solid #fff 1px;
}

.btn {
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  color: #000;
  background: #eaeaea;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #000;
    background: #eaeaea;
    opacity: 0.85;
  }

}

.btn-secondary {
  color: #fff;
  background: #000;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background: #000;
    opacity: 0.65;
  }

}

table {
  font-size: 18px;
}

tr td {
  padding: 0 10px 20px 0;
  color: #ddd;
}

tr td:first-child {
  color: #fff;
}

.result-wrap {
  display: table;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;

  > .inner-wrap {
    display: table-cell;
    vertical-align: middle;
  }

  .media-wrap {
    margin: 0 auto;
  }

}

.img-siluet {
  width: 203px;
  margin: 0 auto;
}

.measurements-form {

  .form-group {
    float: left;
    width: 25%;
    padding: 5px;
  }

  .form-group-btn {
    width: 50%;
  }

  .form-group-heading {
    width: 30%;
    margin-bottom: 45px;

    &:first-child {
      width: 70%;
    }

    .switch-wrap {
      float: right;
    }

  }

}

.cust-results {
  padding: 15px 30px;
  border: solid #fff 1px;

  h3 {
    font-size: 36px;
  }

  > .heading {
    margin-bottom: 50px;
  }

  .heading {
    width: 100%;
    text-align: center;
  }

  table {
    float: left;
  }

  .media-wrap {
    float: left;
    width: 100%;
  }

  .results {
    text-align: center;

    span {
      display: block;
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 10px;
    }

  }

  .controls-wrap {
    margin-top: 40px;
  }

}
