<div class="section-row columns is-multiline is-mobile">
  <% contents[:content_tiles].each do |item| %>
    <% @lg_contents = item %>
    <% #FUTURE: support other content items %>
    <div class="tile is-parent is-full-mobile is-half-tablet is-half-desktop">
      <%= render partial: "layouts/contentful/modules/items/ITEM--category-block" %>
    </div>
  <% end %>
</div>
