<div class="FloatingEmailWrapper" data-showAfterPagePercentage="<%= contents[:floating_email_scroll_percentage] %>">
  <a href="javascript:;" class="FloatingEmailClose js-FloatingEmailClose"><span class="btn-close"></span></a>
  <% @email_heading = contents[:email_text] %>
  <%= render partial: "layouts/contentful/modules/components/COMPONENT--email" %>
</div>
