<div class="section-row columns is-multiline is-mobile">
<% contents[:sm_items].each do |item| %>
  <% @pid = item %>
  <div class="column is-half-mobile">
    <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
  </div>
<% end %>
</div>
