<div class="columns is-gapless is-mobile module-small-container">
  <div class="column">
    <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
  </div>
  <div class="column">
    <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
  </div>
  <div class="column">
    <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
  </div>
  <div class="column">
    <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
  </div>
</div>
