<div class="tile is-ancestor">

  <div class="tile is-parent is-6">
    <article class="tile is-child">
      <%= render partial: "layouts/contentful/modules/items/ITEM--lg" %>
    </article>
  </div>

  <div class="tile is-vertical is-6">

    <div class="tile is-parent">
      <article class="tile is-child">
        <%= render partial: "layouts/contentful/modules/items/#{contents[:md_item][:id]}" %>
      </article>
    </div>

    <div class="tile is-parent">
      <div class="columns is-mobile">
      <% contents[:sm_items].each do |item| %>
        <% @pid = item %>
        <div class="column">
          <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
        </div>
      <% end %>
      </div>
    </div>

  </div>

</div>
