<div class="section-row columns">
  <div class="column <%= contents[:custom_css_class] %>">
    <div class="page-content content-collapse-expand">
      <div id="panel-articles" class="tab-pane active" role='tabpanel'>
        <div class="panel-group" roll='tablist' aria-multiselectable='true'>
          <% contents[:collapsible_entries].each do |item| %>
            <%= render partial: "layouts/contentful/modules/items/ITEM--collapsible-entry", locals: {contents: item} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
