<div class="section-row columns">
  <div class="column">
    <div class="CtaButton">
      <a href="<%= contents[:relative_url] %>" class="btn btn-black"><%= contents[:button_label] %></a>
    </div>
  </div>
</div>
