<div class="section-row columns is-multiline is-mobile">
<% contents[:sm_items].each_with_index do |item,index| %>
  <% @pid = item %>
  <div class="column is-half-mobile">
    <%= render partial: "layouts/contentful/modules/items/ITEM--sm", locals: {contents: contents, pid_index: (index.to_i + 1)} %>
  </div>
<% end %>
</div>
