<% @email_heading = contents[:email_text] %>
<% @padding_class = contents[:padding_class] %>
<div class="section-row columns">
  <div class="column">
    <%= render partial: "layouts/contentful/modules/components/COMPONENT--email" %>
  </div>
</div>
