<div class="section-row tile columns">

  <div class="column is-6">

    <article class="tile">
      <div class="Editorial">
        <%= render partial: "layouts/contentful/modules/items/ITEM--lg" %>
      </div>
    </article>

  </div>

  <div class="tile is-parent is-vertical is-6">
    <div class="columns is-multiline is-mobile">
      <% contents[:sm_items].each_with_index do |item, i| %>
        <% @pid = item %>
        <%= content_tag(:div, :class => (contents[:sm_items].count == 3 && i == 0) ? "column is-6 is-offset-6-right" : "column is-6") do %>
          <%= render partial: "layouts/contentful/modules/items/ITEM--sm", locals: {contents: contents, pid_index: (i.to_i + 1)} %>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
