<%
  tile_position = contents[:tile_cta_position].to_i - 1
  contents[:sm_items].insert(tile_position, 'cta-tile')
%>

<div class="section-row columns is-multiline is-mobile">
  <% contents[:sm_items].each do |item| %>

    <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">

    <% if item == 'cta-tile' %>
        <%= render partial: "layouts/contentful/modules/items/ITEM--sm-cta-tile", locals: {contents: contents} %>
    <% else %>
      <% @pid = item %>
      <%= render partial: "layouts/contentful/modules/items/ITEM--sm" %>
    <% end %>

    </div>

  <% end %>
</div>
