// Place all the styles related to the Spree::Admin::Blog::CelebrityPhotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-new-item {
  float: right;
}
.celebrity-photo {
  max-height: 200px;
  max-width: 200px;
}