<% products = contentful_get_products_array_via_pids_array(overlay_pids) %>

<% if products.count > 0 %>
<div class="Editorial__overlay">
  <h4 class="Editorial__overlayTitle">Shop the Look</h4>
  <ul>
  <% products.each do |item|
    name = item.name
    path = collection_product_path(item, color: item.color.try(:name))
  %>
    <li>
      <a href="<%= path %>">
        <%= name %>
      </a>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
