textarea.manual-textarea {
  width: 100%;
  height: 150px;
}

input[type="radio"] {
  margin: 10px 2px 5px 15px;
}
.adjust-panel,
.adjust-btn-panel {
  &.hidden-el {
    display: none;
  }
}

.adjust-panel {
  .amount {
    width: 75px;
  }

  span {
    margin-right: 2px;
  }

  input {
    margin-right: 5px;
  }
}

.product_image {
  img {
    max-width: 100%;
  }
}