/* line 71, ../sass/_nav.scss */
.mega-menu {
  position: absolute;
  top: 105px;
  padding: 0px;
  background: #f4f4f4;
  width: 100%;
  z-index: 1000;
}

/* line 86, ../sass/_nav.scss */
.mega-menu {
  left: -999em;
  transition: opacity ease-out 0.1s;
  -webkit-transition: opacity ease-out 0.1s;
  padding: 0px !important;
}

/* line 95, ../sass/_nav.scss */
.shop:hover .mega-menu {
  left: 0px;
}
/* line 99, ../sass/_nav.scss */
.shop:hover .arrow-up {
  opacity: 1;
}

/* line 104, ../sass/_nav.scss */
.mega-menu:hover {
  left: 0px;
}

/* line 108, ../sass/_nav.scss */
.mega-menu-list {
  padding-left: 0;
}

/* line 112, ../sass/_nav.scss */
.mega-menu-list--item {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* line 118, ../sass/_nav.scss */
.mega-menu-list--item a {
  color: #333333 !important;
  font-weight: 300;
}
/* line 122, ../sass/_nav.scss */
.mega-menu-list--item a:hover {
  color: black !important;
}

/* line 125, ../sass/_nav.scss */
.search {
  position: relative;
}

/* line 130, ../sass/_nav.scss */
.close-search {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 30px;
}
/* line 136, ../sass/_nav.scss */
.close-search img {
  width: 32px;
  height: 32px;
}

/* line 142, ../sass/_nav.scss */
.mega-menu--main {
  padding: 20px 60px;
  background: #E5E5E5;
  border-bottom: 1px solid #d5d5d5;
  z-index: 99;
}

/* line 149, ../sass/_nav.scss */
.menu-main-promotions {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  color: black;
}

/* line 156, ../sass/_nav.scss */
.mega-menu--secondary {
  padding: 60px;
}

/* line 160, ../sass/_nav.scss */
.mobile-logo {
  max-width: 50px;
  margin-top: 15px;
}

/* line 27, ../sass/_mobile-menu.scss */
.mobile-active {
  background: #333;
}

/* line 32, ../sass/_mobile-menu.scss */
.mobile-menu-overlay {
  position: fixed;
  top: 999em;
  /* right: 0; */
  bottom: 0;
  width: 100%;
  background: #F7F7F9;
  z-index: 999;
  overflow: scroll;
}

/* line 45, ../sass/_mobile-menu.scss */
.close-mobile {
  padding-right: 20px;
  padding-top: 20px;
}
/* line 50, ../sass/_mobile-menu.scss */
.close-mobile img {
  width: 20px;
  height: 20px;
}

/* line 58, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content {
  padding: 30px;
}
/* line 61, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content ul {
  padding-left: 0px;
  list-style: none;
}
/* line 66, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content li {
  padding: 10px 20px;
  border: 1px dotted #777777;
  text-align: uppercase;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 74, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content h3 {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* --------------------------------

Primary style

-------------------------------- */
/* --------------------------------

xheader

-------------------------------- */
/* line 15, ../sass/_cart.scss */
#main-nav, #cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  /* header height */
  padding-top: 0px;
  padding-bottom: 100px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  /* line 15, ../sass/_cart.scss */
  #main-nav, #cart {
    width: 450px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 15, ../sass/_cart.scss */
  #main-nav, #cart {
    width: 35%;
    /* header height has changed */
    padding-top: 0px;
  }
}

/* line 43, ../sass/_cart.scss */
.close-cart {
  cursor: pointer;
}

/* line 47, ../sass/_cart.scss */
.cart-item-image {
  width: 40px;
  margin-right: 30px;
}

/* line 52, ../sass/_cart.scss */
.arrow-bag {
  width: 20px !important;
  height: 20px !important;
}

/* line 58, ../sass/_cart.scss */
.cart--top {
  padding: 20px 30px !important;
  background: #eeeeee;
}

/* line 63, ../sass/_cart.scss */
.cart-title {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0;
}

/* line 70, ../sass/_cart.scss */
#cart {
  z-index: 999 !important;
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

#cart .shopping-bag-text{
  margin-right:0;
  padding-top:10px;
  padding-left:35px;
  height: 110px;
  font-size: 1.5rem;
}
#cart .shopping-bag-text span{
  float: left;
}
#cart .shopping-bag-text span:not(:nth-child(2)){
  float: left;
  margin-top: 5px;
}
#cart .shopping-bag-text i.coathanger{
  background-image: url('../../../assets/cart/coathanger.svg');
  width: 20px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
  display: block;
  float: left;
  background-size: contain;
  clear: both;
}
#cart .shopping-bag-text i.plane{
  background-image: url('../../../assets/cart/plane.svg');
  width: 20px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
  display: block;
  float: left;
  background-size: contain;
  clear: both;
}
#cart .shopping-bag-text i.mobile{
  background-image: url('../../../assets/cart/mobile.svg');
  width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 1px;
  display: block;
  float: left;
  background-size: contain;
  clear: both;
}
#cart .shopping-bag-payment-methods {
  text-align:center;
  margin-top:20px;

}
#cart .shopping-bag-payment-methods img{
  width: 20%;
}

#cart .shopping-bag-payment-methods img:last-child{
  margin-left: 20px;
}

#cart .shopping-bag-masterpass {
  margin-top:20px;
}

/* line 77, ../sass/_cart.scss */
#cart.speed-in {
  right: 0;
}

/* line 85, ../sass/_cart.scss */
#cart .cart-items {
  padding: 0;
}
/* line 88, ../sass/_cart.scss */
#cart .cart-items li {
  list-style: none;
  position: relative;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
/* line 95, ../sass/_cart.scss */
#cart .cart-items li:last-child {
  border-bottom: 1px solid #eeeeee;
}
/* line 101, ../sass/_cart.scss */
#cart .qty, #cart .price {
  color: #777777;
}
/* line 105, ../sass/_cart.scss */
#cart .price {
  margin-top: .4em;
  text-align: left;
}
/* line 110, ../sass/_cart.scss */
#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* line 119, ../sass/_cart.scss */
.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}
/* line 124, ../sass/_cart.scss */
#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 128, ../sass/_cart.scss */
#cart .cart-total span {
  float: right;
}
/* line 132, ../sass/_cart.scss */
#cart .cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 139, ../sass/_cart.scss */
#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
/* line 148, ../sass/_cart.scss */
.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}
/* line 153, ../sass/_cart.scss */
#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}
/* line 157, ../sass/_cart.scss */
#cart .go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  /* line 167, ../sass/_cart.scss */
  #cart .cart-items li {
    padding: 1em 2em;
  }
  /* line 171, ../sass/_cart.scss */
  #cart .item-remove {
    right: 2em;
  }
}

/* line 201, ../sass/_cart.scss */
#gallery-items li {
  margin-bottom: 1.5em;
}
/* line 204, ../sass/_cart.scss */
#gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  /* line 212, ../sass/_cart.scss */
  #gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  /* line 217, ../sass/_cart.scss */
  #gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 224, ../sass/_cart.scss */
  #gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  /* line 229, ../sass/_cart.scss */
  #gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  /* line 233, ../sass/_cart.scss */
  #gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

/* line 240, ../sass/_cart.scss */
#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  display: none;
}
/* line 253, ../sass/_cart.scss */
#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -o-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* --------------------------------

xkeyframes

-------------------------------- */
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 26, ../sass/styles.scss */
a:hover {
  color: #f8dadf;
}

/* line 30, ../sass/styles.scss */
a:focus {
  text-decoration: none;
}

/* line 34, ../sass/styles.scss */
a:active, a:focus {
  outline: none !important;
}

/* line 38, ../sass/styles.scss */
p {
  font-weight: 300;
}

/* line 40, ../sass/styles.scss */
.bg-black {
  background-color: black;
}

/* line 44, ../sass/styles.scss */
.fp-logo {
  max-width: 70px;
  margin-top: -3px;
}

/* line 49, ../sass/styles.scss */
.fp-dropdown {
  background-color: #4C4C4C !important;
  color: white !important;
}

/* line 54, ../sass/styles.scss */
.fp-dropdown-menu {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/* line 59, ../sass/styles.scss */
.info-box {
  padding: 30px;
  border: 10px solid #EEEEEE;
}

/* line 64, ../sass/styles.scss */
.info-box--title {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 69, ../sass/styles.scss */
.info-box--caption {
  font-size: 20px;
  font-weight: 300;
  color: #919191;
}

/* line 154, ../sass/styles.scss */
.caption, .caption-center, .caption-left, .caption-right {
  padding: 15px;
}

/* line 158, ../sass/styles.scss */
.caption-center {
  text-align: center;
  margin: 0 auto;
}

/* line 165, ../sass/styles.scss */
.caption-left {
  padding-left: 0;
}

/* line 172, ../sass/styles.scss */
.caption-right {
  padding-right: 0;
  text-align: right;
}

/* line 182, ../sass/styles.scss */
.homepage-panel {
  position: relative;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

/* line 188, ../sass/styles.scss */
.homepage-panel--content {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

/* line 205, ../sass/styles.scss */
.goto-arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  width: 40px;
  height: 40px;
}

/* line 214, ../sass/styles.scss */
.homepage-panel--title {
  font-weight: 300;
  opacity: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 30px;
  text-transform: none;
  color: white;
}

/* line 224, ../sass/styles.scss */
.arrow {
  width: 50px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  opacity: 1;
}

/* line 231, ../sass/styles.scss */
.homepage-panel::after {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  content: "";
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 245, ../sass/styles.scss */
.input-group-addon {
  border-bottom: 1px solid black !important;
}

/* line 251, ../sass/styles.scss */
.homepage-panel:hover:after {
  opacity: 0;
}

/* line 255, ../sass/styles.scss */
.homepage-panel:hover .homepage-panel--title {
  opacity: 0;
  display: none;
}

/* line 260, ../sass/styles.scss */
.homepage-panel:hover img.arrow {
  opacity: 1;
  display: inline-block !important;
  visibility: visible !important;
}

/* line 266, ../sass/styles.scss */
.homepage-panel:hover .goto-arrow {
  opacity: 1;
  visibility: visible !important;
  display: inline;
}

/* line 272, ../sass/styles.scss */
.page-content {
  padding-bottom: 60px;
}

/* line 284, ../sass/styles.scss */
.black-form {
  background: transparent;
  border-color: black;
}

/* line 289, ../sass/styles.scss */
.email-signup-form {
  width: 350px !important;
  text-align: left;
}

/* line 295, ../sass/styles.scss */
.footer-menu {
  padding: 20px;
  background: #000;
}
/* line 299, ../sass/styles.scss */
.footer-menu ul {
  display: block;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 305, ../sass/styles.scss */
.footer-menu li {
  display: inline-block;
  padding: 5px;
  color: grey;
}
/* line 310, ../sass/styles.scss */
.footer-menu li a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
/* line 316, ../sass/styles.scss */
.footer-menu li a:hover {
  color: #9db6d1;
}

/* line 326, ../sass/styles.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #CCCCCC;
}

/* line 339, ../sass/styles.scss */
.open > .dropdown-menu {
  display: block;
  border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 347, ../sass/styles.scss */
.dropdown-menu > li > a {
  font-weight: 300;
}

/* line 352, ../sass/styles.scss */
.main-content {
  padding: 120px 0;
}

/* line 416, ../sass/styles.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #f4f4f4;
  opacity: 0;
}

/* line 426, ../sass/styles.scss */
.arrow-dark {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #E5E5E5;
  opacity: 0;
}

/* line 436, ../sass/styles.scss */
.menu-active-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

/* line 443, ../sass/styles.scss */
.active-hover {
  position: relative;
}

/* line 448, ../sass/styles.scss */
.line-arrow {
  width: 32px;
  height: 32px;
}

/* line 453, ../sass/styles.scss */
.search:hover {
  cursor: pointer;
}

/* line 467, ../sass/styles.scss */
.add-to-moodboard {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 0px;
  opacity: 0.3;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
/* line 475, ../sass/styles.scss */
.add-to-moodboard:hover {
  opacity: 1;
}

/* line 483, ../sass/styles.scss */
.social-share .fa {
  padding: 10px;
  font-size: 1.3em;
  color: black;
}

/* line 489, ../sass/styles.scss */
.social-share {
  margin-top: 15px;
}

/* line 494, ../sass/styles.scss */
.divider {
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 505, ../sass/styles.scss */
.cart-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

/* line 511, ../sass/styles.scss */
.cart {
  position: relative;
}

/* line 515, ../sass/styles.scss */
.cart-amount {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 12px;
}

/* line 603, ../sass/styles.scss */
.delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 611, ../sass/styles.scss */
.checkout-title {
  margin-top: 70px;
  padding: 30px;
  background: #eeeeee;
}

/* line 617, ../sass/styles.scss */
.checkout-h1 {
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

/* line 623, ../sass/styles.scss */
.margin-right-10 {
  margin-right: 10px;
}

/* line 627, ../sass/styles.scss */
.back-to-shop {
  margin-top: 17px;
  color: #d9d9d9;
}

/* line 632, ../sass/styles.scss */
.cart-items {
  padding: 0;
}
/* line 635, ../sass/styles.scss */
.cart-items li {
  list-style: none;
  position: relative;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
/* line 642, ../sass/styles.scss */
.cart-items li:last-child {
  border-bottom: 1px solid #eeeeee;
}

/* line 648, ../sass/styles.scss */
.qty, .checkout-price {
  color: #777777;
}

/* line 652, ../sass/styles.scss */
.checkout-price {
  margin-top: .4em;
  text-align: left;
}

/* line 657, ../sass/styles.scss */
.checkout-items {
  padding: 0px 10px;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
}

/* line 663, ../sass/styles.scss */
.checkout-go {
  padding: 0px 15px !important;
  background: black;
}

/* line 670, ../sass/styles.scss */
.btn-group-radio > .btn {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 676, ../sass/styles.scss */
.btn-group-radio > .btn > label {
  padding: 15px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "brandon-grotesque";
  FONT-WEIGHT: 600;
  letter-spacing: 2px;
}

/* line 706, ../sass/styles.scss */
.btn-group-radio input[type=radio] {
  display: none;
}

/* line 710, ../sass/styles.scss */
.btn-group-radio > label > .btn {
  margin-left: -1px;
}

/* line 714, ../sass/styles.scss */
.btn-group-radio input[type=radio]:checked + .btn {
  color: white;
  background: black;
  background-image: none;
  outline: 0;
}

/* line 723, ../sass/styles.scss */
.btn-group-radio > input:first-child + .btn {
  margin-left: 0;
}

/* line 727, ../sass/styles.scss */
.btn-group-radio > input:first-child + .btn.large {
  margin-left: 0;
}

/* line 731, ../sass/styles.scss */
.or {
  padding: 0px 10px;
  color: #d9d9d9;
  font-style: italic;
}

/* line 1, ../sass/_helpers.scss */
.vertical-center, .caption-center, .caption-left, .caption-right {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 11, ../sass/_helpers.scss */
.push-right-50 {
  padding-left: 50px !important;
}

/* line 15, ../sass/_helpers.scss */
.push-left-50 {
  padding-right: 50px !important;
}

/* line 19, ../sass/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 23, ../sass/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 27, ../sass/_helpers.scss */
.no-padding {
  padding: 0px !important;
}

/* line 31, ../sass/_helpers.scss */
.no-margin-top {
  margin-top: 0px;
}

/* line 40, ../sass/_helpers.scss */
.text-white {
  color: white;
}

/* line 44, ../sass/_helpers.scss */
.text-grey {
  color: #A0A0A0;
}

/* line 48, ../sass/_helpers.scss */
.text-highlight {
  color: #f8dadf;
}

/* line 52, ../sass/_helpers.scss */
.no-border-right {
  border-right: 0px;
}

/* line 55, ../sass/_helpers.scss */
.padding-left-15 {
  padding-left: 15px;
}

/* line 59, ../sass/_helpers.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 63, ../sass/_helpers.scss */
.ul-horizontal, .nav-menu .primary, .nav-menu .secondary {
  display: block;
  list-style: none;
  padding-left: 0;
}

/* line 69, ../sass/_helpers.scss */
.btn-grey-text {
  color: #9b9b9b;
}

/* line 73, ../sass/_helpers.scss */
.half-opacity {
  opacity: 0.5;
}

/* line 77, ../sass/_helpers.scss */
.max-width-100 {
  max-width: 100%;
}

/* line 81, ../sass/_helpers.scss */
.height-100 {
  height: 100%;
}

/* line 85, ../sass/_helpers.scss */
.margin-top-16 {
  margin-top: 16px;
}

/* line 89, ../sass/_helpers.scss */
.fa-one-and-half {
  font-size: 1.5em !important;
}

/* line 93, ../sass/_helpers.scss */
.invis {
  left: -999em !important;
}

/* line 97, ../sass/_helpers.scss */
.vis {
  left: 0px !important;
}

/* line 101, ../sass/_helpers.scss */
.artificial-white-bg {
  background: white !important;
}

/* line 109, ../sass/_helpers.scss */
.transparent-bg {
  background: transparent !important;
}

/* line 113, ../sass/_helpers.scss */
.no-padding-left {
  padding-left: 0px;
}

/* line 117, ../sass/_helpers.scss */
.no-padding-right {
  padding-right: 0px;
}

/* line 121, ../sass/_helpers.scss */
.no-padding-bottom {
  padding-bottom: 0px;
}

/* line 125, ../sass/_helpers.scss */
.relative {
  position: relative;
}

/* line 129, ../sass/_helpers.scss */
.display-none {
  display: none;
}

/* line 133, ../sass/_helpers.scss */
.no-scroll {
  position: fixed !important;
}

/* line 137, ../sass/_helpers.scss */
.mobile-hide {
  top: 999em;
}

/* line 141, ../sass/_helpers.scss */
.mobile-show {
  top: 0;
}

/* line 145, ../sass/_helpers.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 148, ../sass/_helpers.scss */
.push-right-10 {
  margin-right: 10px;
}

/* line 152, ../sass/_helpers.scss */
.padding-60 {
  padding: 60px;
}

/* line 156, ../sass/_helpers.scss */
.margin-right-10 {
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  /* line 161, ../sass/_helpers.scss */
  .margin-bottom-30-tablet {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 167, ../sass/_helpers.scss */
  .no-padding-lg {
    padding: 0px;
  }
}
/* line 172, ../sass/_helpers.scss */
.link-grey {
  color: #777777;
}

@media screen and (max-width: 480px) {
  /* line 4, ../sass/_media.scss */
  .caption-left {
    text-align: center;
    padding-left: 0;
  }

  /* line 9, ../sass/_media.scss */
  .caption-right {
    text-align: center;
    padding-right: 0;
  }

  /* line 20, ../sass/_media.scss */
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 31, ../sass/_media.scss */
  .nav-menu {
    background: white !important;
    position: absolute;
  }
  /* line 35, ../sass/_media.scss */
  .margin-top-100-mobile {
    margin-top: 100px;
  }

  /* line 39, ../sass/_media.scss */
  .footer {
    text-align: center;
  }

  /* line 43, ../sass/_media.scss */
  .btn {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/_media.scss */
  .footer {
    text-align: center;
  }

  /* line 67, ../sass/_media.scss */
  .no-float-mobile {
    float: none !important;
  }

  /* line 75, ../sass/_media.scss */
  .close-search {
    padding: 0;
    padding-top: 30px;
    padding-right: 30px;
    z-index: 10000;
  }

  /* line 82, ../sass/_media.scss */
  .padding-zero-mobile {
    padding: 0px;
  }

}
@media screen and (max-width: 450px) {
  /* line 92, ../sass/_media.scss */
  .hidden-xxs {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  /* line 98, ../sass/_media.scss */
  .product-section--details {
    position: relative !important;
    width: 100% !important;
    max-width: none !important;
    right: 0 !important;
    top: 0 !important;
  }
}
/* line 3, ../sass/_category.scss */
.category--item {
  padding-bottom: 15px;
}
/* line 6, ../sass/_category.scss */
.category--item a {
  color: #333333;
}
/* line 10, ../sass/_category.scss */
.category--item:hover {
  opacity: 0.8;
}

/* line 18, ../sass/_category.scss */
.details {
  margin: 15px 0;
  font-size: 0.9em;
}

/* line 23, ../sass/_category.scss */
.name {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* line 29, ../sass/_category.scss */
.price {
  display: block;
  text-align: center;
}

/* line 34, ../sass/_category.scss */
.delivery {
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #777777;
  margin-top: -3px;
  color: #f8dadf;
}

/* line 44, ../sass/_category.scss */
.page-title {
  background-size: cover;
  position: relative;
}

/* line 50, ../sass/_category.scss */
.page-title:after {
  content: "";
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 63, ../sass/_category.scss */
.page-title--details {
  padding: 60px 0 55px 0;
  text-align: center;
  color: white;
  position: relative;
  z-index: 99;
}
/* line 71, ../sass/_category.scss */
.page-title--details h1 {
  margin-top: 0px;
}

/* line 79, ../sass/_category.scss */
.test {
  position: absolute;
  /* height: 600px; */
  top: 0;
  right: 0;
  bottom: 105px;
  right: 0;
}

/* line 88, ../sass/_category.scss */
.left {
  left: 0;
}

@media screen and (max-width: 992px) {
  /* line 93, ../sass/_category.scss */
  .test {
    position: relative;
    margin-bottom: 30px;
  }
}
/* line 100, ../sass/_category.scss */
.category-controls {
  margin-bottom: 20px;
}

/* line 3, ../sass/_product.scss */
.test-size {
  height: 800px;
  background: white;
}

/* line 8, ../sass/_product.scss */
.next {
  color: black;
  padding-right: 20px;
  opacity: 0.5;
}

/* line 14, ../sass/_product.scss */
.prev {
  color: black;
  padding-left: 20px;
  opacity: 0.5;
}

/* line 22, ../sass/_product.scss */
.product-section a.link {
  color: #555555;
  position: relative;
  top: 7px;
}

/* line 29, ../sass/_product.scss */
.product-section--details {
  position: absolute;
  max-width: 600px;
  right: 100px;
  width: 680px;
  padding: 40px;
  text-align: center;
  top: 120px;
  z-index: 9;
}

/* line 40, ../sass/_product.scss */
.product-section--description {
  display: block;
  font-size: 1.1em;
}

/* line 45, ../sass/_product.scss */
.product-section--price {
  display: block;
  font-size: 1em;
  color: grey;
}

/* line 56, ../sass/_product.scss */
.product-section--extra {
  margin-bottom: 30px;
}

/* line 60, ../sass/_product.scss */
.product-section--quantity {
  margin-bottom: 30px;
}

/* line 66, ../sass/_product.scss */
.extra-details {
  display: block;
  margin-top: 20px;
  color: grey;
}

@media (max-width: 585px) {
  /* line 73, ../sass/_product.scss */
  .input-group span.input-group-btn, .input-group input, .input-group button {
    display: block;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  /* line 79, ../sass/_product.scss */
  .input-group {
    position: relative;
  }

  /* line 82, ../sass/_product.scss */
  .input-group span.data-up {
    position: absolute;
    top: 0;
  }

  /* line 86, ../sass/_product.scss */
  .input-group span.data-dwn {
    position: absolute;
    bottom: 0;
  }

  /* line 93, ../sass/_product.scss */
  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0;
  }
}
/* Default custom select styles */
/* line 2, ../sass/_dropdowns.scss */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 1;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 19, ../sass/_dropdowns.scss */
div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */
}

/* line 23, ../sass/_dropdowns.scss */
.cs-select select {
  display: none;
}

/* line 27, ../sass/_dropdowns.scss */
.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
/* line 38, ../sass/_dropdowns.scss */
.cs-select > span {
  padding-right: 3em;
}

/* line 42, ../sass/_dropdowns.scss */
.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 53, ../sass/_dropdowns.scss */
.cs-select > span::after {
  content: '\25BE';
  right: 1em;
}

/* line 58, ../sass/_dropdowns.scss */
.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em;
}

/* line 63, ../sass/_dropdowns.scss */
.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

/* line 68, ../sass/_dropdowns.scss */
div.cs-active {
  z-index: 200;
}

/* Options */
/* line 73, ../sass/_dropdowns.scss */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden;
}

/* line 81, ../sass/_dropdowns.scss */
.cs-select.cs-active .cs-options {
  visibility: visible;
}

/* line 85, ../sass/_dropdowns.scss */
.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 92, ../sass/_dropdowns.scss */
.cs-select ul span {
  padding: 1em;
}

/* line 96, ../sass/_dropdowns.scss */
.cs-select ul li.cs-focus span {
  background-color: #ddd;
}

/* Optgroup and optgroup label */
/* line 101, ../sass/_dropdowns.scss */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

/* line 105, ../sass/_dropdowns.scss */
.cs-select li.cs-optgroup > span {
  cursor: default;
}

/* line 123, ../sass/_dropdowns.scss */
.cs-options span {
  color: #ccc;
}

/* line 127, ../sass/_dropdowns.scss */
div.cs-skin-border {
  background: transparent;
  font-size: 1em;
  font-weight: 700;
  max-width: 600px;
}

@media screen and (max-width: 30em) {
  /* line 135, ../sass/_dropdowns.scss */
  div.cs-skin-border {
    font-size: 1em;
  }
}
/* line 138, ../sass/_dropdowns.scss */
.cs-skin-border > span {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  border-color: inherit;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  /*New Styles*/
  padding: 5px 10px;
  background: none;
  border: 1px solid #d9d9d9;
  font-weight: 300;
  color: #777777;
  font-weight: 300;
  /*border: 3px solid rgb(248, 218, 223);*/
  border-radius: 0px;
  /*  border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    color: black;
    text-transform: uppercase;
    font-size: 16px;*/
}

/* line 172, ../sass/_dropdowns.scss */
.cs-skin-border ul span::after {
  content: '';
  opacity: 0;
}

/* line 186, ../sass/_dropdowns.scss */
.cs-skin-border.cs-active > span {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  color: #777777;
  border-radius: 0px;
  background: #eeeeee;
  font-weight: 300;
  /*  border-radius: 0;
    border-bottom: 2px solid black;
    color: black;*/
}

/* line 199, ../sass/_dropdowns.scss */
.cs-skin-border .cs-options {
  color: #2980b9;
  font-size: 0.75em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s;
  border-top: none;
}

/* line 208, ../sass/_dropdowns.scss */
.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  /*  background: white;
    border: 2px solid black;
    border-top: 0;*/
  border: 1px solid #d9d9d9;
  border-top: none;
  color: #777777;
  background: white;
}

/* line 222, ../sass/_dropdowns.scss */
.cs-skin-border ul span {
  padding: 10px 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 1.2em;
  color: #777777;
  font-weight: 300;
  /*  color: black;
    font-weight: normal;*/
}

/* line 233, ../sass/_dropdowns.scss */
.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #eeeeee;
}

/* line 3, ../sass/_color-dropdown.scss */
.cs-color-select .preview {
  display: inline;
  height: 23px;
  width: 23px;
  padding: 10px;
  margin-right: 10px;
  background-color: #CCCCCC;
}
/* line 12, ../sass/_color-dropdown.scss */
.cs-color-select .black .preview {
  background-color: #000000;
}
/* line 17, ../sass/_color-dropdown.scss */
.cs-color-select .green .preview {
  background-color: #00FF00;
}
