

/* line 108, ../sass/_nav.scss */
.mega-menu-list {
  padding-left: 0;
}

/* line 112, ../sass/_nav.scss */
.mega-menu-list--item {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* line 118, ../sass/_nav.scss */
.mega-menu-list--item a {
  color: #333333 !important;
  font-weight: 300;
}
/* line 122, ../sass/_nav.scss */
.mega-menu-list--item a:hover {
  color: black !important;
}

/* line 125, ../sass/_nav.scss */
.search {
  position: relative;
}

/* line 130, ../sass/_nav.scss */
.close-search {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 30px;
}
/* line 136, ../sass/_nav.scss */
.close-search img {
  width: 32px;
  height: 32px;
}
/* line 15, ../sass/_cart.scss */
#main-nav, #cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  /* header height */
  padding-top: 0px;
  padding-bottom: 100px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  /* line 15, ../sass/_cart.scss */
  #main-nav, #cart {
    width: 450px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 15, ../sass/_cart.scss */
  #main-nav, #cart {
    width: 35%;
    /* header height has changed */
    padding-top: 0px;
  }
}

/* line 43, ../sass/_cart.scss */
.close-cart {
  cursor: pointer;
}

/* line 47, ../sass/_cart.scss */
.cart-item-image {
  width: 40px;
  margin-right: 30px;
}

/* line 52, ../sass/_cart.scss */
.arrow-bag {
  width: 20px !important;
  height: 20px !important;
}

/* line 58, ../sass/_cart.scss */
.cart--top {
  padding: 20px 30px !important;
  background: #eeeeee;
}

/* line 63, ../sass/_cart.scss */
.cart-title {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0;
}

/* line 70, ../sass/_cart.scss */
#cart {
  z-index: 999 !important;
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

#cart .shopping-bag-text{
  margin-right:0;
  padding-top:10px;
  padding-left:35px;
  height: 110px;
  font-size: 1.5rem;
}
#cart .shopping-bag-text span{
  float: left;
}
#cart .shopping-bag-text span:not(:nth-child(2)){
  float: left;
  margin-top: 5px;
}
#cart .shopping-bag-text i.coathanger{
  background-image: url('../../../assets/cart/coathanger.svg');
  width: 20px;
  height: 15px;
  margin-top: 2px;
  margin-right: 10px;
  display: block;
  float: left;
  background-size: contain;
  clear: both;
}
#cart .shopping-bag-text i.plane{
  background-image: url('../../../assets/cart/plane.svg');
  width: 20px;
  height: 21px;
  margin-top: 3px;
  margin-right: 10px;
  display: block;
  float: left;
  background-size: contain;
  clear: both;
}
#cart .shopping-bag-text i.mobile{
  background-image: url('../../../assets/cart/mobile.svg');
  width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 1px;
  display: block;
  float: left;
  background-size: contain;
  clear: both;
}
#cart .shopping-bag-payment-methods {
  text-align:center;
  margin-top:20px;

}
#cart .shopping-bag-payment-methods img{
  width: 20%;
}

#cart .shopping-bag-payment-methods img:last-child{
  margin-left: 20px;
}

#cart .shopping-bag-masterpass {
  margin-top:20px;
}

/* line 77, ../sass/_cart.scss */
#cart.speed-in {
  right: 0;
}

/* line 85, ../sass/_cart.scss */
#cart .cart-items {
  padding: 0;
}
/* line 88, ../sass/_cart.scss */
#cart .cart-items li {
  list-style: none;
  position: relative;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
/* line 95, ../sass/_cart.scss */
#cart .cart-items li:last-child {
  border-bottom: 1px solid #eeeeee;
}
/* line 101, ../sass/_cart.scss */
#cart .qty, #cart .price {
  color: #777777;
}
/* line 105, ../sass/_cart.scss */
#cart .price {
  margin-top: .4em;
  text-align: left;
}
/* line 110, ../sass/_cart.scss */
#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* line 119, ../sass/_cart.scss */
.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}
/* line 124, ../sass/_cart.scss */
#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 128, ../sass/_cart.scss */
#cart .cart-total span {
  float: right;
}
/* line 132, ../sass/_cart.scss */
#cart .cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 139, ../sass/_cart.scss */
#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
/* line 148, ../sass/_cart.scss */
.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}
/* line 153, ../sass/_cart.scss */
#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}
/* line 157, ../sass/_cart.scss */
#cart .go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  /* line 167, ../sass/_cart.scss */
  #cart .cart-items li {
    padding: 1em 2em;
  }
  /* line 171, ../sass/_cart.scss */
  #cart .item-remove {
    right: 2em;
  }
}


/* line 240, ../sass/_cart.scss */
#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  display: none;
}
/* line 253, ../sass/_cart.scss */
#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -o-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* --------------------------------

xkeyframes

-------------------------------- */
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 224, ../sass/styles.scss */
.arrow {
  width: 50px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  opacity: 1;
}

/* line 245, ../sass/styles.scss */
.input-group-addon {
  border-bottom: 1px solid black !important;
}

/* line 272, ../sass/styles.scss */
.page-content {
  padding-bottom: 60px;
}

/* line 326, ../sass/styles.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #CCCCCC;
}

/* line 339, ../sass/styles.scss */
.open > .dropdown-menu {
  display: block;
  border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 347, ../sass/styles.scss */
.dropdown-menu > li > a {
  font-weight: 300;
}

/* line 436, ../sass/styles.scss */
.menu-active-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

/* line 443, ../sass/styles.scss */
.active-hover {
  position: relative;
}

/* line 448, ../sass/styles.scss */
.line-arrow {
  width: 32px;
  height: 32px;
}

/* line 453, ../sass/styles.scss */
.search:hover {
  cursor: pointer;
}

/* line 467, ../sass/styles.scss */
.add-to-moodboard {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 0px;
  opacity: 0.3;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
/* line 475, ../sass/styles.scss */
.add-to-moodboard:hover {
  opacity: 1;
}

/* line 483, ../sass/styles.scss */
.social-share .fa {
  padding: 10px;
  font-size: 1.3em;
  color: black;
}

/* line 489, ../sass/styles.scss */
.social-share {
  margin-top: 15px;
}

/* line 494, ../sass/styles.scss */
.divider {
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 505, ../sass/styles.scss */
.cart-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

/* line 511, ../sass/styles.scss */
.cart {
  position: relative;
}

/* line 515, ../sass/styles.scss */
.cart-amount {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 12px;
}

/* line 603, ../sass/styles.scss */
.delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 611, ../sass/styles.scss */
.checkout-title {
  margin-top: 70px;
  padding: 30px;
  background: #eeeeee;
}

/* line 617, ../sass/styles.scss */
.checkout-h1 {
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

/* line 627, ../sass/styles.scss */
.back-to-shop {
  margin-top: 17px;
  color: #d9d9d9;
}

/* line 632, ../sass/styles.scss */
.cart-items {
  padding: 0;
}
/* line 635, ../sass/styles.scss */
.cart-items li {
  list-style: none;
  position: relative;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
/* line 642, ../sass/styles.scss */
.cart-items li:last-child {
  border-bottom: 1px solid #eeeeee;
}

/* line 648, ../sass/styles.scss */
.qty, .checkout-price {
  color: #777777;
}

/* line 652, ../sass/styles.scss */
.checkout-price {
  margin-top: .4em;
  text-align: left;
}

/* line 657, ../sass/styles.scss */
.checkout-items {
  padding: 0px 10px;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
}

/* line 663, ../sass/styles.scss */
.checkout-go {
  padding: 0px 15px !important;
  background: black;
}

/* line 670, ../sass/styles.scss */
.btn-group-radio > .btn {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 676, ../sass/styles.scss */
.btn-group-radio > .btn > label {
  padding: 15px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "brandon-grotesque";
  FONT-WEIGHT: 600;
  letter-spacing: 2px;
}

/* line 706, ../sass/styles.scss */
.btn-group-radio input[type=radio] {
  display: none;
}

/* line 710, ../sass/styles.scss */
.btn-group-radio > label > .btn {
  margin-left: -1px;
}

/* line 714, ../sass/styles.scss */
.btn-group-radio input[type=radio]:checked + .btn {
  color: white;
  background: black;
  background-image: none;
  outline: 0;
}

/* line 723, ../sass/styles.scss */
.btn-group-radio > input:first-child + .btn {
  margin-left: 0;
}

/* line 727, ../sass/styles.scss */
.btn-group-radio > input:first-child + .btn.large {
  margin-left: 0;
}

@media screen and (max-width: 480px) {

  /* line 31, ../sass/_media.scss */
  .nav-menu {
    background: white !important;
    position: absolute;
  }

  /* line 39, ../sass/_media.scss */
  .footer {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/_media.scss */
  .footer {
    text-align: center;
  }

}

/* line 3, ../sass/_category.scss */
.category--item {
  padding-bottom: 15px;
}
/* line 6, ../sass/_category.scss */
.category--item a {
  color: #333333;
}
/* line 10, ../sass/_category.scss */
.category--item:hover {
  opacity: 0.8;
}

/* line 18, ../sass/_category.scss */
.details {
  margin: 15px 0;
  font-size: 0.9em;
}

/* line 23, ../sass/_category.scss */
.name {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* line 29, ../sass/_category.scss */
.price {
  display: block;
  text-align: center;
}

/* line 34, ../sass/_category.scss */
.delivery {
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #777777;
  margin-top: -3px;
  color: #f8dadf;
}

/* line 44, ../sass/_category.scss */
.page-title {
  background-size: cover;
  position: relative;
}

/* line 50, ../sass/_category.scss */
.page-title:after {
  content: "";
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 63, ../sass/_category.scss */
.page-title--details {
  padding: 60px 0 55px 0;
  text-align: center;
  color: white;
  position: relative;
  z-index: 99;
}
/* line 71, ../sass/_category.scss */
.page-title--details h1 {
  margin-top: 0px;
}

/* line 100, ../sass/_category.scss */
.category-controls {
  margin-bottom: 20px;
}

/* line 8, ../sass/_product.scss */
.next {
  color: black;
  padding-right: 20px;
  opacity: 0.5;
}

/* line 14, ../sass/_product.scss */
.prev {
  color: black;
  padding-left: 20px;
  opacity: 0.5;
}

/* line 22, ../sass/_product.scss */
.product-section a.link {
  color: #555555;
  position: relative;
  top: 7px;
}

/* line 40, ../sass/_product.scss */
.product-section--description {
  display: block;
  font-size: 1.1em;
}

/* line 45, ../sass/_product.scss */
.product-section--price {
  display: block;
  font-size: 1em;
  color: grey;
}

/* line 56, ../sass/_product.scss */
.product-section--extra {
  margin-bottom: 30px;
}

/* line 60, ../sass/_product.scss */
.product-section--quantity {
  margin-bottom: 30px;
}
