@charset "UTF-8";
/* line 3, ../sass/_grid.scss */
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: 480px) {
  /* line 13, ../sass/_grid.scss */
  .col-xxs-1,
  .col-xxs-2,
  .col-xxs-3,
  .col-xxs-4,
  .col-xxs-5,
  .col-xxs-6,
  .col-xxs-7,
  .col-xxs-8,
  .col-xxs-9,
  .col-xxs-10,
  .col-xxs-11 {
    float: left;
  }

  /* line 27, ../sass/_grid.scss */
  .col-xxs-1 {
    width: 8.333333333333332%;
  }

  /* line 31, ../sass/_grid.scss */
  .col-xxs-2 {
    width: 16.666666666666664%;
  }

  /* line 35, ../sass/_grid.scss */
  .col-xxs-3 {
    width: 25%;
  }

  /* line 39, ../sass/_grid.scss */
  .col-xxs-4 {
    width: 33.33333333333333%;
  }

  /* line 43, ../sass/_grid.scss */
  .col-xxs-5 {
    width: 41.66666666666667%;
  }

  /* line 47, ../sass/_grid.scss */
  .col-xxs-6 {
    width: 50%;
  }

  /* line 51, ../sass/_grid.scss */
  .col-xxs-7 {
    width: 58.333333333333336%;
  }

  /* line 55, ../sass/_grid.scss */
  .col-xxs-8 {
    width: 66.66666666666666%;
  }

  /* line 59, ../sass/_grid.scss */
  .col-xxs-9 {
    width: 75%;
  }

  /* line 63, ../sass/_grid.scss */
  .col-xxs-10 {
    width: 83.33333333333334%;
  }

  /* line 67, ../sass/_grid.scss */
  .col-xxs-11 {
    width: 91.66666666666666%;
  }

  /* line 71, ../sass/_grid.scss */
  .col-xxs-12 {
    width: 100%;
  }

  /* line 75, ../sass/_grid.scss */
  .col-xxs-push-1 {
    left: 8.333333333333332%;
  }

  /* line 79, ../sass/_grid.scss */
  .col-xxs-push-2 {
    left: 16.666666666666664%;
  }

  /* line 83, ../sass/_grid.scss */
  .col-xxs-push-3 {
    left: 25%;
  }

  /* line 87, ../sass/_grid.scss */
  .col-xss-push-4 {
    left: 33.33333333333333%;
  }

  /* line 91, ../sass/_grid.scss */
  .col-xxs-push-5 {
    left: 41.66666666666667%;
  }

  /* line 95, ../sass/_grid.scss */
  .col-xxs-push-6 {
    left: 50%;
  }

  /* line 99, ../sass/_grid.scss */
  .col-xxs-push-7 {
    left: 58.333333333333336%;
  }

  /* line 103, ../sass/_grid.scss */
  .col-xxs-push-8 {
    left: 66.66666666666666%;
  }

  /* line 107, ../sass/_grid.scss */
  .col-xxs-push-9 {
    left: 75%;
  }

  /* line 111, ../sass/_grid.scss */
  .col-xxs-push-10 {
    left: 83.33333333333334%;
  }

  /* line 115, ../sass/_grid.scss */
  .col-xxs-push-11 {
    left: 91.66666666666666%;
  }

  /* line 119, ../sass/_grid.scss */
  .col-xxs-pull-1 {
    right: 8.333333333333332%;
  }

  /* line 123, ../sass/_grid.scss */
  .col-xxs-pull-2 {
    right: 16.666666666666664%;
  }

  /* line 127, ../sass/_grid.scss */
  .col-xxs-pull-3 {
    right: 25%;
  }

  /* line 131, ../sass/_grid.scss */
  .col-xxs-pull-4 {
    right: 33.33333333333333%;
  }

  /* line 135, ../sass/_grid.scss */
  .col-xxs-pull-5 {
    right: 41.66666666666667%;
  }

  /* line 139, ../sass/_grid.scss */
  .col-xxs-pull-6 {
    right: 50%;
  }

  /* line 143, ../sass/_grid.scss */
  .col-xxs-pull-7 {
    right: 58.333333333333336%;
  }

  /* line 147, ../sass/_grid.scss */
  .col-xxs-pull-8 {
    right: 66.66666666666666%;
  }

  /* line 151, ../sass/_grid.scss */
  .col-xxs-pull-9 {
    right: 75%;
  }

  /* line 155, ../sass/_grid.scss */
  .col-xxs-pull-10 {
    right: 83.33333333333334%;
  }

  /* line 159, ../sass/_grid.scss */
  .col-xxs-pull-11 {
    right: 91.66666666666666%;
  }

  /* line 163, ../sass/_grid.scss */
  .col-xxs-offset-1 {
    margin-left: 8.333333333333332%;
  }

  /* line 167, ../sass/_grid.scss */
  .col-xxs-offset-2 {
    margin-left: 16.666666666666664%;
  }

  /* line 171, ../sass/_grid.scss */
  .col-xxs-offset-3 {
    margin-left: 25%;
  }

  /* line 175, ../sass/_grid.scss */
  .col-xxs-offset-4 {
    margin-left: 33.33333333333333%;
  }

  /* line 179, ../sass/_grid.scss */
  .col-xxs-offset-5 {
    margin-left: 41.66666666666667%;
  }

  /* line 183, ../sass/_grid.scss */
  .col-xxs-offset-6 {
    margin-left: 50%;
  }

  /* line 187, ../sass/_grid.scss */
  .col-xxs-offset-7 {
    margin-left: 58.333333333333336%;
  }

  /* line 191, ../sass/_grid.scss */
  .col-xxs-offset-8 {
    margin-left: 66.66666666666666%;
  }

  /* line 195, ../sass/_grid.scss */
  .col-xxs-offset-9 {
    margin-left: 75%;
  }

  /* line 199, ../sass/_grid.scss */
  .col-xxs-offset-10 {
    margin-left: 83.33333333333334%;
  }

  /* line 203, ../sass/_grid.scss */
  .col-xxs-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
/* line 5, ../sass/_overrides.scss */
body {
  height: 100%;
}

/* line 8, ../sass/_overrides.scss */
.btn {
  text-transform: uppercase;
  padding: 10px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 100%;
}

/* line 16, ../sass/_overrides.scss */
.well {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 50px;
  background: none;
  border: 1px solid #d9d9d9;
}
/* line 25, ../sass/_overrides.scss */
.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  margin-top: 0px;
}
/* line 29, ../sass/_overrides.scss */
.well p {
  margin-bottom: 0px;
}

/* line 34, ../sass/_overrides.scss */
.form-group {
  margin-bottom: 30px;
}

/* line 44, ../sass/_overrides.scss */
a:hover {
  text-decoration: none;
}

/* line 48, ../sass/_overrides.scss */
.input-group-addon {
  border: none;
  background: none;
  border-bottom: 1px solid #d9d9d9 !important;
  border-radius: 0;
}

/* line 55, ../sass/_overrides.scss */
.alert-info {
  border-color: #000;
  color: #31708f;
  background: #222;
  color: white;
  border-radius: 0;
}

/* line 63, ../sass/_overrides.scss */
.close {
  opacity: 0.7;
}
/* line 66, ../sass/_overrides.scss */
.close img {
  width: 20px;
  height: 20px;
}

/* line 69, ../sass/_overrides.scss */
.form-control {
  border: 1px solid #d9d9d9;
}

/* line 73, ../sass/_overrides.scss */
label {
  font-weight: normal;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #777777;
}

/* line 1, ../sass/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../sass/_typography.scss */
.caption-title {
  color: white;
  font-size: 58px;
}

/* line 33, ../sass/_typography.scss */
.h2-title {
  font-size: 48px;
}

/* line 39, ../sass/_typography.scss */
.lighter-text {
  color: #777777 !important;
}

/* line 43, ../sass/_typography.scss */
h1 {
  font-family: 'Forum', cursive;
  text-transform: uppercase;
}

/* line 48, ../sass/_typography.scss */
h1 {
  padding-bottom: 40px;
  font-size: 48px;
}

/* line 53, ../sass/_typography.scss */
p {
  color: #5a5a5a;
}

/* line 57, ../sass/_typography.scss */
.footer p {
  color: #333333;
}

/* line 61, ../sass/_typography.scss */
.lead {
  font-style: italic;
}

/* line 2, ../sass/_buttons.scss */
.btn {
  text-transform: uppercase;
  padding: 15px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "brandon-grotesque";
  FONT-WEIGHT: 600;
  letter-spacing: 2px;
  border-radius: 0;
}

/* line 14, ../sass/_buttons.scss */
.btn-white {
  background: white;
  font-weight: 600;
  color: #555559;
  font-size: 1.1em;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-transform: none;
  font-weight: 300;
  border-radius: 0px;
  font-family: "brandon-grotesque";
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 32, ../sass/_buttons.scss */
.btn-white:hover {
  background: #fff;
  color: #333333;
}

/* line 38, ../sass/_buttons.scss */
.btn-transparent {
  border: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0;
  background: 0;
}

/* line 45, ../sass/_buttons.scss */
.btn-dropdown {
  padding: 10px;
  background: none;
  border: 2px solid #CCCCCC;
  font-weight: 300;
  color: #999;
}

/* line 53, ../sass/_buttons.scss */
.btn-dropdown:hover, .btn-dropdown:focus, .btn-dropdown:active {
  color: #CCCCCC;
}

/* line 58, ../sass/_buttons.scss */
.btn-grey {
  background: none;
  border: 1px solid #555559;
  font-weight: 300;
  color: black;
  font-size: 1.1em;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-transform: none;
  font-weight: 300;
  font-size: 1.1em;
  display: block;
  width: 100%;
  border-radius: 0px;
  max-width: 300px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "brandon-grotesque";
  letter-spacing: 2px;
  margin: 10px auto;
}

/* line 81, ../sass/_buttons.scss */
.btn-grey:hover {
  color: #9b9b9b;
  border-color: #9b9b9b;
}

/* line 86, ../sass/_buttons.scss */
.invis-fix {
  border: none;
  background: none;
}
/* line 90, ../sass/_buttons.scss */
.invis-fix:hover {
  opacity: 0.5;
}

/* line 95, ../sass/_buttons.scss */
.btn-black {
  background: black;
  color: white;
}

/* line 100, ../sass/_buttons.scss */
.btn-charcoal {
  background: #555559;
  color: white;
}

/* line 106, ../sass/_buttons.scss */
.btn-quantity {
  padding: 5px 15px;
  background: #CCCCCC;
  border: 2px solid #CCCCCC;
}

/* line 112, ../sass/_buttons.scss */
.input-quantity {
  padding: 5px 15px !important;
  border: 2px solid #CCCCCC !important;
  background: none !important;
  color: #CCCCCC !important;
}

/* line 120, ../sass/_buttons.scss */
.new-style {
  font-family: "brandon-grotesque";
  font-weight: 600px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid #f8dadf;
  border-radius: 0px;
}

/* line 1, ../sass/_footer.scss */
.footer {
  background-color: #F7F7F9;
  padding-top: 70px;
  padding-bottom: 60px;
}

/* line 6, ../sass/_footer.scss */
.footer-nav, .footer-social, .footer-details-nav {
  display: block;
  list-style: none;
  padding-left: 0;
}

/* line 11, ../sass/_footer.scss */
.footer-nav--item {
  margin-bottom: 10px;
}

/* line 15, ../sass/_footer.scss */
.footer-nav--item a {
  color: #333333;
  font-weight: 300;
}

/* line 20, ../sass/_footer.scss */
.footer-nav--item a:hover {
  color: black;
}

/* line 28, ../sass/_footer.scss */
.footer-social--item {
  display: inline-block;
  padding: 10px;
}

/* line 33, ../sass/_footer.scss */
.footer-social--item a {
  color: #333333;
}

/* line 38, ../sass/_footer.scss */
.footer-details {
  margin-top: 40px;
}

/* line 45, ../sass/_footer.scss */
.footer-details-nav--item {
  display: inline-block;
  padding: 20px;
  padding-bottom: 0;
}

/* line 51, ../sass/_footer.scss */
.footer-details-text {
  padding: 20px;
  padding-bottom: 0;
}

/* line 57, ../sass/_footer.scss */
.footer-logo {
  margin-left: 30px;
  margin-bottom: 40px;
}

/* line 2, ../sass/_nav.scss */
.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  border-bottom: 1px solid #eeeeee;
}


@media only screen and (max-width: 992px) {
  .nav-menu {
    height: 70px;
  }
}

/* line 14, ../sass/_nav.scss */
.nav-menu:hover {
  background: white !important;
}

/* line 18, ../sass/_nav.scss */
.masthead {
  padding-right: 40px;
  margin-top: -3px;
  padding-top: 22px;
  padding-left: 20px;
}

/* line 27, ../sass/_nav.scss */
.nav-logo {
  max-height: 20px;
  transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  height: 100%;
  max-width: 200px;
}
/* line 35, ../sass/_nav.scss */
.nav-logo:hover {
  opacity: 0.7;
}

/* line 44, ../sass/_nav.scss */
.nav-menu .primary li.menu-item, .nav-menu .secondary li.menu-item {
  display: inline-block;
  height: 70px;
}
/* line 48, ../sass/_nav.scss */
.nav-menu .primary li.menu-item .menu-item--link, .nav-menu .secondary li.menu-item .menu-item--link {
  display: inline-block;
  height: 70px;
  color: black;
  padding: 0 20px;
  padding-top: 20px;
  transition: color 0.1s;
  -webkit-transition: color 0.1s;
}
/* line 57, ../sass/_nav.scss */
.nav-menu .primary li.menu-item .menu-item--link:hover, .nav-menu .secondary li.menu-item .menu-item--link:hover {
  color: #f8dadf;
}

/* line 71, ../sass/_nav.scss */
.mega-menu-menu, .search-bar, .mega-menu {
  position: absolute;
  top: 105px;
  padding: 0px;
  background: #f4f4f4;
  width: 100%;
  z-index: 1000;
}

/* line 81, ../sass/_nav.scss */
.search-bar {
  left: 0px;
}

/* line 86, ../sass/_nav.scss */
.mega-menu {
  left: -999em;
  transition: opacity ease-out 0.1s;
  -webkit-transition: opacity ease-out 0.1s;
  padding: 0px !important;
}

/* line 95, ../sass/_nav.scss */
.shop:hover .mega-menu {
  left: 0px;
}
/* line 99, ../sass/_nav.scss */
.shop:hover .arrow-up {
  opacity: 1;
}

/* line 104, ../sass/_nav.scss */
.mega-menu:hover {
  left: 0px;
}

/* line 108, ../sass/_nav.scss */
.mega-menu-list {
  padding-left: 0;
}

/* line 112, ../sass/_nav.scss */
.mega-menu-list--item {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* line 118, ../sass/_nav.scss */
.mega-menu-list--item a {
  color: #333333 !important;
  font-weight: 300;
}
/* line 122, ../sass/_nav.scss */
.mega-menu-list--item a:hover {
  color: black !important;
}

/* line 125, ../sass/_nav.scss */
.search {
  position: relative;
}

/* line 130, ../sass/_nav.scss */
.close-search {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 30px;
}
/* line 136, ../sass/_nav.scss */
.close-search img {
  width: 32px;
  height: 32px;
}

/* line 142, ../sass/_nav.scss */
.mega-menu--main {
  padding: 20px 60px;
  background: #E5E5E5;
  border-bottom: 1px solid #d5d5d5;
  z-index: 99;
}

/* line 149, ../sass/_nav.scss */
.menu-main-promotions {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  color: black;
}

/* line 156, ../sass/_nav.scss */
.mega-menu--secondary {
  padding: 60px;
}

/* line 160, ../sass/_nav.scss */
.mobile-logo {
  max-width: 50px;
  margin-top: 15px;
}

/* line 27, ../sass/_mobile-menu.scss */
.mobile-active {
  background: #333;
}

/* line 32, ../sass/_mobile-menu.scss */
.mobile-menu-overlay {
  position: fixed;
  top: 999em;
  /* right: 0; */
  bottom: 0;
  width: 100%;
  background: #F7F7F9;
  z-index: 999;
  overflow: scroll;
}

/* line 45, ../sass/_mobile-menu.scss */
.close-mobile {
  padding-right: 20px;
  padding-top: 20px;
}
/* line 50, ../sass/_mobile-menu.scss */
.close-mobile img {
  width: 20px;
  height: 20px;
}

/* line 58, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content {
  padding: 30px;
}
/* line 61, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content ul {
  padding-left: 0px;
  list-style: none;
}
/* line 66, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content li {
  padding: 10px 20px;
  border: 1px dotted #777777;
  text-align: uppercase;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 74, ../sass/_mobile-menu.scss */
.mobile-menu-overlay .content h3 {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* --------------------------------

Primary style

-------------------------------- */
/* --------------------------------

xheader

-------------------------------- */
/* line 15, ../sass/_cart.scss */
#main-nav, #cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  /* header height */
  padding-top: 0px;
  padding-bottom: 100px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  /* line 15, ../sass/_cart.scss */
  #main-nav, #cart {
    width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 15, ../sass/_cart.scss */
  #main-nav, #cart {
    width: 30%;
    /* header height has changed */
    padding-top: 0px;
  }
}

/* line 43, ../sass/_cart.scss */
.close-cart {
  cursor: pointer;
}

/* line 47, ../sass/_cart.scss */
.cart-item-image {
  width: 40px;
  margin-right: 30px;
}

/* line 52, ../sass/_cart.scss */
.arrow-bag {
  width: 20px !important;
  height: 20px !important;
}

/* line 58, ../sass/_cart.scss */
.cart--top {
  padding: 20px 30px !important;
  background: #eeeeee;
}

/* line 63, ../sass/_cart.scss */
.cart-title {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0;
}

/* line 70, ../sass/_cart.scss */
#cart {
  z-index: 999 !important;
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}
/* line 77, ../sass/_cart.scss */
#cart.speed-in {
  right: 0;
}
/* line 81, ../sass/_cart.scss */
#cart > * {
  padding: 0 1em;
}
/* line 85, ../sass/_cart.scss */
#cart .cart-items {
  padding: 0;
}
/* line 88, ../sass/_cart.scss */
#cart .cart-items li {
  list-style: none;
  position: relative;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
/* line 95, ../sass/_cart.scss */
#cart .cart-items li:last-child {
  border-bottom: 1px solid #eeeeee;
}
/* line 101, ../sass/_cart.scss */
#cart .qty, #cart .price {
  color: #777777;
}
/* line 105, ../sass/_cart.scss */
#cart .price {
  margin-top: .4em;
  text-align: left;
}
/* line 110, ../sass/_cart.scss */
#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/cd-remove-item.svg") no-repeat center center;
}
/* line 119, ../sass/_cart.scss */
.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}
/* line 124, ../sass/_cart.scss */
#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 128, ../sass/_cart.scss */
#cart .cart-total span {
  float: right;
}
/* line 132, ../sass/_cart.scss */
#cart .cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* line 139, ../sass/_cart.scss */
#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
/* line 148, ../sass/_cart.scss */
.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}
/* line 153, ../sass/_cart.scss */
#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}
/* line 157, ../sass/_cart.scss */
#cart .go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  /* line 163, ../sass/_cart.scss */
  #cart > * {
    padding: 0 2em;
  }
  /* line 167, ../sass/_cart.scss */
  #cart .cart-items li {
    padding: 1em 2em;
  }
  /* line 171, ../sass/_cart.scss */
  #cart .item-remove {
    right: 2em;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
/* line 183, ../sass/_cart.scss */
main {
  position: relative;
  min-height: 100%;
  background: #eeeff7;
  padding-top: 70px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  /* line 183, ../sass/_cart.scss */
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 183, ../sass/_cart.scss */
  main {
    padding-top: 120px;
  }
}

/* line 201, ../sass/_cart.scss */
#gallery-items li {
  margin-bottom: 1.5em;
}
/* line 204, ../sass/_cart.scss */
#gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  /* line 212, ../sass/_cart.scss */
  #gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  /* line 217, ../sass/_cart.scss */
  #gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 224, ../sass/_cart.scss */
  #gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  /* line 229, ../sass/_cart.scss */
  #gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  /* line 233, ../sass/_cart.scss */
  #gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

/* line 240, ../sass/_cart.scss */
#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999 !important;
  z-index: 2;
  display: none;
}
/* line 253, ../sass/_cart.scss */
#shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -o-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* --------------------------------

xkeyframes

-------------------------------- */
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 26, ../sass/styles.scss */
a:hover {
  color: #f8dadf;
}

/* line 30, ../sass/styles.scss */
a:focus {
  text-decoration: none;
}

/* line 34, ../sass/styles.scss */
a:active, a:focus {
  outline: none !important;
}

/* line 38, ../sass/styles.scss */
p {
  font-weight: 300;
}

/* line 40, ../sass/styles.scss */
.bg-black {
  background-color: black;
}

/* line 44, ../sass/styles.scss */
.fp-logo {
  max-width: 70px;
  margin-top: -3px;
}

/* line 49, ../sass/styles.scss */
.fp-dropdown {
  background-color: #4C4C4C !important;
  color: white !important;
}

/* line 54, ../sass/styles.scss */
.fp-dropdown-menu {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/* line 59, ../sass/styles.scss */
.info-box {
  padding: 30px;
  border: 10px solid #EEEEEE;
}

/* line 64, ../sass/styles.scss */
.info-box--title {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 69, ../sass/styles.scss */
.info-box--caption {
  font-size: 20px;
  font-weight: 300;
  color: #919191;
}

/* line 76, ../sass/styles.scss */
.form-control {
  text-align: center;
  border: 0;
  box-shadow: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #d9d9d9;
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px;
}

/* line 88, ../sass/styles.scss */
.form-control:focus {
  border-color: #000;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 96, ../sass/styles.scss */
.standard-form {
  border: 1px solid #d9d9d9;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  text-transform: none;
  font-size: 16px;
  padding: 20px;
}

/* line 105, ../sass/styles.scss */
.has-success .form-control {
  border-color: #20C580;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 111, ../sass/styles.scss */
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #20C580;
}

/* line 115, ../sass/styles.scss */
.has-success .form-control:focus {
  border-color: #199963;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 121, ../sass/styles.scss */
.has-warning .form-control {
  border-color: #FFBF4B;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 127, ../sass/styles.scss */
.has-warning .form-control:focus {
  border-color: #ffad18;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 133, ../sass/styles.scss */
.has-error .form-control {
  border-color: #FF6A67;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 139, ../sass/styles.scss */
.has-error .form-control:focus {
  border-color: #ff3834;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 154, ../sass/styles.scss */
.caption, .caption-center, .caption-left, .caption-right {
  padding: 15px;
}

/* line 158, ../sass/styles.scss */
.caption-center {
  text-align: center;
  margin: 0 auto;
}

/* line 165, ../sass/styles.scss */
.caption-left {
  padding-left: 0;
}

/* line 172, ../sass/styles.scss */
.caption-right {
  padding-right: 0;
  text-align: right;
}

/* line 182, ../sass/styles.scss */
.homepage-panel {
  position: relative;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

/* line 188, ../sass/styles.scss */
.homepage-panel--content {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

/* line 205, ../sass/styles.scss */
.goto-arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  width: 40px;
  height: 40px;
}

/* line 214, ../sass/styles.scss */
.homepage-panel--title {
  font-weight: 300;
  opacity: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 30px;
  text-transform: none;
  color: white;
}

/* line 224, ../sass/styles.scss */
.arrow {
  width: 50px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  opacity: 1;
}

/* line 231, ../sass/styles.scss */
.homepage-panel::after {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  content: "";
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 245, ../sass/styles.scss */
.input-group-addon {
  border-bottom: 1px solid black !important;
}

/* line 251, ../sass/styles.scss */
.homepage-panel:hover:after {
  opacity: 0;
}

/* line 255, ../sass/styles.scss */
.homepage-panel:hover .homepage-panel--title {
  opacity: 0;
  display: none;
}

/* line 260, ../sass/styles.scss */
.homepage-panel:hover img.arrow {
  opacity: 1;
  display: inline-block !important;
  visibility: visible !important;
}

/* line 266, ../sass/styles.scss */
.homepage-panel:hover .goto-arrow {
  opacity: 1;
  visibility: visible !important;
  display: inline;
}

/* line 272, ../sass/styles.scss */
.page-content {
  padding-bottom: 60px;
}

/* line 278, ../sass/styles.scss */
.email-subscription {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

/* line 284, ../sass/styles.scss */
.black-form {
  background: transparent;
  border-color: black;
}

/* line 289, ../sass/styles.scss */
.email-signup-form {
  width: 350px !important;
  text-align: left;
}

/* line 295, ../sass/styles.scss */
.footer-menu {
  padding: 20px;
  background: #000;
}
/* line 299, ../sass/styles.scss */
.footer-menu ul {
  display: block;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 305, ../sass/styles.scss */
.footer-menu li {
  display: inline-block;
  padding: 5px;
  color: grey;
}
/* line 310, ../sass/styles.scss */
.footer-menu li a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
/* line 316, ../sass/styles.scss */
.footer-menu li a:hover {
  color: #9db6d1;
}

/* line 326, ../sass/styles.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #CCCCCC;
}

/* line 339, ../sass/styles.scss */
.open > .dropdown-menu {
  display: block;
  border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 347, ../sass/styles.scss */
.dropdown-menu > li > a {
  font-weight: 300;
}

/* line 352, ../sass/styles.scss */
.main-content {
  padding: 120px 0;
}

/* line 416, ../sass/styles.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #f4f4f4;
  opacity: 0;
}

/* line 426, ../sass/styles.scss */
.arrow-dark {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #E5E5E5;
  opacity: 0;
}

/* line 436, ../sass/styles.scss */
.menu-active-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

/* line 443, ../sass/styles.scss */
.active-hover {
  position: relative;
}

/* line 448, ../sass/styles.scss */
.line-arrow {
  width: 32px;
  height: 32px;
}

/* line 453, ../sass/styles.scss */
.search:hover {
  cursor: pointer;
}

/* line 467, ../sass/styles.scss */
.add-to-moodboard {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 0px;
  opacity: 0.3;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
/* line 475, ../sass/styles.scss */
.add-to-moodboard:hover {
  opacity: 1;
}

/* line 483, ../sass/styles.scss */
.social-share .fa {
  padding: 10px;
  font-size: 1.3em;
  color: black;
}

/* line 489, ../sass/styles.scss */
.social-share {
  margin-top: 15px;
}

/* line 494, ../sass/styles.scss */
.divider {
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 505, ../sass/styles.scss */
.cart-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

/* line 511, ../sass/styles.scss */
.cart {
  position: relative;
}

/* line 515, ../sass/styles.scss */
.cart-amount {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 12px;
}

/* line 525, ../sass/styles.scss */
#slides {
  position: relative;
}

/* line 532, ../sass/styles.scss */
#slides .slides-container {
  display: none;
}

/* line 535, ../sass/styles.scss */
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

/* line 544, ../sass/styles.scss */
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

/* line 550, ../sass/styles.scss */
.slides-navigation {
  display: none;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}

/* line 558, ../sass/styles.scss */
.slides-navigation a {
  position: absolute;
  display: block;
}

/* line 562, ../sass/styles.scss */
.slides-navigation a.prev {
  left: 0;
}

/* line 565, ../sass/styles.scss */
.slides-navigation a.next {
  right: 0;
}

/* line 569, ../sass/styles.scss */
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

/* line 576, ../sass/styles.scss */
.slides-pagination a {
  /*  border: 2px solid #222;*/
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  margin: 4px;
  overflow: hidden;
  text-indent: -100%;
}
/* line 594, ../sass/styles.scss */
.slides-pagination a:hover {
  background: white;
}

/* line 598, ../sass/styles.scss */
.slides-pagination a.current {
  background: white;
}

/* line 603, ../sass/styles.scss */
.delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 611, ../sass/styles.scss */
.checkout-title {
  margin-top: 70px;
  padding: 30px;
  background: #eeeeee;
}

/* line 617, ../sass/styles.scss */
.checkout-h1 {
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

/* line 623, ../sass/styles.scss */
.margin-right-10 {
  margin-right: 10px;
}

/* line 627, ../sass/styles.scss */
.back-to-shop {
  margin-top: 17px;
  color: #d9d9d9;
}

/* line 632, ../sass/styles.scss */
.cart-items {
  padding: 0;
}
/* line 635, ../sass/styles.scss */
.cart-items li {
  list-style: none;
  position: relative;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  overflow: hidden;
}
/* line 642, ../sass/styles.scss */
.cart-items li:last-child {
  border-bottom: 1px solid #eeeeee;
}

/* line 648, ../sass/styles.scss */
.qty, .checkout-price {
  color: #777777;
}

/* line 652, ../sass/styles.scss */
.checkout-price {
  margin-top: .4em;
  text-align: left;
}

/* line 657, ../sass/styles.scss */
.checkout-items {
  padding: 0px 10px;
  padding: 10px 20px;
  border: 1px solid #d9d9d9;
}

/* line 663, ../sass/styles.scss */
.checkout-go {
  padding: 0px 15px !important;
  background: black;
}

/* line 670, ../sass/styles.scss */
.btn-group-radio > .btn {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 676, ../sass/styles.scss */
.btn-group-radio > .btn > label {
  padding: 15px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "brandon-grotesque";
  FONT-WEIGHT: 600;
  letter-spacing: 2px;
}

/* line 706, ../sass/styles.scss */
.btn-group-radio input[type=radio] {
  display: none;
}

/* line 710, ../sass/styles.scss */
.btn-group-radio > label > .btn {
  margin-left: -1px;
}

/* line 714, ../sass/styles.scss */
.btn-group-radio input[type=radio]:checked + .btn {
  color: white;
  background: black;
  background-image: none;
  outline: 0;
}

/* line 723, ../sass/styles.scss */
.btn-group-radio > input:first-child + .btn {
  margin-left: 0;
}

/* line 727, ../sass/styles.scss */
.btn-group-radio > input:first-child + .btn.large {
  margin-left: 0;
}

/* line 731, ../sass/styles.scss */
.or {
  padding: 0px 10px;
  color: #d9d9d9;
  font-style: italic;
}

/* line 1, ../sass/_helpers.scss */
.vertical-center, .caption-center, .caption-left, .caption-right {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 11, ../sass/_helpers.scss */
.push-right-50 {
  padding-left: 50px !important;
}

/* line 15, ../sass/_helpers.scss */
.push-left-50 {
  padding-right: 50px !important;
}

/* line 19, ../sass/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 23, ../sass/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 27, ../sass/_helpers.scss */
.no-padding {
  padding: 0px !important;
}

/* line 31, ../sass/_helpers.scss */
.no-margin-top {
  margin-top: 0px;
}

/* line 35, ../sass/_helpers.scss */
.bg-grey {
  background: url(../images/photography__2x.png) repeat;
}

/* line 40, ../sass/_helpers.scss */
.text-white {
  color: white;
}

/* line 44, ../sass/_helpers.scss */
.text-grey {
  color: #A0A0A0;
}

/* line 48, ../sass/_helpers.scss */
.text-highlight {
  color: #f8dadf;
}

/* line 52, ../sass/_helpers.scss */
.no-border-right {
  border-right: 0px;
}

/* line 55, ../sass/_helpers.scss */
.padding-left-15 {
  padding-left: 15px;
}

/* line 59, ../sass/_helpers.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 63, ../sass/_helpers.scss */
.ul-horizontal, .nav-menu .primary, .nav-menu .secondary {
  display: block;
  list-style: none;
  padding-left: 0;
}

/* line 69, ../sass/_helpers.scss */
.btn-grey-text {
  color: #9b9b9b;
}

/* line 73, ../sass/_helpers.scss */
.half-opacity {
  opacity: 0.5;
}

/* line 77, ../sass/_helpers.scss */
.max-width-100 {
  max-width: 100%;
}

/* line 81, ../sass/_helpers.scss */
.height-100 {
  height: 100%;
}

/* line 85, ../sass/_helpers.scss */
.margin-top-16 {
  margin-top: 16px;
}

/* line 89, ../sass/_helpers.scss */
.fa-one-and-half {
  font-size: 1.5em !important;
}

/* line 93, ../sass/_helpers.scss */
.invis {
  left: -999em !important;
}

/* line 97, ../sass/_helpers.scss */
.vis {
  left: 0px !important;
}

/* line 101, ../sass/_helpers.scss */
.artificial-white-bg {
  background: white !important;
}

/* line 109, ../sass/_helpers.scss */
.transparent-bg {
  background: transparent !important;
}

/* line 113, ../sass/_helpers.scss */
.no-padding-left {
  padding-left: 0px;
}

/* line 117, ../sass/_helpers.scss */
.no-padding-right {
  padding-right: 0px;
}

/* line 121, ../sass/_helpers.scss */
.no-padding-bottom {
  padding-bottom: 0px;
}

/* line 125, ../sass/_helpers.scss */
.relative {
  position: relative;
}

/* line 129, ../sass/_helpers.scss */
.display-none {
  display: none;
}

/* line 133, ../sass/_helpers.scss */
.no-scroll {
  position: fixed !important;
}

/* line 137, ../sass/_helpers.scss */
.mobile-hide {
  top: 999em;
}

/* line 141, ../sass/_helpers.scss */
.mobile-show {
  top: 0;
}

/* line 145, ../sass/_helpers.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 148, ../sass/_helpers.scss */
.push-right-10 {
  margin-right: 10px;
}

/* line 152, ../sass/_helpers.scss */
.padding-60 {
  padding: 60px;
}

/* line 156, ../sass/_helpers.scss */
.margin-right-10 {
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  /* line 161, ../sass/_helpers.scss */
  .margin-bottom-30-tablet {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 167, ../sass/_helpers.scss */
  .no-padding-lg {
    padding: 0px;
  }
}
/* line 172, ../sass/_helpers.scss */
.link-grey {
  color: #777777;
}

@media screen and (max-width: 480px) {
  /* line 4, ../sass/_media.scss */
  .caption-left {
    text-align: center;
    padding-left: 0;
  }

  /* line 9, ../sass/_media.scss */
  .caption-right {
    text-align: center;
    padding-right: 0;
  }

  /* line 15, ../sass/_media.scss */
  .search-bar {
    padding: 20px;
  }

  /* line 20, ../sass/_media.scss */
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 26, ../sass/_media.scss */
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 31, ../sass/_media.scss */
  .nav-menu {
    background: white !important;
    position: absolute;
  }
  /* line 35, ../sass/_media.scss */
  .margin-top-100-mobile {
    margin-top: 100px;
  }

  /* line 39, ../sass/_media.scss */
  .footer {
    text-align: center;
  }

  /* line 43, ../sass/_media.scss */
  .btn {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/_media.scss */
  .footer {
    text-align: center;
  }

  /* line 67, ../sass/_media.scss */
  .no-float-mobile {
    float: none !important;
  }

  /* line 75, ../sass/_media.scss */
  .close-search {
    padding: 0;
    padding-top: 30px;
    padding-right: 30px;
    z-index: 10000;
  }

  /* line 82, ../sass/_media.scss */
  .padding-zero-mobile {
    padding: 0px;
  }

  /* line 86, ../sass/_media.scss */
  .search-bar {
    height: 100vh;
  }
}
@media screen and (max-width: 450px) {
  /* line 92, ../sass/_media.scss */
  .hidden-xxs {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  /* line 98, ../sass/_media.scss */
  .product-section--details {
    position: relative !important;
    width: 100% !important;
    max-width: none !important;
    right: 0 !important;
    top: 0 !important;
  }
}
/* line 3, ../sass/_category.scss */
.category--item {
  padding-bottom: 15px;
}
/* line 6, ../sass/_category.scss */
.category--item a {
  color: #333333;
}
/* line 10, ../sass/_category.scss */
.category--item:hover {
  opacity: 0.8;
}

/* line 18, ../sass/_category.scss */
.details {
  margin: 15px 0;
  font-size: 0.9em;
}

/* line 23, ../sass/_category.scss */
.name {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* line 29, ../sass/_category.scss */
.price {
  display: block;
  text-align: center;
}

/* line 34, ../sass/_category.scss */
.delivery {
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #777777;
  margin-top: -3px;
  color: #f8dadf;
}

/* line 44, ../sass/_category.scss */
.page-title {
  background-size: cover;
  position: relative;
}

/* line 50, ../sass/_category.scss */
.page-title:after {
  content: "";
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 63, ../sass/_category.scss */
.page-title--details {
  padding: 60px 0 55px 0;
  text-align: center;
  color: white;
  position: relative;
  z-index: 99;
}
/* line 71, ../sass/_category.scss */
.page-title--details h1 {
  margin-top: 0px;
}

/* line 79, ../sass/_category.scss */
.test {
  position: absolute;
  /* height: 600px; */
  top: 0;
  right: 0;
  bottom: 105px;
  right: 0;
}

/* line 88, ../sass/_category.scss */
.left {
  left: 0;
}

@media screen and (max-width: 992px) {
  /* line 93, ../sass/_category.scss */
  .test {
    position: relative;
    margin-bottom: 30px;
  }
}
/* line 100, ../sass/_category.scss */
.category-controls {
  margin-bottom: 50px;
}

/* line 3, ../sass/_product.scss */
.test-size {
  height: 800px;
  background: white;
}

/* line 8, ../sass/_product.scss */
.next {
  color: black;
  padding-right: 20px;
  opacity: 0.5;
}

/* line 14, ../sass/_product.scss */
.prev {
  color: black;
  padding-left: 20px;
  opacity: 0.5;
}

/* line 22, ../sass/_product.scss */
.product-section a.link {
  color: #555555;
  position: relative;
  top: 7px;
}

/* line 29, ../sass/_product.scss */
.product-section--details {
  position: absolute;
  max-width: 600px;
  right: 100px;
  width: 680px;
  padding: 40px;
  text-align: center;
  top: 120px;
  z-index: 9;
}

/* line 40, ../sass/_product.scss */
.product-section--description {
  display: block;
  font-size: 1.1em;
}

/* line 45, ../sass/_product.scss */
.product-section--price {
  display: block;
  font-size: 1em;
  color: grey;
}

/* line 56, ../sass/_product.scss */
.product-section--extra {
  margin-bottom: 30px;
}

/* line 60, ../sass/_product.scss */
.product-section--quantity {
  margin-bottom: 30px;
}

/* line 66, ../sass/_product.scss */
.extra-details {
  display: block;
  margin-top: 20px;
  color: grey;
}

@media (max-width: 585px) {
  /* line 73, ../sass/_product.scss */
  .input-group span.input-group-btn, .input-group input, .input-group button {
    display: block;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  /* line 79, ../sass/_product.scss */
  .input-group {
    position: relative;
  }

  /* line 82, ../sass/_product.scss */
  .input-group span.data-up {
    position: absolute;
    top: 0;
  }

  /* line 86, ../sass/_product.scss */
  .input-group span.data-dwn {
    position: absolute;
    bottom: 0;
  }

  /* line 90, ../sass/_product.scss */
  .form-control.text-center {
    margin: 34px 0;
  }

  /* line 93, ../sass/_product.scss */
  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0;
  }
}
/* Default custom select styles */
/* line 2, ../sass/_dropdowns.scss */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 1;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 19, ../sass/_dropdowns.scss */
div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */
}

/* line 23, ../sass/_dropdowns.scss */
.cs-select select {
  display: none;
}

/* line 27, ../sass/_dropdowns.scss */
.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
/* line 38, ../sass/_dropdowns.scss */
.cs-select > span {
  padding-right: 3em;
}

/* line 42, ../sass/_dropdowns.scss */
.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 53, ../sass/_dropdowns.scss */
.cs-select > span::after {
  content: '\25BE';
  right: 1em;
}

/* line 58, ../sass/_dropdowns.scss */
.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em;
}

/* line 63, ../sass/_dropdowns.scss */
.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

/* line 68, ../sass/_dropdowns.scss */
div.cs-active {
  z-index: 200;
}

/* Options */
/* line 73, ../sass/_dropdowns.scss */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden;
}

/* line 81, ../sass/_dropdowns.scss */
.cs-select.cs-active .cs-options {
  visibility: visible;
}

/* line 85, ../sass/_dropdowns.scss */
.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 92, ../sass/_dropdowns.scss */
.cs-select ul span {
  padding: 1em;
}

/* line 96, ../sass/_dropdowns.scss */
.cs-select ul li.cs-focus span {
  background-color: #ddd;
}

/* Optgroup and optgroup label */
/* line 101, ../sass/_dropdowns.scss */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

/* line 105, ../sass/_dropdowns.scss */
.cs-select li.cs-optgroup > span {
  cursor: default;
}

/* line 123, ../sass/_dropdowns.scss */
.cs-options span {
  color: #ccc;
}

/* line 127, ../sass/_dropdowns.scss */
div.cs-skin-border {
  background: transparent;
  font-size: 1em;
  font-weight: 700;
  max-width: 600px;
}

@media screen and (max-width: 30em) {
  /* line 135, ../sass/_dropdowns.scss */
  div.cs-skin-border {
    font-size: 1em;
  }
}
/* line 138, ../sass/_dropdowns.scss */
.cs-skin-border > span {
  border: 1px solid #CCCCCC;
  border-radius: 0px;
  border-color: inherit;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  /*New Styles*/
  padding: 5px 10px;
  background: none;
  border: 1px solid #d9d9d9;
  font-weight: 300;
  color: #777777;
  font-weight: 300;
  /*border: 3px solid rgb(248, 218, 223);*/
  border-radius: 0px;
  /*  border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    color: black;
    text-transform: uppercase;
    font-size: 16px;*/
}

/* line 172, ../sass/_dropdowns.scss */
.cs-skin-border ul span::after {
  content: '';
  opacity: 0;
}

/* line 186, ../sass/_dropdowns.scss */
.cs-skin-border.cs-active > span {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  color: #777777;
  border-radius: 0px;
  background: #eeeeee;
  font-weight: 300;
  /*  border-radius: 0;
    border-bottom: 2px solid black;
    color: black;*/
}

/* line 199, ../sass/_dropdowns.scss */
.cs-skin-border .cs-options {
  color: #2980b9;
  font-size: 0.75em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s;
  border-top: none;
}

/* line 208, ../sass/_dropdowns.scss */
.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  /*  background: white;
    border: 2px solid black;
    border-top: 0;*/
  border: 1px solid #d9d9d9;
  border-top: none;
  color: #777777;
  background: white;
}

/* line 222, ../sass/_dropdowns.scss */
.cs-skin-border ul span {
  padding: 10px 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 1.2em;
  color: #777777;
  font-weight: 300;
  /*  color: black;
    font-weight: normal;*/
}

/* line 233, ../sass/_dropdowns.scss */
.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #eeeeee;
}

/* line 3, ../sass/_color-dropdown.scss */
.cs-color-select .preview {
  display: inline;
  height: 23px;
  width: 23px;
  padding: 10px;
  margin-right: 10px;
  background-color: #CCCCCC;
}
/* line 12, ../sass/_color-dropdown.scss */
.cs-color-select .black .preview {
  background-color: #000000;
}
/* line 17, ../sass/_color-dropdown.scss */
.cs-color-select .green .preview {
  background-color: #00FF00;
}
