
link rel="canonical" href="#{get_canonical_href}"
link rel="alternate" hreflang="en-US" href="http://www.fameandpartners.com/"
link rel="alternate" hreflang="en-AU" href="http://www.fameandpartners.com/au"
