ruby:
  black = Spree::OptionValue.colors.find_by_name('black')

css:
  #{([black] + black.similars).map{ |color| "body .color.#{color.name}" }.join(",\n")} {
    color: #fff;
  }

  #{dynamic_colors.map{ |color| "body .color.#{color.name} { background-color: #{color.value}; }"}.join("\n")}
