- if pop?
  ruby:
    promocode = decode(params[:pc])
    heading = decode(params[:h])
    message = decode(params[:m])
    content = decode(params[:c]) || promocode
    class_name = decode(params[:s]) || class_name
    timeout = params[:t] || 3

    email_capture_modal = "
      new window.page.EmailCaptureModal({
        promocode: \"#{promocode}\",
        content:   \"#{content}\",
        heading:   \"#{heading}\",
        message:   \"#{message}\",
        className: \"#{class_name}\",
        action:    \"#{campaigns_email_capture_path}\",
        container: \"#email-capture-fields\",
        timeout:    #{timeout},
        force:      true
      });
    "

  = content_for :inline_javascript do
    = raw email_capture_modal

  #email-capture-fields.hidden
    input type="hidden" name="content" value=content
    .row.no-padding
      .col-md-8.col-md-offset-2.text-center
        input.form-control.standard-form type="email" name="email" placeholder='email address'
    .row.no-padding
      .col-md-12.text-center
        button.btn.submit type="submit" value="submit"
          | Submit
