- if session[:show_promocode_modal].present?
  ruby:
    promocode_to_show = decode(session[:show_promocode_modal])
    session.delete(:show_promocode_modal)

    show_promocode_modal = "
      new window.page.PromocodeModal({
        promocode: \"#{ promocode_to_show }\"
      });
    "
  = content_for :inline_javascript do
    = raw show_promocode_modal

- if !modal_with_trigger_event?
  = render partial: 'shared/email_capture_modal_script', locals: {render_content: true}
