.remarketing
  javascript:
    /* <![CDATA[ */
    var google_conversion_id = 979620714;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */

    var sgs = document.createElement('script');
    sgs.type = "text/javascript";

    var sadn = document.createElement('script');
    sadn.type = "text/javascript";

    sgs.src = "//www.googleadservices.com/pagead/conversion.js";
    document.body.appendChild(sgs);

    sadn.src = "https://secure.adnxs.com/seg?add=1436730&t=1";
    document.body.appendChild(sadn);

  noscript
    div style="display:inline;"
      img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/979620714/?value=0&amp;guid=ON&amp;script=0"