javascript:
  !function(){var t={kitId:"#{configatron.typekit_id}"},e=!1,a=document.createElement("script");a.src="//use.typekit.net/"+t.kitId+".js",a.type="text/javascript",a.async="true",a.onload=a.onreadystatechange=function(){var a=this.readyState;if(!(e||a&&"complete"!=a&&"loaded"!=a)){e=!0;try{Typekit.load(t)}catch(n){}}};var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}();