/ .row
/   .col-md-4
/     .heading
/       h1 What's your style personality?
/       h2.h5 Choose as many words as needed.
/   .col-md-8
/     .choices.items-box
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/         .media-wrap.keep-ratio
/           .inner-wrap
/             img src="/assets/style_quiz/style/edgy.jpg" alt="EDGY"
/             label
/               .wrap
/                 | EDGY
/             / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="CONSERVATIVE"
/               label
/                 .wrap
/                   | CONSERVATIVE
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="BOHEMIAN"
/               label
/                 .wrap
/                   | BOHEMIAN
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="EMO"
/               label
/                 .wrap
/                   | EMO
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="EARTHY"
/               label
/                 .wrap
/                   | EARTHY
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="GLAMOROUS"
/               label
/                 .wrap
/                   | GLAMOROUS
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="HIGH FASHION"
/               label
/                 .wrap
/                   | HIGH FASHION
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="CLASSIC"
/               label
/                 .wrap
/                   | CLASSIC
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="BOLD"
/               label
/                 .wrap
/                   | BOLD
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="SOPHISTICATED"
/               label
/                 .wrap
/                   | SOPHISTICATED
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="GROWN UP"
/               label
/                 .wrap
/                   | GROWN UP
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="GIRLY"
/               label
/                 .wrap
/                   | GIRLY
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="FEMININE"
/               label
/                 .wrap
/                   | FEMININE
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="ELEGANT"
/               label
/                 .wrap
/                   | ELEGANT
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="HOT"
/               label
/                 .wrap
/                   | HOT
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="SWEET"
/               label
/                 .wrap
/                   | SWEET
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="STRUCTURED"
/               label
/                 .wrap
/                   | STRUCTURED
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="RELAXED"
/               label
/                 .wrap
/                   | RELAXED
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="UNDERSTATED"
/               label
/                 .wrap
/                   | UNDERSTATED
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code
/       .col-xs-6.col-sm-4.col-md-3.item class="active-type-#{Random.rand(4)}"
/           .media-wrap.keep-ratio
/             .inner-wrap
/               img src="/assets/style_quiz/style/edgy.jpg" alt="COOL"
/               label
/                 .wrap
/                   | COOL
/               / = check_box_tag "quiz[questions][#{question.id}][answer][codes][]", answer.code