.products-collections {
	margin-top: 45px;

	.name {
		text-transform: uppercase;
	}

	.price {
		font-weight: 600;
	}

	.sale-price {
		color: #eb6ffa;
		text-transform: uppercase;
	}

	.discount {
		text-transform: uppercase;
	}

	.original-price {
		text-decoration: line-through;
	}

	.moodboard {
		display: block;
		cursor: pointer;
	}

	.more-products {
		margin-bottom:100px;
		text-align:center;
	}
}

// .on-sale * {
// 	display: inline-block;
// }

// .delivery {
// 	border-style: solid;
// 	border-width: 45px;
// 	border-color: red;
// 	width: 10px;
// }



.content {
	border:2px solid black;
	min-height:375px;
	padding:10px 20px 10px 20px;
	margin-bottom:20px;
}