@import 'redesign/vars';

$arrow-color:    #000000;
$arrow-median:   4px;
$arrow-width:    2 * $arrow-median;
$arrow-height:   5px;
$arrow-triangle: $arrow-height $arrow-median 0 $arrow-median;

#gray-top-banner {
  background-color: $gray-light-bg;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: none;

  .col-md-4 {
    padding-bottom: 0;
    padding-top: 0;
  }

  #locale-selector-container {
    padding-left: 35px;
    position: relative;

    a {
      color: inherit;
      display: block;
    }

    img {
      vertical-align: baseline;
      margin-right: 10px;
      margin-bottom: -1px;
    }

    #locale-selector-label {
      display: inline-block;
    }

    // Locale switcher dropdown
    #locale-selector-current {
      display: inline-block;
      margin-left: 10px;
      position: relative;

      &:hover ul {
        display: block;
      }

      .arrow {
        border-color: $arrow-color transparent transparent transparent;
        border-style: solid;
        border-width: $arrow-height $arrow-median 0 $arrow-median;
        width: $arrow-width;

        height: 0;
        margin-right: -20px;
        position: absolute;
        right: 0;
        top: 40%;
      }
    }

    ul {
      background-color: $gray-light-bg;
      display: none;
      list-style: none;
      margin-left: -5px;
      padding: 0;
      position: absolute;
      width: 100px;

      li {
        float: none;
        padding-right: 10px;
        padding-left: 5px;

        &.active {
          background-color: darken($gray-light-bg, 10%);
        }
      }
    }
  }

  #ad-text {
    font-family: "forum", sans-serif;
    text-transform: uppercase;
  }

  #customer-service {
    padding-right: 35px;
  }
}
