@import 'redesign/vars';

@mixin dropdown-triangle($color, $width, $height) {
  $arrow-color:    $color;
  $arrow-median:   $width / 2;
  $arrow-width:    $width;
  $arrow-height:   $height;
  $arrow-triangle: $arrow-height $arrow-median 0 $arrow-median;

  border-color: $arrow-color transparent transparent transparent;
  border-style: solid;
  border-width: $arrow-triangle;
  width: $arrow-width;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

// Desktop
#gray-top-banner {
  background-color: $c-neutral-black;
  height: 25px;
  padding-top: 4px;
  font-weight: 500;

  div{
    padding-top: 0;
    color: white;
  }

  .free-shipping {
    letter-spacing: 1px;
  }

  #account-area {

    a span {
      color: $c-neutral-white;
    }

    .icon-heart{
      color: $c-neutral-white;
      position: absolute;
      margin-top: 3px;
      margin-left: -15px;
    }
    .pipe{
      margin-left: 20px;
      margin-right: 20px;
    }
    .account-menu{
      z-index: 102;
      top: 54px;
      right: 0;
      display: none;
      position: absolute;
      ul{
        margin-bottom: 0;
        li{
          float: left;
          font-size: 1.3rem;
          width: 100%;
          a{
            float: left;
          }
        }
      }
    }
  }

  @media (max-width: 1100px) {

    & {
      font-size: 10px;
    }

  }

}

#locale-selector-container {
  position: relative;
  text-transform: initial;
  text-align: left;

  a {
    color: inherit;
    display: block;
  }

  img {
    vertical-align: baseline;
    margin-right: 10px;
    margin-bottom: -1px;
    margin-left: 15px;
  }

  #locale-selector-label {
    display: inline-block;
    font-family: $font-heading;
  }

  #locale-selector-current {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding-right: 20px;
    padding-bottom: 2px;
    position: relative;

    &.show-options {

      ul {
        display: block;
      }

      .arrow {
        @include transform(rotate(180deg));
      }

    }

    .arrow {
      @include dropdown-triangle($color: $c-neutral-white, $width: 8px, $height: 5px);

      height: 0;
      position: absolute;
      right: 0;
      top: 35%;
    }
  }

  ul {
    background-color: $c-neutral-black;
    display: none;
    list-style: none;
    margin-left: -5px;
    padding: 0;
    position: absolute;
    z-index: 102;

    li {
      float: none;

      a {
        padding: 7px 15px;
        color: $c-neutral-white;
      }

      &:hover,
      &.active {
        cursor: pointer;
        background: $c-neutral-11;
      }
    }
  }
}

// Mobile version
#locale-selector-mobile-container {
  background-color: $gray-light-bg;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  text-transform: none;
  width: 100%;

  a {
    color: inherit;
    display: block;
  }

  img {
    vertical-align: baseline;
    margin-right: 10px;
    margin-bottom: -1px;
  }

  &.show-options {
    ul {
      display: block;
    }

    .arrow {
      @include transform(rotate(180deg));
    }
  }

  #locale-selector-label {
    display: inline-block;
    margin-left: -25px;
  }

  #locale-selector-current {
    display: inline-block;
    margin-left: 10px;
    position: relative;

    .arrow {
      @include dropdown-triangle($color: $c-neutral-black, $width: 16px, $height: 8px);
      margin-right: -25px;
      position: absolute;
      right: 0;
      top: 40%;
    }
  }

  ul {
    background-color: $gray-light-bg;
    display: none;
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 100%;

    li {
      float: none;

      a {
        padding: 10px 0;
      }

      &.active {
        background-color: darken($gray-light-bg, 10%);
      }

      &:hover {
        background-color: darken($gray-light-bg, 5%);
      }
    }
  }
}
