@import 'redesign/vars';

$color-black: #000;
$color-white: #FFF;

// Desktop
#locale-warn-bar {
  background-color: $color-black;
  color: $color-white;
  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 0;
  text-align: center;
  text-transform: none;

  #go-to-store-button {
    border: 1px solid $color-white;
    color: $color-white;
    display: inline-block;
    margin-left: 10px;
    padding: 2px 5px;
    text-transform: uppercase;
    &:hover {
      background-color: lighten($color-black, 25%);
    }

    img {
      height: 20px;
      margin-bottom: -6px;
      margin-right: 10px;
      vertical-align: baseline;
    }
  }

  .close-button {
    color: $color-white;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 0px;
  }
}

// Mobile
#locale-warn-bar-mobile {
  background-color: $color-black;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;

  #go-to-store-button {
    border: 1px solid $color-white;
    color: $color-white;
    display: inline-block;
    margin-left: 10px;
    padding: 2px 5px;
    text-transform: uppercase;

    &:hover {
      background-color: lighten($color-black, 25%);
    }

    img {
      height: 20px;
      margin-bottom: -6px;
      margin-right: 10px;
      vertical-align: baseline;
    }
  }

  .close-button {
    color: $color-white;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

}

// Content container behaviour is shown

.locale-warning-active {
  // Content Container

  &.sticky-header #content-container {
    margin-top: $mega-menu-desktop-height + $locale-warn-desktop-height;
  }

  // TODO - refactor out this to use a proper page wrapper which auto adjusts.
  &.sticky-header .alert-sale {
    top:      $mega-menu-desktop-height + $locale-warn-desktop-height;
  }

  // Mega menu drop down
  &.sticky-header .mega-menu {
    top: $mega-menu-desktop-height + $locale-warn-desktop-height;
  }

  // Account drop-down
  &.sticky-header .account {
    top: -83px;
  }
}
