/ Synchronous tracking services, in other words, need to be loaded on HTML head
= render 'marketing/trackers/optimizely' if @optimizely_opt_in
= render 'marketing/trackers/vwo' if @vwo_opt_in
= render 'marketing/trackers/google_analytics'
= render 'marketing/trackers/facebook_ranking' if @facebook_ranking_opt_in
