.app-container {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 96px;
}

.app-container--top-margin {
  @include breakpoint(tablet) {
    margin-top: 96px;
  }
}

// use this class for breakpoints
.app-child {
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  max-width: 1776px;

  @include breakpoint(tablet) {
    width: calc(100% - 96px);
    padding: 78px 48px 24px 48px;
  }

  @include breakpoint(tablet-bootstrap-max) {
    padding: 24px 48px;
  }

}

// custom offset (bulma doesn't have this margin-right version)
.is-offset-6-right {
  @include breakpoint(tablet) {
    margin-right: 50%;
  }
}

.u-forced-full-width-wrapper {

  @include breakpoint(tablet) {
    @include real-full-width;
  }

}

.u-forced-full-width-wrapper--mobile {

  @include breakpoint(mobile-max) {
    @include real-full-width;
  }

}
