.app-container {
  width: 100%;
}

// use this class for breakpoints
.app-child {
  margin: 0 auto;
  padding: 0 48px;
  width: calc(100% - 96px);
  max-width: 1776px;

  background: limegreen;
  @include breakpoint(tablet) {

    background: coral;
  }
  @include breakpoint(desktop) {

    background: lemonchiffon;
  }
  @include breakpoint(widescreen) {

    background: firebrick;
  }
  @include breakpoint(fullhd) {

    background: thistle;
  }
}

// modules -- todo: organize into folders / appropriate partials

// _ITEM--sm.erb
.Product {
  position: relative;
}

.Product__image {
  width: 100%;
}

.Product__name {
  position: absolute;
  bottom: 0;
}

.module-small {

}

// _ITEM--md.erb
.module-medium {

}

// _ITEM--lg.erb
.Editorial__image {
  width: 100%;
}

.module-large {

}
