.app-container {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 96px;
}

.app-container--top-margin {
  @include breakpoint(tablet) {
    margin-top: 96px;
  }
}

// use this class for breakpoints
.app-child {
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  max-width: 1776px;

  @include breakpoint(tablet) {
    width: calc(100% - 96px);
    padding: 78px 48px 24px 48px;
  }

  @include breakpoint(tablet-bootstrap-max) {
    padding: 24px 48px;
  }

}

// custom offset (bulma doesn't have this margin-right version)
.is-offset-6-right {
  @include breakpoint(tablet) {
    margin-right: 50%;
  }
}

.u-forced-full-width-wrapper {

  @include breakpoint(tablet) {
    @include real-full-width;
  }

}

.u-forced-full-width-wrapper--mobile {

  @include breakpoint(mobile-max) {
    @include real-full-width;
  }

}

// Reusable Paddings
.u-padding-top--25px {
  padding-top: 25px;
}

.u-padding-top--50px {
  padding-top: 50px;
}

.u-padding-top--75px {
  padding-top: 75px;
}

.u-padding-top--100px {
  padding-top: 100px;
}

.u-padding-top--125px {
  padding-top: 125px;
}

.u-padding-bottom--25px {
  padding-bottom: 25px;
}

.u-padding-bottom--50px {
  padding-bottom: 50px;
}

.u-padding-bottom--75px {
  padding-bottom: 75px;
}

.u-padding-bottom--100px {
  padding-bottom: 100px;
}

.u-padding-bottom--125px {
  padding-bottom: 125px;
}
