@mixin breakpoint($class) {
  @if $class == tablet {
    @media (min-width: $tablet) { @content; }
  }

  @else if $class == tablet-bootstrap-max {
    @media (max-width: $desktop-bootstrap-min - 1px) { @content; }
  }

  @else if $class == desktop-bootstrap-min {
    @media (min-width: $desktop-bootstrap-min) { @content; }
  }

  @else if $class == desktop {
    @media (min-width: $desktop) { @content; }
  }

  @else if $class == widescreen {
    @media (min-width: $widescreen) { @content; }
  }

  @else if $class == fullhd {
    @media (min-width: $fullhd) { @content; }
  }

  @else if $class == mobile-max {
    @media (max-width: $tablet - 1px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: tablet, tablet-bootstrap-max, desktop-bootstrap-min, desktop, widescreen, fullhd, mobile-max";
  }

}

@mixin real-full-width {
  flex: none;
  left: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50% - 8px);
  padding: 0;
}
