// override original gap between columns
.column {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

@media (max-width: $tablet) {
  .columns.is-mobile > .column.is-offset-6 {
    margin-left: 0;
  }
}

.btn {
  text-transform: none;
  font-weight: normal;
}
