.tile {
  color: #fff;
  .is-parent {
    background: #faab2b;
  }
  .is-child {
    background: #6565aa;
  }
}

.app-child {
  background: limegreen;

  @include breakpoint(tablet) {
    background: coral;
  }

  @include breakpoint(desktop) {
    background: lemonchiffon;
  }

  @include breakpoint(widescreen) {
    background: firebrick;
  }

  @include breakpoint(fullhd) {
    background: thistle;
  }
}

