.image-container style="background: #fff; padding: 10px; border: 1px solid #dedede; box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);"
  = product_image_tag(product, 'large', alt: '', style: 'display: block; max-width: 100%; height: auto;')
