.my-account-panel {
  width: 100%;

  h1 {
    text-align: center;
  }

  .checkbox {
    display: inline;
    text-align: center;
  }

  .tab-content {
    max-width: 300px;
    margin: 20px auto;
  }

  @include screen-sm {
    max-width: 800px;
    margin: 30px auto;

    .account-details-left {
      border-right: 1px solid $white-three;
    }

    h1 {
      font-size: 2rem;
      text-align: left;
    }

    .size-profile {
      margin: 0 auto;
      max-width: 300px;
    }

    .tab-content {
      max-width: 800px;
      margin: 60px auto;
    }

    .nav-tabs {
      margin: 0 auto;
      max-width: 600px;

      li {
        width: 200px;
      }
    }
  }
}
