/* [Containers]
-------------------------------------------------------*/
.content-block {
  margin-bottom: 30px;

  // START - tablet
  @include tablet {
    width: 100%;
  }
  // END - tablet

}

.container-fluid {
  padding-left: 30px;	
  padding-right: 30px;
}

// Creating extra buffer between container and browser window
.container-fluid.no-padding.no-margin {
  padding: 0;

  .row {
    margin: 0;
  }

  .content-img {
    padding: 0;
  }

}
