/* [Forms]
-------------------------------------------------------*/
label {
  line-height: normal;
  font-size: 1.125em;
  font-weight: 500;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 6px;
}

.form-control {
  line-height: normal;
  font-size: 1em;
  border-radius: 0;
  border-color: rgba($c-neutral-black, .55);
  -webkit-appearance: none;
}

.alert {
  border-radius: 2px;
}

.has-feedback .form-control-feedback {
  width: 38px;
  height: 38px;
  line-height: 38px;
}

.has-feedback label ~ .form-control-feedback {
  top: 35px;
  right: 14px;
}

.has-success .form-control {
  border-color: rgba($c-neutral-black, .55); // TODO: fix this hack, fix for UI-calendar field
}

// Custom checkbox and radio
.custom-form-element {

  label {
    display: block;
    cursor: pointer;
  }

  input {
    display: none;

    & + .icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -5px 8px 0 0;
      vertical-align: middle;
      background: url(custom-form-minimal.png) no-repeat;
    }

  }

  input[type='checkbox'] {

    & + .icon {
      background-position: 0 0;
    }

    &:checked + .icon {
      background-position: -40px 0;
    }

    &:disabled + .icon {
      background-position: -60px 0;
    }

  }

  input[type='radio'] {

    & + .icon {
      background-position: -100px 0;
    }

    &:checked + .icon {
      background-position: -140px 0;
    }

    &:disabled + .icon {
      background-position: -160px 0;
    }

  }

}

.form-global {

  label {
    font-style: italic;
    margin: 0;
  }

  .hint {
    color: $c-neutral-10;
    font-style: italic;
    font-size: 1.5rem;
  }

  .error {
    font-size: 1.6rem;
    color: $c-brand-red;
    display: block;
    margin: 3px 0;
  }

  .submit .error {
    padding-top: 20px;
    text-align: center;
  }

}
