/* [Forms]
-------------------------------------------------------*/
label {
  line-height: normal;
  font-size: 1.125em;
  font-weight: 500;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 6px;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAMCAYAAAD26jQJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNrE1DEKwzAMBVCVkA5ZAoXeKFftBbKkkJClXbKmey/QQ7j6oEGYFosY2YIPwsPXm0xE9ObMnI7yBx13dIYQyCskYGxrJryTDnQ9vNE49syEnzmTdGyc3huN6eXYETjAowbjsQQ6hk+COQQuiY7hYwL+F1wabYVr8B6Da6BT8FaBX5zrr4IaaMxFUBrecG4pcE00CUrDTeDa6BhuAnujT8a/GMhF9oHzsaC95ivAADXsLo6fwCkvAAAAAElFTkSuQmCC);
  background-size: 23px;
  padding: 10px 25px 10px 10px;

  &::-ms-expand {
    display: none;
  }

}

select {
  border-radius: 0;
}

.form-control {
  line-height: normal;
  font-size: 1em;
  border-radius: 0;
  border-color: rgba($c-neutral-black, .55);
}

.alert {
  border-radius: 2px;
}

.has-feedback .form-control-feedback {
  width: 38px;
  height: 38px;
  line-height: 38px;
}

.has-feedback label ~ .form-control-feedback {
  top: 35px;
  right: 14px;
}

.has-success .form-control {
  border-color: rgba($c-neutral-black, .55); // TODO: fix this hack, fix for UI-calendar field
}

// Custom checkbox and radio
.custom-form-element {

  label {
    display: block;
    cursor: pointer;
  }

  input {
    display: none;

    & + .icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -5px 8px 0 0;
      vertical-align: middle;
      background: url(custom-form-minimal.png) no-repeat;
    }

  }

  input[type='checkbox'] {

    & + .icon {
      background-position: 0 0;
    }

    &:checked + .icon {
      background-position: -40px 0;
    }

    &:disabled + .icon {
      background-position: -60px 0;
    }

  }

  input[type='radio'] {

    & + .icon {
      background-position: -100px 0;
    }

    &:checked + .icon {
      background-position: -140px 0;
    }

    &:disabled + .icon {
      background-position: -160px 0;
    }

  }

}

// Custom checkboxes - v2
// TODO: use it globally (by replacing .custom-form-element)
.custom-form-element-thin {
  padding-left: 20px;

  label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    width: 100%;
    font-size: inherit;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      padding: 7px;
      left: 0;
      top: 3px;
      margin-left: -20px;
      border: 1px solid $c-neutral-5;
      background-color: $c-neutral-white;
    }

    &::after {
      display: inline-block;
      position: absolute;
      padding: 6px 4px;
      left: 0;
      top: 0;
      margin-left: -20px;
      font-size: 0.7rem;
      color: $c-neutral-black;
    }

  }

  @media (min-width: $bootstrap-md-width) {

    &.form-small label {

      &::before {
        padding: 5px;
      }

      &::after {
        padding: 6px 3px;
        font-size: 0.5rem;
        font-weight: 600;
      }

    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    label:before {
      padding: 8px;
      top: 1px;
    }

  }

  input[type="checkbox"] {
    opacity: 0;

    &:checked + label::after {
      font-family: 'icomoon_fame_2015';
      content: "\e90f";
    }

    &:disabled + label {
      opacity: 0.65;

      &::before {
        background-color: $c-neutral-5;
        cursor: not-allowed;
      }

    }

  }

  &.checkbox-inline {
    margin-top: 0;
  }

  &.checkbox-black-bg input[type="checkbox"]:checked + label {

    &::before {
      background-color: $c-neutral-black;
      border-color: $c-neutral-black;
    }

    &::after {
      color: $c-neutral-white;
    }

  }

}

// Checkbox with black background (no "tick" symbol)
.checkboxBlackBg {

  label {
    display: block;
  }

  .checkboxBlackBg__check {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      padding: 4px;
      left: 0;
      top: 6px;
      border: 1px solid $c-neutral-black;
      background-color: $c-neutral-white;
    }

  }

  input[type="checkbox"] {
    opacity: 0;

    &:disabled ~ .checkboxBlackBg__check {
      opacity: 0.65;

      &::before {
        background-color: $c-neutral-5;
        cursor: not-allowed;
      }

    }

    &:checked ~ .checkboxBlackBg__check::before {
      background-color: $c-neutral-black;
    }

  }

}

.form-global {

  label {
    font-style: italic;
    margin: 0;
  }

  .hint {
    color: $c-neutral-10;
    font-style: italic;
    font-size: 1.5rem;
  }

  .error {
    font-size: 1.6rem;
    color: $c-brand-red;
    display: block;
    margin: 3px 0;
  }

  .submit .error {
    padding-top: 20px;
    text-align: center;
  }

}
