/* [Links]
-------------------------------------------------------*/
a {
  color: $c-neutral-black;

  &:hover {
    text-decoration: none;
    color: $c-neutral-black;
  }

  &:focus {
    text-decoration: none;
    outline: none;
    color: $c-neutral-black;
  }

}

.sub-heading--small em,
.mobile-heading em,
.link-underline {
  border-bottom: 1px solid $c-neutral-6;
}

.link-underline-lighter {
  border-bottom: 1px solid $c-neutral-4;
}

.cta-link {
  font-family: $font-heading;
  font-style: italic;
  font-size: 1em;
  border-bottom: 1px solid $c-neutral-6;
}

.cta-link-alt {
  color: $c-neutral-black;
  font-family: $font-heading;
  font-size: 1.3rem;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid $c-neutral-black;
  display: inline-block;
  margin: 10px 0;
}

.cta-link-white-bg {
  font-size: 1.3rem;
  padding: 5px 10px;
  background: $c-neutral-white;
  color: $c-neutral-black;
}

.cta-link-arrow-right {
  color: $c-neutral-black;
  font-size: 1.2rem;

   .icon {
      font-weight: 600;
      padding-left: 3px;
      font-size: 1rem;
    }

}

.cta-highlight {

  .label-default {
    background-color: $c-neutral-black;
    padding: 1px 5px;
    font-size: 1rem;
    vertical-align: 2px;
    border-radius: 0;
  }

}

.cta-icon-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 8px;

  .icon {
    position: relative;
    padding-right: 3px;
    top: 1px;
    font-weight: 600;
  }

}

.ctaTopLeft {
  font-size: 1.3rem;
  color: $c-neutral-black;
}
