/* [Type]
-------------------------------------------------------*/
body {
  font-size: 1.6em;
  line-height: 1.6;
  color: $c-neutral-12;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-heading;
  font-weight: 300;
}

h1, .h1 {
  font-size: 4.2rem;
}

h2, .h2 {
  font-size: 3.4rem;
}

h3, .h3 {
  font-size: 2.8rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.4rem;
}

p {
  font-family: $font-family-secondary;
  font-weight: 500;
  color: $c-neutral-black;
}

sup {
  font-size: 100%;
  top: -1px;
  padding-right: 3px;
}

blockquote {
  margin: 0;

  &:before {
    content: "\201C";
    margin-right: 2px;
  }

  &:after {
    content: "\201D";
    margin-left: 2px;
  }

}

.title-line-on-sides {
  position: relative;
  text-align: center;
  font-family: $font-heading;
  font-size: 1.5em;
  padding: 0;
  margin: 15px 0;

  .inner-wrap {
    position: relative;
    padding: 0 20px;
    display: inline-block;
    background: $c-neutral-white;
  }

  .sub-heading {
    text-transform: none;
    font-size: 0.75em;
    font-weight: 500;
    color: $c-neutral-8;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: $c-neutral-black;
  }

  @include mobile {

    & {
      font-size: 1.25em;
    }

  }

}

// TODO: redo this legacy title
.page-title--details {
  padding: 60px 0 55px 0;
  text-align: center;
  color: white;
  position: relative;
  z-index: 99;

  h1 {
    margin-top: 0;
  }

}

// This class is used when most of the copy has serif font and
//  we need to add a custom sans-serif style to highlight part of it
.copy-highlight {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-left: 3px;
  display: inline-block;
}
