/* [Type]
-------------------------------------------------------*/
body {
  font-size: 1.6em;
  line-height: 1.6;
  color: $c-neutral-12;
  -webkit-font-smoothing: antialiased;
}

.font-serif {
  font-family: $font-heading;
}

.font-sans-serif {
  font-family: $font-family-secondary;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-heading;
  font-weight: 300;
}

h1, .h1 {
  font-size: 4.2rem;
}

h2, .h2 {
  font-size: 3.4rem;
}

h3, .h3 {
  font-size: 2.8rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.4rem;
}

p {
  font-family: $font-heading;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 150%;
}

sup {
  font-size: 100%;
  top: -1px;
  padding-right: 3px;
}

blockquote {
  margin: 0;

  &:before {
    content: "\201C";
    margin-right: 2px;
  }

  &:after {
    content: "\201D";
    margin-left: 2px;
  }

}

.featured-blockquote {
  margin: 75px 0;
  font-family: $font-heading;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 130%;

  @media (max-width: $bootstrap-md-width - 1px) {
    font-size: 3rem;
    margin: 40px 0;
  }

}

// [NOTE] This is just a quick fix for hero copy in /why-us
// Once the new layout is implemented there, this styling will probably be obsolete and should be removed.
h1 .sub-heading {
  font-size: 2rem;
  display: block;
  line-height: 100%;
  margin-top: 10px;
}

.title-line-on-sides {
  position: relative;
  text-align: center;
  font-family: $font-heading;
  font-size: 1.5em;
  padding: 0;
  margin: 15px 0;

  .inner-wrap {
    position: relative;
    padding: 0 20px;
    display: inline-block;
    background: $c-neutral-white;
  }

  .sub-heading {
    text-transform: none;
    font-size: 0.75em;
    font-weight: 500;
    color: $c-neutral-8;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: $c-neutral-black;
  }

  @include mobile {

    & {
      font-size: 1.25em;
    }

  }

}

.double-line-height:before {
  line-height: 2rem;
  content: " ";
  padding: 1px;
}

// TODO: redo this legacy title
.page-title--details {
  padding: 60px 0 55px 0;
  text-align: center;
  color: white;
  position: relative;

  h1 {
    margin-top: 0;
  }

}

// This class is used when most of the copy has serif font and
//  we need to add a custom sans-serif style to highlight part of it
.title--small strong,
.mobile-heading strong,
.copy-highlight {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cta-button-secondary-text {
  text-transform: none;
}

.title--small strong,
.mobile-heading strong {
  font-size: 1.4rem;
  border-bottom: 1px solid $c-neutral-6;
}

@media (min-width: $bootstrap-md-width) {

  .title--small strong {
    line-height: 150%;
    display: inline-block;
    margin-top: 2em;
  }

}

.cta-link + .copy-highlight,
.btn-featured .copy-highlight {
  padding-left: 3px;
}

.copy-highlight.cta-button-secondary-text {
  padding-left: 6px;
}

// This is aimed to be used in headings, like in the "About Us" page
.heading-thin-line-top {

  @media (min-width: $bootstrap-md-width) {
    padding-top: 30px;

    .title {
      font-size: 3.5em;
      margin-bottom: 0;
      padding-bottom: 10px;
    }

    .title::before {
      content: "";
      padding-top: 50px;
      border-top: 1px solid $c-neutral-black;
      width: 90px;
      display: block;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {
    text-align: center;

    .subheading {
      margin: 30px 0 60px;
      font-size: 2.5rem;
    }

    .line-mobile-center::before {
      content: "";
      width: 30%;
      display: block;
      padding-top: 50px;
      margin: 0 auto;
      border-top: 1px solid $c-neutral-black;
    }

  }

}

// Another variant for a thin line to split content, like in the "Get The Look" page
.spacerThinLine::before {
  content: "";
  margin: 30px 0;
  border-top: 1px solid $c-neutral-black;
  width: 12px;
  display: block;
}

.FontStyle__italic {
  font-style: italic;
}
