<div class="container" style="width: 700px;top:30px;">
  <%= form_for @product, url: admin_upload_product_images_path(product_id: @product.id),
        :html => { :multipart => true, :id => "fileupload"  } do |f| %>

    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add product images...</span>
          <%= f.file_field :images, multiple: 'multiple' %>
        </span>
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>

</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download" id="{%=file.spree_dom_id%}">
      {% if (file.error) { %}
        <td class="no-border"></td>
        <td>
          <a href="{%=file.image_url%}" title="{%=file.name%}"><img src="{%=file.thumbnail_url%}" height="48"></a>
        </td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="no-border"><span class="handle"></span></td>
        <td>
          <a href="{%=file.image_url%}" title="{%=file.name%}"><img src="{%=file.thumbnail_url%}" height="48"></a>
        </td>
        <td>{%=file.variant%}</td>
        {% } %}
      <td class="actions">
        <a data-action="edit" class="icon_link with-tip icon-edit no-text" href="{%=file.edit_url%}"></a>
        <a url="{%=file.delete_url%}" data-confirm="Are you sure?" data-action="remove" class="delete-resource icon_link with-tip icon-trash no-text" href="{%=file.delete_url%}"></a>
      </td>
    </tr>
    {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
     // Initialize the jQuery File Upload widget:
     $('#fileupload').fileupload({
       autoUpload: true,
       maxFileSize: 5000000,
       acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,
       formData: function(form) {
         return [{name: 'product[viewable_id]', value: $('#image_viewable_id').val()}]
       }
     }).bind('fileuploadcompleted', function (e, data) {
       if (data.context) {
         if ($('table.index.sortable[data-hook=images_table]').length > 0){
           $('table.index.sortable[data-hook=images_table]').prepend(data.context.detach())
         }
       }
     });
  });
</script>
