script type="application/ld+json" { "@context" : "http://schema.org", "@type" : "Organization", "name" : "Fame and Partners", "url" : "http://www.fameandpartners.com", "sameAs" : [ "http://www.facebook.com/FameandPartners", "http://www.twitter.com/fameandpartners", "http://www.instagram.com/fameandpartners", "http://www.youtube.com/user/fameandpartners", "http://www.pinterest.com/fameandpartners"] }
