/ Synchronous tracking services, in other words, need to be loaded on HTML head
= render 'layouts/custom_experience/marketing/trackers/optimizely' if @optimizely_opt_in
= render 'layouts/custom_experience/marketing/trackers/google_analytics'
