- total_questions = @questions.size
- @questions.each_with_index do |question, index|
  = render template: question.template, locals: { question: question, question_position: index + 1, question_total: total_questions}
