.cart-wrapper {
  overflow-x: hidden;
  padding: 0;
  width: 100%;

  .row-no-gutter {
    margin: 0;
    height: 100%;
    display: block;
  }

  .close-cart-layer {
    height: 100%;
  }

  .cart-wrapper {
    background-color: $c-neutral-white;
    height: 100%;
    display: table;
  }

  .cart--top {
    padding: 20px 10px;

    .cart-title {
      text-align: center;
      display: inline-block;

      h2 {
        margin: 0;
        font-size: 2.8rem;
        color: $c-neutral-black;
      }

    }

    .amount {
      font-size: 1.5rem;
      font-weight: 600;
      color: $c-neutral-8;
    }

  }

  .free-shipping-disclaimer {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5rem;
    padding: 25px 25px 10px;
    border-top: 1px solid $beage-bg;

    p {
      font-family: $font-heading;
      font-weight: 300;
    }

  }

  .cart-items {
    padding: 0;

    .remove-product {
      color: $c-neutral-10;
    }

    .cart-item {
      padding: 15px 15px 15px 0;
      overflow: hidden;
    }

    .cart-item-image-holder {
      padding: 0;
      margin: 0;
    }

    .remove-product .icon {
      top: 8px;
    }

  }

  .cart-item-title {
    font-size: 1.1em;
    color: $c-neutral-black;
    font-family: $font-heading;
    font-weight: 300;
  }

  .cart-item-price {
    padding: 8px 0;
    color: $c-neutral-8;
    font-size: 2rem;
    font-weight: 500;
  }

  .cart-item-description {

    dd {
      text-transform: capitalize;
    }

  }

  .cart-footer {
    border-bottom: 1px solid $beage-bg;
    border-top: 1px solid $beage-bg;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .order-total {
    font-size: 2.1rem;
    font-family: $font-heading;
  }

  .cart-is-empty {
    font-family: $font-heading;
    text-align: center;
    margin: 45px 0 100px;

    .heading {
      font-size: 3em;
      color: $c-neutral-black;
    }

    .cta-when-empty {
      font-size: 1.9rem;
      font-weight: 300;
      color: $c-neutral-10;
    }

  }

}

.close-cart,
.remove-product {
  cursor: pointer;
}
