.cart-container {

  &.cart-sitewide {
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    @include transition (right 0.3s);

    .cart-wrapper {
      height: 100%;
      display: table;
    }

  }

  &.speed-in {
    right: 0;
  }

  p {
    font-weight: 400;
  }

  .row-no-gutter {
    margin: 0;
    height: 100%;
    display: block;
  }

  .close-cart-layer {
    height: 100%;
  }

  .cart-wrapper {
    background-color: $c-neutral-white;
  }

  .cart--top {
    padding: 20px 10px;

    .cart-title {
      text-align: center;
      display: inline-block;

      h2 {
        margin: 0;
        font-size: 2.8rem;
        color: $c-neutral-black;
      }

    }

    .amount {
      font-size: 1.5rem;
      font-weight: 600;
      color: $c-neutral-8;
    }

  }

  .cart-checkout {

    button {
      padding: 5px 10px;
      border: 0;
      border-radius: 0;
      font-size: 1rem;
    }

    .icon {
      padding: 0;
    }

  }

  .free-shipping-disclaimer {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5rem;
    padding: 25px 25px 10px;
    border-top: 1px solid $beage-bg;

    p {
      font-family: $font-heading;
      font-weight: 300;
      line-height: 1.375em;
    }

  }

  .cart-items {
    padding: 0;

    .heading {
      line-height: 2.4rem;
      margin-right: 6px;
      margin-bottom: 6px;
    }

    .remove-product {
      color: $c-neutral-10;
    }

    .cart-item {
      margin: 15px 15px 15px 0;
      overflow: hidden;
    }

    .cart-item-image-holder {
      padding: 0;
      margin: 0;
    }

    .remove-product .icon {
      top: 8px;
      right: -17px;
    }

  }

  .cart-item-title {
    font-size: 2.6rem;
    color: $c-neutral-black;
    font-family: $font-heading;
    font-weight: 300;
  }

  .cart-item-price {
    position: relative;
    padding: 0 0 24px 0px;
    color: $c-neutral-10;
    font-size: 1.8rem;
    line-height: 1.6rem;
    font-weight: 500;
    font-family: $font-heading;
    &:after {
      content: '';
      height: 1px;
      width: 20px;
      background: $c-neutral-8;
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }

  .cart-item-description {

    dd {
      text-transform: capitalize;
      margin-bottom: 8px;
    }

  }

  .line-item-customization--mini {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    color: $c-neutral-10;
  }

  .cart-footer {
    border-bottom: 1px solid $beage-bg;
    border-top: 1px solid $beage-bg;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .cart-total {
    padding: 15px;

    .value {
      float: right;
    }

  }

  .order-total {
    font-size: 2.1rem;
    font-family: $font-heading;
  }

  .shopping-bag-order-number {
    padding: 10px;
    color: $c-neutral-6;
    font-size: 0.75em;
    text-align: center;
  }

  .cart-is-empty {
    font-family: $font-heading;
    text-align: center;
    margin: 45px 0 100px;

    .heading {
      font-size: 3em;
      color: $c-neutral-black;
    }

    .cta-when-empty {
      font-size: 1.9rem;
      font-weight: 300;
      color: $c-neutral-10;
    }

    .modal .modal-content {
      padding: 50px 0;
      top: 100px;

      .heading {
        padding-bottom: 50px;
      }

    }

  }

  .custom-form-element-thin {
    margin: 10px 0;

    label {
      padding-left: 0;
      font-weight: 400;
      font-size: 1.4rem;

      &:before {
        top: 4px;
      }

      &:after {
        top: 1px;
      }

    }

  }

}

.close-cart,
.remove-product {
  cursor: pointer;
}

#shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  display: none;

  &.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -o-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
  }

}
