/* [Email Subscription]
-------------------------------------------------------*/
.email-subscription {
  display: none;
  visibility: hidden;
  padding: 25px 0;
  background: $c-neutral-2;

  .title {
    margin: 0;
    padding: 0 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.6;
    color: $c-neutral-black;
  }

  .input-btn {
    position: relative;
    padding-right: 170px;

    input {
      width: 100%;
      height: 45px;
      padding: 9px 10px;
      line-height: 45px;
      border-color: transparent;

      &:focus {
        outline: 0;
      }

    }

    .btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 170px;
    }

  }

  ::-webkit-input-placeholder {
     font-size: 0.625em;
     text-transform: uppercase;
     color: $c-neutral-black;
  }

  :-moz-placeholder { /* Firefox 18- */
     font-size: 0.625em;
     text-transform: uppercase;
     color: $c-neutral-black;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     font-size: 0.625em;
     text-transform: uppercase;
     color: $c-neutral-black;
  }

  :-ms-input-placeholder {
     font-size: 0.625em;
     text-transform: uppercase;
     color: $c-neutral-black;
  }

  @include desktop {

    & {
      display: block;
      visibility: visible;
    }

  }

}
