/* [Faqs]
-------------------------------------------------------*/

.faq {
  color: $c-neutral-10;

  a {
    color: $c-neutral-10;

    &:hover {
      color: $c-neutral-black;
    }

  }

  .select-color {
    float: left;
    width: 100%;
    margin: 10px 0;

    label {
      font-size: 0.875em;
    }

    .form-control {
      border-color: $c-neutral-4;
      box-shadow: none;
    }

  }

  & .panel + .panel {
    margin-top: 0;
  }

  .panel {
    border-color: $c-neutral-4;
    border-top-color: transparent;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;

    > .panel-heading {
      background: $c-neutral-white;
    }

    > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: transparent;
    }

  }

  .panel-heading {
    padding: 0;
  }

  .title-wrap {
    padding: 15px 0;
    @extend %cfix;

    a,
    span {
      display: block;
      height: 16px;
      line-height: 16px;
    }

    > span,
    > a {
      max-width: 50%;
    }

    > span {
      float: left;
      position: relative;
      padding-left: 20px;

      .icon {
        position: absolute;
        top: -2px;
        left: 0;
      }

    }

    > a {
      float: right;
    }

    @include mobile-header {

      > span {
        position: absolute;
        top: 18px;
        left: 15px;
        padding-left: 0;
        font-size: 1.625em;
        font-weight: 300;

        .icon {
          display: none;
        }

      }

    }

  }

  .panel-title {
    position: relative;
    display: block;
    padding: 15px 20px 15px 0;
    font-size: 0.875em;
    color: $c-neutral-black;

    &.faq-title {
      text-transform: none;
    }

    &.collapsed {
      color: $c-neutral-10;
    }

  }

  .panel-body {
    padding: 0 0 15px 0;
  }

  .custom-form-element {
    float: left;
    width: 50%;
    margin-bottom: 10px;

    &:nth-child(odd) {
      padding-left: 5px;
    }

    &:nth-child(even) {
      padding-right: 5px;
    }

    &:first-child {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    label {
      position: relative;
      width: 100%;
      margin-bottom: 0;
      padding: 8px 5px 5px;
      font-size: 0.75em;
      border: solid $c-neutral-4 1px;

      &:hover {
        border-color: $c-neutral-6;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 15px;
      }

      &.swatch-color-green:after {
        background-color: $product-color-green;
      }

      &.swatch-color-silver:after {
        background-color: $product-color-silver;
      }

      &.swatch-color-purple:after {
        background-color: $product-color-purple;
      }

      &.swatch-color-yellow:after {
        background-color: $product-color-lemon; // TODO: lemon color, we should also change label or remove this color completly
      }

      &.swatch-color-nude:after {
        background-color: $product-color-nude;
      }

      &.swatch-color-black:after {
        background-color: $product-color-black;
      }

      &.swatch-color-white:after {
        background-color: $product-color-white;
        border-left: solid $c-neutral-2 1px;
      }

      &.swatch-color-blue:after {
        background-color: $product-color-blue; // TODO: cobalt blue color, we should also change label
      }

      &.swatch-color-pink:after {
        background-color: $product-color-pink;
      }

      &.swatch-color-red:after {
        background-color: $product-color-red;
      }

      &.swatch-color-pastel:after {
        background-color: #eec6c6;
      }

      &.swatch-color-Cheetah:after {
        background-image: $product-cheetah-image-url;
        background-size: 140px 40px;
        background-position: 0px 0px;
      }

      &.swatch-color-Rosebud:after {
        background-image: $product-rosebud-image-url;
        background-size: 200px 65px;
      }

      @include mobile-header {
        padding: 13px 5px 10px 10px;
      }

    }

  }

}
