/* [Faqs]
-------------------------------------------------------*/

.faq {
  color: $c-neutral-10;

  a {
    color: $c-neutral-10;

    &:hover {
      color: $c-neutral-black;
    }

  }

  .panel-title {
    padding: 15px 20px 15px 0;
    font-size: 0.875em;

    &.faq-title {
      text-transform: none;
    }

    &.collapsed {
      color: $c-neutral-10;
    }

  }

  .panel-body {
    padding: 0 0 15px 0;
  }

}
