/* [Hero]
-------------------------------------------------------*/
.hero-wrap {

  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }

  .copy-wrap {
    padding: 50px 0;
    text-align: center;
  }

  .title {
    width: 80%;
    max-width: 280px;
    margin: 0 auto 40px auto;
    padding: 0;
    text-transform: none;
    font-size: 1.375em;
    font-weight: 300;
  }

}
