/* [Hero]
-------------------------------------------------------*/
.hero-wrap {
  display: block;

  .media-wrap {
    min-height: 100px;
  }

  // versions
  &.copy-right, &.copy-left {
    margin-bottom: 50px;
    position: relative;

    .media-wrap {
      padding-bottom: 0;
    }

    .inner-wrap {
      position: relative;
    }

    .content-wrap {
      text-align: center;
    }

    .content-middle-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;

      .container,
      .container-fluid {
        display: table;
        height: 100%;

        > .row {
          display: table-cell;
          vertical-align: middle;
        }

        > .row.v-align-top {
          vertical-align: top;
        }

      }

      .container-fluid {
        width: 100%;
      }

    }

    p {
      margin-top: 5px;
      font-weight: 300;
      font-size: 1.6rem;
    }

  }

  .cta-wrapper {
    margin-top: 25px;
    .btn-featured {
      font-family: $font-family-secondary !important;
      font-style: normal;
    }
  }

  .middle-carousel-item {
    padding: 15px;
  }

  .CopyWrap__position--center .copy-wrap {
    display: table;
    margin: 0 auto;
  }

  // START - desktop
  @media (min-width: $bootstrap-lg-width) {

    // NOTE: this is just a workaround for a Design request.
    .extra-padding-top {
      padding-top: 50px;
    }

    // hacks on hacks on hacks
    .middle-carousel-item .extra-padding-left {
      padding-left: 0 !important;
    }

  }

  @media (min-width: $bootstrap-md-width) {

    h1 > span:first-child {
      font-size: 4.4rem;
    }

    // NOTE: this is just a workaround for a Design request.
    .extra-padding-left {
      padding-left: 55px;
    }
    .extra-padding-right {
      padding-right: 55px;
    }

    &.copy-right, &.copy-left {
    position: relative;

      .inner-wrap {
        position: absolute;
      }

      .content-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: left;

        .container,
        .container-fluid {
          display: table;
          height: 100%;

          > .row {
            display: table-cell;
            vertical-align: middle;
          }

          > .row.v-align-top {
            vertical-align: top;
          }

        }

        .container-fluid {
          width: 100%;
        }

      }

      .sub-heading {
        padding-top: 0;
        border-top: none;
      }

    }

    .img-as-block {
      padding-bottom: 0;

      .inner-wrap {
        position: relative;
      }

    }

    &.copy-right .heading {
      width: 50%;
      margin: 0 0 0 50%;

      &.full {
        width: 100%;
        margin: 0;
      }

    }

    &.white-text {

      .heading,
      .sub-heading,
      p,
      a,
      span {
        color: $c-neutral-white;
      }

      .btn-featured {
        color: $c-neutral-white;
        border-color: $c-neutral-white;
      }

    }

  }
  // END - desktop

}

.copy-wrap {

  .heading {
    text-transform: none;
    color: $c-neutral-black;
    margin: 0;

    > span {
      display: block;
    }

  }

  .sub-heading {
    font-family: $font-heading;
    display: inline-block;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    border-top: solid $c-neutral-black 1px;
  }

  &.alternative-header {
    margin: 40px 0;

    .sub-heading {
      font-style: normal;
      border: 0;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .heading {
      margin-top: 15px;
      font-size: 1.063em;

      > span:first-child {
        display: none;
      }

    }

    .heading.mobile-heading {
      margin-top: 0;
    }

    .sub-heading span {
      text-decoration: underline;
    }

    .cta-wrapper {
      display: none;
    }

  }

}

.hero-product-wrap {
  position: relative;
  min-height: 580px;
  background: #ececf4;

  .media-wrap {
    background: transparent;
  }

  .zoom-trigger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 56px 0 0;
    border-color: $c-neutral-black transparent transparent transparent;

    &.active {
      opacity: .6;
    }

    &:before {
      position: absolute;
      top: -51px;
      left: 5px;
      font-size: 21px;
      color: $c-neutral-white;
    }

  }

  .carousel-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-left: 50px;

    .outer-wrap {
      position: relative;
      display: table;
      height: 100%;
    }

    .inner-wrap {
      display: table-cell;
      vertical-align: middle;
    }

    .slick-slider {
      position: relative;
      width: 100px;
    }

    .slick-slide {
      outline: none;
      cursor: pointer;
      @include transition(opacity 0.2s linear);

      &:hover,
      &.slick-current {
        opacity: .6;
      }

      &.slick-current {
        cursor: default;
      }

    }

    .media-wrap {
      height: 140px;
      margin: 10px 0;
      border: solid $c-neutral-white 2px;

      img {
        width: auto;
        height: 100%;
        margin-left: -50%;
      }

    }

    @media (max-width: 1950px) {

      .slick-slider {
        width: 80px;
      }

      .media-wrap {
        height: 120px;

        img {
          margin-left: -40%;
        }

      }

    }

    @media (max-width: 1600px) {

      .slick-slider {
        width: 60px;
      }

      .media-wrap {
        height: 90px;
        margin: 5px 0;

        img {
          margin-left: -50%;
        }

      }

    }

  }

  @media (max-width: 1300px) {

    .carousel-product {

      .media-wrap > img,
      .media-wrap > div > img,
      .media-wrap > div > div {
        margin-left: -60px;
      }

      .media-wrap,
      .media-wrap > div {
        height: 580px;

        img {
          width: auto !important; // why why, because mlens plugin inline styling :(
          height: 100%;
        }

      }

    }

  }

  @media (max-width: 1000px) {

    .carousel-nav {
      padding-left: 20px;
    }

    .carousel-product .media-wrap > img,
    .carousel-product .media-wrap > div > img,
    .carousel-product .media-wrap > div > div {
      margin-left: -120px;
    }

  }

  @media (max-width: 600px) {

    .carousel-product .media-wrap > img,
    .carousel-product .media-wrap > div > img,
    .carousel-product .media-wrap > div > div {
      margin-left: -140px;
    }

  }

}

.containerHalfScreenHero__heroImg {

  @media (max-width: $bootstrap-md-width - 1px) {
    @include real-full-width;
  }

}
