/* [Hero]
-------------------------------------------------------*/
.hero-wrap {

  .media-wrap {
    min-height: 100px;
  }

  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }

}

.hero-product-wrap {
  position: relative;
  min-height: 580px;
  background: #ececf4;

  .zoom-trigger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 56px 0 0;
    border-color: $c-neutral-black transparent transparent transparent;

    &:before {
      position: absolute;
      top: -51px;
      left: 5px;
      font-size: 21px;
      color: $c-neutral-white;
    }

  }

  .carousel-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    height: 100%;

    .outer-wrap {
      position: relative;
      display: table;
      height: 100%;
    }

    .inner-wrap {
      display: table-cell;
      vertical-align: middle;
    }

    .slick-slider {
      position: relative;
      width: 100px;
    }

    .slick-slide {
      outline: none;
      cursor: pointer;
      @include transition(opacity 0.2s linear);

      &:hover,
      &.slick-current {
        opacity: .6;
      }

      &.slick-current {
        cursor: default;
      }

    }

    .media-wrap {
      height: 140px;
      margin: 10px 0;
      border: solid $c-neutral-white 2px;

      img {
        width: auto;
        height: 180%;
        margin-left: -110%;
      }

    }

    @media (max-width: 1800px) {

      .slick-slider {
        width: 80px;
      }

      .media-wrap {
        height: 120px;
      }

    }

    @media (max-width: 1600px) {

      .slick-slider {
        width: 60px;
      }

      .media-wrap {
        height: 90px;
        margin: 5px 0;
      }

    }

  }

  @media (max-width: 1300px) {

    .carousel-product {

      .media-wrap > img,
      .media-wrap > div > img,
      .media-wrap > div > div {
        margin-left: -60px;
      }

      .media-wrap,
      .media-wrap > div {
        height: 580px;

        img {
          width: auto !important; // why why, because mlens plugin inline styling :(
          height: 100%;
        }

      }

    }
      
  }

  @media (max-width: 1000px) {

    .carousel-nav {
      left: 20px;
    }

    .carousel-product .media-wrap > img,
    .carousel-product .media-wrap > div > img,
    .carousel-product .media-wrap > div > div {
      margin-left: -120px;
    }

  }

  @media (max-width: 600px) {

    .carousel-product .media-wrap > img,
    .carousel-product .media-wrap > div > img,
    .carousel-product .media-wrap > div > div {
      margin-left: -140px;
    }

  }

}
