/* [How it works]
-------------------------------------------------------*/
.how-it-works {
  margin-bottom: 96px;
  text-align: center;
  background: $c-neutral-2;

  .testimonial {
    display: table;
    min-height: 230px;
    padding: 20px 0;
    line-height: normal;
    font-family: Forum;
    background: $c-neutral-white;
    border-top: solid $c-neutral-black 1px;

    .inner-wrap {
      display: table-cell;
      vertical-align: middle;
    }

    blockquote {
      padding: 0 100px 20px 100px;
      text-transform: uppercase;
      font-size: 1.625em;
      font-style: italic;
    }

    .inner-wrap > span {
      font-size: 1.125em;
      font-style: italic;
    }

    p {
      padding: 0 40px;
      line-height: normal;
      font-size: 0.875em;
      font-weight: 300;
    }

    a {
      text-decoration: underline;
      font-weight: 400;
      color: $c-neutral-black;
    }

    em {
      font-weight: 400;
    }

  }

  .title {
    margin: 0;
    padding: 30px 20px;
    line-height: normal;
    font-family: Forum;
    font-size: 2.5em;
    font-weight: 600;
    border-top: solid $c-neutral-black 1px;
    border-bottom: solid $c-neutral-black 1px;
  }

  .list-wrap {
    display: table;
    min-height: 514px;
  }

  ul {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
  }

  li {
    position: relative;
    display: inline-block;
    width: 60%;
    margin-top: 15px;
    text-align: left;

    &:first-child {
      margin-top: 0;
    }

    em {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 58px;
      height: 58px;

      &:before {
        position: absolute;
        top: 8px;
        left: 8px;
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background: $c-neutral-black;
        @include transform(rotate(-45deg));
      }

      span {
        position: relative;
        display: block;
        line-height: 58px;
        text-align: center;
        font-style: normal;
        font-size: 1.125em;
        font-weight: 600;
        color: $c-neutral-white;
      }

    }

    .copy-wrap {
      display: table;
      height: 58px;
      padding-left: 70px;
      font-size: 0.875em;
      font-weight: 500;

      span {
        display: table-cell;
        vertical-align: middle;
      }

    }

  }

}
