/* [Instagram widget]
-------------------------------------------------------*/
// Styles adapted from https://foursixty.com/customize/feed/fame-and-partners

.instagram-widget {
  $instagram-columns: 5;

  .fs-has-links {
    text-indent: -9999px;
    position: static;
    font-weight: 500;
  }

  .fs-has-links::after {
    padding: 11px 16.5px;
    border: 1px solid $c-neutral-white;
    color: $c-neutral-white;
    content: "SHOP THIS LOOK";
    text-indent: 0;
    display: block;
    font-size: 10pt;
    margin: 10px;
  }

  .fs-wrapper {
    height: auto;
  }

  .fs-entry-container {
    height: 0 !important;
    width: (100%/$instagram-columns) !important;
    padding-top: (100%/$instagram-columns) !important;
  }

  .fs-desktop .fs-timeline-entry {
    background-size: 110%; //Just to remove the white border around smaller images

    .fs-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      display: -ms-flexbox;
      -ms-flex-direction: column;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      transition: opacity .25s;
    }

    .fs-text-container:hover {
      opacity: 1;
    }

  }

  .fs-wrapper .fs-text-container .fs-entry-title,
  .fs-detail-title {
    font-family: $font-heading;
    font-style: italic;
    font-weight: normal;
  }

  .fs-text-container .fs-entry-date,
  .fs-detail-container .fs-post-info,
  .fs-wrapper .fs-has-links::after,
  .fs-text-product,
  .fs-overlink-text {
      font-family: $font-family-secondary;
      font-style: normal;
      font-weight: bold;
  }

  .fs-wrapper .fs-text-container {

    * {
      color: $c-neutral-white;
    }

    background-color: rgba($c-neutral-black, 0.8);
    margin: 0px;

  }

  .fs-entry-date,.fs-entry-title {
    display: none;
  }

  .fs-wrapper .fs-timeline-entry {
    margin: 1px;
  }

}
