/* [Logo Image Wrap]
-------------------------------------------------------*/
.logo-image-wrap {
  height: 71px;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
  }

  .img-stretch {
    width: 100%;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    img {
      position: relative;
    }

    .img-stretch {
      width: auto;
    }

  }

}
