/* [Modals]
-------------------------------------------------------*/
.modal {
  z-index: 99999;

  .modal-content {
    box-shadow: none;
    border-radius: 0;
  }

  .outer-wrap {
    padding: 15px;
  }

  .inner-wrap {
    position: relative;
  }

  .btn-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  @media (min-width: $bootstrap-md-width) {

    .modal-dialog {
      width: 900px;
    }

    .outer-wrap {
      padding: 30px;
    }

  }

}

// An initial approach to fit the new modal Design
.modal-v2 {

  .modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 30px 20px 20px;
  }

  .btn-close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .btn-close:before,
  .btn-close:after {
    height: 30px;
  }

  .modal-body {
    padding: 0px;
    position: initial;
  }

  iframe.video {
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 56.25vw;
    max-width: 640px;
    max-height: 360px;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .modal-dialog {
      width: 100%;
      margin: 1% auto;
    }

  }

  @media (max-width: $bootstrap-sm-width) {

    iframe.video {
      max-width: 580px;
      max-height: 250px;
    }

    .modal-content {
      padding: 30px 0 0;
    }

    .modal-content--mobile-keep-padding {
      padding: 30px 20px 20px;
    }

  }

  @media (min-width: $iphone6p-width) and (max-width: $bootstrap-sm-width - 1px) {

    iframe.video {
      max-width: 360px;
    }

  }

  @media (max-width: $iphone6p-width - 1px) {

    iframe.video {
      max-width: 250px;
    }

  }

}

// Modal for Email Capture form
.modalEmailCapture__overlay {
  position: fixed;
  background: rgba($c-neutral-black,.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9999;
}

.modalEmailCapture__closeArea {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.modalEmailCapture__content {
  margin-top: 50px;
  background: #f5f6f1;
  border: 15px solid $c-neutral-white;
  padding: 15px 30px 60px;
}

.modalContent__title {
  margin: 40px 0;
  line-height: 130%;
}

.modalEmailCapture__code {
  padding: 0 10px;
}

.modalContent__emailInput input {
  height: 44px;
}

.modalContent__messageError {
  color: $c-brand-red;
}

@media (max-width: $iphone6p-width - 1px) {

  .modalEmailCapture__submitButton {
    display: grid;
    width: 100%;
  }

  .modalEmailCapture__inputGroup {
    width: 100%;
  }

}
