// Overlay items on hover

.overlay-alt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: $c-neutral-white;
  @include transition(background-color 0.2s linear);

  .overlay-outer-wrap {
    display: table;
    width: 100%;
    height: 100%;
  }

  .overlay-inner-wrap {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px;
  }

  .cta-hover {
    font-family: $font-heading;
    font-weight: 300;
    font-size: 1.8em;
    line-height: 120%;
  }

  .cta-default {
    font-weight: 600;
    font-size: 1.2em;
  }

  @media (min-width: $bootstrap-md-width) {

    .cta-hover {
      display: none;
    }

    .cta-default {
      display: block;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    background: rgba($c-neutral-13, 0.5);

    .cta-hover,
    .cta-default {
      display: block;
    }

    .cta-hover {
      font-size: 2.6rem;
    }

    .cta-default {
      font-size: 2.3rem;
    }

  }

}

// CTA over promo tiles
.ctaOverlay__container {
  display: table;
  height: 100%;
  width: 100%;
}

// CTA Alignment: Top - Left
.ctaOverlay__copy--top-left {
  display: block;
  max-width: 42%;
}

.ctaOverlay__copyLink {
  border-bottom: 1px solid $c-neutral-black;
}

@media (min-width: $bootstrap-lg-width) {

  .ctaOverlay__copy--top-left {
    padding: 40px 30px;
  }

  .ctaOverlay__copyLink {
    margin-left: 10px;
  }

}

@media (min-width: $bootstrap-md-width) {

  .cta-hover {
    display: none;
  }

  .cta-default {
    display: block;
  }

  .item-wrap:hover .overlay-alt {
    background: rgba($c-neutral-13, 0.5);

    .cta-hover {
      display: block;
    }

    .cta-default {
      display: none;
    }

  }

}

@media (max-width: $bootstrap-lg-width - 1px) {

  .ctaOverlay__copy--top-left {
    padding: 30px 20px;
  }

  .ctaOverlay__copyLink {
    display: table;
  }

}

// Overlay content over image or video
.u-overlay-area {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.u-overlay-area__media {
  display: block;
  width: 100%;
  height: auto;
}

.u-overlay-area__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.u-overlay-area__caption {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
}

.u-overlay-area__caption--top {
  top: 0;
}

.u-overlay-area__caption--center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-overlay-area__caption--bottom {
  bottom: 0;
}
