.related-nav {
  margin-top: 50px;

  a {
    color: #000;
    font-size: 1.7rem;
    font-style: italic;
  }

  a span {
    text-decoration: underline;
  }

  .fa {
    font-size: 0.8rem;
    padding-left: 5px;
  }

}
