/* [Tabs]
-------------------------------------------------------*/
.tabs-horizontal {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  color: $c-neutral-8;

  li {
    margin: 0;
    padding: 0 0 3px 0;
    border: 0;
    border-bottom: solid $c-neutral-8 1px;

    a {
      margin: 0;
      padding: 0;
      font-family: $font-family-secondary;
      font-size: 1.25em;
      color: inherit;
      border: 0;
    }

  }

  .active {
    font-weight: bold;
    color: $c-neutral-black;
    border-color: $c-neutral-black;
  }

}
