.timer-box {
  text-align: center;
  font-size: 0;
  > span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 1;
    &:before, &:after {
      content: '';
      display: block;
      width: 26px;
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #000;
      z-index: 0;
    }
    &:before { left: 0;}
    &:after { right: 0;}
    > span {
      position: relative;
      z-index: 1;
      width: 54px;
      height: 30px;
      line-height: 30px;
      color: #fff;
      font-size: 18px;
      letter-spacing: 17px;
      text-indent: 9px;
      display: inline-block;
    }
    + span { margin-left: 10px;}
  }

  &.timer-box-small {
    > span {
      &:before, &:after {
        width: 24px;
      }
      > span {
        font-size: 14px;
        width: 51px;
        height: 28px;
      }
    }
  }
}