/* [Custom Video Player]
-------------------------------------------------------*/
.custom-video-player-wrapper {
  display: table;
  width: auto;
  position: relative;
  cursor: pointer;

  video {
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    object-fit: contain;
  }

  .btn-play-pause {
    position:absolute;
    margin: auto;
    width: 64px;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("_icons/btn-play-pause.png") no-repeat center center;
    background-size:contain;
  }

}
