- cache ['views/layouts/redesign/header/simplified_nav/_about'] do
  li.normal-item = link_to 'Who We Are', about_us_path, class: 'text'
  li.normal-item = link_to 'Why Made-To-Order', why_us_path, class: 'text'
  li.normal-item = link_to 'Empowerment Initiatives', iequalchange_landing_page_path, class: 'text'
