- cache ['views/layouts/redesign/header/simplified_nav/_shop_featured'] do
  li.normal-item = link_to "New Arrivals" , dresses_path + '/new-this-week', class: 'text'
  li.normal-item = link_to 'Best Sellers' , best_sellers_path, class: 'text'
  li.normal-item = link_to 'Florals' , florals_page_path, class: 'text'
