- cache ['views/layouts/redesign/header/simplified_nav/_wedding_services'] do
  li.normal-item = link_to "Wedding Styling" , wedding_consultation_path, class: 'text'
  / li.normal-item = link_to 'The Wedding App' , wedding_atelier_app_landing_page_path, class: 'text'
  li.normal-item = link_to 'Bridal Style Guides' , get_the_look_path, class: 'text'
