ol
  li If the fit isn’t right but you LOVE the dress, contact our customer service team to arrange for a FREE alteration
  li If you just want to return, you can do so for free, as long as you are within our returns guidelines, by emailing our customer service team with your order number and the word RETURN in the subject
  li They will then confirm the steps to complete the return, including a refund of the cost to return the item to us!