- if marketing_landing_page?
  = render '/shared/marketing_pop_js'

#girlfriend
  .girlfriend-header
    = link_to root_path do
      = image_tag '_girlfriend/header_new.jpg'

  .girlfriend-catalog
    ruby:
      cache_keys = ['girlfriendxfame']
      if spree_user_signed_in?
        cache_keys << 'authenticated'
      else
        cache_keys << 'not-authenticated'
      end
      cache_keys << 'products'

      if show_prices_with_applied_promocode? && current_promotion.present?
        cache_keys.push(current_promotion.code)
      end

    - cache cache_keys, expires_in: configatron.cache.expire.long do
      - get_products_from_edit('girlfriend', nil, nil, 12).each do |dress|
        - special_description = dress.property("special_description")
        - product_url = dress.property("bitly")
        - if product_url.blank? then product_url = collection_product_path(dress) end
        .catalog-item
          .picture
            = link_to collection_product_path(dress) do
              = hoverable_product_image_tag dress, itemprop: 'image', alt: dress.name
          .text
            = link_to dress.name, collection_product_path(dress), class: 'title'
            p.description = special_description
            .price = price_for_product(dress)
            p = link_to 'buy', collection_product_path(dress), class: 'btn small'
            .sale-discount 15% off
            .social-grey-global.addthis_toolbox.addthis_default_style
              = facebook_share_button(collection_product_path(dress))
            .social-popup style="display: none;"
              .title THANKS FOR LIKING!
              .discount $20 OFF
              .code GF20
              p ENTER CODE AT CHECKOUT

#push

  coffee:
    $ ->
      FB.Event.subscribe 'edge.create', (url, element) ->
        $popup = $(element).parents('.social-grey-global').next('.social-popup')
        $popup.fadeIn 'fast', ->
          $popup.bind 'mouseleave', ->
            timeout_id = setTimeout ->
              $popup.fadeOut 'fast'
            , 5000
            $popup.data('timeout-id', timeout_id)
          $popup.bind 'mouseenter', ->
            if $popup.data('timeout-id')
              clearTimeout($popup.data('timeout-id'))

      $('a.not-authenticated').bind 'click', (event)->
        event.preventDefault()
        $popup = $('.girlfriend-popup')
        $popup.show()
        $popup.find('.modal-container').center()
        $popup.find('.close-lightbox').bind 'click', ->
          $popup.hide()

  - if spree_user_signed_in?
    javascript:
      facebook_application_id   = '#{facebook_application.api_key}';
      competition_participation_token = '#{@competition_participation.token}';
    coffee:
      $('a.share.facebook').on 'click', (event) ->
        event.preventDefault()

        FB.ui({
          method: 'share_open_graph',
          action_type: 'og.likes',
          action_properties: JSON.stringify({

            object: ($(event.target).parent().attr('href') + '?cpt=' + competition_participation_token)
          })
        }, (response) ->
          if !response.error_code
            console.log(response)
            $.post('/shared/facebook')
        )

      $('a.share.twitter').on 'click', (event) ->
        event.preventDefault()

        $.post('/shared/facebook')

        url  = 'https://twitter.com/share?url='
        url += $(event.target).parent().attr('href') + '?cpt=' + competition_participation_token
        url += '&text=Ultimate Formal Collection - @GirlfriendMAG x @FameandPartners collab:'
        url += '&via=fameandpartners'
        url += '&hashtags=fashion,formaldress'
        url += '&related=GirlfriendMAG'



        width = 575
        height = 400
        left = ($(window).width() - width) / 2
        top = ($(window).height() - height) / 2
        opts  = 'status=0'
        opts += ', width=' + width
        opts += ', height=' + height
        opts += ', top=' + top
        opts += ', left=' + left


        window.open(url, 'twitter', opts);
