= render partial: 'pages/robots'
- form_source = '/coming-soon-custom-bridesmaid-dresses'
- form_name = 'js-email-newsletter-signup-' + SecureRandom.hex(2)
- service = ENV.fetch('SUBSCRIPTION_SERVICE')

.Page__bridesmaidTeaser.js-smooth-scroll

  section.Section__intro.js-section-intro
    .u-overlay-area
      video.u-overlay-area__media.hidden-xs.hidden-sm(muted="true" autoplay="true" loop="true" src="https://s3.amazonaws.com/fandp-web-production-marketing/pages/bridesmaid-teaser/01--desktop.mp4" aria-hidden="false")
      video.u-overlay-area__media.hidden-md.hidden-lg(muted="true" autoplay="true" loop="true" src="https://s3.amazonaws.com/fandp-web-production-marketing/pages/bridesmaid-teaser/01--mobile.mp4" aria-hidden="false")

      .u-overlay-area__overlay
        .u-overlay-area__caption.Section__introWrapper
          .container
            .row
              .col-xs-12
                .ContentCopy
                  a.btn.btn_ctaThickBorder.text-transform-none href="#register" Sign Up Now for 20% Off

  section.Section__customCollectionsCta
    .container-fluid.u-full-width--desktop.u-full-width--mobile
      .row
        .vertical-align
          .col-xs-offset-1.col-xs-10.col-md-4.col-md-offset-2
            .ContentCopy
              h2.h1.Heading Custom collections, <br class="visible-lg visible-sm">made for your ‘maids.
              h4.Subheading Curate custom collections tailored specifically to your wedding colors, theme, and each bridesmaids’ individual needs—including a game-changing bra-friendly filter.

              a.btn.btn_ctaThickBorder.text-transform-none href="#register" Sign Up Now for 20% Off

          .col-md-6
            video.u-overlay-area__media.hidden-xs.hidden-sm(muted="true" autoplay="true" loop="true" src="https://s3.amazonaws.com/fandp-web-production-marketing/pages/bridesmaid-teaser/02--desktop.mp4" aria-hidden="false")
            video.u-overlay-area__media.hidden-md.hidden-lg(muted="true" autoplay="true" loop="true" src="https://s3.amazonaws.com/fandp-web-production-marketing/pages/bridesmaid-teaser/02--mobile.mp4" aria-hidden="false")

  section.Section__formArea#register
    .container-fluid
      .row
        .vertical-align
          .col-md-6.col-md-offset-3
            .ContentCopy.js-section-signup-form
              h2.h1.Heading 500,000,000 options. <br>Only one you.
              h3.Subheading Sign up for early access and 20% off.

              .row.NewsletterFormRow
                .col-md-8.col-md-offset-2
                  .newsletter-signup-form
                    form class="#{form_name}"
                      input name='url' type='hidden' value=(subscribe_campaigns_email_capture_path)
                      input name='form_name' type='hidden' value=(form_source)
                      input type='hidden' name='service' value=(service)

                      .js-bridesmaid-teaser-click-track data-action='Email Field Press'
                        input.form-control.input-lg.js-en-field-email (name="email" type="email" placeholder="Enter your email address" required="required")

                      .js-bridesmaid-teaser-click-track data-action='Email Signup Button Press'
                        button.btn type="submit" Get 20% Off

              .js-email-success-message.email-module-message.hide
                h2 Thanks
                h5 Thanks for signing up. You'll be the first to know what's new.

              .js-email-error-message.email-module-message.hide
                h2 Sorry
                h5.js-email-error-message-body There was an error saving your email.

                = content_for :inline_javascript do
                  |  new window.page.NewsletterSubscriberOnPage({form: '#{form_name}', source: '#{form_source}'});


  section.Section__footer
    .container-fluid.u-full-width--desktop.u-full-width--mobile
      .row
        .vertical-align
          .col-md-6.col-md-push-6
             .ContentCopy
              h2.h1.Heading Can't Wait?
              a.btn_ctaThickBorder.CtaLink__Footer href="#{modern_bridesmaid_collection_path}"
                | Shop the Current Collection


          .col-md-6.col-md-pull-6
              - current_tile_image = image_path("landingpages/bridesmaid-teaser/tile-03.jpg")
              - current_tile_mobile_image = image_path("landingpages/bridesmaid-teaser/tile-03-mob.jpg")
              picture
                source media="(max-width: 991px)" srcset="#{current_tile_mobile_image}"
                source media="(min-width: 992px)" srcset="#{current_tile_image}"
                img.img-responsive src="#{current_tile_image}" srcset="
                  #{current_tile_mobile_image} 991w,
                  #{current_tile_image} 992w"

  .FloatingCta__wrapper.js-floating-cta
    .FloatingCta__content
      a href="#register"
        | Sign Up For <strong>20% Off</strong>


- content_for :body_end do
  javascript:

    (function(window) {

      $(function(){

        // Float CTA - Mobile
        $(document).delay(100).on("scroll", function() {

          var formSectionSelector = '.js-section-signup-form',
              floatCtaSelector = $('.js-floating-cta'),
              formSectionSafeMargin = 0.5,
              formSectionTop = $(formSectionSelector).offset().top * formSectionSafeMargin;

            if ( $(this).scrollTop() < (formSectionTop) ) {
              $(floatCtaSelector).fadeIn();
            } else {
              $(floatCtaSelector).fadeOut();
            }

        });

      });

      // Event Tracking Listener
      $('.js-bridesmaid-teaser-click-track').on('click', function(){
        window.track.bridesmaidTeaserTrack(this.dataset.action, this.dataset.label);
      });

      // Newsletter subscription
      var NewsletterSubscriberOnPage,
        bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

      window.page || (window.page = {});

      window.page.NewsletterSubscriberOnPage = NewsletterSubscriberOnPage = (function() {
        function NewsletterSubscriberOnPage(opts) {
          if (opts == null) {
            opts = {};
          }
          this.success = bind(this.success, this);
          this.failure = bind(this.failure, this);
          this.handler = bind(this.handler, this);
          this.submit = bind(this.submit, this);
          this.url = bind(this.url, this);
          this.campaign = opts.campaign || 'home';
          this.$form = $('.' + opts.form);
          this.$form.on('submit', this.submit);
          this.source = opts.source
        }

        NewsletterSubscriberOnPage.prototype.url = function() {
          return this.$form.attr('action') + "?callback=?";
        };

        NewsletterSubscriberOnPage.prototype.submit = function(e) {
          var $this, email, url, form_name, service;
          e.preventDefault();
          $this = $(e.target);
          url = $('input[name="url"]', $this).val();
          form_name = $('input[name="form_name"]', $this).val();
          email = $('input[name="email"]', $this).val();
          service = $('input[name="service"]', $this).val();
          return $.ajax({
            method: 'POST',
            dataType: 'json',
            url: url,
            async: true,
            data: {
              email: email,
              service: service,
              form_name: form_name,
              source: this.source
            },
            success: this.handler,
            error: function () {
                this.signupFailure
            }
          });
        };

        NewsletterSubscriberOnPage.prototype.handler = function(data) {
          if (data.status === 'done') {
            return this.success(data);
          } else {
            return this.failure(data);
          }
        };

        NewsletterSubscriberOnPage.prototype.failure = function() {
          var message = 'Please enter a valid email.';
          $('.js-email-error-message-body').text(message);
          $('.js-email-error-message').removeClass('hide');
        };

        NewsletterSubscriberOnPage.prototype.signupFailure = function() {
          var message = 'We had an issue saving your email.';
          $('.js-email-error-message-body').text(message);
          $('.js-email-error-message').removeClass('hide');
        };

        NewsletterSubscriberOnPage.prototype.success = function() {
          $('.js-email-error-message').addClass('hide');
          $('.newsletter-signup-form, .js-email-success-message').toggleClass('hide');
        };
        return NewsletterSubscriberOnPage;
      })();

    })(window)
