.new-modal-thank-you {
  .vex-content {
    background-color:      $c-neutral-white;
    background-position-y: 0;
    background-repeat:     no-repeat;
    border:                1px solid #d7d7d7;
    text-transform:        uppercase;
    width: 650px;

    .vex-dialog-form {
      margin:    0 auto;

      .vex-dialog-buttons{
        .vex-dialog-button-secondary {
          background-image:      url('modals/close.svg');
          background-color:      transparent;
        }
      }
      .vex-dialog-message {
        padding:    20px 20px 0px 20px;
        text-align: center;

        h2 {
          background-color: transparent;
          color:            #000;
          line-height:      4.8rem;
          font-family: "old-standard",serif !important;
          font-style: italic;
          font-weight: 400;
        }
        p {
          color:       black;
          font-family: $font-family-secondary;
          font-size:   1.5rem;
          font-weight: 600;
          line-height: 2rem;
          text-align:  center;
        }

      }

      .vex-dialog-input {
        padding-left: 0;
        padding-right: 0;
        font-size: 2rem;
        .six-icons{
          margin-top:5rem;
          height: 180px;
          .popup-icon{
            font-size: 1rem;
            font-weight: 700;
            border: solid;
            border-width: 1px;
            border-color: #d7d7d7;
            margin-left: 4%;
            width: 28%;
            height: 5rem;
            margin-bottom: 1rem;
            float: left;
            display: table;
            cursor: pointer;
            @media(max-width: 992px){
              width: 44%;
            }
          }
          .container{
            display: table-cell;
            vertical-align: middle;
            padding-left: 1rem;
            text-align: center;
          }
          .icon{
            width: 35px;
            height: 35px;
            background-size: contain;
            float: left;
          }
          .icon-design{
            background-image: url('modals/thanks/design.png');
          }
          .icon-styles{
            background-image: url('modals/thanks/styles.png');
          }
          .icon-less{
            background-image: url('modals/thanks/less.png');
          }
          .icon-fit{
            background-image: url('modals/thanks/fit.png');
          }
          .icon-colours{
            background-image: url('modals/thanks/colours.png');
          }
          .icon-trends{
            background-image: url('modals/thanks/trends.png');
          }
        }

      }
    }
  }
}
