/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require admin/spree_core
 *= require admin/spree_promo
 *= require store/spree_banner

*= require_tree ../spree
*= require_self
*= require_tree .
*= require admin/spree_social
*= require jquery.fileupload-ui
*= require admin/spree_paypal_express
*= require jquery.ui.tabs
*/


 /*#  Overdue >1 week - pale red
 # Overdue 1 week - pale pink
 # Overdue <1 week - pale orange
 # Due / <10 days since order date - pale yellow
 # 2 days out from due date - cream
 # < 2 days out from due date - pale green
 # Delivered - pale blue (edited)*/

.state-critical {
  background-color:red;
}

.state-urgent {
  background-color:orange;
}

.state-overdue {
  background-color:yellow;
}
.state-due {

}

.state-ok {

}
.state-unknown {

}
