.bulk_update {
  color :#fff;
}
tr:hover {
  .bulk_update {
    color :inherit;
  }
}

// Bootstrap style lozenge
span.bulk_update {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}

// Bootstrap style colours
.bulk_update.invalid  { background-color: #d9534f; }
.bulk_update.fail     { background-color: #f0ad4e; }
.bulk_update.skip     { background-color: #5bc0de; }
.bulk_update.process  { background-color: #5cb85c; }
.bulk_update.pending  { background-color: #337ab7; }

table.bulk_update_table {
  th, td { padding :4px; }
  td.csv {
    background-color: #f3f3f3;
  }
  tr:hover td.csv {
    background-color: #ebf3fb
  }
}
