.signup-new {
  [type='submit'] {
    margin-top: 10px;
  }

  .btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .or {
    background: image-url('or.svg') no-repeat center;
    background-size: 30px;
    height: 30px;
  }

  .already-member {
    @extend .text-center;
    color: $boulder;
    font-size: .8rem;
  }

}
