.signup-new {
  [type='submit'] {
    margin-top: 10px;
  }

  .btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .or {
    @extend .text-uppercase;
    @extend .text-center;
    font-family: $primary-font;
    font-style: italic;
    margin: 15px;
  }

  .already-member {
    @extend .text-center;
    color: $boulder;
    font-size: .8rem;
  .email-signup {
    width: 340px;
  }

  input[type="checkbox"] {
    display: none;
  }

}
