/* [Pagination]
-------------------------------------------------------*/
.steps {
  width: 200px;
  left: calc(50% - 100px);
  position: absolute;
  bottom: 0;
}

.pagination {
  padding: 0 4px;
  font-size: 16px;
  color: $greyish;

  &.current {
    color: $black;
    font-weight: 700;
  }
}

.separator {
  display: none;
  font-size: .7rem;
  color: $black;

  &.current {
    display: inline;
  }
}
