defaults: &defaults
  adapter: postgresql
  encoding: utf8
  database: fame_and_partners
  host: 127.0.0.1

development:
  <<: *defaults

staging:
  database: fame_and_partners_staging
  <<: *defaults

production:
  database: fame_and_partners_production
  <<: *defaults

test:
  database: fame_and_partners_test
  <<: *defaults