---
http_interactions:
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/lists/member-info.json
    body:
      encoding: UTF-8
      string: '{"id":"48f8d360f7","emails":[{"email":"some.user6@gmail.com"}],"apikey":"0340ea09d6c21efd808cce3d9c9440f6-us7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success_count":0,"error_count":1,"errors":[{"email":{"email":"some.user6@gmail.com"},"error":"The
        id passed does not exist on this list","code":232}],"data":[]}'
  recorded_at: Thu, 14 Apr 2016 07:45:32 GMT
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"48f8d360f7","email":{"email":"some.user6@gmail.com"},"merge_vars":{"fname":"John","lname":"Doe","ip_address":"101.0.79.50","country":"Australia","l_page":"/dresses/formal","s_version":"US","form_name":"contact"},"email_type":"html","double_optin":false,"update_existing":true,"replace_interests":true,"send_welcome":false,"apikey":"0340ea09d6c21efd808cce3d9c9440f6-us7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"some.user6@gmail.com","euid":"f544a58879","leid":"141267825"}'
  recorded_at: Thu, 14 Apr 2016 07:45:33 GMT
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/lists/unsubscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"48f8d360f7","email":{"email":"some.user6@gmail.com"},"delete_member":true,"send_goodbye":false,"send_notify":false,"apikey":"0340ea09d6c21efd808cce3d9c9440f6-us7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-N:
      - S
    body:
      encoding: UTF-8
      string: '{"complete":true}'
  recorded_at: Thu, 14 Apr 2016 07:45:33 GMT
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/lists/member-info.json
    body:
      encoding: UTF-8
      string: '{"id":"48f8d360f7","emails":[{"email":"some.user6@gmail.com"}],"apikey":"0340ea09d6c21efd808cce3d9c9440f6-us7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success_count":1,"error_count":0,"errors":[],"data":[{"email":"some.user6@gmail.com","id":"f544a58879","euid":"f544a58879","email_type":"html","ip_signup":null,"timestamp_signup":null,"ip_opt":"193.24.30.35","timestamp_opt":"2016-04-14
        07:45:33","member_rating":2,"info_changed":"2016-04-14 07:45:33","web_id":141267825,"leid":141267825,"language":null,"list_id":"48f8d360f7","list_name":"TestList","merges":{"EMAIL":"some.user6@gmail.com","FNAME":"","LNAME":"","IP_ADDRESS":"","COUNTRY":"","N_LETTER":"","L_PAGE":"","U_CAMPAIGN":"","U_SOURCE":"","U_MEDIUM":"","U_TERM":"","U_CONTENT":"","S_VERSION":"","FB_UID":"","FORM_NAME":"","SUBSCRIBED":""},"status":"unsubscribed","is_gmonkey":false,"lists":[],"geo":[],"clients":[],"static_segments":[],"notes":[]}]}'
  recorded_at: Thu, 14 Apr 2016 07:45:33 GMT
recorded_with: VCR 2.9.3
