.u-height--full {
  height: 100%;
}

.u-center {
  margin: 0 auto;
}

.display--block {
  display: block;
}

.u-display--inline {
  display: inline;
}

.u-display--inline-block {
  display: inline-block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.u-overflow--hidden {
  overflow: hidden;
}

.u-position--absolute {
  position: absolute;
}

.u-position--relative {
  position: relative;
}

.u-position--inherit {
  position: inherit;
}

.textAlign--left {
  text-align: left;
}

.u-text-align--center {
  text-align: center;
}

.u-text-align--right {
  text-align: right;
}

.u-cursor--pointer {
  cursor: pointer;
}

.u-user-select--none {
  user-select: none;
}

.padding--none {
  padding: 0;
}

// NOTE: Nav, we will need to merge these :(
// Global Margins
.u-mb-small {
  margin-bottom: 15px;
}

.u-mb-normal {
  margin-bottom: 30px;
}

.u-mb-big {
  margin-bottom: 50px;
}

.u-mr-small {
  margin-right: 15px;
}

.u-mt-small {
  margin-top: 15px;
}

.u-mt-normal {
  margin-top: 30px;
}

.u-mt-big {
  margin-top: 50px;
}

.u-bottom {
  bottom: 0;
}

.u-left {
  left: 0;
}

.u-position--fixed {
  position: fixed;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-overflow-y--scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text-decoration--underline {
  text-decoration: underline;
}

.u-pointerEvents--none {
  pointer-events: none;
}

.u-user-select--none {
  user-select: none;
}

.u-width--full {
  width: 100%;
}

// Flex Helpers
.u-flex {
  display: flex;
}

.u-flex--col {
  display: flex;
  flex-direction: column;
}

.u-flex--center {
  display: flex;
  align-items: center;
}

.u-flex--1 {
  flex: 1;
}
