<div class="Editorial">
  <%= image_tag(@lg_contents[:image], class: 'Editorial__image') %>

  <div class="Editorial__overlay">
    <h4 class="Editorial__overlayTitle">Shop the Look</h4>
    <ul>
    <% @lg_contents[:overlay_pids].each do |pid| %>
      <li>
        <a href="<%= @sample_product_collection[pid][:path] %>">
          <%= @sample_product_collection[pid][:name] %>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
