<div class="CopyHeader">
  <div class="CopyHeader__separator"></div>
  <div class="CopyHeader__content">
    <% @md_contents[:text].each do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>
</div>
