<%
  name = @sample_product_collection[@pid][:name]
  price = @sample_product_collection[@pid][:price]
  image = @sample_product_collection[@pid][:image]
  image_hover = @sample_product_collection[@pid][:image_hover]
%>

<div class="Product">
  <%= image_tag(image, class: 'img-product Product__image', 'data-hover': image_hover, 'data-original': image ) %>
  <p class="Product__name"><%= name %></p>
</div>
<span><%= price %></span>
