<p class="title">ITEM TYPE - LARGE</p>
<div class="content">
  <%= image_tag(@lg_contents[:image], class: 'temp-resize') %>

  <ul>
  <% @lg_contents[:overlay_pids].each do |pid| %>
    <li>
      <%= pid %>
    </li>
  <% end %>
  </ul>
</div>
