/* [Filter / Sort]
-------------------------------------------------------*/

.FilterSort__mobileTriggerBtn {
  text-align: center;
  cursor: pointer;
  border: 2px solid $c-neutral-black;
  padding: 10px 15px;
  display: block;
  width: 100%;
}

.FilterSort__summary {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  font-size: 0.8em;
}

.FilterSort__summaryHighlight {
  font-weight: 600;
}

.ExpandablePanel--mobile {
  display: block;
  position: fixed;
  overflow-y: scroll;
  padding-bottom: 70px;
  background: $c-neutral-white;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  @include transition(transform .6s cubic-bezier(0.480, 0.110, 0.250, 1.060));
  @include transform(translateX(100%));

  &--isOpen {
    @include transform(translateX(0%));
  }

  //Heading
  .ExpandablePanel__heading {
    text-align: center;
    margin-top: 5px;
  }

  // Add background to the filter-reset trigger
  .ExpandablePanel__clearAllWrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    background: $c-neutral-2;
    padding: 3px 0 8px;
    display: block;
  }

  // Trigger to reset all filters
  .ExpandablePanel__clearAll {
    color: $c-neutral-8;
    float: none;
    position: initial;
    text-align: center;
    font-weight: 600;
  }

  // Attach the action buttons to the bottom of screen
  .ExpandablePanel__action {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

}

// Action buttons
.ExpandablePanel__btn {
  cursor: pointer;
  display: inline-block;
  background: $c-neutral-black;
  color: $c-neutral-white;
  border: 1px solid $c-neutral-black;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  width: 50%;

  &--fullWidth {
    width: 100%;
  }

  &:hover,
  &:focus,
  &:active {
    color: $c-neutral-white;
  }

  &--secondary {
    background: $c-neutral-white;
    color: $c-neutral-black;

    &:hover,
    &:focus,
    &:active {
      color: $c-neutral-black;
    }

  }

}

//Heading
.ExpandablePanel__heading {
  margin-top: 30px;
  margin-bottom: 5px;
}

// Panel title
.ExpandablePanel__mainTitle {
  font-family: $font-heading;
  font-size: 1.9em;
  font-weight: 300;
  display: inline-block;
}

// Trigger to reset all filters
.ExpandablePanel__clearAll {
  color: $c-neutral-8;
  font-size: 0.75em;
  text-transform: uppercase;
  float: right;
  position: relative;
  top: 18px;
  @extend .link-underline;
}

.ExpandablePanel__clearAllWrapper {
  display: inline;
}


.ExpandablePanel {

  input[type="checkbox"] {
    display: none;
  }

}

// Container of each item / filter
.ExpandablePanelItem {
  border-top: 1px solid $c-neutral-4;
  padding: 6px 15px 8px 0;
  max-height: 40px;
  background: $c-neutral-white;
  position: relative;
  cursor: pointer;
  @include transition(max-height 1.5s ease-in-out);

  .ExpandablePanelItem__revealed-content{
    opacity: 0;
    @include transition(opacity 0.5s ease-out);
  }

  &--is-active {
    // Just a very tall value, so we can animate it smoothly
    max-height: 9999px;

    .ExpandablePanelItem__revealed-content{
      opacity: 1;
    }

  }

  // When a filter is expanded...
  &--is-active .ExpandablePanel__name:before {
    @include transform(rotate(90deg));
    top: 4px;
    left: -4px;
  }

  // Filter is expanded => Show its options
  &--is-active .ExpandablePanel__listOptions {
    display: block;
  }

  // Secondary filters
  &--secondary {
    padding: 6px 0 0;
    border-top: 0;

    .ExpandablePanel__name {
      font-size: 1.5rem;
      text-transform: none;
      font-weight: 400;
    }

  }

}

// Hide top border from first filter
.ExpandablePanelItem:nth-child(2) {
  border-top: 0;
}

// Wrapper for secondary Filters
.ExpandablePanel__secondaryFiltersWrapper {
  border-top: 1px solid $c-neutral-4;
  padding-top: 10px;
}

// Two-column layout
.ExpandablePanel__listTwoColumns {
  display: flex;
  flex-wrap: wrap;
}

// Fill half of the container
.ExpandablePanel__listColumn {
  flex: 1 0 50%;
  box-sizing: border-box;
  padding-right: 15px;
  @extend .txt-truncate-1;
}

// Filter name
.ExpandablePanel__name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;

  // Display the arrow icon
  &:before {
    font-family: 'icomoon_fame_2015';
    font-size: 1rem;
    color: $c-neutral-6;
    content: "\e624";
    padding-right: 8px;
    display: inline-block;
    position: relative;
  }

}

// List of selected options
.ExpandablePanel__selectedOptions {
  color: $c-neutral-8;
  float: right;
  max-width: 130px;
  @extend .txt-truncate-1;
}

// Each selected item
.ExpandablePanel__selectedItem {
  font-size: 0.75em;

  // Separate each item by comma (except the very last one)
  &:not(:last-child):after {
    content: ", ";
  }

}

// List of available options
.ExpandablePanel__listOptions {
  padding: 15px 0 15px 30px;
  display: none;

  a {
    color: $c-neutral-8;
    text-transform: uppercase;
    @extend .link-underline;
  }

  // Color panels need a different left padding
  &--panelColors,
  &--panelColors .ExpandablePanel__moreOptions {
    padding-left: 15px;
  }

  // TODO: if this is needed elsewhere then it should become a global helper
  input[type="checkbox"]:checked {

    ~ .ExpandablePanel__optionCheck--tick {

      &::after {
        color: $c-neutral-white;
        font-family: 'icomoon_fame_2015';
        font-size: 0.6em;
        content: "\e90f";
        display: inline-block;
        position: relative;
        left: 3px;
        top: -5px;
      }

      // Black font-color for very light bg colors
      &.color-white::after {
        color: $c-neutral-black;
      }

    }

  }

}

// Option label
.ExpandablePanel__option {
  padding: 1px 0;
  font-weight: 400;
  font-size: 0.95em;
  text-transform: capitalize;
  cursor: pointer;
}

// Custom checkbox
.ExpandablePanel__optionCheck {

  // Rounded checkbox / radio
  &--rounded {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
  }

}

// Fallback for colors with no background defined
.ExpandablePanel__optionColorFallback {
  border-radius: 100%;
  background: $c-neutral-4;
  display: inline-block;
  position: relative;
  height: 15px;
  width: 15px;
  top: 2px;
  left: 15px;
}

// Trigger to load more filter options
.ExpandablePanel__moreOptions {
  font-size: 0.65em;
  margin-top: 15px;
}

// List of additional options
.ExpandablePanel__moreOptionsList {
  display: none;

  &--is-active {
    display: block;
  }

}

.CollectionSortApp {
  border-bottom: 1px solid $c-neutral-4;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.CollectionSort {
  width: 275px;
  padding-right: 15px;
  float: right;
}
