/* [Filter / Sort]
-------------------------------------------------------*/
// viewport height all mobile wrappers
.ExpandablePanel--mobile {
  #js-CollectionFilterMobile,
  .CollectionFilterSort,
  .ExpandablePanel--wrapper {
    height: 100%;
  }
}

.ExpandablePanel--mobile .FilterSort {
  height: 1000px;
}

.FilterSort__border {
  border: 2px solid $c-neutral-black;
}

.FilterSort__mobileTriggerBtn {
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.FilterSort__final {
  margin-top: 14px;
  margin-bottom: 30px;
}

.FilterSort__summary {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.ExpandablePanel--mobile {
  display: block;
  position: fixed;
  overflow-y: scroll;
  background: $c-neutral-white;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  @include transition(transform .6s cubic-bezier(0.480, 0.110, 0.250, 1.060));
  @include transform(translateX(100%));

  &--isOpen {
    @include transform(translateX(0%));
  }

  //Heading
  .ExpandablePanel__heading {
    text-align: center;
    margin-top: 5px;
  }

  // Add background to the filter-reset trigger
  .ExpandablePanel__clearAllWrapper {
    margin: 10px 0;
    background: $c-neutral-2;
    padding: 3px 0 8px;
    display: block;
    text-align: center;
  }

  // Trigger to reset all filters
  .ExpandablePanel__clearAll {
    color: $c-neutral-8;
    float: none;
    position: initial;
    text-align: center;
    font-weight: 600;
  }

  // Attach the action buttons to the bottom of screen
  .ExpandablePanel__action {
    width: 100%;
    position: sticky;
    bottom: 0;
  }

  .ExpandablePanel__filterTriggers--cancel-apply {
    display: flex;
    width: 100%;
  }

}

// Action buttons
.ExpandablePanel__btn {
  cursor: pointer;
  display: inline-block;
  background: $c-neutral-black;
  color: $c-neutral-white;
  border: 1px solid $c-neutral-black;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  width: 50%;

  &--fullWidth {
    width: 100%;
  }

  &:hover,
  &:focus,
  &:active {
    color: $c-neutral-white;
  }

  &--secondary {
    background: $c-neutral-white;
    color: $c-neutral-black;

    &:hover,
    &:focus,
    &:active {
      color: $c-neutral-black;
    }

  }

}

//Heading
.ExpandablePanel__heading {
  margin-bottom: 5px;
}

// Panel title
.ExpandablePanel__mainTitle {
  font-family: $font-heading;
  font-size: 1.9em;
  font-weight: 300;
  display: inline-block;
}

// Trigger to reset all filters
.ExpandablePanel__clearAll {
  color: $c-neutral-8;
  font-size: 0.75em;
  text-transform: uppercase;
  float: right;
  position: relative;
  top: 18px;
  @extend .link-underline;
}

.ExpandablePanel__clearAllWrapper {
  display: inline;
}


.ExpandablePanel--wrapper {

  input[type="checkbox"] {
    display: none;
  }

}

// Container of each item / filter
.ExpandablePanelItem {
  border-top: 1px solid $c-neutral-4;
  max-height: 60px;
  background: $c-neutral-white;
  padding: 10px 30px;
  position: relative;
  cursor: pointer;
  @include transition(max-height 1.5s ease-in-out);

  .ExpandablePanelItem__revealed-content{
    opacity: 0;
    @include transition(opacity 0.5s ease-out);
  }

  &--is-active {
    // Just a very tall value, so we can animate it smoothly
    max-height: 9999px;

    .ExpandablePanelItem__revealed-content{
      opacity: 1;
    }

  }

  // When a filter is expanded...
  &--is-active .ExpandablePanel__name:before {
    @include transform(rotate(-90deg));
  }

  // Filter is expanded => Show its options
  &--is-active .ExpandablePanel__listOptions {
    display: block;
  }
  // Filter is expanded => Show its options
  &--is-active .ExpandablePanel__selectedOptions {
    opacity: 0;
  }


  // Secondary filters
  &--secondary {
    padding: 6px 0 0;
    border-top: 0;

    .ExpandablePanel__name {
      font-size: 1.5rem;
      text-transform: none;
      font-weight: 400;
    }

  }

}

@media (min-width: $bootstrap-md-width) {
  .ExpandablePanelItem {
    padding: 0px;
  }
}

.ExpandablePanelItem__item-bar {
  padding: 6px 15px 8px 0;
}

// Hide top border from first filter
.ExpandablePanelItem:nth-child(2) {
  border-top: 0;
}

// Wrapper for secondary Filters
.ExpandablePanel__secondaryFiltersWrapper {
  border-top: 1px solid $c-neutral-4;
  padding-top: 10px;
}

// Two-column layout
.ExpandablePanel__listTwoColumns {
  display: flex;
  flex-wrap: wrap;
}

// Fill half of the container
.ExpandablePanel__listColumn {
  flex: 1 0 50%;
  box-sizing: border-box;
  padding-right: 15px;
  position: relative;
  @extend .txt-truncate-1;
}

// Filter name
.ExpandablePanel__name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;

  // Display the arrow icon
  &:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 15px;
    height: 8px;
    right: 4px;
    background: url(/assets/react_components/caret.svg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 10px;
    transition: transform 0.17s;
    transform-origin: top;
    margin-right: 5px;
  }

}

// List of selected options
.ExpandablePanel__selectedOptions {
  color: $c-neutral-8;
  float: right;
  max-width: 130px;
  opacity: 1;
  @include transition(0.3s opacity);
}

// Each selected item
.ExpandablePanel__selectedItem {
  font-size: 0.75em;

  // Separate each item by comma (except the very last one)
  &:not(:last-child):after {
    content: ", ";
  }

}

// List of available options
.ExpandablePanel__listOptions {
  padding: 0 0 15px 13px;
  display: none;

  a {
    color: $c-neutral-8;
    text-transform: uppercase;
    @extend .link-underline;
  }

  // Color panels need a different left padding
  &--panelColors,
  &--panelColors .ExpandablePanel__moreOptions {
    padding-left: 10px;
  }

  // TODO: if this is needed elsewhere then it should become a global helper
  input[type="checkbox"]:checked {

    ~ .ExpandablePanel__optionCheck--tick {

      &::after {
        color: $c-neutral-white;
        font-family: 'icomoon_fame_2015';
        font-size: 0.6em;
        content: "\e90f";
        display: inline-block;
        position: relative;
        left: 3px;
        top: -5px;
      }

      &.inverse::after {
        color: $c-neutral-12;
      }

      // Black font-color for very light bg colors
      &.color-white::after {
        color: $c-neutral-black;
      }

    }

  }

}

// Option label
.ExpandablePanel__option {
  padding: 1px 0;
  font-weight: 400;
  font-size: 0.95em;
  text-transform: capitalize;
  cursor: pointer;
  // &.two-col {
  //   width: 50%;
  //   float: left;
  // }
}

// Custom checkbox
.ExpandablePanel__optionCheck {

  // Rounded checkbox / radio
  &--rounded {
    border-radius: 100%;
    height: 17px;
    width: 17px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
  }

}

// Fallback for colors with no background defined
.ExpandablePanel__optionColorFallback {
  border-radius: 100%;
  background: $c-neutral-4;
  display: inline-block;
  position: absolute;
  height: 17px;
  width: 17px;
  top: 3px;
}

// Trigger to load more filter options
.ExpandablePanel__moreOptions {
  font-size: 0.65em;
  margin-top: 15px;
}

// List of additional options
.ExpandablePanel__moreOptionsList {
  display: none;

  &--is-active {
    display: block;
  }

}

.CollectionSortApp {
  border-bottom: 1px solid $c-neutral-4;
  padding-bottom: 14px;
  margin-bottom: 34px;
  min-height: 50px;
  display: none;
}

.CollectionSort {
  width: 275px;
  padding-right: 15px;
  float: right;
  .Select--wrapper {
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (min-width: $bootstrap-md-width) {
  .CollectionSortApp {
    display: block;
  }
}

.CollectionSortMobile ul {
  list-style: none;
    padding: 0;
}

.CollectionSortMobile li {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
  border-bottom: 1px solid $c-neutral-4;
  font-weight: 500;
  color: #9a9a9a;

  &.is-active {
    color: $c-neutral-12;
    font-weight: 600;
  }

  &:first-child {
    border-top: 1px solid $c-neutral-4;
  }
}

.ExpandablePanel-filter--mobile .ExpandablePanel__name {
  font-size: 1.6rem;
}

.CollectionSortMobile .ExpandablePanel__btn {
  width: 100%;
}

.CollectionSortMobile .ExpandablePanel__action {
  position: fixed;
}
