.LeftHandNav__Container {
  .Category__Container {
    padding-left: 5px;
  }
  .subcategory-available {
    margin-left: -5px;
  }
  .subcategory-available .navigation-link {
    margin-left: 0;
  }
  .arrow-icon {
    font-family: 'icomoon_fame_2015';
    font-size: 1rem;
    color: #bcbcbc;
    content: "\e624";
    padding-right: 8px;
    display: inline-block;
    position: relative;
   }
  .ExpandablePanel__name.active {
    transform: rotate(90deg);
  }
  .Category__Container li {
    font-size: 14px;
    list-style: none;
    border-bottom: 1px solid $c-gray;
    padding: 10px 0;
  }
  .Category__Container li.active-category {
    border-bottom: 1px solid $c-gray;
    border: none;
  }
  .Category__Container li:last-child {
    border-bottom: none;
  }
  .LeftHandNav__subcategoryList {
    padding-left: 19px;
    list-style: none;
    text-transform: lowercase;
  }
  .Category__Container li.sub-category {
    border: none;
    padding: 2px 0;
  }
  .LeftHandNav__subcategoryList li:last-child {
    margin-bottom: 15px;
  }
  .navigation-link {
    color: $c-gray;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 23px;
  }
  .LeftHandNav__subcategoryList .navigation-link {
    text-transform: capitalize;
    margin-left: 0;
  }
  .navigation-link--active {
    font-weight: 600;
    color: #000000;
    cursor: pointer;
  }
}