.LeftHandNav__container {
  li {
    font-size: 14px;
    list-style: none;
  }
  li a {
    color: #747474;
  }
  .LeftHandNav--categoryContainer {
    padding-left: 5px;
  }
  .LeftHandNav--subcategoryList {
    padding-left: 19px;
  }
  .LeftHandNav--subcategoryList li:last-child {
    margin-bottom: 15px;
  }
  .LeftHandNav--categoryLabel {
    text-transform: uppercase;
    margin-top: 25px;
    color: #747474;
    cursor: pointer;
  }
  .LeftHandNav--activeLink {
    font-weight: 600;
  }
  .LeftHandNav--link {
    font-weight: 400;
  }
}