.LeftHandNav--container {
  li {
    font-size: 14px;
    list-style: none;
  }
  li a {
    color: #747474;
  }
  .LeftHandNav__categoryContainer {
    padding-left: 5px;
  }
  .LeftHandNav__subcategoryList {
    padding-left: 19px;
  }
  .LeftHandNav__subcategoryList li:last-child {
    margin-bottom: 15px;
  }
  .LeftHandNav__categoryLabel {
    text-transform: uppercase;
    margin-top: 25px;
    color: #747474;
    cursor: pointer;
  }
  b {
    cursor: pointer;
  }
}