/* [Panel Compact]
-------------------------------------------------------*/
.panel-compact {
  display: block;
  margin-bottom: 30px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: $c-neutral-black;

  &:hover {
    color: $c-neutral-black;
  }

  .media-wrap {
    padding-bottom: 100%;
  }

  .copy-wrap {
    margin-top: 10px;
  }

  img {
    width: auto;
    height: 100%;
  }

  &.alt {

    .copy-wrap {
      margin-top: 40px;
      padding: 0 10%;
    }

    .icon {
      display: inline-block;
      padding: 10px 30px;
      margin-bottom: 15px;
      font-size: 28px;
      border: solid $c-neutral-5 1px;
    }

    .heading {
      margin-bottom: 15px;
      font-family: $font-family-secondary;
      font-size: 1.125em;
      font-weight: bold;
    }

    em {
      font-family: $font-family-secondary;
      font-size: 5rem;
      font-style: italic;
      font-weight: 400;
      color: $c-neutral-5;
    }

    p {
      margin-bottom: 0;
      text-transform: none;
      font-size: 1.25em;
      font-weight: 300;
    }

    // START - desktop
    @media (min-width: $bootstrap-md-width) {

      .copy-wrap {
        margin-top: 20px;
        padding: 0;
      }

      .heading {
        margin-bottom: 10px;
        font-size: 0.75em;
      }

      p {
        font-size: 0.875em;
      }

    }
    // END - desktop

  }

}
