/* [Panel Product]
-------------------------------------------------------*/
.panel-product {
  position: relative;
  margin-bottom: 30px;

  .media-wrap {
    padding-bottom: 144%;
  }

  .details-wrap {
    padding: 20px 0;
    text-align: center;
    font-size: 0.938em;

    .product-name {
      font-weight: 500;
    }

    .original-price {
      text-decoration: line-through;
    }

    .sale-price {
      color: $c-brand-red;
    }

  }

  .actions-wrap {
    margin-left: -5px;
    margin-right: -5px;
    @extend %cfix;

    .inner-wrap-full {
      padding: 0 5px;
    }

    .inner-wrap {
      float: left;
      width: 50%;
      padding: 0 5px;
    }

  }

  .comments-trigger-wrap {
    margin-top: 15px;
    text-align: center;

    .form-group {
      margin-bottom: 15px;
    }

    label,
    input:not(.btn),
    textarea {
      font-size: 0.875em;
      border-radius: 0;
    }

    textarea {
      outline: none;
      border-color: $c-neutral-6;
    }

    .comments-trigger {
      text-decoration: underline;
      font-size: 0.875em;
      color: $c-neutral-black;
    }

    .modal {
      z-index: 1041;
    }

    .modal-content {
      text-align: left;
      border-radius: 0;
      box-shadow: none;
    }

    .modal-title {
      text-transform: none;
      font-weight: 500;
    }

    .modal-header {
      border-bottom: none;
    }

    .modal-body {
      max-height: 380px;
      overflow-y: scroll;
      margin: 0 15px;
    }

    .modal-footer {
      text-align: left;
      border-color: $c-neutral-4;
    }

    .comment-wrap {
      margin-bottom: 15px;
      @extend %cfix;

      textarea {
        width: 100%;
        padding: 5px;
        resize: none;
        border-color: $c-neutral-4;
      }

      .user-name {
        float: left;
        width: 20%;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 0.875em;
        font-weight: 500;
      }

      .user-comment {
        float: left;
        width: 80%;
        padding-left: 20px;

        p {
          padding: 5px;
          font-size: 0.875em;
          font-weight: normal;
          color: $c-neutral-12;
        }

      }

      .toolbar {
        float: right;

        .btn, 
        a {
          display: inline-block;
          padding: 5px 0 5px 10px;
          text-transform: none;
          font-size: 0.875em;
          font-weight: normal;
          line-height: 1;
          vertical-align: middle;
          color: $c-neutral-6;
          background: transparent;
        }

      }

    }

    @include iphone6 {

      .comment-wrap {

        .user-name,
        .user-comment {
          width: 100%;
        }

        .user-comment {
          padding-left: 0;
        }

      }

      .modal-dialog {
        margin: 0;
      }

      .modal-body {
        margin: 0;
      }

      .modal-footer .btn {
        width: 100%;
      }

    }

  }

  .btn {
    display: block;
    padding: 8px 10px;
    letter-spacing: normal;
    font-size: 0.688em;
  }

  .btn-close {
    position: absolute;
    top: 15px;
    right: 30px;
    text-indent: -9999em;
  }

}
