/* [Panel Split]
-------------------------------------------------------*/
.panel-split {
  position: relative;
  background: $c-neutral-3;
  @extend %cfix;

  .content-wrap {
    padding: 40px 20px;
    text-align: center;
  }

  .heading {
    margin: 0 0 40px 0;
    text-transform: none;
    font-family: $font-heading;
    font-size: 3.125em;

    em span {
      display: block;
      font-size: 0.64em;
    }

  }

  @include desktop {
    min-height: 400px;

    .content-wrap-outer {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
    }

    .content-wrap-inner {
      display: table;
      width: 100%;
      height: 100%;
    }

    .content-wrap {
      display: table-cell;
      vertical-align: middle;
      padding: 0 40px;
    }

    .media-wrap {
      width: 50%;
      float: left;
      left: 50%;
    }

    &.image-left {

      .media-wrap {
        left: 0;
      }

      .content-wrap-outer {
        left: 50%;
      }

    }

    .heading {
      font-size: 3.75em;

      &.alt-size {
        font-size: 3.125em;
      }

    }

  }

  // versions
  &.alt {
    background: transparent;

    .content-wrap {
      position: relative;
      padding: 0 0 30px 0;
    }

    .section-heading {
      margin: 0 0 20px;
    }

    p,
    li,
    address {
      font-size: 1.25em;
    }

    .btn {
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 500;
    }

    p,
    a,
    ul,
    address,
    .btn {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

    }

    .icon {
      position: absolute;
      bottom: -35px;
      left: 50%;
      margin-left: -35px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      font-size: 32px;
      background: $c-neutral-white;
      border: solid $c-neutral-2 1px;
      border-radius: 50%;
      z-index: 1;
      @include box-shadow(0 1px 3px 0 rgba($c-neutral-black, .25));
    }

    // START - mobile only
    @media (max-width: $bootstrap-md-width - 1px) {

      ul {
        padding: 0;
        list-style: none;
      }

    }
    // END - mobile only

    @include desktop {
      min-height: 320px;

      .content-wrap {
        padding: 0 20% 0 0;
        text-align: left;
      }

      ul {
        padding-left: 20px;
      }

      .icon {
        top: 50%;
        bottom: auto;
        left: auto;
        right: -35px;
        margin-top: -35px;
        margin-left: 0;
      }

      &.image-left .content-wrap {
        padding: 0 0 0 20%;
      }

    }

  }

}
