

.polyvore_201507_modal.email-capture-modal {
  .vex-content {
    background-color:      #ffffff;
    background-image:      url('modals/polyvore_black_on_white.png');
    background-position-y: 25px;
    background-position-x: center;
    min-width:             75%;
    background-repeat:     no-repeat;
    border:                1px solid black;
    text-transform:        uppercase;

    .vex-dialog-form {
      margin-top: 90px;

      .vex-dialog-buttons {
        .vex-dialog-button-secondary.vex-dialog-button.vex-last {
          border:            none;
          background-image:  url('close.svg');
          background-color:  transparent;
          background-repeat: no-repeat;
          background-size:   cover;
          color:             transparent;
          height:            28px;
          width:             28px;
          margin:            0;
          padding:           0;
          margin-right:      7px;
        }
      }

      .vex-dialog-message {
        text-align: center;
        h2 { font-size: 24px; }
        p {
          font-size: 24px;
          font-weight: 300;
          strong {
            font-size:   30px;
            font-weight: 500;
          }
        }
      }

      .vex-dialog-input {
        margin-bottom: 0;

        .vex-footer {
          height:           100%;
          background-color: #000000;
          padding:          10px 0;
          margin:           45px 0 0 0;
          color:            #ffffff;

          td.modal-panel {
            width:      45%;
            padding:    0 20px;
            text-align: center;
          }
          td.separator-panel {
            width: 10%;
          }

          table.email-form {
            width:     100%;
            max-width: 450px;
          }

          .btn-facebook { max-width: 450px; }

          .or-rhombus {
            color:      #000000;
            max-height: 100px;
            max-width:  100px;

            .rhombus-text {
              font-size:   1.8rem;
              font-weight: 400;
            }
          }

          input {
            &::-webkit-input-placeholder { color: #ffffff; }
            &:-moz-placeholder { /* Firefox 18- */ color: #ffffff; }
            &::-moz-placeholder { /* Firefox 19+ */ color: #ffffff; }
            &:-ms-input-placeholder { color: #ffffff; }

            border-radius: 0;
            background:    none;
            border:        none;
            border-bottom: 1px solid #ffffff;
            color:         #ffffff;
            height:        45px;
            min-height:    45px;
            margin:        0;
            padding:       0;
            width:         100%;

            &.btn {
              margin-left: 5px;
              width:       7rem;
            }
          }
        }
      }
    }
  }
}

.polyvore_201507_modal_thanks {
  background-image: none;

  .vex-dialog-message p { text-transform: none; }

  .vex-dialog-buttons {
    .vex-dialog-button-secondary.vex-dialog-button.vex-last {
      border:            none;
      background-image:  url('close.svg');
      background-color:  transparent;
      background-repeat: no-repeat;
      background-size:   cover;
      color:             transparent;
      height:            28px;
      width:             28px;
      margin:            0;
      padding:           0;
      margin-top:        7px !important;
      margin-right:      7px;
    }
  }

  .vex-footer {
    .action {
      background-color: #ffffff;
      color:            #000000;
      margin:           0;
    }
  }
}

@media (max-width: 768px) {
  .polyvore_201507_modal.email-capture-modal {
    .vex-content { width: 95%;
      .vex-dialog-form {
        .vex-dialog-input {
          .vex-footer {
            td.modal-panel {
              display: block !important;
              width:   100%;
              padding: 0 20px;
              //      text-align: center;
            }
            td.separator-panel {
              display: block !important;;
              width:   100%;

              .or-rhombus {
                max-width: 75px;
                max-height: 75px;
                margin: 10px auto; }
            }
          }
        }
      }
    }
  }
}
