- cache ['views/data/_bridesmaids_filter'] do
javascript:
  window.BridesmaidsFilterData = {
    /**
      NOTE:
        The mockup uses a grid of 18, are these hardcoded?
        'colors' data structure below is copied from current
        PDP: Escala (Teal), with 'extra' appended to 'default',
        and anything beyond 18 total items dropped.
    */
    colors:
      #{raw @swatch_colors}
    ,
    // TODO: get actual silhouette data
    silhouettes: {
      options: [
        {
          id: 1,
          name: 'Fit and Flare',
          description: "Fitted through the waist and flaring at the hips",
          image: "http://via.placeholder.com/175x225"
        },
        {
          id: 2,
          name: 'Column',
          description: "Slim-fitting with a straight narrow shape",
          image: "http://via.placeholder.com/175x225"
        },
        {
          id: 3,
          name: 'A-Line',
          description: "Slowly widens towards the hem",
          image: "http://via.placeholder.com/175x225"
        }
      ]
    },
    // TODO: get actual length data
    lengths: {
      options: [
        {
          id: 1,
          name: 'Micro-Mini',
          image: "http://via.placeholder.com/125x300"
        },
        {
          id: 2,
          name: 'Mini',
          image: "http://via.placeholder.com/125x300"
        },
        {
          id: 3,
          name: 'Knee',
          image: "http://via.placeholder.com/125x300"
        },
        {
          id: 4,
          name: 'Midi',
          image: "http://via.placeholder.com/125x300"
        },
        {
          id: 5,
          name: 'Ankle',
          image: "http://via.placeholder.com/125x300"
        },
        {
          id: 6,
          name: 'Maxi',
          image: "http://via.placeholder.com/125x300"
        }
      ]
    },
    // TODO: get actual top details data
    top_details: {
      options: [
        {
          id: 1,
          name: 'Strapless',
          image: "http://via.placeholder.com/150x200"
        },
        {
          id: 2,
          name: 'Strappy',
          image: "http://via.placeholder.com/150x200"
        },
        {
          id: 3,
          name: 'Open Neckline',
          image: "http://via.placeholder.com/150x200"
        },
        {
          id: 4,
          name: 'Shoulder Coverage',
          image: "http://via.placeholder.com/150x200"
        },
        {
          id: 5,
          name: 'Arm Coverage',
          image: "http://via.placeholder.com/150x200"
        },
        {
          id: 6,
          name: 'Covered Neckline',
          image: "http://via.placeholder.com/150x200"
        },
        {
          id: 7,
          name: 'Backless',
          image: "http://via.placeholder.com/150x200"
        }
      ]
    }
  };
