#events__moodboard {
  height: 100vh;
  padding-top: 69px;

  .chat-react-container {
    height: 100%;
  }

  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #chat.left-content {
    padding: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    box-shadow: 1px 2px 5px #888888;

    /* chat header */

    .chat-general-info {
      height: 40px;
      padding: 10px 5px;
      border-bottom: 1px solid $greyish;
      width: 98%;
    }

    .chat-header-left-side {
      display: inline-block;
    }

    .chat-header-right-side {
      display: inline-block;

      .stylist-photo {
        width: 24px;
        height: 24px;
      }
    }

    /* chat messages */

    .chat-log {
      width: 100%;
      padding: 50px;
      overflow: auto;

      flex-grow: 1;
    }

    .msg-simple {
      width: 500px;
    }

    .msg-data {

      img.photo {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }

      .profile {
        color: $greyish;
      }

    }

    .msg-text {
      margin-left: 35px;
      background-color: $white-three;
      border-radius: 7px;
      padding: 7px;
    }


    /* Chat actions */

    .chat-actions {
      height: 65px;
      max-height: 65px;
      min-height: 65px;
      width: 100%;
      display: flex;
      background-color: $white-three;
    }

    button.upload-image {
      background-image: image-url('wedding-atelier/icon-upload-image.png');
      border: 0;
      width: 32px;
      height: 34px;
      margin: 8px;
    }

    .message-input {
      flex-grow: 1;
      margin: 6px 0;

      input {
        padding: 5px;
        width: 100%;
        height: 100%;
      }
    }

    .btn-send-container {
      margin: 6px;

      .btn-send-to-chat {
        width: 110px;
        border-radius: 2px;
        height: 100%;
      }
    }
  }

  @include screen-xs {
    #chat.left-content { display: none; }
  }

  @include screen-sm {
    #chat.left-content { display: none; }
  }

  @include screen-md {
    #chat.left-content { display: flex; }
  }

  @include screen-lg {
    #chat.left-content { display: flex; }
  }

  #atelier {
    height: 100%;

    .right-container {
      height: 100%;
    }

    h1.moodboard-title {
      margin: 23px 0;
    }

    /* GENERAL STYLES FOR TABS */

    .moodboard-tabs {
      width: 90%;
      min-width: 560px;
      height: calc(100% - 43px);

      .nav-tabs {
        width: 678px;
      }

      .nav-tabs > li > a::after {
        content: "";
        background: $black;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
      }
      .nav-tabs > li.active > a::after,
      .nav-tabs > li:hover > a::after {
        transform: scale(1);
      }

      .nav-tabs > li.active > a,
      .nav-tabs > li.active > a:hover,
      .nav-tabs > li.active > a:focus {
        border: 1px solid transparent;
        border-bottom: 2px solid $black;
      }

      .nav-tabs > li > a {
        color: $black-two;
        font-family: NeuzeGro;
        text-decoration: none;
        font-size: 14px;
      }

      .nav-tabs > li > a:hover {
        border: 1px solid transparent;
        background-color: transparent;
      }

      .nav-tabs > li.active {
        border: 0;
      }

      .tab-content {
        overflow: auto;
        height: calc(100% - 34px);
      }
    }

    /* FIRST TAB — BRIDESMAID DRESSES */

    #bridesmaid-dresses {
      padding: 35px 0;
    }

    .add-dress-box {
      margin-top: 30px;

      button {
        border: 2px dashed $white-four;
        height: 307px;
        width: 242px;
        background-image: image-url('wedding-atelier/add-dress.png');
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 36px 109px;
        text-indent: -9999px
      }
    }

    /* container when there are dresses */
    .dresses-list {
      padding-top: 25px;
      height: 100%;
      overflow: auto;
    }

    .dress-boxes {
      display: flex;
    }

    .btn-transparent.btn-create-a-dress {
      border: 1px solid $black;
      font-family: NeuzeGro;
      font-weight: 400;
      font-size: 1.07em;

      em {
        text-transform: none;
        text-decoration: underline;
        font-family: FreightDispPro;
      }
    }

    .btn-create-a-dress:hover {
        background-color: transparent;
    }

    /* a dress into the list */

    .dress-box {
      width: 308px;
      min-width: 308px;
      display: flex;
      flex-direction: column;
      margin: 20px;
    }

    .top-info {
      background-color: $white-two;

      span {
        color: $greyish;
        font-family: NeuzeGro;
        line-height: 1.92em;
        font-size: 0.8em;
        margin-left: 8px;
      }
    }

    .dress-box-header {
      background-color: $white-three;

      display: flex;
      padding: 15px;
      justify-content: space-between;

      .likes {
        display: flex;
      }

      .icon-unliked {
        width: 26px;
        height: 22px;
      }

      .icon-liked {
        width: 26px;
        height: 22px;
      }

      .icon-close {
        text-indent: -9999px;
        margin: 4px;
      }
    }

    .dress-box-body {
      flex-grow: 1;
      background-color: $white-three;
      img {
        border: 1px dashed gray;
        width: 223px;
        height: 316px;
      }
    }

    .dress-info {
      display: flex;
      justify-content: space-between;
      width: 200px;
      padding: 14px 0;

      strong {
        text-transform: uppercase;
      }
    }

    .dress-box-footer {
      display: flex;
      justify-content: space-between;
      background-color: $white-two;
      width: 90%;
      height: 40px;
      align-items: center;
    }

    .btn-send-to-chat {
      background: image-url('wedding-atelier/icons/send-to-chat.svg');
      border: 0;
      background-color: transparent;
      font-weight: bold;
      background-size: contain;
      background-repeat: no-repeat;
      padding-left: 27px;
      height: 25px;
    }

    .btn-add-to-cart {
      background-color: transparent;
      border: 0;
      text-decoration: underline;
      font-weight: bold;
      text-transform: uppercase;
    }

  /* SECOND TAB — WEDDING DETAILS */

    #wedding-details {
      padding-top: 60px;

      form {
        width: 340px;
      }

      .btn-black {
        padding: 0 35px;
      }
    }

  /* THIRD TAB - MANAGE BRIDAL PARTY */

    #manage-bridal-party {
      padding-top: 60px;
      width: 340px;

      h1 {
        font-family: FreightDispPro;
        margin-bottom: 29px;
        em {
          font-weight: 400;
        }
      }

      .btn-facebook-fancy {
        display: inline-block;
        width: 100px;
      }
    }

    .btn-send-invite {
      border: 1px dashed red;
    }

    .invited-people {
      height: 134px;
      overflow: auto;
      border-top: 1px solid $greyish;
      border-bottom: 1px solid $greyish;
      margin-top: 21px;
    }

    .person {
      font-family: NeuzeGro;
      letter-spacing: 0.7px;
      font-size: 0.82em;
      text-transform: uppercase;
      margin: 16px 0;
    }

    .person-name {
      color: $black;
    }

    .person-role {
      color: $warm-grey;
    }


  }
}
