.onboarding-container {
  background-color: $white-two;
  height: 100vh;
  margin-top: 55px;
  padding-top: 15px;

  .button-area {
    margin-top: 10px;
  }

  h1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
    line-height: .96;
    letter-spacing: 0.9px;

    @include screen-lg {
      font-size: 42px;
    };
  }

  .left-side-centered-container {
    max-width: 340px;
    margin: 0 auto;

    &.registrations__new-form {
      margin-bottom: 50px;
    }

    @include screen-lg {
      max-width: 440px;
    };
  }

  @include screen-sm {

    margin: 0;
    padding: 0;

    .btn-white + .btn-black {
      margin-top: 10px;
    }

    .left-side,
    .right-side {
      height: 100%;
    }

    .left-side {
      background-color: $white-three;
      background-image: image-url('wedding-atelier/marbel.png');
      padding: 40px 0;
    }

    .right-side {
      background-size: cover;
      background-repeat: no-repeat;
      display: table;
    }

    .signup-background {
      background-image: image-url('wedding-atelier/onboarding/signup.jpg');

      &.size {
        background-image: image-url('wedding-atelier/onboarding/size.jpg');
      }

      &.details {
        background-image: image-url('wedding-atelier/onboarding/details.jpg');
      }

      &.invite {
        background-image: image-url('wedding-atelier/onboarding/invite.jpg');
      }
    }

    .left-side-container {
      background-color: $white-two;
      display: table;
      height: 100%;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    .fp-logo-float {
      background: image-url('fp-logo-white.svg') no-repeat center;
      background-size: 70%;
    }

  }

  @include screen-lg {
    .left-side {
      padding: 60px 0;
    }
  }

  @include screen-xs {
    .left-side-container {
      width: 100%;
      margin: 0 auto;
      max-width: 260px;
    }

    .left-side-centered-container {
      max-width: 260px;
    }
  };
}
