.registrations__details-form {

  .date {
    width: 100%;
  }

  .wedding-date {
    border-right: 0;
  }

  .input-group-addon {
    border-left: 0;
    background-color: transparent;
    border-radius: 0;
  }

  .calendar-icon {
    width: 19px;
    height: 19px;
    display: block;
    background-image: image-url('wedding-atelier/1476418446-calendar.png');
    background-repeat: no-repeat;
  }

}
