.registrations_invite-form {

  .add-another {
    @extend .text-center;
    margin: 10px;
  }

  .invitations {
    min-height: 100px;
    max-height: 250px;
    overflow-y: auto;
  }

  .invitation :not(first) {
    margin-top: 5px;
  }
}
