.registrations__new-form {

  .or {
    @extend .text-uppercase;
    @extend .text-center;
    font-family: $primary-font;
    font-style: italic;
    margin: 12px 12px 0 0;
  }

  .btn-black {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .checkbox {
    text-align: center;

    label {
      margin: 0;
    }

  }

  .already-member {
    @extend .text-center;
    color: $boulder;
    font-size: .8rem;
    @include screen-sm {
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    .btn-black {
      @include block-center(10px);
      width: 150px;
    }
  }

}
