.steps {
  @extend .text-center;
  color: $greyish;
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  font-family: $secondary-font;
  font-size: 14px;

  li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;

    &.current {
      color: $black;
    }

  }

  .dash {
    background: $black;
    width: 31px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
  }
}
