.signup-new {
  @extend .container-fluid;
  background-color: $white-two;
  margin: 50px 10px 20px;
  padding: 15px;

  h1 {
    @extend .text-center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .left-side {
    @extend .col-xs-12;
    @extend .col-sm-6;
  }

  [type='submit'] {
    margin-top: 10px;
  }

  .right-side {
    @extend .col-sm-6;
  }

  .right-side,
  .steps {
    @extend .hidden-xs;
  }

  .btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .or {
    background: image-url('or.svg') no-repeat center;
    background-size: 30px;
    height: 30px;
  }

  @media screen and (min-width: $screen-sm-min) {
    margin: 0;
    padding: 0;

    .left-side,
    .right-side {
      height: 100vh;
    }

    .left-side {
      background-image: image-url('spree_wedding_atelier/marbel.png');
      padding: 50px 60px;
    }

    .right-side {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: image-url('spree_wedding_atelier/bitmap.png');
    }

    .left-side-container {
      background-color: $white-two;
      height: 100%;
      padding: 40px 80px;
    }

    .right-side-container {
      padding: 10px;
    }

    .email-signup {
      width: 340px;
    }

  }
}
