@font-face {
  font-family: FreightDispProLightItalic;
  src: font-url('../fonts/Freight/FreightDispProLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: FreightDispPro-Regular;
  src: font-url('../fonts/Freight/FreightDispPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: NeuzeitGro-Bol;
  src: font-url('../fonts/Neuzeit/NeuzeitGro-Bol.woff2') format('woff2');
}
