/* [Card - customize]
-------------------------------------------------------*/
.c-card-customize {

  &__header {
    margin-bottom: 20px;

    span {
      font-style: italic;
    }

  }

  &__content {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding-left: 30px;
    color: inherit;
    @extend %cfix;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 12px;
      height: 12px;
      border: solid $c-neutral-5 1px;
    }

    &.is-selected:before {
      background: $c-neutral-black;
      border-color: $c-neutral-black;
    }

    .selection {
      text-align: right;
    }

  }

  &__content__left {
    float: left;
    width: 33%;
    text-decoration: underline;
  }
  &__content__left:hover {
    text-decoration: underline;
  }

  &__content__right {
    float: left;
    width: 67%;
    text-align: right;
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    &.active {
      display: block;
    }

    &__content {
      margin-bottom: 10px;
      padding: 6px 15px 6px 38px;
      border: solid $c-neutral-5 1px;

      &:before {
        left: 8px;
        top: 50%;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        border: solid $c-neutral-5 1px;
      }

    }

    &__content__left {
      text-decoration: none;
    }

  }

}
