.gurl_com_modal.email-capture-modal {
  .vex-content {
    background-color:      $pink-bg;
    background-image:      url('modals/basic-pink-modal.png');
    background-position-y: 0;
    background-repeat:     no-repeat;
    border:                3px solid black;
    min-height:            407px;
    text-transform:        uppercase;

    .vex-dialog-form {
      margin:    0 auto;

      .vex-dialog-message {
        padding:    110px 20px 0px 20px;
        text-align: center;

        h2 {
          background-color: transparent;
          color:            #000;
          font-family:      $font-brand-serif!important;
          font-size:        6rem;
          font-weight:      200;
          line-height:      4.8rem;
          max-width:        28em;
        }
        p {
          color:       black;
          font-family: $font-family-secondary;
          font-size:   3.5rem;
          font-weight: 400;
          line-height: 3.5rem;
          text-align:  center;
          padding-top: 3rem;
        }

      }

      .vex-dialog-input {
        display: none;
      }
    }
  }
}
// PROMOCODE GURL20
// HEADING: Hey gurl,<br/>here's $20 off <br/>just for you!
// MESSAGE: USE: <span>GURL20</span/> at Checkout
// CLASS_NAME: gurl_com_modal
// ?pc=R1VSTDIw&h=SGV5IGd1cmwsPGJyLz5oZXJlJ3MgJDIwIG9mZiA8YnIvPmp1c3QgZm9yIHlvdSE=&m=VVNFOiA8c3Bhbj5HVVJMMjA8L3NwYW4vPiBhdCBDaGVja291dA==&t=2&s=Z3VybF9jb21fbW9kYWw=&pop=true