.customization-experience {
  height: 100vh;
  padding-top: 62px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  ul {
    list-style: none;
    padding-left: 0;
  }

  &--mobile {
    padding-bottom: 54px;
    padding-left: 15px;
    padding-right: 15px;

    h1 {
      font-size: 1.5rem;
    }

    .btn-black,
    .btn-gray {
      font-weight: 400; //TODO: Check if this is module-specific or it's wrongfully set for all the buttons
    }

    .btn-transparent {
      margin-bottom: 5px;
      margin-top: 5px;
      letter-spacing: 1.5px;
    }

    .dress-preview {
      background-color: $pinkish-grey;
      min-height: 350px;
      height: 55vh;
    }

    .customization-panel {
      height: 200px;
      margin-top: 10px;
      overflow-x: scroll;
      width: 100%;

      a {
        display: table;
      }

      h1 {
        font-size: 1.8rem;
      }

      ul {
        margin-top: 20px;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
      }

      li {
        display: inline-block;
        vertical-align: top;
      }

      .customization-item-box {
        background-color: $wild-sand;
        height: 100px;
        margin-right: 7px;
        width: 125px;
      }

      .customization-label {
        margin-top: 6px;
      }

      .customization-value {
        margin-top: 7px;
        font-size: .7rem;
        max-width: 125px;
        white-space: normal;
      }
    }

    .results {
      margin-bottom: 10px;
      margin-top: 10px;

      span {
        display: inline-block;
        width: 50%;
      }

      .left-result {
        padding-left: 25px;
        text-align: left;
      }

      .right-result {
        padding-right: 30px;
        text-align: right;
      }
    }

    .view-customizations {
      a {
        font-size: .85rem;
        text-transform: none;
      }
    }

    .estimated-delivery {
      font-family: $primary-font;
      font-style: italic;
    }

    .actions {
      bottom: 0;
      left: 0;
      position: fixed;
      width: 100%;

      .btn-black,
      .btn-white {
        width: 50%;
        margin: 0;
      }
    }
  }

  &--desktop {
    height: 100%;
    @import 'desktop/customization-experience-desktop';
  }
}
