// Bespoke Bridal Collection - Landing Page

.pageBespokeBridalCollection {

  img {
    @extend .img-responsive;
  }

  .heroIntro .copy-wrap {
    padding: 60px 45px;
  }

  .heroIntro__title {
    margin: 0 0 20px 0;
    font-size: 3.5em;
    line-height: 100%;
  }

  .heroIntro__copy {
    @extend .font-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
  }

  .sectionIntroTag {
    margin-top: -45px;
    margin-bottom: 90px;
  }

  .content__appInfo {
    margin-bottom: 0;

    .contentBoxItem__ctaWrap {
      display: block;
      padding-top: 20px;
    }

    .contentBoxItem__title {
      font-size: 2.4em;
    }

    .contentBoxItem__copy {
      font-size: 2rem;
    }

  }

  @media (min-width: $bootstrap-md-width) {

    .content__appInfo {
      padding-left: 50px;
      padding-right: 50px;
    }

    .content__imgMaxHeight1 {
      max-height: 782px;
    }

    .content__imgMaxHeight2 {
      max-height: 300px;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .heroIntro .copy-wrap {
      padding: 20px 0 50px;
    }

    .content__appInfo {
      padding: 15px;

      .contentBoxItem__title {
        font-size: 3em;
      }

    }

    .contentBox__marbleBox .contentBoxItem__title {
      margin-top: 0;
      padding-top: 0;
    }

    .contentBoxItem__ctaWrap {
      padding-bottom: 0;
    }

    .content__lessMarginImg {
      margin-bottom: 50px 0 65px;
    }

    .overlapColumnMobile__item .copyWrapper {
      margin-bottom: 0;
    }

  }

}
