/* [Contact]
-------------------------------------------------------*/
.contact-us {

  h1 {
    margin: 40px 0;
    text-transform: none;
  }

  .h5 {
    font-family: $font-family-secondary;
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p a {
    text-decoration: underline;
    color: inherit;
  }

  .details-wrap {
    margin-bottom: 30px;
  }

  .enquiry-wrap {

    .tab-pane {
      margin-top: 20px;
    }

    optgroup {
      display: none;

      &.active {
        display: block;
      }

    }

  }

  .faq-wrap {
    padding: 20px;
    background: $c-neutral-3;
    color: $c-neutral-10;

    a {
      color: $c-neutral-10;

      &:hover {
        color: $c-neutral-black;
      }

    }

    h3 {
      margin: 0;
      text-transform: none;
      font-size: 1em;
    }

    h4 {
      font-size: 1em;
    }

    .h5 {
      text-align: center;
      font-size: 1em;
    }

    p,
    ul,
    ol {
      font-size: 0.875em;
      font-weight: normal;
      color: $c-neutral-10;
    }

    .panel-group {
      margin-bottom: 0;
    }

    .panel,
    .panel-heading {
      background: transparent;
    }

    .footer-wrap {
      margin-top: 20px;
      text-align: center;

      a {
        text-decoration: underline;
      }

    }

  }

  // START - mobile
  @media (max-width: $bootstrap-md-width - 1px) {

    h1 {
      text-align: center;
    }

    .faq-wrap {
      margin-top: 30px;
    }

  }
  // END - mobile

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .affix-top {
      position: relative;
    }

    .affix {
      top: 30px;
    }

    .affix,
    .affix-bottom {
      width: 213px;
    }

    .affix-bottom {
      position: absolute;
    }

    .details-wrap {
      padding-right: 20%;
    }

    .faq-wrap {
      width: 370px; //  this needs to have set width because position fixed, see .affix
    }

  }

  @media (min-width: $bootstrap-md-width) and (min-height: 700px) {

  }
  // END - desktop

  // START - large desktop
  @media (min-width: $bootstrap-lg-width) {

    .faq-wrap {
      width: 457px; //  this needs to have set width because position fixed, see .affix
    }

  }
  // END - large desktop

}
