/* [Contact]
-------------------------------------------------------*/
.contact-us {

  h1 {
    text-transform: none;
  }

  h2 {
    font-family: $font-family-secondary;
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 20px;
  }

  a:not(.btn) {
    color: inherit;
    text-decoration: underline;
  }

  .affix {
    position: fixed;
    top: 0;
  }

  .affix-top {
    position: static;
  }

  .affix-bottom {
    position: absolute;
  }

  .details-wrap {
    margin-bottom: 30px;
  }

  .enquiry-wrap .tab-pane {
    margin-top: 20px;
  }

  .nav-pill {

    li {
      border-left: 2px solid $c-neutral-white;

      &:first-child {
        border-left: none;
      }

    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.75em;
      background: $c-neutral-2;

      &:hover,
      &:focus {
         background: $c-neutral-4;
      }

    }

    .active a {
      color: $c-neutral-white;
      background: $c-brand-blue;
    }

  }

  .faq-wrap {

    .faqs-inner{
      padding-top: 1rem;
      background-color: $c-neutral-3;
    }

    .page-content {
      padding-bottom: 30px;
    }

    h3 {
      text-transform: none;
      font-weight: 500;
      font-size: 1.6rem;
    }

    .h5 {
      padding: 1rem 0;
      text-align: center;
    }

    .panel-group {
      margin-bottom: 0;
    }

    .panel {
      background-color: transparent;

      > .panel-heading {
        background-color: transparent;

      }

    }

    a {
      text-decoration: none;

      &.link-to-faqs {
        margin-top: 2rem;
        text-align: center;
        display: block;
      }
    }

    @media (min-width: $bootstrap-md-width) {
      width: 404px;
      padding-top: 30px;
    }

    @media (min-width: $bootstrap-lg-width) {
      width: 457px; //  this needs to have set width because position fixed, see .affix
    }

  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .details-wrap {
      padding-right: 20%;
    }

  }
  // END - desktop

}
