/* [Contact]
-------------------------------------------------------*/
.contact-us {

  h1 {
    text-transform: none;
  }

  h2 {
    font-family: $font-family-secondary;
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p a {
    text-decoration: underline;
    color: inherit;
  }

  optgroup {
    display: none;

    &.active {
      display: block;
    }

  }

  .affix {
    position: fixed;
    top: 0;
  }

  .affix-top {
    position: static;
  }

  .affix-bottom {
    position: absolute;
  }

  .details-wrap {
    margin-bottom: 30px;
  }

  .enquiry-wrap .tab-pane {
    margin-top: 20px;
  }

  .faq-wrap {
    padding: 20px;
    background: $c-neutral-3;

    h3 {
      margin: 0;
      text-transform: none;
      font-size: 1em;
    }

    h4 {
      font-size: 1em;
    }

    .h5 {
      text-align: center;
      font-size: 1em;
    }

    p,
    ul {
      font-size: 0.875em;
    }

    .panel-group {
      margin-bottom: 0;
    }

    .panel,
    .panel-heading {
      background: transparent;
    }

    .footer-wrap {
      margin-top: 20px;
      text-align: center;

      a {
        text-decoration: underline;
      }

    }

    @media (min-width: $bootstrap-md-width) {
      width: 370px;
      margin-top: 30px;
    }

    @media (min-width: $bootstrap-lg-width) {
      width: 457px; //  this needs to have set width because position fixed, see .affix
    }

  }

  // START - mobile
  @media (max-width: $bootstrap-md-width - 1px) {

    h1 {
      text-align: center;
    }

    .faq-wrap {
      margin-top: 30px;
    }

  }
  // END - mobile

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .details-wrap {
      padding-right: 20%;
    }

  }
  // END - desktop

}
