// The Evening Shop - Landing Page

.page-evening-shop {

  img {
    @extend .img-responsive;
  }

  .intro {
    margin-top: 50px;
  }

  .intro__title {
    font-size: 3.8em;
  }

  .intro__copy {
    font-size: 1.5em;
    margin-bottom: 35px;
  }

  .item-content-box {
    margin-bottom: 60px;
  }

  .item-content-box__copy p:last-of-type {
    margin-bottom: 10px;
  }

  .item-content-box__copy,
  .item-content-box__title {
    padding: 25px 15px;
  }

  .item-content-box__title h3 {
    font-size: 2.3em;
    margin-top: 0;
  }

  .item-content-box--bottom-border {
    border-bottom: 1px solid $c-neutral-black;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .intro {
      margin-top: 10px;
    }

    .intro__title {
      font-size: 2em;
      margin-bottom: 15px;
    }

    .intro__copy {
      font-size: 0.9em;
    }

    .item-content-box__title {
      padding-bottom: 10px;
    }

    .item-content-box__copy {
      padding-top: 0;
      padding-bottom: 35px;
    }

    .item-content-box__title h3 {
      font-size: 2em;
    }

  }

}
