/* [FAQs Page]
-------------------------------------------------------*/
.faq-page, .faqs-section {

  h1 {
    margin: 40px 0;
    text-transform: none;
  }

  h2 {
    font-family: $font-family-secondary;
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p a {
    text-decoration: underline;
    color: inherit;
  }

  .nav {
    margin-bottom: 30px;
  }

  .faq-wrap {
    color: $c-neutral-10;

    a {
      color: $c-neutral-10;

      &:hover {
        color: $c-neutral-black;
      }

    }

    p,
    ul,
    ol {
      font-size: 0.875em;
      font-weight: normal;
      color: $c-neutral-10;
    }

  }

  aside {
    padding: 20px 20px 40px 20px;
    background: $c-neutral-3;

    .h5 {
      padding-bottom: 20px;
      text-align: center;
      font-size: 1em;
      border-bottom: solid $c-neutral-4 1px;
    }

    [class^="icon-"] {
      float: left;
      width: 50%;
      padding-top: 15px;
      text-align: center;

      &:before {
        font-size: 24px;
      }

      span {
        display: block;
        margin-top: 5px;
        font-family: $font-family-secondary;
        font-size: 1.4rem;
        font-weight: bold;
      }

    }

    .inner-wrap {
      @extend %cfix;
      margin-top: 30px;
    }

    .copy-wrap {
      float: left;
      width: 50%;
    }

    .btn {
      margin-top: 30px;
    }

  }

  // START - mobile
  @media (max-width: $bootstrap-md-width - 1px) {

    h1 {
      text-align: center;
    }

  }
  // END - mobile

}
