/* Letter from Our CEO
-------------------------------------------------------*/

.page-letter-from-ceo {

  .page-title {
    background-color: $c-neutral-white;
    text-align: center;
  }

  p {
    font-weight: 300;
  }

}
