/* [Bridal Guide]
-------------------------------------------------------*/
.get-the-look-modal {
  z-index: 9999;
  position: relative;
  margin: 0px auto;
}

.get-the-look {

  h2 {
    font-size: 4rem;
    margin: 40px 0;
  }

  .text-grey {
    color:  $c-neutral-10;
    font-style: italic;
    font-family: $font-heading;
    font-size:  1.6rem;

    a {
      color:  $c-neutral-10;
      text-decoration: underline;
    }

  }

  .subheading {
    margin-top: 23px;
  }

  .sectionGuideInfo {
    text-align: center;
  }

  .sectionGuideInfo,
  .sectionFooterInfo {
    margin-top: 60px;
  }

  .sectionFooter {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .marble-background {
    background: url('landingpages/wedding-sweepstakes/marble-texture-bg.jpg');
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    text-align: center;

    .section-price {
      padding: 10px 0 60px;

      .heading-overlay-wrapper {
        text-align: center;
        margin-top: -55px;
      }

    }

    .cta-mobile-featured {
      margin-bottom: 15px;
      display: block;

      span {
        font-size: 2rem;
      }

    }

  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .heading-thin-line-top {

      .title {
        font-size: 2.6rem;
      }

    }

    .section-price {

      .heading-overlay-wrapper {
        text-align: left;
      }

    }

    .section-extra-margin {
      margin-top: 85px;
    }

  }
}
