/* [Growth Plan]
-------------------------------------------------------*/
.growth-plan {
  font-family: $font-heading;

  h1,
  h2 {
    text-transform: none;
  }

  h4 {
    font-family: $font-family-secondary;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  p,
  li {
    line-height: 1.1;
    font-family: $font-heading;
    font-weight: 300;
  }

  .center-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
    }

  }

  // TODO: this should be re-usable component
  .section-title {
    margin-bottom: 50px;

    .section-heading {
      margin: 0 0 20px;
    }

    p,
    ul {
      margin-bottom: 20px;
      font-size: 1.25em;

      &:last-child {
        margin-bottom: 0;
      }

    }

    &.title-partnerships {
      margin-bottom: 0;
    }

  }

  // TODO: this should be re-usable component
  section {
    margin-bottom: 50px;

    &.alt {
      padding: 50px 0;
      background: $c-neutral-3;
    }

  }

  // START - mobile only
  @media (max-width: $bootstrap-md-width - 1px) {

    section.alt {
      padding-top: 50px;
    }

    .title-partnerships {
      text-align: center;

      .content-wrap {
        margin-bottom: 20px;
      }

    }

  }
  // END - mobile only

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .main-hero-wrap {

      .media-wrap {
        padding-bottom: 36%;
      }

      .heading {
        max-width: 360px;
        color: $c-neutral-white;
      }

    }

    .title-partnerships {

      .content-wrap {
        padding-right: 20%;
      }

      &.left-col .content-wrap {
        padding-left: 20%;
        padding-right: 0;
      }

    }

  }
  // END - desktop

}
