@import 'redesign/mixins';

.page-homepage {

  .hero-wrap {
    margin-bottom: 0;

    .heading {

      .title {
        font-size: 6rem;
        line-height: 100%;
        padding-bottom: 10px;
      }

      .title--large {
        font-size: 7rem;
      }

      .title--small {
        font-size: 3.2rem;
        line-height: 120%;
      }

    }

    .sub-heading {
      border: 0;
      font-style: normal;
      font-size: 2.2rem;
      line-height: 130%;
      padding-top: 25px;
      display: block;
    }

  }

  .section-style-icon {
    margin-bottom: 35px;
  }

  .section-instagram {
    margin-bottom: 40px;
  }

  .section-style-icon .cta-link-center-padding {
    display: table;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .SocialCta {
    margin-top: 20px;
    display: block;
  }

  @media (min-width: $bootstrap-md-width) {

    .title--top-spacing-md {
      padding-top: 40px;
    }

    .hero-wrap {

      .media-wrap {
        min-height: 430px;
      }

    }

    .btn-featured {
      margin-top: 15px;
    }

    .copy-align--top {
      margin-top: -250px;
    }
    .middle-carousel-item .copy-align--top {
      margin-top: 50px;
    }

    .hero-wrap .sub-heading--large {
      font-size: 2.8rem;
    }

    .hero-wrap .sub-heading--extra-large {
      font-size: 6.4rem;
      line-height: 105%;
    }

    .hero-wrap .sub-heading--small {
      font-size: 0.7em;
      margin-top: 0.75em;
      line-height: 125%;
    }

    .link-underline.hero-middle-header-link {
      font-size: 0.35em;
      line-height: 100%;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .hero-wrap .sub-heading {
      padding-top: 0;
      font-size: inherit;
      display: block;
    }

    .hero-wrap .sub-heading--small {
      font-size: 2.3rem;
      margin-top: 0.65em;
      line-height: 125%;
    }

    // Overrides the default behaviour from the _hero.scss file
    .copy-wrap .heading > span:first-child {
      display: block;
    }

    .hero-wrap .heading {
      font-size: 5rem;
      line-height: 4rem;
      padding: 0;
    }

    .content-wrap {
      padding-bottom: 10px;
    }

  }

  @media (min-width: $bootstrap-md-width) and (max-width: $bootstrap-lg-width - 1px) {

    .hero-wrap .heading .title--large {
      font-size: 6rem;
    }

    .copy-align--top {
      margin-top: 50px;
    }

  }

}

// Hero tile
.HeroTile__video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.HeroTileCaption__verticalPositionTop {
  margin-top: 130px;
}

.HeroTileCaption__verticalPositionBottom {
  margin-bottom: 130px;
}

.HeroTileCaption__alignmentLeft,
.HeroTileCaption__alignmentRight {
  padding-right: 90px;
  padding-left: 90px;
}

.HeroTileCaption--white .heading {
  color: $c-neutral-white;
}

@media (max-width: $bootstrap-lg-width - 1px) {

  .HeroTileCaption__alignmentLeft,
  .HeroTileCaption__alignmentRight {
    padding-right: 45px;
    padding-left: 45px;
  }

}

@media (max-width: $bootstrap-md-width - 1px) {

  .Hero__caption {
    width: 90%;
  }

}
