@import 'redesign/mixins';

.page-content.index {

  .hero-wrap {
    margin-bottom: 0;

    .heading {

      .title {
        font-size: 5.5rem;
        line-height: 100%;
        padding-bottom: 10px;
      }

      .title--large {
        font-size: 7rem;
      }

      .title--small {
        font-size: 3.2rem;
        line-height: 120%;
      }

    }

    .sub-heading {
      border: 0;
      font-style: normal;
      font-size: 2.2rem;
      line-height: 130%;
      padding-top: 25px;
      display: block;
    }

  }

  .section-fame-story {

    .item .cta-link-arrow-right {
      font-size: 1rem;
      display: block;
      margin: 20px 0;
    }

  }

  .section-social {
    padding-top: $box-padding-top;
  }

  .section-style-icon {
    margin-bottom: 50px;
  }

  .section-style-icon .cta-link-center-padding {
    display: table;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: $bootstrap-md-width) {

    .title--top-spacing-md {
      padding-top: 40px;
    }

    .hero-wrap {

      .media-wrap {
        min-height: 430px;
      }

    }

    .btn-featured {
      margin-top: 15px;
    }

    .copy-align--top {
      margin-top: -250px;
    }
    .middle-carousel-item .copy-align--top {
      margin-top: 50px;
    }

    .hero-wrap .sub-heading--large {
      font-size: 2.8rem;
    }

    .hero-wrap .sub-heading--extra-large {
      font-size: 6.4rem;
      line-height: 105%;
    }

    .hero-wrap .sub-heading--small {
      font-size: 0.65em;
      margin-top: 0.75em;
      line-height: 125%;
    }

    .link-underline.hero-middle-header-link {
      font-size: 0.35em;
      line-height: 100%;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .hero-wrap .sub-heading {
      padding-top: 0;
      font-size: inherit;
      display: block;
    }

    // Overrides the default behaviour from the _hero.scss file
    .copy-wrap .heading > span:first-child {
      display: block;
    }

    .hero-wrap .heading .title {
      font-size: 1.7rem;
      padding: 0;
    }

    .content-wrap {
      padding-bottom: 10px;
    }

    .section-fame-story {
      margin-top: 15px;

      .same-height-cols {
        padding-top: 30px;
        text-align: center;
        border: solid $c-neutral-6 1px;

        > .row {
          margin: 0;
        }

        img {
          @include filter(grayscale(100%));
        }

      }

      .item {
        padding: 0;
        margin-bottom: 30px;

        &.bordered {
          border: none;
        }

        a {
          pointer-events: none;
          cursor: default;
        }

      }

      .item-copy a {
        display: none;
      }

      .btn-wrap {
        margin-bottom: 50px;
      }

    }

  }

  @media (min-width: $bootstrap-md-width) and (max-width: $bootstrap-lg-width - 1px) {

    .section-fame-story .item .item-copy {
      min-height: 200px;
    }

    .hero-wrap .heading .title--large {
      font-size: 6rem;
    }

    .copy-align--top {
      margin-top: 50px;
    }

  }

}
