#imagelightbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none;
}

/* OVERLAY */

#imagelightbox-overlay {
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* [Inside Out]
-------------------------------------------------------*/
.inside-out {
  h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: $font-family-secondary;
    margin-top: 60px;
    color: $c-neutral-black;
  }

  h2 {
    font-size: 3.8rem;
  }

  .section-box {
    margin-top: 60px;
  }

  .section-intro {

    p {
      font-size: 2.6rem;
    }

  }

  .section-competition {

    .heading-overlay-wrapper {
      text-align: left;

      .heading-overlay {
        bottom: 0;
      }

    }

    a {
      font-style: italic;
    }

  }

  .inside-lb {
    @include transition(300ms opacity);
    cursor: pointer;
    display: block;
    &:hover {
      opacity: 0.8;
    }
  }


  .last-cta {
    margin-bottom: 50px;
  }

  .item-video {
    width: 100%;
    height: auto;
    max-height: 450px;
  }

  .collage-gallery {

    > div {
      margin-top:20px;
    }

  }

  .donation-label {
    font-weight: bold;
    font-family: $font-family-secondary;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .image-wrap {
    height: 71px;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {
    text-align: center;

    .section-competition {

      .heading-overlay-wrapper {
        text-align: center;

        .heading-overlay {
          bottom: -22px;
        }

      }

    }

    .image-wrap {

      img {
        position: relative;
      }

    }

  }

}
