/* [Inside Out]
-------------------------------------------------------*/
.inside-out {

  h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: $font-family-secondary;
    margin-top: 60px;
    color: $c-neutral-black;
  }

  h2 {
    font-size: 3.8rem;
  }

  .section-box {
    margin-top: 60px;
  }

  .section-intro {

    p {
      font-size: 2.6rem;
    }

  }

  .section-competition {

    .heading-overlay-wrapper {
      text-align: left;

      .heading-overlay {
        bottom: 0;
      }

    }

    a {
      font-style: italic;
    }

  }

  .shop-collection-cta {
    margin-bottom: 50px;
  }

  .btn-inside-out {
    margin-top: 55px;
  }

  .item-video {
    width: 100%;
    height: auto;
    max-height: 450px;
  }

  .item-border {
    border: 2px solid $c-neutral-black;
  }

  .collage-gallery {

    > div {
      margin-top:20px;
    }

  }

  .donation-label {
    font-weight: bold;
    font-family: $font-family-secondary;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    text-align: center;

    .section-competition {

      .heading-overlay-wrapper {
        text-align: center;

        .heading-overlay {
          bottom: -22px;
        }

      }

    }

  }

}

// TODO: Depending on how often this custom lightbox styling is used
//       we should move the lines below to a separate file.

// ######################
// # IMAGE LIGHTBOX    #
// ######################

// Lightbox image selector
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  width: auto !important;
  height: 90vh !important;
}

// OVERLAY
.imagelightbox-overlay {
  background-color: rgba($c-neutral-black, 0.8);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// "CLOSE" BUTTON
.imagelightbox-close {
  position: fixed;
  z-index: 10002;
  top: 0;
  right: 0;
  padding: 40px;

  &:before,
  &:after {
    width: 2px;
    margin-left: -1px;
    top: 20%;
    bottom: 20%;
    left: 50%;
    background-color: $c-neutral-white;
    content: '';
    position: absolute;
  }

  &:before {
    @include transform(rotate(45deg));
  }

  &:after {
    @include transform(rotate(-45deg));
  }

}

// CAPTION
.imagelightbox-caption {
  color: $c-neutral-white;
  font-size: 0.75em;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10001;

  a {
    color: inherit;
  }

  .captionTitle {
    padding-bottom: 5px;
  }

}

// ARROWS
.imagelightbox-arrow {
  display: none;
  position: fixed;
  background: none;
  border: 0;
  font-size: 2.5em;
  padding: 20px;
  top: 50%;
  z-index: 10001;
}

.imagelightbox-arrow-left {
  left: 0;
}

.imagelightbox-arrow-right {
  right: 0;
}

.imagelightbox-arrow:before {
  display: inline-block;
  color: $c-neutral-white;
  @extend .icon;
}

.imagelightbox-arrow-left:before {
  @extend .icon-arrow-left;
}

.imagelightbox-arrow-right:before {
  @extend .icon-arrow-right;
}

.imagelightbox-loading,
.imagelightbox-overlay,
.imagelightbox-close,
.imagelightbox-caption,
.imagelightbox-arrow {
  animation: fade-in .25s linear;
}

.imagelightbox-caption,
.mobile-carousel {

  .dressName {
    margin-right: 5px;
    @extend .link-underline;
  }

}

// Carousel (mobile)
.mobile-carousel {

  .hero-wrap {
    padding-bottom: 10px;
  }

  .hero-carousel-nav {
    margin-bottom: -105px;
  }

  .caption {
    padding-top: 25px;
  }

}
