/* [Inside Out Sweepstakes]
-------------------------------------------------------*/
.inside-out-sweepstakes {

  .page-title {
    background-color: transparent;
  }

  h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: $font-family-secondary;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    letter-spacing: 3px;
    margin: 30px 0;
  }

  h2 {
    font-size: 4rem;
    line-height: 1.3;
    margin-top: 0;
  }

  ul {
    font-family: $font-heading;
    font-size: 1.3em;
    font-weight: 300;
    padding-left: 0;
    margin-bottom: 30px;
    list-style-position: inside;
  }

  .section-border {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 3px solid $c-neutral-black;
  }

  .section-grand-prize {

    h2 {
      font-size: 5rem;
      font-weight: bold;
      font-family: $font-family-secondary;
    }

  }

  .section-facebook-share {

    h2 {
      margin-bottom: 20px;
    }

  }

  .text-grey {
    color:  $c-neutral-10;
    font-style: italic;
    font-family: $font-heading;
    font-size:  1.6rem;

    a {
      color:  $c-neutral-10;
      @extend .link-underline;
    }

  }

  .space-paragraph {
    line-height: 3rem;
  }

  .shop-collection-cta {
    margin-bottom: 50px;
  }

  .mobile-fb-share {
    position: relative;

    .fb-like {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -30px;
    }

  }

  .section-weekly-winners {
    padding-top: 40px;
    margin-bottom: 60px;

    .text-grey {
      font-size: 2.2rem;
    }

    .weekly-winners {
      @extend .link-underline;
      padding-top: 25px;
      display: inline-block;
    }

  }

  @media (max-width: $bootstrap-sm-width) {

    h1 {
      font-size: 4rem;
    }

  }

  @media (min-width: $bootstrap-sm-width) and (max-width: $bootstrap-md-width - 1px) {

    h1 {
      font-size: 7rem;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .page-title {
      background-image: url('/assets/landingpages/inside-out-sweepstakes/banner-mobile.jpg');
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 30px;

      .page-title--details {
        padding: 100px 0;
      }

    }

    .section-box {
      text-align: center;
    }

    .section-giving-back {
      border-top: none;
      margin-top: 0;
    }

    .img-fb-gv {
      margin-top: 40px;
    }

  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {
    background-image: url('/assets/landingpages/inside-out-sweepstakes/banner-desktop.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      font-size: 12rem;
      margin: 60px 0;
    }

    .section-intro {
      margin-top: 75px;
    }

    .padding-container {
      padding: 0 100px;
      background-color: $c-neutral-white;
    }

  }

}
