/* [Landing Page - Bridesmaid]
-------------------------------------------------------*/
.landing-page-2 {

  .products-collections {
    padding-top: 0;
  }

  .row [class^="col-"]:first-child {
    clear: left;
  }

  .category-header {
    margin-bottom: 30px;
  }

  .panel-seo {
    margin-bottom: 30px;
    padding-bottom: 67.5%;
    .reg-btn{
      font-size: 0.8em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .title .no-border{
    border: 0;
  }

  .align-top{
    margin-top: 20px;
  }
  @media (max-width: 540px) {
    .align-top{
      margin-top: 10px;
    }
  }

  .serif-text{
    font-family: $font-heading;
  }
}
