/* [Landing Page - Bridesmaid]
-------------------------------------------------------*/
.landing-bridesmaid {

  .row [class^="col-"]:first-child {
    clear: left;
  }

  .category-header {
    margin-bottom: 30px;
  }

  .panel-seo {
    margin-bottom: 30px;
    padding-bottom: 67.5%;
  }

}


.bride-page {
  padding-bottom: 50px;
  font-family: Formal;
  font-weight: 400;
  input[type='button']{
    border: 0;
    font-weight: 700;
  }
  input, textarea, select{
    padding: 10px;
  }
  textarea{
    width: 100%;
  }
  hr{
    margin-top: 25px;
    margin-bottom: -12px;
    border: 1px;
    border-top: 1px solid #EEE;
    border-color: black;
  }

  .big-title{
    background-color: white;
    margin-bottom: 30px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container.invite{
    .signup2-img-col{
      padding-left: 5px;
    }
    .invite-col{
      padding-left: 40px;
    }
    .invite-row{
      margin-left: -15px !important;
    }
    .row{
      margin-left: -5px;
    }
    margin-top: 70px;
    .ashleigh{
      font-weight: 400;
      .invite-sent{
        font-style: italic;
      }
    }
    .big-title{
      margin-top: -25px;
      font-size: 1.3em;
    }
    .fb-area{
      margin-top: 15%;
      .add-via-fb{
        color: white;
        background-color: black;
        float: left;
      }
      .or{
        float: left;
        margin-left: 15px;
        width: 40%;
        margin-top: 0;
        .or-text{
          color: black;
          font-weight: 200;
          font-size: 0.6em;
          background-color: white;
          margin-top: -2px;
          position: absolute;
          margin-left: -15px;
        }
      }
    }
    .invite-sent{
      margin-left: 5px;
    }
    .mess{
      margin-top: 10px;
    }
    .invitation{
      input[type='text']{
        width: 100%;
      }
      .send-invite{
        margin-top: 40px;
        color: white;
        background-color: black;
      }
      .row{
        margin-top: 15px;
      }
    }
  }

  .container.wedding-info{
    .wedding-col{
      padding-left: 40px;
    }
    .signup1  {
      margin-top: 30px;
    }
    .big-title{
      margin-top: -35px;
      font-size: 1.3em;
    }
    .row{
      margin-top: 30px;
    }
    .radio-row{
      margin-top: 0;
      font-weight: 700 !important;
    }
    .radio{
      margin-top: 10px;
      float: left;
      font-size: 0.7em;
      input{
        margin-left: 40%;
      }
      label{
        margin-top: 20px;
        position: absolute;
        margin-left: -17%;
        font-size: 1em;
      }

    }
    .maid-radio{
      label{
        margin-left: -37%;
      }
    }
    .bridesmaid-radio{
      label{
        margin-left: -30%;
      }
    }

    .surname{
      margin-top: 11px;
    }

    #ready, #date, #brief, #fname, #sname, .bride{
      width: 100%;
      float: left;
    }
    .bride{
      padding: 0;
    }

  }
}
