/* [Landing Page - Prom Competition]
-------------------------------------------------------*/
.landing-page-prom-competition {

  .hero-wrap {
    margin-bottom: 50px;

    .media-wrap {
      padding-bottom: 0;
    }

    .inner-wrap {
      position: relative;
    }

    .content-wrap {
      text-align: center;
    }

  }

  h1 {
    margin: 50px 0 0;
    text-transform: none;
    font-size: 2.4rem;
    color: $c-neutral-black;

    span {
      display: block;

      &:first-child {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 3.8rem;
        border-bottom: solid $c-neutral-black 1px;
      }

    }

  }

  .heading-v1 {
    margin: 0 0 50px;
    padding: 0;
    text-align: center;
    text-transform: none;
    font-size: 2rem;
    font-weight: 300;
  }

  .heading-v2 {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 300;

    span:first-child {
      display: inline-block;
      padding-bottom: 2px;
      text-decoration: underline;
      font-size: 3.6rem;
    }

    .sub-heading {
      display: block;
      margin-top: 10px;
      text-transform: none;
      font-size: 2.4rem;
    }

    a {
      font-style: italic;
      color: inherit;
    }

  }

  .heading-v3 {
    margin-bottom: 30px;
    text-align: center;

    span:first-child {
      text-transform: none;
      font-size: 3.2rem;
      font-weight: 300;
      letter-spacing: -2px;
    }

    .sub-heading {
      display: block;
      margin-top: 20px;
      text-transform: none;
      font-size: 2rem;
      font-weight: 300;
    }

  }

  .panel-compact {
    margin-bottom: 50px;

    .media-wrap {
      padding-bottom: 0;
    }

    .copy-wrap {
      margin-top: 40px;
      padding: 0 10%;
    }

    .heading {
      margin-bottom: 15px;
      font-size: 1.125em;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
      text-transform: none;
      font-family: $font-heading;
      font-size: 1.25em;
      font-weight: 300;
    }

  }

  .section-1 {
    padding-bottom: 30px;

    .media-wrap {
      padding-bottom: 51%;
    }

  }

  .how-to-enter {
    margin-bottom: 60px;
  }

  /*
  .how-to-enter {
    margin-bottom: 50px;
    text-align: center;

    h3 {
      margin-bottom: 5px;
    }

    p {
      text-decoration: underline;
      font-size: 0.875em;
    }

    .col-md-6 {

      &:first-child {
        padding-top: 50px;
      }

    }

  }
  */

  .section-story {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: solid $c-neutral-black 1px;

    .media-wrap img {
      width: 100%;
    }

    .button-wrap {
      margin-top: 40px;
      text-align: center;
    }

    .btn {
      display: inline-block;
      padding-left: 25px;
      padding-right: 25px;
      text-transform: none;

      span {
        font-style: italic;
      }

    }

  }

  .join-heading-wrap {
    padding-top: 60px;
    background: $c-neutral-2;

    .heading-v2 {
      margin-bottom: 25px;
    }

  }

  .email-subscription {
    display: block;
    visibility: visible;
    margin-bottom: 0;
    padding: 0 0 60px;

    .title {
      margin-bottom: 30px;
    }

  }

  .shop-by-category {
    padding: 60px 0 30px;
    color: $c-neutral-6;
    background: $c-neutral-black;

    .heading {
      margin: 0 0 60px 0;
      text-align: center;
      font-size: 2.8rem;
    }

    .title {
      text-transform: uppercase;
    }

    ul {
      margin: 0 0 30px;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        margin: 0 0 5px;
        padding: 0;
      }

    }

    a {
      font-size: 0.875em;
      color: $c-neutral-6;

      &:hover,
      &:focus,
      &:active,
      &.active {
        text-decoration: underline;
      }

    }

  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .hero-wrap {
      position: relative;

      .media-wrap {
        padding-bottom: 25%;
      }

      .inner-wrap {
        position: absolute;
      }

      .content-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .container {
          display: table;
          height: 100%;

          > .row {
            display: table-cell;
            vertical-align: middle;
          }

        }

      }

      .heading {
        width: 50%;
        margin: 0 0 0 50%;
      }

    }

    h1 span:first-child {
      font-size: 4.2rem;
      color: $c-neutral-white;
      border-bottom: none;
    }

    .heading-v1,
    .heading-v2,
    .heading-v3 {
      padding: 0 14%;
    }

    .heading-v2 {

      span:first-child {
        font-size: 2.8rem;
      }

      .sub-heading {
        font-size: 2rem;
      }

    }

    .panel-compact {
      margin-bottom: 30px;

      .copy-wrap {
        margin-top: 20px;
        padding: 0;
      }

      .heading {
        margin-bottom: 10px;
        font-size: 0.75em;
      }

      p {
        font-size: 0.875em;
      }

    }

    .section-1 {

      .media-wrap {
        padding-bottom: 70%;
      }

      img {
        margin-left: -51px;
      }

    }

    /*
    .how-to-enter {

      .col-md-6 {
        padding-right: 10%;

        &:first-child {
          padding-left: 10%;
          padding-right: 0;
        }

      }

    }
    */

    .section-story {

      .media-wrap {
        height: 285px;
      }

      .col-md-6 img {
        width: 100%;
        height: auto;
      }

    }

    .email-subscription .title {
      margin: 0;
    }

    .shop-by-category ul {
      padding-left: 40px;
      text-align: left;
    }

  }
  // END - desktop

  // START - desktop large
  @media (min-width: $bootstrap-lg-width) {

    .section-story .media-wrap {
      height: 353px;
    }

  }
  // END - desktop large

}
