/* [Landing Page - Styling Session]
 * [Landing Page - Wedding Styling Session]
-------------------------------------------------------*/
.landing-page-wedding-styling-session,
.landing-page-styling-session {

  .page {
    margin: 60px auto;
  }

  h1 {
    margin: 0 0 40px;
  }

  h2 {
    margin: 40px 0 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  h4 {
    margin: 20px 0 0;
  }

  a {
    color: $c-neutral-black;
  }

  p {
    font-family: $font-heading;
    font-weight: 300;
  }

  .form-group {
    margin: 15px 0;

    .error {
      color: $c-brand-red;
      display: block;
    }

  }

  .confirmation,
  .phone-field-wrapper,
  .timezone-field-wrapper,
  .preference-field-wrapper {
    display: none;
  }

  .submit {
    margin-top: 40px;
  }

  aside {
    padding: 18px;
    border: 1px solid $c-neutral-6;
    margin-bottom: 40px;
  }

  .Heading__medium {
    font-size: 2.5rem;
    line-height: 130%;
  }

  @media (min-width: $bootstrap-md-width) {
    margin: 120px auto;
  }

  @media (min-width: $bootstrap-sm-width) and (max-width: $bootstrap-md-width - 1px) {

    aside {

      h3 {
        font-size: 3.8rem;
        margin: 0;
      }

    }

    .Heading__medium {
      font-size: 3rem;
    }

  }

  @media (min-width: $iphone6p-width) and (max-width: $bootstrap-sm-width - 1px) {

    aside {

      h3 {
        font-size: 2.8rem;
        margin: 0;
      }

    }

  }

  @media (max-width: $iphone6p-width - 1px) {

    aside {

      h3 {
        font-size: 1.8rem;
        margin: 0;
      }

    }

  }

}
