/* [Landing Page - Famingtonway]
-------------------------------------------------------*/
.landing-famingtonway {
  .sign-in-form{
    display: none;
    border-bottom: 1px solid $c-neutral-black;
    padding-bottom: 30px;
    .title-line-on-sides{
      margin-bottom: 50px;
    }
    .left-col{
      padding-top: 160px;
      .fb-login{
        padding-top: 9px;
        padding-bottom: 9px;
        font-weight: 600;
        font-size: 16px;
      }
    }

    .separator {
        position: relative;
        display: table;
        width: 100%;
        height: 220px;
        margin-top: 70px;
        text-align: center;
        span{
          display: table-cell;
          vertical-align: middle;
          height: 40px;
          line-height: 50px;
          font-size: 1.75em;
          color: $c-neutral-black;
        }
        span:before{
          top: 0;
        }
        span:after ,span:before {
          content: '';
          position: absolute;
          display: block;
          left: 50%;
          margin-left: -1px;
          width: 1px;
          height: 90px;
          background: $c-neutral-black;
        }
      }

      .multiple-links{
        text-align: center;
        a{
          color: $c-neutral-black;
          padding-right: 10px;
        }
      }

       // START - mobile
      @media (max-width: $bootstrap-md-width - 1px) {
        .left-col{
          padding-top: 0;
        }
        .separator {
          height: auto;
          margin: 20px 0;
          span {
            &:before,
            &:after {
              top: 50%;
              width: 44%;
              height: 1px;
              bottom: auto;
              margin-top: 1px;
              margin-left: 0;
            }

            &:before {
              left: 0;
              right: auto;
            }

            &:after {
              left: auto;
              right: 0;
            }
          }
        }
      }
      // END - mobile
  }

  .sign-up-form{
    display: none;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    .container{
      padding-top: 30px;
      .left-col{
        padding-top: 160px;
        .fb-login{
          padding-top: 9px;
          padding-bottom: 9px;
          font-weight: 600;
          font-size: 16px;
        }
      }
      .separator {
        position: relative;
        display: table;
        width: 100%;
        height: 220px;
        margin-top: 70px;
        text-align: center;
        span{
          display: table-cell;
          vertical-align: middle;
          height: 40px;
          line-height: 50px;
          font-size: 1.75em;
          color: $c-neutral-black;
        }
        span:before{
          top: 0;
        }
        span:after ,span:before {
          content: '';
          position: absolute;
          display: block;
          left: 50%;
          margin-left: -1px;
          width: 1px;
          height: 90px;
          background: $c-neutral-black;
        }
      }

      .sign-in-here{
        padding-left: 10px;
        text-decoration: underline;
        color: black;
      }

      // START - mobile
      @media (max-width: $bootstrap-md-width - 1px) {
        .left-col{
          padding-top: 0;
        }
        .separator {
          height: auto;
          margin: 20px 0;
          span {
            &:before,
            &:after {
              top: 50%;
              width: 44%;
              height: 1px;
              bottom: auto;
              margin-top: 1px;
              margin-left: 0;
            }

            &:before {
              left: 0;
              right: auto;
            }

            &:after {
              left: auto;
              right: 0;
            }
          }
        }
      }
      // END - mobile


    }
  }
  margin-bottom: 30px;

  .heading-secondary {
    margin: 60px 0;
    text-align: center;
    text-transform: none;
    line-height: 1.3;
    font-family: $font-heading;
    font-size: 1.25em;

    em {
      display: block;
    }

  }

  .btn {
    padding: 5px 20px;
    line-height: normal;
    font-size: 0.75em;
  }

  // START - hero-wrap
  .hero-wrap {

    .copy-wrap {
      position: relative;
      padding: 50px 0;
      text-align: center;
    }

    .title {
      width: 80%;
      max-width: 280px;
      margin: 0 auto 40px auto;
      padding: 0;
      text-transform: none;
      font-size: 1.375em;
    }

  }
  // END - hero-wrap

  // START - section-steps
  .section-steps {
    position: relative;
    margin-bottom: 30px;

    .outer-wrap {
      @extend %cfix;
    }

    .inner-left {
      margin-top: 30px;
    }

    .btn-wrap {
      position: relative;
      text-align: center;

      .btn {
        position: relative;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $c-neutral-black;
      }

    }

    ul {
      padding-bottom: 30px;
    }

    li {
      margin-top: 30px;
    }

    em {
      font-size: 0.75em;
    }

    .copy-wrap {
      font-size: 0.875em;
    }

  }
  // END - section-steps

   // START - section-register
  .section-register {

    .outer-wrap {
      position: relative;
      min-height: 270px;
      @extend %cfix;
    }

    .inner-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .content-wrap-outer {
      display: table;
      width: 100%;
      height: 100%;
    }

    .content-wrap-inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .content-wrap {
      display: inline-block;
      max-width: 290px;
      padding: 60px 40px;
      background: rgba($c-neutral-white, .9);
    }

    .heading {
      margin: 0 0 20px 0;
      font-family: $font-heading;
      font-size: 1.625em;
    }

  }
  // END - section-register

  // START - section-together
  .section-together {
    position: relative;
    background: $c-neutral-3;
    @extend %cfix;

    .content-wrap {
      padding: 40px 20px;
      text-align: center;
    }

    .heading {
      margin: 0 0 40px 0;
      text-transform: none;
      font-family: $font-heading;
      font-size: 3.125em;

      em span {
        display: block;
        font-size: 0.64em;
      }

    }

  }

  .align-left{
    left: 0 !important;
  }

  // END - section-together

  .panel-more-dresses {
    margin-top: 0;
  }

  .carousel-strap {
    margin-bottom: 50px;
  }

  @include desktop {

    & {

      .heading-secondary {
        margin: 60px 0;

        &.heading-width-md {
          margin-left: 28%;
          margin-right: 28%;
        }

        &.heading-width-sml {
          margin-left: 36%;
          margin-right: 36%;
        }

      }

      .hero-wrap {

        .copy-wrap {
          margin-top: -15px;
          padding: 0 0 30px 0;
        }

        .title {
          display: none;
          visibility: hidden;
        }

      }

      .section-steps {

        .outer-wrap {
          border-bottom: solid $c-neutral-black 1px;
        }

        .media-wrap {
          border-top: solid $c-neutral-black 1px;
        }

        .inner-left,
        .inner-right {
          float: left;
          width: 50%;
          min-height: 1px;
        }

        .inner-left {
          margin-top: 0;
        }

        .inner-right {
          padding-top: 27px;
        }

        .btn-wrap {
          display: none;
          visibility: hidden;
        }

        ul {
          padding-left: 12%;
          padding-right: 12%;
        }

      }

      .section-register {

        .media-wrap {
          float: left;
          width: 50%;
        }

      }

      .section-together {
        min-height: 400px;

        .content-wrap-outer {
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
        }

        .content-wrap-inner {
          display: table;
          width: 100%;
          height: 100%;
        }

        .content-wrap {
          display: table-cell;
          vertical-align: middle;
          padding: 0 40px;
        }

        .media-wrap {
          width: 50%;
          float: left;
          left: 50%;
        }

        &.image-left {

          .media-wrap {
            left: 0;
          }

          .content-wrap-outer {
            left: 50%;
          }

        }

        .heading {
          font-size: 3.75em;

          &.alt-size {
            font-size: 3.125em;
          }

        }

      }

    }

  }

  @media (min-width: $bootstrap-lg-width) {

    & .section-steps ul {
      padding-top: 30px;
    }

  }

}
