/* [Landing Page - Prom Competition]
-------------------------------------------------------*/
.landing-macys {
  font-family: $font-heading;

  h1,
  h2 {
    text-transform: none;
  }

  p,
  address {
    line-height: 1.1;
    font-family: $font-heading;
    font-weight: 300;
  }

  address .contact {
    display: block;
    margin-top: 15px;
  }

  // TODO: this should be re-usable component
  .section-title {
    margin-bottom: 50px;

    .section-heading {
      margin: 0 0 20px;
    }

    p {
      font-size: 1.25em;
    }

    .btn {
      font-weight: 500;
    }

    p,
    .btn {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

    }

    &.title-why-us {
      margin-bottom: 0;
    }

  }

  // TODO: this should be re-usable component
  section {
    margin-bottom: 50px;

    &.alt {
      padding: 50px 0 0;
      background: $c-neutral-3;
    }

  }

  .panel-compact {
    margin-bottom: 0;

    .copy-wrap {
      margin-top: 0;
    }

  }

  .panel-split {

    a:not(.btn) {
      color: $c-neutral-black;
    }

    .map-trigger-wrap a {
      text-decoration: underline;
      font-family: $font-family-secondary;
      font-weight: bold;
    }

    .btn {
      margin-top: 20px;
    }

    .content-wrap {
      @extend %cfix;
      padding: 30px 0;
      text-align: left;
    }

  }

  // TODO: this should be re-usable component
  .add-separator {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 50%;
      margin-right: -40px;
      width: 80px;
      height: 1px;
      background: $c-neutral-black;
    }

  }

  // START - mobile only
  @media (max-width: $bootstrap-md-width - 1px) {

    .section-title {
      text-align: center;
    }

    .panel-compact {
      margin-bottom: 50px;
      padding-top: 20px;
    }

  }
  // END - mobile only

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    address > span {
      display: block;
    }

    .main-hero-wrap {

      .media-wrap {
        padding-bottom: 39%;
      }

      .heading {
        max-width: 500px;
        padding-left: 5%;
      }

    }

    .panel-compact {
      padding-top: 0;
    }

    .panel-split {

      .content-wrap {
        padding: 30px 5%;
        text-align: left;
      }

      .section-heading,
      address {
        float: left;
        padding-right: 10px;
      }

      .section-heading {
        width: 40%;
      }

      address {
        width: 50%;
      }

      .map-trigger-wrap {
        float: left;
        width: 10%;
      }

    }

    .add-separator {

      &:after {
        right: 0;
        width: 1px;
        height: 100%;
        margin-right: 0;
        background: $c-neutral-5;
      }

      &:last-child:after {
        background: transparent;
      }

    }

  }
  // END - desktop

}
