/* [Landing Page - Bridesmaid]
-------------------------------------------------------*/
.landing-page-v2 {

  .align-top {
    margin-top: 20px;
  }
  @media (max-width: 540px) {
    .align-top {
      margin-top: 10px;
    }
  }

  .sub-title.alt {
    font-weight: 700;
    font-style: normal;
    text-transform: none;
  }

  .three-btns {
    width: 95%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  }

  @include iphone5 {
    .three-btns-panel {
      height: 260px;
    }

    .three-btns {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @include iphone6 {
    .three-btns {
      margin-top: 10px;
    }
  }

  .products-collections {
    padding-top: 0;
  }

  .row [class^="col-"]:first-child {
    clear: left;
  }

  .hero-wrap {
    margin-bottom: 0;

    .heading > span:first-child {
      font-size: 5.5rem;
      line-height: 100%;
      padding-bottom: 10px;
    }

    .sub-heading {
      border: 0;
      font-style: normal;
      font-size: 2.2rem;
      line-height: 130%;
    }

  }

  .main-hero-wrap,
  .category-header {
    margin-bottom: 30px;
  }

  .panel-seo {
    margin-bottom: 30px;
    padding-bottom: 67.5%;
    .reg-btn{
      font-size: 0.8em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .panel-image {
    margin-bottom: 30px;
  }

  video {
    width: 100%;
    height: auto;
  }

  .title .no-border {
    border: 0;
  }

  .serif-text {
    font-family: $font-heading;
  }

}
