/* [Moodboard Edit]
-------------------------------------------------------*/
.moodboard-v2-edit {
  margin-top: 40px;

  .title-line-on-sides {
    margin: 0;
  }

  .media-wrap {
    margin-top: -14px;
  }

  form {
    margin-top: 30px;
    @extend %cfix;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    & {

      .media-wrap {
        margin-top: 20px;
      }

      .btn {
        width: 100%;
      }

    }

  }

}
