/* [Moodboard]
-------------------------------------------------------*/

h1,
h2,
h3,
h4,
p,
ul,
li,
active {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  list-style: none;
}

span {
  font-weight: 400;
  /*font-size: 0.9em;*/
  letter-spacing: 0.04em;
}

.inline {
  display: inline-block;
}

.moodboard-v2 {

  $new-neutral-color: #d1d1d1;
  $menu-item-height: 190px;
  margin-bottom: 40px;

  a { 
    color: #000;
  }

  .add-underline {
    text-decoration: underline;
  }

  .flash {
    display: none;
  }

  ul.tabs {

    li {
      display: inline-block;
      width: 32%;
      font-size: 0.9em;
      font-weight: 400;
      letter-spacing: 0.04em;
      border-bottom: 1px solid #c1c1c1; 
      color: #c1c1c1;

      a {
        color: black;
      }

    }

    .active {
      color: black;
      font-weight: bold;
      border-color: #000; 

    }

  }

  .new-row {
    margin-top: 55px;
  } 

  .welcome-title {
    margin: 20px 4% 60px 4%;
    text-transform: none;
    text-align: center;
    font-size: 1.125em;

    &:first-letter {
      font-family: $font-heading;
      font-size: 140%;
      font-weight: 500;
      font-style: italic;
      line-height: 1;
    }

    em {
      font-style: normal;
      font-weight: 500;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

  }

  .menu-wrap,
  .panel-aside {

    .heading {
      margin: 0 0 15px 0;
      text-decoration: underline;
      font-size: 0.875em;
      font-weight: 500;
    }

    p,
    ul {
      font-size: 0.875em;
      font-weight: 400;
    }

    ul {
      display: block;
      padding: 0;
      list-style: none;
    }

    p {
      line-height: normal;

      &:last-child {
        margin-bottom: 0;
      }

      .highlight {
        font-weight: 600;
      }

    }

    a:not(.btn):not(.tab):not(.btn-add):not(.tab-control) {
      text-decoration: underline;
      font-style: italic;
      color: inherit;
    }

  }

  .flash {
    margin: 15px;
    text-align: center;
    font-size: 1.5em;
  }

  .menu-wrap {
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: solid $new-neutral-color 1px;

    .title-line-on-sides {
      margin: 0;
    }

    .message {
      margin-top: 30px;
      padding: 0 30px;
      text-align: center;
    }

    .slider-wrap {
      height: $menu-item-height + 70px;
      overflow: hidden;
      opacity: 0;
    }

    .slick-initialized {
      opacity: 1;
      @include transition(opacity 0.2s linear);
    }

    .slick-arrow {
      display: none;
      width: 0;
      height: 0;
      margin-top: -40px;
      border-style: solid;

      &:before {
        display: none;
      }

    }

    .slick-prev {
      display: none;
      border-width: 40px 25px 40px 0;
      border-color: transparent $new-neutral-color transparent transparent;
    }

    .slick-next {
      display: none;
      border-width: 40px 0 40px 25px;
      border-color: transparent transparent transparent $new-neutral-color
    }

    .slick-disabled {
      opacity: .6;
    }

    li {
      display: inline-block;
      outline: none;

      &:last-child {
        margin-right: 0;
      }

    }

    .tab {
      position: relative;
      display: block;
      width: 155px;
      height: $menu-item-height;
      margin: 35px 0;
      line-height: normal;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: $new-neutral-color;
      background: $c-neutral-white;
      border: solid $new-neutral-color 1px;

      .inner-wrap {
        display: table;
        width: 100%;
        height: 100%;
      }

      .media-wrap {
        background-color: white;
        padding: 5px;

      } 

      span {
        position: relative;
        top: 3px;
        color: #000;
        font-family: 'freight-display-pro', serif;

      }

      span.plus, p { 
        font-size: 6.2em;
        font-weight: lighter;
        font-family: 'brandon-grotesque', sans-serif;
      }

      &:hover,
      &:focus {
        color: $new-neutral-color;
        background: $c-neutral-2;
        border-color: $new-neutral-color;
      }

    }

    .active {

      .tab {
        color: $c-neutral-white;
        background: white;
        border-color: #000;

        &:after {
          content: '';
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          margin-top: 13px;
          margin-left: -8px;
          width: 0;
          height: 170px;
          border-style: solid;
          border-width: 13px 8px 0 8px;
          border-color: $new-neutral-color transparent transparent transparent;
        }

      }

    }

    .btn-add {
      float: left;
      margin: 58px 0;
    }

  }

  .tab-content-controls {
    margin: 3px 0 0 0;
    border-top: solid $new-neutral-color 1px;
    text-align: center;

    li {
      margin: 0;
    }

    .tab-control {
      display: block;
      padding: 10px;
      color: $new-neutral-color;

      &:hover {
        font-weight: 500;
      }

    }

    .active {
      font-weight: 500;
    }

  }

  .panel-split {
    min-height: 229px;
    margin-bottom: 50px;

    .content-wrap {
      padding: 0 5%;

      > em {
        display: block;
      }

    }

    .heading {
      margin-bottom: 20px;
      font-size: 2.25em;
    }

    .btn {
      margin-bottom: 15px;
      padding: 8px 30px;
      line-height: 1;
      font-size: 0.813em !important; // TODO: we need to fix this ASAP
    }



  }

  input.public-link {
    font-family: 'freight-display-pro', serif;
    font-style: italic;
    margin-top:20px;
    width: 70%;
  }

  .bordered {
    border: 1px solid black;
   }

   span.form-label {
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.04em;
  }

  .tab-pane {
    padding: 40px 0;
    border-bottom: 1px solid $new-neutral-color;

    ul {
      margin-top: 20px;
    }

    li {
      display: inline-block;
      padding: 0 30px;
      max-width: 250px;
    }
    
  }

  .panel-product {

    .btn { 
      padding: 0;
    }
    
    .product-name { 
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 0.04em;
      margin: 50px 10px 0px;
    }

    .action-btn {
      padding: 10px 0;
      background-color: #f9f9f9;
      &:hover {
        background-color: #f5f5f5;
      }

    }

  }


/*  .panel-aside {
    margin-bottom: 30px;
    padding: 20px 5%;
    text-align: center;
    border: solid $new-neutral-color 1px;

    .form-group {
      margin-bottom: 15px;
    }

    ul {
      margin: 0 0 15px 0;
    }

    .btn {
      display: block;
      padding: 8px 10px;
      letter-spacing: normal;
      font-size: 0.688em;
    }

  }

  .panel-swatches {

    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 10px 5px;
      border: solid $c-neutral-2 1px;
    }

    a {
      display: block;
      width: 35px;
      height: 35px;
      text-indent: -9999em;
    }

  }*/

  @media (max-width: $bootstrap-md-width - 1px) {

    & {

      .welcome-title {
        line-height: 1;

        > span {
          display: block;
          margin-bottom: 15px;
        }

      }

      .menu-wrap .slider-wrap {
     
       
      }

      .create-moodboard {
        padding: 0;

      }

      .panel-split {
        min-height: initial;

        .content-wrap-outer {
          padding: 10px 0;
        }

        .media-wrap {
          padding: 5px;
          display: none;
          background-color: white;

          img {
            padding: 5px;
            background-color: white;
          }

        }

      }

      .tab-content {

        &.active {
          display: block;
          visibility: visible;
        }

      }

      .panel-swatches {
        padding-left: 0;
        padding-right: 0;

        li {
          margin: 10px;
        }

        a {
          width: 60px;
          height: 60px;
        }

      }

      .tab-pane {
        padding: 10px 0;
      }

     /* .menu-wrap {
        .active {

          .tab {

            &:after {
              content: '';
              width: 110px;
           
            }

          }

        }

      }*/

      ul {
        margin-top: 0;
      }

      li {
        display: block;
        padding: 0 30px;
        max-width: 250px;
      }

    }

  }

}
