.page-checkout {
  p {
    font-weight: 400;
  }

  .logo img {
    max-width: 300px;
    margin: 0 auto;
  }

  .checkout-header {
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
      margin: 0;
    }

  }

  // Breadcrumbs
  .checkout-breadcrumbs {
    background-color: $c-neutral-2;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 1.5rem;

    .breadcrumb {
      padding: 0;

      li {
        color: $c-neutral-8;
      }

      li + li:before {
        content: '> ';
        color: $c-neutral-8;
        padding: 0 10px;
      }

      li.active {
        color: $c-neutral-black;
        font-weight: 600;
      }

    }

  }

  .live-chat a {
    border-bottom: 1px solid $c-neutral-4;
    text-transform: uppercase;
    cursor: pointer;
  }

  .cart-wrapper {
    border-top: 1px solid $beage-bg;
  }

  .promo-code {
    padding: 1px 5px 0;
    margin: 15px 0;
    border: 1px solid $beage-bg;

    .promo-code-value {
      box-shadow: none;
      border: 0;
    }

    .promo-code-apply {
      font-size: 1.3rem;
      padding: 5px 25px;
      color: $c-neutral-white;
      background-color: $c-neutral-black;
    }

  }

  // Checkout step
  .checkout-step {

    .help-block {
      color: $c-neutral-8;
    }

    .checkout-section-title {
      font-family: $font-heading;
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .checkout-section-title:not(:first-child) {
      margin-top: 50px;
    }

    .form-control {
      font-weight: 300;
      border: 1px solid $c-neutral-4;
      box-shadow: none;

      &:focus {
        border-color: $c-neutral-black;
      }

    }

    .errorExplanation,
    .has-warning label {
      color: $c-brand-red;
    }

    .errorExplanation h3 {
      font-family: $font-family-secondary;
      font-weight: 400;
      font-size: 2rem;
    }

    .has-warning ~ .required {
      border-color: $c-brand-red;
    }

    // TODO: should it be in .form-global?
    label {
      font-style: normal;
      font-weight: 400;
      font-size: 1.7rem;
      padding-bottom: 5px;
    }

    .help-block {
      font-size: 1.3rem;
    }

  }

  // Payment page
  .terms-note,
  .hint {
    text-align: center;
    color: $c-neutral-8;
    padding: 15px 0;

    a {
      color: inherit;
    }

  }

  .payment-option-grid {
    text-align: center;
    margin-bottom: 30px;

    .payment-option {

      a {
        padding: 20px 10px;
        border: 1px solid $c-neutral-5;
        border-radius: 0;
        background: none;
        color: $c-neutral-black;
      }

      // Only first element / Elements in the middle
      &:first-child a,
      &:nth-child(n+2):nth-last-child(n+1) a {
        border-right-color: transparent;
      }

      // Single element / Last element if more than 2 elements are shown
      &:only-child a,
      &:nth-last-child(n+1) ~ .payment-option:last-child a {
        border-right-color: $c-neutral-5;
      }

      // Active element / Single element
      &.active a,
      &:only-child a {
        border-bottom: 5px solid $c-neutral-black;
        padding-bottom: 15px;
        color: $c-neutral-black;
      }

    }

  }

  .credit-card-flags {
    display: block;

    img.card-flags {
      position: absolute;
      right: 0;
      margin-right: 30px;
      bottom: 12px;
      height: 20px;
    }

  }

  .payment-cta.btn img {
    height: 20px;
    display: inline-block;
    margin-top: -3px;
  }

  .panel-afterpay {

    a:not(.btn) {
      text-decoration: underline;
      color: inherit;
    }

    .payments {
      margin: 30px 0;
    }

    .payment,
    .separator {
      display: inline-block;
      padding: 0 8px;
      line-height: 1;
    }

    .separator {
      vertical-align: top;
      line-height: 50px;
      color: $c-neutral-8;
    }

    .to-pay {
      margin-bottom: 5px;
      font-size: 1.7em;
      color: $c-brand-blue-highlight;
    }

    .time-period {
      font-size: 0.875em;
      font-weight: 500;
      color: $c-neutral-black;
    }

  }

}

@media (max-width: $bootstrap-md-width - 1px) {

  .logo {
    padding: 2px;
  }

  .secure-checkout {
    font-size: 2.3rem;
    margin-top: -5px;
  }

  .support-options {
    margin-top: 0;
  }

  .checkout-breadcrumbs {
    font-size: 1.7rem;
  }

}
