// copied & modified from @LAMike310's ExpressMaking component of new PDP
// TO-DO: break these out into their respective partials, temp. while WIP

$c-elem-focus: rgb(51, 51, 51);
$c-white: #fff;
$c-black: #000;
$c-lightest-gray: #eee;
$c-light-gray: #ddd;
$c-background-gray: #f5f5f5;
$c-border-gray: #d8d8d8;
$z-max: 9999;
$c-backgrount-red: #F7E3E4;
$c-border-red: #F2A8AB;


.ReturnOption__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ReturnOption__content {
  background: $c-background-gray;
  border: 1px solid $c-border-gray;
  padding: 15px 0 0 0;
}

.SampleSaleMessage__content {
  background: $c-backgrount-red;
  border: 1px solid $c-border-red;
  padding: 15px 0 0 0;
}

.SampleSaleOrderMessage__content {
  background: $c-backgrount-red;
  border: 1px solid $c-border-red;
  padding: 15px 0 15px 0;
}

.ReturnOption__content--headline {
  font-weight: 600;
}

.Checkbox__wrapper {
  text-align: left;
}

.Checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  margin-top: 0px !important; // to bypass conflict w/ base redesign styles
  width: 20px;
  height: 20px;
  z-index: $z-max;

  // Box hover
  &:hover + .Checkbox__label:before {
    box-shadow: 0 0 0 1px $c-elem-focus;
  }

  // Checkmark. Could be replaced with an image
  &:checked + .Checkbox__label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: $c-black;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 $c-black,
      4px 0 0 $c-black,
      4px -2px 0 $c-black,
      4px -4px 0 $c-black,
      4px -6px 0 $c-black,
      4px -8px 0 $c-black,
      4px -9px 0 $c-black;
    transform: rotate(45deg);
  }
}

.Checkbox + .Checkbox__label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.Checkbox.disabled + .Checkbox__label {
  cursor: not-allowed;
}

.Checkbox.disabled + .Checkbox__label:before {
  box-shadow: 0 0 0 1px $c-light-gray;
}

// Box.
.Checkbox + .Checkbox__label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: $c-white;
  box-shadow: 0 0 0 1px $c-light-gray;
  transition: 300ms box-shadow;
}

.Checkbox.AJAX__in-process + .Checkbox__label:before {
  background: $c-lightest-gray;
}

// Checkout Modal
.checkout-modal .vex-dialog-button-primary {
  background: #000000;
  color: #fff;
  width: 100%;
  padding: 23px 0;
}

.checkout-modal h2.ReturnOption__content--headline {
  text-align: left;
  margin-bottom: 15px;
  font-weight: 600;
}

.checkout-modal .checkout-content {
  text-align: left;
  margin-bottom: 15px;
  font-weight: 500;
}

.ReturnOption__copy {
  font-size: 14px;
  margin-bottom: 15px;
}
.ReturnOption__copy--right {
  text-align: right;
}
.SampleSale__copy {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.ReturnOption__copy--link {
  text-decoration: underline;
}

.checkout-modal .ReturnOption__content {
    margin-bottom: 10px;
    height: auto;
}

.checkout-modal .vex-content {
  vertical-align: -webkit-baseline-middle;
}

.ReturnModal .js-returns-abc-option-A,
.ReturnModal .js-returns-abc-option-B {
  display: block;
}

// a terrible hack b/c we don't have access to Bootstrap v4's col-{sz}-auto
// we're forcing a .col-xs-7 to a .col-xs-10 since @extend breaks here
.ReturnModal .col-xs-7 {
  width: 83.33333% !important;
}

// hide the 'Learn more' links when in modal...
.ReturnModal .col-xs-4 {
  display: none !important;
}
