/* [PDP]
-------------------------------------------------------*/
// move this tovars, it should be equal to the header height
$header-height: 155px;
.pdp {
  position: relative;
  min-height: 100vh;
  padding-top: $header-height;

  .panel-side-wrap {
    position: relative;
  }

  .panel-side {
    position: fixed;
    width: 262px;
  }

  .panel-media {
    overflow: hidden;
  }

  .panel-media-inner-wrap {
    margin-bottom: -$header-height;
  }

  .media-wrap {
    height: 100vh;
    padding-top: $header-height;

    &:not(:first-child) {
      margin-top: -$header-height;
    }

    img {
      width: auto;
      height: 100%;
      margin-top: -$header-height;
    }

  }

  .affix-bottom {
    position: absolute;
  }

}



.add-to-moodboard {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 0px;
  opacity: 0.3;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.add-to-moodboard:hover {
  opacity: 1;
}

.divider {
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
}
