/* [PDP]
-------------------------------------------------------*/
.pdp {
  position: relative;
  min-height: 100vh;
  padding-top: $mega-menu-desktop-height;

  h1 {
    margin-top: 0;
  }

  .h5 {
    font-size: 1.8rem;
  }

  p,
  li {
    font-family: $font-heading;
    font-size: 1.125em;
    font-weight: 300;
  }

  a:not(.btn) {
    color: inherit;
  }

  ul {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  li {
    display: inline-block;
    line-height: 1;
    font-size: 0.75em;

    &:not(:first-child) {
      margin-left: 4px;
      padding: 0 0 0 4px;
      border-left: solid $c-neutral-8 1px;
    }

  }

  .c-carousel-inspiration__item {
    padding: 0 5px;
  }

  .panel-side-wrap {
    position: relative;
  }

  .panel-side {
    position: fixed;
    top: 0;
    width: 262px;
    height: 100vh;

    .btn-wrap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;

      > .btn,
      > div {
        margin-bottom: 25px;
      }

      .est-delivery {
        line-height: 1;
        font-family: $font-heading;
        font-weight: 300;
        font-size: 0.75em;
        font-style: italic;
      }

      .price {
        font-weight: bold;
      }

    }

    &--left {

      a {
        display: block;
        margin-top: 30px;
        text-decoration: underline;
      }

    }

  }

  .panel-side-container {
    padding-top: $mega-menu-desktop-height + 100;
  }

  .panel-media {
    overflow: hidden;
  }

  .panel-media-inner-wrap {
    margin-bottom: -$mega-menu-desktop-height;
  }

  .panel-media .media-wrap {
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 850px; // NOTE: this will need to be change when we get new product images
    padding-top: $mega-menu-desktop-height;
    background: transparent;

    &:not(:first-child) {
      margin-top: -($mega-menu-desktop-height - 30);
    }

    img {
      width: auto;
      height: 100%;
      margin-top: -$mega-menu-desktop-height;
    }

  }

  .c-card-customize {
    margin-bottom: 70px;
  }

  .tab-content {
    min-height: 260px;
  }

  .affix-bottom {
    position: absolute;
  }

  // START tabs
  .l-tab-controls {
    margin: 15px 0 30px 0;
    text-align: center;
    color: $c-neutral-10;
    @extend %cfix;

    li {
      display: block;
      float: left;
      width: 33.33333333%;
      margin: 0;
      padding: 0 0 3px 0;
      border: 0;
      border-bottom: solid $c-neutral-8 1px;

      a {
        margin: 0;
        padding: 0;
        font-family: $font-family-secondary;
        font-size: 1.25em;
        border: 0;
      }

    }

    .active {
      font-weight: 600;
      color: $c-neutral-black;
      border-color: $c-neutral-black;
    }

  }

  .l-tab-your-way {

    .keep-ratio {
      margin-bottom: 30px;
      padding-bottom: 127%;
      background: $c-neutral-white;
    }

    .v-center {
      display: table;
      width: 100%;
      height: 100%;
    }

    .justify-content {
      display: table-cell;
      vertical-align: middle;
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    p:last-child {
      margin-bottom: 0;
    }

  }

  .l-tab-fabric-information {

    .icon {
      display: block;
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }

  }
  // END tabs

  @media (max-width: $bootstrap-lg-width - 1px) {

    .panel-side {
      width: 212px;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {

    padding-top: $mega-menu-mobile-height;

    .panel-media-inner-wrap {
      margin-bottom: 0;
    }

    .panel-media .media-wrap {
      display: block;
      height: auto;
      padding-top: 0;

      &:not(:first-child) {
        margin-top: 0;
      }

      img {
        width: 100%;
        height: auto;
        margin-top: 0;
      }

    }

    .panel-side--left {
      display: none; // NOTE: this is temp
    }

    .panel-side {
      position: relative;
      width: auto;
      height: auto;
    }

    .panel-side-container {
      padding-top: 0;
    }

  }

  @media (min-width: $bootstrap-md-width) {

    .c-carousel-inspiration {
      padding: 0 10px;
    }

  }

}

.add-to-moodboard {
  position: absolute;
  padding: 10px;
  right: 15px;
  top: 0px;
  opacity: 0.3;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.add-to-moodboard:hover {
  opacity: 1;
}

.divider {
  margin: 0 auto;
  width: 100%;
  max-width: 100px;
  height: 1px;
  background: #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
}
