/* [Shop Social]
-------------------------------------------------------*/
.l-shop-social {
  padding-top: 15px;

  div.fs-has-links {
    text-indent: -9999px;
    position: static;
    font-weight: 700;
    font-size: 0.75em;
  }

  .fs-has-links:after {
    padding: 10px;
    border: 1px solid $c-neutral-white;
    color: $c-neutral-white;
    content: 'SHOP THE LOOK';
    text-indent: 0;
    display: block;
    margin: 0 10px 10px 10px;
  }

  .fs-desktop .fs-timeline-entry div.fs-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    transition: opacity .25s;
  }

  .fs-desktop .fs-timeline-entry .fs-text-container:hover {
    opacity: 1;
  }

  .fs-wrapper div.fs-text-container .fs-entry-title,
  div.fs-detail-title {
    font-style: italic;
    font-weight: normal;
  }

  div.fs-text-container .fs-entry-date,
  div.fs-detail-container .fs-post-info,
  div.fs-wrapper div.fs-has-links::after,
  .fs-text-product,
  .fs-overlink-text {
    font-style: normal;
    font-weight: bold;
  }

  .fs-wrapper div.fs-text-container * {
    color: $c-neutral-white;
  }

  .fs-wrapper div.fs-text-container {
    background: rgba($c-neutral-13, 0.9);
    margin: 0;
  }

  div.fs-entry-date {
    display: none;
  }

  div.fs-entry-title {
    display: none;
  }

  .fs-wrapper div.fs-timeline-entry {
    margin: 15px;
    background-size: cover;
  }

  .fs-timeline-detail {
    background: rgba($c-neutral-black, 0.85);
  }

  #fs-detail-branding {
    display: none;
    visibility: hidden;
  }

}
