/* [SLAYITFORWARD Campaign]
-------------------------------------------------------*/
.slay-it-forward {
  min-height: 1200px;

  // Generic style can be moved to generic
  .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
   }
  .clearfix { display: inline-block; }
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }

  .u-display--block {
    display: block;
  }
  .u-float--left {
    float: left;
  }
  .u-position--relative {
    position: relative;
  }
  .u-textAlign--center {
    text-align: center;
  }
  .u-textTransform--uppercase {
    text-transform: uppercase;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .font-medium {
    font-size: 3rem;
  }
  .font--secondary {
    font-family: $font-family-secondary;
  }

  .inner-buffer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /************************************
   * MarketingSections for slay campaign
   ************************************/
  .MarketingSection-slay {
    width: 100%;
    @include min-tablet {
      font-size: 2rem;
    }

    .main-slay-text {
      width: 100%;
      font-weight: bold;
      font-size: 3.2rem;
      letter-spacing: .4rem;
      display: inline-block;
    }
    @media (min-width: 500px) {
      .main-slay-text {
        font-size: 4.2rem;
      }
    }
    @include min-tablet {
      .main-slay-text {
        display: inline-block;
        padding-top: 40px;
        margin-top: -40px;
        margin-bottom: 40px;
        font-size: 6.2rem;
      }
    }

    .hashtag-banner {
      text-align: center;
      background: black;
      color: white;
      width: 100%;
    }
    @include min-tablet {
      .hashtag-banner {display: none;}
    }
  }

  // MAIN MARKETINGSECTION
  // *********************
  .slay-banner-hero .empowered-woman-img{
    width: 25%;
    float: left;
    min-height: 100px;
    background-size: cover;
  }
  @include min-tablet {
    .slay-banner-hero .empowered-woman-img {
      width: 12.5%;
      min-height: 380px;
    }
  }

  // MAIN MARKETINGSECTION
  // *********************
  .slay-dynamic-trends {
    background: black;
  }

  // MAIN MARKETINGSECTION
  // *********************
  @include min-tablet {
    .slay-reasoning {
      background: black;
      color: white;
      max-width: 900px;
      margin: -100px auto 140px;
      position: relative;
    }

    .slay-reasoning .inner-buffer {
      padding: 60px 40px;
    }
  }

  // MAIN MARKETINGSECTION
  // *********************
  .slay-carousel .share-tiles{
    background-size: cover;
    display: block;
    float: left;
  }
  .slay-carousel .insta-carousel{
    display: block;
    margin: 0 auto;
    max-width: 700px;
  }
  .slay-carousel .insta-carousel a{
    height: 400px;
    width: 400px;
    float: none;
    display: block;
    margin: 0 auto;
  }
  .slay-carousel .insta-carousel a .share-tiles{
    width: 100%;
    height: 100%;
  }
  @include min-tablet {
    .slay-carousel .insta-carousel a{
      width: 170px;
      height: 170px;
      margin-right: 5px;
      float: left;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    }
    .slay-carousel .insta-carousel {
      height: 220px;
    }
  }

  .slay-carousel .empowered-woman-img{
    width: 33%;
    float: left;
    min-height: 130px;
    background-size: cover;
    border: 2px solid #fff;
  }
  .slay-carousel-container .empowered-woman-img:nth-child(2n-1){
    display: none;
  }

  // MAIN MARKETINGSECTION
  // *********************
  .slay-aside {
    background: black;
    color: white;
  }

  // MAIN MARKETINGSECTION
  // *********************
  .slay-organizations {
    padding: 40px;
    margin: 0 auto;
  }
  @include min-tablet {
    .slay-organizations {
      max-width: 900px;
    }
  }

  .slay-organizations p:last-child {
    margin-bottom: 0;
  }
  .slay-organizations .slay-organizations-container {
    background: $c-neutral-2;
  }
  .slay-organizations .title {
    font-weight: bold;
    margin-bottom: 0;
  }
}
