.style-consult, .contact {

	form {
		width: 350px;
		margin: auto;
	}

  .form-control {
		text-align:left;
    border-bottom: 1px solid black;
  }

  label {
    color: black;
  }

  .submit input{
    font-family: $font-family-secondary;
  }
}

.style-consult-header, .contact-header {
  background-color: #eeddf0;

  h1 {
    text-transform: uppercase;
    font-family: forum;
    font-size: 7rem;
  }
}

.contact {
		
		textarea {
			border: 1px solid #CCCCCC;
			border-bottom: 1px solid black;
			height:280px;
			text-align:left;
		}
}
