/* [Wedding Sweepstakes]
-------------------------------------------------------*/
.wedding-sweepstakes {

  h2 {
    font-size: 4rem;
    margin: 40px 0;
  }

  .text-grey {
    color:  $c-neutral-10;
    font-style: italic;
    font-family: $font-heading;
    font-size:  1.6rem;

    a {
      color:  $c-neutral-10;
      text-decoration: underline;
    }

  }

  .subheading {
    margin-top: 23px;
  }

  .section-price {
    overflow: hidden;

    .heading-overlay-wrapper {
      margin-bottom: 20px;
    }

    .video-half-display {
      margin-left: -30%;
      width: 130%;
    }

  }

  .section-stylist {

    p,
    p:nth-of-type(1) {
      margin-bottom: 10px;
      margin-top: 20px;
    }

  }

  .section-app-cta {
    padding: 30px 0;
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    text-align: center;

    .section-price {
      padding: 10px 0 60px;

      .videoWrapper {
        padding-bottom: 45px;
      }

    }

    .cta-mobile-featured {
      margin-bottom: 15px;
      display: block;

      span {
        font-size: 2rem;
      }

    }

  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .heading-thin-line-top {

      .title {
        font-size: 4.2rem;
      }

    }

    .section-price {

      .heading-overlay-wrapper {
        text-align: left;
      }

    }

    .section-extra-margin {
      margin-top: 85px;
    }

  }

}

.preRegisterSweepstakes {

  @media (max-width: $bootstrap-md-width - 1px) {

    &__introWrapper {
      padding-bottom: 40px;
    }

    &__heading {
      margin-top: -36px;
    }

    &__copy .subheading {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    &__formWrapperContent {
      padding: 0;
      overflow-x: hidden;
    }

    &__formWrapperBg {
      padding-top: 30px;
    }

    &__copyPadding {
      padding: 0 50px;
    }

  }

  &__heroBg {
    width: 100%;
    min-height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__formWrapperContent .heading-overlay-on-previous-section {
    margin-top: -156px;
  }

  &__formWrapperBg {
    background: url('_backgrounds/marble-texture-bg.jpg');
    background-size: 150%;
    padding: 20px 0;
  }

  &__formWrapper {
    padding: 60px 0;
    margin-bottom: 45px;
  }

}
