/* [Wedding Sweepstakes]
-------------------------------------------------------*/
.wedding-sweepstakes {

  h2 {
    font-size: 4rem;
    line-height: 1.3;
    margin: 40px 0;
  }

  .text-grey {
    color:  $c-neutral-10;
    font-style: italic;
    font-family: $font-heading;
    font-size:  1.6rem;

    a {
      color:  $c-neutral-10;
      text-decoration: underline;
    }

  }

  @media (max-width: $bootstrap-md-width - 1px) {
    text-align: center;

    .section-price {

      .heading-overlay-wrapper {
        text-align: center;
      }

    }

  }

  // START - desktop
  @media (min-width: $bootstrap-md-width) {

    .heading-thin-line-top {

      .title {
        font-size: 2.6rem;
      }

    }

    .section-price {

      .heading-overlay-wrapper {
        text-align: left;
      }

    }

  }

}

.preRegisterSweepstakes {

  &__formWrapperBg {
    background: url('landingpages/wedding-sweepstakes/marble-texture-bg.jpg');
  }

  &__formWrapper {
    padding-bottom: 30px;
    margin-bottom: 45px;
  }

}
