/* [Wholesale]
-------------------------------------------------------*/
.page-wholesale {

  .title {
    margin-bottom: 85px;
  }

  .content-copy {
    padding: 0 20px;
  }

  .section-box p {
    font-size: 2.1rem;
  }

  @media (min-width: $bootstrap-md-width) {
    margin-top: 150px;

    .title {
      margin-top: 0;
    }

  }

}
