/* [Why Shop With Us]
-------------------------------------------------------*/
.why-us {

  h3 {
    font-size: 3.6rem;
  }

  .section-box {

    p {
      line-height: 150%;
      font-family: $font-heading;
      font-weight: 300;
      font-size: 2rem;
    }

  }

  .header-mobile-wrapper {
    background-color: $c-neutral-2;
    padding: 40px;
    text-align: center;
  }

  .heading-thin-line-bottom::after {
    content: "";
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $c-neutral-black;
    width: 90px;
    display: block;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .heading-thin-line-bottom::after {
      margin-bottom: 0;
    }

    .middle-wrapper {
      text-align: center;

      .copy-wrap {
        margin-bottom: 30px;
      }

    }
  }

}
