/* [Why Shop With Us]
-------------------------------------------------------*/
.why-us {

  h3 {
    font-size: 3.2rem;
  }

  p {
    line-height: 150%;
    font-family: $font-heading;
    font-weight: 300;
    font-size: 2rem;
  }

  .icon {
    font-size: 2.4rem;
  }

  .header-mobile-wrapper {
    background-color: $c-neutral-2;
    padding: 40px;
    text-align: center;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .middle-wrapper {
      text-align: center;

      .copy-wrap {
        margin-bottom: 30px;
      }

    }
  }

}
