= render 'admin_ui/grid/grid_collection_filters', collection_url: refund_requests_path
= paginate @collection.assets, theme: 'admin_ui'
= render 'admin_ui/grid/paginated_collection_grid'
= paginate @collection.assets, theme: 'admin_ui'
