.Editorial {
  position: relative;
  padding-bottom: 41px;
}

.Editorial__image {
  width: 100%;
}

.Editorial__overlay {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.95);
  color: $oil;
}

.Editorial__overlay ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}
