.EditorialHeaderContent {
  padding-bottom: 42px;
}

.Editorial {
  position: relative;

  &:hover .Editorial__overlay {
    opacity: 1;
  }

}

.Editorial__image {
  width: 100%;
}

.Editorial__overlay {
  position: absolute;
  margin: 20px;
  padding: 10px;
  bottom: 0;
  width: calc(100% - 40px);
  text-align: center;
  background: rgba(255,255,255,0.95);
  color: $oil;
  opacity: 0;
  transition: 0.3s all;
}

.Editorial__overlay ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

.Editorial__overlay ul a {
  text-decoration: underline;
}

.Editorial__overlayTitle {
  font-style: italic;
  font-size: 2.8rem;
  padding: 10px;
}

.Editorial--featured .Editorial__overlay {
  width: 320px;
  left: calc(50% - 20px);
  transform: translateX(-50%);
}

.Editorial__overlayBottomCaption {
  display: none;
  color: $c-white;
  font-size: 1.7rem;
  position: absolute;
  margin: 10px 7%;
  padding: 5px;
  bottom: 0;

  @include breakpoint(tablet) {
    display: block;
  }

}

.Editorial__overlayBottomCaptionTitle,
.Editorial__overlayBottomCaptionTitle:hover {
  color: $c-white;
}

.Editorial__overlayBottomCaptionTitle--dark,
.Editorial__overlayBottomCaptionTitle--dark:hover {
  color: $c-black;
}

.Editorial--mini .Editorial__overlay {

  @include breakpoint(tablet) {
    top: 0;
    bottom: initial;
  }

}

.Editorial--mini .Editorial__image {
  padding-top: 0;
}

.Editorial--mini .Editorial__overlay ul a {
  font-size: 1.4rem;
}

.Editorial--mini .Editorial__overlayTitle {
  font-size: 2rem;
  margin-top: 0;
}

.Editorial__video {
  width: 100%;
  height: auto;
}

.Editorial__liveText {
  color: $c-white;
  text-align: center;
  line-height: 100%;
  font-family: $secondary-font-family;
  font-size: 3.8em;
  font-weight: 300;
  width: 85%;
}

.Editorial__bottomCaption {
  margin: 15px 0 45px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.Editorial__bottomCaptionBlocks {
  margin: 0 2px;
}

// Editorial Tiles
.EditorialTile--sideBySide .column {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.EditorialTile__caption {
  padding: 20px 0;
}

.EditorialTile__secondaryTileCopy,
.EditorialTile__infoCopy,
.EditorialTile__ctaCopyWrapper {
  font-family: $secondary-font-family;
  font-size: 1.7rem;
}

.EditorialTile--sideBySide .EditorialTile__infoCopy {
  margin-top: 10px;
}

.EditorialTile__ctaCopy {
  font-style: italic;
  font-size: 1.6rem;
  padding-right: 3px;
}

.EditorialTile__productInfo .Product {
  padding-bottom: 0;
}

.EditorialTile__productInfo .Product__name {
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  text-transform: none;
}

.EditorialTile__ctaCopyWrapper .Product__name,
.EditorialTile__ctaCopyWrapper .Product__price {
  font-family: $secondary-font-family;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0rem;
}

@include breakpoint(tablet) {

  .EditorialTile__secondaryTile {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .EditorialTile--sideBySide .column:first-of-type {

    .EditorialTile__secondaryTile {
      margin: 0 6rem 0 2rem;
    }

    .EditorialTile__featuredTile,
    .EditorialTile__secondaryTile .EditorialTile__ctaCopyWrapper {
      text-align: right;
    }

    .EditorialTile__featuredTile .EditorialTile__infoCopy {
      padding-left: 200px;
    }

  }

  .EditorialTile--sideBySide .column:last-of-type {

    .EditorialTile__secondaryTile {
      margin: 0 2rem 0 6rem;
    }

    .EditorialTile__featuredTile .EditorialTile__infoCopy {
      padding-right: 200px;
    }

  }

  .EditorialTile__secondaryTileCopy {
    padding: 0 65px 60px;
  }

  .EditorialTile__singleTile {

    .EditorialTile__ctaCopyWrapper {
      text-align: right;
    }

  }

}

@include tablet-only {

  .EditorialTile--sideBySide .column:last-of-type,
  .EditorialTile--sideBySide .column:first-of-type {

    .EditorialTile--sideBySide__secondaryTile {
      margin: 0;
    }

  }


  .EditorialTile--sideBySide .column:first-of-type {

    .EditorialTile__featuredTile .EditorialTile__infoCopy {
      padding-left: 50px;
    }

  }

  .EditorialTile--sideBySide .column:last-of-type {

    .EditorialTile__featuredTile .EditorialTile__infoCopy {
      padding-right: 50px;
    }

  }

  .EditorialTile__secondaryTileCopy {
    padding-left: 0;
    padding-right: 0;
  }

}

@include breakpoint(mobile-max) {

  .EditorialTile__caption {
    padding-left: 5%;
    padding-right: 5%;
  }

  .EditorialTile__secondaryTileCopy {
    padding: 10% 5%;
  }

  .EditorialTile__caption {
    text-align: center;
  }

  .EditorialTile__infoCopy {
    margin-top: 10px;
  }


}
