.FloatingEmailWrapper {
  display: none;
  position: fixed;
  width: 100%;
  background: $c-gray-light;
  padding: 40px 20px;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.FloatingEmailWrapper h5 {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 2rem;
}

.FloatingEmailClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 15px;

  @include breakpoint(tablet) {
    right: 10%;
  }

}

.FloatingEmailWrapper--is-active {
  display: block;
  animation: animate-slideup 0.3s;
  -webkit-animation: animate-slideup 0.3s;
  -moz-animation: animate-slideup 0.3s;
  -ms-animation: animate-slideup 0.3s;
  -o-animation: animate-slideup 0.3s;
}
