.Product {
  padding-bottom: 60px;
}

.Product__image,
.Product__name,
.Product__price {
  width: 100%;
}

.Product__name,
.Product__price {
  margin-bottom: 0;
  text-align: center;
  font-family: $primary-font-family;
  font-size: 1.2rem;
  color: $oil;
}

.Product__name {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-top: 6px;
}

.email-module-message {
  text-align: center;
}

.product-top-margin .Product {
  @include breakpoint(desktop) {
    margin-top: 6px;
    margin-bottom: 2.5px;
  }
}
.product-top-margin.no-margin-bottom .Product {
  margin-bottom: 0;
}
