.amfam_lp {
  margin-top: -8px;

  .inner{
    width: 1030px;
    margin: 0 auto;

    .right{
      float: right;
    }
    .left{
      float: left;
    }

    .catalog{
      .catalog-item{
        width: 230px;
        min-width: 230px;
        margin-right: 36px;
      }
    }

    .sb2 {
      @include clearfix;
      .left{
        .textimg{
          display: block;
          padding: 45px 0;
          margin: 0 auto;
        }
        
      }
      .right{
        position: relative;
        a{
          position: absolute;
          display: block;
          bottom: 40px;
          width: 100%;
          .banner {
            display: block;
            padding: 10px 0;
            margin: 0 auto;
          }  
        }
      }
    }
    .sb3 {
      @include clearfix;
      .image {
        float: left;
        margin-right: 30px;
      }
    }
    .sb4{
      @include clearfix;
      .right{
        height: 520px;
        overflow: hidden;
      }
      .image {
        float: right;
        margin-left: 30px;
      }
      .catalog {
        width: auto;
      }
    }

    .more {
      margin-top: 70px;
      h2 {
        width: 470px;
        margin-bottom: 40px;
      }
    }
  }
}

.amfam_lp{
  margin-top: 0px;
  .sb1{
    margin-bottom: 30px;
  }
}
