.bridesmaid-dresses {
  margin-top: -8px;
  .s2 {
    .image {
      padding: 80px 0 106px;
    }
  }
  .s3 {
    .image {
      width: auto;
      height: 308px;
    }
  }
  .nye .more {
    h2 {
      margin-bottom: 40px;
    }
  }
}