// Landing Header
.bride-landing-header {
	position: relative;

	.text-box {
		background-color: #fff;
		position: absolute;
		padding: 30px;
		font-size: 50px;
		line-height: 1;
		font-family: $fontThree;
		top: 70px;
		left: 44px;
		bottom: 70px;
		width: 470px;
		@include box-sizing(border-box);
	}
	.font-two {
		font-family: $fontTwo;
		font-size: 65px;
		font-style: italic;
		text-transform: none;
	}
	.small {
		font-size: 28px;
	}
}
// @end

// Landing Footer
.bride-landing-footer {
	margin-top: 10px; 
	position: relative;
	color: #fff;
	margin-bottom: 40px;

	.msg1 .content, .msg2 .content, .msg3 .content{
		position: relative;		
	}

	.slidesjs-previous{
		position: absolute;
		left: 10px;
		z-index: 100;
		top: 280px;
		cursor: pointer;
	}

	.slidesjs-next{
		position: absolute;
		right: 10px;
		z-index: 100;
		top: 280px;
		cursor: pointer;
	}

	.text-box {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		font-family: $fontThree;
		line-height: 1.1;
		font-size: 74px;
		text-align: center;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			width: 1px;
			margin-left: -0.25em;
		}
		.centered {
			display: inline-block;
			letter-spacing: 13px;
		}
	}

	.numbers {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-family: $fontThree;
		margin: 0;
		padding: 0;
		font-size: 41px;
		line-height: 1;
		li {
			margin-left: 10px;
			display: inline-block;
		}
		a { 
			color: #fff;
			text-decoration: none;
		}
		.active {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 50%;
				margin-left: -6px;
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 6px 0 6px;
				border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
			}
		}
	}

	.social {
		position: absolute;
		left: 36px;
		bottom: 30px;
		margin: 0;
		padding: 0;
		width: 300px;
		z-index: 100;
		a {
			display: inline-block;
			width: 36px;
			height: 36px;
			text-decoration: none;
		}
		.facebook {
			img{
				float: left;
			}
			.link{
				font: 400 27px $fontThree;
				margin-left: 45px;
				width: 200px;
				margin-top: 4px;
			}
		}
	}
}
// @end

// Landing Steps
.bride-landing-steps {
	margin: 10px 0;
	padding: 30px;
	background-color: #fdf5ef;
	font-family: $fontTwo;
	font-size: 20px;
	text-transform: none;
	small {
		font-size: 14px;
		margin-top: -15px;
		display: block;
	}
	.number {
		line-height: 1;
		font-family: $fontTwo;
		font-size: 60px;
		font-style: italic;
		letter-spacing: -6px;
	}

  .button-flat, .facebook-button-flat {
		margin-top: 20px;
	}
}
// @end

// Info Header
.bridesmaid-info-header {
	position: relative;
	margin-bottom: 20px;
	.text-box {
		position: absolute;
		left: 35px;
		top: 35px;
		right: 35px;
		bottom: 35px;
		background-color: #fff;
		
		font-family: $fontTwo;
		text-align: center;
		padding-top: 50px;
		@include box-sizing(border-box);
		.big { 
			font-size: 80px;
			font-style: italic;
		}
		.mid {
			font-size: 40px;
		}
		.small {
			font-size: 25px;
		}
	}
}

.bridesmaid-info-footer {
	margin-top: 30px
}
// @end

// Info form
.bridesmaid-info-form {
	margin: 40px 0;
	.row {
		margin-bottom: 20px;
		.row { margin-bottom: 10px;}
	}
	.grid-2, .grid-3, .grid-5 {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	.grid-2 {
		padding-left: 35px;
		padding-right: 35px;
	}
	.arrows-line-horizontal:before { display: none;}
	.label {
		display: block;
		text-align: right;
		font-family: $fontThree;
		font-size: 30px;
		line-height: 1;
	}

	.chosen-container .chosen-results li {
		font-size: 12px;
	}
}
// @end


// datepicker
.bridesmaid_wedding_date_picker{
	.ui-datepicker-header{
		background-color: #182139;
		font: 300 17px $fontThree, serif;
		text-transform: uppercase;		
	}

	button.ui-datepicker-close{
		background-color: #182139;
		font: 300 17px $fontThree, serif;
		text-transform: uppercase;
	}
	
	th{
		font: 300 14px $fontThree, serif;
		text-transform: uppercase;
	}
	td{
		.ui-state-default{
			background-color: #fcf6f0;
		}

		.ui-state-active{
			background-color: #c6c6d4;
		}
	}
}
// @end

// Palette

.bridesmaid-pallete {
	background: #fdf5ef;
	width: 574px;
	padding: 42px 54px 62px;
	text-align: center;
	margin: 0 auto -36px;
	@include box-sizing(border-box);
	.pallete-color-group {
		margin: 0 0 12px;
		cursor: pointer;
		border: 1px solid #000;
		font-size: 18px;
		font-family: $fontThree;
		letter-spacing: 2px;
		font-weight: 100;
		padding: 8px 0;
		&.selected {
			border: 3px solid #000;
		}
		&.black {
			background: image-url('_bridesmaid/colors/black.png') center center no-repeat;
			color: #fff;
		}
		&.white {
			background: #fff;
		}
		&.blue {
			background: image-url('_bridesmaid/colors/blue.png') center center no-repeat;
		}
		&.pink {
			background: image-url('_bridesmaid/colors/pink.png') center center no-repeat;
		}
		&.red {
			background: image-url('_bridesmaid/colors/red.png') center center no-repeat;
		}
		&.green {
			background: image-url('_bridesmaid/colors/green.png') center center no-repeat;
		}
		&.silver {
			background: image-url('_bridesmaid/colors/silver.png') center center no-repeat;
		}
		&.pastel {
			background: image-url('_bridesmaid/colors/pastel.png') center center no-repeat;
		}
		&.purple {
			background: image-url('_bridesmaid/colors/purple.png') center center no-repeat;
		}
		&.yellow {
			background: image-url('_bridesmaid/colors/yellow.png') center center no-repeat;
		}
		&.nude {
			background: image-url('_bridesmaid/colors/nude.png') center center no-repeat;
		}
	}
}
// @end

// Concierge
.bridesmaid-concierge {
	font-size: 16px;
	text-transform: none;
	h2 {
		font-size: 35px;
		font-family: $fontThree;
		text-transform: uppercase;
		letter-spacing: 2.4px;
	}
	em {
		font-family: $fontTwo;
	}
	.container, .container1{
		background: #FCF3E9;
		padding: 20px 70px 70px;
		position: relative;
		margin-bottom: 80px;
		.block-with-triangle{
			position: absolute;
			bottom: -45px;
			left: 490px;
		}
	}
	.container1{
		padding: 20px 20px 80px;
		.block-with-triangle{
			position: absolute;
			bottom: -55px;
			left: 460px;
		}
	}
}
// @end

.bridesmaid-dresses{
	.category-header{
		margin: 0 0 10px 0;
		padding: 0;
	}
	.navigation{
		text-align: right;
		margin-bottom: 30px;

		.btn{
			margin: 0 20px 0;
			&:last-child{
				margin: 0;
			}
		}
	}
	.product{
		margin-bottom: 40px;
	}
	.buttons {
		margin-top: 10px;
		.grid-7, .grid-5 {
			padding: 5px;
		}
	}
}

.bridesmaid-landing-header, .bridesmaid-moodboard .header{
	text-align: center;
	padding: 20px 220px;
	background: #fdf6f0;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 28px 0;
	.name{
		padding: 26px 0 0 0;
		display: block;
		font: 400 34px/1 $fontTwo;
	}
	.info{
		display: block;
		font: 400 52px/1 $fontTwo;
		font-style: italic;
	}
}

.bridesmaid-landing-header1{
	text-align: center;
	padding: 20px 220px;
	background: #fdf6f0;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 28px 0;
	.name{
		font: 400 34px/1 $fontTwo;
		padding: 26px 10px 0 0;
		display: inline;
	}
	.info{
		font: 400 28px/1 $fontTwo;
		display: inline;
		font-style: italic;
	}

}

.bridesmaid-moodboard {

	.btn{
		background: #DAA2A7;
		color: #fff;
		padding: 9px 14px 26px 14px;
	}
	
	.header{
		height: 139px;
		padding: 0;
		background: image_url('_bridesmaid/moodboard_banner.jpg');
		.name{
			padding: 26px 0 0 0;
			display: block;
			font: 400 34px/1 $fontTwo;
		}
		.info{
			display: block;
			font: 400 52px/1 $fontTwo;
			font-style: italic;
		}
	}
	.intro{
		display: block;
		font: 100 18px/23px $fontOne;
		text-align: center;
		width: 90%;
		margin: 0 auto 40px;
	}
}

.bridesmaid-landing-signup{
	width: 1140px;
	height: 503px;
	background: image_url('_bridesmaid/bridesmaid_signup.jpg');
	position: relative;
    .button-flat,
	.facebook-button-flat{
		position: absolute;
		left: 187px;
		bottom: 115px;
	}
	&.active {
		background-image: image-url('_bridesmaid/bridesmaid_signed_in.jpg');
	}
}

.bride-instructions{
	margin-bottom:  20px;	
}


.bridesmaid-header{
	.navs{
		font: 400 28px/1 $fontTwo;
		font-style: italic;
		background: #fdf6f0;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		height: 98px;
		.name{
			width: 70%;
			margin: 0 auto;
			display: inline-block;
			vertical-align: middle;
			line-height: 98px;
			a{
				text-decoration: none;
			}
		}
	}
}
.bride-header{
	.navigation{
		text-align: center !important;
		margin: 16px auto 30px auto;
		width: 570px;

		.title{
			border-bottom: 1px solid #333;
			padding: 0 0 2px 0;
			margin: 0 0 10px 0;
      font-size: 12px;
		}

		.btn.small{
			margin: 0 10px 0 0;
			padding: 1px 10px 4px !important;
			&:last-child{
				margin: 0;
			}
		}
	}
}
  
  
