#campaign {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  .logo {
    padding: 34px 0;
  }
  .main-title {
    font: 400 58px/1.1 $fontFive;
    text-transform: uppercase;
    color: #000;
    letter-spacing: -2px;
    margin: 0 0 14px;
    span {
      display: inline-block;
      padding: 0 10px 10px;
      border-bottom: 1px solid #000;
    }
  }
  .main-title-desc {
    font-style: italic;
    font-size: 22px;
    margin: 0 0 32px;
  }
  .simple-label {
    margin: 32px auto 0;
    color: #ff958b;
    font: 400 28px/1.1 $fontFive;
    text-transform: uppercase;
    padding: 10px 0;
  }
  &.stylecall {
    height: 1174px;
    background: image-url('campaigns/stylecall-main.jpg') center top #fff;
    background-size: cover;
    .main-title {
      position: relative;
      .coupon {
        background: image-url('campaigns/plus-20-to-spend.png') 0 0 no-repeat;
        width: 90px;
        height: 90px;
        display: block;
        position: absolute;
        top: -50px;
        right: 26px;
      }
    }
    .content-block {
      width: 654px;
      margin: 0 0 0 424px;
    }
    .enter {
      width: 384px;
      border-top: 1px solid #bababb;
      border-bottom: 1px solid #bababb;
    }
    .errors {
      color: #cc0000;
      font-size: 13px;
      margin: 4px 0 0;
      width: 384px;
      margin: 14px auto;
      li {
        margin: 4px 0 0;
        &:first-child {
          margin: 0;
        }
      }
    }
    .form {
      width: 384px;
      margin: 0 auto;
      .input {
        width: 182px;
        font-family: $fontOne;
        label {
          display: block;
          margin: 0 0 3px;
          font-size: 13px;
        }
        input {
          width: 182px;
          height: 34px;
          line-height: 34px;
          &.double {
            width: 100%;
          }
        }
        &.double {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
      .submit-form {
        margin: 30px 0 14px;
        input {
          font-family: $fontFive;
          width: 100%;
          font-size: 18px;
          background: #000;
          box-shadow: none;
        }
      }
    }
    .terms {
      font: 400 italic 13px/1.2 $fontOne;
    }
  }
  &.thankyou {
    .products-list {
      width: 800px;
      margin: 0 auto;
      text-align: left;
    }
    .collections {
      font: 400 14px/1.1 $fontOne;
      li {
        display: inline-block;
        margin: 0 10px 14px;
      }
    }
    .visit-style-quiz {
      width: 420px;
      margin: 10px auto 0;
      padding: 0 0 200px;
      a {
        display: block;
        height: 48px;
        line-height: 48px;
        font-family: $fontFive;
        font-size: 18px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.campaign-dolly {
  .modal-container {
    width: 680px;
    height: 460px;
    padding: 0;
    border: 0;
    background: image-url('campaigns/dolly-background.jpg') center center no-repeat;
  }
  .modal-form {
    float: right;
    width: 360px;
    margin: 48px 56px 0 0;
  }
  .title {
    margin: 0 0 14px;
  }
  .campaign-benefits {
    font: 400 38px/1 $fontFive;
    color: #333;
    text-transform: uppercase;
    sup {
      position: relative;
      top: 2px;
      font-size: 28px;
      vertical-align: top;
    }
  }
  .dashed-box {
    border: 2px dashed #999;
    margin: 28px 30px;
    background: image-url('campaigns/dolly-corner.png') right bottom no-repeat;
    &.transparent {
      background: transparent;
    }
  }
  .form-title {
    color: #ec008c;
    font: 400 48px/1 $fontFive;
    text-transform: uppercase;
    padding: 8px 13px;
    text-align: center;
  }
  .form {
    overflow: hidden;
    margin: 0 13px;
    .input {
      margin: 0;
      float: left;
      input {
        width: 204px;
        height: 34px;
        line-height: 34px;
      }
      .coupon {
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 150px;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        font-family: $fontFive;
      }
      &.single {
        float: none;
      }
    }
    .submit-form {
      float: right;
      input {
        background: #000;
        border-radius: 0;
        padding: 0 10px;
        height: 34px;
        line-height: 34px;
        width: auto;
      }
    }
    .form-hint {
      text-align: center;
      font: italic 14px/1.2 $fontFour;
      margin: 15px 0;
    }
  }
  .form-subtitle {
    margin: 0 13px 10px;
    font: 400 26px/1 $fontFive;
    text-transform: uppercase;
  }
  .share-this {
    margin: 0 0 24px;
    .share-title {
      text-transform: uppercase;
    }
    .share {
      margin: 10px 10px 0;
      display: inline-block;
    }
    .twitter-share-button {
      width: 78px !important;
    }
  }
  .btn-black {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    width: 184px;
    text-align: center;
    height: 38px;
    font: 400 18px/38px $fontFive;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  }
  .logo-block {
    border-top: 1px solid #999;
    text-align: center;
    padding: 15px 0 10px;
  }
  .slogan-block {
    text-align: center;
    font: 400 italic 16px/1.1 $fontFour;
  }
}