
.checkout-page {
	margin-top: 45px;
	h1 {
		font: 400 47px/1 $fontThree;
	}
	h4 {
		font: 400 17px/1 $fontThree;
		margin: 10px 0 5px;
	}
	.arrows-line-horizontal {
		margin: 20px 0;
	}
	.checkout-box {
		.accordion-container {
			padding-right: 20px;
			@include box-sizing(border-box);
		}
		.accordion-title {
			padding: 10px 0;
			font-size: 18px;
			letter-spacing: 0.125em;
			border-top: solid 1px #000;
			border-bottom: solid 1px #000;
			margin: 10px 0;
			@include clearfix;
			&:first-child { margin-top: 0;}
			.name {
				float: left;
			}
			.check-edit {
				float: right;
				.icon-checkmark, .edit { vertical-align: middle;}
				.icon-checkmark { 
					padding-right: 5px;
					margin-top: -2px;
				}
				.edit {font-size: 10px;}
			}
		}
	}
	.checkout-content {
		.input {
			margin-bottom: 20px;
		}
		input[type="text"]{
			border: 1px solid #999;	
		}
		.check-edit {
			text-align: right;
			padding-top: 20px;
			margin-top: 20px;
			border-top: solid 1px #eee;
			font: 100 14px/1 $fontFive;
			text-transform: none;
			color: #666;
		}
	}
	h3 {
		font: 400 16px/1 $fontFive;
		margin-bottom: 10px;
	}
	.submit-button {
		margin-top: 20px;
		margin-bottom: 20px;
		.fleft { margin-right: 5px;}
	}
	.form-address {
		.chosen-container {
			min-width: 100%;
		}
	}
}

.checkout-summary {
	border: solid 1px #000;
	h3 {
		background-color: #000;
		color: #fff;
		font-family: $fontThree;
		font-size: 18px;
		margin: 0;
		padding: 5px 10px;
	}
	.shopping-bag-popup {
		padding: 10px;
		background: url('_nav-bg.png');
		.items-carousel {
			margin: 0;
			padding: 0;
			.item {
				@include clearfix;
				.picture { 
					float: left;
					margin-right: 10px;
				}
				.info { 
					overflow: hidden;
					font-family: $fontFive;
					font-size: 12px;
					h6 {
						font: 100 26px/1.1 $fontThree;
						a { text-decoration: none;}
					}
					.price {
            font-size: 18px;
            color: $pinkColor;
          }
          .price-old { 
            text-decoration: line-through;
            padding: 0 4px;
            color: #000;
          }
					.description { 
						margin-top: 20px;
						table { width: 100%;}
						td { 
							text-align: right;
							&:first-child {
								text-align: left;
							}
						}
					}
				}
				+ .item { margin-top: 10px;}
			}
		}
	}
	.pricing {
		margin: 0;
		padding: 12px;
		list-style: none;
		background-color: #000;
		color: #fff;
		li {
			margin: 5px 0;
			font-size: 0;
			font-weight: 300;
			&.totals { font-weight: 400;}
		}		
		.label, .desc {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			width: 50%;
			font-family: $fontFive;
			@include box-sizing(border-box);
		}
		.desc { text-align: right;}
    .price {
      color: $pinkColor;
    }
    .price-old { 
      text-decoration: line-through;
      padding: 0 4px;
      color: #000;
    }
	}
}

.payment-method-details {
	.coupon-block {
		margin-bottom: 30px;
		padding-bottom: 25px;
		border-bottom: solid 1px #eee;
		input[type="text"] {
			width: 170px;
			margin-right: 20px;
			vertical-align: top;
		}
	}
	.payments-cart {
		@include clearfix;
		.fleft { line-height: 32px;}
	}
	.payment_details {
		margin: 20px 0;
	}
	.card-verification {
		input[type="text"] {
			width: 200px;
			vertical-align: top;
			margin-right: 15px;
		}
		.hint {
			margin-top: 5px;
		}
	}
	.expiry-date {
		white-space: nowrap;
		.chosen-container {
			max-width: 45%;
		}
		#payment_source_1_month_chosen {
			margin-right: 7%;
		}
	}
	.place-order {
		margin: -20px;
		padding: 10px 20px 20px 20px;
		background-color: #f9f9f9;
		p.last{
			padding-bottom: 10px;
		}
	}
}



// NEW CHACKOUT PEGE
body.checkout {
	background-color: #f9f9f9;
	// hide site header and footer
	.top-links, .top-links + .centered-layout, .footer-global { display: none;}
}

.checkout-breadcrumbs {
	font: 400 22px/1 $fontThree;
	text-transform: uppercase;
	vertical-align: bottom;
	margin-bottom: 20px;
	> span {
		display: inline-block;
		position: relative;
		margin-left: 35px;
		&:before {
			content: '\203A';
			position: absolute;
			left: -15px;
			top: 50%;
			margin-top: -14px;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	.icon-logo {
		font-size: 100px;
		margin-right: 20px;
		display: inline-block;
	}
	.active {
		color: $pinkColor;
		span, a { color: $pinkColor;}
	}
}

.checkout-title {
	padding: 20px;
	background-color: #fff;
	margin-top: 10px;
	@extend .clearfix;
	&.black {
		background-color: #000;
		color: #fff;
	}
	&.grey {
		color: #fff;
		background-color: #ccc;
	}
	h3 {
		font: 400 20px/1 $fontThree;
		margin: 0;
		em {
			color: #999;
			vertical-align: middle;
			font: italic 10px/1 $fontOne;
			padding-left: 5px;
			display: inline-block;
		}
	}
	.nice-checkbox {
		margin-top: 5px;
	}
}
.checkout-content {
	padding: 20px;
	position: relative;
	margin-bottom: 10px;
	background-color: #fff;
	.checkout-content {
		padding-left: 0;
		padding-right: 0;
		&.line:before {
			left: 0;
			right: 0;
		}
	}
	.checkout-title {
		padding-left: 0;
		padding-right: 0;	
		&:first-child {
			padding-top: 0;
			margin-top: 0;
		}
	}
	&.line:before {
		content: '';
		position: absolute;
		height: 1px;
		top: 0;
		left: 20px;
		right: 20px;
		background-color: #eee;
	}
	.input label { 
		line-height: 32px;
		text-transform: none;
		font-family: $fontFive;
		font-size: 13px;
	}
	p.hint {
		color:#999999;
	}
	input[type="radio"], input[type="checkbox"] {
		margin-right: 5px;
	}
	.hint { margin-top: 5px;}
	
	.text-title {
		font: italic 100 18px/1 $fontTwo;
		margin: 0;
		text-transform: none;
	}
	p {
		font-family: $fontFive;
		text-transform: none;
		font-size: 12px;
		text-weight: 100;
		color: #666;
		margin-bottom: 0;
		+ p { margin: 4px 0;}
	}
	.open-login-popup {
		margin-top: 30px;
	}
  .fb-login {
		margin-top: 30px;
		margin-left: 5px;
  }

  .payments-choose{
  	h4{
  		font-size: 28px;
  		line-height: 1em;
  		margin: 0;
  	}
  	span{
  		font: italic 400 28px/18px $fontTwo;
  		margin: 0;
  		color: #999;
  		text-transform: lowercase;
  	}	
  }

  .payment-failed{
		margin: 20px auto 30px auto;
		background: url('checkout/bg-print.png');
		padding: 4px;
		width: 620px;
		.content{
			background-color: #000;
			padding: 20px;
			text-align: center;
			color: #fff;
			.title{
				color: #ff03ff;
				font: normal 100 28px/28px $fontThree;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			.sub{
				font: normal 100 12px/12px $fontOne;
				margin-bottom: 10px;
			}
			.error{
				font: italic 100 14px/14px $fontFive;
				color: #ccc;
				text-transform: none;
				margin-bottom: 15px;
			}
			.invite{
				margin-top: 10px;
			}
		}
	}


	// checkout summary
	.checkout-summary {
		border: 0;
		.shopping-bag-popup {
			background: 0;
			padding: 0;
		}
		.description {
			font-family: $fontFive;
			text-transform: none;
			font-size: 12px;
			font-weight: 100;
			color: #666;
		}
		h6 {
			color: #999;
			font-size: 20px !important;
		}
		.pricing {
			background-color: #fff;
			color: #000;
			text-transform: none;
			font-family: $fontFive;
			padding: 10px 0 0;
			li {
				margin: 0;
				padding: 10px 0;
				font-weight: 400;
				border-top: solid 1px #eee;
			}
			.label, .desc { font-size: 13px;}
			.totals { 
				font-weight: 400;
				color: $pinkColor;
			}
		}
	}

	// side bar summary
	.nav-site {
		background: 0;
		z-index: 0;
		nav {
			float: none;
			padding: 0;
			li {
				width: 100%;
				padding: 8px 0;
			}
			a { 
				font-family: $fontThree;
				font-size: 20px;
				text-decoration: none;
			}
			span{
				vertical-align: middle;
				display: inline-block;
			}
			.icon-holder {
				width: 50px;
				padding-right: 5px;
				position: relative;
				span {
					font-size: 27px;
					height: 27px;
					line-height: 27px;	
				}
				.icon-erase, .icon-scissors { 
					position: absolute;
					left: 0;
					top: 0;
					color: $pinkColor;
				}
				.icon-dollar, .icon-erase {
					font-size: 32px;
				}
				.icon-arrows {
					font-size: 42px;
				}
				.icon-cutline {
					font-size: 51px;
					line-height: 32px;
					text-indent: 3px;
					margin-left: -5px;
				}
				.icon-scissors {
					position: absolute;
					left: 0;
					top: 0;
					color: $pinkColor;
					font-size: 47px;
				}
			}
		}
	}

	.what-this {
		text-transform: none;
		font-family: $fontFive;
		font-weight: 100;
		margin-left: 10px;
		line-height: 32px;
		font-size: 11px;
	}
}
