.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  display: inline-block;

  &.linen { background: #E3D0C5; }
  &.black { background: #000; }
  &.blue { background: #15558B; }
  &.pink { background: #FF3B9D; }
  &.gray, &.grey { background: #A3A7A8; }
  &.orange { background: #FF8434; }
  &.white { background:#fff; }
  &.yellow { background: #FFE100; }
  &.red { background: #ED0234; }
  &.green { background: #269C36;}
  &.blood-red { background:#C00D1D; }
  &.jade-green { background:#006D43; }
  &.peach { background:#FFC598; }
  &.silver { background:#D0D1CC; }
  &.tiffany-blue { background:#0AB9B7; }
  &.cherry-red { background:#B91B29; }
  &.hunter-green { background:#003200; }
  &.lime-green { background:#ADD418; }
  &.lemon { background:#F3D623; }
  &.ice-blue { background:#9BD8D9; }
  &.bright-orange { background:#FF7800; }
  &.bright-blue { background:#01A7F6; }
  &.coral { background:#ED675A; }
  &.leopard {
    background:#eee;
    background-image: image-url('colours/leopard.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.floral {
    background:#eee;
    background-image: image-url('colours/floral.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
  &.flouro-orange { background:#FF6903; }
  &.flouro-yellow { background:#F4FF02; }
  &.turquoise { background:#41B5A8; }
  &.mint { background:#7ED6C6; }
  &.sunset { background:#EDB32D; }
  &.pale-pink { background:#FCCDC5; }
  &.hot-pink { background:#F14873; }
  &.taupe { background:#b4a794; }
  &.lilac { background:#BBA1CE; }
  &.mauve { background:#A68F97; }
  &.purple { background:#421160; }
  &.aqua { background:#88C5CA; }
  &.ivory { background:#F1E4D3; }
  &.charcoal { background:#343432; }
  &.royal-blue { background:#0E3299; }
  &.pale-blush { background:#E7CBC8; }
  &.pale-lavender { background:#D5C5E9; }
  &.navy { background:#00234B; }
  &.bronze { background:#9D6A4B; }
  &.sky-blue { background:#96C0E6; }
  &.cobalt-blue { background:#012D60; }
  &.fuchsia { background:#C74375; }
  &.canary-yellow { background:#F6D400; }
  &.watermelon { background:#E9658A; }
  &.emerald-green { background:#009875; }
  &.seafoam  { background:#BCE4DC; }
  &.pale-blue { background:#DDF1FA; }
  &.champagne { background:#F9E4CC; }
  &.gold { background:#D6AE28; }
  &.nude { background:#E7D0A6; }
  &.cream { background:#EBE5CD; }

  &.colorpicker { background: image-url('colours/colorpicker.png') center center no-repeat; }

  &.active {
    cursor: default;
    background-image: image-url('icon-color-tick.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.color-image-popup {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  display: none; // need this. otherwise it will be shown in the footer
  opacity: 0;
  z-index: 9999;
  padding: 2px;
}