.ajax-loader {
  width: 26px;
  height: 26px;
  display: block;
  background: image-url('ajax-loader.gif') center center no-repeat #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  border-radius: 50%;
}

.track-celebrity {
  position: absolute;
  top: 0;
  right: 2px;
  display: block;
  font: 400 14px/30px $fontOne;
  color: #666;
  text-transform: uppercase;
  a {
    display: block;
    padding: 0 11px 0 33px;
    background: image-url('button-stars.png') 11px 0 no-repeat;
    &.active {
      background-position: 11px -32px;
    }
  }
}

.tabs {
  .tabs-links {
    height: 34px;
    clear: both;
    li {
      float: left;
      margin: 0 3px 0 0;
      &.active {
        a {
          background: #fff;
          border-color: #d8d8da;
          color: #333;
          height: 34px;
        }
      }
    }
    a {
      border: 1px solid transparent;
      border-bottom: 0;
      display: block;
      height: 33px;
      padding: 0 22px;
      background: #d8d8da;
      font: 300 15px/33px $fontOne;
      color: #828282;
      text-decoration: none;
      border-radius: 3px 3px 0 0;
    }
  }
  .tab-content {
    border: 1px solid #d8d8da;
    .tab-content-inner {
      overflow: hidden;
      clear: both;
    }
  }
}
