.ajax-loader {
  width: 26px;
  height: 26px;
  display: block;
  background: image-url('ajax-loader.gif') center center no-repeat #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  border-radius: 50%;
}

.track-celebrity {
  position: absolute;
  top: 0;
  right: 2px;
  display: block;
  font: 400 14px/30px $fontOne;
  color: #666;
  text-transform: uppercase;
  a {
    display: block;
    padding: 0 11px 0 33px;
    background: image-url('button-stars.png') 11px 0 no-repeat;
    &.active {
      background-position: 11px -32px;
    }
  }
}