#registrations, .custom_dresses {
  #wrap {
    margin-bottom: 0 !important;
  }
}

.ecommerce.settings, .ecommerce.authenticate {
  #wrap {
    margin: 0;
  }
}

.custom-dresses-signup, .custom-dress-landing {
  .form {
    width: 500px;
    margin: 0 0 40px;
    .fields-group {
      .input {
        width: 240px;
        input {
          height: 32px;
          line-height: 32px;
        }
      }
    }
    .inline-block {
      display: inline-block;
    }
    .chzn-container {
      min-width: 180px;
    }
    .hint {
      display: inline-block;
      margin-top: 10px;
      margin-left: 6px;
    }
    .submit {
      margin: 30px 0 10px;
      input {
        width: 100%;
      }
    }
    .call-to-action {
      text-align: center;
      font: 400 italic 16px/1.2 $fontFour;
    }
  }
}

.custom-dresses-signup {
  min-height: 1120px;
  background: image-url('custom-dresses/bgblue.jpg') right top no-repeat #EFF0F2;
  .center-form {
    margin-top: 80px;
    width: 600px;
    padding-bottom: 60px;
    h1 {
      text-align: left !important;
      padding: 0 !important;
      &:before {
        display: none !important;
      }
    }
    .subtitle {
      font: 400 italic 22px/1.2 $fontFour !important;
      margin: 16px 0 !important;
      text-align: left !important;
    }
  }
  .signup-buttons {
    margin: 30px 0 0;
    position: relative;
    z-index: 1;
    .facebook-signup {
      margin: 0;
    }
    .or {
      width: 85px;
      margin: 6px 0 12px;
      span {
        background: #EFF0F2 !important;
      }
      &:before {
        background: #ababac !important;
      }
    }
  }
  .how-it-works {
    font: 400 48px/1.1 $fontFive;
    color: #ff958b;
    text-transform: uppercase;
    margin: 52px 0 30px;
  }
  .view-all {
    margin: 20px 0 0;
    font: 400 14px/1.4 $fontOne;
  }
}

.custom-dresses-shape {
  height: 765px;
  background: image-url('custom-dresses/bg-body-shapes.jpg') left center no-repeat #d9dbdc;
  .center-form {
    float: right;
    margin-top: 107px;
    margin-right: 100px;
    width: 600px;
    .form {
      width: 310px;
      margin: 0 auto;
      .submit {
        input {
          width: 100%;
        }
      }
    }
    .input {
      label {
        text-align: right;
        display: inline-block;
        margin: 0 10px 0 0;
        width: 80px;
        line-height: 32px;
      }
      input {
        height: 32px;
        line-height: 32px;
        width: 186px;
      }
      .hint {
        display: inline-block;
        color: #5F5F5F;
        font-family: $fontTwo;
      }
      .chzn-container {
        min-width: 186px;
      }
    }
  }
}

#content .custom-dress-landing {
  .signup-block {
    background: image-url('custom-dresses/bg-start.jpg') 0 0 repeat #e4e4e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1) inset;
    .wrap {
      min-height: 680px;
      position: relative;
    }
    .side-left {
      float: left;
      margin: 120px 0 0 55px;
      width: 400px;
      h1 {
        font-size: 70px;
        margin-bottom: 30px;
        &:before {
          width: 220px !important;
          margin-left: -110px;
        }
      }
      .subtitle {
        margin-bottom: 40px;
      }
      .or {
        margin: 20px 0 5px;
      }
    }
    .side-right {
      position: absolute;
      bottom: 0;
      right: 85px;
      float: right;
      img {
        display: block;
      }
    }
  }
  .how-it-works {
    padding: 0 0 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1) inset;
    background: image-url('custom-dresses/bg-pattern.jpg') 0 0 repeat #e3e3df;
    font: 400 italic 24px/1.2 $fontTwo;
    text-align: center;
    h1 {
      margin-top: 50px;
      font-size: 70px;
      &:before {
        width: 160px !important;
        margin-left: -80px;
      }
    }
    img {
      padding: 9px;
      background: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, .2);
      display: inline-block;
    }
    .step {
      margin: 56px auto 0;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: #000;
      color: #fff;
      font-size: 40px;
      line-height: 98px;
    }
    .action {
      font-size: 46px;
      margin: 30px 0 0;
      color: #000
    }
    .subtitle {
      width: 100%;
      margin: 0 0 40px;
    }
    .images {
      position: relative;
      height: 220px;
      .image-1 {
        position: absolute;
        top: 0;
        left: 0;
        @include transform(rotate(-5deg));
      }
      .image-2 {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .colors {
      padding: 10px 0 0;
    }
    .color {
      width: 66px;
      height: 66px;
      border: 5px solid #fff;
      margin: 5px;
    }
    .start-now {
      margin: 76px 0 0;
      padding: 52px 0 0;
      position: relative;
      .label {
        font: 400 36px/1.1 $fontFive;
        color: #000;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 34px 0 0;
        &:hover {
          text-decoration: underline;
        }
      }
      .facebook-signup {
        display: inline-block;
        vertical-align: top;
        margin: 2px 0 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 232px;
        height: 1px;
        background: #000;
        margin: 0 0 0 -116px;
      }
    }
    .form {
      margin: 0 auto 40px;
      text-align: left;
    }
  }
}