#registrations{
  #wrap{
    margin-bottom: 0px !important;
  }
}

.ecommerce.settings, .ecommerce.authenticate {
  #wrap {
    margin: 0;
  }
}

.custom-dresses-signup {
  min-height: 1120px;
  background: image-url('custom-dresses/bgblue.jpg') right top no-repeat #EFF0F2;
  .center-form {
    margin-top: 80px;
    width: 600px;
    padding-bottom: 60px;
    h1 {
      text-align: left !important;
      padding: 0 !important;
      &:before {
        display: none !important;
      }
    }
    .subtitle {
      font: 400 italic 22px/1.2 $fontFour !important;
      margin: 16px 0 !important;
      text-align: left !important;
    }
  }
  .signup-buttons {
    margin: 30px 0 0;
    position: relative;
    z-index: 1;
    .facebook-signup {
      margin: 0;
    }
    .or {
      width: 85px;
      margin: 6px 0 12px;
      span {
        background: #EFF0F2 !important;
      }
      &:before {
        background: #ababac !important;
      }
    }
  }
  .form {
    width: 500px;
    .fields-group {
      .input {
        width: 240px;
        input {
          height: 32px;
          line-height: 32px;
        }
      }
    }
    .inline-block {
      display: inline-block;
    }
    .chzn-container {
      min-width: 180px;
    }
    .hint {
      display: inline-block;
      margin-top: 10px;
      margin-left: 6px;
    }
    .submit {
      margin: 30px 0 10px;
      input {
        width: 100%;
      }
    }
    .call-to-action {
      text-align: center;
      font: 400 italic 16px/1.2 $fontFour;
    }
  }
  .how-it-works {
    font: 400 48px/1.1 $fontFive;
    color: #ff958b;
    text-transform: uppercase;
    margin: 52px 0 30px;
  }
  .view-all {
    margin: 20px 0 0;
    font: 400 14px/1.4 $fontOne;
  }
}

.custom-dresses-shape {
  height: 765px;
  background: image-url('custom-dresses/bg-body-shapes.jpg') left center no-repeat #d9dbdc;
  .center-form {
    float: right;
    margin-top: 107px;
    margin-right: 100px;
    width: 600px;
    .form {
      width: 310px;
      margin: 0 auto;
      .submit {
        input {
          width: 100%;
        }
      }
    }
    .input {
      label {
        text-align: right;
        display: inline-block;
        margin: 0 10px 0 0;
        width: 80px;
        line-height: 32px;
      }
      input {
        height: 32px;
        line-height: 32px;
        width: 186px;
      }
      .hint {
        display: inline-block;
        color: #5F5F5F;
        font-family: $fontTwo;
      }
      .chzn-container {
        min-width: 186px;
      }
    }
  }
}