.shopping-bag-popup {
  .arrow-up, .arrow-down {
    background: image-url('icons-shopping-bag-arrows.png') center 0 no-repeat;
    width: 100%;
    height: 14px;
    cursor: pointer;
    &.disabled {
      opacity: .5;
    }
  }
  .arrow-up {
    margin: 4px 0;
  }
  .arrow-down {
    background-position: center -24px;
    margin: 8px 0 4px;
  }
  .items-carousel {
    list-style: none;
    .item-block {
      margin: 4px 0 0;
      padding: 8px;
      border: 1px solid #e0e0e0;
      background: #fff;
      color: #999898;
      font: 400 14px/1.1 $fontOne;
      .thumbnail {
        width: 83px;
        height: 115px;
        float: left;
        background: #ccc;
      }
      .item-info {
        width: 190px;
        margin: 0 0 0 95px;
      }
      .price {
        color: #333;
        font-weight: 700;
        margin: 0 0 10px;
        &.sale {
          color: #f59a8c;
          span {
            text-decoration: line-through;
            color: #6e6e6e;
            margin: 0 0 0 3px;
          }
        }
      }
      .name {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0 0 10px;
        a {
          color: #333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .desc {
        font-size: 12px;
        margin: 0 0 10px;
      }
      .specs {
        font-size: 12px;
        li {
          overflow: hidden;
          margin: 5px 0 0;
        }
        .label {
          float: left;
          width: 110px;
        }
        .value {
          color: #333;
          margin: 0 0 0 110px;
        }
        .color {
          margin: 3px 0 0;
          position: relative;
          left: -2px;
        }
      }
      .remove-item-from-cart {
        display: none;
      }
    }
  }
  .totals {
    overflow: hidden;
    margin: 10px 6px;
    font: 400 12px/1.2 $fontOne;
    color: #333;
    .value {
      font-size: 14px;
    }
  }
  .buttons {
    font: 400 11px/28px $fontOne;
    text-transform: uppercase;
    text-align: center;
    a {
      text-decoration: none;
    }
    .continue {
      position: relative;
      float: left;
      width: 147px;
      height: 28px;
      color: #787878;
      @include linear-gradient(#e9e9e9, #d9d9d9);
      &:after {
        content: '';
        width: 3px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: 7px;
        background: image-url('icon-continue-shopping.png') 0 0 no-repeat;
      }
    }
    .buy-now {
      font-size: 14px;
      float: right;
      width: 147px;
      height: 28px;
      color: #fff;
      border: 0;
      text-transform: uppercase;
      @include linear-gradient(#414141, #252525);
    }
  }
}

#content .page-name {
  text-align: left;
  margin: 24px 0 0;
  .inner {
    overflow: hidden;
  }
  .title {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    font: 300 25px/25px $fontOne;
    min-height: 32px;
    &:before {
      display: none;
    }
    em {
      font-family: $fontFour;
      font-style: italic;
      font-weight: 400;
      color: #000;
    }
    span {
      font-size: 27px;
      margin: 0 0 0 4px;
      vertical-align: top;
    }
    &.aligncenter {
      text-align: center;
      float: none;
    }
  }
  .filters {
    float: right;
    li {
      float: left;
      margin: 9px 0 0 30px;
      a {
        font: 400 14px/1 $fontOne;
        color: #999898;
      }
    }
  }
  .subtitle {
    text-align: left;
    width: auto;
    margin: 5px 0 0;
    font: 300 13px/1 $fontOne;
    color: #999898;
  }
  &.with-border {
    border-bottom: 1px solid #efefef;
    padding: 0 0 12px;
  }
}

.products-list {
  position: relative;
  left: -19px;
  width: 1134px;
  margin: 36px 0 40px;
  font: 400 14px/1.1 $fontOne;
  .product-item {
    margin-bottom: 40px;
    .thumbnail {
      position: relative;
      border: 6px solid #f3f3f3;
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
      .like, .quick-view {
        position: absolute;
        opacity: 0;
        @include transition((opacity) (.2s) (linear));
      }
      .like {
        top: 0;
        right: 0;
        background: #fff;
        border-radius: 0 0 0 3px;
        width: 46px;
        height: 46px;
        a {
          background: image-url('icon-product-like.png') center center no-repeat;
          display: block;
          width: 46px;
          height: 46px;
          overflow: hidden;
          text-indent: -999px;
        }
      }
      .quick-view {
        bottom: 32px;
        left: 50%;
        margin: 0 0 0 -87px;
        a {
          width: 174px;
          height: 40px;
          background: #737373;
          display: block;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font: 300 18px/40px $fontOne;
          &:hover {
            background: #fff;
            color: #737373;
          }
        }
      }
      &:hover {
        .like, .quick-view {
          opacity: 1;
        }
      }
    }
    .name {
      margin: 12px 0 0;
      a {
        color: #333;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .description {
      color: #999898;
      font-size: 12px;
      margin: 3px 0 10px;
    }
    .price {
      color: #000;
      font-weight: 700;
      margin: 0 0 10px;
    }
    .colors {
      .color {
        display: inline-block;
        margin: 0 3px 0 0;
      }
    }
    .add-remove {
      overflow: hidden;
      .add-to-cart {
        float: left;
        text-decoration: none;
        border: 0;
        padding: 0 26px;
        text-transform: uppercase;
        color: #fff;
        font: 300 14px/30px $fontOne;
        height: 30px;
        @include linear-gradient(#414141, #252525);
      }
      .remove {
        float: right;
        text-transform: uppercase;
        position: relative;
        padding: 0 10px;
        height: 30px;
        color: #787878;
        font: 300 14px/30px $fontOne;
        text-decoration: none;
        @include linear-gradient(#e9e9e9, #d9d9d9);
      }
    }
  }
}

.product-page {
  margin: 34px 0 0;
  .grid-55 {
    padding: 0;
  }
  .photos-carousel {
    float: left;
    margin: 15px 0 0 16px;
    .arrow-up, .arrow-down {
      background: image-url('icons-arrows-product.png') center 0 no-repeat;
      cursor: pointer;
      height: 22px;
      display: block !important;
      &.disabled {
        opacity: .4;
      }
    }
    .arrow-up {
      margin: 0 0 17px;
    }
    .arrow-down {
      margin: 0 0 20px;
      background-position: center -32px;
    }
    .carousel-pictures {
      li {
        margin: 0 0 17px;
      }
      img {
        display: block;
      }
    }
  }
  .big-photo {
    float: right;
    min-height: 590px;
    margin: 15px 15px 15px 0;
    position: relative;
    img {
      display: block;
    }
    .zoom {
      position: absolute;
      top: 0;
      right: 0;
      a {
        width: 36px;
        height: 36px;
        display: block;
        overflow: hidden;
        text-indent: -999px;
        background: image-url('icon-zoom.png') center center no-repeat #fff;
        border-radius: 0 0 0 4px;
      }
    }
  }
  .share-buttons {
    border: 1px solid #d8d8da;
    border-top: 0;
    padding: 18px;
    height: 20px;
    text-align: center;
    .addthis_toolbox > a {
      display: inline-block !important;
      float: none;
      vertical-align: top;
    }
  }
  .product-info {
    margin: 33px 0 0;
    font: 300 14px/1 $fontOne;
    .name {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 300;
      color: #000;
      margin: 0 0 4px;
    }
    .desc {
      font-size: 16px;
      color: #999898;
      margin: 0 0 14px;
      &.small {
        margin: 30px 0;
        font-size: 14px;
      }
    }
    .price-delivery {
      font-weight: 400;
      overflow: hidden;
      line-height: 20px;
      margin: 0 0 14px;
      .price {
        color: #333;
        float: left;
        min-width: 110px;
        em {
          text-decoration: line-through;
          font-style: normal;
          margin: 0 4px 0 0;
        }
        span {
          color: #fe9f91;
        }
      }
      .delivery {
        float: left;
        background: image-url('icon-delivery.png') 0 0 no-repeat;
        padding: 0 0 0 26px;
        font-family: $fontThree;
        color: #000;
      }
    }
    .colors-choser {
      border: 1px solid #efefef;
      display: inline-block;
      padding: 8px;
      margin: 0 0 18px;
      .label {
        float: left;
        line-height: 23px;
      }
      .colors {
        float: left;
        .color {
          float: left;
          width: 23px;
          height: 23px;
          cursor: pointer;
          margin: 0 0 0 10px;
          box-shadow: none;
          &.active {
            cursor: default;
            background-image: image-url('icon-color-tick.png');
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .size-select {
      padding: 0 0 15px;
      margin: 0 0 15px;
      border-bottom: 1px solid #efefef;
      .chzn-container {
        min-width: 200px;
        margin: 0 0 14px;
      }
      .info {
        color: #999898;
      }
    }
    .body-shapes {
      padding: 0 0 12px;
      margin: 0 0 12px;
      border-bottom: 1px solid #efefef;
      .desc {
        color: #000;
      }
      ul {
        overflow: hidden;
        li {
          float: left;
          margin: 0 10px 0 0;
        }
      }
    }
    .buy-wishlist {
      margin: 0 0 28px;
      .buy-now, .add-wishlist {
        display: inline-block;
        text-decoration: none;
        vertical-align: top;
      }
      .buy-now {
        padding: 0 42px;
        text-transform: uppercase;
        color: #fff;
        font: 300 20px/38px $fontOne;
        height: 38px;
        margin: 0 14px 0 0;
        @include linear-gradient(#414141, #252525);
      }
      .add-wishlist {
        border: 1px solid #dadadc;
        height: 36px;
        font: 300 14px/36px $fontThree;
        padding: 0 16px 0 46px;
        background: image-url('icon-product-like.png') 12px center no-repeat;
      }
    }
    .tabs {
      .tabs-links {
        a {
          font-size: 14px;
        }
      }
      .tab-content {
        padding: 14px 18px;
      }
    }
  }
}

.cart-page {
  margin: 38px 0 0;
  font: 300 14px/1.2 $fontOne;
  color: #999898;
  .grid-container {
    padding: 0;
    .grid-50 {
      padding-left: 0;
    }
    .grid-20 {
      padding-right: 0;
    }
  }
  .cart-labels {
    text-transform: uppercase;
  }
  .items {
    margin: 12px 0 0;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    .item {
      border-bottom: 1px solid #e0e0e0;
      .grid-50, .grid-30, .grid-20 {
        height: 236px;
        border-right: 1px solid #e0e0e0;
      }
      .image {
        float: left;
        margin: 12px;
        width: 136px;
        height: 200px;
        border: 6px solid #f3f3f3;
        position: relative;
        .remove {
          position: absolute;
          top: 0;
          left: 0;
          a {
            background: image-url('icon-remove-from-bag.png') center center no-repeat #999898;
            width: 35px;
            height: 35px;
            overflow: hidden;
            display: block;
            text-indent: -999px;
            border-radius: 0 0 4px;
          }
        }
      }
      .desc {
        margin: 0 0 0 172px;
        .name {
          margin: 30px 0 5px;
          text-transform: uppercase;
          font-size: 24px;
          a {
            color: #000;
            text-decoration: none;
          }
        }
        .text {
          height: 130px;
        }
        .wishlist {
          a {
            display: inline-block;
            padding: 0 0 0 30px;
            background: image-url('icon-product-like.png') 0 center no-repeat;
            text-decoration: none;
            font: 300 14px/36px $fontThree;
          }
        }
      }
      .details {
        background: #fdfdfd;
        .static-dynamic-block {
          height: 170px;
          position: relative;
        }
        .static, .dynamic {
          position: absolute;
          top: 0;
          left: 0;
        }
        .dynamic {
          display: none;
          .value {
            .color {
              cursor: pointer;
              &.active {
                cursor: default;
                background-image: image-url('icon-color-tick.png');
                background-position: center center;
                background-repeat: no-repeat;
              }
            }
          }
        }
        .line {
          height: 22px;
          margin: 13px 0 0;
          .label, .value {
            display: inline-block;
            line-height: 22px;
            vertical-align: top;
            font-size: 16px;
          }
          .label {
            width: 156px;
          }
          .value {
            color: #000;
            .color {
              width: 22px;
              height: 22px;
              position: relative;
              left: -7px;
              display: inline-block;
              margin: 0 4px 0 0
            }
          }
          &:first-child {
            padding: 33px 0 0;
            margin: 0;
          }
        }
        .edit {
          margin: 23px 0 0;
          a {
            display: inline-block;
            font: 300 14px/36px $fontThree;
            padding: 0 0 0 30px;
            text-decoration: none;
            background: image-url('icon-edit-item.png') 0 center no-repeat;
          }
        }
      }
      .price {
        padding-left: 52px;
        .pricing {
          margin: 90px 0 0;
          font-size: 24px;
          color: #000;
        }
        input {
          margin: 2px 4px 0 0;
          vertical-align: top;
        }
        label {
          span {
            color: #000;
          }
        }
      }
    }
  }
  .continue-buy {
    .grid-70 {
      padding-left: 0;
    }
    .grid-25 {
      padding: 0;
      text-align: center;
    }
    .continue-shopping {
      display: inline-block;
      position: relative;
      padding: 0 24px 0 32px;
      height: 38px;
      color: #787878;
      font: 300 20px/38px $fontOne;
      text-decoration: none;
      @include linear-gradient(#e9e9e9, #d9d9d9);
      &:after {
        content: '';
        width: 3px;
        height: 7px;
        position: absolute;
        top: 16px;
        left: 16px;
        background: image-url('icon-continue-shopping.png') 0 0 no-repeat;
      }
    }
    .buy-now {
      display: block;
      text-decoration: none;
      padding: 0 42px;
      text-transform: uppercase;
      color: #fff;
      font: 300 20px/38px $fontOne;
      height: 38px;
      @include linear-gradient(#414141, #252525);
      border: none;
      margin: 0;
    }
    .or {
      margin: 4px 0;
      text-transform: uppercase;
    }
  }
}

.empty-cart {
  margin: 60px 0 0;
  text-align: center;
  p {
    margin: 0 0 12px;
  }
}

.promo-summary {
  margin: 20px 0 10px;
  .grid-70 {
    padding: 34px 0;
    background: #f3f3f3;
    input {
      border: 1px solid #c7c7c7;
      background: #fff;
      border-radius: 3px;
      height: 27px;
      line-height: 27px;
      padding: 0 5px;
    }
    .title {
      color: #333;
      text-transform: uppercase;
      margin: 0 0 16px;
    }
  }
  .summary {
    padding: 0;
    border: 1px solid #e0e0e0;
    background: #fcfcfc;
    .title {
      background: #f3f3f3;
      height: 36px;
      font: 300 14px/36px $fontOne;
      color: #000;
      padding: 0 19px;
      text-transform: uppercase;
    }
    ul {
      margin: 0 0 19px;
      font-size: 14px;
      color: #000;
      li {
        margin: 19px 19px 0;
        .label {
          display: inline-block;
          vertical-align: top;
          width: 124px;
        }
        .desc {
          display: inline-block;
          vertical-align: top;
          span {
            font-size: 10px;
            margin: 0 10px 0 0;
          }
        }
        .taxes {
          font-size: 12px;
        }
        &.totals {
          font-size: 18px;
          font-weight: 400;
          .desc {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.featured-dresses {
  background: image-url('icon-border-featured.png') 0 0 repeat-x #fff;
  padding: 40px 0 0;
  margin: 20px 0 0;
  .wrap {
    position: relative;
  }
  .caroufredsel_wrapper {
    left: 0 !important;
  }
  #product-items {
    max-width: none;
    .grid-25 {
      width: 283px;
    }
  }
  #product-items-prev, #product-items-next {
    background: image-url('icons-product-items-arrows.png') 0 0 no-repeat;
    width: 38px;
    height: 74px;
    cursor: pointer;
    position: absolute;
    top: 210px;
    &.disabled {
      opacity: .4;
    }
  }
  #product-items-prev {
    left: -66px;
  }
  #product-items-next {
    right: -66px;
    background-position: -38px 0;
  }
}

.quick-view-mode {
  .quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1058px;
    margin: -353px 0 0 -535px;
    z-index: 101;
    background: #fff;
    border: 6px solid #f3f3f3;
  }
  .product-page {
    margin: 19px 0;
    .product-info {
      position: relative;
      height: 623px;
    }
    .buy-now {
      padding: 0 30px !important;
    }
    .add-wishlist {
      padding: 0 16px 0 38px !important;
      background-position: 8px center !important;
    }
    .share-buttons {
      border: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.browse-page {
  .filters {
    border: 1px solid #e0e0e0;
    border-bottom: 0;
    margin: 36px 0 0 0;
    padding: 0;
    position: relative;
    left: 30px;
    width: 24%;
    .main-title {
      background: #f3f3f3;
      color: #999898;
      font: 400 14px/34px $fontOne;
      padding: 0 10px;
      text-transform: uppercase;
    }
    .filters-block {
      border-bottom: 1px solid #e0e0e0;
      .title {
        margin: 14px 10px;
        font: 400 16px/1 $fontThree;
      }
      .filters-boxes {
        margin: 0 0 12px 12px;
        li {
          display: inline-block;
          margin: 0 7px 7px 0;
          width: 110px;
          height: 36px;
          border: 1px solid #ddd;
          position: relative;
          label {
            display: block;
            width: 110px;
            height: 36px;
            text-align: center;
            color: #333;
            font: 300 13px/36px $fontOne;
          }
          input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
          }
          &.active {
            border-color: #000;
          }
        }
        &.squares {
          li {
            height: 108px;
            vertical-align: top;
            label {
              line-height: 186px;
              height: 108px;
            }
            &.all {
              label {
                display: block;
                position: static;
                line-height: 108px;
              }
            }
            &.hour_glass {
              background: image-url('body-shape-hour_glass.png') center 5px no-repeat;
            }
            &.pear {
              background: image-url('body-shape-pear.png') center 5px no-repeat;
            }
            &.strawberry {
              background: image-url('body-shape-strawberry.png') center 5px no-repeat;
            }
            &.apple {
              background: image-url('body-shape-apple.png') center 5px no-repeat;
            }
            &.column {
              background: image-url('body-shape-column.png') center 5px no-repeat;
            }
          }
        }
      }
      .colors {
        margin: 0 12px;
        .color {
          display: inline-block;
          width: 34px;
          height: 34px;
          line-height: 34px;
          margin: 0 6px 14px 0;
          vertical-align: top;
          text-align: center;
          cursor: pointer;
          &.all {
            font: 700 11px/34px $fontOne;
            &.active {
              background: transparent;
              position: relative;
              &:after {
                content: '';
                position: absolute;
                top: -4px;
                right: -4px;
                background: image-url('icon-color-tick.png') center center no-repeat #fff;
                width: 18px;
                height: 18px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
  .ad {
    background: #f3f3f3;
    height: 180px;
    margin: 36px 19px 14px;
  }
  .results-sort {
    width: 100%;
    .results-sort-inner {
      margin: 0 19px;
      background: #f3f3f3;
      padding: 5px 6px;
      height: 25px;
      font: 300 14px/25px $fontOne;
      color: #999898;
      text-transform: uppercase;
    }
    .results, .sort {
      height: 25px;
    }
    .results {
      padding: 0 6px 0 0;
      border-right: 1px solid #999898;
    }
    .sort {
      padding: 0 0 0 6px;
      border-left: 1px solid #999898;
      select {
        margin: 0 0 0 4px;
      }
    }
  }
  .products-list {
    width: auto;
    left: 0;
    margin: 14px 0 0;
  }
}

#content .checkout-page {
  .page-title {
    font: 100 30px/1 $fontOne;
    text-transform: uppercase;
    color: #000;
    &:before {
      display: none;
    }
  }
  .accordion-container {
    font: 300 14px/1.1 $fontOne;
    .accordion-title {
      border-top: 1px solid #e1e1e1;
      color: #ea9487;
      padding: 0 10px;
      overflow: hidden;
      a {
        color: #ea9487;
      }
      .name {
        float: left;
        font-size: 18px;
        line-height: 40px;
        text-transform: uppercase;
      }
      .check-edit {
        float: right;
        position: relative;
        padding: 0 0 0 24px;
        .check {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 11px;
          background: image-url('icon-accordion-tick.png') 0 center no-repeat;
        }
        .edit {
          line-height: 40px;
        }
        &.active {
          .check {
            display: block;
          }
        }
      }
      &.active {
        color: #000;
        margin: 0 0 10px;
      }
    }
    .accordion-content {
      .border {
        border-bottom: 1px solid #e1e1e1;
      }
      .payment-method-details {
        overflow: hidden;
        margin: 20px 0 0;
        padding: 0 0 20px;
        .selector {
          float: left;
          margin: 0 0 0 10px;
          line-height: 33px;
          input {
            margin: 0 9px 0 0;
          }
        }
        .image {
          float: right;
          width: 316px;
        }
      }
      .input {
        margin: 0 0 40px;
        label {
          display: block;
          color: #333;
          font-size: 16px;
          margin: 0 0 10px;
        }
        input {
          vertical-align: top;
          height: 40px;
          line-height: 40px;
          width: 264px;
          padding: 0 10px;
          background: #fff;
          border: 1px solid #ccc;
          box-shadow: 0 0 3px rgba(0, 0, 0, .3) inset;
          border-radius: 4px;
          &.cvv {
            width: 90px;
            margin: 0 20px 0 0;
          }
        }
        select {
          margin: 0 4px 0 0;
        }
        .card-hints {
          margin: 2px 0 0;
          vertical-align: top;
          display: inline-block;
        }
        .hint {
          margin: 16px 0 0;
          font-size: 12px;
        }
        .submit {
          input {

          }
        }
      }
      .coupon-block {
        margin: 20px 0 0;
        .submit {
          margin: 28px 0 0;
          input {
            border: 0;
            padding: 0 26px;
            font-size: 18px;
            color: #787878;
            line-height: 40px;
            height: 40px;
            @include linear-gradient(#e9e9e9, #d9d9d9);
          }
        }
      }
      .style-tip-block, .newsletter-block, .use-same-address-block {
        .input {
          margin: 20px 0;
          input {
            width: auto;
            height: auto;
            margin: 2px 8px 0 0;
          }
          label {
            display: inline;
            span {
              color: #000;
            }
          }
        }
      }
      .style-tip-block {
        margin: 20px 0;
        overflow: hidden;
        .image {
          float: left;
          margin: 0 13px 0 0;
          border: 4px solid #f2f2f2;
          img {
            display: block;
          }
        }
        .input {
          margin: 32px 0 30px;
          float: left;
        }
      }
    }
  }
  .place-order {
    text-align: center;
    margin: 28px 0;
    input {
      text-transform: uppercase;
      padding: 0 64px;
      height: 38px;
      font: 300 22px/38px $fontOne;
      color: #fff;
      border: 0;
      display: inline-block;
      @include linear-gradient(#414141, #262626);
    }
  }
}

#content .checkout-summary {
  background: #eee;
  padding: 16px;
  font: 300 13px/1.1 $fontOne;
  .block-name  {
    text-transform: uppercase;
    color: #a4a4a4;
  }
  .shopping-bag-popup {
    display: block;
  }
  .pricing {
    font-size: 14px;
    color: #000;
    li {
      margin: 10px 0 0;
      .label {
        display: inline-block;
        vertical-align: top;
        width: 124px;
      }
      .desc {
        display: inline-block;
        vertical-align: top;
        span {
          font-size: 10px;
          margin: 0 10px 0 0;
        }
      }
      .taxes {
        font-size: 10px;
      }
    }
  }
}

#content .account-pages {
  margin: 40px 0;
  .tab-content {
    padding: 34px;
    font: 300 14px/1.2 $fontOne;
    .page-title {
      font: 100 30px/1 $fontOne;
      color: #000;
      text-transform: uppercase;
      text-align: left;
      margin: 0 0 20px;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
  .grid-container .grid-container {
    position: relative;
    left: -38px;
  }
  .hr {
    margin: 20px 0 0;
  }
  .avatar-field {
    overflow: hidden;
    .avatar {
      float: left;
      width: 96px;
      height: 96px;
      margin: 0 20px 0 0;
      overflow: hidden;
      float: left;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      &.empty {
        background: image-url('avatar-empty.png') 0 0 no-repeat;
      }
    }
    .btn-upload {
      border: 0;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      margin: 32px 0 0;
      padding: 0 24px;
      height: 30px;
      color: #787878;
      font: 300 14px/30px $fontOne;
      text-decoration: none;
      @include linear-gradient(#e9e9e9, #d9d9d9);
    }
  }
  .margin {
    margin: 0 0 6px;
  }
  .products-list {
    width: 1066px;
  }
  .style-report-block {
    text-align: center;
    .block {
      text-transform: uppercase;
      display: inline-block;
      width: 200px;
      border-left: 1px solid #ebebeb;
      margin: 70px 0;
      .name {
        font-size: 22px;
        color: #333;
      }
      .percent {
        font-weight: 100;
        font-size: 44px;
        color: #f59a8c;
      }
      &.first {
        border-left: 0;
      }
    }
  }
  .redo-view {
    margin: 20px 0 0;
    .btn {
      font: 300 20px/38px $fontOne;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 0 22px;
      margin: 0 22px 0 0;
      &.black {
        color: #fff;
        @include linear-gradient(#414141, #252525);
      }
      &.grey {
        color: #828282;
        @include linear-gradient(#e9e9e9, #d9d9d9);
      }
    }
  }
  .reviews-tab {
    .title {
      font-weight: 100;
      font-size: 24px;
      text-transform: uppercase;
    }
    .date {
      margin: 10px 0;
      color: #a6a6a6;
      font-size: 13px;
    }
    .rates {
      margin: 28px 0;
      .rate {
        margin: 14px 0 0;
        overflow: hidden;
        .label {
          float: left;
          width: 122px;
        }
        .progress-bar {
          float: left;
          width: 140px;
          border: 1px solid #e0e0e0;
          height: 11px;
          padding: 1px;
          border-radius: 7px;
          span {
            display: block;
            background: #f59a8c;
            border-radius: 5px;
            height: 11px;
          }
        }
        .stars {
          .star {
            display: inline-block;
            width: 16px;
            height: 15px;
            margin: 0 4px 0 0;
            background: image-url('icons-stars.png') 0 0 no-repeat;
            &.active {
              background-position: 0 -15px;
            }
          }
        }
      }
    }
    .review-text {
      margin: 0 0 28px;
    }
    .edit-review {
      .btn {
        font: 300 14px/30px $fontOne;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 0 20px;
        color: #828282;
        @include linear-gradient(#e9e9e9, #d9d9d9);
      }
    }
  }
}

.modal {
  .overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
  }
  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 472px;
    margin: -353px 0 0 -261px;
    z-index: 101;
    background: #fff;
    padding: 13px;
    border: 6px solid #f3f3f3;
    font: 300 14px/1.1 $fontOne;
  }
  .close-lightbox {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: image-url('icon-close-lightbox.png') center center no-repeat;
    cursor: pointer;
  }
  .modal-title {
    text-transform: uppercase;
    margin: 0 0 14px;
  }
  .edit-details {
    .item {
      .image {
        float: left;
        width: 158px;
        height: 220px;
      }
      .item-details {
        margin: 0 0 0 182px;
        min-height: 220px;
        .name {
          font: 300 24px/1 $fontOne;
          color: #333;
          text-transform: uppercase;
          margin: 0 0 14px;
        }
        .description {
          margin: 0 0 14px;
        }
        .colors-choser {
          border: 1px solid #efefef;
          display: inline-block;
          padding: 8px;
          margin: 0 0 14px;
          .label {
            float: left;
            line-height: 23px;
          }
          .colors {
            float: left;
            .color {
              float: left;
              width: 23px;
              height: 23px;
              cursor: pointer;
              margin: 0 0 0 10px;
              box-shadow: none;
              &.active {
                cursor: default;
                background-image: image-url('icon-color-tick.png');
                background-position: center center;
                background-repeat: no-repeat;
              }
            }
          }
        }
        .size-select {
          margin: 0 0 14px;
          .chzn-container {
            min-width: 200px;
          }
        }
        .quantity {
          overflow: hidden;
          margin: 0 0 14px;
          .label {
            float: left;
            width: 80px;
          }
          .value {
            float: left;
          }
        }
        .delivery {
          background: image-url('icon-delivery.png') 0 0 no-repeat;
          padding: 0 0 0 26px;
          font-family: $fontThree;
          color: #000;
          line-height: 20px;
        }
      }
    }
    .save {
      margin: 30px 0 0;
      clear: both;
      .btn {
        width: 100%;
        border: 0;
        display: block;
        height: 38px;
        font: 300 16px/38px $fontOne;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 22px 0 0;
        color: #fff;
        @include linear-gradient(#414141, #252525);
      }
    }
  }
}

#content #order {
  .grid-35 {
    padding-left: 0;
  }
  .grid-65 {
    h2 {
      margin: 0 0 4px;
    }
    h3 {
      margin: 26px 0 0;
    }
    p {
      margin: 4px 0 0;
      &.labeled {
        display: inline-block;
        background: #000;
        color: #fff;
        padding: 3px 6px;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 4px;
      }
    }
    a {
      color: #f59a8c;
    }
    .back-to-orders {
      margin: 26px 0 0;
      .btn {
        font: 300 20px/38px $fontOne;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 0 22px;
        margin: 0 22px 0 0;
        color: #828282;
        @include linear-gradient(#e9e9e9, #d9d9d9);
      }
    }
  }
}
