#content .page-name {
  text-align: left;
  margin: 24px 0 0;
  .inner {
    overflow: hidden;
  }
  .title {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    font: 300 25px/25px $fontOne;
    &:before {
      display: none;
    }
    em {
      font-family: $fontFour;
      font-style: italic;
      font-weight: 400;
      color: #000;
    }
    span {
      font-size: 27px;
      margin: 0 0 0 4px;
      vertical-align: top;
    }
  }
  .filters {
    float: right;
    li {
      float: left;
      margin: 9px 0 0 30px;
      a {
        font: 400 14px/1 $fontOne;
        color: #999898;
      }
    }
  }
  .subtitle {
    text-align: left;
    width: auto;
    margin: 5px 0 0;
    font: 300 13px/1 $fontOne;
    color: #999898;
  }
}

.products-list {
  position: relative;
  left: -19px;
  width: 1134px;
  margin: 36px 0 40px;
  font: 400 14px/1.1 $fontOne;
  .product-item {
    margin-bottom: 40px;
    .thumbnail {
      position: relative;
      border: 6px solid #f3f3f3;
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
      .like, .quick-view {
        position: absolute;
        opacity: 0;
        @include transition((opacity) (.2s) (linear));
      }
      .like {
        top: 0;
        right: 0;
        background: #fff;
        border-radius: 0 0 0 3px;
        width: 46px;
        height: 46px;
        a {
          background: image-url('icon-product-like.png') center center no-repeat;
          display: block;
          width: 46px;
          height: 46px;
          overflow: hidden;
          text-indent: -999px;
        }
      }
      .quick-view {
        bottom: 32px;
        left: 50%;
        margin: 0 0 0 -87px;
        a {
          width: 174px;
          height: 40px;
          background: #737373;
          display: block;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font: 300 18px/40px $fontOne;
          &:hover {
            background: #fff;
            color: #737373;
          }
        }
      }
      &:hover {
        .like, .quick-view {
          opacity: 1;
        }
      }
    }
    .name {
      margin: 12px 0 0;
      a {
        color: #333;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .description {
      color: #999898;
      font-size: 12px;
      margin: 3px 0 10px;
    }
    .price {
      color: #000;
      font-weight: 700;
      margin: 0 0 10px;
    }
    .colors {
      .color {
        display: inline-block;
        margin: 0 3px 0 0;
      }
    }
  }
}

.product-page {
  margin: 34px 0 0;
  .photos-carousel {
    float: left;
    margin: 0 0 0 16px;
  }
  .big-photo {
    float: right;
  }
  .share-buttons {
    border: 1px solid #d8d8da;
    border-top: 0;
    padding: 18px;
    text-align: center;
  }
}