@import url(http://fonts.googleapis.com/css?family=Arapey:400italic,400);

@include font-face('Novecento', 'novecentosanswide-light', 300);
@include font-face('Novecento', 'novecentosanswide');
@include font-face('Novecento', 'novecentosanswide-bold', 700);

@include font-face('Didot', 'didot', 400);
@include font-face('Didot', 'didot-italic', 400, italic);
@include font-face('Didot', 'didot-bold', 700);

@include font-face('LeagueGothic', 'leaguegothic-regular', 400);

@include font-face('Icons', 'icomoon');
@include font-face('Icon Numbers', 'icon-numbers');

$fontOne: 'Novecento', sans-serif;
$fontTwo: 'Didot', serif;
$fontThree: 'LeagueGothic', serif;
$fontFour: 'Arapey', serif;