@font-face {
    font-family: 'GranjonLTStd';
    src: url('/fonts/granjonltstd.eot');
    src: url('/fonts/granjonltstd.eot?#iefix') format('embedded-opentype'),
         url('/fonts/granjonltstd.woff') format('woff'),
         url('/fonts/granjonltstd.ttf') format('truetype'),
         url('/fonts/granjonltstd.svg#GranjonLTStd') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GranjonLTStd';
    src: url('/fonts/granjonltstd-italic.eot');
    src: url('/fonts/granjonltstd-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/granjonltstd-italic.woff') format('woff'),
         url('/fonts/granjonltstd-italic.ttf') format('truetype'),
         url('/fonts/granjonltstd-italic.svg#GranjonLTStd') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GranjonLTStd';
    src: url('/fonts/granjonltstd-bold.eot');
    src: url('/fonts/granjonltstd-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/granjonltstd-bold.woff') format('woff'),
         url('/fonts/granjonltstd-bold.ttf') format('truetype'),
         url('/fonts/granjonltstd-bold.svg#GranjonLTStd') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url('/fonts/didot-italic.eot');
    src: url('/fonts/didot-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/didot-italic.woff') format('woff'),
         url('/fonts/didot-italic.ttf') format('truetype'),
         url('/fonts/didot-italic.svg#Didot') format('svg');
    font-weight: 400;
    font-style: italic;
}

$fontOne: 'Lato', sans-serif;
$fontTwo: 'GranjonLTStd', sans-serif;
$fontThree: 'Didot', sans-serif;