.footer-global {
	text-transform: uppercase;
	padding-top: 15px;
	max-width: none;
	background: #000;
	color: #fff;
	.container {
		max-width: 1140px;
		margin: 0 auto;
	}
	@extend .centered-layout;

	.copy {
		text-align: center;
		line-height: 67px;
	}
	.active {
		text-align: center;
		font: $fontFive;
	}
	.form-fixed{
		position: fixed;
		height: 70px;
		bottom: 0;
		left: 0;
	}
	.form-normal{
		position: relative;
	}
	.form {
		padding-top: 40px;
		text-align: center;
		font-size: 18px;
		width: 100%;
		background: #000;
		

		* {
			display: inline-block;
		}

		.success-holder{
			position: relative;
		}

		#sub-success{
			position: absolute;
			width: 520px;
			height: 70px;
			margin: 0 auto;
			padding: 20px;
			background: #000;
			z-index: 1000;
			top: -97px;
			.heading{
				font-size: 14px;
			}
			.msg{
				font-size: 10px;
			}
		}

		.label {
			margin: 8px 10px 0 0;
			font: 22px/1em $fontThree;
			float: left;
		}
		#fieldEmail {
			width: 400px;
			border: none;
			padding: 0;
			text-align: center;
			height: 34px;
			display: inline-block;
			float: left;
		}
		button {
			position: relative;
			height: 34px;
			display: inline-block;
			margin: 0;
			padding: 6px 10px 0 0;
			border: 0;
			background: #fff;
			font-size: 22px;

			.fa-caret-right::before{
				position: absolute;
				top: 8px;
			}
		}
		
	}
	.email-submit {
		background: #fff;
		color: #000;
		padding: 6px 10px;
		border-top: solid 1px #fff;
		margin-left: -5px;
	}
}
.nav-footer {
	position: relative;
	min-height: 70px;
	padding: 13px 0;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	@include clearfix;
	.footer-links {
		display: inline-block;
		min-width: 150px;	
		text-align: left;
		vertical-align: top;
	}
	.footer-label {
		font-weight: bold;
		font-size: 12px;
		span {
			font-size: 10px;
			font-weight: normal;
		}
	}
	li {margin-bottom: 10px;}
	a {
		text-decoration: none;
		font-size: 11px;
		font-family: $fontFive;
	}
	.social-links {
		li {
			display: inline-block;
		}
		i {
			font-size: 24px;
			margin: 0 10px;
		}
	}
}

.phone {
	text-align: center;
	width: 35%;
	color: #fff;
	margin: 0 auto;
	padding: 5px 10px;
	font-size: 14px;
}
.blog-footer {
	@extend .centered-layout;
	@include clearfix;
	height: 170px;
	.logo-copyright {
		height: 170px;
		width: 235px;
		float: left;
		background-color: #000;
		color: #fff;
		text-align: center;
		font-size: 12px;
		text-transform: none;
		a { text-decoration: none;}
		.logo {
			font-size: 100px;
			line-height: 120px;
			margin-top: 20px;
		}
	}
	nav {
		overflow: hidden;
		background-color: $greenLightColor;
		height: 80px;
		padding: 20px 10px;
		li {
			float: left;
			margin-left: 75px;
			&:first-child { margin-left: 0;}
			a {
				font-size: 10px;
				font-family: $cinzelNormal;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}