.form {
  .fields-name {
    margin: 24px 0 8px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .input {
    margin: 20px 0 0;
    input, textarea {
      width: 100%;
      height: 40px;
      outline: 0;
      background: #fff;
      border: 1px solid #ccc;
      padding: 0 10px;
      font: 400 14px/40px $fontOne;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .3) inset;
      border-radius: 4px;
      @include box-sizing(border-box);
    }
    textarea {
      line-height: 1.2;
      height: 188px;
      padding: 10px;
    }
    .field_with_errors {
      input, textarea {
        border-color: #cc0000;
      }
    }
    .hint {
      margin-top: 12px;
      text-align: center;
      color: #C5C2C3;
      font-size: 13px;
      font-family: $fontOne;
      .hint-title {
        color: #b0adae;
        font-weight: 700;
        margin: 0 0 4px;
      }
    }
    &.boolean {
      input {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        border: 0;
        box-shadow: none;
        background: transparent;
      }
      label {
        margin: 2px 0 0 4px;
      }
    }
  }
  .fields-group {
    @include clearfix();
    .input {
      width: 340px;
      float: left;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .fields-group-four {
    .input {
      margin-top: 11px;
      margin-bottom: 4px;
      width: 160px;
    }
  }
  .photos-upload {
    overflow: hidden;
    width: 466px;
    padding: 9px 0 0;
    margin: 0 auto 36px;
    ul.uploaded-photos {
      overflow: hidden;
      li {
        position: relative;
        float: left;
        width: 90px;
        height: 110px;
        margin: 0 0 0 4px;
        background: image-url('icon-photo-placeholder.jpg') 0 0 no-repeat;
        &:first-child {
          margin: 0;
        }
      }
    }
    .upload-button {
      margin: -18px 0 0 0;
      text-align: center;
      .btn {
        float: none;
        position: relative;
        overflow: hidden;
        display: block;
        width: 168px;
        height: 32px;
        margin: 0 auto 6px;
        font: 400 14px/32px $fontOne;
        color: #666;
        text-transform: uppercase;
        border: 0;
        border-radius: 4px;
        background: #bffbef;
        box-shadow: 0 1px 2px rgba(201, 146, 136, .66);
        .fileinput-button {
          z-index: 2;
          top: -10px;
          right: -10px;
        }
      }
      .upload-limit {
        clear: both;
        margin: 5px 0 0;
        font: 400 13px/1.2 $fontOne;
        color: #c5c2c3;
      }
    }
  }
  .separate {
    width: 232px;
    height: 1px;
    background: #f9b4a8;
    margin: 43px auto 31px;
  }
  .submit-form {
    input {
      display: block;
      font: 700 14px/44px $fontOne;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      background: #f9b4a8;
      margin: 0 auto 10px;
      width: 334px;
      height: 44px;
      border: 0;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(201, 146, 136, .66);
    }
  }
  .submit {
    margin: 40px 0 0;
    input {
      display: block;
      text-decoration: none;
      border: 0;
      padding: 0 42px;
      text-transform: uppercase;
      color: #fff;
      font: 300 20px/38px $fontOne;
      height: 38px;
      @include linear-gradient(#414141, #252525);
      &.light {
        color: #787878;
        @include linear-gradient(#e9e9e9, #d9d9d9);
      }
    }
  }
  .size-choser {
    margin: 0 0 36px;
    ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 14px 6px 0;
        a,
        label {
          text-decoration: none;
          display: block;
          padding: 10px;
          font: 400 13px/1 $fontOne;
          background: #fcfcfc;
          border: 1px solid #ddd;
          width: 60px;
          color: #8b8b8b;

          input[type=radio] {
            display: none;
          }
        }

        label {
          margin-top: 0px;
          margin-bottom: 0px;
        }

        &.active {
          a,
          label {
            color: #3a3a3a;
            border-color: #6a6a6a;
          }
        }
      }
    }
  }
  .color-choser {
    width: 264px;
    margin: 0 auto;
    height: 152px;
    .picker {
      float: left;
    }
    .colorbox {
      float: right;
      width: 54px;
      height: 54px;
      border: 1px solid #ddd;
      margin: 0 0 0 12px;
    }
  }
  &.centered {
    width: 700px;
    margin: 0 auto;
  }
  &.margin-bottom {
    margin-bottom: 400px;
  }
  &.custom-dress {
    label {
      font-size: 20px;
      font-style: italic;
      display: block;
      text-align: center;
      margin: 10px 0 8px;
    }
    .input {
      margin: 0 auto 36px;
      width: 490px;
    }
    .hint {
      margin: 12px auto;
    }
  }
}

.errors, .errorExplanation {
  width: 700px;
  margin: 20px auto;
  color: #cc0000;
  font: 400 16px/1.2 $fontOne;
  h2 {
    margin: 0 0 10px;
  }
  p {
    display: none;
  }
}

.or-line {
  position: relative;
  font: 400 italic 20px/1.1 $fontFour;
  span {
    color: #999;
    background: #fff;
    padding: 0 16px 0 0;
    position: relative;
    z-index: 2;
  }
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 60%;
    left: 0;
    background: #efefef;
  }
}