
.centered-layout {
	min-width: $layoutWidth;
	max-width: $layoutWidth;
	margin-left: auto;
	margin-right: auto;
}

.text-field {
	width: 100%;
	height: 32px;
	font: 400 10px/32px $fontOne;
	letter-spacing: 0.125em;
	text-transform: uppercase;
	padding: 0 5px;
	background-color: #fff;
	border: solid 1px #000;
	color: #000;
	@include placeholder(#000);
	@include box-sizing(border-box);

	&:disabled {
		background-color: #f4f4f4;
		border-color: #ccc;
		color: #ccc;
	}

	&.with-shadow {
		@include longBoxShadowRight(#000, 5);
	}

	&.pink {
		background-color: #fdf5ef;
		border-color: #fdf5ef;
		&:disabled {
			background-color: #f4f4f4;
			border-color: #f4f4f4;
		}
	}
}

.form-global {
	h1 {
		font-style: italic;
		font-family: $fontTwo;
		text-transform: none;
		font-size: 36px;
		margin: 0 0 20px;
	}
	label {
		font: 400 10px/17px $fontOne;
	}
	input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], textarea {
		width: 100%;
		height: 32px;
		font: 400 10px/32px $fontOne;
		letter-spacing: 0.125em;
		text-transform: uppercase;
		padding: 0 5px;
		background-color: #fff;
		border: solid 1px #000;
		color: #000;
		@include placeholder(#000);
		@include longBoxShadowRight(#000, 5);
		@include box-sizing(border-box);
	}
	textarea {
		height: auto;
		padding: 5px;
		line-height: 1.2;
	}
	select {
		height: 32px;
		padding: 0 5px;
		border: solid 1px rgba(0, 0, 0, 0.15);
	}
	input:disabled[type="text"]{
		border: #999 1px solid;
		color: #ccc !important;
	}
	input:disabled[type="submit"]{
		background: #ccc;
		color: #666;
		border: none;
	}
	.without-shadow {
		box-shadow: none !important;
		.checkout-page & { 
			text-transform: none !important;
			font-family: $fontFive;
			font-size: 12px;
		}
		.chosen-container-single .chosen-single {
			box-shadow: none !important;
		}
	}
	.input.string {
		margin-bottom: 30px;
	}
	.chosen-container-single .chosen-single {
		height: 32px;
		line-height: 32px;
	}
}

.facebook-button {
	height: 33px;
	line-height: 31px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-family: $fontFive;
	font-weight: 100;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	border-top: 1px solid #2f4b83;
	border-right: 1px solid #2f4b83;
	position: relative;
	padding: 0 15px 0 45px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	@include box-sizing(border-box);
	@include linear-gradient(#597ab2 0%, #597ab2 50%, #3d5d99 51%, #3d5d99 100%);
	.icon {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30px;
		font-size: 17px;
		border-radius: 5px 0 0 5px;
		text-align: center;
		@include linear-gradient(#44619a 0%, #44619a 50%, #344f81 51%, #344f81 100%);
	}
}
.button-flat,
.facebook-button-flat {
	border: solid 1px #2e2f56;
	background-color: #fff;
	color: #2e2f56;
	height: 33px;
	line-height: 34px;
	padding: 0 18px 0 50px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-family: $fontOne;
	font-size: 10px;
	.icon {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		line-height: 37px;
		width: 35px;
		font-size: 17px;
		text-align: center;
		color: #fff;
		background-color: #2e2f56;
	}
}

.button-flat {
  padding-left: 18px;
}

.block-with-triangle {
	min-height: 106px;
	position: relative;
	padding: 20px 0;
	min-width: 176px;
	text-align: center;
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	@include box-sizing(border-box);
	.text {
		position: relative;
		z-index: 1;
	}
	.triangle-top, .triangle-bottom {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -90px;
		width: 0;
		height: 0;
		border-style: solid;
		z-index: 0;
	}
	.triangle-bottom {
		border-width: 106px 88px 0 88px;
		border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	}
	.triangle-top {
		border-width: 0 88px 106px 88px;
		border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0);
	}
}
a.block-with-triangle .text {
	font-family: $fontTwo;
	font-size: 30px;
}

.social-grey-global {
	position: relative;
	padding: 10px 0;
	font-size: 26px;
	line-height: 20px;
	text-align: left;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	> div, > a {
		display: inline-block;
		vertical-align: top !important;
		margin-right: 5px;
	}
	.fb-like > span { vertical-align: top !important;}
	.arrows-line-horizontal {
		position: absolute;
		left: 0;
		right: 0;
		&.top {
			top: 0;
			&:before { display: none;}
		}
		&.bottom {
			bottom: 0;
			&:after { display: none;}
		}
	}
	a { 
		display: inline-block;
		vertical-align: top;
		+ a { margin-left: 10px;}
	}
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	height: 36px;
	font: 300 22px/36px $fontThree;
	padding: 0 15px;
	letter-spacing: 0.125em;
	background-color: #000;
	@include box-sizing(border-box);
	&.wide {
		width: 100%;
	}
	&.small {
		height: 20px;
		line-height: 20px;
		padding: 0 20px;
		font-size: 14px;
	}
	&.mid {
		height: 30px;
		line-height: 30px;
		padding: 0 17px;
		font-size: 14px;
		font-family: $fontFive;
		letter-spacing: 0.1em;
	}
	&.large {
		height: 65px;
		line-height: 65px;
	}
	&.empty {
		color: #000;
		background-color: #fff;
	}
	&.pink {
		color: #fff;
		background-color: $pinkColor;
	}
	&.pink-pale {
		background: #e2b3b6;
		font-size: 16px;
		font-family: $fontOne;
		letter-spacing: 0;
	}
	&.green {
		color: #000;
		background-color: $greenColor;
		&:hover {
			color: $greenColor;
			background-color: #000;
			&.border { border-color: $greenColor;}
			&.shadow {@include longBoxShadowRight ($greenColor, 3);}
		}
	}
	&.white {
		background: #fff;
		color: #000;
	}
	&.grey {
		color: #fff;
		background-color: #b9b9b9;
	}
	&.shadow {
		@include longBoxShadowRight(#000, 3);
	}
	&.border {
		border: solid 1px #000;
	}
	&.striped {
		background: url('_pink-stripe.png');
	}
	&.striped-disable {
		background: url('_nav-bg.png');
		font-size: 12px;
		line-height: 1;
		color: $pinkColor;
		padding-top: 6px;
		cursor: default;
	}
	&.without-shadow {
		height: 32px;
		line-height: 32px;
		font-size: 16px;
	}
}
.btn-table {
	display: inline-table;
	line-height: 1.1 !important;
	.btn-table-text {
		display: table-cell;
		vertical-align: middle;
		padding-top: 5px;
	}
}

.arrows-line-horizontal, .arrows-line-vertical {
	&:before, &:after {
		font-family: 'Icons';
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;
	  font-size: 15px;
		position: absolute;
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
}
.arrows-line-horizontal {
	height: 1px;
	background-color: #666;
	position: relative;
	&:before, &:after {
		content: '\e005';
		top: -7px;
		left: -4px;
	}
	&:after {
		content: '\e004';
		left: auto;
		right: -4px;
	}
}
.arrows-line-vertical {
	width: 1px;
	background-color: #666;
	position: relative;
	&:before, &:after {
		content: '\e007';
		top: -4px;
		left: -7px;
	}
	&:after {
		content: '\e008';
		top: auto;
		bottom: -4px;
	}
}

.sizebox {
	font-size: 0;
	margin-top: 5px;
	border-left: solid 1px #000;
	position: relative;
	z-index: 5;
	.button, .dropdown-button {
		display: inline-block;
		border: solid 1px #000;
		position: relative;
		border-left: 0;
		margin-bottom: -1px;
		vertical-align: top;
		font-size: $fontSize;
		height: 36px;
		text-align: center;
		width: 14.2857143%;
		line-height: 36px;
		cursor: pointer;
		background-color: #fff;
		@include box-sizing(border-box);
		&:hover {
			.size-popup {
				visibility: visible;
				opacity: 1;
			}
		}
		&.selected {
			color: #fff;
			background-color: #000;
		}
		&.dropdown-button {
			font-size: 18px;
		}
		&.unavailable {
			cursor: default;
			color: #eee;
			background-color: #eee;
			position: relative;
			&:after {
				content: 'SOLD OUT';
				color: #000;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				white-space: normal;
				line-height: 1.15;
				padding: 7px 10px;
			}
		}
	}
	.dropdown-size { display: none;}
	.dropdown-content {
		position: absolute;
		top: 100%;
		right: 0;
		left: -1px;
		text-align: right;
		display: none;
		border-right: solid 1px #000;
		border-top: solid 1px #000;
		direction: rtl;
		.dropdown-size { display: inline-block;}
		.button { 
			border-left: 1px solid #000;
			border-top: 0;
			direction: ltr;
			border-right: 0;
			&:first-child { margin-right: -1px; }
		}
	}

	.size-popup {
		position: absolute;
		z-index: 5;
		top: 98%;
		padding-top: 12px;
		right: -10px;
		width: 220px;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		color: #000;
		@include transition(all 0.2s linear);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 24px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12px 12px 12px;
			border-color: transparent transparent #000 transparent;
			border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #000 rgba(255, 255, 255, 0);
		}
		.size-popup-container {
			background-color: #fff;
			border: solid 5px #000;
			padding: 10px;
		}
		.size-numbers {
			font-size: 20px;
			font-family: $fontFive;
		}
		.body {
			background: url('_chartsize-blank.jpg') no-repeat top center;
			width: 100%;
			height: 240px;
			margin: 10px 0;
			position: relative;
			.dimension {
				position: absolute;
				width: 159px;
				left: 50%;
				margin-left: -80px;
				font-size: 18px;
				font-family: $fontFive;
				border-bottom: dashed 2px #000;
				padding-bottom: 5px;
				overflow: hidden;
				line-height: 18px;
				.fright {
					color: $pinkColor;
				}
			}
			.bust { top: 58px;}
			.waist { top: 90px;}
			.hip { top: 130px;}
		}
		.btn {
			padding: 0 10px;
			font-size: 20px;
		}
	}
}

.bread-crumbs {
	@include clearfix;
	background: url('_nav-bg.png');
	font-size: 0;
	margin-top: 20px;
	.btn {
		position: relative;
		&:before {
			content: '';
			width: 20px;
			height: 1px;
			background-color: #000;
			display: block;
			position: absolute;
			top: 50%;
			left: -30px;
		}
		&:after {
			content: '\e004';
			font-family: 'Icons';
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 1;
		  /* Better Font Rendering =========== */
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  font-size: 15px;
		  position: absolute;
		  top: 50%;
		  margin-top: -7px;
		  left: -20px;
		  color: #000;
		}
		+ .btn { margin-left: 30px;}
	}
	.fleft {
		.btn:first-child {
			&:before, &:after { display: none;}
		}
	}
	.fright {
		.btn {
			&:before { left: -20px;}
			&:after {
				content: '\e005';
				left: -25px;
			}
		}
	} 
}

.table-global {
	width: 100%;
	font-size: 15px;
	th {
		text-align: left;
		font-weight: 400;
		border-bottom: solid 1px #e1e1e1;
	}
	th, td {
		padding: 10px 5px;
	}
}

#what-size {
	font-family: $fontFive;
	font-size: 14px;
	text-transform: none;
	.title {
		font-size: 30px;
		font-weight: 300;
		padding-bottom: 20px;
		text-align: center;
	}
	h6 {
		font-weight: 700;
		font-size: 16px;
		+ p { 
			margin: 4px 0 20px;
		}
	}
	.text {
		width: 450px;
	}

	.table-global {
		font-size: 16px;
		text-align: center;
		border-top: solid 1px #eaeaea;
		tr:nth-child(even) td {
			background-color: #f7f7f7;
		}
		th, td {
			text-align: center;
			border-bottom: solid 1px #eaeaea;
			border-left: solid 1px #eaeaea;
			&:first-child { border-left: 0;}
		}
		th {
			font-weight: 700;
		}
		td {
			font-weight: 300;
			padding: 5px;
		}
		.dimension {
			font-size: 14px;
			color: #888;
		}
	}
}
	

.nice-checkbox {
	margin-bottom: 5px;
	display: inline-block;
	&.without-shadow {
		label, .label {
			span { box-shadow: none !important;}
		}
	}
	input[type="checkbox"] {
    display:none;
    &:checked {
    	+ label, + .label {
    		span { background-position: 0 0;}
    	}
    }
    + label, + .label {
    	span {
    		display:inline-block;
		    width:14px;
		    height:14px;
		    border: solid 1px #000;
		    margin: -4px 10px 0 0;
		    vertical-align: middle;
		    background:url('_reg/checkbox.png') -9999px -9999px no-repeat #fff;
		    cursor: pointer;
		    @include longBoxShadowRight(#000, 5);
    	}	
    }
	}
}

// Pink Checkbox
.checkbox-pink {
	position: relative;
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		&:checked + label {
			overflow: hidden;
			&:before { background-color: #000;}
			&:after {
				content: '';
				background: url('_cross.png') center center no-repeat;
			}
		}
	}
	label {
		position: relative;
		line-height: 36px;
		padding-left: 50px;
		display: inline-block;
		vertical-align: top;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 36px;
			width: 36px;
			background-color: #fdf5ef;
			z-index: 0;
		}
		&:after { z-index: 1;}
	}
}
// @end

// Title with lines
.page-title-with-line {
	margin: 20px 0;
	overflow: hidden;
	text-align: center;
	.title {
		font-size: 32px;
		font-family: $bebas;
		display: inline-block;
		position: relative;
		padding: 0 20px;

		.arrows-line-horizontal {
			width: 1000%;
			position: absolute;
			top: 50%;
			&.left {
				left: auto;
				right: 100%;
			}
			&.right {
				left: 100%;
				right: auto;
			}
		}
	}
	
}
// @end

.errorExplanation {
	margin: 20px 0;
	color: #d33d0f;
	h2 {
		font: 300 25px/1 $fontFive;
	}
	li {
		margin: 5px 0;
	}
}

.video-fluid {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
	iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
	}
}
.tooltipsy {
  padding: 7px 8px;
  font-size: 10px;
  min-width: 120px;
  color: #000;
  background-color: #fff;
  border: 1px solid magenta;
}


.fast-delivery-icon{
	text-indent: -1000px;
	overflow: hidden;
	width: 71px;
	height: 72px;
	background:url('icons-corner-next-day-delivery.png') no-repeat;
	position: absolute;
	top: 10px;
	left: 0px;
}

.fast-delivery-icon-right{
	text-indent: -1000px;
	overflow: hidden;
	width: 71px;
	height: 72px;
	background:url('icons-corner-next-day-delivery-right.png') no-repeat;
	position: absolute;
	top: 10px;
	right: 0px;
}

.fast-delivery-info{
	padding: 20px 0 40px 0;
	color: #999;
	font-size: 13px;
	font-family: $fontFive;
	text-transform: none;
	width: 50%;
	max-width: 1140px;
	min-width: 320px;
	margin: 0 auto;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
