.centered-layout {
	min-width: $layoutWidth;
	max-width: $layoutWidth;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: none;
	text-transform: uppercase;
	height: 36px;
	color: #fff;
	font: 300 22px/36px $fontThree;
	padding: 0 15px;
	letter-spacing: 0.125em;
	background-color: #000;
	@include box-sizing(border-box);
	&.small {
		height: 20px;
		line-height: 20px;
		padding: 0 20px;
		font-size: 14px;
	}
	&.empty {
		color: #000;
		background-color: #fff;
	}
	&.pink {
		color: #000;
		background-color: $pinkColor;
	}
}

.arrows-line-horizontal {
	height: 1px;
	margin: 0 1px;
	background-color: #666;
	position: relative;
	&:before, &:after {
		content: '';
		display: block;
		width: 9px;
		height: 15px;
		position: absolute;
		top: -7px;
		left: -1px;
		background: url('_arrows.png') no-repeat;
	}
	&:after {
		left: auto;
		right: -1px;
		background-position: -9px 0;
	}
}
.arrows-line-vertical {
	width: 1px;
	background-color: #666;
	position: relative;
	margin: 1px 0;
	&:before, &:after {
		content: '';
		display: block;
		width: 15px;
		height: 9px;
		position: absolute;
		top: -1px;
		left: -6px;
		background: url('_arrows.png') no-repeat 0 -15px;
	}
	&:after {
		top: auto;
		bottom: -1px;
		background-position: 0 -24px;
	}
}

