.centered-layout {
	min-width: $layoutWidth;
	max-width: $layoutWidth;
	margin-left: auto;
	margin-right: auto;
}

.form-global {
	h1 {
		font-style: italic;
		font-family: $fontTwo;
		text-transform: none;
		font-size: 36px;
		margin: 0 0 20px;
	}
	label {
		font: 400 10px/17px $fontOne;
	}
	input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"] {
		width: 100%;
		height: 32px;
		font: 400 10px/32px $fontOne;
		letter-spacing: 0.125em;
		text-transform: uppercase;
		padding: 0 5px;
		background-color: #fff;
		border: solid 1px #000;
		color: #000;
		@include placeholder(#000);
		@include longBoxShadowRight(#000, 5);
		@include box-sizing(border-box);
	}
	.input.string {
		margin-bottom: 30px;
	}
	.chosen-container-single .chosen-single {
		height: 32px;
		line-height: 32px;
	}
}

.facebook-button {
	height: 33px;
	line-height: 31px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-family: $fontFive;
	font-weight: 100;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	border-top: 1px solid #2f4b83;
	border-right: 1px solid #2f4b83;
	position: relative;
	padding: 0 15px 0 45px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	@include box-sizing(border-box);
	@include linear-gradient(#597ab2 0%, #597ab2 50%, #3d5d99 51%, #3d5d99 100%);
	.icon {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30px;
		font-size: 17px;
		border-radius: 5px 0 0 5px;
		text-align: center;
		@include linear-gradient(#44619a 0%, #44619a 50%, #344f81 51%, #344f81 100%);
	}
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	height: 36px;
	font: 300 22px/36px $fontThree;
	padding: 0 15px;
	letter-spacing: 0.125em;
	background-color: #000;
	@include box-sizing(border-box);
	&.small {
		height: 20px;
		line-height: 20px;
		padding: 0 20px;
		font-size: 14px;
	}
	&.mid {
		height: 30px;
		line-height: 30px;
		padding: 0 17px;
		font-size: 14px;
		font-family: $fontFive;
		letter-spacing: 0.1em;
	}
	&.empty {
		color: #000;
		background-color: #fff;
	}
	&.pink {
		color: #fff;
		background-color: $pinkColor;
	}
	&.green {
		color: #000;
		background-color: $greenColor;
		&:hover {
			color: $greenColor;
			background-color: #000;
			&.border { border-color: $greenColor;}
			&.shadow {@include longBoxShadowRight ($greenColor, 3);}
		}
	}
	&.grey {
		color: #fff;
		background-color: #b9b9b9;
	}
	&.shadow {
		@include longBoxShadowRight(#000, 3);
	}
	&.border {
		border: solid 1px #000;
	}
	&.striped {
		background: url('_pink-stripe.png');
	}
	&.striped-disable {
		background: url('_nav-bg.png');
		font-size: 12px;
		line-height: 1;
		color: $pinkColor;
		padding-top: 6px;
		cursor: default;
	}
}

.arrows-line-horizontal, .arrows-line-vertical {
	&:before, &:after {
		font-family: 'Icons';
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;
	  font-size: 15px;
		position: absolute;
		-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
}
.arrows-line-horizontal {
	height: 1px;
	background-color: #666;
	position: relative;
	&:before, &:after {
		content: '\e005';
		top: -7px;
		left: -4px;
	}
	&:after {
		content: '\e004';
		left: auto;
		right: -4px;
	}
}
.arrows-line-vertical {
	width: 1px;
	background-color: #666;
	position: relative;
	&:before, &:after {
		content: '\e007';
		top: -4px;
		left: -7px;
	}
	&:after {
		content: '\e008';
		top: auto;
		bottom: -4px;
	}
}

.sizebox {
	font-size: 0;
	margin-top: 5px;
	border-left: solid 1px #000;
	position: relative;
	z-index: 5;
	.button, .dropdown-button {
		display: inline-block;
		border: solid 1px #000;
		border-left: 0;
		margin-bottom: -1px;
		vertical-align: top;
		font-size: $fontSize;
		height: 36px;
		text-align: center;
		width: 14.2857143%;
		line-height: 36px;
		cursor: pointer;
		background-color: #fff;
		@include box-sizing(border-box);
		&.selected {
			color: #fff;
			background-color: #000;
		}
		&.dropdown-button {
			font-size: 18px;
		}
	}
	.dropdown-size { display: none;}
	.dropdown-content {
		position: absolute;
		top: 100%;
		right: 0;
		left: -1px;
		text-align: right;
		display: none;
		border-right: solid 1px #000;
		border-top: solid 1px #000;
		direction: rtl;
		.dropdown-size { display: inline-block;}
		.button { 
			border-left: 1px solid #000;
			border-top: 0;
			direction: ltr;
			border-right: 0;
			&:first-child { margin-right: -1px; }
		}
	}
}

.bread-crumbs {
	@include clearfix;
	background: url('_nav-bg.png');
	font-size: 0;
	margin-top: 20px;
	.btn {
		position: relative;
		&:before {
			content: '';
			width: 20px;
			height: 1px;
			background-color: #000;
			display: block;
			position: absolute;
			top: 50%;
			left: -30px;
		}
		&:after {
			content: '\e004';
			font-family: 'Icons';
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 1;
		  /* Better Font Rendering =========== */
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  font-size: 15px;
		  position: absolute;
		  top: 50%;
		  margin-top: -7px;
		  left: -20px;
		  color: #000;
		}
		+ .btn { margin-left: 30px;}
	}
	.fleft {
		.btn:first-child {
			&:before, &:after { display: none;}
		}
	}
	.fright {
		.btn {
			&:before { left: -20px;}
			&:after {
				content: '\e005';
				left: -25px;
			}
		}
	} 
}

.table-global {
	width: 100%;
	font-size: 15px;
	th {
		text-align: left;
		font-weight: 400;
		border-bottom: solid 1px #e1e1e1;
	}
	th, td {
		padding: 10px 5px;
	}
	#what-size & {
		th, td { padding: 15px 10px;}
		td { font-weight: 300; text-transform: none !important;}
	}
}

.nice-checkbox {
	margin-bottom: 5px;
	display: inline-block;
	input[type="checkbox"] {
    display:none;
    &:checked {
    	+ label, + .label {
    		span { background-position: 0 0;}
    	}
    }
    + label, + .label {
    	span {
    		display:inline-block;
		    width:14px;
		    height:14px;
		    border: solid 1px #000;
		    margin: -4px 10px 0 0;
		    vertical-align: middle;
		    background:url('_reg/checkbox.png') -9999px -9999px no-repeat #fff;
		    cursor: pointer;
		    @include longBoxShadowRight(#000, 5);
    	}	
    }
	}
}


.errorExplanation {
	margin: 20px 0;
	color: #d33d0f;
	h2 {
		font: 300 25px/1 $fontFive;
	}
	li {
		margin: 5px 0;
	}
}

.video-fluid {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
	iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
	}
}
