.icon-phone, .icon-home, .icon-bag, .icon-pencil, .icon-layby, .icon-signup, .icon-livechat, .icon-help, .icon-shipping, .icon-returns, .icon-dress, .icon-customization, .icon-purchase, .icon-eye, .icon-heart, .icon-tick-circle {
  font-family: 'Icons';
  color: #000;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-phone:before {
  content: "\e000";
}
.icon-home:before {
  content: "\e001";
}
.icon-bag:before {
  content: "\e002";
}
.icon-pencil:before {
  content: "\e003";
}
.icon-layby:before {
  content: "\e004";
}
.icon-signup:before {
  content: "\e005";
}
.icon-livechat:before {
  content: "\e006";
}
.icon-help:before {
  content: "\e007";
}
.icon-shipping:before {
  content: "\e008";
}
.icon-returns:before {
  content: "\e009";
}
.icon-dress:before {
  content: "\e00a";
}
.icon-customization:before {
  content: "\e00b";
}
.icon-purchase:before {
  content: "\e00c";
}
.icon-eye:before {
  content: "\e00d";
}
.icon-heart:before {
  content: "\e00e";
}
.icon-tick-circle:before {
  content: "\e00f";
}
.icon-heart:before {
  content: "\e008";
}
