header.inverse {
  position: absolute;
  background: image-url('bg-top.png') 0 0 repeat;
  .wrap {
    border-bottom: 0;
  }
  .logo {
    a {
      background-image: image-url('logo-white.png');
    }
  }
}

.top-bar.inverse {
  position: absolute;
  .main {
    ul {
      li {
        border-left-color: #333;
        &.active {
          a {
            color: #333;
          }
        }
      }
    }
  }
}

footer.inverse {
  .columns {
    margin-top: 18px;
    color: #b4b4b4;
    background: transparent;
    a {
      color: #b4b4b4;
    }
  }
  .title {
    color: #F9B4A8;
  }
}

.fixed-bar {
  header.inverse {
    position: static;
    .wrap {
      border-bottom: 1px solid #e0e0e0;
    }
    .logo {
      a {
        background-image: image-url('logo.png');
      }
    }
    .icons {
      li {
        color: #000;
        .icon {
          background-position: 0 -100px;
          &.shipping {
            background-position: 0 -120px;
          }
          &.returns {
            background-position: 0 -140px;
          }
          &.guarantee {
            background-position: 0 -160px;
          }
          &.turnaround {
            background-position: 0 -180px;
          }
        }
      }
    }
  }
}

.pages-home {
  #wrap { margin-bottom: -298px; }
  #push { height: 298px; }
}