.pages-home {

  header {
    position: absolute;
    background: image-url('bg-top.png') 0 0 repeat;
    .wrap {
      border-bottom: 0;
    }
    .logo {
      a {
        color: #fff;
        span {
          background-image: image-url('icon-header-amp.png');
        }
      }
    }
  }

  .top-bar {
    position: absolute;
    .main {
      ul {
        li {
          border-left-color: #333;
          &.active {
            a {
              color: #333;
            }
          }
        }
      }
    }
  }

  footer {
    .columns {
      color: #b4b4b4;
      background: transparent;
      a {
        color: #b4b4b4;
      }
    }
    .title {
      color: #bda18a;
    }
  }
}