#tracking-iframe {
  position: absolute;
}

.competitions, .landing2, .landing3, .campaigns {
  background: image-url('bg-main.jpg') 0 0 repeat;
  #wrap {
    margin: 0;
  }
  header, .top-links, .sale-banner {
    display: none !important;
  }
  .top-logo {
    background: #333;
    text-align: center;
    height: 26px;
    img {
      margin-top: 6px;
    }
  }
}

.competitions.show, .competitions.new {
  #content {
    .image-container {
      padding: 20px 20px 0;
      width: 1162px;
      background: #fff;
      margin: 0 auto;
    }
    .signup-form {
      width: 1162px;
      padding: 20px 20px 46px;
      background: #fe9f91;
      margin: 0 auto;
      .signup-title {
        margin: 0 0 22px;
      }
    }
    .signup-fields {
      overflow: hidden;
      display: inline-block;
    }
    .or {
      position: relative;
      font: 400 italic 38px/28px $fontFour;
      color: #fff;
      margin: 0 16px;
      span {
        color: #fff;
        background: #fe9f91;
        margin: 0 23px;
        padding: 0 0 0 3px;
        position: relative;
        z-index: 2;
      }
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 60%;
        left: 0;
        background: #fff;
      }
    }
    .input {
      float: left;
      margin: 0 12px 0 0;
      input {
        width: 200px; 
        
        &:disabled{
          box-shadow: none !important;
          border: none;
          color: #999;
          font-style: italic;
          font-size: 16px;
        }
      }
    }
    .submit {
      margin: 1px 0 0;
    }
    .terms-line {
      clear: both;
      padding: 26px 0 0;
      font-size: 18px;
      color: #363636;
      font: 400 italic 18px/1.2 $fontFour;
      a {
        color: #363636;
      }
    }
  }
}

.competitions.share, .competitions.stylequiz, .landing2, .landing3 {
  .content-wrapper {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    .clearfix {
      width: 100%;
    }
    &.no-overflow {
      overflow: visible;
    }
  }
}

.competitions.share {
  .facebook-send {
    position: absolute;
    width: 300px;
    right: 58px;
    top: 264px;
    
    .fb-send{
      width: 80px;
    }
    
    .next-step{
      float: right;
    }
    
    .next{
      display: inline-block;
      text-decoration: none;
      border: 0;
      padding: 0 12px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font: 300 16px/22px $fontOne;
      height: 22px;
      @include linear-gradient(#414141, #252525); 
      &.light {
        color: #787878;
        @include linear-gradient(#e9e9e9, #d9d9d9);
      } 
    }
    .msg{
      font-size: 12px;
      font-family: $fontOne;
      font-weight: 300;
      padding: 5px 0;
      width: 200px;
    }
  }
  .content-wrapper {
    position: relative;
    background: image-url('image-landing-2.png') center 28px no-repeat #fff;
  }
  .signup-form {
    padding: 368px 80px 0 0;
    float: right;
  }
  .form-fields, .submit {
    overflow: hidden;
  }
  .submit {
    margin: 0 0 80px;
    text-align: center;
    input {
      width: 100%;
      padding: 0;
    }
  }
  .input, .fleft {
    width: 240px;
    float: left;
    margin: 0 0 8px 14px;
  }
}

.competitions.stylequiz, .landing3 {
  .content-wrapper {
    background: #fff;
    padding: 46px 0;
    text-align: center;
    position: relative;

  }
}