html, body { height: 100%;}
body {
	font-weight: 400;
	font-size: $fontSize;
	line-height: 1.2;
	font-family: $fontOne;
	text-transform: uppercase;
}

a { color: inherit;}

#wrap {
	min-height: 100%;
}

#content {
	@extend .centered-layout;
	margin-bottom: -160px;
}

#push {
	height: 160px;
}

.m-pixel {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.breadcrumbs-likes {
	margin-bottom: 30px;
}

#offerchatbox {
  display: block !important;
}

.position-relative {
  position: relative;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}