
.nye, .feb_2015_lp, .bridesmaid_lp, .christmas-gift-page, .amfam_lp{
  .catalog {
    width: 100%;
    font-size: 0;
    @include clearfix;

    .catalog-item {
      font-family: $fontFive;
      font-weight: 400;
      padding-bottom: 30px;
      min-width: 240px;
      width: 240px;
      float: left;
      margin-right: 40px;
      font-size: 13px;
      @include clearfix;
      @include box-sizing(border-box);
      .picture {
        width: 100%;
        text-align: center;
          img {
            width: 100%;
          }
      }
      .price {
        color: #000;
        .price-old {
          padding: 0 4px;
          color: #000;
        }
      }
      .price-old { 
        text-decoration: line-through;
        color: #000;
      }
      .title {
        text-decoration: none;
        text-transform: none;
        margin-bottom: 5px;
        display: inline-block;
      }
      .text {
        min-width: 100%;
        text-align: center;
        position: relative;
      }
    }
    .catalog-item:last-child{
      margin-right: 0px;
    }
  }
  .s1, .s6, .s7, .s8{
    @include clearfix;
    margin: 30px 0 0 0;
    font: 300 24px/1 $fontTwo;
    text-transform: none;
    text-align: center;
    .image{
      margin: 40px auto 0;
    }
    h1{
      font-size: 58px;
      font-weight: 100;
      margin-bottom: 10px;
      padding: 0 20px;
    }
    .sub{
      font-style: italic;
      padding: 0 20px;
    }
  }
  .s2, .s3, .s4, .s5, .s7, .s8{
    @include clearfix;
    .copy, .note {
      font: 300 24px/1.3 $fontTwo;
      text-transform: none;
      text-align: center;
    }

    .copy .title{
      font-size: 34px;
      text-transform: uppercase;
      padding: 0 0 10px 0;
    }

    .note{
      font-size: 20px;
      text-transform: uppercase;
      background: #fff;
      padding: 60px 40px;
    }
  }

  .s2{
    .part1{
      @include clearfix;
      margin: 30px 0;
      img{
        float: left;
        margin-left: 90px;
      }
      .copy{
        float: right;
        padding: 80px 39px 0 0;
        width: 420px;
        .title, .sub{
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .part2{
      @include clearfix;
      position: relative;
      margin-bottom: 60px;
      img{
        float: right;
        margin-right: 130px; 
      }
      .note{
        width: 200px;
        display: inline-block;
        position: absolute;
        top:60px;
        left:60px;
        z-index: 2;
      }
    }
  }
  .s3{
    .part1{
      @include clearfix;
      margin: 30px 0;
      img{
        float: right;
        margin-right: 90px;
      }
      .copy{
        float: left;
        width: 369px;
        margin: 115px 0 0 40px;
        .title, .sub{
          font-size: 27px;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .part2{
      @include clearfix;
      position: relative;
      margin-bottom: 30px;
      img{
        float: left;
        margin-right: 130px; 
      }
      .note{
        width: 220px;
        display: inline-block;
        position: absolute;
        top:246px;
        right:210px;
        z-index: 2;
        padding: 40px 30px;
      }
    }
  }
  .s4{
    .catalog{
      width: 50%;
      float: left;
      margin-right: 40px;
    }
    .image{
      padding-top: 50px;
      @include clearfix;
    }
  }

  .s5{
    margin-bottom: 40px;
    .part2{
      position: relative;
      margin-bottom: 10px;
      img{
        float: right; 
      }
      .note{
        width: 220px;
        display: inline-block;
        position: absolute;
        top:162px;
        left:133px;
        z-index: 2;
        padding: 40px 30px;
      }
    }
  }

  .s6{
    .image{
      margin-top: 0;
    }
    .right{
      width: 50%;
      float: right;
      .copy{
        width: 70%;
        margin: 40px auto;
        padding-right: 50px;
        .title{
          font-size: 48px;
        }
      }
    }
  }

  .s7{
    .right{
      width: 230px;
      float: right;
      .copy{
        width: 70%;
        margin: 40px auto;
        padding-right: 50px;
        .title{
          font-size: 38px;
          text-transform: none;
          padding: 33px 0 0 0;
          line-height: 1.2em;
          font-weight: 100;
        }
      }
    }
  }

  .s8{
    margin: 0 0 60px 0;
    padding: 0;
  }

  .more{
    position: relative;
    h2{
      font: 100 28px/1 $fontTwo;
      padding: 7px 20px;
      background: #000;
      color: #fff;
      border-left: 8px solid #fff;
      border-right: 8px solid #fff;
      width: 360px;
      margin: 0 auto;
      text-align: center;
    }
    .line{
      width: 100%;
      height: 3px;
      background: #000;
      position: absolute;
      top: 20px;
      z-index: -2;
    }
  }

}

@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
  #nye, #christmas_gift {
    #content{
      width: 1140px;
      margin: 0 auto 0 auto;
      -webkit-text-size-adjust: 100%;
    }
    .nav-container{
      display: none;
    }
    .holder{
      display: none;
    } 
  }
}



@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
  #content{
    width: 100% !important;
    min-width: 320px;
  }

  .s2, .s3, .s5 .part2, .s7 .right, .s8, .get-discount, .separate-line{
    display: none;
  }
  
  .page-intro{
    background: none;
  }

  .s1, .s6{
    .image{
      width: 100%;
    }
  }
  .catalog{
    width: 100% !important;
    .catalog-item{
      width: 100% !important;
      margin-right: 0;
    }
  }
  .s6 .right{
    width: 100% !important;
  }
}