.saleperiod{
	position: relative;
	width: 420px;
	text-align: center;
	margin: 30px auto;

	.border{
		border: solid 1px black;
		padding: 10px 0;
	}
	.title{
		position: absolute;
		font: 400 18px/1 $fontFive;
		top: -10px;
		width: 420px;
		text-align: center;
		left: 0px;

		div{
			padding: 0 10px;
			background: #fff;
			display: inline-block;
		}
	}

	.note{
		font: 400 18px/1.3em $fontTwo;
		font-style: italic;
		text-transform: none;
	}
}

.category-header {
	text-align: center;
	margin: 10px 0 30px;
	padding: 40px 0 30px;
	background-color: #fff;
	h1 {
		font-size: 47px;
		font-family: $fontTwo;
		line-height: 1;
		font-style: italic;
		font-weight: 100;
	}
	h2{
		font-weight: 100;
		width: 560px;
		margin: 0 auto 0 auto;
	}
	p {
		margin: 14px auto 0 auto;
		text-transform:none;
		width:780px;
		font-family:"Dido", serif;
		font-size:17px;
	}
	.arrows-line-horizontal {
		margin-top: 30px;
	}
	.category-banner{
		img{

		}
	}
}

.category-filter {
	@include clearfix;
	.filter-section {
		display: inline-block;
		vertical-align: middle;
		+ .filter-section { margin-left: 8px;}
	}
}

.category-catalog {
	margin: 10px 0;
	h2 {
		text-align: center;
		font-size: 47px;
		font-family: $fontThree;
		margin: 10px 0;
		line-height: 1;
		em {
			font-family: $fontTwo;
			text-transform: none;
		}
	}
	.row {
		margin: 0 -5px;
		font-size: 0;
		.row {
			margin-top: -5px;
			text-align: left;
		}
	}
	.grid-3, .grid-4, .grid-6, .grid-8{
		float: none;
		text-align: center;
		font-size: $fontSize;
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		img {
			display: block;
			width: 100%;
		}
		a { text-decoration: none;}
	}
	.buy-button{
		height: 22px;
		margin: 10px 0 5px 0;
		display: inline-block;
	}
	.custom-button{
		height: 22px;
		margin: 10px 0 5px 0;
		display: inline-block;
	}
	.picture {
		position: relative;
		&:hover {
			.popup {
				opacity: 1;
				filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			}
		}
		&.audio-cover {
			.icon {
				width: 25px !important;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: 85px 0 0 54px;
				width: auto;
				z-index: 1;
			}
		}
		.mask {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 0;
		}
	}
	.text {
		background-color: #fce5de;
		padding: 20px;
		font: italic 400 20px/1.1 $fontTwo;
		text-transform: none;
		text-align: left;
		.inner {
			background: url('_quiz/kiss.png') no-repeat bottom right;
			padding-bottom: 35px;
			min-height: 165px;
		}
	}
	.moodboard-title {
		position: relative;
		.title {
			position: absolute;
			height: 110px;
			left: 0;
			right: 0;
			top: 50%;
			margin-top: -55px;
			font: italic 400 31px/0.9 $fontTwo;
			color: #fff;
			text-align: center;
			h3 {
				margin-bottom: 13px;
				padding-bottom: 16px;
				position: relative;
				color: #fee0de;
				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -50px;
					height: 1px;
					width: 100px;
					background-color: #fff;
				}
			}
			em {
				text-transform: none;
			}
			.gothic {
				font-family: $fontThree;
				font-style: normal;
				color: #fee0de;
			}
		}
	}
	.sc-player.playing ~ .popup {
		.icon-play { display: none;}
		.icon-pause { display: inline;}
	}
	.popup {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 12px 8px;
		background-color: rgba(255, 255, 255, 0.8);
		opacity: 0;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		@include clearfix;
		@include transition((all) (0.2s) (linear));
		&.striped { background: url('_nav-bg.png');}
		.icon-pause, .icon-play {
			font-size: 15px;
		}
		.icon-pause { display: none;}
	}
	h6 {
		font-weight: 600;
		margin-top: 12px;
	}
	.price {
    font-size: 12px;
    color: $pinkColor;
    .price-old {
    	padding: 0 4px;
      color: #000;
    }
  }
  .price-old {
    text-decoration: line-through;
    color: #000;
  }
}

.product-page {
	margin: 10px 0;

	.product-row {
		margin-top: 25px;
	}

	.purchase-instructions{
		margin: 28px 0 0 0;
		font-size: 14px;
		font-family: $fontTwo;
		font-weight: 100;
		text-transform: none;
		font-style: italic;
		width: 80%;
	}
	.product-info {
		position: relative;
		padding: 18px 0 0 10px;
		.product-title {
			font-size: 15px;
			margin: 15px 0 0;
			line-height: 1;
			a{
				text-decoration: none;
			}
		}
		.product_short_description{
			font-size: 14px;
	    font-family: $fontTwo;
	    font-weight: 100;
	    text-transform: none;
	    font-style: italic;
	    margin-bottom: 5px;
	    color: #666;
		}
		.price {
			display: block;
			font-size: 12px;
			font-weight: 400;
    	color: $pinkColor;
    	margin-bottom: 25px;
		}
		.price-old {
      text-decoration: line-through;
      padding: 0 4px;
      color: #000;
      margin-bottom: 25px;
		}
		.hint {
			padding: 10px 0;
		}
		.btn {
			display: block;
		}

		.breadcrumbs{
			li{
				display: inline;
			}
		}
		.section + .section { margin-top: 10px;}
		.slider {
			margin: 0;
			padding: 0;
			list-style: none;
			.title {
				position: relative;
				cursor: pointer;
				font-weight: 400;
				font-size: 10px;
				padding: 10px 0;
				border-bottom: solid 1px #000;
				&:after {
					content: '';
					position: absolute;
					right: 6px;
					top: 50%;
					margin-top: -3px;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 6px 6px 0 6px;
					border-color: #000 transparent transparent transparent;
					border-color: #000 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
				}
			}
			.text {
				display: none;
				i{
					font-family: $fontTwo;
					display: block;
					padding-bottom: 18px;
					text-transform: none;
					font-size: 12px;
				}
			}
			.opened {
				.title:after {
					border-width: 0 6px 6px 6px;
					border-color: transparent transparent #000 transparent;
					border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #000 rgba(255, 255, 255, 0);
				}
				.text { display: block;}
			}
		}
		.pre-order{
			margin: 20px 0 20px;
      font-size: 14px;
	    font-family: $fontTwo;
	    font-weight: 100;
	    text-transform: none;
	    font-style: italic;
			strong{
				color: magenta;
				display: block;
				text-transform: uppercase;
				font-size: 12px;
			}
		}

		.btn.send-to-friend{
			display: inline-block;
		}
	}
	.social {
		@extend .social-grey-global;
		// > .fb-like, > a[class*="_pin_it"] {
		// 	vertical-align: top;
		// 	display: inline-block;
		// 	// overflow: hidden;
		// 	font-size: 22px;
		// 	width: 24px !important;
		// 	height: 24px !important;
		// 	position: relative;
		// 	background: 0 !important;
		// 	// icons fonts
		// 	font-family: 'Icons';
		//   speak: none;
		//   font-style: normal;
		//   font-weight: normal;
		//   font-variant: normal;
		//   text-transform: none;
		//   line-height: 1;
		//   -webkit-font-smoothing: antialiased;
		//   -moz-osx-font-smoothing: grayscale;
		//   > * {
		//   	// opacity: 0;
		//   	position: absolute;
		//   	left: 0;
		//   	top: 0;
		//   }
		// }
		// > .fb-like {
		// 	&:before { content: "\e60d";}
		// 	iframe table { opacity: 0;}
		// }
		// a[class*="_pin_it"]:before { content: "\e60c";}
	}
	.cumtomise {
		margin-top: 15px;
		h4 {
			font-size: 13px;
			margin-bottom: 15px;
			font-weight: 100;
		}
		.instructions, .delivery{
			padding: 20px 40px 32px 0;
		}
		.delivery{
			font-weight: 100;
			font-size: 12px;
			font-family: $fontOne;
			font-style: normal;
		}
		.dropdown { margin-bottom: 35px; width: 98%;}
		.row {
			margin: 0 -5px 10px -5px;
			&.customisation-type {
				font-size: 0;
				.grid-6 {
					font-size: $fontSize;
					display: inline-block;
					vertical-align: top;
					float: none;
					margin-bottom: 20px;
				}
			}
			.grid-6 {
				padding: 0 5px;
			}
		}
		.custom-colours{
			width: 300px;

			.price, .price-old{
				display: inline-block;
				color: $pinkColor;
				padding-left: 5px;
				font-size: 12px;
			}
			.price-old{
				color: #333;
				text-decoration: line-through;
				padding-right: 5px;
			}
		}
		.picture{
			width: 320px;
			position: relative;
		}
		.picture img {
			width: 150px;
			position: absolute;
			left: 6x;
			top: 3px;
			z-index: -100;
		}
		.customisation-value{
			padding: 0 20px 0 0;
		}
		.customisation-picture {
			text-align: center;
			height: 280px;
		}
		.customisation-picture img {
			display: inline-block;
			max-width: 150px;
			max-height: 280px;
			margin: 0 auto 0 auto;
		}
		.heading {
			font-size: 47px;
			font-family: $fontThree;
			line-height: 0.9;
			margin: 25px 30px 40px 0;
			position: relative;
			h1{
				padding-bottom: 18px;
			}
			em {
				font-family: $fontTwo;
				text-transform: none;

				span{
					text-transform: lowercase;
				}
			}
			p {
				margin: 0;
				font-size: 0.55em;
				+ p { margin-top: 20px;}
			}
			.pink { font-size: 38px; color: $pinkColor;}
			.arrows-line-horizontal {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				&:before { display: none;}
			}
		}
		.style {
			input[type="radio"] { display: none;}
			.title {
				text-align: center;
				margin: 10px 0 5px 0;
				font: 400 16px/1 $fontThree;
				height: 34px;
			}
			.button {
				text-align: center;
				.btn {
					display: block;
					font-size: 18px;
				}
        .price {
          font-size: 12px;
          color: $pinkColor;
        }
        .price-old {
          text-decoration: line-through;
          padding: 0 4px;
          color: #000;
        }
			}
			.cross {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					display: block;
					height: 1px;
					left: 0;
					right: 0;
					top: 50%;
					margin-top: -1px;
					background-color: $pinkColor;
				}
			}
		}
	}
	.copyright-notice, .credits{
		text-align: left;
		padding-top: 16px;
		font-size: 10px;
		color: #999;
	}
}

.products-list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;

	.grid-3, .grid-4{
		position: relative;
	}

	.lp_featured_dresses{
		padding: 20px 0;

		h2{
			font-size: 28px;
		}

		.arrows-line-horizontal{
			margin-bottom: 30px;
		}

		.arrows-line-horizontal:last-child{
			margin-top: 20px;
		}
	}


	h5.breadcrumb {
    font-size: 12px;
    font-weight: 100;
    margin: 20px 0;
  }

	> .product-item {
		display: inline-block;
		vertical-align: top;
		font-size: $fontSize;
		width: 25%;
		padding-left: 15px;
		margin-bottom: 15px;
		@include box-sizing(border-box);
		text-align: center;
	}
	.thumbnail {
		position: relative;
		&:hover {
			.actions {
				opacity: 1;
				filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			}
		}
		img {
			display: block;
			width: 100%;
		}
		.actions {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			line-height: 30px;
			padding: 0 8px;
			opacity: 0;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			background: url('_product-bg.png');
			@include transition((all) (0.2s) (linear));
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
	.name, .price {
		text-align: center;
		font-size: 12px;
		margin: 5px 0;
	}
	.price {
		font-size: 12px;
		color: $pinkColor;
	}
	.price-old {
    text-decoration: line-through;
    padding: 0 4px;
    color: #000;
  }
}

.twin-alert{
	position: relative;

	.error.message{
		position: absolute;
		top:10px;
	}
}
.reserved.btn{

}


.footer-text{
	width: 70%;
	margin: 60px auto;
	font: 400 18px/1.3em $fontTwo;
	font-style: italic;
	text-transform: none;
	color: #666;
	text-align: center;
	border-top: 1px #ccc solid;
	padding-top: 30px;
}



.product-page-2 {

	// Alert
	.product-alert {
		color: #fff;
		background-color: #ebbef8;
		padding: 10px 0;
		line-height: 1;
		font-size: 32px;
		text-align: center;
		display: block;
		text-decoration: none;
		font-family: $shruti;
		margin-bottom: 25px;
		> * {
			padding: 0 2px;
		}
		a {
			text-decoration: none;
		}

		.old {
			text-decoration: line-through;
		}

		.title {
			padding: 0 20px;
		}
	}

	// Product Slider
	.product-slider .bx-wrapper {
		img {
			max-width: 100%;
			display: inline-block;
		}
		.bx-pager.bx-default-pager {
			text-align: left;
			a {
				text-indent: 0;
				background: none;
				width: auto;
				height: auto;
				text-align: center;
				min-width: 10px;
				font-family: $fontThree;
				font-size: 17px;
				color: #000;
				text-decoration: none;
				&.active {
					color: $pinkColor
				}
			}
		}
		.bx-controls-direction {
			a {
				z-index: 2;
				background: none;
				font-size: 40px;
				text-indent: 0;
				text-decoration: none;
				color: #666;
			}
		}
	}

	// Info
	.product-info {
		.btn {
			font-family: $shruti;
			line-height: 70px;
			font-size: 18px;
		}
	}
	.product-header {
		text-align: center;
		margin-bottom: 20px;
	}
	.product-title {
		font: 400 33px $bebas;
		a{
			text-decoration: none;
		}
	}
	.product-price {
		font-family: Arial, sans-serif;
		font-size: 20px;
		margin: 25px 0;
		.price-old{
			display: block;
			text-decoration: line-through;
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
	.product-short-description {
		font-family: $baskerville;
		text-transform: none;
		font-size: 18px;
	}

	.product-row {
		margin-top: 25px;
	}
	.product-icons {
		text-align: center;
		display: inline-block;
		text-decoration: none;
		.icon-email, .icon-hanger, .icon-mannequin {
			width: 55px;
			height: 55px;
			display: inline-block;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 5px;
		}
		.icon-email { background-image: url('_icons/product-email.png');}
		.icon-hanger { background-image: url('_icons/product-hanger.png');}
		.icon-mannequin { background-image: url('_icons/product-mannequin.png');}
	}

	// Description
	.category-catalog {
		.title {
			color: #fff;
			background-color: #b9b9b9;
			text-align: center;
			padding: 8px 8px 5px;
			font-size: 21px;
			font-family: $shruti;
		}
		.row {
			margin: 0;
		}
		.grid-4 { padding: 0;}
	}
	.product-full-description {
		font-family: $baskerville;
		text-transform: none;
		font-size: 18px;
		padding: 20px 0 0 40px;
		p { margin-bottom: 20px;}
		.sku{
			font-size: 14px;
			text-transform: uppercase;
		}
		.pre-order{
			margin: 20px 0 20px;
      font-size: 14px;
	    font-family: $fontTwo;
	    font-weight: 100;
	    text-transform: none;
	    font-style: italic;
			strong{
				color: magenta;
				display: block;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}

	.style-it {
		width: 95%;
		.heading {
			padding: 30px 80px;
			text-align: center;
			h1 {
				font-size: 25px;
				font-style: italic;
				font-family: $fontTwo;
				margin: 0 0 20px;
				text-transform: none;
				font-weight: 100;
			}
			h2 {
				font-size: 14px;
				font-style: normal;
				font-family: $fontOne;
				font-weight: 100;
				margin: 0 0 32px;
				text-transform: none;
			}
			h4 {
				width: 420px;
				margin: 30px auto 0 auto;
				font-size: 23px;
				font-family: $fontThree;
				line-height: 1;
			}
		}
		.lookbox {
			.title {
				background-color: #000;
				color: #fff;
				padding: 8px 15px;
				font-family: $fontThree;
				font-size: 23px;
				font-style: italic;
				letter-spacing: 0.08em;
			}
			.category-catalog {
				margin: 0;
				.row { margin-top: -5px;}
			}
			.row { font-size: 0;}
			.grid-6 {
				display: inline-block;
				vertical-align: top;
				float: none;
				font-size: $fontSize;
			}
			.picture {
				img {
					display: block;
					width: 100%;
				}
			}
			.text {
				padding: 8px 8px 38px 0px;
				p { margin: 0;}
				a {
					color: $pinkColor;
					text-decoration: none;
				}
				h4 {
					font-size: 23px;
					font-family: $fontThree;
				}
				.italic{
					font-style: italic;
				}
			}
			.price-list {
				text-align: center;
				padding: 20px 0;
				margin: 0;
				list-style: none;
				> li { margin: 7px 0;}
				p { margin: 0;}
				.number { font-size: 15px;}
			}
			.arrows-line-horizontal:before { display: none;}
		}
	}
}

.trigger-customisation-selector {
	letter-spacing: 0;
	font-size: 14px !important;
	cursor: pointer;
	margin-bottom: 6px;
	position: relative;
	.arrow {
		display: block;
		position: absolute;
		right: 12px;
		top: 50%;
		width: 14px;
		height: 6px;
		margin: -3px 0 0 -9px;
		background: image-url("_chosen/chosen-sprite.png") no-repeat 0px -7px;
	}
	&.active {
		color: #c0c0c0;
		.arrow {
			background-position: -18px -7px;
		}
	}
}

.customisation-selector {
	display: none;
	border: 1px solid #000;
	border-top: 0;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 64px;
	background: #fff;
	.customisation-value {
		padding: 18px 50px;
		font-size: 10px;
	}
	.customisation-picture {
		float: left;
		width: auto;
		max-width: 80px;
	}
	.customisation-block {
		margin: 0 0 0 100px;
		height: 200px;
		text-align: center;

		.title {
			margin: 60px 0 0 0;
			font-size: 13px;
			font-weight: 600;
		}
	}
	.price {
		margin-top: 3px;
		font-style: italic;
		color: #595959;
	}
	.btn {
		font: 100 14px/32px $fontThree !important;
		padding: 0 20px;
		margin-top: 25px;
		height: 30px;
	}
}
