#content .quiz-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1100px;
  height: 644px;
  z-index: 2000;
  margin: -332px 0 0 -550px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  .quiz-box-inner {
    height: 616px;
    margin: 4px;
    border: 10px solid #e8e8e8;
    position: relative;
  }
  .signup-box,
  .thanks-box {
    h1 {
      margin-top: 180px;
      text-transform: uppercase;
      color: #454545;
      text-align: center;
      letter-spacing: 5px;
      font: 300 38px/1 $fontOne;
      &:before {
        background: #454545;
      }
    }
    .subtitle {
      margin: 35px auto;
      font-size: 28px;
      width: 500px;
    }
  }
  .signup-box {
    .signup-buttons {
      text-align: center;
      font: 300 14px/33px $fontOne;
      .facebook-signup {
        vertical-align: top;
        display: inline-block;
      }
      .or {
        margin: 0 16px;
        vertical-align: top;
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
      }
      .regular-signup {
        padding: 0 13px;
        height: 33px;
        vertical-align: top;
        display: inline-block;
        background: #454545;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(255, 255, 255, .7) inset;
      }
    }
    .signin-link {
      position: absolute;
      bottom: 56px;
      right: 56px;
      font-size: 18px;
      font-style: italic;
      a {
        font-weight: 700;
      }
    }
  }
  .steps-box {
    padding: 16px 0;
    .questions-count {
      position: absolute;
      top: 12px;
      right: 16px;
      font: 400 18px/1 $fontTwo;
      color: #999;
      .inline {
        display: inline-block;
      }
      .current {
        background: #999;
        color: #fff;
        padding: 5px 5px 0;
      }
    }
    h1 {
      color: #454545;
      font: 400 italic 28px/1 $fontThree;
      &:before {
        background: #bcbcbc;
      }
    }
    .photos {
      margin: 40px 16px 20px;
      li {
        float: left;
        margin: 0 0 0 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        &:first-child {
          margin: 0;
        }
        label {
          display: block;
          width: 190px;
          height: 294px;
          cursor: pointer;
          border: 5px solid #e8e8e8;
          input[type=radio] {
            display: none;
          }
        }
        &.active {
          label {
            border-color: #bffbef;
          }
        }
      }
    }
    .choices {
      margin: 40px 16px 20px;
      overflow: hidden;
      li {
        margin: 0 0 20px;
        width: 208px;
        float: left;
        text-align: center;
        text-transform: uppercase;
        font: 400 16px/1 $fontOne;
        label {
          text-decoration: none;
          display: inline-block;
          padding: 4px;
          border: 5px solid transparent;
          position: relative;
          overflow: hidden;
          width: 154px;
          height: 40px;
          line-height: 40px;
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            opacity: 0;
            filter: alpha(opacity=0);
          }
        }
        &.active {
          label {
            border-color: #bffbef;
          }
        }
      }
      &.brands{
        margin-left: 100px;
        li{
          width: 280px;
        }
      }
    }
    .nails {
      width: 956px;
      margin: 30px auto;
      li {
        width: 126px;
        height: 126px;
        margin: 0 10px;
        border: 5px solid transparent;
        position: relative;
        text-align: center;
        display: inline-block;
        input {
          opacity: 0;
          filter: alpha(opacity=0);
        }
        .image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .name {
          top: 50%;
          left: 8px;
          right: 8px;
          margin: -8px 0 0;
          position: absolute;
          background: #e8e8e8;
          text-transform: uppercase;
          font-size: 12px;
          padding: 4px 0 0;
        }
        &.active {
          border-color: #bffbef;
        }
      }
    }
    .stars {
      margin: 150px 0 0;
      text-align: center;
      li {
        cursor: pointer;
        display: inline-block;
        width: 76px;
        height: 76px;
        margin: 0 2px;
        background: image-url('icons-stars.jpg') 0 -76px no-repeat;
        &.active {
          background-position: 0 0;
        }
        label {
          display: block;
          width: 76px;
          height: 76px;
          input[type=radio] {
            display: none;
          }
        }
      }
    }
    .lips {
      margin: 150px 0 0;
      text-align: center;
      li {
        cursor: pointer;
        display: inline-block;
        width: 80px;
        height: 55px;
        margin: 0 2px;
        background: image-url('icons-lips.jpg') 0 -55px no-repeat;
        &.active {
          background-position: 0 0;
        }
        label {
          display: block;
          width: 80px;
          height: 55px;
          input[type=radio] {
            display: none;
          }
        }
      }
    }
    .progress-next {
      padding: 38px 0 0;
      position: absolute;
      bottom: 40px;
      left: 20px;
      right: 20px;
      .progress-bar {
        float: left;
        background: #e8e8e8;
        width: 860px;
        height: 30px;
        .filler {
          position: relative;
          height: 30px;
          background: image-url('bg-filler.png') 0 0 repeat-x;
        }
        .tooltip {
          position: absolute;
          top: -38px;
          right: -18px;
          width: 36px;
          height: 27px;
          font: 400 italic 12px/27px $fontThree;
          color: #e8e8e8;
          background: #454545;
          text-align: center;
          &:before {
            border-top: 8px solid #454545;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            content: '';
            position: absolute;
            bottom: -8px;
            left: 10px;
          }
        }
      }
      .next {
        float: right;
        a {
          font: 400 14px/30px $fontOne;
          display: block;
          padding: 0 20px;
          height: 30px;
          width: 110px;
          text-align: center;
          text-decoration: none;
          color: #fff;
          background: #333;
          text-transform: uppercase;
        }
      }
    }
  }
}
