.quiz-box .quiz-overlay {
  background: #000;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.quiz-wrapper-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1100px;
  height: 551px;
  z-index: 2000;
  margin: -275px 0 0 -550px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  z-index: 11;
  .close-quiz {
    font: 700 18px/1 $fontOne;
    position: absolute;
    top: -19px;
    right: -20px;
    z-index: 2;
    cursor: pointer;
  }
}

.quiz-box {
  .opacity-zero {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .quiz-box-inner {
    height: 530px;
    border: 13px solid #fff;
    position: relative;
  }
  .signup-box-wrapper {
    width: 1074px;
    height: 525px;
    overflow: hidden;
    background: image-url('bg-quiz-start.jpg') center center no-repeat;
    background-size: cover;
  }
  .signup-box,
  .thanks-box {
    height: 530px;
    text-align: center;
    h1 {
      padding-top: 80px;
      font: 300 48px/1 $fontTwo;
      font-style: italic;
      width: 100%;
      text-align: center;
    }
    h2 {
      font: 300 24px/1 $fontOne;
      text-transform: uppercase;
      margin: 40px auto 0 auto;
      width: 600px;
      &:before {
        background: #454545;
      }
    }
    .subtitle {
      margin: 35px auto;
      font-size: 28px;
      width: 500px;
    }
  }
  .signup-box {
    background: #fff;
    width: 610px;
    height: 310px;
    margin: 107px auto 0;
    .title, .subtitle {
      text-align: center;
      text-transform: uppercase;
      color: #333;
    }
    .title {
      font: 100 32px/1 $fontOne;
      position: relative;
      padding: 30px 0 11px;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -110px;
        background: #333;
        width: 220px;
        height: 1px;
      }
    }
    .subtitle {
      margin: 9px 0 25px;
      width: auto;
      font: 400 58px/1 $fontTwo;
    }
    .desc {
      font: 300 17px/1.2 $fontOne;
      text-align: center;
      margin: 0 0 36px;
    }
    .signup-buttons {
      text-align: center;
      font: 300 14px/33px $fontOne;
      .facebook-signup {
        vertical-align: top;
        display: inline-block;
      }
      .or {
        margin: 0 16px;
        vertical-align: top;
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
      }
      .regular-signup {
        padding: 0 13px;
        height: 33px;
        vertical-align: top;
        display: inline-block;
        background: #454545;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        box-shadow: 0 1px 3px rgba(255, 255, 255, .7) inset;
      }
    }
    .signin-link {
      position: absolute;
      padding: 12px 26px 6px;
      bottom: 0;
      right: 0;
      font-size: 18px;
      font-style: italic;
      background: #bffbef;
      a {
        font-weight: 700;
      }
    }
    .get20{
      width: 170px;
      height: 170px;
      position: absolute;
      top: 30px;
      right: 160px;
      z-index: 100;
      background: image-url('quiz/get20.png') center center no-repeat;
    }
  }
  .thanks-box {
    position: relative;
    h1, h2 {
      position: relative;
      z-index: 2;
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .steps-box {
    height: 511px;
    border: 10px solid #e8e8e8;
    .questions-count {
      position: absolute;
      top: 16px;
      right: 16px;
      font: 400 18px/1 $fontTwo;
      color: #999;
      .inline {
        display: inline-block;
      }
      .current {
        background: #999;
        color: #fff;
        padding: 5px 5px 0;
      }
    }
    h1 {
      color: #454545;
      font: 400 italic 28px/1 $fontFour;
      text-align: center;
      margin: 36px 0 4px;
      padding: 0 0 35px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 232px;
        height: 1px;
        background: #bcbcbc;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -116px;
      }
    }
    .subtitle {
      text-align: center;
      font: 400 italic 20px/1.2 $fontTwo;
      width: 370px;
      margin: 16px auto;
    }
    .photos {
      margin: 40px 13px 20px;
      li {
        float: left;
        margin: 0 0 0 37px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
        width: 176px;
        position: relative;
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
        label {
          display: block;
          width: 166px;
          cursor: pointer;
          border: 5px solid #e8e8e8;
          input[type=radio] {
            display: none;
          }
        }
        .label {
          bottom: 30px;
          left: 30px;
          right: 30px;
          position: absolute;
          background: #e8e8e8;
          text-transform: uppercase;
          font-size: 12px;
          padding: 4px 0 0;
          text-align: center;
        }
        &:first-child {
          margin: 0;
        }
        &.active {
          label {
            border-color: #b7f0e5;
          }
        }
      }
    }
    .choices {
      margin: 10px 7px 20px;
      overflow: hidden;
      li {
        margin: 0 0 20px;
        width: 208px;
        float: left;
        text-align: center;
        text-transform: uppercase;
        font: 400 16px/1 $fontOne;
        label {
          text-decoration: none;
          display: inline-block;
          padding: 4px;
          border: 5px solid transparent;
          position: relative;
          overflow: hidden;
          width: 154px;
          height: 40px;
          line-height: 40px;
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            opacity: 0;
            filter: alpha(opacity=0);
          }
        }
        &.active {
          label {
            border-color: #b7f0e5;
          }
        }
      }
      &.brands{
        margin-left: 100px;
        li{
          width: 280px;
        }
      }
    }
    .nails {
      width: 956px;
      margin: 30px auto;
      li {
        width: 126px;
        height: 126px;
        margin: 0 10px;
        border: 5px solid transparent;
        position: relative;
        text-align: center;
        display: inline-block;
        input {
          opacity: 0;
          filter: alpha(opacity=0);
        }
        .image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .name {
          top: 50%;
          left: 8px;
          right: 8px;
          margin: -8px 0 0;
          position: absolute;
          background: #e8e8e8;
          text-transform: uppercase;
          font-size: 12px;
          padding: 4px 0 0;
        }
        &.active {
          border-color: #b7f0e5;
        }
      }
    }
    .stars, .lips {
      margin: 100px 0 0;
      text-align: center;
      li {
        cursor: pointer;
        display: inline-block;
        margin: 0 2px;
        label {
          display: block;
          input[type=radio] {
            display: none;
          }
        }
        &.active {
          background-position: 0 0;
        }
      }
    }
    .stars {
      li {
        width: 76px;
        height: 76px;
        background: image-url('quiz/icons-stars.png') 0 -76px no-repeat;
        label {
          width: 76px;
          height: 76px;
        }
      }
    }
    .lips {
      li {
        width: 80px;
        height: 55px;
        background: image-url('icons-lips.jpg') 0 -55px no-repeat;
        label {
          width: 80px;
          height: 55px;
        }
      }
    }
    .progress-next {
      position: absolute;
      bottom: 15px;
      left: 20px;
      right: 20px;
      .progress-bar {
        float: left;
        background: #e8e8e8;
        width: 936px;
        height: 30px;
        margin: 0 7px;
        .filler {
          position: relative;
          height: 30px;
          background: image-url('bg-filler.png') 0 0 repeat-x;
        }
        .tooltip {
          position: absolute;
          top: -38px;
          right: -18px;
          width: 36px;
          height: 27px;
          font: 400 italic 12px/27px $fontFour;
          color: #e8e8e8;
          background: #454545;
          text-align: center;
          &:before {
            border-top: 8px solid #454545;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            content: '';
            position: absolute;
            bottom: -8px;
            left: 10px;
          }
        }
      }
      .prev, .next {
        a {
          width: 42px;
          height: 30px;
          display: block;
          overflow: hidden;
          text-indent: -999px;
          background: image-url('icons-progressbar-arrows.png') center 0 no-repeat #333;
        }
      }
      .prev {
        float: left;
        a {
          background-position: center -30px;
        }
      }
      .next {
        float: right;
        &.loading {
          a {
            background-image: image-url('ajax-loader-quiz.gif');
            background-position: center center;
          }
        }
      }
    }
  }
  .sexiness {
    width: 855px;
    margin: 60px auto 0;
    overflow: hidden;
    position: relative;
    .sexiness-profile {
      width: 200px;
      height: 200px;
      float: left;
      background: image-url('quiz/sexiness.jpg') center 7px no-repeat #fff;
      padding: 7px;
      border: 1px solid #ddd;
      border-radius: 50%;
      &.second {
        float: right;
        background-position: center -207px;
      }
    }
    .values {
      margin: 78px 0 0 36px;
      float: left;
      li {
        float: left;
        margin: 0 0 0 10px;
        &.active {
          label {
            padding: 0;
            border: 8px solid #b7f0e5;
          }
        }
      }
      label {
        display: block;
        padding: 7px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 50%;
        .inner {
          width: 44px;
          height: 44px;
          border-radius: 50%;
        }
        input[type=radio] {
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }
      .value-1 {
        .inner {
          background: #b4e1f4;
        }
      }
      .value-2 {
        .inner {
          background: #bcc9da;
        }
      }
      .value-3 {
        .inner {
          background: #cdaab7;
        }
      }
      .value-4 {
        .inner {
          background: #ea8e94;
        }
      }
      .value-5 {
        .inner {
          background: #f48082;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ddd;
      z-index: -1;
    }
  }
}

#content .style-report {
  border: 10px solid #fff;
  background: #fafafa;
  width: 932px;
  position: relative;
  margin: 40px auto 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  .page-name {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 262px;
    .title {
      text-transform: uppercase;
      font: 400 62px/1 $fontFour;
    }
    .subtitle {
      margin: 0;
      width: auto;
      text-align: left;
      position: absolute;
      left: 200px;
      top: 44px;
      font-style: italic;
      color: #fff;
      font: 400 italic 50px/1 $fontFour;
    }
  }
  .grid {
    overflow: hidden;
    margin: 80px 0 64px;
    .column {
      float: left;
    }
    .block {
      position: relative;
      img {
        display: block;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &.large {
          -webkit-filter: none;
          filter: none;
        }
      }
    }
    .stat {
      position: absolute;
      z-index: 2;
      text-align: center;
      bottom: 26px;
      left: 50%;
      width: 116px;
      height: 116px;
      margin: 0 0 0 -58px;
      border-radius: 50%;
      background: #333;
      background: rgba(51, 51, 51, .8);
      color: #fff;
      text-transform: uppercase;
      font: 400 26px/1 $fontFour;
      .rate, .label {
        position: relative;
        &:before {
          width: 56px;
          height: 1px;
          background: #fff;
          background: rgba(255, 255, 255, .4);
          content: '';
          position: absolute;
          left: 50%;
          margin: 0 0 0 -28px;
        }
      }
      .rate {
        margin: 26px 0 6px;
        padding: 9px 0 0;
        position: relative;
        &:before {
          top: 1px;
        }
      }
      .label {
        font-size: 16px;
        padding: 0 0 11px;
        &:before {
          bottom: 0;
        }
      }
      &.large {
        background: #fff;
        background: rgba(255, 255, 255, .8);
        color: #333;
        width: 214px;
        height: 214px;
        margin: -107px 0 0 -107px;
        bottom: 0;
        top: 50%;
        .sublabel {
          margin: 46px 0 0;
          font: 300 26px/1 $fontOne;
        }
        .rate, .label {
          &:before {
            width: 96px;
            margin-left: -48px;
            background: #333;
            background: rgba(51, 51, 51, .8);
          }
        }
        .rate {
          font-size: 40px;
          margin-top: 6px;
        }
        .label {
          font-size: 27px;
        }
      }
    }
  }
  .sexiness-colors-fashionability {
    overflow: hidden;
    text-align: center;
    .column {
      float: left;
    }
    .column-1, .column-3 {
      width: 274px;
      margin: 115px 0 0;
      font: 400 26px/1 $fontFour;
      .label {
        text-transform: uppercase;
        margin: 0 0 5px;
      }
      .value {
        .current {
          display: inline-block;
          vertical-align: bottom;
          font-size: 68px;
        }
        .total {
          display: inline-block;
          vertical-align: bottom;
          font-size: 47px;
          margin: 0 0 3px;
        }
      }
    }
    .column-2 {
      width: 384px;
      padding: 21px 0 0;
      position: relative;
      .colors {
        margin: 0 0 32px;
        text-align: center;
        .color {
          width: 52px;
          height: 52px;
          display: inline-block;
          margin: 0 6px;
          border-radius: 50%;
          box-shadow: none;
          &.black {
            background: #3d3d3d;
          }
          &.navy {
            background: #4b5994;
          }
          &.cobalt {
            background: #336dc4;
          }
          &.blue {
            background: #94e9fe;
          }
          &.brown {
            background: #5f4545;
          }
          &.purple {
            background: #8f478f;
          }
          &.fuchsia {
            background: #f269a9;
          }
          &.fluro {
            background: #fb6cd2;
          }
          &.maroon {
            background: #bb2727;
          }
          &.red {
            background: #d83f3d;
          }
          &.pink {
            background: #ffd6d8;
          }
          &.mauve {
            background: #ae8991;
          }
          &.ivory {
            background: #f1e5cf;
          }
          &.camel {
            background: #f2d094;
          }
          &.beige {
            background: #ccb581;
          }
          &.orange {
            background: #ffa94c;
          }
          &.burnt-orange {
            background: #d8712e;
          }
          &.canary {
            background: #f9ef5d;
          }
          &.green {
            background: #31a367;
          }
          &.white {
            background: #fff;
            box-shadow: 0 0 1px rgba(0, 0, 0, .3);
          }
        }
      }
      .label {
        text-transform: uppercase;
        .title {
          font: 300 32px/1 $fontOne;
          margin: 0;
          padding: 0 0 15px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 112px;
            height: 2px;
            margin: 0 0 0 -56px;
            background: #b8b8b8;
          }
        }
        .subtitle {
          margin: 15px 0 0;
          width: auto;
          font-size: 28px;
          font-style: normal;
        }
      }
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 1px;
        height: 176px;
        background: #d7d7d7;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
}

.style-report-social {
  text-align: right;
  width: 952px;
  margin: 0 auto;
  .social {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 10px;
    .addthis_button_tweet {
      width: 80px;
    }
  }
}

.quiz-colors {
  text-align: center;
  margin: 34px 0 0;
  .active {
    .color {
      border-color: #b7f0e5;
    }
  }
  .color {
    display: block;
    width: 73px;
    height: 73px;
    border: 6px solid #fff;
    border-radius: 50%;
    position: relative;
    .color-name {
      position: absolute;
      top: 85px;
      text-align: center;
      left: 0;
      right: 0;
      color: #707070;
      font: 400 11px/1 $fontOne;
      text-transform: uppercase;
    }
    &.black {
      background: #3d3d3d;
    }
    &.navy {
      background: #4b5994;
    }
    &.cobalt {
      background: #336dc4;
    }
    &.blue {
      background: #94e9fe;
    }
    &.brown {
      background: #5f4545;
    }
    &.purple {
      background: #8f478f;
    }
    &.fuchsia {
      background: #f269a9;
    }
    &.fluro {
      background: #fb6cd2;
    }
    &.maroon {
      background: #bb2727;
    }
    &.red {
      background: #d83f3d;
    }
    &.pink {
      background: #ffd6d8;
    }
    &.mauve {
      background: #ae8991;
    }
    &.ivory {
      background: #f1e5cf;
    }
    &.camel {
      background: #f2d094;
    }
    &.beige {
      background: #ccb581;
    }
    &.orange {
      background: #ffa94c;
    }
    &.burnt-orange {
      background: #d8712e;
    }
    &.canary {
      background: #f9ef5d;
    }
    &.green {
      background: #31a367;
    }
    &.white {
      background: #fff;
      box-shadow: 0 0 1px rgba(0, 0, 0, .4);
    }
  }
  li {
    display: inline-block;
    margin: 0 6px 52px;
    input {
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.quiz-hair {
  text-align: center;
  width: 684px;
  margin: 0 auto;
  li {
    display: inline-block;
    width: 168px;
    height: 118px;
    margin: 26px 0 0;
    position: relative;
    &.active {
      .hair-image {
        border-color: #b7f0e5;
      }
    }
  }
  .hair-image {
    position: absolute;
    width: 118px;
    height: 118px;
    top: 0;
    left: 20px;
    border: 5px solid transparent;
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  .hair-label {
    margin: 58px 0 0;
    position: relative;
    z-index: 2;
    span {
      min-width: 102px;
      padding: 3px 10px 0;
      display: inline-block;
      background: #e8e8e8;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
    }
    input {
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.body-shapes {
  text-align: center;
  margin: 60px 0 0;
  li {
    width: 116px;
    margin: 0 12px;
    cursor: pointer;
    display: inline-block;
    &.active {
      .label {
        span {
          background: #b7f0e5;
        }
      }
    }
  }
  .label {
    margin: 8px 0 0;
    span {
      padding: 4px 0 0;
      display: block;
      background: #e8e8e8;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.quiz-sizes {
  overflow: hidden;
  width: 878px;
  margin: 0 auto;
  .question {
    margin: 80px 0 34px;
    text-align: center;
    font: italic 400 24px/1 $fontFour;
  }
  .sizes {
    text-align: center;
    li {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 18px;
      font: 400 25px/35px $fontOne;
      text-transform: uppercase;
      background: #ebebeb;
      border-radius: 3px;
      label {
        min-width: 30px;
        padding: 0 10px;
        height: 35px;
        display: block;
      }
      &.title {
        font-weight: 300;
        background: transparent;
        font-size: 16px;
      }
      &.smaller {
        font-size: 18px;
        line-height: 34.5px;
        width: 204px;
      }
      &.active {
        background: #b7f0e5;
      }
    }
  }
  .bra {
    li {
      min-width: 65px;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &.joined {
    .question {
      margin: 0 0 34px;
    }
  }
}

.fashion-things {
  text-align: center;
  li {
    display: inline-block;
    width: 144px;
    margin: 32px 0 0 3px;
    &:first-child {
      margin: 0;
    }
    &.active {
      .image {
        img {
          border-color: #b7f0e5;
        }
      }
    }
  }
  .image {
    position: relative;
    img {
      border: 3px solid #eaeaea;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    }
    .label {
      position: absolute;
      left: 0;
      bottom: 14px;
      width: 100%;
      text-align: center;
      padding: 3px 0 0;
      background: #e8e8e8;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .text {
    margin: 14px 10px 0;
    font: 400 13px/1.2 $fontOne;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}


.style-report-block {
  text-align: center;
  font-family: $fontOne;
  .block {
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
    border-left: 1px solid #ebebeb;
    margin: 70px 0;
    .name {
      font-size: 22px;
      color: #333;
      font-weight: 300;
    }
    .percent {
      font-weight: 100;
      font-size: 44px;
      color: #f59a8c;
    }
    &.first {
      border-left: 0;
    }
  }
}
