.shopping-bag-page {
	margin-top: 45px;
	h1 {
		letter-spacing: 0.04em;
		font: 300 32px/1.3em $fontThree;
	}

	.separator{
		width: 100%;
		height:1px;
		background-color: #000;
	}

	.separator.light{
		background-color: #ccc;
	}	

	.promocode {
		.btn { margin-left: 10px; }
		.error { clear: both; }
	}

	.base-nav{
		margin-top:20px;
	}
}

.cart-table {
	width: 100%;
	th {
		font-family: $fontThree;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 18px;
		padding: 6px 10px;
		text-align: left;
		background: 0;
		vertical-align: top;
		border-bottom: 1px solid #999;
		color: #666;
	}
	td {
		padding: 10px;
		vertical-align: top;
		&:first-child { padding-left: 0;}
	}
	.column-1 { width: 60%;}
	.column-2 { width: 30%;}
	.column-3 { 
		width: 10%;
		text-align: right;
	}
	.image {
		float: left;
		margin-right: 20px;
		img { display: block;}
	}
	.product-info {
		@include clearfix;
		position: relative;
		width: 90%;
		.name {
			font-size: 26px;
			font-family: $fontThree;
			a { text-decoration: none;}
		}
		.desc {
			padding-bottom: 50px;
			font-size: 10px;
		}
		.buttons {
			position: absolute;
			bottom: 40px;
			left: 156px;
			.btn { 
				padding: 0 7px; 
				margin-right: 10px;
			}
			.lighter{
				border: 1px solid #999;
				color: #999;

				.icon-trash{
					line-height: 1.3;
					padding-left: 1px;
				}
			}
		}
	}

	.details-box {
		min-height: 220px;
		position: relative;
	}
	.static {
		width: 90%;
		font-size: 0;

		.separator{
			margin: 5px 0;
		}

		.line {
			padding: 2px 0;
		}

		.label, .value {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			font-size: 12px;
		}
		.value {
			text-align: right;
			font-weight: 700;
		}
		.label.strong{
			font-weight: 700;
			width: 100%;
		}

		.smaller{
			.label{
				width: 83px;
				min-width: 83px;
				margin-right: 5px; 
			}
			.value {
				text-align: left;
			}
		}
	}
	.edit {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
	.pricing {
		font-size: 14px;
		color: $pinkColor;
	}
	.price-old { 
    text-decoration: line-through;
    padding: 0 4px;
    color: #000;
  }
}

.continue-buy, .cart-summary {
	@include clearfix;
}

.cart-summary {
	margin: 0 20px;
	padding: 10px 0;
	border: solid 1px #000;
	background: #f8f8f8;
	@include longBoxShadowRight(#000, 5);
	@include box-sizing(border-box);

	
	.summary {
		width: 80%;
		margin: 0 auto;
		font-size: 0;

		.title{
			letter-spacing: 0.04em;
			font: 300 18px/1.3em $fontThree;			
			margin-bottom: 20px;
		}

		.separator{
			margin: 5px 0;
		}

		.line {
			padding: 2px 0;
		}

		.label, .value {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
		}
		.label{
			width: 83px;
			min-width: 83px;
			margin-right: 5px;
		}
		.value {
			font-weight: 700;
			text-align: left;
			font-size: 14px;
		}
		.pink{
			color: magenta
		}
		.label.strong{
			font-weight: 700;
			width: 100%;
		}
		.taxes{
			margin-top: 6px;
			font-weight: 100;
			font-size: 10px;
			margin-left: 83px;
			line-height: 11px;
			margin-bottom: 20px;
		}
		.btn{
			width: 100%;
			text-align: center;
		}
		.ask-parents-block {
			margin: 20px 0;
		}
		.continue-buy {
			.btn { color: #000;}
			.checkout {
				.btn {
		      color: #fff;
				}
				.or {
					text-align: center;
					font-size: 11px;
					line-height: 30px;
					color: #999;
				}
		    .paypal {
		      text-align: center;
		    }
			}
		}
		
	}
}

