.taxon_name	{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	height: 36px;
	font: 300 22px/36px "LeagueGothic", serif;
	padding: 0 15px;
	letter-spacing: 0.125em;
	background-color: #000;
	font-size: 20px;
}

img.taxon_tile{
	height: 278px;
	width: 278px;
}

.more-dresses{
	text-align: center;
	margin: 10px 0 30px;
	padding: 40px 0 30px;
	background-color: #fff;

	h2 {
		font-size: 47px;
		font-family: "Didot", serif;
		line-height: 1;
		font-style: italic;
		font-weight: 100;
	}
}