.taxon_name	{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	height: 36px;
	font: 300 22px/36px "LeagueGothic", serif;
	padding: 0 15px;
	letter-spacing: 0.125em;
	background-color: #000;
	font-size: 20px;
}

img.taxon_tile{
	height: 278px;
	width: 278px;
}