.block-title {
  color: #fff;
  font: 100 40px/1 $fontOne;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.promo {
  padding: 62px 0 0;
  height: 558px;
  background: image-url('image-top-promo.jpg') center center no-repeat;
  background-size: cover;
  .promo-text {
    float: left;
    text-align: center;
    color: #fff;
    font: 400 italic 19px/1.4 $fontTwo;
    .block-title {
      margin: 171px 0 0;
    }
    .separate {
      background: #fee7b5;
      width: 232px;
      height: 1px;
      margin: 27px auto 19px;
    }
    .desc {
      width: 300px;
      margin: 0 auto 14px;
      line-height: 1.3;
    }
    .signup {
      a {
        background: image-url('button-facebook-connect.png') 0 0 no-repeat;
        width: 192px;
        height: 33px;
        display: block;
        text-indent: -999px;
        text-align: center;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
      }
    }
    .or {
      color: #fee7b5;
      margin: 11px 0 -6px;
    }
    .signup-link {
      font-size: 17px;
      a {
        color: #fee7b5;
      }
    }
  }
}

.top-bar {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background: image-url('bg-menu.png') 0 0 repeat;
  box-shadow: 0 5px 6px rgba(0, 0, 0, .1);
  ul {
    li {
      float: left;
    }
  }
  .wrap {
    height: 46px;
    overflow: visible;
  }
  .main {
    float: left;
    font-size: 17px;
    margin: 14px 0 0;
    text-transform: uppercase;
    a {
      color: #333;
      text-decoration: none;
    }
    > ul {
      > li {
        line-height: 1;
        font-size: 16px;
        border-left: 1px solid #f3ddae;
        padding: 2px 0 0 18px;
        margin: 0 0 0 18px;
        &:first-child {
          border: 0;
          padding: 2px 0 0;
          margin: 0;
        }
        &.active {
          color: #f3ddae;
          a {
            color: #f3ddae;
          }
        }
        &.with-dropdown {
          position: relative;
          padding-right: 20px;
          background: image-url('icon-menu-dropdown.png') right 4px no-repeat;
          .dropdown-menu {
            display: none;
            top: 19px;
            left: -24px;
            position: absolute;
            z-index: 3;
            ul {
              position: relative;
              padding: 1px 0 0;
              margin: 15px 0 0;
              text-align: center;
              background: #f9b4a8;
              box-shadow: 2px 2px 2px rgba(143, 71, 59, .55);
              li {
                min-width: 171px;
                float: none;
                margin: 0 14px;
                border-top: 1px solid #fff;
                a {
                  font: 400 14px/1.1 $fontOne;
                  color: #fff;
                  text-decoration: none;
                  margin: 21px 0 18px;
                  display: block;
                  &:hover {
                    color: #ebebeb;
                  }
                  &.btn {
                    display: inline-block;
                    padding: 11px 12px;
                    color: #67686d;
                    background: #fee7b5;
                    border-radius: 4px;
                    box-shadow: 0 3px 3px #d8b18c;
                  }
                }
                &:first-child {
                  border-top: 0;
                }
              }
              &:before {
                content: '';
                border-bottom: 10px solid #f9b4a8;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                left: 50%;
                top: -10px;
                margin: 0 0 0 -5px;
              }
            }
          }
          &:hover {
            > a {
              color: #f9b4a8;
            }
            .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
  }
  .follow {
    float: right;
    color: #686568;
    font: 400 14px/1 $fontOne;
    margin: 17px 0 0;
    ul {
      li {
        margin: 0 0 0 10px;
        a {
          background: image-url('menu-icons-social.png') 0 0 no-repeat;
          display: block;
          width: 14px;
          height: 14px;
          overflow: hidden;
          text-indent: -999px;
          &.twitter {
            width: 15px;
            background-position: 0 -14px;
          }
          &.pinterest {
            background-position: 0 -28px;
          }
          &.rss {
            background-position: 0 -42px;
          }
        }
        &:first-child {
          margin: 0 10px;
        }
      }
    }
  }
  .search {
    float: right;
    margin: 12px 0 0;
    input {
      background: image-url('icon-search.png') 0 2px no-repeat;
      font: 400 14px/1 $fontOne;
      border: 0;
      width: 103px;
      padding: 0 0 0 25px;
    }
  }
}

.dream-dress {
  padding: 46px 0 0;
  height: 524px;
  overflow: hidden;
  background: image-url('bg-promo-custom-dress.png') 0 0 repeat #ddddd7;
  .wrap {
    height: 524px;
  }
  .girl-in-dress {
    float: left;
    width: 345px;
    height: 524px;
    overflow: hidden;
    margin-left: -86px;
  }
  .promo-block {
    float: right;
    margin: 0 54px 0 0;
    text-align: center;
    font-style: italic;
    font-size: 19px;
    line-height: 1.3;
    .block-title {
      margin: 47px 0 0;
    }
    .separate {
      width: 352px;
      height: 1px;
      margin: 31px auto 41px;
      background: #fff;
    }
    .desc {
      width: 380px;
      margin: 0 auto 36px;
    }
    .circles {
      width: 582px;
      margin: 0 auto;
      overflow: hidden;
      .circle {
        float: left;
        margin: 0 0 0 48px;
        width: 162px;
        .image {
          background: #fff;
          background: rgba(255, 255, 255, .45);
          width: 162px;
          height: 162px;
          margin: 0 0 30px;
          overflow: hidden;
          border-radius: 50%;
        }
        .text {
        }
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

/* GLOBAL BLOCKS */

.slider-block {
  position: relative;
  .arrow-left, .arrow-right {
    position: absolute;
    margin: -50px 13px 0;
    top: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    text-indent: -999px;
    background: image-url('icons-slider.png') 34px 0 no-repeat #fff;
    background: image-url('icons-slider.png') 34px 0 no-repeat rgba(255, 255, 255, .14);
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
    background-position: 42px -100px;
  }
  .inner {
    text-align: center;
    position: relative;
    z-index: 2;
  }
  .slides-overlay {
    background: #4e454a;
    background: rgba(78, 69, 74, .29);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .pagination {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -120px;
    div {
      width: 40px;
      height: 40px;
      color: #fff;
      float: left;
      margin: 0 0 0 10px;
      font: 400 18px/40px $fontOne;
      text-align: center;
      cursor: pointer;
      background: #fff;
      background: rgba(255, 255, 255, .29);
      border-radius: 50%;
      &:first-child {
        margin: 0;
      }
      &.active {
        background: #fee7b5;
        background: rgba(254, 231, 181, .43);
      }
    }
  }
}

/* END: GLOBAL BLOCKS */

.promo-slider {
  height: 718px;
  border-bottom: 2px solid #e7e7e7;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
  .slides-overlay {
    width: 1096px;
    height: 272px;
    margin: -136px 0 0 -548px;
  }
  .inner {
    width: 1096px;
    margin: 250px auto 0;
  }
  .slides {
    width: 100%;
    height: 718px;
    overflow: hidden;
    li {
      width: 100%;
      height: 718px;
      overflow: hidden;
      background: image-url('slider/slide-1.jpg') center center no-repeat;
      background-size: cover;
      .separate {
        width: 232px;
        height: 1px;
        background: #fee7b5;
        margin: 20px auto 20px;
      }
      .desc {
        width: 380px;
        margin: 0 auto;
        color: #fff;
        font-style: italic;
        font-size: 19px;
        line-height: 1.3;
      }
    }
  }
  .pagination {
    bottom: 262px;
  }
}

.mini-slider {
  margin: 26px 0 0;
  .slides {
    height: 362px;
    overflow: hidden;
    li {
      height: 362px;
      overflow: hidden;
      .inner {
        width: 907px;
        margin: 67px auto 0;
      }
      .block-title {
        padding: 37px 0 18px;
        margin: 0 0 4px;
        position: relative;
        font-size: 36px;
        &:before {
          content: '';
          display: block;
          width: 232px;
          height: 1px;
          background: #fee7b5;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin: 0 0 0 -116px;
        }
      }
      .desc {
        width: 380px;
        margin: 14px auto;
        color: #fff;
        font-style: italic;
        font-size: 20px;
      }
      .btn {
        text-transform: uppercase;
        text-decoration: none;
        font: 400 14px/1.1 $fontOne;
        display: inline-block;
        padding: 8px 9px;
        color: #67686d;
        background: #fee7b5;
        border-radius: 4px;
        box-shadow: 0 0 2px #d8b18c;
      }
      &.slide-1 {
        background: image-url('slider/slider-mini-1.jpg') center center no-repeat;
      }
    }
  }
  .slides-overlay {
    width: 907px;
    height: 227px;
    margin: -113px 0 0 -453px;
  }
  .pagination {
    bottom: 10px;
    margin-left: -95px;
    div {
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 14px;
      background: #333;
      background: rgba(51, 51, 51, .24);
      &.active {
        color: #000;
        background: #fff;
      }
    }
  }
}

.celebrity-photos {
  position: relative;
  margin: 0 0 60px;
  .view-all {
    position: absolute;
    right: 0;
    top: -33px;
    font-family: $fontOne;
    font-size: 14px;
  }
  ul {
    overflow: hidden;
    li {
      float: left;
      margin: 0 0 0 6px;
      &:first-child {
        margin: 0;
      }
      &:last-child {
        float: right;
      }
    }
  }
}