.block-title {
  color: #fff;
  font: 100 40px/1 $fontOne;
  text-transform: uppercase;
  letter-spacing: 3px;
  &.smaller {
    font-size: 34px;
  }
}

.promo {
  padding: 62px 0 0;
  height: 558px;
  background: image-url('image-top-promo.jpg') center center no-repeat;
  background-size: cover;
}

.promo-text {
  float: left;
  text-align: center;
  color: #fff;
  font: 400 italic 19px/1.4 $fontTwo;
  .block-title {
    margin: 171px 0 0;
  }
  .separate {
    background: #F9B4A8;
    width: 232px;
    height: 1px;
    margin: 27px auto 19px;
  }
  .desc {
    width: 560px;
    margin: 0 auto 14px;
    line-height: 1.3;
  }
  .or {
    color: #C1AEB0;
    margin: 11px 0 -6px;
  }
  .signup-link {
    font-size: 17px;
    a {
      color: #C1AEB0;
    }
  }
  &.fright {
    float: right;
  }

  .btn {
    font: 300 14px/1.3 $fontOne;
    display: block;
    text-decoration: none;
    width: 256px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 0 auto;
    border: 0;
    border-radius: 4px;
    background: #f9b4a8;
    box-shadow: 0 1px 2px rgba(201, 146, 136, .66);
  }
}

.top-bar {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, .1);
  ul {
    li {
      float: left;
    }
  }
  .wrap {
    height: 46px;
    overflow: visible;
  }
  .main {
    float: left;
    font-size: 17px;
    margin: 16px 0 0;
    text-transform: uppercase;
    a {
      color: #333;
      text-decoration: none;
    }
    > ul {
      > li {
        line-height: 1;
        font-size: 16px;
        border-left: 1px solid #f3ddae;
        padding: 2px 0 0 18px;
        margin: 0 0 0 18px;
        &:first-child {
          border: 0;
          padding: 2px 0 0;
          margin: 0;
        }
        &.active {
          color: #f3ddae;
          a {
            color: #f3ddae;
          }
        }
        &.with-dropdown {
          position: relative;
          padding-right: 20px;
          background: image-url('icon-menu-dropdown.png') right 4px no-repeat;
          .dropdown-menu {
            display: none;
            top: 19px;
            left: -24px;
            position: absolute;
            z-index: 3;
            ul {
              position: relative;
              padding: 1px 0 0;
              margin: 15px 0 0;
              text-align: center;
              background: #f9b4a8;
              box-shadow: 2px 2px 2px rgba(143, 71, 59, .55);
              li {
                min-width: 171px;
                float: none;
                margin: 0 14px;
                border-top: 1px solid #fff;
                a {
                  font: 400 14px/1.1 $fontOne;
                  color: #fff;
                  text-decoration: none;
                  margin: 21px 0 18px;
                  display: block;
                  &:hover {
                    color: #ebebeb;
                  }
                  &.btn {
                    display: inline-block;
                    padding: 11px 12px;
                    color: #67686d;
                    background: #fee7b5;
                    border-radius: 4px;
                    box-shadow: 0 3px 3px #d8b18c;
                  }
                }
                &:first-child {
                  border-top: 0;
                }
              }
              &:before {
                content: '';
                border-bottom: 10px solid #f9b4a8;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                left: 50%;
                top: -10px;
                margin: 0 0 0 -5px;
              }
            }
          }
          &:hover {
            > a {
              color: #f9b4a8;
            }
            .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
  }
  .follow {
    float: right;
    color: #686568;
    font: 400 14px/1 $fontOne;
    margin: 17px 0 0;
    ul {
      li {
        margin: 0 0 0 10px;
        a {
          background: image-url('menu-icons-social.png') 0 0 no-repeat;
          display: block;
          width: 14px;
          height: 14px;
          overflow: hidden;
          text-indent: -999px;
          &.twitter {
            width: 15px;
            background-position: 0 -14px;
          }
          &.pinterest {
            background-position: 0 -28px;
          }
          &.rss {
            background-position: 0 -42px;
          }
        }
        &:first-child {
          margin: 0 10px;
        }
      }
    }
  }
  .search {
    float: right;
    margin: 12px 0 0;
    input {
      background: image-url('icon-search.png') 0 2px no-repeat;
      font: 400 14px/1 $fontOne;
      border: 0;
      width: 103px;
      padding: 0 0 0 25px;
    }
  }
}

.dream-dress {
  padding: 46px 0 0;
  height: 604px;
  overflow: hidden;
  background: image-url('bg-promo-custom-dress.png') 0 0 repeat #ddddd7;
  .wrap {
    height: 604px;
  }
  .girl-in-dress {
    float: left;
    width: 345px;
    height: 604px;
    overflow: hidden;
    margin-left: -86px;
    position: relative;
    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .promo-block {
    float: right;
    margin: 0 54px 0 0;
    text-align: center;
    font-style: italic;
    font-size: 19px;
    line-height: 1.3;
    .block-title {
      margin: 47px 0 0;
    }
    .separate {
      width: 352px;
      height: 1px;
      margin: 31px auto 41px;
      background: #fff;
    }
    .desc {
      width: 520px;
      margin: 0 auto 36px;
    }
    .circles {
      width: 582px;
      margin: 0 auto;
      overflow: hidden;
      .circle {
        float: left;
        margin: 0 0 0 48px;
        width: 162px;
        .image {
          background: #fff;
          background: image-url('icons-homepage-dream-prom.png') 0 center no-repeat rgba(255, 255, 255, .45);
          width: 162px;
          height: 162px;
          margin: 0 0 30px;
          overflow: hidden;
          border-radius: 50%;
          &.unique {
            background-position: 49px center;
          }
          &.designer {
            background-position: -162px center;
          }
          &.fabric {
            background-position: -372px center;
          }
        }
        &:first-child {
          margin: 0;
        }
      }
    }
    .facebook-signup {
      margin: 30px auto 70px;
    }
  }
}

/* GLOBAL BLOCKS */

.slider-block {
  position: relative;
  .arrow-left, .arrow-right {
    position: absolute;
    margin: -50px 13px 0;
    top: 50%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 4;
    border-radius: 50%;
    text-indent: -999px;
    background: image-url('icons-slider.png') 34px 0 no-repeat #fff;
    background: image-url('icons-slider.png') 34px 0 no-repeat rgba(255, 255, 255, .14);
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
    background-position: 42px -100px;
  }
  .inner {
    text-align: center;
    position: relative;
    z-index: 4;
  }
  .slides-overlay {
    background: #4e454a;
    background: rgba(78, 69, 74, .29);
    overflow: hidden;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
  }
  .pagination {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    z-index: 4;
    a {
      width: 40px;
      height: 40px;
      text-decoration: none;
      color: #fff;
      float: left;
      margin: 0 0 0 10px;
      font: 400 18px/40px $fontOne;
      text-align: center;
      cursor: pointer;
      background: #fff;
      background: rgba(255, 255, 255, .29);
      border-radius: 50%;
      &:first-child {
        margin: 0;
      }
      &.selected {
        background: #fee7b5;
        background: rgba(254, 231, 181, .43);
      }
    }
  }
  .call-to-action {
    position: absolute;
    left: 50%;
    bottom: 217px;
    margin: 0 0 0 -115px;
    z-index: 3;
    .btn {
      font: 300 14px/1.3 $fontOne;
      display: block;
      text-decoration: none;
      width: 256px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 30px auto;
      border: 0;
      border-radius: 4px;
      background: #f9b4a8;
      box-shadow: 0 1px 2px rgba(201, 146, 136, .66);
    }
  }
}

/* END: GLOBAL BLOCKS */

.promo-slider {
  height: 718px;
  border-bottom: 2px solid #e7e7e7;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.3);
  .slides-overlay {
    width: 1096px;
    height: 364px;
    margin: -172px 0 0 -548px;
  }    
  .first-title{
    padding-top: 20px;
    font-size: 48px;
  }
  .inner {
    width: 1096px;
    margin: 233px auto 0;
  }
  .slides {
    width: 100%;
    height: 718px;
    overflow: hidden;
    li {
      width: 100%;
      height: 718px;
      overflow: hidden;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .separate {
        width: 232px;
        height: 1px;
        background: #F9B4A8;
        margin: 20px auto 20px;
      }
      .desc {
        width: 380px;
        margin: 0 auto;
        color: #fff;
        font-style: italic;
        font-size: 19px;
        line-height: 1.3;
      }
    }
  }
  .pagination {
    bottom: 279px;
    .item-0 {
      display: none;
    }
  }
}

.slider-bottom {
  background: image-url('bg-slide.jpg') center center no-repeat;
  background-size: cover;
}

.mini-slider {
  margin: 26px 0 0;
  .slides {
    height: 362px;
    overflow: hidden;
    li {
      height: 362px;
      overflow: hidden;
      .inner {
        width: 907px;
        margin: 67px auto 0;
      }
      .block-title {
        padding: 37px 0 18px;
        margin: 0 0 4px;
        position: relative;
        font-size: 36px;
        &:before {
          content: '';
          display: block;
          width: 232px;
          height: 1px;
          background: #fee7b5;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin: 0 0 0 -116px;
        }
      }
      .desc {
        width: 380px;
        margin: 14px auto;
        color: #fff;
        font-style: italic;
        font-size: 20px;
      }
      .btn {
        text-transform: uppercase;
        text-decoration: none;
        font: 400 14px/1.1 $fontOne;
        display: inline-block;
        padding: 8px 9px;
        color: #67686d;
        background: #fee7b5;
        border-radius: 4px;
        box-shadow: 0 0 2px #d8b18c;
      }
      &.slide-1 {
        background: image-url('slider/slider-mini-1.jpg') center center no-repeat;
      }
    }
  }
  .slides-overlay {
    width: 907px;
    height: 227px;
    margin: -113px 0 0 -453px;
  }
  .pagination {
    bottom: 10px;
    margin-left: -95px;
    div {
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 14px;
      background: #333;
      background: rgba(51, 51, 51, .24);
      &.active {
        color: #000;
        background: #fff;
      }
    }
  }
}

.celebrity-photos {
  position: relative;
  margin: 0 0 60px;
  .view-all {
    position: absolute;
    right: 0;
    top: -33px;
    font-family: $fontOne;
    font-size: 14px;
  }
  ul {
    overflow: hidden;
    li {
      float: left;
      margin: 0 0 0 6px;
      &:first-child {
        margin: 0;
      }
      &:last-child {
        float: right;
      }
    }
  }
}

.post {
  overflow: hidden;
  margin: 37px 0 54px;
  .main-image {
    float: left;
    width: 405px;
  }
  .post-content {
    float: right;
    width: 660px;
    h2 {
      margin: 0 0 22px;
    }
    .post-images {
      margin: 25px 0 31px;
      li {
        display: inline-block;
        margin: 0 0 0 10px;
        &:first-child {
          margin: 0;
        }
      }
    }
    .block {
      .block-title {
        color: #7a656a;
        font-size: 24px;
        border-bottom: 1px solid #F9B4A8;
        letter-spacing: 0;
        padding: 0 0 12px;
        margin: 0 0 17px;
      }
      .photos {
        width: 660px;
        margin: 0 0 23px;
        li {
          display: inline-block;
          margin: 0 4px 4px 0;
        }
      }
    }
    .tags {
      li {
        display: inline-block;
        margin: 0 0 14px 14px;
        .tag {
          font-size: 12px;
          min-width: 0;
          text-decoration: none;
        }
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

.celebrities {
  width: 1107px;
  li {
    margin: 37px 5px 20px 0;
    display: inline-block;
    .name {
      font-size: 16px;
      letter-spacing: 1px;
      font-family: $fontOne;
    }
    .event {
      margin: 4px 0 0;
      font-style: italic;
    }
  }
}

.content-tab {
  display: none;
  .celebrities {
    width: 749px;
    li {
      width: 243px;
      margin: 0 4px 35px 0;
    }
  }
  &.active {
    display: block;
  }
}

.competition-promo {
  height: 667px;
  background: image-url('bg-competition.png') 0 0 repeat #000;
  .promo-dress {
    width: 100%;
    height: 667px;
    background: image-url('image-competition.jpg') left bottom no-repeat;
  }
  .promo-text {
    margin: 160px 0 0;
  }
}

.success-page {
  h2 {
    font: 300 22px/1.3 $fontOne;
    color: #7a656a;
    margin: 30px auto;
    width: 600px;
  }
  p {
    display: block;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    font-style: italic;
  }
}