.wrap.success-page
  h1.block-title Your perfect dress description successfully created!
  h2.aligncenter Thank you for submitting your personal dress design brief.
  p Our stylists and designers will now be busy reviewing what you have sent us so that we may create something amazing for you. Please expect a call to discuss your brief and the likely quotation for the full design and production of your dress, within the next 48 hours. Thank you!
