form_html = '<%= escape_javascript(render "spree/admin/moodboard_items/form", item: item, product: product) %>';

$('#new_moodboard_item form').hide()

$('#moodboard_items tr.form').remove()
$('tr#<%= spree_dom_id item %>').after("<tr class='form'><td colspan='6'>" + form_html + "</td></tr>");
