a:hover { color: $fp-highlight;}

a:hover, a:focus { text-decoration: none;}

a:active, a:focus { outline: none !important; }

// Page style
.page-content {
  padding-top: $fp-menu-height-full;
  padding-bottom: 60px;
}
.page-title + .page-content { padding-top: 0;}