.footer {
	padding-bottom: 0;
	width: 100%;
	padding-left: 35px;
	padding-top: 0;

	@media(max-width: $screen-tablet){
		padding-top: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.row {
		@media(max-width: $screen-tablet){
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.footer-navigation {
		margin-top: 30px;
		font-size: 1.3rem;
	}
	ul.footer-nav {
		margin-top: -2px;
	}

	.col-md-6 {
		p {
			padding-top: 30px;
			font-size: 1.2rem;
		}
	}
	@media(max-width: $screen-tablet){
		.footer-nav {
			text-align: center;

			li {
				padding-left: 0;
			}
		}
	}

	.footer-nav--item {
		margin-bottom: 1px;
		padding-left: 5rem;

		a {
			&:hover {
				color:#355e6d;
			}
		}
	}

	.footer-social {
		float: right;
		margin-bottom: 0;

		@media(max-width: $screen-tablet){
			float: none;
		}
	}

	.footer-social--item {
		padding-bottom: 0;
		cursor:pointer;

		@media (max-width: 990px){
			padding-bottom: 55px;
		}
	}

	.footer-logo {
		background-image: url('fameandpartnersfooterlogo.png');
		height: 35px;
		width: 46px;
		margin-left: 0;

		@media(max-width: $screen-tablet){
			margin-left: auto;
			margin-right: auto;
		}
	}

	.location {
		width: 280px;
		border: 1px solid black;
		text-align: left;
		color: black;

		.caret {
			float: right;
			color: black;
			margin-top: 0.5rem;
		}
	}

	.address span {
		font-size: 1.3rem;
		text-transform: capitalize;
	}

	.address {
		p {
			span a{
				color: black;
			}
		}
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.social-links {
		padding-right: 0;
		margin-bottom: 8px
	}

	.lower-row {
		margin-bottom: 2rem;
		clear: both;

		@media(max-width: $screen-tablet){
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		.btn {
			font-family: $font-family-secondary;
			color: black;
		}
	}
}

.copyright {
	@media(min-width: $screen-tablet)and(max-width:990px){
		p {
			float:right;
		}
	}

	@media(min-width: 990px)and(max-width:1100px){
		p {
			padding-left:4rem;
		}
	}
}



// StyleGuide 
.footer {
	background-color: $fp-footer-bg;
	padding-top: $section-padding;
	padding-bottom: $section-padding - 10;
	color: $gray-dark;
}
	.footer-nav {
		display: block;
		list-style: none;
		padding-left: 0;
	}
		.footer-nav--item {
			margin-bottom: 10px;
		}

		.footer-nav--item a {
			color: $gray-dark;
			font-weight: 300;
		}

			.footer-nav--item a:hover {
				color: black;
			}
	
	// Social
	.footer-social {
		@extend .footer-nav;
	}
		.footer-social--item {
			display: inline-block;
			padding: 10px;
		}

			.footer-social--item a {
				color: $gray-dark;
			}
	
	// Details
	.footer-details {
		margin-top: 40px;
	}
		.footer-details-nav {
			@extend .footer-nav;
		}

			.footer-details-nav--item {
				display: inline-block;
				padding: 20px;
				padding-bottom: 0;
			}

			.footer-details-text {
				padding: 20px;
				padding-bottom: 0;
			}


.footer-logo {
	margin-left: 30px;
	margin-bottom: 40px;
}


// @end StyleGuide
// -----------------