/* [Header]
-------------------------------------------------------*/
header.main {
  $logo-width: 265px;

  #locale-selector-mobile-container {
    position: relative;

    ul {
      z-index: 2;
    }

  }

  .banner-wrap {
    width: 100%;
    padding: 25px 0;

    .inner-wrap {
      position: relative;
      padding: 0 ($mobile-header - $logo-width) / 2;
    }

    @include mobile-header {

      & {
        display: none;
        visibility: hidden;
      }

    }

  }

  .logo-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;

    .logo{

      img {
        max-width: $logo-width;
      }

    }

  }

  .nav-icons {
    margin-top: -4px;
    padding-right: 5px;

    .icon {
      font-size: 2.2rem;
      color: $c-neutral-black;
      display: inline-block;
      padding: 5px;

      &:hover,
      &:focus,
      &:active {
        opacity: .6;
        cursor: pointer;
      }

    }

    .trigger-shopping-cart {
      position: relative;
    }

    .count {
      color: $c-neutral-white;
      background: $c-neutral-black;
      border-radius: 100%;
      display: inline-block;
      position: absolute;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      line-height: 1.1rem;
      right: 0;
      top: -10px;
      width: 15px;
      height: 15px;
      padding: 2px 0 0 1px;
    }

  }
  #fixed-header {
    width: 100%;
  }

  @media (min-width: $bootstrap-md-width) {
    padding-bottom: $md-content-margin-top;

    &.locale-warn-active {
      padding-bottom: $fixed-header-with-locale-warn;
    }

    #fixed-header {
      position: fixed;
    }

  }

}
