/* [Header]
-------------------------------------------------------*/
header.main {
  $logo-width: 265px;

  .banner-wrap {
    width: 100%;
    padding: 25px 0;

    .inner-wrap {
      position: relative;
      padding: 0 ($mobile-header - $logo-width) / 2;
    }

    .left-wrap,
    .right-wrap {
      position: absolute;
      max-width: ($mobile-header - $logo-width) / 2;
    }

    .left-wrap {
      left: 0;
      top: 15px;
    }

    .right-wrap {
      right: 0;
      top: 12px;
    }

    @include mobile-header {

      & {
        display: none;
        visibility: hidden;
      }

    }

  }

  .logo-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;

    .logo{

      img {
        width: $logo-width;
      }

    }

  }

  .trigger-shopping-cart {
    display: block;
    text-transform: none;
    color: $c-neutral-black;

    &:hover,
    &:focus {
      opacity: .6;
    }

    .icon,
    .count,
    .copy {
      float: left;
      display: block;
      line-height: 25px;
    }

    .count,
    .copy {
      margin-left: 4px;
      font-size: 1.5rem;
    }

    .icon {
      font-size: 25px;
    }

    .count {
      font-weight: 400;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }

    }

    .copy {
      text-decoration: underline;
      font-style: italic;
      font-weight: 300;
    }

    @media (max-width: $iphone6-width) {

      & .copy {
        display: none;
      }

    }

  }

}
