/* [Menu Magazine]
-------------------------------------------------------*/
.menu-magazine {
  text-align: center;
  background: $c-neutral-white;

  .slider-wrap,
  .aside-wrap {
    float: left;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .slider-wrap {
    width: 58%;
  }

  .title {
    height: 60px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }

  .media-wrap {
    margin-bottom: 15px;
  }

  .copy {
    height: 44px;
    font-size: 14px;
    font-weight: 500;
  }

  .slick-slider {
    padding-left: 64px;
    padding-right: 64px;

    .item-wrap {
      padding: 0 5px;
    }

    .slick-prev {
      left: 15px;
    }

    .slick-next {
      right: 15px;
    }

  }

  .aside-wrap {
    width: 42%;
    padding-left: 40px;
    padding-right: 40px;
    background: $c-neutral-2;

    .item-wrap {
      float: left;
      width: 50%;
      padding: 0 15px;
    }

    .copy {
      text-transform: none;
      text-align: left;
    }

  }

  .item-wrap {
    display: block;
    color: $c-neutral-black;

    &:hover,
    &:focus {
      opacity: .8;
    }

  }

}
