/* [Menu New This Week]
-------------------------------------------------------*/
.menu-new-this-week {
  padding: 30px 0;

  .inner-wrap {
    @extend %cfix;
    margin: 0 -15px 40px;
  }

  .item-wrap {
    float: left;
    width: 20%;
    padding: 0 15px;

    > a {
      display: block;
      color: $c-neutral-black;

      &:hover,
      &:focus {
        opacity: .8;
      }

    }

    .details-wrap {
      margin-top: 10px;
      text-align: center;

      > span {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
      }

      .original-price {
        text-decoration: line-through;
      }

      .sale-price {
        color: $c-brand-red;
      }

    }

  }

  .btn-wrap {
    text-align: center;
  }

}

.main-menu .menu-new-this-week {

  .item-wrap {
    width: 50%;
  }

  .details-wrap {
    height: 80px;
    font-size: 0.875em;
  }

}
