/* [Menu Dresses]
-------------------------------------------------------*/
.menu-dresses {
  padding: 20px 20px 20px 30px;
  text-transform: none;
  background: $c-neutral-white;

  ul {
    float: left;
    margin: 10px 0 0 40px;
    padding: 0;
    list-style: none;

    &:first-child {
      margin-left: 0;
    }

  }

  li {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;

    a {
      display: inline-block;
      color: $c-neutral-black;
      border-bottom: solid transparent 1px;

      &:hover,
      &:focus {
        color: $c-neutral-black;
        border-color: $c-neutral-black;
      }

    }

  }

  .two-cols {
    @extend %cfix;
    max-width: 250px;

    li {
      float: left;
      width: 50%;
      padding-right: 20px;

      &.title {
        width: 100%;
      }

    }

  }

  .title {
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: solid $c-neutral-2 2px;
  }

  .highlight-wrap {
    float: right;
    display: block;
    width: 300px;
    color: $c-neutral-white;
    background: $c-brand-blue;

    .copy-wrap {
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
    }

  }

  @media (max-width: 1400px) {

    & {

      ul {
        margin-left: 30px;
      }

      .highlight-wrap {
        width: 300px;
      }

    }

  }

}
