@import 'redesign/mixins';

/* [Nav Menu]
-------------------------------------------------------*/
.nav-menu-wrap {
  text-transform: none;
  background: $c-neutral-white;
  padding: 20px 0;

  .panel-highlight {
    margin: 0;

    .copy-wrap .copyTitle {
      font-weight: 300;
    }

  }

  @media (max-width: 1400px) {
    .row{
      ul{
        margin: 10px 7px 0 0px;
      }
    }
  }

  ul {
    float: left;
    margin: 10px 0 0 50px;
    padding: 0;
    list-style: none;

    &:first-child {
      margin-left: 0;
    }

  }

  li {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;

    a {
      display: inline-block;
      color: $c-neutral-black;
      border-bottom: solid transparent 1px;

      &:hover,
      &:focus {
        color: $c-neutral-black;
        border-color: $c-neutral-black;
      }

    }

  }

  .two-cols ul {
    padding-left: 0;
    list-style: none;
  }

  .title {
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
  }

  @media (min-width: $bootstrap-md-width) {

    .two-cols {

      .title {
        width: 100%;
        padding-top: 9px;
      }

      ul {
        float: left;
        width: 45%;
        padding-right: 10px;
        margin-left: 0;
      }

    }

  }

  @media (max-width: 1200px){
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    border-left-color: transparent;
    border-right-color: transparent;
  }

}

.grid-img-cta-nav {

  .nav-item {
    margin-bottom: 10px;
  }

  .cta-wrap {
    text-align: center;
    margin-top: 5px;
  }

  .cta-link {
    font-family: $font-heading;
  }

  a {
    color: $c-neutral-black;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .cta-copy {
      font-size: 1.1rem;
    }

    .content-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;

      .container-cta {
        display: table;
        height: 100%;
        width: 100%;

        > .row-cta {
          display: table-cell;
          vertical-align: middle;
        }

      }

    }

  }

}

// On-page/Anchor navigation
.local-navigation-wrapper {
  padding-top: 38px;
  display: block;

  .nav li {
    letter-spacing: 0.1rem;

    a .icon {
      opacity: 0;
    }

    &.active a,
    a:hover {
      background: none;
      border-color: $c-neutral-black;
      color: $c-neutral-black;
      font-weight: 500;
    }

    a:focus {
      background: none;
    }

  }

  .nav.arrow-when-active:not(.slick-initialized) .active a {
    text-decoration: none;

    .icon {
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 600;
      padding-left: 2px;
      opacity: 1;
      @include transition(all 0.5s ease-in-out);
    }

  }

  .nav-wrapper {
    padding: 0;
  }

  .slick-list {
    margin: 0 auto;
  }

  .slick-track {
    width: auto;
  }

  .slick-arrow {
    color: $c-neutral-10;
    font-size: 2rem;
    top: 23px;
    padding: 18px 0;
    background: $c-neutral-white;
    @include box-shadow( 0 0 20px 10px rgba($c-neutral-white, 0.7) );
    width: 16px;
  }

  // This is needed because the left arrow looks smaller than the right one with the default value above
  .slick-arrow:first-child {
    font-size: 3rem;
  }

  .slick-arrow:last-child {
    right: 0;
  }

  .slick-disabled {
    visibility: hidden;
  }

  @media (max-width: $bootstrap-md-width - 1px) {

    .fixed-nav-mobile {
      width: 100%;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: $c-neutral-white;
      z-index: 3;
      @include transition(all 0.3s ease-in-out);
    }

  }

}

.local-navigation {
  width: 100%;
  text-transform: none;
  padding: 5px 15px;

  &.fixed-nav {
    position: fixed;
    z-index: 3;
    background: $c-neutral-white;
    left: 0;
    @include transition(all 0.3s ease-in-out);
  }

  ul {
    text-align: center;
    min-width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0 -2px;
  }

  a {
    color: $c-neutral-8;
    border-bottom: 1px solid $c-neutral-8;
    padding: 18px 0;
    display: block;
    font-size: 1.4rem;
  }

}

// My account nav menu
.local-navigation-horizontal {
  width: 100%;
  display: inline-block;
  padding: 5px 15px;

  ul {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    @include display-flex;
  }

  li {
    padding: 0;
    margin: 0 -2px;
    display: inline-block;
    flex-basis: 100%;
  }

  a {
    color: $c-neutral-8;
    border-bottom: 1px solid $c-neutral-8;
    padding: 18px 35px;
    display: inline-block;
    width: 100%;
  }

  .nav li {

    &.active a,
    a:hover,
    a:focus {
      background: none;
      color: $c-neutral-black;
      font-weight: 500;
    }

  }

}

.local-navigation-vertical {

  .nav li {

    a {
      text-decoration: underline;
      padding: 5px 15px;
      font-size: 1.5rem;
    }

  }

  &.fixed-nav-mobile {
    padding: 5px 15px;

    ul {
      text-align: center;
      min-width: 100%;
      left: 0;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0 -2px;
    }

    li a {
      color: $c-neutral-8;
      border-bottom: 1px solid $c-neutral-8;
      padding: 18px 0;
      display: block;
      font-size: 1.4rem;
      text-decoration: none;
    }

  }

}

.label-new {
  font-size: 0.5em;
  text-transform: uppercase;
  color: $c-neutral-8;
  top: -4px;
  position: relative;
  display: inline-block;
}

// Mobile
#sideMenu .nav.navbar-nav ul {
  padding-left: 0;

  li {
    display: block;
  }

}
