/* [Section boxes]
-------------------------------------------------------*/
$section-spacing-margin-top: 40px;
$box-padding-top: 25px;
$top-overlay-margin-top: 37px;

.section-box {
  margin-top: $section-spacing-margin-top;
  background: $c-neutral-white;

  &.top-overlay {
    margin-top: -($top-overlay-margin-top);
  }

  p {
    font-family: $font-heading;
    font-size: 2rem;
    font-weight: 300;

    &:nth-of-type(1) {
      margin-top: 30px;
    }

  }

  .item,
  .item-alt {
    padding: 18px;

    &.has-heading-overlay {
      padding-top: 30px;
    }

    &.bordered {
      border: 1px solid $c-neutral-6;
    }

    h3 {
      text-transform: none;
      font-size: 3.2rem;
      line-height: 3.3rem;
    }

    p.summary {
      font-size: 1.7rem;
      margin: ($box-padding-top - 20px) 0 0;
    }

    .item-copy {
      padding: 0 15px;
    }

  }

  .section-img-wrap {

    &.copy-center {
      position: relative;
    }

    .img-wrap img {
      width: 100%;
      height: 100%;
    }

    .content-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;

      .container-cta {
        display: table;
        height: 100%;
        width: 100%;

        > .row-cta {
          display: table-cell;
          vertical-align: middle;
        }

      }

      .copy-wrap {
        font-size: 1.4rem;
      }

    }

  }

  @media (max-width: $bootstrap-md-width) {

    .section-img-wrap {

      &.top-left-category-tile,
      &.top-right-category-tile,
      &.bottom-left-category-tile,
      &.bottom-right-category-tile {
        border-top: 2px solid #fff;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
      }

    }

  }

  .cta-item {

    &.col-md-6:nth-child(even) {
      padding-left: 0;
    }

    &.col-md-6:nth-child(odd) {
      padding-right: 0;
    }

    .media-wrap {
      height: 366px;
    }

  }

  .cta-item-huge {

    .media-wrap {
      height: 544px;
    }

    .media-wrap.keep-ratio {
      padding-bottom: 47%;
    }

  }

  .copy-img-side-by-side {

    .copy-side {
      padding: 0 25px;
      margin-bottom: 14px;
      position: inherit;

      p:first-child {
        margin-top: 14px;
      }

      p a {
        color: $c-neutral-black;
        border-bottom: 1px solid $c-neutral-6;
      }

      .link-align-bottom a {
        border: 0;
      }

    }

  }

  &.copy-img-side-by-side-alt {

    p.summary {
      margin: 25px 0;
      font-size: 1.2em;
      line-height: 125%;
    }

    .featured-info {
      padding: 5px;
      margin: 30px 0;

      .black-box {
        background-color: $c-neutral-black;
        color: $c-neutral-white;
      }

      .amount {
        font-size: 2.6em;
        font-weight: 600;
      }

      .caption {
        font-size: 1.7rem;
        line-height: 125%;
        padding: 15px 0;
        text-align: left;
      }

    }

    @media (max-width: $bootstrap-md-width - 1px) {
      text-align: center;

      .item-copy {
        padding: 15px;
      }

    }

  }

  .cta-product-caption {
    margin: 25px 0;
    font-weight: 400;
  }

  @media (max-width: $bootstrap-md-width - 1px) {
    margin-top: ($section-spacing-margin-top / 2);

    &.heading-has-copy.top-overlay {
      margin-top: $top-overlay-margin-top;
    }

    .item {

      &.bordered {
        margin-bottom: $box-padding-top;
      }

      h3 {
        margin-top: ($box-padding-top + 10px);
      }

    }

    .item-alt {
      padding: 24px 18px;

      h3 {
        margin-top: 0;
      }

    }

    .cta-item, .cta-item-huge {
      padding: 0;
    }

    .copy-img-side-by-side .item .row {
      display: flex;
      flex-wrap: wrap;

      .content-wrapper {
        height: 100%;
      }

    }

  }

  @media (min-width: $bootstrap-sm-width) {

    .link-align-bottom {
      bottom: 10%;
      position: absolute;
    }

  }

  .iframe-middle-wrapper {

    > div {
      margin: 0 auto;
    }

  }

}

.section-box-alt {
  margin: 0;

  .item {

    &.bordered {
      padding: 15px;
      border-color: $c-neutral-4;
    }

    .item-copy {
      padding: 0;
    }

    .heading {
      padding: 10px 0 5px;
      font-size: 1.4em;
    }

    p.summary {
      font-size: 1em;
      line-height: 125%;
      margin-bottom: 10px;
    }

    .copy-highlight,
    .icon {
      font-size: 0.9rem;
    }

  }

}

.section-bottom {
  margin-top: 60px;
}

.section-last {
  margin-bottom: 60px;
}

.heading-overlay-wrapper {
  text-align: center;
  z-index: 1;

  &--alignLeft {
    text-align: left;
  }

  .heading-overlay {
    display: inline-block;
    position: relative;
    bottom: -22px;
    padding: 6px 20px 4px;
    margin-top: 0;
    font-family: $font-family-secondary;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
    background: $c-neutral-black;
    color: $c-neutral-white;
    z-index: 1;
  }

  &.is-bordered .heading-overlay {
    bottom: -14px;
  }

  @media (min-width: $bootstrap-md-width) {

    &.tag-align-left {
      text-align: left;
    }

  }

}

.heading-overlay-on-previous-section {
  margin-top: -75px;
  padding-bottom: 30px;

  @media (max-width: $bootstrap-md-width - 1px) {
    margin-top: 0;
  }
}

.heading-no-overlay.heading-overlay {
  margin-bottom: 65px;
  bottom: 0;
}


// When we need a 100%-wide section container with background
.section-wrapper {
  background: $c-classic-modal-bg;
  padding: $box-padding-top 0 5px;

  .sectionBox--with-bg {
    background: inherit;
  }

}

// Categories tiles
.CategoryTilesRow {

  .category-tile {
    border-top: 4px solid $c-neutral-white;
  }

  .cta-item:nth-child(odd) .category-tile {
    border-right: 2px solid $c-neutral-white;
  }

  .cta-item:nth-child(even) .category-tile {
    border-left: 2px solid $c-neutral-white;
  }

}

// CTA over tiles
.ctaOverlay__container {
  display: table;
  height: 100%;
  width: 100%;
}

.ctaOverlay__copy--top-left {
  padding: 20px 10px;
  display: block;
  max-width: 48%;
}

.ctaOverlay__copyTitle {

}

.ctaOverlay__copyLink {
  display: table;
}

// An alternative styling for section boxes
// Sample usage: landing_pages/bespoke_bridal_collection.html.slim

.contentBox {
  margin-bottom: 65px;

  .copyWrapper {
    width: 100%;
  }

}

.contentBoxItem__title,
.contentBoxItem__copy,
.contentBoxItem__ctaWrap {
  padding: 0 20px 15px 10px;
  margin: 0;
}

.contentBoxItem__title {
  padding-top: 20px;
}

.contentBoxItem__ctaCopy {
  @extend .font-serif;
  font-style: italic;
  font-size: 1.1em;
  margin: 0;
}

.contentBoxItem__ctaCopy--dressName {
  font-style: normal;
}

.contentBoxItem__ctaWrap {
  font-size: 1.5rem;
  color: $c-neutral-11;
}

.contentBoxItem__ctaWrap--ctaWithSeparator {

  .contentBoxItem__cta {
    display: inline-block;
  }

  .contentBoxItem__cta:first-child,
  .contentBoxItem__cta:last-child::before {
    padding-right: 20px;
  }

  .contentBoxItem__cta:last-child::before {
    content: "|";
  }

}

.contentBox__extraPadding {
  padding: 20px;
}

.contentBox__imgWithCaption {

  .copyWrapper {
    padding: 0 15px;
  }

}

.contentBox__marbleBox {
  text-align: center;
  @extend .contentBox__extraPadding, .contentBox__bg--marble;

  .contentBoxItem {
    border: 0;
  }

  .contentBoxItem__copy {
    padding: 10px 20px 0;
  }

}

.contentBox__marbleBox .contentBox__verticalMiddle {

  .contentBoxItem {
    padding: 0;
  }

  .contentBoxItem__ctaWrap {
    display: block;
    margin-top: 0;
  }

}

.contentBox__bg--white {
  background: $c-neutral-white;
}

.contentBox__bg--marble {
  background: url('_backgrounds/marble-texture-bg.jpg');
  background-size: 300%;
}

.section-instagram {

  &.section-box {
    margin-top: 0;
  }

  .instagram-widget {

    .item {
      padding: 5px;
    }

    .overlay {
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: $c-neutral-white;
      opacity: 0;
      @include transition(opacity 0.2s linear);

      .overlay-outer-wrap {
        display: table;
        width: 100%;
        height: 100%;
      }

      .overlay-inner-wrap {
        position: relative;
        display: table-cell;
        vertical-align: middle;
      }

      .cta-instagram {
        background: $c-neutral-white;
        padding: 0 20px 3px;
        color: $c-neutral-black;

        .user {
          font-size: 1.4rem;
          font-family: $font-family-secondary;
          font-weight: 500;
          margin-right: 5px;
        }

        .cta-link {
          font-size: 1.2rem;
          font-style: italic;
          text-decoration: underline;
          border: 0;
        }

      }

    }

    .item-wrap:hover {

      .overlay {
        opacity: 1;
      }

    }

  }

}

.SectionWrapperSocial {
  margin-top: 76px;
}

@media (min-width: $bootstrap-md-width) {

  .contentBox .contentBoxItem {
    padding-bottom: 20px;
    border-bottom: 1px solid $c-neutral-6;
  }

  .contentBoxItem__title--extraMarginDesktop {
    margin-top: 40px;
  }

  .contentBox__marbleBox--safeMarginTop {
    margin-top: 30px;
  }

  .contentBox__marbleBox .contentBoxItem {
    border-bottom: 0;
  }

  .copyWrapper--altPadding,
  .contentBox__imgWithCaption .row > .noPadding > .copyWrapper {
    padding: 0 10px;
  }

  .contentBox__imgWithCaption .row > .noPadding > .copyWrapper--altPadding {
    padding-left: 20px;
  }

  .contentBox__imgWithCaption--overlay {
    margin-top: -50px;

    .contentBoxItem__title {
      margin-top: 0;
    }

  }

  .contentBox__verticalMiddle {
    @include column-vertical-align();
  }

  .instagram-widget {
    padding: 0 10px;
  }

}

@media (max-width: $bootstrap-md-width - 1px) {

  .contentBoxItem {
    text-align: center;
  }

  .contentBoxItem__title,
  .contentBoxItem__copy,
  .contentBoxItem__ctaWrap {
    padding: 0 40px 15px 40px;
  }

  .contentBoxItem__title {
    padding-top: 50px;
  }

  .contentBox__extraPadding--mobile {
    padding-bottom: 60px;
  }

  .contentBox__imgCopyImg .copyWrapper,
  .overlapColumnMobile {
    margin-bottom: 65px;
  }

  .contentBox__marbleBox .copyWrapper {
    margin-bottom: 20px;
  }

  .contentBox__marbleBox .contentBoxItem__ctaWrap {
    margin-top: 20px;
  }

  .overlapColumnMobile {
    @include column-vertical-align();
  }

  .overlapColumnMobile__item {

    .copyWrapper {
      padding: 20px;
    }

    .contentBoxItem {
      text-align: left;
    }

    .contentBoxItem__copy {
      margin: 0;
      padding-bottom: 10px;
    }

    .contentBoxItem__cta {
      display: block;
    }

    .contentBoxItem__cta:first-child,
    .contentBoxItem__cta:last-child::before {
      padding-right: 0;
    }

    .contentBoxItem__cta:last-child::before {
      content: "";
    }

    .contentBoxItem__title {
      padding-top: 20px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .contentBoxItem__ctaPrice {
      padding-top: 5px;
    }

    .contentBoxItem__title,
    .contentBoxItem__copy,
    .contentBoxItem__ctaWrap {
      padding-left: 0;
    }

  }

  .overlapColumnMobile__horizontalRight {
    margin-left: -10%;
    z-index: 1;
  }

  .overlapColumnMobile__horizontalLeft {
    margin-right: -10%;
    z-index: 1;
  }

}
