/* [Simplified Nav Menu] Partial styles
-------------------------------------------------------*/
.simplified-nav-container {
  .rect-wrapper {
    background: transparent;
    margin: 0 auto;
    position: relative;
  }
}

.simplified-nav {
}
