h1 {
  letter-spacing: -1px;
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  padding-bottom: 40px;
}

h1.edit-title {
  font-size: 60px;
  margin-top: 25%;
}

h3 {
  font-size: 1.111111em;
}

p {
	font-weight: 500;
}

sup {
	font-size: 100%;
	top: -1px;
	padding-right: 3px;
}
