<div class="section-row columns">
  <div class="column">
    <div class="CopyHeader CopyHeader--featured">
      <div class="CopyHeader__content">
        <% contents[:text].each do |line| %>
          <p><%= line %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
