<div class="section-row columns">
  <div class="column">
    <% @md_contents = contents[:header_container] %>
    <%= render partial: "layouts/contentful/modules/items/ITEM--md-text", locals: {hide_separator: true}  %>
  </div>
</div>
