<div class="section-row columns">
  <div class="column">
    <div class="Editorial Editorial--featured">
      <% @lg_contents = contents %>
      <%= render partial: "layouts/contentful/modules/items/ITEM--lg" %>
    </div>
  </div>
</div>
