$arrow-color: #000000;

.select2-selection--single {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  height: auto;

  .select2-selection__rendered {
    color: #444;
    font-weight: normal !important; // Important due to span font-weight. Don't mess with legacy
    line-height: inherit;
    padding: 0;
    text-transform: none;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    $arrow-median: 4px;
    $arrow-width: 2 * $arrow-median;
    $arrow-height: 5px;
    $arrow-triangle: $arrow-height $arrow-median 0 $arrow-median;

    height: auto;

    position: absolute;

    top: 40%;
    right: 0;
    margin-right: -15px;

    width: $arrow-width;

    b {
      border-color: $arrow-color transparent transparent transparent;
      border-style: solid;
      border-width: $arrow-triangle;
      height: 0;
      position: absolute;
      width: 0;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: transparent;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent $arrow-color transparent;
        border-width: 0 4px 5px 4px;
      }
    }
  }
}
