#modal-cny-template.hidden

coffee:
  $ ->
    if $("#modal-cny-template").length != 0
      if $.cookie('cny-modal-displayed') != 'true'
        addToCartModal = new window.page.EmailCaptureModal({
          promocode: "",
          content: "",
          container: "#modal-cny-template",
          heading: "<span style=\"font-size:0.7em;\">Manufacturing Delays</span>",
          message: "<div style=\"font-size:0.7em;\"><div>Due to the Chinese New Year Holiday we are currently experiencing some delays during the manufacture of garments.</div><div>Please note that dresses ordered over this period may not be delivered until the end of February.<div><div>Thank you for your patience over this time</div><div>Please contact our customer service team if you have any questions.</div><div style=\"margin-top:10px;\"><a class=\"btn btn-black\" onclick=\"vex.closeAll();\">I understand</a/></div></div>",
          className: "classic-modal welcome-modal",
          timeout: 0,
          timer: false,
          force: false
        });
        $.cookie('cny-modal-displayed', 'true')
