javascript:
    try {
      $(document).ready(function () {

        window.page.instagram_notify_modal = function(force) {
          if ($.cookie('displayed_instagram_notify_modal') == 'true' && force != true) { return; }
          vex.dialog.buttons.NO.text = 'X';
          vex.dialog.open({
            className: "vex vex-theme-flat-attack email-capture-modal instagram_notification_201507",
            message: $('#instagram_notification_201507.hidden').html()
          });
          $.cookie('displayed_instagram_notify_modal', 'true');
        };

        setTimeout( window.page.instagram_notify_modal, 7 * 1000 )
      });
    } catch (e) {
      // NOOP
    }

#instagram_notification_201507.hidden
  .text-center

    h2#heySister HEY SISTER. HERE'S 15% OFF,
    p#justForYou JUST FOR YOU.
    div
      input#keepBrowsing type='button' value='KEEP BROWSING' onclick="$('.vex-dialog-button-secondary').click();"
    div
      span#discountMessage
        | (Your discount will be automatically applied to your cart.)
