= render 'shared/top_bar'

.wrap.success-page
  h1.block-title Thanks for signing up!
  h2.aligncenter We have sent you a welcome message. Please check your email and confirm your address, don’t forget to check spam if you don’t see the email from Fame & Partners.