@import url(http://fonts.googleapis.com/css?family=Forum);

@import 'redesign/vars';
@import 'redesign/mixins';

@import 'stylesheets/normalize.css';
@import 'stylesheets/component.css';
@import 'stylesheets/jquery.skippr.css';
@import 'fonts/font-awesome-4.3.0/css/font-awesome.min.css';
@import 'stylesheets/styleguide.css';
@import 'stylesheets/styles.css';

@import 'libs/vex';
@import 'libs/vex-theme-flat-attack';
@import 'libs/vex-theme-bottom-right-corner';
@import 'redesign/libs/chosen';
@import 'redesign/extras/chosen_override';
@import 'libs/select2';

@import 'redesign/extras/tabs';

@import 'redesign/layout';
@import 'redesign/header';
@import 'redesign/footer';

@import 'redesign/forms';
@import 'redesign/about';
@import 'redesign/user';
@import 'redesign/why_us';
@import 'redesign/fame_chain';
@import 'redesign/facebook';
@import 'redesign/registration';
@import 'redesign/style_consult';
@import 'redesign/fashionista_winner';
@import 'redesign/product';
@import 'redesign/products_collections';
@import 'redesign/index';
@import 'redesign/typography';
@import 'redesign/modal';
@import 'redesign/flash_slider';
@import 'redesign/mobile_menu';
@import 'redesign/faqs';
@import 'redesign/terms';
@import 'redesign/product_colours';
@import 'redesign/stories-images';
@import 'redesign/login';
@import 'redesign/sale_lp';

@import 'redesign/checkout';
@import 'redesign/cart';

.mobile-logo {
  margin-top:-3px;
}

.standard-form {
  height: 60px;
  padding: 0 5px;
}

.alert-warning {
  background-color:#F2DDD0;
}

.has-error {
  .help-inline {
    color: #f2dede;
  }
}

.has-warning {
  .help-inline {
    color: #F2DDD0;
  }
}

.pink {
    background-color: #f6e1d5;
}

.brand-pink {
  background-color:#eeddf0;
}

.pink-light {
  background-color: #f8ece9;
}

.cream {
  background-color: #fbf5f3
}

.vex-content {
  z-index:9999 !important; // display on top of mobile menu
}

.landing-page {
  .row.content-box {
    margin:20px 0 20px 0;

    .content {
      height:381px;
      border:2px solid black;
    }

    img {
       width:100%;
       margin-right:20px;
       border:2px solid white;
    }
  }
}

.btn-secondary {
  background-color:#033649;
  color:#FFFFFF;
}

h1.edit-title {
  font-size: 60px;
  margin-top: 25%;
}

.cd-top {
  background: rgba(0, 0, 0, 0.8) url(top.png) no-repeat center 50%;
}

.zopim {
  @media(max-width: 990px){
    display:none;
  }
}
