//= require_tree ./redesign/stylesheets
@import 'bootstrap/variables';
@import 'redesign/vars';
@import 'redesign/mixins';
@import 'redesign/extras/helpers';
@import 'media_queries';
@import 'returns/type';

@import 'redesign/icons';
@import 'libs/icomoon_fame_2015/variables';
@import 'libs/icomoon_fame_2015/style';

// Base
@import 'redesign/base/base';
@import 'redesign/base/type';
@import 'redesign/base/links';
@import 'redesign/base/input-groups';
@import 'redesign/base/forms';
@import 'redesign/base/buttons';
@import 'redesign/base/containers';

@import 'redesign/layout/general';
@import 'redesign/header';

// Layout
@import 'redesign/layout/header';
@import 'redesign/layout/footer';
@import 'redesign/layout/nav-menu';
@import 'redesign/layout/simplified-nav';

@import 'redesign/components/cart';

// // Generic
@import 'redesign/generic/content-order';
@import 'redesign/generic/helpers';

// Gridlex
@import 'returns/gridlex';

// Returns
@import 'returns/animations';
@import 'returns/Checkbox';
@import 'returns/EstimatedRefundTotal';
@import 'returns/ProductListItem';
@import 'redesign/react_components/Select';
@import 'returns/index';
@import 'returns/Confirmation';
@import 'returns/OrderHistory';
@import 'returns/ReturnNavigation';
@import 'returns/ReturnReasons';
@import 'returns/SimpleButton';
@import 'returns/GuestReturn';

// For Alerts
@import 'redesign/vars';
@import 'redesign/alerts';
