@import url(http://fonts.googleapis.com/css?family=Forum);

@import 'stylesheets/normalize.css';
@import 'stylesheets/component.css';
@import 'stylesheets/jquery.skippr.css';
@import 'fonts/font-awesome-4.3.0/css/font-awesome.min.css';
@import 'stylesheets/styleguide.css';
@import 'stylesheets/styles.css';

@import 'libs/vex';
@import 'libs/vex-theme-flat-attack';
@import 'libs/vex-theme-bottom-right-corner';

@import 'redesign/mixins';
@import 'redesign/about';
@import 'redesign/user';
@import 'redesign/why_us';
@import 'redesign/fame_chain';
@import 'redesign/facebook';
@import 'redesign/registration';
@import 'redesign/style_consult';
@import 'redesign/fashionista_winner';
@import 'redesign/product';
@import 'redesign/products_collections';
@import 'redesign/index';
@import 'redesign/typography';

@import 'redesign/header';
@import 'redesign/footer';


.standard-form {
  height: 60px;
  padding: 0 5px;
}

.alert-warning {
  background-color:#F2DDD0;
}

.has-error {
  .help-inline {
    color: #f2dede;
  }
}

.has-warning {
  .help-inline {
    color: #F2DDD0;
  }
}

.pink {
    background-color: #f6e1d5;
}

.brand-pink {
  background-color:#eeddf0;
}

.pink-light {
  background-color: #f8ece9;
}

.cream {
  background-color: #fbf5f3
}

.vex.vex-theme-flat-attack {
  .vex-content {
    border:2px solid black;
    border-top:20px solid black;
  }

  .vex-dialog-button-primary {
    float:right;
  }
}

// Flash Message Panel
.vex.vex-theme-bottom-right-corner {

  .alert {
    border-top:1px solid black;
    color:black;
  }

	.alert.vex-content {
		margin-bottom: 0;
		text-align:right;
		width:100%;
		z-index:9999; // display on top of mobile menu

		.vex-dialog-buttons {
			display:none;
		}
	}

  .alert-warning {
    background-color: #FFFFFF;
  }

}

.landing-page {
  .row.content-box {
    margin:20px 0 20px 0;

    .content {
      height:381px;
      border:2px solid black;
    }

    img {
       width:100%;
       margin-right:20px;
       border:2px solid white;
    }
  }
}

.btn-secondary {
  background-color:#033649;
  color:#FFFFFF;
}

/*
  // added for quick reference only
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
  <link rel="stylesheet" href="stylesheets/jquery.skippr.css">
  <link rel="stylesheet" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/cs-select.css">
  <link rel="stylesheet" href="stylesheets/cs-skin-border.css">
*/
