/*

z-index levels
========

*     0 = .timer-box > span:before
*     0 = .timer-box > span:after

*     1 = .checkbox-gray-md .checkbox-label:after
*     1 = .hamburger
*     1 = .nav-menu-container .search-wrapper .icon-search
*     1 = .tabs.vertical .tab-wrap
*     1 = .rhombus .rhombus-text-holder
*     1 = .timer-box > span > span
*     1 = .card-logo.discover
*     1 = .card-logo.mastercard
*     1 = .card-container
*     1 = main
*     1 = .page-title:after
*     1 = .slick-arrow

*     2 = header #locale-selector-mobile-container ul
*     2 = .tabs.vertical > ul
*     2 = .btn-group > .btn (&:hover, &:focus, &:active, &.active)
*     2 = .btn-group-vertical > .btn (&:hover, &:focus, &:active, &.active)
*     2 = .input-group .form-control
*     2 = .input-group-btn > .btn (&:hover, &focus, &:active)
*     2 = .pagination > .active > a (&:hover, &:focus)
*     2 = .pagination > .active > span (&:hover, &:focus)
*     2 = a.list-group-item.active (&:hover, &:focus)

*     3 = .rslides_tabs
*     3 = #main-nav
*     3 = #cart ???

*     4 = .sticky-header .alert-sale

*     5 = .carousel-control .icon-prev
*     5 = .carousel-control .icon-next
*     5 = .carousel-control .glyphicon-chevron-left
*     5 = .carousel-control .glyphicon-chevron-right

*    10 = #sideMenu #new-this-week-menu (min-width: 800px)
*    10 = #slideMenu #dresses-menu
*    10 = #slideMenu #lookbook-menu
*    10 = #slideMenu #wedding-menu
*    10 = #slideMenu #moodboards-menu
*    10 = #slideMenu #magazine-menu
*    10 = #slideMenu #events-menu

*    10 = #gray-top-banner #account-area .account-menu
*    10 = .carousel-caption

*    15 = .carousel-indicators

*    50 = .product-content

*    98 = .sg-btn--select.is-active:hover:after
*    99 = .sg-btn--select.is-active:hover:before

*    99 = .mega-menu--main
*    99 = .select2-close-mask

*   100 = .nav-menu

*   101 = .rect
*   102 = #locale-selector-container ul
*   105 = .about .slick-dots

*   990 = .dropdown-backdrop

*   999 = #product-overlay
*   999 = .skippr-nav-container
*   999 = .skippr-arrow
*   999 = #cart ???
*   999 = #shadow-layer

   1000 = .most-front ???
*  1000 = .dropdown-menu
*  1000 = .navbar-static-top
*  1000 = .mega-menu
*  1000 = header.main

*  1001 = .c-card-customize .pdp-side-menu

*  1010 = .chosen-container .chosen-drop
*  1010 = .chosen-container-single .chosen-search
*  1010 = .popover ???

*  1030 = .navbar-fixed-top
*  1030 = .navbar-fixed-bottom

*  1030 = .tooltip

*  1040 = .modal-backdrop
*  1040 = .modal ???
*  1041 = .panel-product .comments-trigger-wrap .modal
*  1050 = .modal ???

*  1060 = .popover ???

*  1051 = .select2-dropdown

*  1111 = .vex
*  1112 = .vex-loading-spinner

*  1999 = .product-side-panel

*  2000 = #sideMenu

*  9999 = .vex-theme-bottom-right-corner.alert .vex-content
*  9999 = .vex-content

* 10000 = .most-front ???

// beyond crazy
* 16000002 = .new-modal.email-capture-modal
*/

//= require_tree ./libs/vex
//= require_tree ./redesign/stylesheets

@import 'redesign/vars';
@import 'redesign/mixins';
@import 'redesign/extras/helpers';
@import 'media_queries';

@import 'redesign/libs/chosen';
@import 'redesign/extras/chosen_override';
@import 'redesign/extras/tabs';

@import 'redesign/icons';
@import 'libs/icomoon_fame_2015/variables';
@import 'libs/icomoon_fame_2015/style';

// Base
@import 'redesign/base/base';
@import 'redesign/base/type';
@import 'redesign/base/links';
@import 'redesign/base/input-groups';
@import 'redesign/base/forms';
@import 'redesign/base/buttons';
@import 'redesign/base/containers';

@import 'redesign/layout/general';
@import 'redesign/header';

@import 'redesign/product/*';

@import 'redesign/forms';
@import 'redesign/about';
@import 'redesign/alerts';
@import 'redesign/user';
@import 'redesign/size_guide';
@import 'redesign/facebook';
@import 'redesign/registration';
@import 'redesign/contact';
@import 'redesign/modal';
@import 'redesign/shipping_fee_warning';
@import 'redesign/flash_slider';
@import 'redesign/login';
@import 'redesign/sale_lp';
@import 'redesign/style_session';
@import 'redesign/tables';
@import 'redesign/pages';
@import 'redesign/error';
@import 'redesign/pages/terms';

// Checkout
@import 'redesign/pages/page-checkout';
@import 'redesign/pages/page-checkout-returns-abc';

// Time specific content
@import 'transient_content';

// Plugins
@import '../vendor/bower_components/slick-carousel/slick/slick';
@import 'redesign/vendor/slick-carousel';
// Note that 'jquery-ui-1.10.4.custom' was also used in the pre March2015 site design,
// but I chose to duplicate the file, rather than rewrite any of the current usages.
@import 'libs/jquery-ui-1.10.4.custom';
@import 'redesign/vendor/jquery-ui';

// Layout
@import 'redesign/layout/header';
@import 'redesign/layout/footer';
@import 'redesign/layout/nav-menu';
@import 'redesign/layout/simplified-nav';
@import 'redesign/layout/menu-new-this-week';
@import 'redesign/layout/section-boxes';

// Components
@import 'redesign/components/lists';
@import 'redesign/components/delivery';
@import 'redesign/components/tabs';
@import 'redesign/components/modals';
@import 'redesign/components/nav-pill';
@import 'redesign/components/dropdowns';
@import 'redesign/components/breadcrumb';
@import 'redesign/components/media';
@import 'redesign/components/hero';
@import 'redesign/components/blog-posts';
@import 'redesign/components/seo-content';
@import 'redesign/components/carousel-strap';
@import 'redesign/components/how-it-works';
@import 'redesign/components/logo-image-wrap';
@import 'redesign/components/styling-tips';
@import 'redesign/components/spinner';
@import 'redesign/components/banners';
@import 'redesign/components/panels/panels';
@import 'redesign/components/product/custom_heights_table';
@import 'redesign/components/search-filters';
@import 'redesign/components/panels/content-collapse-expand';
@import 'redesign/components/related-nav';
@import 'redesign/components/cart';
@import 'redesign/components/cards/cards';
@import 'redesign/components/legacy/legacy-carousel';
@import 'redesign/components/overlay';
@import 'redesign/components/slick-carousel';
@import 'redesign/components/full-width';

// Modals
@import 'redesign/modals/vex';
@import 'redesign/vendor/react-modal';

// Pages
@import 'redesign/pages/contact';
@import 'redesign/pages/faq';
@import 'redesign/pages/moodboard';
@import 'redesign/pages/moodboard-edit';
@import 'redesign/pages/landing-page-v2';
@import 'redesign/pages/landing-styling-session';
@import 'redesign/pages/landing-micro-influencer';
@import 'redesign/pages/pdp/pdp';
@import 'redesign/pages/why-us';
@import 'redesign/pages/style-quiz';
@import 'redesign/pages/shop-social';
@import 'redesign/pages/homepage';
@import 'redesign/pages/lookbook-v2';
@import 'redesign/pages/inside-out';
@import 'redesign/pages/inside-out-sweepstakes';
@import 'redesign/pages/slay-it-forward';
@import 'redesign/pages/wedding-sweepstakes';
@import 'redesign/pages/bespoke-bridal-collection';
@import 'redesign/pages/wedding-atelier-app';
@import 'redesign/pages/get-the-look';
@import 'redesign/pages/evening-shop';
@import 'redesign/pages/gratitude-page';
@import 'redesign/pages/the-anti-fast-fashion-shop-page';
@import 'redesign/pages/landing_page_invite';
@import 'redesign/pages/wholesale';
@import 'redesign/pages/landing_page_contest';
@import 'redesign/pages/landing_page_bridesmaid_teaser';
@import 'redesign/pages/landing_page_prom_interviews';
@import 'redesign/pages/landing_page_prom_edit';

// Custom Experience
@import 'custom_experience/react';

// React Components
@import 'redesign/react_components/_MarketingPage';
@import 'redesign/react_components/FilterSort';
@import 'redesign/react_components/Select';
@import 'redesign/react_components/Radio';
@import 'redesign/react_components/RadioToggle';
@import 'redesign/react_components/Input';

//Orders
@import 'redesign/orders/order-details';

//My Account
@import 'redesign/pages/my-account/common';
@import 'redesign/pages/returns';

// Generic
@import 'redesign/generic/content-order';
@import 'redesign/generic/helpers';

.standard-form {
  height: 60px;
  padding: 0 5px;
}

.alert-warning {
  background-color:#F2DDD0;
}

.has-error {
  .help-inline {
    color: $c-brand-red;
  }
}

.input-error {
  outline: $c-light-red auto 2px;
  outline-offset: -2px;
}

.has-warning {
  .help-inline {
    color: $c-brand-red;
  }
}

.pink {
    background-color: #f6e1d5;
}

.text-pink { color: #DBB8C7;}

.brand-pink {
  background-color:#eeddf0;
}

.pink-light {
  background-color: #f8ece9;
}

.cream {
  background-color: #fbf5f3
}

.vex-content {
  z-index:9999 !important; // display on top of mobile menu
}

.landing-page {
  .row.content-box {
    margin:20px 0 20px 0;

    .content {
      height:381px;
      border:2px solid black;
    }

    img {
       width:100%;
       margin-right:20px;
       border:2px solid white;
    }
  }
}

h1.edit-title {
  font-size: 60px;
  margin-top: 25%;
}

.zopim {
  @media(max-width: 990px){
    display:none;
  }
}

.page-title {
  background-color: #eeddf0;
}

.select2, .select2-container, .select2-container--default, .selection, .select2-selection, .select2-selection--single ,.select2-selection__rendered, .select2-selection__arrow, .select2-selection__rendered, .select2-search__field, button, .btn{
  &:focus {
    outline:none;
  }
}
