.shopping-spree-cart-modal
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    position: fixed;
    background-color: white;
    z-index: 2000;

    .modal-sub-headline
    {
        margin-top: 17px;
    }
    
    .btn-close
    {
        margin-top: 22px;
    }

    .height-select
    {
        min-width: 100%;
    }

    .height-select-text
    {
        margin-top: 42px;
    }
    
}

@media (max-width: 767px)
{
    .shopping-spree-cart-modal
    {
        width: 100%;
        height: 100%;
    }

    #start-button
    {
        bottom: 0;        
    }
    
}

@media (min-width: 767px)
{
    .shopping-spree-cart-modal
    {
        width: 33%;
    }

    
    
}

