@import 'shopping_spree_text_message';
@import 'shopping_spree_joined_message';
@import 'shopping_spree_dress_message';
@import 'shopping_spree_cart';
@import 'shopping_spree_modal';
@import 'shopping_spree_share_modal';
@import 'shopping_spree_add_to_cart_modal';

$header_height: 68px;
$chat_bar_height: 55px;

.shopping-spree
{
    .center-button-text
    {
        padding:0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .no-right-gutter
    {
        margin-right: 0;
        padding-right: 0;
    }

    .no-left-gutter
    {
        margin-left: 0;
        padding-left: 0;
    }

    .row
    {
        &.top-padding-sm
        {
            padding-top: 15px;
        }

        &.bottom-padding-sm
        {
            padding-bottom: 15px;
        }
    }

    .vertical-align
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .no-horizontal-padding
    {
        padding-left: 0;
        padding-right: 0;
    }
    
}


.shopping-spree-container
{
    @extend .shopping-spree;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 500px;
    height: 100%;
    color: black;
    z-index: 999;
    font-family: NeuzeGro;

    .shopping-spree-headline
    {
        font-size: 18px;
    }
    .equal
    {
        display: flex;
        flex-wrap: wrap;
    }    

    
    .header
    {
        background-color: white;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px;
        border-bottom-color: #979797;
        border-bottom-style: solid;
        border-top: 1px;
        border-top-color: #979797;
        border-top-style: solid;
        height: $header_height;
        @extend .vertical-align;        
    }
    
    .full-toggle-btn
    {
        display: none;
        cursor: pointer;
    }
    
    .icon-bag
    {
        cursor: pointer;
        font-size: 22px;
    }

    .toggle-btn
    {
        display: block;       
        cursor: pointer;
        z-index: 10 !important;
        color: #000;
        padding-bottom: 3px;
    }
    
    .open-caret
    {
        background-color: white;
        padding-bottom: 15px;
        &:before
        {
            content: '';
            position: absolute;
            top: 0;
            left: 20px;
            border-left: 8px solid #000000;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }

        &:after
        { 
            content: '';
            position: absolute;
            left: 20px;
            top: 1px;
            border-left: 7px solid white;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
        
    }
    
    .chat-list
    {
        overflow-x: hidden;

        ul
        {
            list-style-type: none;
            padding:0;
        }
    }

    .chat-bar
    {
        height: 55px;
        .shoppingSpreeTextInput
        {
            height: 100%;
            width: 100%;
            border-color: #979797;
            border-width: 1px;
            font-size: 20px;
            padding-left: 20px;
        }

        .btn
        {
            height: 100%;
            padding:0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .chat-content
    {
        overflow-y: auto;
        overflow-x: hidden;
        height: calc( 100vh - #{$header_height} - #{$chat_bar_height} );
    }
    
    &.collapsed
    {
        height: auto;
        .chat-list
        {
            display: none;
        }
        .chat-bar
        {
            display: none;
        }
        
    }
    
    
}

@media (max-width: 767px)
{

    .shopping-spree
    {
        .no-gutter-mobile
        {
            margin-right: 0;
            padding-right: 0;
            margin-left: 0;
            padding-left: 0;
        }
    }
    
    .shopping-spree-container
    {
        position: fixed;
        top: auto;
        bottom: 0px;
        width: 100%;
        height: auto;

            
        .shoppingSpreeTextInput
        {
            font-size: 14px;
        }
        
        &.open
        {
            min-height: 100%;
        }
        
        .btn
        {
            padding: 10px 20px;
            font-size: 14px;            
        }
        
        .open-caret
        {
            background-color: white;
            &:before
            {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-top: 8px solid #000000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }

            &:after
            {
                content: '';
                position: absolute;
                left: 1px;
                top: 0;
                border-top: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            
        }
        
        .closed-caret
        {
            background-color: white;
            &:before
            {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                border-bottom: 8px solid #000000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }

            &:after
            {
                content: '';
                left: 1px;
                top: 1px;
                position: absolute;
                border-bottom: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            
        }
        
        .header
        {
            text-align: left !important;
            font-size: 16px;
            padding-left: 20px;
        }
        
    }

    
}

@media (min-width: 767px)
{
    .shopping-spree-container
    {

        
        
        &.collapsed
        {
            width: 250px;            
            border-radius: 9px;                    
            top: 40px;
            right: 20px;
            box-shadow: 0px 0px 15px #888888;

            .header
            {
                height: 44px;
                border-width: 1px;
                border-style: solid;
                border-radius: 9px;
                border-color: #888888;
            }
                
            .toggle-btn
            {
                display: none; 
                
            }
            
            .full-toggle-btn
            {
                background-color: red;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;
                height: 100%;
                background-color: transparent;
                z-index: 1000;
                
            }
        }
        
        .chat-list
        {
            .chat-content
            {
                display: block;
            }
        }
    }
}
