

.shopping-spree-cart-modal
{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: white;
    z-index: 2000;
    overflow-y: scroll;


    #add-to-cart-headline
    {
        margin-top: 60px;
    }
    
    .modal-sub-headline
    {
        margin-top: 17px;
    }
    
    .btn-close
    {
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
    }

    .height-select
    {
        min-width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .height-select-text
    {
        margin-top: 42px;
    }

    
    .size-row
    {
        display: flex;
    }
    
    .size-box
    {
        background: #f2f2f2;
        margin: 5px;
        flex: 1 0 auto;
        position: relative;
        cursor: pointer;
        
        &.selected
        {
            background-color: red;
        }
        
    }

    .size-box-hidden
    {
        @extend .size-box;
        background: transparent;
        cursor: default;
    }
    
    
    .size-box:after
    {
        content: "";
        float:left;
        display: block;
        padding-top: 100%;
    }
    
    .size-box .size-inner
    {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-to-cart-button
    {
        margin-top: 40px;
        margin-bottom: 69px;
    }
    
}

@media (max-width: 767px)
{
    .shopping-spree-cart-modal
    {
        width: 100%;
        height: 100%;
    }

    #start-button
    {
        bottom: 0;        
    }
    
}

@media (min-width: 767px)
{
    .shopping-spree-cart-modal
    {
        width: 25%;
    }

    
    
}

