@import 'redesign/vars';
@media (max-width: 767px)
{
    .shopping-spree-onboarding
    {
        .mobile
        {
            display: block;
        }

        .desktop
        {
            display: none;
        }
    }
}

@media (min-width: 767px)
{
        .mobile
        {
            display: none;
        }

        .desktop
        {
            display: block;
        }

        #dress-image-one
        {
            margin-top: -5%;
        }
        .dress-one-text
        {
            .body-text
            {
            }
        }
        
}

.shopping-spree-onboarding
{
    .equal
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    .vertical-align
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &.modal
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f6f5f3;
        #shopping-spree-modal-content
        {
            width: 100%;
            height: 100%;
            font-family: $font-heading;
            font-weight: 300;
            
            .btn-close
            {
                top: 22px;
                right: 22px;
            }

            .welcome-headline
            {
                font-size: 46px;
                line-height: 1;
                &#top-headline
                {
                    padding-top: 42px;
                }

                &#bottom-headline
                {
                    padding-bottom: 42px;
                }
                
            }

            .body-text
            {
                line-height: 31px;
                font-size: 26px;
                min-width: 225px;
            }

            .dress-image-left
            {
                z-index: -1;
                padding-left: 0px;
                img
                {
                    width: 100%;
                }
            }

            .dress-image-right
            {
                z-index: -1;
                padding-right: 0px;
                img
                {
                    width: 100%;
                }
            }
            
            #dress-one
            {
                z-index: -1;

                .dress-one-text-two
                {
                    padding-top: 319px;
                }
            }

            #dress-two
            {
                #dress-two-image
                {
                    z-index: -1;
                    img
                    {
                        display: block;
                    }
                }

                #dress-two-text
                {
                    padding-top: 60%;
                }
            }

            #dress-three
            {
                z-index: -1;

                #dress-three-percent-text
                {
                    font-size: 56px;
                    font-weight: bold;
                    padding-top: 36px;
                }
                
            }
        }
        
    }

}
