.shopping-spree-container
{    
    overflow: auto;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    color: black;
    z-index: 999;
    font-family: NeuzeGro;
    
    .header
    {
        background-color: white;
        display: block;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px;
        border-bottom-color: #979797;
        border-bottom-style: solid;
        border-top: 1px;
        border-top-color: #979797;
        border-top-style: solid;
        height: 68px;
    }
    
    .full-toggle-btn
    {
        display: none;
        cursor: pointer;
    }
    
    .vertical-align
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-bag
    {
        font-size: 22px;
    }

    .toggle-btn
    {
        display: block;       
        cursor: pointer;
        z-index: 10 !important;
        color: #000;
        padding-bottom: 3px;
    }
    
    .open-caret
    {
        background-color: white;
        padding-bottom: 15px;
        &:before
        {
            content: '';
            position: absolute;
            top: 0;
            left: 20px;
            border-left: 8px solid #000000;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }

        &:after
        { 
            content: '';
            position: absolute;
            left: 20px;
            top: 1px;
            border-left: 7px solid white;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
        
    }
    
    &.collapsed
    {
        height: auto;
        .chat-list
        {
            display: none;
        }
    }
    
    
}

@media (max-width: 767px)
{
    
    .shopping-spree-container
    {        
        position: fixed;
        top: auto;
        bottom: 0px;
        width: 100%;
        height: auto;

        .open-caret
        {
            background-color: white;
            &:before
            {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-top: 8px solid #000000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }

            &:after
            {
                content: '';
                position: absolute;
                left: 1px;
                top: 0;
                border-top: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            
        }
        
        .closed-caret
        {
            background-color: white;
            &:before
            {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                border-bottom: 8px solid #000000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;            }

            &:after
            {
                content: '';
                left: 1px;
                top: 1px;
                position: absolute;
                border-bottom: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            
        }
        
        .header
        {
            text-align: left !important;
            font-size: 16px;
            padding-left: 20px;
        }
        
    }

    .chat-content
    {
        height: calc( 100vh - 68px );
    }
    
}

@media (min-width: 767px)
{
    .shopping-spree-container
    {
        &.collapsed
        {
            border-radius: 9px;                    
            top: 40px;
            right: 20px;
            box-shadow: 0px 0px 15px #888888;

            .header
            {
                height: 44px;
                border-width: 1px;
                border-style: solid;
                border-radius: 9px;
                border-color: #888888;
            }
                
            .toggle-btn
            {
                display: none; 
                
            }
            
            .full-toggle-btn
            {
                background-color: red;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;
                height: 100%;
                background-color: transparent;
                z-index: 1000;
                
            }
        }
        
        .chat-list
        {
            .chat-content
            {
                display: block;
            }
        }
    }
}
