.shopping-spree-container
{    
    overflow: auto;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    color: black;
    z-index: 999999;
    font-family: NeuzeGro;
    
    .header
    {
        background-color: white;
        display: block;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px;
        border-bottom-color: #979797;
        border-bottom-style: solid;
        border-top: 1px;
        border-top-color: #979797;
        border-top-style: solid;
        height: 68px;
    }

    .toggle-btn
    {
        display: none;
    }

    .vertical-align
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-bag
    {
        font-size: 22px;
    }
    &.collapsed
    {
        .chat-list
        {
            display: none;
        }
    }
    
}

@media (max-width: 767px)
{
    
    .shopping-spree-container
    {        
        position: fixed;
        top: auto;
        bottom: 0px;
        width: 100%;
        height: auto;
        .toggle-btn
        {
            display: block;
            cursor: pointer;
            z-index: 10 !important;
            color: #000;
            padding-bottom: 3px;
        }

        .open-caret
        {
            background-color: white;
            &:before
            {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                border-top: 8px solid #000000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }

            &:after
            {
                content: '';
                position: absolute;
                left: 1px;
                top: 0;
                border-top: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            
        }
        
        .closed-caret
        {
            background-color: white;
            &:before
            {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                border-bottom: 8px solid #000000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;            }

            &:after
            {
                content: '';
                left: 1px;
                top: 1px;
                position: absolute;
                border-bottom: 7px solid white;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            
        }
        
        .header
        {
            text-align: left !important;
            font-size: 16px;
            padding-left: 20px;
        }
        
    }

    .chat-content
    {
        height: calc( 100vh - 68px );
    }
    
}

@media (min-width: 767px)
{
    .shopping-spree-container
    {
        .chat-list
        {
            .chat-content
            {
                display: block;
            }
        }
    }
}
