@import 'redesign/vars';

#locale-switcher-bar {
  background-color: $gray-light-bg;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: none;

  .col-md-4 {
    padding-bottom: 0;
    padding-top: 0;
  }

  #select-locale {
    padding-left: 35px;

    .select2-container {
      margin-left: 10px;
    }
  }

  #ad-text {
    font-family: "forum", sans-serif;
    text-transform: uppercase;
  }

  #customer-service {
    padding-right: 35px;
  }
}
