<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Product Taxons</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/fame_admin/">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
        <a>Customise Product</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Product Taxons</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
