<% if (image_caption) && (image_caption_url) %>
  <div class="Editorial__overlayBottomCaption">
    <%= link_to image_caption, image_caption_url, class: (image_caption_color == 'black') ? "Editorial__overlayBottomCaptionTitle Editorial__overlayBottomCaptionTitle--dark" : "Editorial__overlayBottomCaptionTitle", target: image_caption_link_target %>
  </div>
<% end %>
