.shopping-spree-container
{
    .shopping-spree-cart
    {
        .header
        {
            margin-bottom: 27px;
        }
        .header__inner {
          width: 100%;
          padding: 0 17px;
        }
        .shopping-spree-contents
        {
            height: calc(100vh - 244px);
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    .checkout-btn
    {
        margin-top: 27px;
    }

    .btn-close
    {
        cursor: pointer;
        &:before
        {
            left: 0;
        }
        &:after
        {
            left: 0;
        }
    }
    .back-to-spree
    {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        .back-to-spree-text
        {
            color: #979797;
            font-size: 1em;
        }
    }

    .left-caret
    {
        margin-left: -42px;
        position: absolute;
        &:before
        {
            content: '';
            position: absolute;
            top: 5px;
            border-right: 8px solid #000000;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }

        &:after
        {
            content: '';
            position: absolute;
            top: 6px;
            border-right: 7px solid white;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
    }

    .cart-item-list
    {
        list-style-type: none;
        padding:0;
        li
        {
            width: 100%;
            margin-top: 28px;
            margin-bottom: 28px;
            img
            {
                width: 100%;
            }
        }
    }

}

@media (min-width: 767px)
{
    .shopping-spree-container
    {
        .left-caret
        {
            width: 28px;

            &:before
            {
                left: 23px;
            }

            &:after
            {
                left: 24px;
            }

        }
    }

}

@media (max-width: 767px)
{
    .shopping-spree-container
    {
        .left-caret
        {
            width: 15px;

            &:before
            {
                left: 13px;
            }

            &:after
            {
                left: 14px;
            }

        }
    }
}
