@import "redesign/mixins";

.shopping-spree-wrapper {
  .toast-container {
    width: 250px;
    background-color: transparent;

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;

      @include keyframes(cd-fade-in) {
        0% {
          opacity: 0;
        }

        25% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }

      .toast-text {
        opacity: 1;
        animation-duration: 5s;
        animation-name: cd-fade-in;

        padding-top: 15px;
        background-color: white;
        border-width: 1px;
        border-style: solid;
        border-radius: 9px;
        border-color: #888888;
        padding: 10px 12px 17px 23px;
        margin-bottom: 5px;
        font-size: 15px;
      }
    }
  }
}
