.shopping-spree-container .chat-content .ChatIntroduction__wrapper {
  background-color: $c-clique-blue;
  color: #fff;
  padding: 32px;
}

.shopping-spree-container .chat-content .ChatIntroduction__wrapper .link {
  color: #fff;
}

.shopping-spree-container .chat-content .ChatIntroduction__steps {
  padding-left: 16px;
}

.shopping-spree-container .chat-content .ChatIntroduction__heading,
.shopping-spree-container .chat-content .ChatIntroduction__footer-message {
  font-family: $font-family-secondary;
}

.shopping-spree-container .chat-content .ChatIntroduction__heading {
  font-size: 1.4em;
  font-weight: 400;
}
