.CaretIcon--down {
  position: relative;
  margin: 8px 0 0 12px;
  background: #ffffff;

  &:before {
    content: "";
    width: 0;
    height: 0;

    position: absolute;
    top: 1px;
    left: 0;

    border-top: 8px solid #222222;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;

    position: absolute;
    top: 0;
    left: 1px;

    border-top: 7px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
}

@media (max-width: 767px) {
  .CaretIcon--down {
    margin: 8px 0 0 2px;
  }
}
