.blog-layout {
	font-family: $sourceLight;
	font-size: 17px;
}
.blog-nav {
	font-family: $cinzelBold;
	margin-bottom: 30px;
	ul {
		@include clearfix;
		border-bottom: solid 1px #e1e1e1;
		li { 
			float: left;
			padding-right: 47px;
			&.active { a:before { display: block;}}
		}
		a {
			text-decoration: none;
			height: 33px;
			line-height: 34px;
			display: inline-block;
			position: relative;
			&:hover {
				&:before { display: block;}	
			}
			&:before {
				content: '\e007';
				position: absolute;
				display: none;
				color: #000;
				font-size: 16px;
				bottom: -8px;
				left: 0;
				right: 0;
				text-align: center;
				height: 1px;
				background-color: #808080;
				font-family: 'Icons';
			  speak: none;
			  font-style: normal;
			  font-weight: normal;
			  font-variant: normal;
			  text-transform: none;
			  line-height: 1;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			}
		}
		.last {
			float: right;
			padding: 0 0 0 47px;
			border-left: solid 1px #e1e1e1;
			font-family: $cinzelNormal;
			em {
				font-family: $vampiro;
				padding-right: 10px;
			}
		}
	}
	.selected {
		color: $pinkColor;
		font-size: 26px;
		font-family: $vampiro;
	}
	.two-lines {
		a {line-height: 1;}
		.first-line { 
			font-family: $cinzelNormal;
			display: block;
		}
		.second-line {
			text-indent: 20px;
			display: block;
		}
	}
}

.blog-carousel {
	ul { 
		margin: 0 0 0 318px;
	}
	li {
		min-height: 360px;
		width: 460px !important;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		color: #fff;
		&.current { 
			.mask { display: none;}
			.title { color: $greenColor;}
		}
		&.prev-slide { 
			.mask {
				margin-right: 140px;
				&:after {
					right: -140px;
					background: url('_blog/carousel-mask.png') no-repeat;
				}
			}
		}
		&.next-slide { 
			.mask {
				margin-left: 140px;
				&:after {
					left: -140px;
					background: url('_blog/carousel-mask-flip.png') no-repeat;
				}
			}
		}
		.mask {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: rgba(255, 255, 255, 0.5);
			z-index: 0;
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 140px;
				top: 0;
				bottom: 0;
			}
		}
		.text {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100px;
			background-color: rgba(0, 0, 0, 0.8);
			text-align: center;
			font-family: $sourceLight;
			text-transform: none;
			.title {
				position: relative;
				font-family: $cinzelBold;
				&.big {
					margin-top: -28px;
					font-size: 38px;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 1em;
				}
				&.small {
					font-size: 30px;
					margin: -17px 0 5px;
					font-family: $sourceLight;
				}
			}
			p { 
				margin: 0;
				padding: 0 30px;
				font-size: 15px;
			}
		}
	}
	.controls {
		text-align: center;
		margin-top: 17px;
		span { vertical-align: middle;}
		.pager {
			margin: 0 5px;
			a {
				display: inline-block;
				width: 5px;
				height: 5px;
				border-radius: 100%;
				background-color: #000;
				border: solid 4px #fff;
				vertical-align: middle;
				margin: 0 2px;
				&.active {
					border-color: $greenLightColor;
				}
			}
		}
		.prev, .next {
			position: relative;
		}
		.bx-prev, .bx-next {
			position: absolute;
			left: 0;
			top: 0;
			width: 17px;
			height: 17px;
			overflow: hidden;
			text-indent: -9999px;
		}
	}
}
/*
%circle-hover {
	display: inline-block;
	width: 84px;
	height: 80px;
	border-radius: 100%;
	background-color: #7fe5b0;
	border-left: 5px solid #91f8c1;
	border-right: 5px solid #000;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -42px;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	@include transition((all) (0.2s) (linear));
	@include box-sizing(border-box);
	@include transform(rotate(15deg));
}
*/

.blog-features {
	margin: 25px 0;
	h2 {
		text-align: center;
		font-size: 50px;
		font-family: $cinzelNormal;
	}
	.grid-container { 
		margin: 0 -5px;
		font-size: 0;
	}
	.grid-4 {
		float: none;
		font-size: 17px;
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		text-align: center;
	}
	.picture {
		position: relative;
		&:hover .circle {
			opacity: 1;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		}
		//.circle { @extend %circle-hover;}
	}
	img {
		display: block;
		width: 100%;
	}
	h4 { 
		font-size: 30px;
		margin: 10px 0;
	}
	p { 
		margin: 10px 20px;
		text-transform: none;
	}
	.title-1 {
		font-family: $abrilfatface;
		text-transform: lowercase;
	}
	.title-2 { font-family: $vampiro;}
	.title-3 { font-family: $cinzelNormal;}
}

.soundcloud-widget {
	overflow: hidden;
	background-color: #e7e7e7;
	text-transform: none;
	position: relative;
	margin: 25px 0;
	h2 { 
		margin: 20px 0 40px;
		font-size: 25px;
		font-weight: 400;
		font-family: $abrilfatface;
	}
	.grid-4, .grid-8 { @include box-sizing(border-box);}
	.quote {
		color: $greenColor;
		background-color: #000;
		margin-bottom: -1000px;
		padding: 0 10px 1000px;
	}
	.grid-8 {
		padding: 0 10px 10px;
		h2 { 
			color: $pinkColor;
			margin-bottom: 20px;
		}
	}
	.author {
		position: absolute;
		right: 0;
		bottom: 10px;
		padding-left: 20px;
		color: $greenColor;
	}
}

.social-blocks {
	margin: 25px 0;
	&:first-child { margin-top: 0;}
	.grid-container { margin: 0 -5px;}
	.grid-4, .grid-8 {
		@include box-sizing(border-box);
		padding: 0 5px;
	}
	.section-title {
		@include clearfix;
		margin: 30px 0;
		h2 {
			float: left;
			text-transform: uppercase;
			font-family: $cinzelNormal;
			font-size: 50px;
			font-weight: 400;
			line-height: 1;
		}
		.btn {
			float: right;
			height: 40px;
			line-height: 40px;
			font-family: $cinzelNormal;
			font-size: 10px;
			i, span { vertical-align: middle;}
			i { 
				font-size: 22px;
				margin-right: 8px;
			}
		}
	}
	.about {
		background-color: $greenColor;
		padding: 20px;
		text-align: center;
		position: relative;
		text-transform: none;
		.icon-hexagon {
			color: #fff;
			top: 8px;
			position: absolute;
			text-shadow: 0 0 1px #000, 1px 0 1px #000;
			&.left { left: 8px;}
			&.right { right: 8px;}
		}
		.icon-logo {
			font-size: 100px;
			margin-bottom: 15px;
		}
	}
	.sign-in {
		padding: 15px;
		background-color: $greenLightColor;
		h2 {
			font-family: $abrilfatface;
			font-size: 27px;
			font-weight: 400;
			margin-bottom: 20px;
			text-transform: none;
		}
		input[type="text"] {
			width: 100%;
			height: 36px;
			font: 300 22px/36px $fontThree;
			padding: 0 15px;
			letter-spacing: 0.125em;
			border: solid 1px #000;
			text-align: center;
			@include box-sizing(border-box);
			@include placeholder(#000);		
		}
		.btn {
			width: 100%;
			margin-top: 5px;
		}
	}
	.follow-us {
		border: solid 1px #000;
		background-color: #fff;
		padding: 15px;
		text-align: center;
		font-family: $cinzelNormal;
		h2 {
			font-size: 50px;
			font-weight: 400;
		}
		ul {
			list-style: none;
			text-align: left;
			margin-left: 70px;
			li { margin: 12px 0;}
			a { text-decoration: none;}
			i, span { vertical-align: middle;}
			i {
				font-size: 22px;
				margin-right: 10px;
			}
			span { font-size: 11px;}
		}
	}
	.instagram-widget {

		img {
			display: block;
			width: 100%;
		}
		.grid-container { margin: 0;}
		.grid-6 {
			position: relative;
			a:hover > .circle {
				opacity: 1;
				filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			}
			//.circle { @extend %circle-hover;}
		}
	}
	.twitter-widget {
		text-transform: none;
		font-size: 0;
		.grid-4 {
			font-size: 17px;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}
}

.blog-content-column { padding-right: 15px;}
.blog-search-box {
	margin-bottom: 35px;
	h1 {
		margin-top: 40px;
		font: 400 50px/1 $fontThree;
	}
}
.blog-post {
	+ .blog-post {
		margin-top: 35px;
	}
	.blog-category {
		text-align: center;
		margin: 20px 0 35px;
		font: 400 50px/1 $cinzelNormal;
	}
	.featured-image img {
		display: block;
		width: 100%;
	}
	.blog-top-picture {
		position: relative;
		margin-bottom: 30px;
		img {
			display: block;
			width: 100%;
		}
		.text {
			background-color: rgba(0, 0, 0, .5);
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 10px;
			text-align: center;
			color: #fff;
			text-transform: none;
			.post-title {
				font: 400 50px/1 $cinzelBold;
				margin: -30px 0 20px;
				color: $greenColor;
			}
			p {
				font: 400 17px/1.2 $sourceBold;
			}
		}
	}
	.video-fluid {
		padding-bottom: 36%;
		margin-bottom: 20px;
	}	
	.post-title {
		font: 400 32px/1 $cinzelBold;
		color: $pinkColor;
	}
	.post-subtitle {
		font: 400 18px/1 $sourceBold;
		text-transform: none;
		margin-top: 10px;
	}
	.post-meta {
		margin: 30px 0 20px;
		.date {
			font: 400 32px/1 $fontThree;
			text-transform: none;
		}
		.author {
			font-size: 16px;
			margin-top: 10px;
		}
	}
	.post-content {
		font: 400 18px/1.2 $sourceLight;
		text-transform: none;
		h3 {}
	}
	.fav-product {
		margin: 20px 0;
		h3 { 
			font: 400 18px/1.1 $abrilfatface;
			text-transform: none;
		}
		img {
			display: block;
			width: 100%;
		}
		.picture {
			margin-bottom: 5px;
		}
		.grid-container { 
			margin: 0 -5px;
			font-size: 0;
		}
		.grid-6 {
			display: inline-block;
			vertical-align: top;
			text-align: center;
			float: none;
			padding: 5px;
			font: 400 14px/1.2 $fontThree;
			a { text-decoration: none;}
		}
	}
	.other-articles {
		margin: 20px 0;
		h3 { 
			font: 400 30px/1 $abrilfatface;
			text-transform: none;
			margin-bottom: 5px;
		}
		img {
			width: 100%;
			display: block;
		}
		.grid-container {
			margin: 0 -7px;
		}
		.grid-4 {
			padding: 7px;
			text-align: center;
			font: 400 18px/1 $abrilfatface;
			text-transform: none;
			a { text-decoration: none;}
		}
	}
}
