.vex.fit-guide .vex-content {
  padding: 1rem 1rem 2rem 1rem;

  h2 {
    font-size: 2.3rem;
    line-height: 2.3;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Forum;
    color: #a3a3a3;
    background-color: black;
    margin-top: 0;
  }

  h6 {
    font-size: 2rem;
    line-height: 2rem;

  }

  p {
    font-size: 2rem;
    line-height: 2.2rem
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  table {
    th {
      font-size: 1.5rem;
    }

    tbody {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }
  }
}
