.customization-panel {
  padding-top: 45px;

  &-container {
    max-width: 575px;
    margin: 0 auto;
  }
}

.title {
  align-items: center;
  display: flex;
  margin-bottom: 25px;

  h1 {
    max-width: 240px;
  }

  .start-over {
    text-align: right;
  }

}

.customizations {

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    height: 48px;
    margin: 25px auto;

    >:first-child {
      text-align: left;
    }

    >:last-child {
      text-align: right;
    }
  }
}

.dress-preview {
  background-color: $pinkish-grey;
  padding-bottom: 61px;
  height: 100%;
}

.footer {
  background-image: image-url('wedding-atelier/marbel.png');
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  height: 61px;
  padding: 8px;
  position: absolute;
  width: 100%;
}

.favorites {

  img {
    width: 20px;
    margin-right: 10px;
  }
}

.results {

  span {
    display: inline-block;
  }

  .sub-total {
    font-weight: 700px;
  }

  .left-result {
    text-align: left;
    padding-left: 50px;
    width: 70%;
  }

  .right-result {
    text-align: right;
    width: 30%;
  }

}

.actions {
  .btn-transparent {
    margin-right: 10px;
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .results {

    .left-result {
      text-align: left;
      padding-left: 0;
    }
  }

  .actions {
    .btn-transparent {
      margin-right: 10px;
    }
  }

}
