.customization-panel {
  padding-left: 79px;
  padding-right: 66px;
  padding-top: 45px;
}

.title {
  align-items: center;
  display: flex;
  margin-bottom: 50px;

  h1 {
    width: 240px;
  }

  .start-over {
    text-align: right;
  }

}

.customizations {

  ul {
    list-style: none;
  }

  li {

    >:first-child {
      text-align: left;
    }

    >:last-child {
      text-align: right;
    }
  }
}

.dress-preview {
  background-color: $pinkish-grey;
  padding-bottom: 61px;
  height: 100%;
}

.footer {
  background-image: image-url('wedding-atelier/marbel.png');
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  height: 61px;
  padding: 8px;
  position: absolute;
  width: 100%;
}

.favorites {

  img {
    width: 20px;
    margin-right: 10px;
  }
}

.results {

  span {
    display: inline-block;
  }

  .sub-total {
    font-weight: 700px;
  }

  .left-result {
    text-align: left;
    padding-left: 50px;
    width: 70%;
  }

  .right-result {
    text-align: right;
    width: 30%;
  }

}

.actions {
  .btn-transparent {
    margin-right: 10px;
  }
}
