
/* [Grid with dress sizes]
-------------------------------------------------------*/
.dress-sizes {
  br {
    clear: both;
  }

  [type=radio]:checked ~ label {
    outline: 2px solid $black;
  }

  ul {
    @extend .text-center;
    list-style: none;
    padding: 0;
    width: 368px;
    margin: 0 -14px;
    text-align: justify;

    @include screen-xs {
      width: 320px;
      margin: 0 -30px;
      text-align: center;
    }
  }

  li {
    @extend .text-uppercase;
    display: inline-block;
    margin: 4px 14px;

    @include screen-xs {
      margin: 4px 13px;
    };

    [type=radio] {
      position: absolute;
      visibility: hidden;
    }

    label {
      background-color: $white-three;
      cursor: pointer;
      display: block;
      font-weight: 400;
      line-height: 1.5em;
      min-width: 40px;
      padding: 9px 12px;
      position: relative;
      text-align: center;
      z-index: 9;
    }

    &:hover label {
      outline: 1px solid $black;
    }
  }
}
