
/* [Grid with dress sizes]
-------------------------------------------------------*/
.dress-sizes {
  br {
    clear: both;
  }

  [type=radio]:checked ~ label,
  [type=checkbox]:checked ~ label  {
    outline: 2px solid $black;
  }

  [type=radio]:not(:checked) ~ label,
  [type=checkbox]:not(:checked) ~ label  {
    outline: 0;
  }

  ul {
    @extend .text-center;
    list-style: none;
    padding: 0;
    width: 340px;
    text-align: justify;

    @include screen-xs {
      width: 260px;
    };

    @include screen-lg {
      width: 440px;
    }

    &.customization-dress-sizes-ul {
      width: auto;
      @include screen-xs { width: auto; }
    }
  }

  .sizing-row {
    text-align: justify;
    li:first-child {
      margin-left: 0;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  li {
    @extend .text-uppercase;
    display: inline-block;
    margin: 4px 14px;

    @include screen-lg {
      margin: 4px 27px;
    };

    @include screen-xs {
      margin: 4px 3px;
    };

    [type=radio], [type=checkbox] {
      position: absolute;
      visibility: hidden;
    }

    label {
      background-color: $white-three;
      cursor: pointer;
      display: block;
      font-weight: 400;
      line-height: 1.5em;
      width: 55px;
      padding: 9px 5px;
      position: relative;
      text-align: center;
      z-index: 9;
    }

    &:hover label {
      outline: 1px solid $black;
    }
  }

  &.large-labels {
    label {
      width: 125px;
    }

    @include screen-md {
      label {
        width: 140px;
      }
    }

    @include screen-lg {
      label {
        width: 160px;
      }
    }
  }

  &.ungrouped {
    li {
      margin-left: 0;
      @include screen-xs {
        margin-right: 34px;
      }
     }
  }

  &.centered {
    .customization-dress-sizes-ul {
      margin: 0 auto;
    }

    li {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
