
/* [Grid with dress sizes]
-------------------------------------------------------*/
.dress-sizes {
  br {
    clear: both;
  }

  [type=radio]:checked ~ label,
  [type=checkbox]:checked ~ label  {
    outline: 2px solid $black;
  }

  [type=radio]:not(:checked) ~ label,
  [type=checkbox]:not(:checked) ~ label  {
    outline: 0;
  }

  ul {
    @extend .text-center;

    border-spacing: 5px;
    display: table;
    list-style: none;
    padding: 0;
    width: 100%;

    &.customization-dress-sizes-ul {
      width: auto;
      @include screen-xs { width: auto; }
    }
  }

  .sizing-row {
    display: table-row;
  }

  li {
    @extend .text-uppercase;

    display: table-cell;

    [type=radio], [type=checkbox] {
      position: absolute;
      visibility: hidden;
    }

    label {
      background-color: $white-three;
      cursor: pointer;
      display: block;
      font-weight: 400;
      padding: 9px 5px;
      z-index: 2;
    }

    &:hover label {
      outline: 1px solid $black;
    }
  }

  &.large-labels {
    label {
      width: 125px;
    }

    @include screen-md {
      label {
        width: 140px;
      }
    }

    @include screen-lg {
      label {
        width: 160px;
      }
    }
  }

  &.ungrouped {
    li {
      margin-left: 0;
      @include screen-xs {
        margin-right: 34px;
      }
     }
  }

  &.centered {
    .customization-dress-sizes-ul {
      margin: 0 auto;
    }

    li {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
