/* [Bootstrap modal customizations]
-------------------------------------------------------*/
.modal-backdrop {
  background-color: $black;
  opacity: .75;
}

.modal-content {
  background-color: $white-two;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
  width: inherit;
}

.modal-body {
  padding: 13px;
  @include screen-xs {
    min-height: 100vh;
    padding: 0;
  }
}

.modal-body-container {
  background: $white-two;

  &.center-vertical{
    @include screen-xs{
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 100%;
    };
  }
}

.close-modal {
  background: image-url('wedding-atelier/close.svg') no-repeat center center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  @include screen-xs {
    margin: 13px;
  };
}

.modal-vertical-align-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.modal-vertical-align {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

/* [Wedding Atelier - Confirmation Dialog]
-------------------------------------------------------*/

.save-dress-modal {

  .modal-body-container {
    padding: 40px 0;
  }

  @include screen-sm {

    h1 {
      font-size: 2.2rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 430px;
    }

    .action-buttons {
      margin-top: 40px;

      .btn-white,
      .btn-black {
        letter-spacing: 1px;
        font-size: 1rem;
      }

      .btn-black {
        font-weight: 400;
      }

      .save-dress-button {
        @include screen-sm {
          margin-left: 25px;
          float: none;
          width: auto;
        };
      }

      button + button, a + a {
        margin-left: 20px;
      }
    }

    .modal-dialog {
      width: 624px;
    }

    .modal-body-container {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
      padding: 60px 0;
    }

  }

}

/* [Wedding Atelier - Confirmation Dialog]
-------------------------------------------------------*/

.modal-customizations {

  h1 {
    font-size: 1.8rem;
  }

  .customization-list {
    font-size: .8rem;
    letter-spacing: 1.5px;

    ul {
      list-style: none;
      padding-left: 0;
    }

    &-label {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    &-value {
      margin-bottom: 15px;
    }

  }

  .modal-body {
    background-color: $white-two;
  }

  .modal-content {
    background-color: transparent;
    max-width: 85vw;
    @include screen-xs{
      max-width: none;
    };
  }

  .modal-body-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    overflow-y: auto;
    padding: 40px 0;
    @include screen-xs {
      max-width: none;
    };
  }

  .modal-footer {
    border-top: 0;
    padding: 0;
    text-align: center;

    .action-buttons {
      margin-top: 15px;
    }

    button {
      min-width: 160px;
    }
  }

  @media screen and (orientation: landscape) and (max-width: $screen-xs-max) {
    .close-modal {
      background: image-url('wedding-atelier/close.svg') no-repeat;
      background-size: contain;
      right: 5px;
      top: 10px;
    }

    .modal-body-container {
      padding: 20px 0;
      overflow-y: scroll;
    }
  }

  @include screen-sm {
    .modal-body-container {
      height: 100%;
      padding: 60px 0;
    }
  }
}
