.nav-tabs > li > a::after {
  content: '';
  background: $black;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid transparent;
  border-bottom: 2px solid $black;
  background-color: transparent;
}

.nav-tabs > li > a {
  color: $black-two;
  font-family: $secondary-font;
  text-decoration: none;
  font-size: 14px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border: 1px solid transparent;
}

.nav-tabs > li.active {
  border: 0;
}

@include screen-xs {
  .tab-chat {
    display: inline-block !important;
  }

  .moodboard-tabs {
    height: calc(100% - 23px);
  }

  .nav.nav-tabs {
    width: 100%;

    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

    background-color: $white-three;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .nav-tabs > li {
    float: initial;
    display: inline-block;
    background-color: $white-three;
  }

  .nav-tabs > li > a {
    line-height: 43px;
    height: 67px;
    color: $greyish;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:active, {
    border-bottom: 2px solid $black;
    background-color: transparent;
    color: $black;
  }
}
