@import './mixins';
.Checkbox__wrapper {
  text-align: left;
  float: left;
  margin-right: 25px;
}

.Checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  display: none;

  // Box hover
  &:hover + label:before {
    box-shadow: 0 0 0 1px $c-elem-focus;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after, &--active + label:after {
    content: '';
    position: absolute;
  }
}

.Checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

// Box.
.Checkbox + label:after{
  background-image: url('checkbox.png');
  left: 3px;
  top: 3px;
  width: 15px;
  height: 15px;
  background: black;
  @include transform(rotate(0deg));
  background-repeat: no-repeat;
  background-image: url('checkbox.png');
  background-size: contain;
  box-shadow: none;
}
.Checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: $c-white;
  box-shadow: 0 0 0 1px $c-neutral-black;
  transition: 300ms box-shadow;
}
.Checkbox:checked + label:before, .Checkbox--active + label:before {
  background: $c-black;
}
.Checkbox:disabled + label:before {
  background: $c-light-gray;
}

