@import './mixins';
.instructions__container {
    background: white;
    padding-bottom: 150px;
}
.instructions__container .orders-link {
    color: black;
    margin-left: 30px;
    text-decoration: underline;
    margin-top: 30px;
    font-size: 14px;
}

.instructions__container .orders-link-container {
    padding-top: 30px;
    margin-top: -30px;
}
.instructions__container hr {
    width: 100%;
}
.instructions__container hr.dotted-line {
  border-top: 4px dotted #000;
}
.instructions__body {
    width: 85%;
    margin: 7.5% auto;
    @include tablet {
        width: 75%;
        margin: 30px auto;
    }
}

.instructions__body .headline {
    font-size: 34px;
    margin-bottom: 0px;
    @include desktop {
      width: 90%;
      margin-top: 95px;
    }
}

.instructions__body .label-list {
    @include desktop {
        float: right;
        margin-top: -30px;
    }
}

.instructions__body .label-list li {
    float: left;
    list-style: none;
    margin: 0 50px 0 0;
}

.instructions__body .label-list li:last-child {
    margin-right: 0;
}

.instructions__body .label-list li a {
    color: black;
    text-decoration: underline;
}

.instructions__body .list-title {
    font-size: 22px;
}

.instructions__body .list {
    list-style: none;
    padding: 0;
}

.instructions__body .list .list-text {
    display: inline;
    text-indent: 15px;
    margin: 0;
    font-size: 16px;
}

.instructions__body .list > li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
}

.instructions__body .list > li:before {
    content: "-";
}

.instructions__body .list .link {
    color: black;
}

.instructions__body .shipping-label {
    margin-bottom: 70px;
}

.instructions__body .button__container {
    @include tablet {
        margin: 0;
    }
    padding-bottom: 100px;
}

.instructions__body .button__container button {
    max-width: 390px;
    width: 100%
}

.instructions__body hr {
    border-color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Confirmation__shipping-label {
  width: 100%;
  max-width: 730px;
  border: 2px dashed black;
  margin-bottom: 80px;
}

.Confirmation__text-box {
  margin-bottom: 45px;
}
