@import './mixins';

.GuestReturn__Container {
  background: white;
}

.GuestReturn__Container .subheader,
.GuestReturn__Container .headline,
{
  text-align: center;
  font-weight: 500;
}

.GuestReturn__Container .headline {
  font-size: 34px;
  margin-top: 120px;
  margin-bottom: 5px;
}

.GuestReturn__Container .subheader {
    font-size: 22px;
    margin-bottom: 22px;
}

.guestForm__container input {
  width: 100%;
  display: block;
  margin: 20px 0;
  text-align: center;
  padding: 5px;
  border: 1px solid #979797;
  font-size: 14px;
}

.guestForm__container input[type="submit"] {
  padding: 17px 0px;
  background: black;
  color: white;
  margin-bottom: 5px;
  border: none;
}

.guestForm__container .return-button {
  width: 100%;
  padding: 15px 0;
}

.GuestReturn__Container .guest-copy {
  font-size: 14px;
  margin-top: 20px;
  margin: 10px 0;
  text-align: left;
  @include tablet {
    margin-bottom: 200px;
  }
  @include mobile {
    text-align: center;
  };
}
.GuestReturn__Container .contact-us {
  @include tablet {
    text-align: right;
  };
}

.GuestReturn__Container .guest-copy a {
    text-decoration: underline;
}

.error-box p {
    color: #F70913;
    border: 1px solid #F70913;
    text-align: center;
    padding: 13px 25px;
    font-weight: 500;
    background: #FBE7E7
}
