@import './mixins';

.LineItem p {
    margin-bottom: 0;
    font-weight: 500;
}

.LineItem {
    margin-top: 72px;
    text-align: center;
    @include desktop {
        margin-top: 92px;
        text-align: right;
    }
}

.LineItem .total {
    font-weight: 600;
    margin-bottom: 30px;
}
.LineItem .button-link {
    padding: 1.3em 5em;
    @include desktop {
        min-width: 344px;
    }
}

.LineItem hr {
    border-color: #000;
    @include desktop {
        display: block;
        width: 20vw;
        position: relative;
        left: 29vw;
    }
    @include xLarge {
        left: 30vw;
    }
}
