@import './mixins';
.OrderContainer {
  @include desktop {
    margin-bottom: 150px;
  }
}

.OrderContainer--loading {
  margin-top: 200px;
  text-align: center;
  font-size: 46px;
}

.order__container .order-id {
  font-size: 22px;
  text-align: center;
  @include desktop {
    margin-top: 20px;
    text-align: left;
  }
}

.order__container .order-placed {
  font-size: 14px;
  color: #979797;
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;
  @include tablet {
    margin-bottom: 5px;
    margin-top: 50px;
  }
  @include desktop {
    position: relative;
    text-align: right;
    top: 50px;
    margin-top: 0;
  }
}

.order__container .returnButton__container {
  margin: 25px 0px 20px;
  @include tablet {
    margin: 25px 0px 40px;
  }
}

.order__container  .ship-date {
    color: #979797;
    text-align: center;
    @include tablet {
      color: black;
      margin-bottom: auto;
    }
    @include desktop {
      text-align: left;
    }
}
