@import './mixins';
.order__container {
    padding: 0;
    @include mediumUp {
        margin: auto 32px;
    }
}

.order__container .order-id {
    font-size: 22px;
    text-align: center;
}

.order__container .order-id {
    @include desktop {
        float: left;
        margin-top: -40px;
        text-align: left;
    }
}

.order__container .order-placed {
    font-size: 14px;
    color: #979797;
    text-align: center;
    @include tablet {
        margin-top: 20px;
    }
    @include desktop {
        margin-top: 30px;
        text-align: right;
    }
}

.order__container .Product__listItem__container {
    padding: 40px 20px;
    @include mediumUp {
        padding: 25px 45px;
        margin-bottom: 90px;
    }
}
.Product__listItem, .order__container .returnButton__container {
    margin: 25px 0px 40px;
}
.order__container .Product__listItem__container .ship-date {
    color: #979797;
    text-indent: 12vw;
    @include tablet {
        text-indent: 0;
    }
    @include desktop {
        text-indent: -10px;
    }
}
