@import './mixins';
.Order__Navigation {
    list-style: none;
    padding-top: 20px;
    background: white;
    padding-left: 0;
    margin-bottom: 50px;
    @include mediumUp {
        margin-bottom: 0;
    }
    @include desktop {
        padding-top: 60px;
        padding-left: 60px;
        background: none;
    }
}

.Order__Navigation .list-item {
    text-align: center;
    @include desktop {
        margin-bottom: 20px;
        text-align: left;
        padding: 0;
    }
}

.Order__Navigation .list-item.listitem--active {
    text-decoration: underline;
}

.Order__Navigation .list-item a {
    color: #000000;
    text-decoration: none;
}
