@import './mixins';

.SimpleButton__container {
  background: black;
  max-width: 300px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
  @include transition(0.3s opacity);
  @include desktop {
    max-width: 390px;
    margin: initial;
  }
}

.SimpleButton__container--loading {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}

.SimpleButton__container .copy {
  color: white;
  padding: 15px;
  display: block;
}
