@import './mixins';
.u-center-text {
  text-align: center;
}

.StepOne__Container {
  background: #F5F5F5;
  margin: 0;
}

.StepOne__Container .return-checkbox {
  float: left;
  margin-right: 15px;
  position: absolute;
  left: 5vw;
  @include tablet {
      position: absolute;
      left: 25vw;
  }
}


.StepOne__Container .instructions {
  text-align: center;
  color: #000000;
}

.StepOne__Container .instructions.instructions__title {
  font-size: 34px;
  margin-bottom: 0;
  font-weight: 500;
  margin-top: 20px;
  @include mediumUp {
    margin-top: 15px;
  }
}

.StepOne__Container .instructions.instructions__subtitle {
  font-size: 18px;
  @include desktop {
      margin: 0 30% 85px;
  }
  @include xLarge {
      margin: 0 30%;
  }
}

.StepOne__Container .ship-date {
  font-size: 22px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
  @include desktop {
    text-align: left;
  }
  @include xLarge {
    text-align: center;
  }
}
.StepOne__Container .order-id {
  @include desktop {
    margin-top: -35px;
  }
}

.StepOne__Container .Form__Container textarea {
  border: 1px solid #979797;
  resize: none;
  padding: 14px;
  width: 100%;
  min-height: 150px;
  @include mediumUp {
    min-height: 110px;
  }
}

.StepOne__Container .Form__Container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  color: black;
  background: white;
  width: 100%;
}

.Form__Container .Select--wrapper {
  margin-bottom: 16px;
}

.ShippingInfo {
  min-width: 300px;
  text-align: center;
  border: 1px solid #979797;
  font-size: 14px;
}
.ShippingInfo--gray {
  background: #F4F4F4;
}

.ShippingInfo__copy {
  font-weight: 400;
  padding-top: 30px;
  margin-bottom: 10px;
}

.ShippingInfo__list {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;;
}

.StepOne__Container .SimpleButton__wrapper {
  margin-bottom: 150px;
}
