@import './mixins';
.u-center-text {
    text-align: center;
}

.StepOne__Container {
    background: #F5F5F5;
    margin: 0;
    @include desktop {
        margin: auto 32px;
    }
}

.StepOne__Container .return-checkbox {
    float: left;
    margin-right: 15px;
    @include mobile {
        position: absolute;
        left: 5vw;
    }
    @include tablet {
        position: absolute;
        left: 25vw;
    }
}

.StepOne__Container .Product__listItem__container {
    padding: 60px 20px;
    @include desktop {
        padding: 40px 45px 25px 75px;
        margin-bottom: 80px;
    }
}

.StepOne__Container .instructions {
    text-align: center;
    color: #000000;
}

.StepOne__Container .instructions.instructions__title {
    font-size: 34px;
    margin-bottom: 0;
    font-weight: 500;
    @include mediumUp { 
        margin-top: 40px;
    }
}

.StepOne__Container .instructions.instructions__subtitle {
    font-size: 18px;
    @include desktop { 
        margin: 0 15%;
    }
    @include xLarge {
        margin: 0 30%;
    }
}

.StepOne__Container .ship-date {
    font-size: 22px;
    text-align: center;
    color: black;
    margin-bottom: 35px;
    margin-top: 20px;
    @include desktop {
        text-align: left;
    }
    @include xLarge {
        text-align: center;
    }
}
.StepOne__Container .order-id {
    @include desktop {
        margin-top: -35px;
    }
}

.StepOne__Container .Form__Container, .StepOne__Container .returnWindowPassed__container {
    @include tablet {
        padding: 0;
    }
    @include desktop {
        padding: 0;
        margin: 25px 0 0 35px;
    }
}

.StepOne__Container .Form__Container textarea {
    border: 1px solid #979797;
    resize: none;
    width: 100%;
    min-height: 150px;
    @include mediumUp {
        min-height: 110px;
    }
}

.StepOne__Container .Form__Container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    color: black;
    background: white;
    width: 100%;
}

.Product__listItem__container .returnWindowPassed__container {
    background: #F4F4F4;
    text-align: center;
    max-height: 170px; 
    font-size: 14px;
}

.returnWindowPassed__container .windowClosed-copy {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.returnWindowPassed__container .windowClosed-list {
    list-style: none;
    padding: 0;
}

.returnWindowPassed__container .windowClosed-list li {
    margin: 5px 0;
}

.returnWindowPassed__container .windowClosed-list li a {
    text-decoration: underline;
}