// Note: Global to be accessible anywhere without include
/* stylelint-disable color-no-hex */
$c-black: #000;
$c-light-gray: #ddd;
$c-white: #fff;

$c-form-error: #d68888;
$c-neutral-4: #d7d7d7;
$c-neutral-10: #666;
$c-neutral-12: #333;

$tablet-width: 768px;
$desktop-width: 1024px;
$xLarge-width: 1700px;

$c-elem-focus: rgb(51, 51, 51);
