@import 'redesign/vars';
#footer-widget {

  font-family: "neuzeit-grotesk", sans-serif;
  font-size: 1.3rem;
  margin-top: 50px;

  .footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;

    .footer-navigation {
      margin-top: 10px;
      font-size: 1.3rem;
      @media(max-width: 800px){
        text-align:center;
      }

      .stay-social-images{
        margin-top: 10px !important;
        background-color: transparent !important;
        img{
          width: 35px;
        }
      }
    }

    .footer-nav {
      li{
        margin-bottom: 0;
      }
    }
    .footer-logo{
      float: left;
      margin-top: 3px;
      margin-right: 30px;
      height: 35px;
      width: 46px;
      margin-left: 0;
    }
    .stay-social{
      padding-left: 40px;
      padding-right: 50px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .stay-social-images{
      float: left;
      img{
        width: 30px;
        margin-left: 13px;
      }
    }
    .stay-social-images{
      float: left;
      padding-left: 15px;
      padding-right: 20px;
    }
    .buttons{
      padding-bottom: 20px;
    }
    .col{
      height: 80px;
      border-color: #B5B5B5;
      border-width: 1px;
      border-style: solid;
      width: 25%;
      float: left;
      padding-top: 20px;
      margin-left: 6%;
      margin-top: 35px;
      color: #000;
      img{
        padding-left: 17%;
        float: left;
      }
      .text{
        float: left;
        margin-left: 10px;
        font-weight: 600;
        margin-top: 5px;
      }
    }



    .address {
      @media(max-width: 992px)
      {
        width: 100%;
        text-align: center;
      }
      float: left;
      p {
        font-weight: 400;
        span a{
          color: black;
        }
      }
    }


    .buttons {

      .col-xs-12{
        border-style: solid;
        padding-top: 5px;
        padding-bottom: 5px;
        border-color: #E6E6E6;
        border-width: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
        @media(max-width: 320px){
          font-size:9pt;
          margin-bottom: 0;
        }
        .refer {
          padding-left: 24%;
          @media(min-width: 600px)and(max-width:767px){
            padding-left:33%;
          }
          @media(min-width: 768px){
          padding-left:37%;
          }
          @media(max-width: 320px)
          {
            padding-left: 26%;
          }
          @media(min-width: 414px)and(max-width:599px){
            padding-left: 26%;
          }

        }
        .hr48 {
          padding-left: 10%;
          @media(min-width: 600px)and(max-width:767px){
            padding-left:23%;
          }
          @media(min-width: 768px){
          padding-left:30%;
          }
          @media(max-width: 320px)
          {
            padding-left: 12%;
          }
          @media(min-width: 414px)and(max-width:599px){
            padding-left: 13%;
          }
        }
        .chain {
          padding-left: 7%;
          @media(min-width: 414px)and(max-width: 599px)
          {
            padding-left: 8%;
          }
          @media(max-width: 320px){
            padding-left: 7%;
          }
          @media(min-width: 600px)and(max-width:767px){
            padding-left:23%;
          }
          @media(min-width: 768px){
          padding-left:29%;
          }
          @media(min-width: 414px)and(max-width:599px){
            padding-left: 11%;
          }
        }
      }
      padding-bottom: 20px;
      img{
        float: left;
        padding-left: 17%;

      }
      .text{
        float: left;
        margin-left: 10px;
        font-weight: 600;
        margin-top: 5px;
      }
      .col{
        height: 80px;
        border-color: #B5B5B5;
        border-width: 1px;
        border-style: solid;
        width: 25%;
        float: left;
        padding-top: 20px;
        margin-left: 6%;
        margin-top: 35px;
        color: $c-neutral-black;

        &:hover {
          opacity: .8;
          color: $c-neutral-black;
        }

      }
      .col:last-child{
        .text{
          margin-top: 0;
        }
      }
      @media(min-width: 992px)and(max-width:1300px){
        img{
          padding-left:7%;
        }
        .text{
          font-size: 9pt;
        }
      }
    }



    .mobile-footer {
      .row{
        background-color: #F7F7F9;
        margin-right: 0;
        .col-xs-12{
          padding-left: 0;
          padding-right: 0;
        }
      }
      .input-group{
        height: 10px;
      }
      .input-group-addon{
        background-color: black;
        color: white;
      }
      input{
        width: 100%;
        font-size: 10pt;
        color: black;
        font-weight: 500;
        border: none;
        max-height: 10px;
        @media(min-width: 414px)and(max-width: 992px){
          font-size: 9pt;
        }

        @media(min-width: 321px)and(max-width: 413px)
      {
        font-size:6.5pt;
      }
      @media(max-width: 320px)
      {
          font-size: 6pt;
          padding-left: 10px;
          padding-right: 10px;
      }
      }
      .submit{
        background-color: black;
        color: white;
        font-weight: 600;
        cursor: pointer;
      }
      .stay-social{
        margin-top: 10px;
        font-weight: 600;
      }
      .stay-social-images{
        text-align: center;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        margin-left:7px;
        background-color: transparent !important;
        img{
          cursor: pointer;
          margin-left: 20px;
          @media(min-width: 321px)and(max-width: 413px)
          {
            margin-left: 14px;
            width: 35px;
          }
          @media(max-width: 320px)
          {
            margin-left: 6px;
            width: 30px;
          }
          @media(min-width: 414px)and(max-width: 799px)
          {
            margin-left: 40px;
            width: 35px;
          }
          @media(min-width: 800px){
            margin-left: 60px;
            width: 35px;
          }
        }
      }
    }




  .copyright {
    p{
      font-weight: 400;
    }
    @media(max-width:992px){
      text-align:center;
    }
    /*
    @media(min-width: 768px)and(max-width:990px){
      p {
        float:right;
      }
    }*/

    @media(min-width: 990px)and(max-width:1100px){
      p {
        padding-left:4rem;
      }
    }
  }



  }
}
