@import 'redesign/vars';

@import 'redesign/header';

@import 'redesign/stylesheets/bootstrap';
@import 'redesign/stylesheets/styles';

.nav-menu-container {
  font-family: $font-family-secondary;
}

.nav-menu-container .menu-item span {
	font-weight: 500;
}

.mobile-logo {
  margin-top: -3px;
}