@import 'redesign/vars';

@import 'redesign/header';

@import 'redesign/stylesheets/bootstrap';

.nav-menu-container {
  font-family: $font-family-secondary;
}

.nav-menu-container .menu-item span {
	font-weight: 500;
}

.search-input {
  position: relative;
  .close-search-btn {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
  }
}

.form-control {
  padding: 10px 16px;
  font-size: 14px;
}

.pull-right .menu-item {
  height: 25px !important;
}

.search-input {
  width: 220px;
  margin-top: 5px;
  margin-right: 35px;
}

