title Fame & Partners | Custom made dresses - your dream formal dress
meta name="description" content="It's our dream that every girl feels like a celebrity at her formal or prom. We are committed to bringing the world of celebrity fashion to you. We offer our customers the opportunity to create a look that they love, that is unique to them and will ensure they feel like a celebrity on their special night."
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,300,100,700'
= stylesheet_link_tag    'pages'
= javascript_include_tag 'application'
link rel='shortcut icon' type='image/png' href='/favicon.png'
link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'

/[if lt IE 9]
  = javascript_include_tag 'html5.js'

/[if IE]
  = stylesheet_link_tag 'ie'
