// Setup
* { box-sizing: border-box;}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.4;
}

img {
  max-width: 100%;
}
h1, h2, h3, h4 { 
  line-height: 1.1;
  &:first-child { margin-top: 0;}
}
h1, h2 {
  font-size: 50px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 20px;
}
label {
  text-transform: uppercase;
}
input:-webkit-autofill {
  background-color: $quiz-form-control-bg-focus !important;
}
// @end Setup
// -----------------

// Grid
.grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $quiz-container-width;
}
// - normal
.row {
  margin-left: (-$quiz-grid-gutter / 2);
  margin-right: (-$quiz-grid-gutter / 2);
  font-size: 0;
  @include clearfix;
}
@for $i from 1 through $quiz-grid-columns {
  .col-#{$i} {
    display: inline-block;
    vertical-align: top;
    width: percentage(($i / $quiz-grid-columns));
    font-size: $font-size-base;
    padding:  ($quiz-grid-gutter / 2);
  }
}

.col-middle {
  vertical-align: middle;
}

// - compact 
.row-compact { 
  margin-left: 0;
  margin-right: 0;
}
.col-compact {
  padding-left: 0;
  padding-right: 0;
}
// @end Grid
// -----------------


// Section
.quiz-section {
  margin-bottom: 80px;
  overflow-x: hidden;
  position: relative;
}
.quiz-section-title {
  padding: 85px 0;
  text-align: center;
  margin-bottom: ($quiz-grid-gutter / 2);
  h1, h2, h3, h4 { margin: 0;}
  .font-family-secondary { 
    font-weight: 400;
  }
  .quiz-section-number { 
    font-weight: 400;
    font-family: $font-family-secondary;
    margin-bottom: 30px;
  }
}
.quiz-section-title-grey { background-color: $grey-bg;}
.quiz-section-title-peach { background-color: $peach-bg;}
.quiz-section-title-pink  { background-color: $pink-bg;}
.quiz-section-title-blue  { 
  color: #fff;
  background-color: $blue-bg;
}
// @end Section 
// -----------------

// Catalog 
.quiz-catalog {
  .checkmark { display: none;}
  .selected .checkmark { display: block;}
}
.quiz-catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 20px 0;
  cursor: pointer;
}
.quiz-catalog-picture {
  position: relative;
  img { width: 100%;}
  .checkmark-lg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -23px;
  }
}
.quiz-catalog-title {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-weight: 500;
  margin-top: 20px;
  .checkmark {
    position: absolute;
    top: -5px;
    left: 100%;
    margin-left: 5px;
  }
}
// @end Catalog
// -----------------

// Rank boxes
.rank-box {
  font-size: 0;
  direction: rtl;
  text-align: center;
  min-width: 1200px;
  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
} 
.rank-cell {
  display: inline-block;
  vertical-align: bottom;
  width: 10%;
  position: relative;
  &.selected .checkmark-lg { visibility: visible; }
  .checkmark-lg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -23px;
    visibility: hidden;
  }
}
.rank-item {
  width: 100%;
  cursor: pointer;
  height: 0;
}
.rank-box .rank-cell {
  &:hover, &.active {
    .rank-item, & ~ .rank-cell .rank-item {
      background-position: 0 100%;
    }
  }
}
// @end Rank boxes
// -----------------