// Typo
$font-family-base: 'brandon-grotesque', sans-serif;
$font-family-secondary: 'Forum', cursive;
$font-size-base: 12px;
// @end Typo
// -----------------

// Grid
$quiz-container-width: 1200px;
$quiz-grid-columns: 12;
$quiz-grid-gutter: 30px;
$quiz-grid-gutter-compact: 0;
// @end Grid
// ----------

// Colors
// - bg
$grey-bg: #f5f5f5;
$peach-bg: #f6e2d5;
$blue-bg: #003647;
$pink-bg: #eeddf0;
// @end Colors
// ----------

// Form
$quiz-form-control-height: 45px;
$quiz-form-width: 370px;
// @end Form
// -----------------